[2018-08-03 22:45] joeyparrish commented on #1460
I don't see any reason why we couldn't parse it and send an event.  When would you expect the event to be fired?  When the master playlist is parsed?

[2018-08-03 23:19] stefanullinger opened #1522 "shaka.util.Mp4Parser.ParsedBox properties renamed in compiled mode"
Hi, coming from [this pull-request](https://github.com/google/shaka-player/pull/1021), we are setting up a response filter to modify the downloaded segments using the provided MP4Parser. Unfortunately, some properties of `shaka.util.Mp4Parser.ParsedBox` are being renamed by the build process.

See https://cdnjs.cloudflare.com/ajax/libs/shaka-player/2.4.2/shaka-player.compiled.js, search for ",s:"

[2018-08-05 22:36] mjaddani opened #1523 "Unique DeviceId"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: 2.4.2

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: Yes

**Are you using the demo app or your own custom app?**: Both

**If custom app, can you reproduce the

[2018-08-05 23:51] sasank4git commented on #1511
@TheModMaker  Tried changing bit-rate of the audio to 64kbps and checked but it didn't help. Already raised an issue with Opera team and awaiting for the response , issue-id:ID:
DNAWIZ-38425
,

[2018-08-06 06:03] avelad commented on #1460
Yes, I expect the event when the master playlist is parsed. Another possibility is provide a method in the player for get this information.

[2018-08-06 16:08] TheModMaker opened #1524 "Player configure drm advanced settings change other key systems"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
v2.4.2
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Demo app
**If custom app, can you reproduce the

[2018-08-06 16:30] theodab commented on #1523
Well, trying those configs out on our sample assets...
Narrowing it down, `persistentStateRequired: true` works, but `distinctiveIdentifierRequired: true` does not.

The `REQUESTED_KEY_SYSTEM_CONFIG_UNAVAILABLE` error is thrown if `navigator.requestMediaKeySystemAccess` fails for every DRM system.
Now, `distinctiveIdentifierRequired: true` from our config is translated into `distinctiveIdentifier:

[2018-08-06 18:25] fadomire opened #1525 "CMAF Low Latency Chunks"
Hello,

i wanted to know if it is planned to support CMAF Low latency chunks ?

I saw reference to that in the following ticket comparing dash.js and shaka, but no status for shaka
#1351

thanks for the work by the way

[2018-08-06 19:05] #1468 closed

[2018-08-06 19:11] mjaddani commented on #1523
I'have tested "persistentStateRequired: true", but we have some strange issue, If i try to play 10 lives content we have 4 failures, we have a black screen and no error on the console.

Do we need any think on the licence ?

[2018-08-06 20:26] theodab commented on #1523
Well, I can't say much more without having access to your content. You can send the information (manifest URI, license server URI, etc) to <shaka-player-issues@google.com>, if you are able to distribute them.
If not, you could go to `chrome://media-internals/` while playing in Chrome to see if the video element's log has any errors in it. If Shaka Player isn't showing any errors, there might be a

[2018-08-06 20:51] pix-dgee opened #1526 "When starting a video from the beginning, an initial seek event is fired which may cause significant delays."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:

Yes
**What version of Shaka Player are you using?**:

2.1.0, 2.2.7, 2.4.2

**Can you reproduce the issue with our latest release version?**:
Yes, and with 2.1.0, but not with 2.2.7

**Can you reproduce the issue with the latest code from `master`?**:
Did not attempt.

**Are you using the demo app or your

[2018-08-06 22:12] #1522 closed

[2018-08-06 23:17] theodab commented on #1523
I tried to reproduce this on Chrome and Firefox on macOS for a while, and was unable to with either.
On a Windows 10 computer, on the other hand, the video was sometimes hanging forever without actually playing. The screen wasn't black, per se, but it might be what you were seeing.

Interestingly, I was getting media internal logs like this (key ID censored for privacy reasons):
[code]
And then no

[2018-08-07 02:20] mlondon1 opened #1527 "Support for CBCS decryption"
Does Shaka support CBCS fmp4 / CMAF (Dash and/or HLS) content decryption now that Chrome 68 supports the decryption?

[2018-08-07 08:27] Feenposhleen commented on #1499
@TheModMaker Okay, thanks. I don't quite understand how the presentation time would be 0 in the VOD case though, when there is a `presentationTimeOffset` present of `73568288622720`. To me it would seem that the first segment is at `1 532 672 679.64` seconds in both cases. Am I missing something?

[2018-08-07 12:11] avelad opened #1528 "Add support for switching codecs"
Switching codecs are to begin experimentation via origin trials in Chrome 70.

https://www.chromestatus.com/features/5719220952236032
https://bugs.chromium.org/p/chromium/issues/detail?id=605134

Is it possible add support for it in a future release?

Caniuse: https://caniuse.com/mdn-api_sourcebuffer_changetype

[2018-08-07 14:41] chrisfillmore opened #1529 "Event for RECOVERABLE networking errors and subsequent retries"
We would like to know when a networking error occurs which results in a retry. Our application tracks this information for performance metrics purposes.

To implement such a change, it seems `NetworkingEngine` would need to accept a `PlayerInterface`, but I don't know how that would work with alternative use cases as in #1297. Perhaps the `PlayerInterface` could be optional, and `NetworkingEngine`

[2018-08-07 15:34] TheModMaker commented on #1499
The `presentationTimeOffset` adjusts the media time backward.  The calculation for presentation time is always `(S@t - PTO) / timescale + Period@start`, so:

[code]

I wrote a doc that may help explain how presentation times and segment times work:
<https://github.com/google/shaka-player/blob/master/docs/design/dash-manifests.md>

[2018-08-07 15:44] TheModMaker commented on #1523
The `key was added` log is printed whenever any keys are added, so what is likely happening is we are getting the wrong keys from the license server.  You should check the key status changed event to see what keys were added vs what keys we need.  Also you should check the expiration of the sessions to see if the session is expiring before we can use it.

@mjaddani I think that distinctive identif

[2018-08-07 15:47] TheModMaker commented on #1527
We shouldn't have to do anything to support the new encryption.  There isn't anything we do special for encryption schemes, so it should already be supported.  The exception to that is in HLS we needed to add support for a new scheme in an HLS attribute, but that was added in #1515.

[2018-08-07 15:59] chrisfillmore commented on #1529
@theodab I don't mind sending in a PR if we agree on a design.

[2018-08-07 16:06] theodab commented on #1529
@chrisfillmore No, I should probably do it. @vaage is currently working on #1297, so it'd probably be best to do this in-house, to avoid collisions.

[2018-08-07 16:15] mlondon1 commented on #1527
Thanks, on a related note do you also support the Playready 4.0 Header in manifests when running on Edge?

https://docs.microsoft.com/en-us/playready/packaging/content-encryption-modes

[2018-08-07 16:25] TheModMaker commented on #1527
I don't believe we touch the PlayReady headers, so I think it would only depend on the platform.  I think this data is part of the init data in the segment, which we just pass directly to the platform.  So it should be supported.

[2018-08-07 16:27] theodab commented on #1529
I had a discussion with the team, and we decided that it would probably be best to avoid anything that changes the constructor of networking engine, since networking engine is also being modified as part of #1051. Instead, I will add a method on the networking engine that adds a listener function. So you'd use it like:
[code]

[2018-08-07 16:30] mlondon1 commented on #1527
Ok thanks, we'll test.  you can close

[2018-08-07 16:34] #1527 closed

[2018-08-07 16:44] chrisfillmore commented on #1529
Sounds good, thank you!

[2018-08-07 17:46] theodab commented on #1528
Yeah, we want to add this eventually. Hopefully by the time that Chrome 70 is out, if possible.

[2018-08-07 17:48] theodab commented on #1525
We will look into this feature. We will add it if we can, but we'll need to investigate how it would work with MediaSource.

[2018-08-07 22:50] #1368 closed

[2018-08-08 06:16] avelad commented on #999
@joeyparrish Is it possible include this change in 2.4.4?

[2018-08-08 06:31] avelad opened #1530 "Typo in the documentation with availabilityWindowOverride configuration"
availabilityWindowOverride name is missing and appears (number)

https://shaka-player-demo.appspot.com/docs/api/shakaExtern.html#.ManifestConfiguration

![image](https://user-images.githubusercontent.com/8983024/43820010-35361c40-9ae5-11e8-849c-ef7f7d499fb6.png)

[2018-08-08 06:56] avelad commented on #1528
More Info:
https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/A5Ux5CzpeWs/KjIcVDmpDAAJ
https://rawgit.com/wicg/media-source/codec-switching/index.html

[2018-08-08 08:06] Feenposhleen commented on #1499
@TheModMaker Great doc! I can see now how a transition between the timelines would be complex. I suppose the conversion between media time and the "segment timeline" is a very core component of the manifest parser. I will then try to silver tape together a fix using request filters instead. Such a great escape hatch while waiting for slow moving encoder changes.

Thanks for all the assistance!

[2018-08-08 15:19] theodab commented on #1530
Oops, I used parentheses in the JSDoc instead of brackets.

[2018-08-08 15:38] #1530 closed

[2018-08-08 17:34] bartsidee opened #1531 "Support downloading of Dash manifests that do not have inline PSSH value"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
2.3.x

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
Demo

**If custom app, can you reproduce the

[2018-08-08 17:54] TheModMaker commented on #1531
This is a limitation of Shaka Player.  If you will have internet connection when you play later, I think you can store it with `usePersistentLicense=false` and we won't store the licences.  But it requires internet access to play the content:  `storage.configure({usePersistentLicense: false})`

When we store content, we need to create an EME offline session so we can play the encrypted content lat

[2018-08-08 19:28] bartsidee commented on #1531
Thank you for the detailed answer.

Understanding the limitations and complications, would it not be possible to create a small utility method as a fallback that would be able to capture the PSSH from the downloading (mp4) segments (without overhauling the logic to much and/or introducing complex parsers).

The below might be an interesting reference:
https://github.com/youtube/js_mse_eme/blob/586

[2018-08-08 22:38] theodab commented on #1526
If the problem happens with a custom app that we don't have, playing custom content that you can't provide, I'm not sure how we can reproduce it.
You can send manifest and license server URIs over to the <shaka-player-issues@google.com> mailing list, if you're worried about privacy. If we have reproduction steps, we can look into the problem. There were a lot of changes related to gap-jumping and

[2018-08-09 21:20] SemihGk opened #1533 "Bandwidth rate restriction cannot be applied after playback started."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
latest master or 2.4.3
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
yes
**Are you using the demo app or your own custom app?**:
demo app
**If custom app, can yo

[2018-08-09 22:27] theodab commented on #1526
A manifest alone isn't enough to reproduce a problem like this, no. We'll need something that can be used to actually reproduce the problem on our end.

[2018-08-09 23:08] vaage opened #1534 "Circular Dependency between Streaming Utils and Drm Engine"
- StreamingUtils depends on DrmEngine.
- DrmEngine depends on StreamingUtils

We don't want this as it causes problems with the closure compiler.

[2018-08-10 01:28] chrisfillmore commented on #1526
@pix-dgee There were a lot of changes between 2.2.7 and 2.4.2, I would recommend you test with each intermediate version to see when the problem appears.

This is just a thought, but a colleague had some similar-sounding seek-related problems at the start of playback. He was able to resolve them by lowering the value of `Playhead.MIN_SEEK_RANGE_` to 1.5. See https://github.com/google/shaka-player/

[2018-08-10 03:15] damienlevin opened #1535 "Error parsing DASHEventMessageBox (emsg) without message_data."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
Shaka Player v2.4.3-uncompiled
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Demo app
**If custom app

[2018-08-10 09:28] PatrikCarlander opened #1536 "Master don't build"
$ python ./build/all.py

[INFO] Checking that the build files are complete...
[INFO] Checking the tests for type errors...
//test/dash/dash_parser_manifest_unit.js:1075: ERROR - Violation: Using properties of unknown types is not allowed; add an explicit type to the variable.
The property "setResponseMapAsText" on type "shaka.test.FakeNetworkingEngine"
    fakeNetEngine.setResponseMapAsText({'dumm

[2018-08-10 10:32] mjaddani commented on #1523
When the playing failed, i'have all the time this.

00:00:00 691 | info | DecryptingDemuxerStream: no key for key ID XXXXXX
00:00:00 691 | info | DecryptingVideoDecoder: no key for key ID XXXXXX
00:00:00 224 | duration | 4294967296
00:00:01 734 | info | DecryptingDemuxerStream: key was added, resuming decrypt
00:00:01 734 | info | DecryptingVideoDecoder: key added, resuming decode
**00:00:01 734 |

[2018-08-10 14:01] chrisfillmore commented on #1464
I consider this issue resolved. I will file a new issue for the duplicate requests if I have an issue with it. Thanks.

[2018-08-10 14:01] #1464 closed

[2018-08-10 14:17] chrisfillmore opened #1538 "Suspend MediaSourceEngine operations if video element is not in the DOM"
We have a use case on Tizen 2017 TV's where we remove the video element from the DOM in order to play some ads in another element. We have made a change to `MediaSourceEngine` to defer all operations (i.e. calls to `enqueueOperation_`) until the video element is back in the DOM. If we don't remove the video element from the DOM, or if we don't suspend calls to `enqueueOperation_`, we get 3016 VIDE

[2018-08-10 15:26] TheModMaker commented on #1536
Fixed in 376c5001c32b80dd17aca4d3d83843981ea4c3fe.

[2018-08-10 15:26] #1536 closed

[2018-08-10 16:09] theodab commented on #1535
I have an experimental CL that handles `EMSG` boxes with empty message_data. Easy enough.

Shaka Player is also having trouble skipping the `MDAT` box, though. Looking at the range requests we are making, it seems like it's only downloading part of the `MDAT` box for some reason? Like, it doesn't download the last ~250ish bytes, and our mp4 parser tries to seek past the end of the data and errors.

[2018-08-10 16:32] theodab commented on #1538
Personally, I think the client-controlled option sounds better. That would allow for the client to just toggle it on or off at the same time as they modify the DOM, and not worry about the performance of a `MutationObserver` at all.

@joeyparrish, thoughts?

[2018-08-10 17:12] chrisfillmore commented on #1538
That's an even better idea. A simple synchronous call that allows the client to tell Shaka whether it should do MediaSource work or not.

[2018-08-10 19:45] DiegoZurita commented on #850
Is there any workaround to use AES-128 HLS encrypted?

[2018-08-10 21:06] TheModMaker commented on #1535
The media segment is invalid.  The size of the `mdat` box is 265 bytes too large.  The `mdat` starts at offset 2517 and has a size of 0x00093aef, so it ends at 607428, which is 265 bytes larger than the file.  The 5 `emsg` boxes have a total size of 265, so it looks like your encoder is not accounting for that when it calculates the size of the `mdat`.

We will definitely support the empty data fi

[2018-08-10 21:20] TheModMaker commented on #1535
Actually I was incorrect, I didn't see the range requests.  Your `sidx` is incorrect.  @theodab  was correct and we aren't requesting the whole `mdat`.  The reason is because your `sidx` is slightly off, by 265 bytes.

The first entry in the `sidx` doesn't account for the 5 `emsg` boxes, so the `referencedSize` attribute is 265 bytes too small, so the first segment is too small.  This plays fine i

[2018-08-10 21:31] damienlevin commented on #1535
Very good catch on the bad segment - I'll try to update that sample content I posted.
Also, by doing a quick look at the code there doesn't seems to be support for emsg version 1, is that correct ? If so, I'm happy to create a sample stream and open an issue.

Thanks.

[2018-08-10 21:38] TheModMaker commented on #1535
The `emsg` box is defined by the DASH spec in ISO/IEC 23009-1; from the 2014 version, I only see version 0 specified.  Could you provide a spec for `emsg` version 1?  And yes, you can file another issue for that, we don't support it.

[2018-08-10 22:14] damienlevin commented on #1535
Until I file a ticket with a sample stream, you can look at CMAF spec:  https://www.iso.org/standard/71975.html and https://www.iso.org/standard/68960.html

[2018-08-13 14:40] damienlevin opened #1539 "Support for DASHEventMessageBox Version 1"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
v2.4.3
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Demo app
**If custom app, can you reproduce the

[2018-08-13 21:26] ldayananda opened #1540 "keepOriginalTimestamps will not adjust caption and ID3 timestamps in a future mux.js version"
👋  I'm currently working on https://github.com/videojs/mux.js/pull/213, which we plan to release as a new major version once merged.

As I understand it, Shaka uses mux.js to transmux TS to mp4 on platforms without native HLS support, and uses the cea-608 captions parsed out from the segments as well? The PR I linked will no longer adjust caption timings when the `keepOriginalTimestamps` is set, a

[2018-08-13 21:41] ismena commented on #1540
Thanks a lot for letting us know! Yes, we are using mux.js.

@michellezhuogg could you please take a look, see what the impact is going to be for us?

@joeyparrish FYI

[2018-08-13 22:25] joeyparrish commented on #1540
I'm sorry, I don't understand why the `keepOriginalTimestamps` option will no longer work.  Is the option being removed?  How can we keep the behavior we have now after your change?

[2018-08-13 22:30] joeyparrish commented on #1540
Oh, never mind.  I think I understand now that I've read https://github.com/videojs/mux.js/pull/213.  Tell me if I have this right:

1. The `keepOriginalTimestamps` option will still be there.
2. The behavior for video & audio will not change.
3. The behavior change is for captions, which will now have their original timestamps as well.  This was not the case before the change.

Is that correct?

[2018-08-13 23:29] TheJohnBowers opened #1541 "MANIFEST.RESTRICTIONS_CANNOT_BE_MET error yet playback continues"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
![screen shot 2018-08-13 at 5 05 18 pm](https://user-images.githubusercontent.com/26491119/44063384-78600936-9f1d-11e8-956c-9d471460fa21.png)
[MANIFEST.RESTRICTIONS_CANNOT_BE_MET.har.zip](https://github.com/google/shaka-player/files/2285029/MANIFEST.RESTRICTIONS_CANNOT_BE_MET.har.zip)

**What version o

[2018-08-14 00:58] #1297 closed

[2018-08-14 01:04] sandeep-mirpuri opened #1542 "IMPROVEMENT - Shaka Streaming Error Handling"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
2.4.3

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
Tried on both

**If custom app, can you repro

[2018-08-14 02:51] ldayananda commented on #1540
Yes, correct for all three. If Shaka were to update to include the upcoming mux.js change, you would need to apply a similar adjustment to caption start/end times as is currently applied to video and audio.

[2018-08-14 05:11] chanyk-joseph opened #1543 "DASH playback occasionally stucks when switching bitrate using "Video+audio track combinations" for manifest with multiple periods"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
Shaka Player v2.4.3-uncompiled

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
Demo app

**If custo

[2018-08-14 09:52] TobbeEdgeware commented on #1458
@vaage I agree that the problem is gone (tested in version 2.4.3). In Chrome 68, I can still see the issue in 58d1498 but not in version 2.4.3. Thus, you can close this issue.

[2018-08-14 14:28] vaage commented on #1458
Thanks @TobbeEdgeware for checking.

[2018-08-14 14:28] #1458 closed

[2018-08-14 16:09] ismena commented on #1542
@joeyparrish could you please schedule this and/or advise on a workaround if need be

[2018-08-14 16:27] TheModMaker commented on #1542
What kinds of errors would exist for a single track?  If it is a 401/403 error, it would affect every URL at that domain; if it was a 404, that seems like either bad content or a transient error that might be fixed by waiting; 5XX errors are also likely to affect every stream.  Also, if there are 2 audio streams and 5 video streams, that means we will need to exhaust the retry parameters on 10 att

[2018-08-14 17:26] leandromoreira opened #1544 "Extract the current defaults config values (from source code) into the config documentation"
While I was reading the shaka documentation to understand how the [network fallback works]( https://github.com/google/shaka-player/blob/master/docs/tutorials/network-and-buffering-config.md ) I saw that there is a configuration for that but then it wasn't clear for me which are the default values for these configs.

I think the [network default config value seems to be at the backoff.js](https://g

[2018-08-14 17:46] leandromoreira opened #1545 "Add error handling documentation"
The error handling example [on the doc](https://shaka-player-demo.appspot.com/docs/api/tutorial-basic-usage.html) is great but maybe it deserves its own page or expanded section with more examples, so users can learn from it. Things like: how to capture, [specify the errors](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html) to send metrics or how to recovery.

[2018-08-14 17:55] joeyparrish commented on #1540
Gotcha.  Thanks!  We'll keep an eye on that as we work on upgrading.

I'll go ahead and close the issue.

[2018-08-14 17:55] #1540 closed

[2018-08-14 18:46] #1519 closed

[2018-08-14 19:57] ismena commented on #1543
Hi, I'm having trouble getting the content (the player seems to thing the segments are not there). Was it a live stream, by any chance? Could you confirm it's still available?

Thanks!

[2018-08-14 20:08] #1535 closed

[2018-08-14 21:06] theodab commented on #1529
Okay, after another round of code review, this should be out soon.
There was some further discussion, and we decided that it should work as an event listener, using our `FakeEventListener` code. So you'd use it like:
[code]
Sorry we changed our minds so often on this!

[2018-08-14 22:01] theodab opened #1546 "Tests error with incomprehensible Babel errors in some situations"
There are some situations where, if a test is erroring, the actual error will be swallowed up and replaced by an unreadable Babel error.
Specifically, it seems to happen if you compare something to a `shaka.util.Error` object after an `await`. It doesn't seem to happen for generic objects; like, `{'foo': 'bar'}` can be compared just fine. I also tried to make a `shaka.Player` and compare that, and

[2018-08-14 22:32] joeyparrish commented on #1541
I'll look into it.  Thanks!

[2018-08-14 22:49] joeyparrish commented on #1541
I managed to reproduce this with the latest code.  What I'm seeing is that Shaka Player thinks that we don't have the necessary keys.  It complains that key ID `3c452c3a37844ebfbc50c736761c8930` is missing.

Repro notes for anyone else working on this: It's very inconsistent, and difficult to reproduce.  It doesn't require rapid load/unload, and it seems to reproduce within 10-15 tries.

[2018-08-14 22:51] joeyparrish commented on #1541
In a failure case, the filtering in `shaka.Player.prototype.checkRestrictedVariants_` runs several times without any key statuses.  Then it runs with one key ID, that of the audio track.  This is when the error is triggered, since we have no keys for video.  Then it runs again with all three keys (audio key + 2 video keys).

So this seems to be a race in licensing somehow.  Still digging.

[2018-08-14 23:06] joeyparrish commented on #1541
There seems to be a race in the player.  If the licenses come in slightly apart, then some other event can trigger a restrictions check while we only know about some of the keys.

In my most recent repro, the timing between the two licenses is only 1 second.

[2018-08-14 23:09] joeyparrish commented on #1541
Two main problems:

1. `DrmEngine` batches up key statuses to avoid this problem, but it only waits 0.5 seconds.  In some cases, that's not long enough.
2. There appears to be a loophole: `Player` can pull key statuses from `DrmEngine` directly without waiting for an event.  So other events can trigger a restrictions check using the latest key statuses, which may still be in the process of "batchi

[2018-08-14 23:34] joeyparrish commented on #1541
Correction: DrmEngine batches up statuses to avoid a different problem.

The fix will be to close the loophole to avoid the player seeing incomplete data, and to delay sending key statuses to the player until all sessions have been updated.

[2018-08-15 03:55] chanyk-joseph commented on #1543
Hi @ismena , I have updated the manifest to VOD format. Please try again:
https://www.haudosi.com/dash_freq_scte35/manifest.mpd

Sorry for any inconveniences caused!

[2018-08-15 11:12] fadomire opened #1547 "minBufferTime config should not be overriden by dash manifest"
Hello, i understand that currently the code behave as follow :
A DASH manifest's minBufferTime, if greater, overrides rebufferingGoal.

The problem i see in that behavior is that client knows better about network conditions and may want to adapt the rebufferingGoal value based on that. Currently it is not possible.

Why not make the following rule :
config takes precedence over dash manifest that

[2018-08-15 15:15] damienlevin opened #1548 "Emsg not referenced in MPD should be ignored."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.3
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Yes
**If custom app, can you reproduce the issue

[2018-08-15 15:37] damienlevin opened #1549 "Dedupe emsg with identical "id" field."
This might be WAI, curious to hear your thoughts on this.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.3
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custo

[2018-08-15 15:51] joeyparrish commented on #1549
I'm okay with dedupe based on ID, since it's much simpler and supported by the spec.  ("Processing of any one event message box with the same id is sufficient.")

I'll put this in the backlog for now, but we'd be happy to accept a PR if you have time to work on it.  Thanks!

[2018-08-15 15:54] damienlevin commented on #1549
Great thanks.
I'll try to TAL this week.

[2018-08-15 16:11] ismena commented on #1548
Summoning the dash expert.

@TheModMaker could you please comment.

[2018-08-15 16:18] ismena commented on #1547
Hi, thanks for reaching out.

Having config be the source of truth might mean we're no longer compliant with the dash spec, but let me see if our TL is open to a discussion on this @joeyparrish

[2018-08-15 16:39] TheModMaker commented on #1548
Yeah, that looks like a bug.  Since we are already full for the next two releases and this seems lower priority, I'll put this on the backlog.  But feel free to send a PR if you (or anyone) wants.

[2018-08-15 17:15] ismena commented on #1545
Thanks for giving us feedback on the tutorials! Let me schedule this for 2.5.

[2018-08-15 17:35] joeyparrish commented on #1547
That seems reasonable.  I'll put this on the backlog, but we would be happy to accept a PR for this if you have time to work on it.  Thanks!

[2018-08-15 18:58] #1541 closed

[2018-08-15 18:59] joeyparrish commented on #1541
The fix is in master now.  If you're waiting for a release, it should appear in v2.4.4 and v2.5.0.

[2018-08-15 19:10] leandromoreira commented on #1544
@ismena I could not find a place where I can see all the default values for the shaka configuration. I think we can look at them by calling `player.getConfiguration();` but maybe to explicitly expose those values on a documentation would be helpful.

And maybe this default configuration adopted by shaka needs to be dynamically generated each shaka version, since the defaults are usually on the cod

[2018-08-15 19:13] leandromoreira commented on #1545
One example I can think of is how a user can intercept and act on a given error?

Shaka has its retry system but I don't want shaka to retry when my server replied with 403 or I want to extract a http header to send metrics about this error, maybe a filter where I can decide if I let the default network fallback system to work or stop the chain.

[2018-08-15 19:17] joeyparrish commented on #1544
Ideally, we would have some way of extracting the defaults from the code into a generated doc.  We will have to build something new for that, though.  It's not provided by jsdoc.

I've bumped this to v2.6, our code health and cleanup milestone.  For now, we need to wrap up on v2.5 features.

[2018-08-15 20:32] #1529 closed

[2018-08-16 08:39] fadomire commented on #1547
yes sure i’ll prepare a PR in the following weeks

[2018-08-16 14:09] ctoshni opened #1550 "Fragment duration vs Segment duration"
Hi, i'm using latest Shaka version ;
I have two questions:

What is the difference between fragment-duration and segment-duration?
Why it is recommended to use both?

Thanks in advance.

[2018-08-16 15:33] TheModMaker commented on #1550
This is best asked on the [Shaka Packager](https://github.com/google/shaka-packager) page as it more relates to them.  +@kqyang

The segment duration refers to the duration of full segments, which represents the portions of the stream that the player downloads at a time.  For example, for 10 second segments, the player will download 10 seconds at a time.  For certain profiles (e.g. Live) segments

[2018-08-16 15:58] chrisfillmore commented on #1542
@TheModMaker I get requests all the time from other teams in my org to improve player resiliency. Often the org wants to go to extreme (and IMO unreasonable) lengths to ensure the player makes every possible attempt to play _something_ before producing an error. This is ostensibly to improve user experience, but mostly has to do with keeping the error rate down. There is an engineer who sits next

[2018-08-16 16:38] joeyparrish commented on #1542
In a nutshell, this request is for us to adapt between tracks as a way to avoid playback errors.  Is that right?

[2018-08-16 17:03] drobazko opened #1551 "Persistence licences doesn't work"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
2.2.8

**Can you reproduce the issue with our latest release version?**:
The problem is that with the latest version my legacy application doesn't work.

**Can you reproduce the issue with the latest code from `master`?**:
The problem is that with the l

[2018-08-16 17:26] TheModMaker commented on #1551
We don't support using persistent licenses for that, we only support persistent licenses when storing content offline.  If you use `shaka.offline.Storage` to store content offline, we'll use persistent licences to allow playing the protected content offline; but we don't support using persistent licences to avoid licenses requests between playbacks.

Note that `persistentStateRequired` is EME term

[2018-08-16 17:50] kqyang commented on #1550
Correct. More precisely, fragment duration is the duration of the movie fragment (moof) in MP4. There could be more than one fragments in a segment, which some players can potentially take advantage of. It is also needed in HLS if you want to have more granularity in iframe only playlists as iframe only playlists can only index up to one iframe in a movie fragment (moof).

It will also be useful f

[2018-08-16 19:04] ncahoon commented on #1440
@TheModMaker I've created the ability for you to create this scenario on a live stream on our platform. https://content.uplynk.com/channel/3ff06a21737f40bd9f0e3bc342a4ca6b.mpd?xtest=end30&prettydash=1 The first parameter on the URL tells the stream to end in 30 seconds, the second parameter formats the manifest XML to be easier on the eyes. We are removing the minimumUpdatePeriod and adding the me

[2018-08-16 19:47] chrisfillmore commented on #1529
Thanks, @theodab!

[2018-08-16 22:03] joeyparrish commented on #999
I found a bug in the implementation which needs to be corrected, so I'm reopening this issue.

@avelad, I won't include this in v2.4.4 because it's a major behavior change and comes with some amount of risk.  I think the fact that I didn't get it right the first time supports this decision.  :-)

I am planning to release a couple of betas for v2.5, though.  If you're willing to try out a beta, you

[2018-08-16 22:04] joeyparrish commented on #999
Oh, and I forgot to explain the bug I found: it only works for single-period content where the period starts at 0.  The timestamps I'm using to compute the live edge are relative to the period, but they should have been relative to the presentation.

[2018-08-16 22:33] sandeep-mirpuri commented on #1542
@joeyparrish yes that is the gist of it @TheModMaker @chrisfillmore when the number of pieces to get the content becomes many the potential of particular tracks erroring out, where others don’t, gets higher. We ingest VOD content from our customers or ingest and convert live streams directly from broadcasters into VOD content. And our app makes all of these available. There are often server side a

[2018-08-17 07:38] ctoshni commented on #1550
So if fragment_duration represents moof then what happens if --segment_duration and --fragment_duration is set to the same value?

      1. Does this mean only 1 fragment per segment?
      2. What happens to mdat box in above case?

Also what happens f I provide only segment_duration and not fragment_duration? Will it behave similarly as above i.e 1 fragment per segment?

[2018-08-17 07:53] drobazko commented on #1551
@TheModMaker, huge thank you for your detailed answer.

[2018-08-17 08:11] #1551 closed

[2018-08-17 17:30] kqyang commented on #1550
Yes.

There is always one moof and one mdat in a movie fragment.

There will be one fragment per segment if fragment_duration is set to 0. The default fragment_duration may not be zero. You may want to set it to 0 to be safe.

[2018-08-20 06:31] ctoshni commented on #1550
So what is the recommend option when I want 1 fragment per segment?

a. Set both segment_duration and fragment_duration to same value eg : --segment_duration=10 --fragment_duration=10
b. Set fragment_duration=0 i.e  --segment_duration=10 --fragment_duration=0

[2018-08-20 17:00] kqyang commented on #1550
There isn't really a difference between the two - you can use any one as you wish.

If you are using Shaka Packager v2.2 (released last week), you can set --segment_duration only as the default --fragment_duration has been changed to 0.

[2018-08-20 19:10] #999 closed

[2018-08-20 22:16] TheJohnBowers opened #1552 "Live Dash with repeating 3 second periods lead to "cannot find segment" error"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.3 from published app spot demo page
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Haven't tried
**Are you using the demo app or your own custom app?**:
Demo

[2018-08-21 16:26] chrisfillmore commented on #1533
I'm also curious about the purpose of soft restrictions in https://github.com/google/shaka-player/commit/ed0f37b0990ea9a4a40e6c1779822794367ab7f8 . Why allow ABR to pick a variant if all are restricted?

[2018-08-21 16:37] ismena commented on #1533
@chrisfillmore We should, probably, rename them to preferences or something.
@joeyparrish, please correct me, if I'm wrong (I was not actively involved with this change), but, to the best my knowledge, the idea is that:
- top-level restrictions mean "we can/shall not play the variants that don't comply with the restrictrictions, treat them like they don't exist"
- abr restrictions (in the new worl

[2018-08-21 17:18] joeyparrish opened #1553 "Missing @private annotations not detected by linter or compiler"
When we forget to mark something `@private`, the compiler doesn't complain, nor does eslint.

The Closure Compiler Linter would complain, but we haven't had that working in our build system for a while now.

If we can't get this kind of check to work without the Closure Compiler Linter, we should restore that linter as soon as possible.

[2018-08-21 19:12] michellezhuogg commented on #1552
Could you please test with our lately build https://nightly-dot-shaka-player-demo.appspot.com/ ?

[2018-08-21 20:57] jpfranco opened #1554 "Missing decryption key after succesful license request when using persistentStateRequired"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: 2.4.3

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: Yes

**Are you using the demo app or your own custom app?**: Demo

**If custom app, can you reproduce the

[2018-08-21 22:03] TheJohnBowers commented on #1552
no difference

[2018-08-21 22:15] TheJohnBowers commented on #1552
It is extremely easy to reproduce by just using the manifest urls provided.

[2018-08-22 06:03] chahatmiddha561 commented on #1431
@TheModMaker - Hi, as you mentioned it is required to set range header for the first segment but can we customise using shaka configuration to not send range header in any case?
Or any flag we can set which will stop sending Headers with range for the first segment ?
https://github.com/google/shaka-player/issues/1431#issuecomment-387812986

[2018-08-22 09:09] ctoshni commented on #1550
Thanks @kqyang ! This is really helpful.
Closing the issue as all the queries have been addressed.

[2018-08-22 09:09] #1550 closed

[2018-08-22 15:26] TheModMaker commented on #1431
@chahatmiddha561 There is no option to disable this feature.  When we make a partial request for the first segment, we'll send the `Range` header to avoid downloading the whole segment; but if this fails, we will download the whole segment instead.  So not supporting `Range` requests shouldn't inhibit playback (in this case).

[2018-08-22 16:46] avelad opened #1555 "Question about Audio Media Element"
I just tested initialize the player with audio element. It works as expect with DASH radio channels.

I reviewed the documentation and only i could found information about video element (eg: https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html ). Are there issues knowloged?

Are there plans to support the same as the video element?

There will be support to https://github.com/google/sh

[2018-08-22 16:52] #1548 closed

[2018-08-22 16:52] TheModMaker commented on #1555
The Player constructor accepts an `HTMLMediaElement`, which is both a `<video>` and an `<audio>`.  I don't think there are any problems with using an `<audio>` element instead.  It should be handled exactly the same.

[2018-08-22 17:05] #1526 closed

[2018-08-22 17:06] avelad commented on #1555
Is possible update the documentation to reflect it? I see that the player constructor has a video param which is HTMLMediaElement, is it possible change the video param to mediaElement param?

[2018-08-22 17:23] TheJohnBowers opened #1556 "Question about offline support in MS Edge"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.3
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Haven't checked
**Are you using the demo app or your own custom app?**:
Demo App
**If custom app, can you rep

[2018-08-23 06:15] sandeep-mirpuri opened #1557 "License restrictions not obeyed, when preroll server side ad present in manifest"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
2.4.3

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
Tried on Both

**If custom app, can you repro

[2018-08-23 07:56] BucherTomas commented on #1556
Support for persistent licenses on Edge is tied to resolving this first https://github.com/google/shaka-player/issues/1495.
Essentially, it is now up to Microsoft to provide proper documentation about how to utilize this new key system.

[2018-08-23 17:59] joeyparrish commented on #1555
Sure, we can update the docs and possibly rename parameters without breaking compatibility.

[2018-08-23 17:59] joeyparrish commented on #1556
@TheJohnBowers, @BucherTomas is right.  The `com.microsoft.playready` key system does not support persistent licenses.  There is a lack of documentation from Microsoft on their new alternative, which is blocking our adoption of it.

[2018-08-23 18:50] michellezhuogg commented on #1557
Hi, thanks for reporting this issue, and we appreciate if you can send a test file to reproduce it. You can send it to us privately through email: shaka-player-eng@google.com. Thank you!

[2018-08-23 18:52] michellezhuogg commented on #1554
Hi, thanks for reporting this issue, and we appreciate if you can send a test file so that we can reproduce it. You can send it to us privately through email: shaka-player-eng@google.com. Thank you!

[2018-08-23 20:31] jpfranco commented on #1554
@michellezhuogg thanks for replying. I will request permission to share the asset and I'll email it to you as soon as possible.

[2018-08-23 20:43] joeyparrish commented on #1557
Correction: shaka-player-issues@google.com is the email alias for sending us content URLs privately.

[2018-08-23 20:46] joeyparrish commented on #1554
Correction: The email alias for private URLs is shaka-player-issues@google.com

[2018-08-23 22:37] joeyparrish opened #1558 "Reduce HLS startup latency"
Currently (v2.4) we try to determine the start time of the first segment in each playlist.  This is time-consuming and adds latency to startup.  There are some details in the HLS spec which we may be able to exploit to reduce this significantly.

This could also allow us to skip timestamp parsing in text cues, which contain no timestamps if empty, or in raw AAC or MP3, which may not have parseable

[2018-08-23 23:11] michellezhuogg commented on #1552
I'm able to reproduce it. We'll work on fixing this issue.

[2018-08-24 06:53] avelad commented on #559
Sample streams:
http://dash.edgesuite.net/akamai/bbb_30fps/bbb_with_tiled_thumbnails.mpd
http://dash.edgesuite.net/akamai/bbb_30fps/bbb_with_4_tiles_thumbnails.mpd
http://dash.edgesuite.net/akamai/bbb_30fps/bbb_with_tiled_thumbnails_2.mpd
http://dash.edgesuite.net/akamai/bbb_30fps/bbb_with_multiple_tiled_thumbnails.mpd
http://vm2.dashif.org/livesim-dev/testpic_2s/Manifest_thumbs.mpd

[2018-08-24 11:07] bottmann opened #1559 "Play local DRM video"
Hello!

I'm working at DRM Player's project to play on-line and off-line DRM Videos, and for client's request the player needs work with local video's DRM files (for any reaseon, the user will receive the DRM videos on pen-drive).

Is it possible work this way or simulate the download to convert the file for the Shaka's offline format (IndexedDB and etc)?

Thanks.

Alex

[2018-08-24 15:45] TheModMaker commented on #1559
In most cases, the browser is in a sandboxed environment and can't access the local files on your computer.  So there is likely not a way to load the files from your local filesystem.  One way you could do this is to create a temporary web server to host the files locally and fetch the files from it (e.g. with [Python](https://docs.python.org/2/library/simplehttpserver.html)).  Once you have a web

[2018-08-24 16:20] mstattma commented on #1559
Or you could use Electron with persistent Widevine licenses, a project which we develop in cooperation with Google/Widevine: https://github.com/castlabs/electron-releases. It serves local video files via node.js to Shaka running on an embedded Chromium. There is also a downloader for DASH content, but it seem you won't need that: https://github.com/castlabs/downstream_electron

However, as @TheMod

[2018-08-24 21:23] SemihGk opened #1560 "[Question] Abort segment requests if client bandwidth changes drastically"
I am working to decrease buffering rates on our applications. It looks like we may need to implement a more advanced AbrManager since shaka player has already configuration that allows to accept a custom abrManager. However, I am curious about a few points. Are you planning to improve abrManager's ability in the future instead of keeping a simple one?

If you have a plan, let me share a few ideas

[2018-08-24 22:44] bottmann commented on #1559
I'll try create the temporary web server...

Thanks @TheModMaker and @mstattma !

[2018-08-27 00:02] sandeep-mirpuri commented on #1557
@joeyparrish @michellezhuogg I am working on getting the permissions to share the required URLs to test this with you. Until then I can describe the scenario more accurately based on my investigation.

1) Player loads the manifest
2) Period 1 doesnt require a license so it loads it and marks all variants as "allowedByKeySystem: true"
3) Player encounters the need for a license in Period 2
4) Playe

[2018-08-27 06:36] avelad opened #1561 "HLS: Support variable substitution"
Relevant info:
https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-00#section-4.3
https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-00#section-4.4.5.3
https://devstreaming-cdn.apple.com/videos/wwdc/2017/504op4c3001w2f222/504/504_advances_in_http_live_streaming.pdf?dl=1

Sample:

Is possible add support to it?

[2018-08-27 06:45] jakubvojacek opened #1562 "There should not be a gap in text references >1s error"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes
**What version of Shaka Player are you using?**:
2.5.0
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
yes
**Are you using the demo app or your own custom app?**:
both
**If custom app, can you reproduce the issue

[2018-08-27 18:09] joeyparrish commented on #1562
I managed to reproduce using the latest code in `master`, which is currently equivalent to `v2.5.0-beta` released a few days ago.  I initially missed that subtitles must be enabled for this bug to reproduce.

Full repro steps I came up with:

1. Paste the goo.gl URL into the demo app as a custom asset
2. Click load
3. Get the real URL from the error message in the JS console (since the redirect at

[2018-08-27 18:32] joeyparrish commented on #1562
When the assertion is triggered, the value of `this.bufferedEnd_` in TextEngine is negative, which should not happen.  This occurs when the first text segment is appended because `this.timestampOffset_` is very negative (`-57486.242`).

This offset value seems to come from this part of the manifest:

[code]

According to the manifest, it was generated by Shaka Packager version `daf856fac9`, which

[2018-08-27 18:35] joeyparrish commented on #1562
This change in the Player seems to cause the issue: c38d4dd8d3e083ca218c174ab0e5e43ce2dc1cce

Affected versions: v2.3.10, v2.4.2-v2.4.4, v2.5.0-beta

[2018-08-27 18:37] jakubvojacek commented on #1562
The only difference in my fork was actually suggested by @kqyang himself and should not cause any of this I believe. The change is only about reading the subtitle file indefinitely while packaging live content. As this is VOD, it should not be affected at all.

[2018-08-27 18:44] joeyparrish commented on #1562
I found the cause in Shaka Player, and it should be easy to fix.  Thanks for reporting this!

[2018-08-27 19:04] joeyparrish commented on #1561
Sounds reasonable.  I'll add it to the backlog for now.  v2.5 is too full already.

[2018-08-27 20:25] TheModMaker commented on #1560
Handled in #1051.

If there is a network error, the Player will retry the exact same request up to the retry limit.  If there are errors, AbrManager isn't involved and won't change the bitrate.  Although #1542 has requested we change that.

We only use the network bandwidth to adjust the current stream.  But you should look at #907 and #745.

Network requests are handled by the browser in backgrou

[2018-08-27 22:50] joeyparrish commented on #1560
The [MediaCapabilities API](https://wicg.github.io/media-capabilities/) would also help with this (see #1391), but these existing TV platforms may not implement that API.

[2018-08-27 23:07] joeyparrish commented on #1543
I can't reproduce, but my guess is that this has to do with the way periods interact with our Tracks API.

There are two periods which are important in today's Shaka Player: the "current" period (where the playhead is) and the "active" period (where streaming/buffering is happening).  These can differ if the buffered region spans one or more period boundaries.

Each period has its own tracks, and

[2018-08-27 23:16] joeyparrish commented on #1557
Restrictions (as in the `Restrictions` object from the config) are applied to every new period when it is introduced in a manifest update.  DRM restrictions (as reported by key status) are applied every time we get a key status event, but we require key IDs in the manifest to match this information up.

Chrome definitely reports key status changes, but I can't say whether or not your content conta

[2018-08-27 23:25] joeyparrish commented on #1520
I will regenerate this and any other out-of-date HLS assets.

[2018-08-28 01:33] TheJohnBowers commented on #1495
Yes, thank you very much for the info.  I will see if anyone in our org has some contacts at MS.  Maybe we can emphasize how useful this documentation would be fore us.  It will make testing persistent PlayReady licenses much easier for us.

[2018-08-28 01:34] TheJohnBowers commented on #1556
Yes, thank you very much for the info. I will see if anyone in our org has some contacts at MS. Maybe we can emphasize how useful this documentation would be fore us. It will make testing persistent PlayReady licenses much easier for us.

[2018-08-28 01:34] #1556 closed

[2018-08-28 07:37] avelad commented on #1528
Added in webkit: https://bugs.webkit.org/show_bug.cgi?id=188626

Added in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1481166

[2018-08-28 15:30] SemihGk commented on #1560
2. This is great if you are going to change this behaviour. I agree this must be fixed on back-end side, I have never seen things are perfect at BE.
3. Hmm, Although this PR is not exactly what I was considering, it is very helpful to see a different point of view. I will discuss this with my coworkers.
4. I thought network requests using web workers would be handled in different thread. I made a

[2018-08-28 15:30] #1560 closed

[2018-08-28 17:16] joeyparrish commented on #1520
Note that the new files also will not have byte ranges, because Packager v2.2 requires separate segment files for any text stream.  Since the affects clips includes subtitles, we will just use separate segments for all streams.

[2018-08-28 17:54] joeyparrish opened #1563 "HLS text segment timestamp issues"
When we fetch segments in the HLS parser to extract their timestamps, we fail if that process fails.  This means that empty text segments cause a playback failure.

Furthermore, if the text segment is **not** empty, we still handle it wrong in many cases.  We extract the start time of the first cue, which is not the same as the start time of the first segment.  If the first cue is at time 2, we ex

[2018-08-28 18:05] joeyparrish commented on #1520
The files have been updated, but this has spawned #1563.

[2018-08-28 18:05] #1520 closed

[2018-08-28 18:30] joeyparrish commented on #1552
Something odd is happening with this content.  Period IDs and start times are not stable across updates.  There appears to be some rounding error.  For example, in a test run this morning, I captured and analyzed 5 consecutive manifest updates:

| start times  | manifest 1 | manifest 2 | manifest 3 | manifest 4 | manifest 5 |
| --- | --- | --- | --- | --- | --- |
| period 1 | 0.000 | 0.000 | 0.000

[2018-08-28 18:33] joeyparrish commented on #1552
Please see what you can do about the manifest stability.  Since the first few periods went away, I've had continuous playback at the live edge for 200+ manifest updates, so I expect we'll see the problem go away once you fix the IDs & start times.  Thanks!

[2018-08-28 18:53] TheJohnBowers commented on #1552
Oh tricky.... I thanks for having a look at this.   I have a fix I am going to deploy for this very shortly.  I figured it was possible that it was an issue with the manifest, but I am just couldn't see what it might be.

[2018-08-28 18:53] #1552 closed

[2018-08-28 19:02] joeyparrish opened #1564 "Put custom event definitions into externs"
Right now, the events we dispatch are only described at the jsdoc level, not in any actual Closure types.  For example:

[code]

It would be ideal to make these part of the generated externs, so that projects building with Closure (and some day TypeScript (#1273)) could use these event types.

To do that, I'm not sure of the best approach.  Probably, the event types should be promoted to proper ty

[2018-08-28 19:12] joeyparrish commented on #1510
Replaced by #1563, as this is part of a broader issue we have with HLS text.

[2018-08-28 19:12] #1510 closed

[2018-08-28 19:28] kqyang commented on #1563
The media segment may not start from 0. Do you mean to use the offset + the earliest media segment start time as the first text segment's start time?

[2018-08-28 23:47] joeyparrish commented on #1514
When I played this today with the latest Shaka Player, it played without error, and without appending m3u8 to the URL.

There were some messages in the JS console such as "Request header field range is not allowed by Access-Control-Allow-Headers in preflight response", but that is caused by the server config, and is not in the control of Shaka Player.

There is also the message "Unable to fetch a

[2018-08-29 17:16] #1524 closed

[2018-08-29 18:29] bartsidee commented on #1531
Great! We have been working on a solution and have been able to make this work by using the shaka mp4 atom parser on the initial segment to extract the pssh. We will share a PR for review once ready

[2018-08-29 18:55] jakubvojacek commented on #1562
Thank you, working perfectly!

[2018-08-29 19:07] joeyparrish commented on #1531
Excellent!  A PR is very welcome.

[2018-08-29 19:08] rkuroiwa opened #1565 "Support "individualization-request" message type"
Encrypted Media Extensions defines "individualization-request" message type
https://www.w3.org/TR/encrypted-media/#idl-def-MediaKeyMessageType.individualization-request

For my use case, I would like to specify a URL to send the messages to, just like specifying a license server URL.

[2018-08-29 19:10] joeyparrish opened #1566 "Document fullscreen advice"
Today, while debugging a UI-related issue with a partner, we discovered that fullscreening a video element in Chrome forces the use of browser-native video controls.  It took a long time to figure this out.

We should write a doc with fullscreen-related advice.  For example, to keep custom controls (or no controls at all), you must call requestFullscreen on an element that contains the video eleme

[2018-08-29 19:13] joeyparrish commented on #1565
Since it seems easy, we will try to fit it into v2.5.  We just need to decide how the configuration will work.

We could create an additional URL field (per key-system) for this type of message.  Or we could create a map of message type to URL (per key-system).

Or, we could add message type to the Request object, and let advanced routing based on message type be handled by request filters.

[2018-08-29 19:14] joeyparrish commented on #1562
Happy to help!

[2018-08-29 20:19] chrisfillmore commented on #1566
This is not related to fullscreen, but is related to custom controls. Some CSS properties such as `transition` and `opacity` can cause video rendering problems in IE11 and Edge. We saw this in our test application when the video element would stay completely black after playback had started, until we clicked on the browser window.

I believe this is related to behaviour of independent composition

[2018-08-29 20:20] SemihGk opened #1567 "Re-query MediaKeys to handle codec profile changes"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
master
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
yes
**Are you using the demo app or your own custom app?**:
custom app.
**If custom app, can you reproduce t

[2018-08-29 21:01] rkuroiwa commented on #1565
I don't think it is the case that "individualization messages won't ever be destined for the same server as licenses". It just happens to be that my use case needs a separate URL. It feels more like an implementation detail or business logic.
What is going to be the default behavior if the user doesn't want to special case individualization-request messages, and just want to use the same URL?

I'm

[2018-08-29 21:04] joeyparrish commented on #1565
I was thinking that most individualization requests would be going to some central location run by the DRM provider, and that licenses might be served by something specific to the application.  If everything can be handled by the app's servers, why do we need this feature?

If a separate URL is not provided, it would default to the one provided for licenses.

A URL string config is definitely easi

[2018-08-29 21:35] rkuroiwa commented on #1565
I think this will be the majority of the use cases. I was just replying to the "won't ever be" part.
If the default behavior uses the URL for licenses I'm not too worried about cases where they happen to be the same endpoint.

I think it's easiest for the app devs to be able to specify a separate URL for individualization requests, but I'll leave it up to you folks to design the API :)

[2018-08-29 21:37] joeyparrish commented on #1565
Okay.  Then I think my gut says to offer a configurable URL string for the individualization requests, for simplicity, and to add the message type to DRM-related requests for generality.  Anybody who wants the common thing can do it easily, and anybody who wants more detailed routing can still get the info they need to do that.

Thanks for talking this out!

[2018-08-29 22:19] vaage commented on #1071
@avelad I wanted to chime in again to let you know that I am still working on your request. I am sorry it is taking so long. The challenge I am working through is that there is future work that we are trying to balance with this and trying to make sure that our solution for this is strategically aligned with the design changes ahead.

[2018-08-30 03:33] chanyk-joseph commented on #1543
@joeyparrish Thanks for the investigation and your detailed explanations!
I will try to apply workaround util #1339 is resolved.

[2018-08-30 06:11] avelad commented on #1071
Thanks for the information

[2018-08-30 06:42] avelad commented on #1528
Added in Safari Technology Preview release 64: https://developer.apple.com/safari/technology-preview/release-notes/

[2018-08-30 11:24] ronenneumark opened #1568 "PlayReady content is not playable"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes
**What version of Shaka Player are you using?**:
2.4.4
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
yes
**Are you using the demo app or your own custom app?**:
no
**If custom app, can you reproduce the issue u

[2018-08-30 14:31] boredom2 opened #1569 "Shaka calls for /h when detaching"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes

**What version of Shaka Player are you using?**:
2.4.4

**Can you reproduce the issue with our latest release version?**:
yes

**Can you reproduce the issue with the latest code from `master`?**:
yes

**Are you using the demo app or your own custom app?**:
custom App

**If custom app, can you reproduc

[2018-08-30 17:59] joeyparrish commented on #1543
Okay.  May I go ahead and close this issue?

[2018-08-30 20:33] joeyparrish commented on #1568
I get different error details on my Windows 10 machine (5,8004b8d2), but it fails for me, too.  I tried both IE & Edge and got the same failure.

I can't find any publicly documented meaning for either c00d36bb or 8004b8d2, but both are Microsoft error codes.  From what I can tell, they appear to be decoder-related, but that's just my best guess.

Other PlayReady content plays fine, such as the "A

[2018-08-30 20:48] SemihGk opened #1570 "Multiple createMediaSource calls when initiating the playback"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
master
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
yes
**Are you using the demo app or your own custom app?**:
demo app
**If custom app, can you reproduce the

[2018-08-30 21:17] joeyparrish commented on #1392
I used the following code in the JS console to test this:

[code]

To test with our service worker, I ran this in the context of the Shaka Player demo.  To test without a service worker, I ran this in the context of about:blank.  To test with service workers generally, I ran this in the context of [a separate service worker demo](https://googlechrome.github.io/samples/service-worker/basic/).  For

[2018-08-30 21:48] joeyparrish commented on #1392
I found the trigger in our service worker.  Although this effect is triggered by our service worker, it seems that the bad behavior is still in the browser, and it only affects XHR.  When fetch is used, everything seems to work correctly.

The difference between our SW and the SW demo I tried is that ours uses `event.respondWith` on all requests.  We then asynchronously open the cache and decide i

[2018-08-30 21:53] joeyparrish commented on #1392
Because this is working correctly with Fetch in v2.4, I'm going to move this issue to the backlog.  I'd like to fix it, but it's not critical now.

[2018-08-30 21:54] joeyparrish commented on #1498
Investigation into #1392 revealed that we are handling requests in our service worker that could be ignored instead.  This may have some bearing on this issue as well.

[2018-08-30 21:58] mjaddani commented on #1498
Now, we rewrite manifest params "<Location>" on the mpd and it's works for all browser.

[2018-08-30 22:01] mjaddani commented on #1523
This case is like #1554

do you have analyse my content ?

[2018-08-30 22:10] joeyparrish commented on #1498
Now that I've dug a bit deeper, avoiding fetch handling in our service worker doesn't solve your problem.  Nor does removing the service worker completely.  I still get CORS errors in Firefox for your content.  So I suspect the problem is between Firefox and your server, and has nothing to do with Shaka.

Since you have a workaround anyway, may I close this issue?

[2018-08-30 22:16] joeyparrish commented on #1523
It's not clear to me from the issue history what your problem is right now.  Can you please explain it again?  Also, can you please provide some content URLs so that we can reproduce your issue exactly?  Thanks!

[2018-08-30 22:32] mjaddani commented on #1523
No problem, We use a live content with widevine DRM.

If i use `persistentStateRequired: true` on shaka, most of the time the content works, but some times, shaka don't play the content and we have an error with Firefox and no error with Chrome but the content don't play.

On chrome,  we have this error on` chrome://media-internals/`
[code]

And for Firefox, we have this
[code]

But if i disable `

[2018-08-31 05:31] boredom2 commented on #1569
Hi,

as always, thanks for your in-depth Analysis.
Nevertheless,

![unbenannt](https://user-images.githubusercontent.com/409857/44894363-f0c88800-ad21-11e8-80eb-c1cc53a09045.PNG)

this Call is initiated by "unknown" and of Type "Media" - I am very uncertain, what this means :)
You can see the Effect here:

https://arc-dev-cbr.nexx.cloud/lab/ads-vast.php

and of course, I dont expect that you debug

[2018-08-31 13:47] SemihGk commented on #1567
Thank you very much for your quick fix, @vaage . I appreciated. However, there is an edge case and your fix does not cover it. If a stream starts with clear content and switches to encrypted content later, it will filter out the encrypted contents because the clear segments have different codecs. Do you want me create another ticket for this? Apologies for this. I should have mentioned this earlie

[2018-08-31 16:01] vaage commented on #1567
We'll re-open the issue while we figure out if it's a separate issue. This issue was more about a regression during a encrypted to clear transition.

@SemihGk if I understand correctly, you are now asking about the reverse (the clear to encrypted transition). Right now media source does not support codec switching, so the content would still need to have the same codec (that would be filtered outs

[2018-08-31 16:16] vaage commented on #1523
@mjaddani If I understand correctly, you are looking for a way to track device ids for Chrome and Firefox. Are you looking to track this in the license requests?

When you say "Widevine advised me to activate these 2 attributes", where did you get that instruction from?

[2018-08-31 16:25] vaage commented on #1570
@SemihGk Good new, I am already looking through the load chain code for work with #816. If this issue is not causing any major issues for you or your users, would you be willing to wait until I make more progress on #816 where then we can re-evaulate whether this is still an issue after more of that work is complete?

[2018-08-31 16:30] SemihGk commented on #1567
Apologies for the misexplanation, @vaage . When I said different codecs, I meant the transition between mp4a.40.2 and mp4a.40.5 as the screenshots. With your fix, now the stream is able to switch from encrypted (mp4a.40.5) to clear (mp4a.40.2) content. However, the reverse case cannot be switched because you only filter encrypted segments at [here](https://github.com/google/shaka-player/blob/maste

[2018-08-31 16:33] vaage commented on #1567
@SemihGk , this case came up in a conversation with @joeyparrish yesterday. He is out of the office until next Friday, but I will sync-up with him again once here is back and we will figure out how we want to approach this issue (we came up with 5 or 6 different cases so it gets messy fast).

I will assign this to myself so that it won't fall between the cracks.

[2018-08-31 16:39] SemihGk commented on #1570
@vaage , I appreciate for your concern. This is definitely not an issue as this is not causing any problem on most of the problems (if we do not count performance case) except LG TV. I made a fix on my fork. So, there is no rush at all. This is just a 'good to have' enhancement. Thank you.

[2018-08-31 16:48] SemihGk commented on #1567
I totally understand your concern. I also agree on the switch between clear and encrypted content is a kind of hack-ish workaround on the drm flow anyway. Figuring out the best solution would be better to avoid any temporary workaround. Thank you very much.

[2018-08-31 17:48] jpfranco commented on #1554
Thanks @michellezhuogg @joeyparrish, I've sent a test asset to the email above. Please let me know in case you need more info.

[2018-08-31 20:41] mjaddani commented on #1523
Yes we want to track device Id to do a restriction, we use `persistentStateRequired: true`, and we use `provider_client_token` on widevine licence.

It's Widevine engeneer who has give me this  advice.

[2018-08-31 21:02] vaage commented on #1523
So Shaka Player is part of Widevine - who in Widevine have you been talking to? We can touch base with them to figure out both ends of this issue because I suspect most of this is license based as the player has no actual control over the CDM.

[2018-08-31 21:17] mjaddani commented on #1523
On Widevine DRM Proxy documentation, we have this,

[code]

My Widevine contact is Prashant Grover. Also I have met Joey Parrish in London as part of Widevine training

[2018-08-31 21:29] vaage commented on #1523
I have reached out to Prashant Grover and will figure out what he is suggesting you do. I will assign this to myself so that we don't lose track of it.

[2018-08-31 21:34] mjaddani commented on #1523
My need is to be able to have a device id

[2018-09-01 15:52] karlg-arris commented on #1542
@joeyparrish  The Google ExoPlayer for Android implements similar behaviour.  In the event of a 404 error it will retry on the same fragment for a fixed retry count. Once retries are exhausted it will move down to the next bitrate and so on.  ExoPlayer temporarily blacklists any representation that causes a the max retries to be exceeded (excluding the lowest bitrate representation), to avoid the

[2018-09-01 17:03] boredom2 commented on #1569
I was able to remove this Behaviour, although the Reason is still unclear, it is gone now by disabling EventListeners on the Media Object while detaching.
Thanks your Time though!

[2018-09-01 17:03] #1569 closed

[2018-09-02 15:41] joeyparrish commented on #1567
Hi @SemihGk, @vaage.  To clarify:

The difference between mp4a.40.2 and mp4a.40.5 has nothing to do with clear vs encrypted.  These are different profiles of AAC.  Either could be clear, and either could be encrypted.  Encryption is signalled outside of the codec string.

And since these are two different AAC profiles, this shouldn't count as "codec switching" in MSE.  In general, we can switch pr

[2018-09-02 15:54] joeyparrish commented on #1570
I'm relabeling this as a bug, since I can say with certainty that I didn't intend this part of the system to behave in this way.  But since you have a workaround and this may be solved during #816, I'm going to leave it in the backlog for now.  Thanks!

[2018-09-02 16:03] joeyparrish commented on #1569
Well, I'm glad you have a solution, but I'm sorry I couldn't be more help.

[2018-09-02 16:05] joeyparrish commented on #1542
Okay, that sounds reasonable.  It will go onto the backlog for now, since our current milestones are very full.  I will also change the issue name to reflect the plan.  Thanks!

[2018-09-03 06:21] ShaoWeiguo opened #1571 "Add additional audio codes which is not supported by browser?"
Is it possible to add additional audio codec which is not supported by browser? For example, chrome doesn't support Dolby Digital Plus.  How can Shake Player support Dolby Digital Plus in chrome?

[2018-09-03 09:52] greenya commented on #1514
Thank you.
Its better now (playing starts much faster).

[2018-09-03 10:28] jakubvojacek opened #1572 "Playback of live content wont start for few minutes"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes. I believe this is related to https://github.com/google/shaka-player/issues/999
**What version of Shaka Player are you using?**:
ef6108159675eed83432a615700e44bdae071a88
**Can you reproduce the issue with our latest release version?**:
yes, tried it also with https://nightly-dot-shaka-player-demo.appsp

[2018-09-03 23:35] #1557 closed

[2018-09-04 03:58] jakubvojacek commented on #1572
We had to restart transcoding on the URL I shared in my previous post, please check https://goo.gl/dmZ2K7 instead.

[2018-09-04 06:53] suchitht opened #1573 "Widevine encrypted video not playing in demo shaka player"
Installed shaka packager in linux server. Encrypted video using widevine encryption

packager in=myaudio.mp4,stream=audio,output=audio.mp4 in=myvideo.mp4,stream=video,output=video.mp4 --enable_widevine_encryption --key_server_url https://license.uat.widevine.com/cenc/getcontentkey/widevine_test --content_id 7465737420636f6e74656e74206964 --signer widevine_test --aes_signing_key 1ae8ccd0e7985cc0b62

[2018-09-04 14:02] joeyparrish commented on #1514
Okay, great.  Please let us know if you need anything else.  I'll go ahead and close this issue.

[2018-09-04 14:02] #1514 closed

[2018-09-04 15:01] SemihGk commented on #1567
Thank you very much for your detailed reply, @joeyparrish . It is quite clear now. So, a stream should be able to switch codec profiles even though the stream does not have any clear segment.

I would like to speak out about some of those options:

This option seems the easiest solution. In addition to this, we could implement a 'soft' restriction as we have it on AbrManager. Let's say, we can sti

[2018-09-04 15:39] joeyparrish commented on #1567
Easy, yes.  But I don't think it's a good idea, because of the risk of playback failures.

The risk is this: if we assume the CDM supports anything we didn't ask about, we could fail playback in some cases.  What if your content goes up to UHD resolutions, or uses an HDR color space, but those features aren't supported by the CDM?  If we join during an ad break, we would perhaps only query SD & SD

[2018-09-04 15:54] joeyparrish commented on #1567
Since the discussion was quite long, and many options were discussed, here's a summary for @vaage or whoever else winds up implementing what we discussed here:

When new periods are introduced, we should filter them by re-querying MediaKeys instead of using the list of supported codec strings from the first query.  We expect this should work based on the spec text, but we also need to write a good

[2018-09-04 19:21] SemihGk opened #1574 "FilterNewVariants method is never called when there is a manifest update."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes
**What version of Shaka Player are you using?**:
master
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
yes
**Are you using the demo app or your own custom app?**:
demo app
**If custom app, can you reproduce the

[2018-09-04 19:59] TheModMaker commented on #1574
That is working as intended, DASH requires that all Periods have unique IDs.  If a manifest update has a Period with the same ID, it needs to represent the same content and have the same streams in it.  You can't reuse Period IDs for new Periods and can't change streams during playback.  New Periods need a new ID, but can have different streams than the previous; but an existing Period can't chang

[2018-09-04 20:11] TheModMaker commented on #1573
Please fill out the form in the issue template.  Note that we don't provide support for Shaka Packager or JW Player, you should talk with them if you have a problem with them.  Please test with the our hosted demo or a custom app using Shaka Player that you can share.  Specifically, we'll need the manifest URL (not a copy of the manifest) so we can reproduce the error.

From the Firefox error, it

[2018-09-04 21:01] vaage commented on #1572
@joeyparrish Could you take a look at this one?

It is very interesting in that if you seek to "live" it sits into the buffering state until it falls back far enough and starts playing. However you don't need to wait as if you seek backwards far enough it will start playing again.

[2018-09-04 21:03] vaage commented on #1571
Shaka Player is limited to what the platform (the browser) supports. This means if Chrome/Firefox/Edge do not support a feature, we cannot play that content on that browser. The one exception is if it is something at the manifest-level (which we parse). If Chrome does not support it, there is not much we can do.

[2018-09-05 00:12] SemihGk commented on #1567
I really appreciated your detailed feedback. I am glad that you are also comfortable with the re-querying solution. So, I just wanted to share a quick update. I tested this possible solution on my [fork](https://github.com/google/shaka-player/compare/master...SemihGk:feature/updateSupportedTypes) (it might be a bit messy though, but very simple) . This solution seems to be working on Chrome and Ti

[2018-09-05 06:51] suchitht commented on #1573
I have created 2 encrypted files
http://192.168.172.74:8085/key/wide/h264.mpd
http://192.168.172.74:8085/key/wide2/h264.mpd

Both are not playable in the demo shaka player with https://proxy.uat.widevine.com/proxy

Error: Shaka Error NETWORK.HTTP_ERROR (http://192.168.172.74:8085/key/wide2/h264_master.m3u8,TypeError: NetworkError when attempting to fetch resource.,0)

[2018-09-05 07:05] suchitht commented on #1573
Have you read the FAQ and checked for duplicate open issues?:
**Yes, Error code 1002, about setting CORS. No idea on how to set CORS header**

What version of Shaka Player are you using?:
**v2.4.4 compiled release (https://shaka-player-demo.appspot.com/demo/#asset=http://192.168.172.74:8085/key/wide2/h264.mpd;license=https://proxy.uat.widevine.com/proxy;lang=en-US;build=compiled)**

Can you reprod

[2018-09-05 13:58] fadomire commented on #1547
this seems less easy than i first thought because of the following flow:
specific config overrides default value and is then passed to manifest parsers

so when the parser get the dash manifest ```minBufferTime``` it does not know if the config value is the default one or a specific config one

i can think of some hack around it, but i don't like that

i'll need more time to come with a proper sol

[2018-09-05 15:30] vaage commented on #1547
@fadomire I'll want @joeyparrish to chime in on this suggestion, but what we could do is replace `minBufferTime: number` with `resolveMinBufferTime:function(?number)`. With this, the app could replace the logic that determines what min buffer time to use (using the manifest provided value as a guiding principle).

From the manifest parser they would then have a callback usable as:
[code]
and
[code

[2018-09-05 15:37] vaage commented on #1573
@suchitht The manifest URLs you provided are local to you. We cannot use those to reproduce the issue.

Based on the information you have provided, Error 1002 is a HTTP error ([source](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html)). However with out a way to reproduce your issue there is not much I can tell you.

What I can suggest is:
1. Host the content where we can acces

[2018-09-05 15:38] joeyparrish commented on #1572
That's the classic symptom of drift.  The live edge in practice is before the live edge we computed.

After #999 was closed, this should only be possible with `SegmentTemplate`+`duration`.  All other DASH manifest types should be immune, since we now look at the actual segment descriptions to decide where the live edge is.  But with `SegmentTemplate`+`duration`, there are no segment descriptions,

[2018-09-05 15:39] vaage commented on #1567
@SemihGk @joeyparrish , Just so you both know, I have been following along. Will follow through on @joeyparrish recommended approach.

[2018-09-05 15:44] vaage commented on #1572
So @joeyparrish, if I understand you correctly: drift is still possible when `SegmentTemplate` and `duration` are used? If so then I believe that is exactly what's happening because in the manifest we have entries that look like:
[code]
and
[code]

[2018-09-05 15:46] TheModMaker commented on #1573
Chances are this is either a CORS error or a mixed-content error.  You entered the url using `http`, but the hosted demo is accessed using `https`, so the browser won't load the content.  You have two options: host the manifest and media on a server using `https`, or host your own demo site and access it using `http`.

As for CORS errors, you can read about it here: <https://developer.mozilla.org/

[2018-09-05 16:11] SemihGk commented on #1567
Thank you very much. I look forward to waiting for your fix. Meanwhile, I tested this approach and it is working on Tizen 17/18, LG 18 ( which those only support one video element at once), Chrome and Mozilla. Thus, this solution seems very safe to go.

[2018-09-05 16:15] SemihGk commented on #1574
Thank you so much for your response, @TheModMaker  The reason I asked is that there is a discussion going on #1567 . It looks like shaka player should support codec profile change during live playback. So, I was not quite sure that must period Id be changed if codec profile changes. As for your comments, it has to be. It looks like our stream also changes this periodId all the time when there is a

[2018-09-05 16:15] #1574 closed

[2018-09-05 18:43] chrisfillmore commented on #1572
@joeyparrish If you file a ticket listing requirements for a DASH analysis tool, I may be able to get it assigned to someone on my team. We face similar troubleshooting scenarios frequently, so I think we could contribute.

[2018-09-05 21:42] vaage commented on #1572
I went back and double check with with the [2.5 beta demo](https://v2-5-0-beta-dot-shaka-player-demo.appspot.com/) and it appears to be working (I swear I checked that). However it does struggle to keep at the live edge without buffering.

@jakubvojacek Could you check using the [2.5 beta demo](https://v2-5-0-beta-dot-shaka-player-demo.appspot.com/) and see if you get the behaviour you want? I had

[2018-09-05 22:02] #1565 closed

[2018-09-06 03:55] jakubvojacek commented on #1572
@vaage no, does not work for me, still getting tons of cannot find segments error
<img width="803" alt="screen shot 2018-09-06 at 5 48 39 am" src="https://user-images.githubusercontent.com/3463456/45134002-9bb0ca00-b198-11e8-855e-f48226f297e2.png">. Took around 1:40 (which is the difference in between tracks) for the playback to start. The encoder drift here is really big and we would have restart

[2018-09-06 12:51] chrisfillmore opened #1575 "Expose live edge?"
Could `PresentationTimeline#getLiveEdge_()` be exposed through `Player`?

I'd like to track my application's distance from the live edge, for stats and diagnostic purposes. I realize I could do the calculation myself by inspecting the manifest, but this duplicates code which is already in Shaka. I'd prefer to just get the value that Shaka calculated.

If this is ok, I can make a PR. Thanks.

[2018-09-06 15:14] vaage commented on #1575
As for surfacing that information, I don't see any problems (@joeyparrish will have final say).

I am concerned with the numerous functions we have on the top-level player api so adding `getLiveEdge` to it worries me.

Right now we have a lot of functions that extract read-only values from the timeline. If we had a read-only interface for the timeline, we could just return a readonly version of it

[2018-09-06 16:18] TheModMaker commented on #1575
Since the timeline is available using `getManifest()`, how about just making `getLiveEdge` public and exporting it?

[2018-09-06 18:53] chrisfillmore commented on #1575
Sounds good to me @TheModMaker. No new method required this way.

[2018-09-06 19:31] chrisfillmore commented on #1575
There is the question of what to do with this assertion:

[code]
Users who call this for VOD will get a failed assertion. Could we not say, for VOD, that `presentationStartTime` is zero? The spec says, for `MPD@availabilityStartTime`:

I think this can be interpreted to mean that AST is, by default, zero. Agree/disagree?

[2018-09-06 19:41] joeyparrish commented on #1575
Why not use `player.seekRange().end`?

[2018-09-06 19:44] chrisfillmore commented on #1575
Oh yeah, that's perfect! Thanks Joey

[2018-09-06 19:44] #1575 closed

[2018-09-06 20:19] joeyparrish commented on #1533
It used to be the case (I think) that restrictions would be reapplied when the config changed.  So this may be a regression.

Also, to clarify an earlier discussion, "soft" ABR restrictions only apply to ABR logic.  Tracks restricted at that level can still be selected manually via `selectVariantTrack()`, so it is not redundant with "hard" restrictions.  The top-level "hard" restrictions are meant

[2018-09-06 20:26] vaage commented on #1523
After talking this over with Prashant, he said his original instructions would have been:
- Specify Provider Client Token on your proxy.
- Set `distinctiveIdentifierRequired` and `persistentStateRequired` in the player.

As you pointed out,

For distinctive identifier to work, the CDM must be willing to provide one, that is why we query for it. If the configuration cannot be fulfilled (REQUESTED_K

[2018-09-06 20:36] #1568 closed

[2018-09-06 20:36] #1543 closed

[2018-09-06 20:39] mjaddani commented on #1523
Thanks @vaage , but for the Android Device, we have solution. My point is for Chrome and Firefox, the advise it's to use `persistentStateRequired=true `and Widevine Proxy set the param `provider_client_token` with a device Id. This advise work but sometimes I have some mistakes that I went back to above

[2018-09-06 22:36] #1498 closed

[2018-09-07 18:33] joeyparrish commented on #1554
I have managed to reproduce the bug now twice, but it is very difficult.  I am adding console logging of various events to the repro case you sent us, and I will write back later once I can explain what's happening.  There seems to be a different set of events for the successful and failing test runs, but I still need more data.

[2018-09-07 20:44] joeyparrish commented on #1554
I set it up so that it would reload the page automatically when `video.currentTime` hit `2.0`, so that it would just retry for me until the bug was triggered.  It took 200 page refreshes to reproduce this time on Chrome 68 on Linux.

Success event sequence: play, waiting, loadedmetadata, waitingforkey, seek, can play, playing
Failure event sequence: play, waiting, loadedmetadata, waitingforkey, se

[2018-09-07 20:52] joeyparrish commented on #1554
The key statuses are consistent between successful and failed runs.  This is very confusing.  The browser thinks it is stuck waiting for keys, but it also reports that it has them.  This could be a browser or CDM bug.  I'm not sure.

[2018-09-07 22:43] joeyparrish commented on #1554
We believe this to be a browser or CDM bug.  There seems to be some kind of race condition between the CDM and the rest of the browser's media stack.

I will try to modify your repro case to expose this bug with publicly-accessible content, and then file a bug on Chrome.

[2018-09-07 23:47] jpfranco commented on #1554
@joeyparrish thanks for looking into this. We can reproduce a very similar issue with Firefox as well though (see second screenshot above). Do you think that could be a separate problem?

I had suspected a race condition as well since we've noticed that the frequency of the issue and the platforms where it can be reproduced vary between assets. For example, we had assets for which the issue was ea

[2018-09-10 10:00] yuanchieh-cheng opened #1576 "HLS range get : the range header is wrong and video is not play"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes
**What version of Shaka Player are you using?**:
2.4.4
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
yes
**Are you using the demo app or your own custom app?**:
custom app
**If custom app, can you reproduce the

[2018-09-10 15:40] dmunozpolo commented on #1480
Thanks for the update.

Any new update on when #382 will be ready?

[2018-09-10 15:46] TheModMaker commented on #1554
Firefox and Chrome use the same Widevine CDM; so this may be a bug in the CDM or the adapter, which would make sense since those two browsers use them same versions.  Even if the bug is higher in the media stack, since they use the same CDM, they just may have made the same mistake.

[2018-09-10 16:07] TheModMaker commented on #1576
First, for future reference, we need a playable URL, not the text of the manifests.  In general, we need to be able to put the URL in Shaka Player and see what it is trying to do.  But in this case, I can see what the problem is.  Second, we don't support substitutions, so the URLs won't be correct, see #1561 for more.

Lastly, the issue is your `EXT-X-BYTERANGE` tag is wrong.  It ends with a comm

[2018-09-10 16:32] jpfranco commented on #1554
@TheModMaker oh ok, got it. Thanks for clarifying.

[2018-09-10 16:43] TheModMaker commented on #1572
Looking at this again today, it works fine for me (https://nightly-dot-shaka-player-demo.appspot.com/demo/#asset=https://edge1.cablecolor.net//channels/hch-10/live/hch-10.mpd;lang=en-US;build=uncompiled).  Did you restart the stream again?  Could you provide another stream that has this issue?

[2018-09-10 17:57] jakubvojacek commented on #1572
@TheModMaker yes, unfortunately, there was HW replacement on the server and all the channels were restarted. They're up for a day or so. It takes a few more days for the drift to build up.

I will post here once I have got a malfunctioning stream.

Thank you for your assistance.

[2018-09-10 18:49] TheModMaker commented on #1435
Here is some info from that internal report for outside people and if you (like me) forgot what the discussion was.

The last frame of the first Period ends 32 microseconds after the end of the Period, so the `availabilityWindowEnd` drops the last frame.  This causes a gap to appear in the buffered ranges, but the browser seems to play over it without stalling.  Because the browser doesn't fire a

[2018-09-10 18:52] #1555 closed

[2018-09-10 18:54] #1533 closed

[2018-09-10 19:16] joeyparrish commented on #1554
@TheModMaker, can you please turn this into a bug report against Chrome?  My hope is that someone on the Chrome CDM team can reproduce it with a debugging build and tell us what's going wrong to get into that state.

[2018-09-10 21:04] kqyang commented on #1435
There is actually no frame being dropped and adjusting `apendWindowEnd` does not help. There is a GAP in buffered range using DTS, which is what Chrome is using right now. The GAP is about ~83.3 milliseconds. The problem is gone if the buffered range uses PTS instead of DTS as there is no GAP if using PTS, i.e. if the Chrome's PTS flag is enabled.

The problem happens intermittently. It plays smoo

[2018-09-10 21:15] kqyang commented on #1435
The scenario described above actually applies to all small GAPs, i.e. gap duration < gap jumping interval - gap start back_off, so another option we can do is to adjust gap start back_off for small gaps. I can prepare a CL if you are ok with this.

[2018-09-11 02:57] SIX10 opened #1577 "NPM returned non-zero exit status 1"
Hi, I have seen this question before but the solutions did not work. Here is my log, and also, I got something saying I should update something so I wouldn't be vulnerable to ReDoS, can anyone tell me what and how if needed?
[code]

[2018-09-11 11:56] jakubvojacek commented on #1572
@TheModMaker got a live stream with the issue described above - https://goo.gl/ZLWixv

[2018-09-11 13:16] avelad commented on #1392
With the commit https://github.com/google/shaka-player/commit/d6720cc7a69791333b4c6b60271ae4e279c10bf1 I see that Fetch is used for fallback, then the issue will appear again in v2.5

[2018-09-11 15:28] joeyparrish commented on #1392
I believe we have a change coming soon to add the new functionality to Fetch, as well.

[2018-09-11 16:17] jakubvojacek commented on #1572
@TheModMaker please check https://goo.gl/27Kqof, it's a live stream that has the issues described above

[2018-09-11 16:30] TheModMaker commented on #1577
What platform are you running on?  Did you try deleting everything and doing a clean `git clone`?  What is the output of `ls -ld /home/cyberia/shaka-player/node_modules/wd/build`?  What is the output of `npm -v`?

We don't use the NPM modules for anything except testing, so the versions of the packages we use are probably out of date, and we know that some packages have some really outdated depend

[2018-09-11 17:35] TheModMaker commented on #1572
The problem is the last segment in the manifest of the audio stream is much further in the past than the video streams.  When I fetched the manifest, all the video streams ended at `1720929840`, or a presentation time of ~19121 seconds; the audio stream ends at `1710721200`, or a presentation time of ~19008 seconds.  So the audio stream is 113 seconds in the past.

Now that we ignore the `availabi

[2018-09-11 18:17] jakubvojacek commented on #1572
@TheModMaker when watching the input in multicast, the audio and video are in sync. Therefore this looks like shaka packager issue, right?

[2018-09-11 18:33] TheModMaker commented on #1554
@jpfranco I am unable to reproduce this issue with any of our content.  Can you post a public asset that we could use in a bug report?  Or would you be ok with us forwarding the page you sent us to the Chrome devs who work on this?

[2018-09-11 18:35] TheModMaker commented on #1572
Yes this would be a packager issue.

[2018-09-11 18:38] #1427 closed

[2018-09-11 18:57] jakubvojacek commented on #1572
@TheModMaker thank you, reported in shaka packager, closing here.

[2018-09-11 18:57] #1572 closed

[2018-09-11 19:06] jpfranco commented on #1554
@TheModMaker we have permission to share the asset with devs for troubleshooting purposes so long as the url is not publicly accessible. If this can be shared internally then please go ahead, otherwise I will have to ask the customer and get back to you on that.

[2018-09-11 19:27] TheModMaker commented on #1554
Ok.  I've filled https://crbug.com/883003 for this.

[2018-09-11 20:07] joeyparrish commented on #1554
I'm going to make the crbug private so that we can include the content links and repro demos.  I will also CC the people who may be able to help track it down.  I apologize that this will make the crbug inaccessible outside of Google, but I hope it will allow us to get more expedient debugging help from Chrome team.

[2018-09-11 21:06] #1571 closed

[2018-09-11 21:16] shineyjames123 opened #1578 "Change default timeout network requests"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
<img width="1392" alt="screen shot 2018-09-11 at 12 08 00 pm" src="https://user-images.githubusercontent.com/14226505/45388193-1f214f80-b5cd-11e8-8766-f685107e03b1.png">

**What version of Shaka Player are you using?**:
2.5.0-beta
**Can you reproduce the issue with our latest release version?**:
Yes

**Can

[2018-09-11 21:26] joeyparrish commented on #1578
Hi @shineyjames123!  It looks like you skipped a question in the form:

**What are the manifest and license server URIs?**:
*NOTE:*
  You can send the URIs to <shaka-player-issues@google.com> instead,
  but please use GitHub and the template for the rest.
  A copy of the manifest text or an attached manifest will **not** be
  enough to reproduce your issue, and we **will** ask you to send a
  URI

[2018-09-11 21:29] joeyparrish commented on #1578
Actually, I think I may see the issue in your configuration:

``js
                        timeout: 0, // timeout in ms, after which we abort; 0 means never
[code]

[2018-09-11 22:50] SIX10 commented on #1577
Clean git clone does not work. No folder named wd/build apparently. NPM version is 6.4.1

[2018-09-11 23:00] TheModMaker commented on #1577
Maybe caused by https://github.com/admc/wd/issues/483?  Try `npm install --unsafe-perm`.

[2018-09-12 04:38] shineyjames123 commented on #1578
Thank you. Setting a timeout of 10000ms did help the player to recover from  the "pending" state.

[2018-09-12 10:54] albertotirado opened #1579 "Error 4002 DASH_NO_SEGMENT_INFO trying to play DASH content"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes I have

**What version of Shaka Player are you using?**:
The actual demo page https://shaka-player-demo.appspot.com/demo
**Can you reproduce the issue with our latest release version?**:
Last Release https://shaka-player-demo.appspot.com/demo

**Can you reproduce the issue with the latest code from `ma

[2018-09-12 12:18] payelmondal123 opened #1580 "Error- 4022 (HLS_MASTER_PLAYLIST_NOT_PROVIDED)"
I am trying to play the stream "https://livestream.peer5.com/video/soccer/index.m3u8" using shaka player in chrome browser. But it gives me the error-4022 (HLS_MASTER_PLAYLIST_NOT_PROVIDED).
 Is there any way to overcome this issue?

[2018-09-12 15:44] TheModMaker commented on #1580
As described in the [documentation](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:4022) for the error:

After #1431 we may be able to support playing media playlists, but for the moment we only support playing master playlists.

[2018-09-12 15:58] TheModMaker commented on #1579
I am able to play that asset fine.  What Shaka Player version are you using (the version number is at the top of the page)?  Does it work if you clear your browser cache?

https://shaka-player-demo.appspot.com/demo/#asset=https://b26807-p1-h97-afpq2p4v.1.cdnprepro.telefonica.com/_26807/Dash2Smooth/set064/MEZZ_THEHELP_30Mbps_1080i30.mpd;license=https://test.playready.microsoft.com/service/rightsman

[2018-09-12 16:06] #1573 closed

[2018-09-12 16:14] fadomire commented on #1547
@vaage thanks for the suggestion, it seems a good path

i still made a pull request with minor changes, but i feel it does not fit well with the current code flow :
default config merged with specific user config

tho i will use this fork for demo purpose and see later how shaka team wants to implement it

[2018-09-12 16:30] joeyparrish opened #1582 "Network stall detection"
In #1578, there was a network stall that could only be worked around with a timeout.  It would be better if we could detect the stall itself, rather than relying on an overall timeout.

In today's system, we can only detect that a request overall takes too long, and abort it.  Ideally, we could have a separate timeout for stalls.  For example, if `timeout` is 60s, and `stallTimeout` is 5s, it woul

[2018-09-12 16:30] joeyparrish commented on #1578
Changing the default timeout is easy, but we will need to call this out in upgrade docs and release notes for v2.5, so that nobody is surprised by the new behavior and everyone can configure the timeout back to 0 if they wish.

Proper stall detection has been filed as #1582.

[2018-09-12 16:40] joeyparrish commented on #1577
You definitely shouldn't be using "sudo" for any of this.  Shaka Player doesn't require root, and it doesn't require global installation of any dependencies.  Try starting over without sudo.

[2018-09-12 16:47] joeyparrish commented on #1547
After some more discussion internally, I think we should add the config field `manifest.dash.ignoreMinBufferTime`, which will default to `false`.  If `true`, the DASH parser will ignore `minBufferTime` in the manifest, such that `streaming.rebufferingGoal` is the only factor in play.

[2018-09-13 13:02] #1579 closed

[2018-09-13 13:50] stefanovualto opened #1583 "Subtitle remain stucked after loading a new source"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.4
**Can you reproduce the issue with our latest release version?**:
The latest stable yes
**Can you reproduce the issue with the latest code from `master`?**:
I didn't tested it
**Are you using the demo app or your own custom app?**:
demo
**If custom

[2018-09-13 14:35] chrisfillmore commented on #1583
Is this what you mean?
<img width="780" alt="screen shot 2018-09-13 at 10 34 34 am" src="https://user-images.githubusercontent.com/7190265/45495155-ac38e580-b740-11e8-95d2-c853f4e23535.png">

[2018-09-13 14:39] chrisfillmore commented on #1583
On macOS, I am also able to reproduce in Firefox 62. Doesn't happen on Chrome 69.

[2018-09-13 16:15] TheModMaker commented on #1583
This looks like a Firefox bug.  https://bugzilla.mozilla.org/show_bug.cgi?id=1491045

[2018-09-13 20:28] joeyparrish commented on #1582
Yes, I believe so.

[2018-09-13 20:59] joeyparrish commented on #997
@chrisfillmore, I appreciate your feedback and I acknowledge your dissenting opinion on this.  I wanted to tie up one loose end now that we've started work:

What we've found so far is that the work we've started to implement src= support is actually cleaning up a lot of the most complex and difficult to maintain parts of the `Player` class.  So rather than increasing the complexity of Shaka Playe

[2018-09-13 22:07] #1366 closed

[2018-09-14 12:46] stefanovualto opened #1584 "Strange subtitles rendering"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.4
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
I didn't test it
**Are you using the demo app or your own custom app?**:
demo
**If custom app, can you reprod

[2018-09-14 14:44] chrisfillmore commented on #997
If that's the case, then great!

[2018-09-14 17:07] TheModMaker opened #1585 "TTML parser doesn't support namespaces"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
v2.4.4
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Demo app
**If custom app, can you reproduce the

[2018-09-14 17:08] TheModMaker commented on #1584
This is sort of expected.  What is happening is we are using `VTTRegion` to set the portion of the window to draw the cue on.  Then the browser is styling the `VTTRegion` with the default styles, which includes a background color of black.  Normally, you should be able to add CSS to style them, like:

[code]

However, both Chrome (https://crbug.com/884232) and Firefox (https://bugzilla.mozilla.org

[2018-09-14 21:13] samaduttan opened #1586 "Duration showing -14:-8"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes
**What version of Shaka Player are you using?**:
33792ca-release

**Can you reproduce the issue with our latest release version?**:
yes

**Can you reproduce the issue with the latest code from `master`?**:
yes

**Are you using the demo app or your own custom app?**:
custom app

**If custom app, can you

[2018-09-14 21:26] TheModMaker commented on #1586
First, you didn't post a manifest URL, so it will be hard to reproduce.  If you go to the hosted demo and play a live stream it works fine with the demo assets.  Second, the version you posted isn't a Shaka Player version, it actually appears to be a Shaka Packager version.  Please post the Shaka **Player** version.  Lastly, the image you posted doesn't appear to be the demo app's UI.  Displaying

[2018-09-14 22:34] spaddon commented on #1554
Is there any update from the Chrome team? (we don't have access to that system)

[2018-09-14 22:54] joeyparrish commented on #1554
They are looking into the issue now, but we don't have any resolution yet.  They are looking carefully at possible sources of an internal race condition.

[2018-09-15 15:15] joeyparrish commented on #1586
If you are using the browser's native controls (`video.controls = true` or `<video controls>`), then this is expected.  The browser's native controls do not understand live streams.  To get a reasonable seek bar and duration for live streams, you need to use `player.isLive()` and `player.seekRange()` to display your own controls.

For an example of that, you can look at the controls in our demo ap

[2018-09-16 22:18] grantg182 opened #1587 "Configure maxAttempts"
**What version of Shaka Player are you using?**:
2.4.1
**What did you do?**
Attempt to access maxAttempts from retryParameters.
**What did you expect to happen?**
Get the value of maxAttempts
**What actually happened?**
"Assertion failed: only methods on Player"

I am trying to add some custom error handling; a 'diagnostic mode'. Essentially, pass in a predefined parameter and the player enters a

[2018-09-17 00:31] joeyparrish commented on #1587
If you want access to the values in the current configuration, try `Player.prototype.getConfiguration()`:

[code]

You may also be interested in the [config tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-config.html), which introduces the basic config concepts and API.

Does this answer your question?

[2018-09-17 02:10] SIX10 commented on #1577
Okay, didn't use sudo, and it started giving me a error about something "illegal" (cant remember the exact error message) haven't checked if it compiled yet though.

[2018-09-17 08:30] grantg182 commented on #1587
Thanks @joeyparrish. That did the job; cheers.

[2018-09-17 08:30] #1587 closed

[2018-09-17 15:37] TheModMaker commented on #1580
I'm not sure what you mean.  We don't support reading media playlists, so there is no way to change that.  If you really wanted to, you could write your own manifest parser to parse the HLS manifest; you can look at the [tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-manifest-parser.html) for more info on that.  Otherwise, the only real configuration is done through [Player.conf

[2018-09-17 18:08] theodab commented on #1577
Knowing the exact error message would be helpful.

[2018-09-17 21:31] theodab opened #1588 "Rename variables called 'async'"
In a number of places in the code, we make an array of variables called `async`. This was our coding convention for when we want an array of promises that correspond to asynchronous processes.
However, we've adopted ES6 since then, and `async` is now a reserved word with semantic meaning. Giving a variable that name is not a bug, technically, but it can be confusing.
We should go through the code,

[2018-09-18 08:52] stefanovualto commented on #1584
Thanks for the tip, but will the changes between 2.3.7 and 2.4.4 around rendering be rolled back or fixed?

[2018-09-18 16:46] #1585 closed

[2018-09-18 16:55] TheModMaker commented on #1584
I guess we can revert VTTRegion support until browsers fix their implementations.  It is currently only doing something on Firefox anyway.

Also note that even though #1585 is fixed, it won't fix your content.  You use a non-spec-compliant namespace URI in your TTML files; I suggest you talk to your encoder about using the correct namespace URIs.  That file uses `http://www.w3.org/2006/10/ttaf1`,

[2018-09-18 17:51] TheModMaker commented on #1107
An update: after #1360 we support the MPD adding new Periods with new PSSH data in it.  So we now support the MPD-based key rotation.  We still have the behavior of ignoring the PSSH in the media if the manifest has PSSH data in it.

So what we need to do now is add a flag for whether to ignore PSSH data in the media when the manifest also has PSSH data.

[2018-09-18 22:01] #1584 closed

[2018-09-18 22:22] plzhang opened #1589 "Live DASH stream buffering with warning cannot find segment"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
Shaka Player v2.4.4-uncompiled Demo player

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**:
Demo app

**

[2018-09-18 22:48] theodab commented on #1589
Running your asset, I seem to be getting a lot of mixed content errors at the very beginning, before the other errors. Looking at the manifest, the manifest itself is loaded through `https`, but the segments are all loaded through `http`. So it's a CORS issue.
I tried playing it with CORS disabled, and it seems to play fine.

[2018-09-18 22:52] plzhang commented on #1589
Sorry forgot to mention in **What did you do** part:
After loading the stream, also need to let chrome **load unsafe script** due to the mixed content this test stream has.

And the behavior described above happens after this.

[2018-09-18 23:07] theodab commented on #1589
I just tried loading Chrome with CORS disabled, and I was able to load your stream with no errors.

I can't find any documentation about the exact behavior of the 'load unsafe script' button, but I don't think it completely disables CORS.

[2018-09-18 23:09] joeyparrish commented on #1589
That's correct.  "Load unsafe scripts" will work around mixed content errors (http resources in http**s** context), but CORS is separate from that.  The server must declare to the browser through HTTP response headers that the origin (the page context) is permitted to load that resource.  You can read more on CORS at MDN: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

[2018-09-19 08:28] fadomire commented on #1547
i updated the PR #1581 to implement manifest.dash.ignoreMinBufferTime logic

let me know if ok for you or if it needs some tweak

thanks !

[2018-09-19 08:36] robertoviola opened #1590 "Rejected with system code (18)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.4
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Demo app
**If custom app, can you reproduce the i

[2018-09-19 08:45] imalex commented on #1590
Chrome 58 or earlier is no longer supported by Widevine.

[2018-09-19 15:30] TheModMaker commented on #1590
LICENSE_RESPONSE_REJECTED means the browser rejected the response we got from the license server.  My guess would be the old version of Chromium you're using doesn't support a new protocol the license server is using.  You should upgrade your browser.

[2018-09-19 15:42] theodab commented on #1589
The Mixed Content errors show up in the top of the developer console. They're not Shaka Player errors, so they are styled differently; specifically, they all get collapsed into a single line, with a number by it representing the number of mixed content errors. You can also go to the network tab of the developer console to see all of the downloads failing.

Did you also provide an (empty) user data

[2018-09-19 16:43] theodab commented on #1589
Also, in addition to the CORS issue, I think some of the periods on that manifest are messed up somehow. It looks like periodically it can't choose a variant, so it only plays properly with jumpLargeGaps enabled (to skip over those periods).

[2018-09-19 17:04] joeyparrish commented on #1589
Correction: If you see the "unsupported command-line argument: disable-web-security" banner, it means disable-web-security **is** active.

[2018-09-19 17:04] joeyparrish commented on #1589
You may still need to disable the service worker with --disable-web-security.

[2018-09-19 17:14] plzhang commented on #1589
Yep I also set **--user-data-dir**.

And it is true there are two types of Periods(can be distinguished by id). But if **Load unsafe scripts** is set (shows up in the URL bar when loading mixed content). Both of them plays (and all segments 200 status code), just it might be buffering for around 10 seconds. if it is a cors issue I assume it won't play right?

Yep **Service Workder** is always  set

[2018-09-19 17:34] theodab commented on #1589
Sometimes, it looks like your stream puts out manifests that contain just an `MPD` tag with a `BaseURL` tag inside it. And no periods or anything. If that happens to be the most recent manifest when the player first loads the stream, the player can't play at all. When that manifest shows up mid-stream, it just causes big gaps; that seems to be what's causing the progress bar to jump back ~20 secon

[2018-09-19 18:05] plzhang commented on #1589
Thanks for the good catch! I'll look into it.

[2018-09-19 18:25] joeyparrish opened #1591 "Expand language config to a list"
Browser language settings can have a list of preferred languages in preference order.  So our language preference config settings should also accept a list.  This way, we can fall back through all the languages a user understands.

[2018-09-19 18:53] samaduttan commented on #1586
Thanks joey, for the quick catch up and response of the issue.I would like to know when the UI library release would be, is it some time around near by.

[2018-09-19 19:33] joeyparrish commented on #1586
I am not sure of a release date yet.  We are going through release processes that depend on things we can't control.  But I expect that we will release it by the end of the year.

[2018-09-19 19:51] #1586 closed

[2018-09-20 16:35] joeyparrish commented on #1483
I believe the Chrome bug fix is being released to everyone in Chrome 70.  This release should be out in a about 2 weeks.

[2018-09-20 18:42] chrisfillmore commented on #1483
FYI ChromeStatus says Chrome 70 stable is expected Oct 16:

https://www.chromestatus.com/features/schedule

[2018-09-20 18:45] joeyparrish commented on #1483
I stand corrected.  Thank you!

[2018-09-20 19:10] niralipatelgoogle opened #1592 "Windows 10 - Chrome crashes while using shaka player"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: V2.4.4

**Can you reproduce the issue with our latest release version?**: V 2.4.4 is the latest stable relase

**Can you reproduce the issue with the latest code from `master`?**: Yes

**Are you using the demo app or your own custom app?**: demo app

**

[2018-09-20 19:51] joeyparrish commented on #1592
Is this a live stream?

Does it crash with dev tools open?

What about with dev tools closed?

I haven't reproduced with your content, but in the past, I have seen similar issues with live streams while dev tools is open.  It turned out in my case that the network panel of Chrome's dev tools was running out of memory.  So long as you are recording network traffic (on by default when you open dev t

[2018-09-20 20:43] SIX10 commented on #1577
Here is the output:
``cyberia@MainServer:~/shaka-player/build$ python all.py
[INFO] Generating Closure dependencies...
[INFO] Running eslint...
[INFO] Running htmlhint...

   Config loaded: /home/cyberia/shaka-player/.htmlhintrc

   Config loaded: /home/cyberia/shaka-player/.htmlhintrc

   Config loaded: /home/cyberia/shaka-player/.htmlhintrc

Scanned 3 files, no errors found (36 ms).
[INFO] Check

[2018-09-20 20:57] joeyparrish commented on #1577
`WARNING: An illegal reflective access operation has occurred` and related messages seem to be ignorable.  I suspect it has something to do with the version of Java you're running, which may dislike something the compiler (which is written in Java) is doing.

The only error here is in building the docs.  Jsdoc can't open a file in your sources.

I suspect you ran something with sudo before this po

[2018-09-20 21:18] shineyjames123 opened #1593 "API for detecting if screen recording is on."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
shaka-player 2.5-beta
**Can you reproduce the issue with our latest release version?**:
not an issue, this is a query.
**Can you reproduce the issue with the latest code from `master`?**:
not an issue, this is a query.
**Are you using the demo app or you

[2018-09-20 22:29] joeyparrish commented on #1593
This isn't something that a JavaScript application can control.  Please file a bug on Chrome or Widevine about this.

[2018-09-20 22:30] #1593 closed

[2018-09-21 02:04] SIX10 commented on #1577
Okay, thanks so much, yea I think I did it with sudo or as root in the beginning.

[2018-09-21 02:04] #1577 closed

[2018-09-21 08:28] oldmtn opened #1594 "Does anyone know how to use DOMParser in nodejs environment?"
I saw file mpd_utils_unit.js(shaka-player\test\dash\mpd_utils_unit.js) using DOMParser to parse XML file.
But nodejs environment don't have DOMParser class.

Does anyone know how to use DOMParser in nodejs environment?

[2018-09-21 09:29] oldmtn commented on #1594
Know it. Thanks
karma + jasmine

[2018-09-21 09:29] #1594 closed

[2018-09-21 14:49] bartsidee opened #1595 "Chrome not freeing up HDD space after offline content deletion"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes

**What version of Shaka Player are you using?**:
2.4.3

**Can you reproduce the issue with our latest release version?**:
yes

**Can you reproduce the issue with the latest code from `master`?**:
yes

**Are you using the demo app or your own custom app?**:
custom app (electron)

**If custom app, can y

[2018-09-21 16:01] niralipatelgoogle commented on #1592
The issue appears for VOD with live profile MPD. I tried to reproduce it by closing the dev tools window and it doesn't happen any more. So it must be the memory consumed by the network traffic as you have explained. Thank you for looking into this.

[2018-09-21 16:32] #1592 closed

[2018-09-21 16:57] theodab commented on #1595
I tried experimentally downloading a few assets and then deleting them, and yeah the indexeddb.leveldb folder did end up with a few hundred megabytes of data in it anyway. So I can confirm that this is an issue.

I'll ask Aaron about this, he knows the IndexedDB stuff better than me.

[2018-09-21 16:59] joeyparrish commented on #1594
According to https://stackoverflow.com/questions/47881242/is-there-a-polyfill-for-window-domparser-for-node you can use https://www.npmjs.com/package/xmldom

Hope that helps!

[2018-09-21 17:05] joeyparrish commented on #1592
Happy to help!  I wonder if it would be worth filing a bug on Chrome to ask that some limit be put on memory consumption in the network panel.

[2018-09-21 17:09] TheJohnBowers commented on #1360
So -- I just pulled from master and built this morning, but It doesn't seem to be working quite right -- When the key change comes up I do see this in the console log:
     VM1663:418 emeLogger.CreateSessionCall {timestamp: "11:0:49:804", title: "CreateSessionCall",
    target: MediaKeys, returned: e…r.MediaKeySession, sessionType: "temporary"}
    VM1663:418 emeLogger.GenerateRequestCall {timesta

[2018-09-21 17:12] joeyparrish commented on #1595
If we use web APIs to delete the data, and the browser doesn't free up any space on the disk, I'm not sure if there are any steps we can take at the JavaScript level to mitigate this.

We will track it as an external issue for now, but we're open to ideas on workarounds if anyone has any.

[2018-09-21 17:13] joeyparrish commented on #1360
Thanks, @TheJohnBowers.  We'll take another look.

[2018-09-21 17:19] joeyparrish commented on #1577
I'm glad we were able to help.  Enjoy Shaka Player!

[2018-09-21 19:51] #1547 closed

[2018-09-23 22:48] cdgriffith opened #1596 "External Subtitles don't get displayed"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.4, 2.5.0-beta
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Have not tried
**Are you using the demo app or your own custom app?**:
Custom
**If custom app, ca

[2018-09-24 18:05] KameshDevarakonda opened #1597 "Edge browser - Clear stream - Video and Audio being chopped"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
v2.4.4-uncompiled

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**:
Demo App

**If custom app, can you re

[2018-09-24 20:51] joeyparrish opened #1598 "Parse HLS CHARACTERISTICS attribute and pass through to application"
Similar to what we do with DASH `<Role>` elements, we should parse HLS CHARACTERISTICS attributes and pass those through to the application.

[2018-09-24 20:58] theodab commented on #1595
I talked to Aaron (who implemented the offline storage stuff to begin with), and he agrees that there's probably nothing we can do as a workaround ourselves.

[2018-09-24 20:59] vaage commented on #1598
How/Should this affect filtering?

[2018-09-24 21:44] mstattma commented on #1595
Not really a workaround, but as an alternative solution approach if possible for the use case: Electron provides better ways of managing downloaded content as it provides direct file system access.

Shaka can still be used for playback. Here is an Electron DASH + MSS downloader library with an example using Shaka:
https://github.com/castlabs/downstream_electron

[2018-09-24 21:45] vaage commented on #1595
We already allow someone to implement their own storage mechanism. With that you should be able to plug-in an alternative back-end to store the content.

[2018-09-25 16:09] ismena commented on #1596
Hi @cdgriffith, thanks for reaching out!
Could you give us the link to your manifest and subtitles, so we can repro?
(You can send them privately to shaka-player-issues@google.com, if you'd like)

I have a couple of theories on what might be going on, but want to check with your content, if possible.

[2018-09-25 16:42] cdgriffith commented on #1596
Sure, everything should be attached in a zip file. I just serve the directory with `python -m http.server`

[subtitle_error.zip](https://github.com/google/shaka-player/files/2416131/subtitle_error.zip)

[2018-09-25 17:47] ismena commented on #1596
Thanks for the content!

The problem seems to arise from the combination of external text + native browser controls. It's our bug and we'll investigate.

As an aside (for the team), we don't communicate the text streams' information to the native controls. As a result, any content with subtitles, regardless how many tracks, results in a single "Shaka embedded track" entry. We should consider expli

[2018-09-25 21:11] TheModMaker opened #1599 "Assertion failure when EME sessions expire"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
v2.4.4 and master (v2.5.0-beta-54-g99ebc693)
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Demo app.

[2018-09-25 21:43] #1504 closed

[2018-09-25 23:32] #1596 closed

[2018-09-25 23:34] ismena commented on #1596
Okay, the latest master should be good now.

I noticed that you're using Chrome's native media controls.
Please note that although subtitles will be displayed when captions button is pressed, the native UI will still say "Shaka Embedded track". That's because we don't pass tracks info to the native controls. We probably should, but at this point I'm not sure how much work is needed to accomplish t

[2018-09-25 23:55] cdgriffith commented on #1596
Tested and confirmed working for me, thanks for the fast fix!

Just as a heads up to anyone else using it, this method currently only supports a single track (as @ismena stated) and will always be the last one added, regardless if it is labeled 'caption' or 'subtitle'.

[2018-09-26 10:41] bansalvks commented on #1480
**First of all I am a fan of Shaka**

I love Shaka player but unfortunately, my team has to choose **VideoJs** just because you are currently not supporting **Fairplay** and we cannot loose our safari users.

Is there a workaround/Plugin that we can use with shaka to play DRM on safari?
Can you confirm a date, when the [#382](https://github.com/google/shaka-player/issues/382) will be ready?

Many

[2018-09-26 11:43] mimse commented on #1480
@bansalvks You can always use native Safari HLS/Fairplay support, and use shaka-player for the other browsers.
Also, I can recommend Plyr for video controls and styling.

[2018-09-26 15:53] TheModMaker commented on #1596
The one native track represents what is currently streaming from Shaka Player.  You can change what we stream using `player.selectTextLanguage` or `player.selectTextTrack`; you can query languages and tracks with `player.getTextLanguages` and `player.getTextTracks` respectively.  By default we play the latest added, but you can change this later.

Also note that if you are using native controls, y

[2018-09-26 16:20] ismena commented on #1596
FYI, we are currently working on a UI layer for the player, that will allow for text track selection from the UI, listing all the text tracks available.

[2018-09-26 16:27] ismena commented on #1480
Thank you for you kind words @bansalvks, greatly appreciated!
We are working on #816, which is a stepping stone for #382.

@vaage, do you think you could give an update in terms how much more time/effort is needed?

[2018-09-27 02:30] vaage commented on #1480
It is hard for me to say. Right now Joey and I are working on a design for a large change to the load system that is needed to make src= work cleanly. I am hoping that once the design is done and I can move onto implementation that I will be able to make substantial progress on #816.

[2018-09-27 05:06] bansalvks commented on #1480
Many thanks for the response @mimse

If I understood you correctly then I need to detect browser and if it safari then use a simple video tag and set it's `src=` and the fair-play stream will be played?

I will need to use 2 players... shaka for rest of the world and native video tag for safari...

[2018-09-27 06:47] mimse commented on #1480
@bansalvks

Yes, that was the idea. You will also need a bit of javascript code to handle Fairplay.

If I remember correctly there is a code example is this SDK from apple

https://download.developer.apple.com/Developer_Tools/FairPlay_Streaming_Server_SDK/FairPlay_Streaming_Server_SDK_v4.2.0.zip

Sadly use need an Apple developer account.

You will need two playback technologies (native HLS and Sh

[2018-09-27 17:52] #1326 closed

[2018-09-27 20:28] joeyparrish commented on #1598
I don't know exactly.  But I don't *think* it will necessarily change filtering.  These attributes could be put into the roles list in the manifest structure.

[2018-09-27 22:58] TheJohnBowers opened #1601 "2.5 Master -- Playback skips first period of VOD asset"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes, I don't see anything.  I hope I haven't missed something.
**What version of Shaka Player are you using?**:
2.5 Master
**Can you reproduce the issue with our latest release version?**:
No
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own c

[2018-10-01 09:12] media-square commented on #1083
So basically, there is a solution which should work for live streams but...
When can we expect a patch or will this issue not being fixed?

[2018-10-01 21:18] michellezhuogg commented on #1601
Found that [Latest nightly build](https://nightly-dot-shaka-player-demo.appspot.com/demo/#asset=https://content.downlynk.com/88ec75470b1a48efbe943986c4517be2.mpd?ad=superbowl&prettydash=1;license=https://content.downlynk.com/wv;lang=en-US;build=uncompiled) skips the first period while [v2.4.4](https://shaka-player-demo.appspot.com/demo/#asset=https://content.downlynk.com/88ec75470b1a48efbe943986c4

[2018-10-02 10:14] bes commented on #1083
We are interested in this patch as well

[2018-10-02 12:48] odedhutzler opened #1603 "Question: checking the response of the playManifest before loading the player"
Hi,

I would like to check the .mpd response and maybe initiate a new one with a different playManifest URL (before continuing and parsing it, only for dash content)

I thought the best place to do it would be to create a `manifest_parser` plugin, and implement this check in the `start` method.

However, besides that check, I don't want to change the other parsing flow.

What would be the best way

[2018-10-03 10:30] DenisDashkevich commented on #1554
hello, do you receive any updates on this issue?

[2018-10-03 18:07] joeyparrish commented on #1603
Hi @odedhutzler,

If you just need to examine the manifest contents and redirect to another URL, you can do that with an async response filter.  Some useful docs for this:
 - [License Server Authentication tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-license-server-auth.html), which includes async filters
 - [License Wrapping](https://shaka-player-demo.appspot.com/docs/api/tut

[2018-10-03 19:31] chrisfillmore opened #1604 "Allow client to override presentationDelay"
DASH IOP 4.2 says:

For joining at the live edge there are basically two high-level strategies:

If I understand correctly, Shaka's current behaviour is to allow the client to provide a `defaultPresentationDelay`, but that this is overridden by any `suggestedPresentationDelay` present in the MPD. It seems this should be the other way around, based on what the spec says.

We are currently overridin

[2018-10-03 22:29] TheModMaker opened #1605 "Make replay smoother by buffering from the start"
If we are nearing the end of the video, we should, optionally, start buffering from the start again.  This will make replay and loop smoother.  This will be controlled by a configuration option to avoid buffering when the app doesn't want to replay or loop.

We used to require exactly one buffered range, which is why we didn't do this in the past; however, I don't think much of our code assumes th

[2018-10-04 10:30] robertoviola commented on #1590
@shaka-bot reopen

[2018-10-04 10:35] robertoviola commented on #1590
Actually I am using Qt5.9 which uses Chromium 56 as a runtime for the shaka-player. Do you know if there are any workaround for making a Qt5.9+Shaka-player solution to work? Or the only possibility is to change Qt for a newer version?

[2018-10-05 09:18] htleeab commented on #382
@chrisfillmore My company is trying to play Hls-fps. The hls streams of my company have not pssh boxes and webkitneedkey return 149 bytes data. I extracted the key id(=content id) from playlist to simulate the initData like fps.1_0. License server can return CKC message but the video cannot play.

I'm wondering the initData of fps.2_0 is different from fps.1_0. Could you please tell me what is the

[2018-10-05 12:20] jozefchutka opened #1606 "DASH thumbnail hack"
Hi everyone,

we would like to run two instances of shaka next to each other at the same time, one large format for main video and small one for a scrub thumbnail which would load the same dash manifest and seek when user hover scrollbar. (I am aware of the better image sprite approach but we do not have option to add this feature into the dash manifest on server side). So far this appears working

[2018-10-05 14:02] fernandoneira opened #1607 "Incorrect `timeupdate` events during load"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:

**What version of Shaka Player are you using?**:
v2.4.4
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Custom App
**If custom app, can you reproduce the i

[2018-10-06 00:27] TboneX commented on #1433
@ryancl01 Is there any news on this matter? It's been a couple of months now

[2018-10-07 06:07] odedhutzler commented on #1603
Hey, @joeyparrish thanks. Yes, it does.

Oded

[2018-10-08 12:45] gigon opened #1608 "Offline tutorial: sorting tracks for selecting by highest bandwidth is incorrect in the code sample"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: v2.5.0-beta-master

**Can you reproduce the issue with our latest release version?**: yes

**Can you reproduce the issue with the latest code from `master`?**: yes

**Are you using the demo app or your own custom app?**: n/a

**If custom app, can you re

[2018-10-08 17:27] joeyparrish commented on #1590
The problem is that Chromium 56 is no longer supported by Widevine.  You will have to use at least Chromium 59.  According to the [Qt WebEngine documentation](https://doc.qt.io/qt-5/qtwebengine-overview.html#qt-webengine-core-module), the latest version is based on Chromium 65, so I would expect an upgrade to solve your problem.

As for a workaround, this is something that is completely outside of

[2018-10-08 17:35] joeyparrish commented on #1533
I attempted to cherry-pick this bug fix to v2.4.5, but the merge conflicts were too complex to fix up.  So this bug fix will not appear in a release until v2.5.0-beta2.  We apologize for the inconvenience.

[2018-10-08 17:39] #1608 closed

[2018-10-08 18:50] joeyparrish commented on #1597
Confirmed.  On the transition from period 2 to period 3 at time 5:26, the gap-jumping logic fires and jumps ahead by about 0.4 seconds.  This occurs on Edge 17 on the latest nightly build of Shaka Player.

The gap according to the media element is from 327.0066211 to 327.0298412, size 23.22 ms.  Going deeper to the MediaSource level, the video buffer has no gap at all.  The gap only appears in the

[2018-10-08 19:18] joeyparrish commented on #1597
Actually, I take it back.  It appears to be a simple rounding error in the manifest.

In the third period, the first audio sample appears at 327.0298412.  The period start is 327 exactly.  The gap is caused by the final audio samples in period 2 getting chopped off at 327 exactly, so we lose 29.8412 ms of audio.

So I think the most robust solution might be:
  1. Avoid a gap by allowing fudging th

[2018-10-08 20:31] avelad opened #1610 "No audio on Tizen 3 with very large timestamps"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:

**What version of Shaka Player are you using?**: 2.5.0-beta

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: yes

**Are you using the demo app or your own custom app?**: Both

**If custom app, can you reproduce the

[2018-10-08 21:07] vaage opened #1611 "Investigate Tools For Ttutorials"
It has been a while since we looked at how we write our tutorials. Right now it can be hard to keep code up-to-date in our tutorials as we make changes in the library and it can be easy to let mistakes into the code in the tutorials.

Right now we are using JSDoc, but are there any other tools we can use to help us write tutorials?

Some nice to haves would be:
- "Get Full Code" from any point in

[2018-10-08 21:54] kqyang commented on #1597
The first audio sample of the third period is really at 327.0019, i.e. with a small gap of 0.0019 instead of 0.0298. There might be a bug in Edge not honoring the EditList.

It is not a rounding error, but packager aligns period timelines with video timestamps based on the assumption that browsers can tolerate a small gap in audio but cannot tolerate a small gap in video.

@joeyparrish Your propos

[2018-10-08 23:10] joeyparrish commented on #1597
I was proposing to do both 1 & 2, actually.  But we'll need to discuss more internally.

Right now I'm collecting data on gap tolerance across browsers to help drive the decision.

[2018-10-09 06:45] robertoviola commented on #1590
Ok, thank you for the explanation.

[2018-10-09 10:50] chrisfillmore commented on #1611
Automated end-to-end tests may be an idea. These are effectively mini-applications on their own and can serve as references for clients on how to use API's. One drawback is that automated tests are accompanied by test code boilerplate, but you could address this by extracting code to a separate module, which could be reused by both an automated test suite and a traditional reference application.

[2018-10-09 14:51] chrisfillmore commented on #1606
A few questions:
- Are you doing this just for VOD? Or do you support seeking (e.g. backwards) in Live?
- What is your lowest bandwidth video Representation?
- If VOD, how long are your assets? A few minutes? 30 minutes? An hour? 2+ hours?

[2018-10-09 15:00] chrisfillmore commented on #382
Yes the initData is different from fps1.0 to fps2.0. In 1.0, the initData is the SKD value from the manifest. In 2.0 it is the PSSH (as far as I know). I'm not aware of a working demo for fps2.0.

[2018-10-09 15:14] jozefchutka commented on #1606
thanks @chrisfillmore
1. Our content is both VOD and Live with seeking. Do you have any suggestions if this was for VOD only?
2. 192x108 @112227
3. actually VOD can be between 5 minutes to few hours, same for live
4. single period at this point

Please shout any ideas  you can think of.

[2018-10-09 15:53] chrisfillmore commented on #1606
There is not really a good solution here, that I can think of. The key problem is that, for thumbnails, you presumably want to prefetch this content, because the user may attempt to scrub to any point in the video at any time. If you fetch the thumbnails on-demand, it will likely be too slow to be useful. (I could be wrong on this point, I've never tested this.)

Prefetching would likely consume t

[2018-10-09 16:01] jozefchutka commented on #1606
I see your point. So probably that would be too large portion of data to load upfront that would even affect initial adaptation/quality.

Downloading 1 segment of the lowest quality is relatively quick, but for some reasons we can see rather a few segments downloaded for each seek, do you have any idea why that is happening? May it be its looking for a keyframe or similar reason? Any way to avoid

[2018-10-10 03:13] htleeab commented on #382
@chrisfillmore
Thank for the reply.
My colleague generated a hls + fairplay stream with pssh box.
The initData return from webkitKeyMessage is array of char code of stringified json of sinf box
`{"sinf" : [    "AAAADGZybWFtcDRhAAAAFHNjaG0AAAAAY2JjcwABAAAAAAA5c2NoaQAAADF0ZW5jAQAAAAAAAQDJyuv\/nVBJRoJ1xpgf1uGcEDBBHQdj5UTQu8Xqnj8si+U="  ]}`
the value of sinf is 64 encoded sinf box.
Safari can handle b

[2018-10-10 08:56] jozefchutka commented on #1606
Is there a way/api to get information where to seek to get to the beginning of the segment? So lets say instead of seeking to time 12345 (middle of segment file), I would seek to 12347 which is exactly the start time of a segment?

[2018-10-10 10:10] jozefchutka commented on #1606
Using this we are able to seek to the beginning of the segment:

[code]

however I can still see 2 segment requests are being done and following information from `thumbnailPlayer.getBufferedInfo().video[0]` it seems it loads one extra segment behind although `config.streaming.bufferBehind = 0`

[2018-10-10 14:05] chahatmiddha561 opened #1612 "Songs not playing in background when playing in web view(in app) of android"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:

**What version of Shaka Player are you using?**:
2.4.2
**Can you reproduce the issue with our latest release version?**:

**Can you reproduce the issue with the latest code from `master`?**:
We are using node module from NPM library.
**Are you using the demo app or your own custom app?**:
On my custom app

[2018-10-10 14:24] avichayn opened #1613 "catchup is not playing"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:

**What version of Shaka Player are you using?**:
v2.4.4-uncompiled

**Can you reproduce the issue with our latest release version?**:
yes - on v2.4.4-uncompiled

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**:
using https://shak

[2018-10-10 15:28] bgimmig opened #1614 "Bug on disconnect from chromecast"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes
**What version of Shaka Player are you using?**:
2.5.0-beta
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
yes
**Are you using the demo app or your own custom app?**:
both
**If custom app, can you reproduce the

[2018-10-10 15:55] bgimmig opened #1615 "Cast Receiver appearance"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes
**What version of Shaka Player are you using?**:
2.4.4, 2.5.0-beta, master
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
yes
**Are you using the demo app or your own custom app?**:
both
**If custom app, can you

[2018-10-10 20:40] joeyparrish commented on #1615
Does this answer your question?

[2018-10-11 07:07] bgimmig commented on #1615
Thank you for your fast answer, I am quickly going to test.

[2018-10-11 16:12] joeyparrish commented on #1612
Unfortunately, whether web view pauses media in the background is outside of our control.  If you disagree with this behavior, you will need to address the Chrome team at http://crbug.com/ .  Sorry about that!

[2018-10-11 16:39] joeyparrish commented on #1613
This plays for me as a live stream in Chrome on Linux.  Why do you say it should play as VOD?  I'm not sure I see what the problem is.

[2018-10-11 16:52] joeyparrish commented on #1610
Confirmed.  I get no audio on Tizen 2017.

[2018-10-11 16:56] joeyparrish commented on #1610
The container is audio/mp4, codec mp4a.40.2.  According to the [support test page](https://shaka-player-demo.appspot.com/support.html), this combination is supported by the device.  There's no obvious reason for this not to work.

Without a clear way to debug at the JS level on the device, this will be tricky to track down.

[2018-10-11 16:57] joeyparrish commented on #1610
I do get audio playback on other content.

[2018-10-11 17:35] joeyparrish commented on #1610
Debug logs show that audio has been selected and is being fed to the device.  There's nothing obvious that the player is doing wrong in this case.

I'm not sure how this audio differs from the audio in our content, but ours plays and yours does not.

I suspect something about it is incompatible with the Tizen decoders, but that's only a guess.  I don't have any data yet.

[2018-10-11 18:53] avichayn commented on #1613
The manifest was fixed...

[2018-10-11 18:53] #1613 closed

[2018-10-11 20:28] joeyparrish commented on #1603
Then it seems like we can close this issue.  Let us know if you need anything else.

[2018-10-11 20:28] #1603 closed

[2018-10-11 20:29] #1590 closed

[2018-10-11 20:29] joeyparrish commented on #1589
@plzhang, does this answer your questions?  Is there anything else you need?

[2018-10-11 20:30] joeyparrish commented on #1576
@yuanchieh-cheng, does this answer your question?  May we close the issue?

[2018-10-11 20:43] joeyparrish commented on #1606
For content with both video & audio, that's 2 segments at a minimum.  Add to that some off-by-one logic we have to deal with manifest inaccuracies, and you're at 4 segments minimum for any time later than the first segment of the presentation.

Even if you remove that logic in a fork, you're still (in my opinion) trying to solve this problem in a strange way.  If you want thumbnails, you should pr

[2018-10-11 20:46] joeyparrish commented on #1604
Sounds reasonable.  I would suggest adding a flag to the DASH config that would ignore the suggestedPresentationDelay, which defaults to false.  With that flag set, the configured default would be the only value in effect.  This way would not break compatibility or change behavior for anyone by default.

[2018-10-11 20:51] plzhang commented on #1589
Yep, and nothing else we need for now. Thanks, @theodab , @joeyparrish.
After fixing the missing periods issue we noticed that there are a few other problems in the stream regarding the timeline. The fix might take sometime, I'll close the issue for now.

[2018-10-11 20:51] #1589 closed

[2018-10-11 21:30] joeyparrish commented on #1613
Thanks for letting us know!

[2018-10-11 21:51] joeyparrish commented on #1597
Other browsers will play through larger gaps, but it seems that Chrome will stall on an audio gap of as little as 20ms.  So changing gap-jumping logic may make things worse.

Therefore I think we should just adjust the append window.  It fixes this particular piece of content, but we should be careful to make sure it doesn't break anything else.

[2018-10-12 06:47] shabab11 commented on #816
we are using Opentext for DAM, can shaka player be used to retrieve or play files (video or audio) from opentext.

[2018-10-12 08:04] jozefchutka commented on #1606
hi @joeyparrish

we are able to remove audio tracks on fly (on client) from manifest so for thumbnail player instance its only video segments loaded. Can you please elaborate a bit on "some off-by-one logic we have to deal with manifest inaccuracies" maybe that is why we see 2 video segments downloaded for each seek.

I understand there are better and more optimal ways of displaying thumbnails, in

[2018-10-12 15:21] bgimmig commented on #1615
Thank you for your help, I succeeded well has to modify the appearance of the chromecast.

[2018-10-12 15:21] #1615 closed

[2018-10-12 15:30] TheModMaker commented on #1606
When we seek, we always request the the segment before the seek time.  This ensures that if the segments in the manifest are different than the media, we get content at the seek time.  The media times in the manifest may not be exactly the same times as the times in the segments.  So if we seek to a time of 31 seconds and download the segment starting at 30 seconds, that segment may really start a

[2018-10-12 15:56] vaage commented on #816
@shabab11 Since you comment does not relate to this issue, please file a separate issue.

[2018-10-13 07:13] bansalvks commented on #1480
@mimse I am not able use the link as it is showing unauthorised access. I am currently struggling to play DRM **fairplay** in native Video tag.

Is it possible for you to provide any help.., as it has been more than 2 weeks since I am struggling with it.

[2018-10-13 07:35] pineapplejoe opened #1616 "Getting CORS error when trying to enable offline storage"
I have DASH media on AWS S3 - distributed via AWS CloudFront.

Cloudfront uses signed cookies to restrict access to restrict access to content.

When streaming the content with the player I use the following code to ensure that the local signed cookies get sent.

			player.getNetworkingEngine().registerRequestFilter(function(request_type, request) {
				request.allowCrossSiteCredentials = true;

[2018-10-14 13:12] mimse commented on #1480
Hi @bansalvks, I cannot provide access to the Fairplay SDK. As I said in my previous comment, you will need an Apple developer account to download the SDK.
Sorry I cannot be of more help.

[2018-10-15 05:02] htleeab commented on #1330
@avelad
I tried to run shaka-player demo on browser of LG OLED C7. It seem that Widevine assets are not supported and disabled.
Also, WebOS LG require its own library to create DRM client http://webostv.developer.lge.com/develop/app-developer-guide/playing-drm-content/
Do you using web page in browser or webOS sdk installed app with/without DRM client when you using shaka with DASH + Widevine?
Tha

[2018-10-15 06:17] avelad commented on #1610
@joeyparrish , have you found something that may help find the problem?

[2018-10-15 15:07] jozefchutka commented on #1606
Hi @TheModMaker ,
Understood, I think I have also identified the piece of code you are referring to ( https://github.com/google/shaka-player/blob/master/lib/media/streaming_engine.js#L1355 ) that causes the additional segment to be loaded. Is there an elegant way you can suggest to customize streaming engine in runtime, so it does not optimize segment position? For now I have commented out that li

[2018-10-15 16:58] vaage commented on #1616
@pineapplejoe next time, please use the issue template provide when creating a new issue. It will help us ensure that we have all the information we need to help you resolve your issues.

I have included below the issue template for to use for this issue. I would also ask that you include some way for our to reproduce what you are seeing.

Thanks!

**Have you read the [FAQ](https://bit.ly/ShakaFAQ

[2018-10-15 17:29] joeyparrish commented on #1610
Not yet.  Something is going wrong inside the black box that is the Tizen media stack.  The only approach we have so far is to figure out how your content is encoded or packaged differently from ours, so that we could come up with a workaround you could apply on the encoding side.

So far, we don't know how your content is different.  If you have any ideas, please let us know.

[2018-10-15 18:46] krvangala opened #1617 "getting buffer levels"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.2
**Can you reproduce the issue with our latest release version?**:
NA
**Can you reproduce the issue with the latest code from `master`?**:
NA
**Are you using the demo app or your own custom app?**:
NA
**If custom app, can you reproduce the issue usi

[2018-10-15 19:28] vaage commented on #1617
@krvangala Could you elaborate on what you are looking to do? We will be able to provide more specific guidance if you know what use case you are looking to implement as I am not clear on some of the terms you are using (e.g. "buffer level").

Here is a board explanation of what is happening in Shaka Player:
1. ABR Manager picks which streams should be streamed based on the current network bandwid

[2018-10-15 19:42] PatrikCarlander opened #1618 "Why do shaka send 2 license request with PlayReady?"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
Latest online demo shaka player.
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
not tried
**Are you using the demo app or your own custom app?**:
 demo app
**If

[2018-10-15 19:44] PatrikCarlander commented on #1618
Shaka v2.4.4

[2018-10-15 19:51] chrisfillmore commented on #1618
I don't have a Windows machine handy, but quick question: can you confirm the first request is not a preflight OPTIONS request?

[2018-10-15 19:56] chrisfillmore commented on #1617
@krvangala If you are asking about how much video is buffered at any given moment, you can obtain this information from the video element:

[code]

Let me know if this is useful to you.

[2018-10-15 20:40] krvangala commented on #1617
Hi @vaage  and @chrisfillmore  thanks for reply.

buffer level  here means, buffer level (time ranges) in Media source (  video or audio).
We have deployed our player( uses Shaka 2.4.2)  on field. Would like collect  buffer levels of audio and video in Media Source.
looks like shaka.Player.prototype.getBufferedInfo    will serve the purpose.
Thanks
Krishna

[2018-10-15 20:42] gesinger opened #1619 "Question: mixing encrypted with unencrypted multi period content"
We tried looking for some older issues/commits/docs, but couldn't find a reference, so figured we'd open an issue to start a discussion (if you think this is best put elsewhere, feel free to close).

Mainly we wanted to ask about how you handle multi period content where you start with unencrypted content and follow it with encrypted content.

This morning we submitted https://bugs.chromium.org/p/

[2018-10-15 21:14] vaage commented on #1617
@krvangala I am glad you found what will work for you. I am going to close the issue.

[2018-10-15 21:14] #1617 closed

[2018-10-15 21:21] vaage commented on #1619
Right now when we see unencrypted content, we attempt to negotiate key system access for all the common key systems. That way eme is already set up when encrypted data arrives. This works most of the time as long as the codecs don't change - which is what #1567 is about.

If we successfully negotiated access to a key system, we pass all content (even unecrypted content) through EME so that if it b

[2018-10-16 01:03] joeyparrish commented on #1617
The `buffered` member of the video element is the intersection of audio and video buffer levels.  If you want a breakdown, use `player.getBufferedInfo()`.  This will show you video, audio, text, and "total" (intersection of audio and video as reported by video element).

https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html

Hope that helps!

[2018-10-16 07:02] voiddeveloper opened #1620 "Can the shaka-player play webRTC video files?"
Can the shaka-player play webRTC video files?

https://github.com/google/shaka-player/issues/1200
https://github.com/google/shaka-player/issues/228

As you can see from these two questions, it seems possible, but I have not seen any support in the official document.

[2018-10-16 08:00] #1620 closed

[2018-10-16 11:27] bansalvks opened #1621 "How to pass JSON body and headers to the license server and parse its response before sending it to the player?"
A heartwarming hello to the awesome Shaka Team,

I have a situation now, where I need to pass headers, keyMessage (provided by player) and JSON to license server call and it will return a JSON response then I have to parse the license key from the response and convert it to ArrayBuffer and pass to the player.

I am trying to figure out how to JSON data and parse the response. Is there any way to d

[2018-10-16 13:46] chrisfillmore commented on #1621
You'll want to take a look at the License Wrapping tutorial:

https://github.com/google/shaka-player/blob/master/docs/tutorials/license-wrapping.md

[2018-10-16 15:29] bgimmig opened #1622 "player chromecast communication"
Hello,
#
I would like to know if there is a way of communication between the player and the chromecast, I was thinking of a system of custom events or a communication channel.

I found, on receiver side, the cast.receiver.CastReceiverManager.getInstance() and the broadcast method in your source code, but I do not know if I'm in the right direction

Thanks for your help

[2018-10-16 16:38] vaage commented on #1622
@bgimmig Right now there is no generic message support exposed to the app.

The way things are implemented right now, [CastSender](https://github.com/google/shaka-player/blob/master/lib/cast/cast_sender.js) is responsible for sending messages to [CastReceiver](https://github.com/google/shaka-player/blob/master/lib/cast/cast_receiver.js). By adding methods to CastSender, you can use its [sendMessag

[2018-10-16 16:48] TheModMaker commented on #1622
If you're interested in a Chromecast API solution, you should look at their [messaging](https://developers.google.com/cast/docs/custom_receiver#messages) protocol.  You can use that to send generic messages to the receiver app, and your custom receiver can handle it.  We use a specific channel to send messages related to playback, but you could use a different namespace and send messages for your

[2018-10-16 16:50] TheModMaker commented on #1606
No, there isn't any way to change this behavior, the only way would be to edit the sources and create a custom build.

[2018-10-16 17:59] gesinger commented on #1619
Thank you for the quick and detailed response @vaage , we appreciate it.

We gave it a shot (creating the media keys and setting them on the video element before appending any content), and it plays through now. We'll use that strategy for the time being and see if the Chrome team will add support for setting media keys when needed, rather than in advance. We'll update that Chromium bug with that

[2018-10-16 19:36] #1619 closed

[2018-10-16 20:53] joeyparrish commented on #1619
Just so you know, I would support changes in the EME spec that would actually require MediaKeys to be set up before any content is appended to SourceBuffers.  I think this is just the right way to do things at the app level.

I know that at least within Chrome, there are different media stack paths based on whether content is encrypted or not.  So it may not be practical for all browsers to allow

[2018-10-16 21:07] gesinger commented on #1619
Thanks for the additional comment @joeyparrish .

In the case of live with mixed content, where you may not be sure ahead of time what content types you will have and whether they are encrypted or not, couldn't this solution potentially run into problematic situations with the underlying browser media stack paths?

[2018-10-16 23:57] joeyparrish commented on #1619
How do you not know your content could be encrypted?  We don't know, because we're middleware, so we have a way to configure us to expect it.  If you're an end-user app, we would expect you to know what your content looks like.  If that's a bad assumption, please tell us!

It's also worth noting that you can always play clear content through an encrypted path, so there's no major problem with sett

[2018-10-17 06:34] bansalvks commented on #1621
Yes @vaage

Many thanks for your kind answer @chrisfillmore I am grateful to you.

Thank you for your guidance and support.

[2018-10-17 06:37] #1621 closed

[2018-10-17 07:36] gigon opened #1623 "Server certificate is not configured before Store and Delete operations"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: v2.5.0-beta-master

**Can you reproduce the issue with our latest release version?**: yes

**Can you reproduce the issue with the latest code from `master`?**: yes

**Are you using the demo app or your own custom app?**: demo app

**If custom app, can y

[2018-10-17 09:28] bansalvks opened #1625 "Unable to play m3u8 HLS stream"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
YES

**What version of Shaka Player are you using?**:
2.5.0-beta

**Can you reproduce the issue with our latest release version?**:
YES

**Can you reproduce the issue with the latest code from `master`?**:
YES

**Are you using the demo app or your own custom app?**:

**If custom app, can you reproduce the

[2018-10-17 12:35] bgimmig commented on #1622
Hello,

Thank you for your fast answer.

I have make some tries with the proposals of @vaage . The problem, with this solution, is that I have to modify your code to succeed in realizing my need. I am thus going to create an issue as an enhancement. My need is to make pass dated in the chromecast to display them above the video (a kind of pop-up). But we can easily imagine many of the other applic

[2018-10-17 12:35] #1622 closed

[2018-10-17 16:57] vaage commented on #1623
@gigon When I try your content, it plays without issue. Now I noticed that in the content your provided the cert path was different from the cert you sent us. After fixing that, everything played without issue on master.

[2018-10-17 20:52] gigon commented on #1623
@vaage The issue is not about playback, it is about download.
And it does get downloaded fine.
The issue is about the optimization where the application has the certificate beforehand (e.g. by downloading it), and feeds it to Shaka library, which calls the widevine (EME) function setServerCertificate before creating the key sessions.
This prevents getting a "key message" event from the CDM that re

[2018-10-17 21:18] gigon opened #1634 "Store a licenseReleaseServerUri"
Hello,
Currently when an encrypted video is downloaded, shaka-player stores the original licenseServerUri with the local manifest.
This same uri is then used for sending a release-license request, when the local asset is deleted by the user.
However a license proxy API may define a separate URI for license-release requests.

Would it be possible to accept a **licenseReleaseServerUri** as an option

[2018-10-17 22:16] vaage commented on #1634
The reason why we store `licenseServerUri` is that it's possible that someone is not storing an offline license when downloading content, but planning to fetch the license when they go to play it (we call it the train scenario internally).

If this is something that is blocking you right now, you can store additional information alongside your asset using the metadata field.

We already have some

[2018-10-17 22:52] krvangala opened #1635 "Buffering event when seeked."
We are using  "buffering" event thrown by shaka.Player to track buffer under runs. whenever this event triggered with buffering = true, it will be counted as one buffer under run.
Is this is correct way to capture buffer under runs?

Issue we are having is, when  there is seek in playback, this  buffering event triggered with buffering = true,  it actually   not a buffer under run.
is there any ad

[2018-10-17 23:02] PatrikCarlander commented on #1618
Yes it's actually 4 requests 2 OPTIONS and 2 POST.

[2018-10-17 23:14] PatrikCarlander commented on #1618
![fiddler](https://user-images.githubusercontent.com/5682260/47121508-30681680-d273-11e8-9cf9-f6f6868525c2.jpg)

[2018-10-18 01:03] PatrikCarlander commented on #1618
Here is the reason
shaka.media.DrmEngine.prototype.onEncrypted_ = function(event) {
let initData = new Uint8Array(event.initData);

first initData array is 1604 length.
second initData array is 802 length.
If you split first initData in 2 pieces, then both are equal to the second initData.

Because Uint8ArrayUtils.equal(initData, this.activeSessions_[i].initData)
return false, Shaka do 2 license r

[2018-10-18 05:17] bansalvks commented on #1625
@ismena thank you for replying, it means a lot.

I updated the codepen : https://codepen.io/bansalvks-the-decoder/pen/xyYgEp?editors=0010

and added the config that you mentioned
``` player.configure('manifest.defaultPresentationDelay', 0);```
However it does not work. :( still stuck with both issues.

[2018-10-18 08:13] gigon commented on #1634
Yes I know. The problem is that Shaka always uses the originaLicenseUri for sending
a release-license request. It ignores a specific configuration call made prior to calling
storage.remove(), e.g.:
[code]

[2018-10-18 09:17] jozefchutka commented on #1606
Thanks everyone, I believe I have collected enough information for further work.

[2018-10-18 09:17] #1606 closed

[2018-10-18 17:38] robertoviola opened #1636 "Shaka player does not provide key_ID to the Clearkey server"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
YES
**What version of Shaka Player are you using?**:
2.4.4
**Can you reproduce the issue with our latest release version?**:
YES
**Can you reproduce the issue with the latest code from `master`?**:
YES
**Are you using the demo app or your own custom app?**:
BOTH
**If custom app, can you reproduce the issue

[2018-10-18 17:50] ismena commented on #1625
Ahh, I was so sure, that was it :)
Sorry for the random guess, I'll do a proper investigation tomorrow.

[2018-10-18 20:36] #1576 closed

[2018-10-18 21:57] joeyparrish opened #1637 "FR: fix python shebang lines"
`/usr/bin/python` is usually a symlink to a particular version of python, but it could be python 3 in some cases.  Our scripts only work on python 2.7.

Also, some environments don't use /usr/bin for python.  We shouldn't assume /usr/bin for this.

Instead, we should use `env`, which will find the desired binary in the `PATH`:

[code]

Any scripts that use `env python` or `/usr/bin/python` need to

[2018-10-18 21:58] joeyparrish commented on #1637
@thasso

[2018-10-19 09:01] EloB commented on #891
Did you managed to run any drm on Tizen 2017/2016 and have a stable playback?

[2018-10-19 10:46] sapolio opened #1638 "Incorrect CENC subsample size."
_This is a question. I'm probably doing something wrong. Not only Shaka behaves this way._

OS: Ubuntu, OS X
browsers: Google Chrome (returns error), other browsers (no problems detected)

I have three different quality dash-streams coded from single source and protected by Widevine.

When I try to playback the HQ one, I get this error:

It doesn't always happen right away. Sometimes the video pla

[2018-10-19 12:19] ShinDarth commented on #1030
any news about this?

[2018-10-19 15:30] vksbansal commented on #1625
Many thanks @ismena... it feels so good and emotionally helpful that someone is looking after your issue. Huge thanks for devoting your time.

I struggling with playing HLS .m3u8 streams in shaka player...

P.S/FYI: I am working for a content distributor not content owners so I have to support all kind of streams.. I cannot or request to alter or change streams manifest. We just have to play it.

[2018-10-19 15:37] chrisfillmore commented on #891
@EloB in general protected playback with Shaka works on Tizen 2017 TV's and newer. The implementation of EME on 2016 model TV's is extremely buggy, and I would caution you against trying to support that platform.

[2018-10-19 15:44] TheModMaker commented on #1636
We don't parse PSSH data, we only send the data verbatim to the browser or the license server.  When we see a PSSH data in the manifest, we pass it to the browser; then it creates a license request (binary) which we send verbatim to the license server.

But from what I can tell, the license request does contain the key IDs.  The POST data is  actually just JSON data that contains the key ID.  For

[2018-10-19 16:20] ismena commented on #1625
@joeyparrish could you please check if our parser is doing something wrong, once you're back

[2018-10-19 16:27] vksbansal commented on #1625
@ismena You have the skill of cutting the tension with a hilarious comment just like one of my fav char [Cisco Ramon](https://g.co/kgs/BAzw3x)

Will be waiting for the response from @joeyparrish and hope he will like the big **pink** sticky note on his monitor :D :X :)

[2018-10-19 17:43] ismena commented on #1625
Aww, I've never been compared to a superhero before :blush:

[2018-10-22 10:39] humanamburu commented on #1554
Hello, @jpfranco
Could you please share any updates?

[2018-10-22 15:39] TheModMaker commented on #1554
The issue has been reported as fixed in Chrome 71; I don't know if the fix will appear in Chrome 69 (current stable) or 70.

[2018-10-22 16:41] #1635 closed

[2018-10-22 17:06] #1616 closed

[2018-10-22 18:44] TheModMaker commented on #1636
Does this answer all your questions?

[2018-10-22 18:53] TheModMaker commented on #1618
I've confirmed that this happens.  This is probably a browser bug; Microsoft has a new key system that is better spec-compliant that (hopefully) won't have these kinds of issues.  You can read more in #1495.

Unfortunately we can't parse the PSSH data to dedup them like this.  This may work for PlayReady, but other key systems may require these duplicate entries.  For example, this won't work for

[2018-10-22 19:20] TheModMaker commented on #1523
Sorry not following-up sooner.  I believe this is a duplicate of #1554, which has been fixed by Widevine and will appear at least in Chrome 71, maybe sooner.  It was also fixed on the CDM side, so it should appear in Firefox too, although I don't know when.

[2018-10-22 19:20] #1523 closed

[2018-10-22 19:56] TheJohnBowers commented on #1404
Just want to leave a +1 on this one.  We have two features we really hope make it into Shaka 2.5 and this is one of them. -- The other is the support for key rotation in the manifest.

[2018-10-22 20:10] TheModMaker commented on #1625
Noticed in #1602, fixed in bc7f31efbd6d57ef905c344338bba8fd8c0da5ab.  You can try the nightly to see it works: https://nightly-dot-shaka-player-demo.appspot.com

[2018-10-22 20:10] #1625 closed

[2018-10-22 20:29] TheModMaker commented on #1625
The second isn't playing because we can't parse the TS data.  We only support playing encrypted TS through Widevine, we don't support AES-128 (see #850).  With Widevine encryption, the TS headers are still in the clear, so we can pull the start time out of it.  With AES-128, the whole data is encrypted, so we can't get the start time.  Even if we ignored that error, we would get a different error

[2018-10-22 21:18] ismena commented on #1625
Thank you @TheModMaker, I should've known to ask you!
On the down side, I'll have to take the sticky note off Joey's monitor now.

[2018-10-23 04:56] htleeab commented on #382
I fount out that the fps 1 license server I using get the key id outside of SPC without verify with the content of SPC. That maybe the reason that I can get the correct key back and play CBCS video/audio only. The asset id decrypted by license server is the whole input of create session. If I pass the initData as-is, the license server receive the whole sinf box.

I tested a stream with same key f

[2018-10-23 08:40] vksbansal commented on #1625
Many thanks @TheModMaker  @ismena  for sparing your time to look at this issue

First Issue:
As you said I used
https://nightly-dot-shaka-player-demo.appspot.com/dist/shaka-player.compiled.debug.js
and found that the video is still skipping 10 seconds as you can see in this [code pen](https://codepen.io/bansalvks/pen/XxPYvx?editors=1010)

Second issue:
Its seems that I have to use ```HLS.js``` to

[2018-10-23 10:44] pawelgliwinski opened #1640 "poor parsing time of dash manifest on WebOS"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.4
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
didn't check
**Are you using the demo app or your own custom app?**:
custom app
**If custom app, can you repr

[2018-10-23 15:39] #1636 closed

[2018-10-23 15:47] TheModMaker commented on #1625
Did you try clearing your browser cache?  When I go to the code pen link it plays from 0.

Unfortunately yes, until #850 is closed you'll need to use something else to play that content.

[2018-10-23 16:03] avelad commented on #850
I found that videojs uses https://github.com/videojs/aes-decrypter

s it possible to use it like mux.js?

[2018-10-23 16:36] TheModMaker commented on #850
@avelad We probably wouldn't need that since we can just use the [WebCrypto](https://developer.mozilla.org/en-US/docs/Web/API/Web_Crypto_API) APIs to decrypt the content.  What we could do is just query that URL and get the key, then use that with WebCrypto to decrypt the data before passing to MediaSource.  I think AES-128 encrypts everything, so we might not even have to parse the container data

[2018-10-23 17:04] TheModMaker commented on #1640
Also how did you get that dump?  It looks similar to Chrome performance tab.  Can you save a dump of it and send it to us?  You can also privately send the dump and media URLs to shaka-player-issues@google.com and we'll keep it within the team.

[2018-10-23 20:35] vaage commented on #1637
@TheModMaker has updated our scripts to be Python2.7 and Python3 compatible, thanks Jacob! We have also vetting all our script and they all already use `#!/usr/bin/env`. So we should be good to go.

[2018-10-23 20:35] #1637 closed

[2018-10-24 05:32] spaddon commented on #1554
We have tested on Chrome 71, and so far have not been able to reproduce the issue. Looks promising :)

[2018-10-24 05:43] vksbansal commented on #1625
Yes its working fine after cleaning cache. Pardon me for my ignorance @TheModMaker

Waiting for the release with this fix.
May I Know when will it be released?

Many thanks  : )

[2018-10-24 10:57] pawelgliwinski commented on #1640
Not sure if there is a clear content there, I'll try to get something in the meantime I'll send the manifest over the email for start.

the dump was taken with LG webinspector.

 I don't think we are using xlinks,.

[2018-10-24 17:37] bansalvks commented on #1625
This is a Disheartening News for me @TheModMaker

May I know the release cycle span. So that I may guess how soon will we get the release v2.7

[2018-10-24 18:47] TheModMaker commented on #1625
We released v2.4 in May and are still working on v2.5.  v2.6 will hopefully have a shorter release cycle, but it is hard to tell.  It will probably be at least 6 months before we can work on that feature.

[2018-10-24 20:56] #1623 closed

[2018-10-25 19:45] gldraphael opened #1643 "The player replaces the poster image with the first frame of the video for particular URIs"
The poster image gets replaced by the first frame of the video for specific URIs. Please check this JS Fiddle for a repro: https://jsfiddle.net/17cgays4/11/

We've generated the URIs using Azure Media Services. The URIs generated for a resource works like it should. However when using a [filter](https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-dynamic-manifest-overview

[2018-10-25 20:07] pawelgliwinski commented on #1640
Hi,

I’m testing that now and it gives good results already I think.

Pawel

From: Jacob Trimble <notifications@github.com>
Sent: Thursday, October 25, 2018 5:28 PM
To: google/shaka-player <shaka-player@noreply.github.com>
Cc: Pawel <pawel.gliwinski@ecreationmedia.tv>; Author <author@noreply.github.com>
Subject: Re: [google/shaka-player] Increase efficiency of dash manifest parsing (#1640)

I push

[2018-10-29 16:54] joeyparrish commented on #1404
Hi everyone,

We are hard at work on this, and it is a priority for us for v2.5.  As soon as we have something to show for it, we will release another v2.5 beta.  The final v2.5.0 will wait on both this and src= support (which enables both progressive mp4 playback and FairPlay support on macOS and iOS).

[2018-10-29 16:59] avelad commented on #1404
I see that the issue is on backlog. @joeyparrish , can you change it to 2.5?

[2018-10-29 17:00] theodab commented on #1643
When the poster is and isn't drawn is a behavior of the browser, not Shaka Player. Specifically, the poster is drawn if the video is on the first frame and has not yet been played. The filtered manifest you provide doesn't feed in the first few segments, but the video element knows that they are there due to the timing data in the mp4 files... so the poster never draws.
That's on-spec behavior, by

[2018-10-29 17:56] joeyparrish commented on #1404
Which issue?

[2018-10-29 19:15] ismena commented on #1404
@joeyparrish This one! :)
@avelad Let me do it :)

[2018-10-29 19:37] TheJohnBowers commented on #1404
I have another live test stream that you can validate against here if it is useful:
manifest url:     https://content.downlynk.com/channel/34b1b0717d9d44f6809c89ab130a16bf.mpd
license server: https://content.downlynk.com/wv

[2018-10-29 19:39] joeyparrish commented on #1404
Thanks, @ismena!  I miss the obvious sometimes.  And thanks, @TheJohnBowers, for the content!  Very helpful.

[2018-10-29 19:53] TheModMaker commented on #1643
The reason the poster stops being displayed in that asset is because there is a gap at the start.  When we start playing, we see the gap at the start and seek over it.  Because the time is no longer 0, the browser stops displaying the poster.

[2018-10-30 04:51] hanumantha03 opened #1645 "hosting content locally for testing"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**: 2.4

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**:
Demo app. But using my own .mpd file which was made

[2018-10-30 05:00] vaage commented on #1645
@hanumantha03 are you trying to load it with a `file://` url? If so, that won't work.

The content needs to be hosted in order to play, but thankfully running a local web server will solve that. If you don't want to install a web server, python actually makes it really easy to run a web server and server any directory. Here's the [documentation](https://docs.python.org/2/library/simplehttpserver.h

[2018-10-30 05:04] hanumantha03 commented on #1645
Thank you very much.
Can I use Nodejs to create a server and host the .mpd and dashinit.mp4 on the server?

[2018-10-30 05:12] vaage commented on #1645
I don't see any reason why that would not work. But you may run into some CORS issues if you are hosting the content from a different domain than the site (i.e. you host the content but use our hosted demo page). Normally I'll build the demo page and host the demo page and content locally when I am testing to ensure that I don't run into an CORS issues.

[2018-10-30 05:16] hanumantha03 commented on #1645
Actually I want to test it locally first.
was it easy when you were working with python web server?

[2018-10-30 09:23] mimse opened #1646 "Problems playing a LIVE DASH with multiperiod"
https://shaka-player-demo.appspot.com/demo/#asset=https://moln.edgeware.tv/__cl/cg:ibc/__c/ibc2018/__op/default/__f/Manifest.mpd;lang=en-GB;build=uncompiled

**What browser and OS are you using?**:
Chrome 70 on macOS Mojave

**What did you expect to happen?**
Playing the LIVE stream without problems

**What actually happened?**
Starts, but stopped after a short while

Console shows this

![image](

[2018-10-30 10:15] vaage commented on #1645
Yup. Just run `python -m SimpleHTTPServer 8000` in a directory that contains both the content and the demo. Then you should be able to go to `localhost:8000` and browser until you find the demo.

[2018-10-30 12:11] hanumantha03 commented on #1645
thank you vaage it is working!!

[2018-10-30 12:14] hanumantha03 commented on #1645
If I want to play N number of videos, do I have to create N number of javascript files for them?
or can I create one common xml file for all the .mpd files?

[2018-10-30 16:39] joeyparrish commented on #1645
For `N` videos, you would need `N` MPD files.  But you can easily create one HTML & JS page with `N` video elements and `N` instances of Shaka Player controlling them.

Does that help?

[2018-10-30 17:18] theodab commented on #1646
I tried out that link, but I was getting CORS errors. If you control this asset, could you set up an 'Access-Control-Allow-Origin' header?

[2018-10-31 09:17] mimse commented on #1646
Hi @theodab the stream is protected by IP. If you can provide me with your external IP address I can get it unblocked.

[2018-10-31 10:48] robertoviola opened #1647 "Shaka Player in Chrome does not load the keys received from the ClearKey server"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
YES
**What version of Shaka Player are you using?**:
My custom player based on 2.4
**Can you reproduce the issue with our latest release version?**:
My custom player is based on the last version
**Can you reproduce the issue with the latest code from `master`?**:
As above
**Are you using the demo app or yo

[2018-10-31 15:07] avelad commented on #1610
Same issue with:

https://livesim.dashif.org/livesim/testpic_2s/Manifest.mpd
https://livesim.dashif.org/livesim/segtimeline_1/testpic_2s/Manifest.mpd
https://livesim.dashif.org/livesim/segtimeline_1/utc_direct-head-ntp-sntp/testpic_2s/Manifest.mpd

[2018-10-31 16:42] theodab commented on #1646
Ok, I sent it to the email address you have listed in your GitHub profile.

[2018-10-31 17:06] theodab commented on #1647
I can't diagnose this problem without a way to reproduce it. In your case, that would be the custom app, or at least details on the headers and URIs you can use to reproduce the problem. You can send it to <shaka-player-issues@google.com> instead, if you don't want that to be public information.

[2018-10-31 18:20] deutschtang commented on #1647
From the picture, key is not right encoded, the key need be base64url, so in the "k" or "kid", it should contain "/"

[2018-10-31 21:59] theodab commented on #1647
Could you provide the content? And the license response in text form, also; I transcribed it by hand from your screenshot but I think I made a typo or something.

[2018-11-01 09:01] shabab11 commented on #1645
I am able to play .mpd file but i need thumbnail for my video......How can I create a thumbnail for newly created .mpd file????

[2018-11-01 12:01] humanamburu commented on #1252
Hi @joeyparrish,

Chrome 70 officially supports PiP (https://developers.google.com/web/updates/2018/10/watch-video-using-picture-in-picture).

I've checked the new API and PiP really looks good and works OK but unfortunately only for one video source.

Something is going wrong when I'm trying to load a new video. Shaka loads a new manifest and I can hear a video sound but the PiP screen is black 😢

[2018-11-01 14:18] shabab11 commented on #1645
@joeyparrish @vaage @johan please help...................

[2018-11-01 14:31] weshamoh opened #1648 "Html Form pass values to Shakaplayer script"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes
**What version of Shaka Player are you using?**:
2.4
**Can you reproduce the issue with our latest release version?**:

**Can you reproduce the issue with the latest code from `master`?**:
n/d
**Are you using the demo app or your own custom app?**:
demo
**If custom app, can you reproduce the issue usin

[2018-11-01 15:59] vaage commented on #1645
@shabab11 Since your new question strays beyond the scope of the original topic, could you please open a new issue for it. This will make it easier to others to find solutions to similar problems and will make it easier on us to track issues.

[2018-11-01 16:42] joeyparrish commented on #1252
We haven't investigated PIP yet, but we will do so very soon.  At this time, we don't have any advice on this.  We expect that PIP can be completely outside the Shaka Player library, but we could be wrong.  For now, I suggest you double-check your implementation.  In fact, if you can send us a snippet, that might help us both.

[2018-11-01 16:52] shabab11 commented on #1645
thanks @joeyparrish that is helpful...........it will be very much appreciated if u can give some insight on How can i add and play subscript along with the video and subscript should be highlighted as video progress?

[2018-11-01 16:54] shabab11 commented on #1645
@vaage  sure i will open a new issue on that... thanks for the response

[2018-11-01 17:28] ismena commented on #1252
FYI: We plan for PiP to be a part of the (coming soon) Shaka UI Layer, but, as Joey mentioned, we have not worked on the implementation yet.

[2018-11-01 20:06] joeyparrish commented on #1645
@shabab11, I'm sorry, but I don't understand your question.  What do you mean by "subscript"?  Do you mean "subtitles"?

[2018-11-02 05:14] shabab11 commented on #1645
@joeyparrish yes i mean to say "subtitles".....Thanks

[2018-11-02 06:35] weshamoh commented on #1648
Thanks @joeyparrish yes i will ,  really appreciate for  kind of work your doing.Thank you.

[2018-11-02 11:04] shabab11 commented on #1645
@joeyparrish subtitle issue has been resolved........I am able to play video with subtitle without any error 🥇  .............can u confirm that shaka only allow .vtt format subtitle because .txt and .srt was not playing in my case. Also I need a **download** option for the video am playing, so that user can download the video as well........ can u give some insight on download feature by shaka ple

[2018-11-02 13:03] mimse commented on #1646
Hi, @theodab your subnet should be unblocked now.

[2018-11-02 15:42] joeyparrish commented on #1648
No problem.  Good luck with your project!

[2018-11-02 15:42] #1648 closed

[2018-11-02 15:50] joeyparrish commented on #1645
As far as I know, txt is not a web standard for subtitles.

SRT predates WebVTT, and VTT seems to be derived from SRT.  SRT, however, has no standard character set or header, whereas WebVTT is always in UTF-8 and has a header.

So it would not be possible to support SRT without additional character set info and conversion routines.  If you want to support SRT, you might be able to write a text par

[2018-11-02 17:45] shabab11 commented on #1645
@joeyparrish thank you so much for your help and i am sorry for not creating a new issue..... I will create a new issue for rest of my queries.... Thank you once again.

[2018-11-02 20:34] joeyparrish commented on #1637
Fixed in 841f31b3ba485d1a8f82cda4d2e5e0d97aa8c139

[2018-11-02 20:38] joeyparrish commented on #1645
No problem.  I'm glad we could help.

[2018-11-02 20:38] #1645 closed

[2018-11-02 23:19] theodab commented on #1646
Looking at your manifests, the `SegmentTemplate` tags don't include a `startNumber` attribute. Consequently, Shaka Player doesn't know how to merge the old manifest and the new manifest together.

[2018-11-03 14:16] mimse commented on #1646
Hi, @theodab Thank you for looking at this. I´ll take your feedback back to my streaming team.

[2018-11-05 09:47] BlessingD opened #1649 "error 7002,how do i fix it?no video element,"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:

**What version of Shaka Player are you using?**:

**Can you reproduce the issue with our latest release version?**:

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**:

**If custom app, can you reproduce the issue using our demo ap

[2018-11-05 11:36] robertoviola commented on #1647
I already found the solution.
The problem was due to Google Chrome which employs "-" and "_" as character 62 and 63 for base64 encoding instead of using "+" and "/" as defined by standard base64:
![image](https://user-images.githubusercontent.com/19425348/47995731-869fdb00-e0f6-11e8-87f8-c752398cb5f6.png)
On the contrary, Firefox is able to work with both "versions" of base64 encoding, this is why

[2018-11-05 12:49] #1647 closed

[2018-11-05 16:52] ismena commented on #1649
Hi @BlessingD
Could you post a snippet of your code when you're creating a new shaka.Player object?
Are you calling Player.attach() anywhere?

[2018-11-05 17:49] BlessingD commented on #1649
No I’m not calling it, where do I call it? And what’s the syntax?

Sent from my iPhone

[2018-11-05 18:00] ismena commented on #1649
We really need to see your code to help identify the problem.

In the mean time, if you haven't already, please take a look at our [basic usage tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-basic-usage.html) and see if that helps.

[2018-11-05 18:19] joeyparrish commented on #1647
The use of the URL-safe variant of Base64 is mandated by the EME spec.  Firefox's decision to be flexible and support both variants is nice, but not required by the spec.  See section 9.1.4 of EME ("Clear Key > License Format"): https://www.w3.org/TR/encrypted-media/#clear-key-license-format

[2018-11-05 18:40] BlessingD commented on #1649
Hi,please find attached, a snippet of my offlinedownload.js which is
basically exactly as your myapp.js then also a snippet of my console in
chrome which shows the error,which says..(uncaught in promise...).May you
also elaborate on the manifest Uri,what is that dash.mpd file? Basically i
have a system where users can login and watch educational content. I am
using the shaka player to cater for do

[2018-11-05 18:57] joeyparrish commented on #1649
When we refer to manifests, you should understand that Shaka Player is for adaptive bitrate streaming.  In ABR streaming, the player can switch between various alternative formats on-the-fly.  For example, the player can adapt to the network bandwidth of the client and select the ideal resolution for your internet connection.

As opposed to a single MP4 or WebM file, this ABR streaming requires a

[2018-11-05 20:02] avelad opened #1650 "[Question] - What is shaka-player-embedded?"
I found the repo: https://github.com/google/shaka-player-embedded

What is it?

[2018-11-05 20:36] TheModMaker commented on #1650
I think we created the project today, so you found that fast.

It is a new project to give the features of Shaka Player to native apps (i.e. iOS).  This will be a Framework that allows an iOS app to play streaming media the same as the browser.  It will have a similar looking API as JavaScript and it will be just as easy to use.  You will be able to load a manifest and play the video/audio without

[2018-11-05 22:37] joeyparrish commented on #1650
Coming soon!  ;-)

[2018-11-06 00:07] BlessingD commented on #1649
![code-shaka](https://user-images.githubusercontent.com/35054400/48034555-935d1700-e168-11e8-94fb-8d655b40d0e0.PNG)
![chrome-shaka](https://user-images.githubusercontent.com/35054400/48034575-a40d8d00-e168-11e8-873d-92560ce0628b.PNG)

[2018-11-06 00:08] BlessingD commented on #1649
Hi, I have 2 snippets above as mentioned in my previous email.

[2018-11-06 00:13] joeyparrish commented on #1649
Here are the docs for error 7002:  https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:7002

name | value | type | description
-- | -- | -- | --
NO_VIDEO_ELEMENT | 7002 | number | The call to Player.load() failed because the Player does not have a video element. The video element must either be provided to the constructor or to Player.attach() before Player.load() is called.

[2018-11-06 00:36] vaage commented on #1649
Just to add onto what @joeyparrish commented. Based on the current state of the code the second option for attaching to the video element is recommended. However to add something that is missing from the code snippet, keep in mind that both attach and load are async.

[code]

[2018-11-06 07:09] BlessingD commented on #1649
thanks guys! really helped a lot. just one more question,how do i fix these invalid config errors
![errors](https://user-images.githubusercontent.com/35054400/48048274-a5a87680-e1a3-11e8-9fdc-1f505217674b.PNG)

[2018-11-06 11:23] mikrohard opened #1651 "LIVE DASH streams with non-zero start PTS don't start playing"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
2.4.4

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
Both

**If custom app, can you reproduce the

[2018-11-06 11:44] TobbeEdgeware commented on #1646
@theodab I think there is some confusion here about the type of manifest.

SegmentTimeline can be used with $Time$ or $Number$.
In this case, $Time$ is used and startNumber is not relevant at all.
In the case of $Number$, the MPD needs a startNumber attribute in the SegmentTemplate.

The difference can be seen on DASH-IF dash-live-source-simulator, where I just added the $Number$ version on the de

[2018-11-06 12:06] peet-j commented on #1083
+1

[2018-11-06 14:00] TobbeEdgeware commented on #1646
All of the sudden things are working in 2.5.0-beta in Chrome 70 an in Safari 12.0.1 on my Mac running High Sierra. The content now plays nicely for 10 minutes which is about 20 period boundaries. I have not touched the source, nor the Shaka-player code.

So it seems that something is unstable, but I don't know what. I saw a similar behavior a couple of days ago as our canned demo with this source

[2018-11-06 15:53] hanumantha03 opened #1652 "How to add download option in the player?"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
2.3

**Can you reproduce the issue with our latest release version?**:

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**:
Yes

**If custom app, can you reproduce the issue using

[2018-11-06 16:42] vaage commented on #1649
@BlessingD are you configuring the player yourself? If so, could you post the configuration you are passing the player?

[2018-11-06 16:53] TheModMaker commented on #1651
The times in the media need to match the times in the manifest.  So if the manifest says the segment starts at 30 seconds, then the `baseMediaDecodeTime` needs to be 30 seconds.  You can use the `presentationTimeOffset` to adjust the media time to be the correct presentation time.  So if the segment starts at 60 seconds and you want it to start at 30 seconds within the presentation, you can set th

[2018-11-06 17:19] ismena commented on #1083
@bes @peet-j Thanks for expressing interest!

@joeyparrish Could you, please, advise if this is on our road map?

[2018-11-06 17:48] ismena commented on #1652
Hi! Please take a look at our [Offline Storage and Playback tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-offline.html).

If you have any follow up questions, let us know, we'd be happy to continue the discussion!

[2018-11-06 17:51] theodab commented on #1646
I can look into adding support for numbering segments by time, if number isn't provided.

Though things suddenly working is a little suspicious. I'm not sure why it would? Unless we have suddenly started fitting the segments, but we shouldn't do that for dynamic manifests.

[2018-11-06 18:03] joeyparrish commented on #1083
As far as I can tell, containerless formats like MP3 and raw AAC do not have their own timestamps.  So long as the video and audio content are properly aligned and the content is VOD, we could just use the [patch](https://github.com/google/shaka-player/issues/1083#issuecomment-361234831) from @avelad.  But I don't think there are any timestamps to parse out, so we're left with guessing at "0".

I'

[2018-11-06 18:20] TheModMaker commented on #1646
When I notice the errors, the `Period@start` has changed.  We don't support this case and it is now against the DASH IOP guidelines.  We also support missing `startNumber` when using $Time$.

[2018-11-06 21:59] joeyparrish commented on #1083
I heard from Chrome team.  The way AAC and MP3 work in MediaSource is that timestampOffset determines the starting time of each new append in the SourceBuffer, and after each append, the browser updates timestampOffset to reflect the amount of data that was appended.  This is 'sequence' mode, even if you didn't set it explicitly on the SourceBuffer.

If we had the right metadata, we could make tha

[2018-11-06 23:05] TobbeEdgeware commented on #1646
OK. I'll look into if the Period@start changes. It should not!  It may be because we create the Period with a SCTE-35 ad marker as early as possible in order to get minimal delay. This means that we create it when we know at what time we close the old period, but we do not yet have a segment in the new Period, which is thus empty. This is something that is not yet allowed in DASH but considered a

[2018-11-07 07:57] avelad commented on #1610
@joeyparrish , can you share the commands (ffmepg and shaka-packager) used to generate https://storage.googleapis.com/shaka-live-assets/player-source.mpd ? We are investigating the issue with Edgeware and i think that it can help. Thanks!

[2018-11-07 12:36] sridhard opened #1653 "Widevine offline store failed"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
Demo hosted version

**Can you reproduce the issue with our latest release version?**:
yes

**Can you reproduce the issue with the latest code from `master`?**:
yes

**Are you using the demo app or your own custom app?**:
Demoapp

**If custom app, can y

[2018-11-07 13:19] sridhard opened #1654 "Help Required: Playready content playing in IE"
Hi,

I want to test playready DRM using the shaka player hosted demo.

Manifest: https://s3-ap-southeast-1.amazonaws.com/learnyst/testfolder/video/dash1/h264.mpd

Below is the token from DRM provider:

[code]

In shaka player, there are 2 fields: **Custom license server** and ** Custom license certificate URL**. How should we give the above license in these fields?