[2021-02-19 18:32] dsparacio commented on #2867
Yes this is still an issue and so is this
https://github.com/google/shaka-player/issues/2998 that has been locked and archived.  I am wondering can we get this one open again?

[2021-02-19 18:35] rhosny opened #3172 "Error 5005 on play H265 stream"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** YES

**What version of Shaka Player are you using?** 2.5.10 & 2.5.20

**Can you reproduce the issue with our latest release version?** YES

**Can you reproduce the issue with the latest code from `master`?** YES

**Are you using the demo app or your own custom app?** YES

**If custom app, can you reproduce

[2021-02-19 18:43] TheModMaker commented on #2867
As mentioned in that issue, that is a duplicate of #2957.  Does your issue here only happen when playing text streams?  If you comment out this line, does it work?

https://github.com/google/shaka-player/blob/6db55e0141574a80872b1ab20f69a3720a2f0c91/lib/media/streaming_engine.js#L1036

[2021-02-19 18:48] #3171 closed

[2021-02-19 18:51] joeyparrish commented on #3172
Hi Reda,

You may have missed this note in the issue template:

Please send us a URI that we can use to reproduce the issue.  Without this, we can't debug anything.  Thanks!

[2021-02-19 18:54] joeyparrish commented on #1391
@avelad, we won't ban anything by version.  We'll detect the API itself.  If navigator.mediaCapabilities is null, we will have to install a polyfill to provide the necessary info.

Also, the results I'm seeing on Chromecast via our test framework are not reproducible in the JS debugger on my Chromecast at home.  Not sure what's going on there yet.

[2021-02-19 19:00] joeyparrish commented on #3130
In addition to what @TheModMaker said, I would add that even with that workaround, if your manifest is off by such a large amount of time, seeking can never be done accurately based on that metadata.  So it would be best if you could fix your content.

[2021-02-19 19:02] joeyparrish commented on #2990
Hey, no worries.  Thanks for letting us know!

[2021-02-19 19:37] dsparacio commented on #2867
@TheModMaker Sure, but I mentioned in my ticket that I dug in and found that, and it does solve if I comment that out but was told that is a hack and not the real solution. It will allow for run away text scheduling.  The issue is really is around the fact that flatten period should say this period has no text and that logic so not be forced to eval, right?   I am just trying to track our open iss

[2021-02-19 20:01] rhosny commented on #3172
Hi Joey,
U r right, I sent the URI to the right adresse ,

best

[2021-02-19 20:09] joeyparrish commented on #2867
@TheModMaker is assigned to #2957 and we have a goal to fix that before v3.1 launches.

@dsparacio, thanks for confirming that this is still an issue.  Does it occur on any platform other than LG?  We still don't have such a device in our lab.

Also, I searched my email and couldn't find any manifests or instructions associated with this issue number.  Did I overlook it, or does the email not ment

[2021-02-19 20:12] joeyparrish commented on #2867
Oh, and I just realized that this looks very similar in symptoms to the issue we fixed for Xbox & Tizen.  So here's a really cheap thing you can try on WebOS.  Edit this method in `lib/util/platform.js`:

https://github.com/google/shaka-player/blob/6db55e0141574a80872b1ab20f69a3720a2f0c91/lib/util/platform.js#L296-L308

And add `|| Platform.isWebOS()` to that condition.  That will enable the same

[2021-02-19 20:32] MilosRasic commented on #2867
We had exactly the same issue on all LG models with the same kind of content and it turned out to be caused by gaps in the manifest which are in turn caused by b-frames in both ads and encrypted content. LG is far more sensitive to these than other devices. We solved this by encoding ads without b-frames for LG in order to minimize the number of gaps and applying a workaround to detect stalls and

[2021-02-19 20:33] dsparacio commented on #2867
@joeyparrish thanks for that update let me try the addition of webos check first and get back to you on content if needed.

[2021-02-19 20:38] dsparacio commented on #2867
Not that we have reports on, this particular one seems to be isolated to LG and DAI content period transitions

[2021-02-19 20:40] FireMasterK commented on #3155
Were you able to replicate the issue on your end?

I also tried creating a fresh Vue app and it works there, I suspect this has something related to the `single page app`/`router`.

[2021-02-19 20:55] ismena commented on #3136
Adding this to v3.1. If we're going out of beta with the ads integration, a clear way to test custom ad assets (both CS and SS) on the demo page seems appropriate.

[2021-02-19 21:03] joeyparrish commented on #2867
@MilosRasic, I have been thinking about our gap-jumping/stall-detection for a while, and I am starting to think it needs to be burned to the ground and redone completely.  It may have been built on bad assumptions, and it was definitely built to compensate for browser behavior from many years ago.  Desktops have moved on, and it's CE devices that really benefit most from manipulating the timeline

[2021-02-19 21:18] #3154 closed

[2021-02-19 21:41] dsparacio commented on #2867
@MilosRasic so mostly same for us.. not all models but enough.. then we implemented stallSkip but shaka docs advises not to for these platforms. We found it did work a bit, but did not solve it for all LG models.

We then took stallSkip out in fear that it would cause bigger issues in prod.  Turns out this is reported and widespread so we may just turn stallSkip back on but still not sure yet.

@j

[2021-02-19 22:06] #2876 closed

[2021-02-19 22:32] bcupac commented on #2867
Yes, we solved most of our SSAI gap problems by having ads with no b-frames, as b-frames somehow cause these gaps. Our content still has b-frames so there are still gaps where the content ends and ads begin.
Until all of that is resolved and until we have ads and content with b-frames and no gaps, we use seek to unstall video.

Shaka's stall recovery for most platforms uses seek to unstall video,

[2021-02-19 22:44] dsparacio commented on #2867
Great info @bcupac thanks for sharing

[2021-02-19 23:36] #2957 closed

[2021-02-20 02:14] #2987 closed

[2021-02-20 02:46] #2655 closed

[2021-02-20 02:55] joeyparrish commented on #2987
The fix got held up in code review, but it just landed in the master branch.  I should be able to push out a v3.0.9 some time next week.

[2021-02-20 11:25] mad-gooze commented on #2983
@shaka-bot reopen

[2021-02-20 11:26] mad-gooze commented on #2983
@joeyparrish I still reproduce on 3.0.8 if I start playback with stubbed manifest from  https://pastebin.com/XbBdrVts and switch to actual manifest from https://strm.yandex.ru/kal/sibir/manifest.mpd?dvr=180

[2021-02-21 05:52] subhendusethi commented on #3162
Hi team.

Any help here would be appreciated.

Thanks!

[2021-02-21 06:31] michellezhuogg commented on #3162
Hello @subhendusethi , you can send your manifest to shaka-player-issues@google.com . Thank you!

[2021-02-22 08:27] FireMasterK commented on #3155
@joeyparrish were you able to reproduce this? Do I need to do anything else to help?

[2021-02-22 11:49] olirehacek opened #3173 "Shaka downloads only the first audio track in manifest file."
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.8

**Please ask your question**
Hi,
I have a widevine manifest file - a video with multiple audio tracks (3). When I try to download the conte

[2021-02-22 18:17] TheModMaker commented on #3172
5005 is [INVALID_STREAMS_CHOSEN](https://v2-5-10-dot-shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:5005), an error code removed in v3.0; so this error can't happen in the latest release or in the latest code on `master`.

If I play on the latest release, I get [CONTENT_UNSUPPORTED_BY_BROWSER](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:4032).  Yo

[2021-02-22 18:24] TheModMaker commented on #2983
One problem I notice is your stubbed manifest has a different value for `availabilityStartTime`.  It only differs by 10 seconds, but this could be causing problems with streaming.  This attribute cannot change during playback.  Does it work if you set the `streaming.jumpLargeGaps` configuration to `true`?  Does the stream recover if you seek?

[2021-02-22 18:27] rhosny commented on #3172
Hi Jacob,
Thank you for your answer, could we get more précise idea about what is in the HEVC video track that is not uspoorted by the browser?  is it a codec options that we can adjust by changing encoding or packaging options?

Best.

[2021-02-22 18:35] TheModMaker commented on #3138
Can you please provide a playable manifest URL?  This will likely be content-specific.  You can also try to reproduce with the demo content.  Also, how are you telling that there is enough bandwidth?  Are you checking logs?  Please provide logs too.

Can you also try putting the manifest through <https://conformance.dashif.org/> with the `Segment Validation` option set?  This should help tell if y

[2021-02-22 18:37] TheModMaker commented on #3172
Most browser don't support HEVC at all.  You can see on [caniuse](https://caniuse.com/?search=hevc) that almost none of the major browsers support this.  You would need to use AV1, VP9, or H.264.

[2021-02-22 18:38] avelad commented on #3163
Note: the link that I have sent privately is only available until March 3 because it is an NPVR recording (circular buffer)

[2021-02-22 18:49] ismena commented on #3155
Hi @FireMasterK sorry for the delay, let me take this over.
I'm able to reproduce with your app.
Things I noticed:
- This manifest loads fine in the demo page, so it probably is a problem with the app code
- The logs say, the problem's coming from our Walker/Load graph logic. One of my least favorite pieces of code. Sigh. ;)
- Beyond that, log's aren't terribly helpful

@FireMasterK  Could you hel

[2021-02-22 18:49] rhosny commented on #3172
This strang since I can play on the same device/browser (Tizen TV)  another stream with two tracks both are HEVC.
it is  just when I generat a stream with one track only, this error is generated and I wonder what is wrong with elemeinating on track any play a stream with on track. does that make sens?

[2021-02-22 18:59] TheModMaker commented on #3172
I was testing on Chrome, it is possible Tizen does support HEVC.  I don't really have access to a Tizen to test with, can you try with the latest release (v3.0.8) to see if it works or if you get a different error?

<https://shaka-player-demo.appspot.com/demo/>

What may be happening is one of the streams are supported and the other is not.  So with two streams, we can play the supported one but i

[2021-02-22 19:00] ismena commented on #3173
To the best of my knowledge, this is expected behavior. (Offline logic predates me :)) We select a variant and only download it.
Let me tag the offline expert for more information. @TheModMaker am I right about this? What's the thought behind this logic?

[2021-02-22 20:16] rhosny commented on #3172
the strang thing is the two tracks one is low resolution and the other is 4K and Shaka start good with the low resolution and then switch to the 4K without any error. I I play the stream with one track 4K it gives me this error.

I can send you theanother link with the two tracks if that helps to detect the issue?

[2021-02-22 20:17] TheModMaker commented on #3142
If you could provide a manifest URL, it would help verify we got it.  But I think the problem is [here](https://github.com/google/shaka-player/blob/2371bd8591b1755f4ef1e1fee400db31e93b2893/lib/hls/hls_parser.js#L2405).

The problem is that if we make a full request, it will download a large segment that we'll just throw away (and the browser may not cache it correctly).  If we try a partial reques

[2021-02-22 20:49] Kotekczu opened #3174 "Styling subtitles"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.0.8.

**Please ask your question**
What's the appropiate way to set the style for subtitles, such as font and size? I've also noticed subtitle

[2021-02-22 20:56] TheModMaker commented on #3144
First, the URL you posted is no longer valid (404).  Secondly, that looks like normal H.264+AAC content, so I don't know why it wouldn't be supported.  It looks like it is multiplexed, but there are multiple MIME strings combined instead of combining their codec values.  Is that console line coming from our code or from the platform (i.e. does DevTools tell you where it comes from)?  Can you creat

[2021-02-22 21:01] TheModMaker commented on #3172
Sure, that would help.  Is the single-track manifest using the same content with just the other track removed?  Also, have you tried with v3.0.8?  What error, if any, do you see with that version?

[2021-02-22 21:02] avelad commented on #3144
The content provider has removed it, I will reopen the ticket when I get the stream again (it could take a couple of days ...)

[2021-02-22 21:11] TheModMaker commented on #3174
That depends on a few things.  You can style the subtitles in the files themselves.  We already support styling in TTML and with #3071 we'll support global styling in WebVTT (i.e. not per-cue styling).  However, if not using our UI, styling in the files may not be supported.

If you want to style them outside the subtitle files, you can use CSS.  If you're not using our UI, you can style them with

[2021-02-22 21:25] joeyparrish commented on #3142
Here's an idea: how about if there's no extension and a HEAD request fails, we fall back to assuming it's MP4?  This will only impact HLS content which is lacking in both MIME type metadata and segment file extensions.  It would be cheap and easy to implement, and could be cherry-picked to v3.0.x and v2.5.x.

[2021-02-22 21:52] tylermachen opened #3175 "Absence of timeout for endless rebuffering"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v2.5.19
v2.5.10

**Can you reproduce the issue with our latest release version?**
N/A

**Can you reproduce the issue with the latest code from `master`?**
N/A

**Are you using the demo app or your own custom app?**
Custom app

**If custom app, can you rep

[2021-02-22 22:05] rhosny commented on #3172
yes the content is the same in two streams.
and no I couldn't intégrante and teste with the 3.0.8 version. (only 2.5.10 and 2.5.20)

[2021-02-22 22:15] TheModMaker commented on #3118
This is probably a browser bug.  There is a 0.04 second gap between the discontinuities; we play through this and the browser handles jumping over it.  We just play forward and the browser is not handling it well.  If we were to stop before this gap and manually jump over it, the video would probably play fine; but since the browser doesn't stop for us, we'd need to manually call pause before the

[2021-02-22 22:34] TheModMaker commented on #3140
If you are using a `CastProxy` instance, you can use `getPlayer()` to get a proxy Player object.  Then using `player.getAssetUri()` will return the URL of the asset you loaded.  You can also call the other methods on the Player and it will get the respective values from the Chromecast.  Is this what you are talking about?

[2021-02-22 22:40] TheModMaker commented on #3139
Next time please use the bug template for this kind of issue.  It looks like when playing, we cannot find the segment reference we need.  There is some problem with the segment index.

[2021-02-22 22:41] joeyparrish commented on #3175
If you can't reproduce it, and you can't share content, and you can't share repro steps, then it will be very hard to help you solve this issue.

Universal Windows Platform (Windows 10)
Microsoft Edge v18.19041
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; Xbox; Xbox One; MSAppHost/3.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36 Edge/18.19041

We only just bu

[2021-02-22 22:44] TheModMaker commented on #3096
It looks like the `getUris` function isn't in the compiled bundle even though it is exported.  We'll look into it.

[2021-02-22 23:09] olirehacek commented on #3173
@ismena Thank You, I have managed to solve the issue by specifying the **trackSelectionCallback**.
I see that I have all of the audio tracks downloaded, but it is not possible to switch them in the standard HTML <video> element.

How are you guys implementing the audio track switcher in the video element in the shaka player demo, is that some sort of customized video element ? Thank You.

[2021-02-22 23:26] TheModMaker commented on #3119
When I try with the Edge app, it doesn't support PlayReady.  You can check support with <https://shaka-player-demo.appspot.com/support.html>.  It's odd that you would see that error instead of seeing no support early.  You could take a look at google/generic-webdriver-server#12 for an example UWP app that should support PlayReady.  You could use this to test.

[2021-02-22 23:31] TheModMaker commented on #3175
Also, is this a `buffering` event from the Player or are you using other events (like `waiting`) from the video element?  If the latter, we may be stalled behind a gap.  You can listen for the `largegap` event from the Player or set the `streaming.jumpLargeGaps` config to `true` to have us jump these automatically.

[2021-02-22 23:35] TheModMaker commented on #3055
I would suggest using `getManifest()` and fetching the segments yourself.  All the text parsers are exported, so you can leverage them to help parse the results instead of trying to pass them through our media pipeline.  Note that because of #3096, you won't be able to use this in compiled mode.

[code]

[2021-02-22 23:36] joeyparrish commented on #3119
Yes, we found the same.  Though I recall once many years ago being able to test Shaka on Xbox in Edge, it may have been clear content or they may have removed PR support since.

Try this on a Windows host with VS and all [the prerequisites](https://github.com/google/generic-webdriver-server/blob/main/backends/xboxone/README.md#prerequisites) set up:

[code]

[2021-02-22 23:42] TheModMaker commented on #3034
You can use `player.getManifest()` to get the manifest object, then look at all the [Variants](https://shaka-player-demo.appspot.com/docs/api/shaka.extern.html#.Variant).  You can use `stream.originalId` to get the Representation ID.  Note that because of #3096 you won't be able to use `getUris` in compiled mode.

[code]

[2021-02-23 01:02] joeyparrish commented on #3173
Video elements have no API for switching audio tracks (except in Safari with Apple's native HLS).

Switching audio tracks is done through a method on the `Player` object, or through our optional UI.

If you're building your own UI, call `player.getAudioLanguages()` and `player.selectAudioLanguage()` or `player.getVariantTracks()` and `player.selectVariantTrack()`.

If you're using browser-native c

[2021-02-23 01:49] mihirshroff-g commented on #2993
Thanks @Joey. Will give it a try and update you.

Thanks,
Mihir

Mihir Shroff |  Video Solutions Consultant, gTech |  mihirshroff@google.com
 |  202-657-1879 <(202)657-1879>

On Wed, Feb 17, 2021 at 8:12 PM Joey Parrish <notifications@github.com>
wrote:

[2021-02-23 04:06] Kotekczu commented on #3174
Thank you, that helped.

I'm seeing a weird black space instead of a line-break in 2.5.20.
![breakline_ttml](https://user-images.githubusercontent.com/63554516/108800109-87dcc680-7592-11eb-8720-f15e14229ac7.jpg)

It looks this way in 3.0.8. There's a huge space between lines.
![breakline_ttml_v3](https://user-images.githubusercontent.com/63554516/108800922-b22f8380-7594-11eb-9a29-ee4f52d15cb8.jpg)

[2021-02-23 07:13] nkam12 opened #3176 "FairPlay Indefinitely Buffering Despite Successful DRM Calls"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
"v2.5.20-master-1-gb891d273-debug"

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom app

**If cust

[2021-02-23 12:27] nargesghahremani opened #3177 "custom button"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?yes

**What version of Shaka Player are you using?2.5.2

question: how can i add custom button next to the full screen button in straight way?

I read the document but did not understand what to do:)))  !!

[2021-02-23 13:44] FireMasterK commented on #3155
Hi @ismena,

I was unable to load the uncompiled library, unfortunately, it kept giving errors related to `goog`, which I assume is the closure library.

I've used the debug version in the app, is that of any help?

Most of the player logic for loading the library and the manifest is in `WatchVideo.vue`

[2021-02-23 13:50] apilaszkiewicz commented on #3139
Ok thanks, does it mean that we are producing an improper manifest ?

[2021-02-23 15:17] hcodes opened #3178 "Disable loading of previous segment on seeking"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

We conducted an experiment and got a significant reduction (up to 20%) of stalled on seeking.
https://github.com/yandex-pcode/shaka-player/pull/6/files

The code in shaka is needed for inaccurate manifests.
https://github.com/google/sh

[2021-02-23 18:03] ismena commented on #3177
Hi @nargesghahremani
Maybe a [close button from our demo](https://github.com/google/shaka-player/blob/master/demo/close_button.js) would be a suitable example?

Also, let me try and walk you through the tutorial that you mentioned - basically, you create a new file for your custom button. This part of the tutorial is creating a class, based on our shaka.ui.Element class:
[code]

Next is creating a

[2021-02-23 18:14] #3168 closed

[2021-02-23 18:26] TheModMaker opened #3179 "Make UI ad elements conditional on the presence of ad logic in the build"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Latest `master`.

**Can you reproduce the issue with our latest release version?**
N/A

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
N/A

**If custom app, can you reproduce

[2021-02-23 18:28] joeyparrish commented on #3179
The UI depends on ads, I'm pretty sure.  If you use `+@complete -@ui -@ads`, it should work, I think.  If not, then it's definitely a bug.

[2021-02-23 18:29] TheModMaker commented on #3178
You can use the `streaming.inaccurateManifestTolerance` configuration.  Setting this to `0` disables downloading the previous segment.  Otherwise it is the number of seconds that the manifest can be inaccurate for (i.e.  5 means the segments will only be off by 5 seconds).

[2021-02-23 18:33] TheModMaker commented on #3139
Probably not.  I'm referring to our segment index that we create from the manifest.  This is probably a bug on our part.

[2021-02-23 19:02] tylermachen commented on #3175
Thanks for the help guys. Much appreciated! I know there are no guarantees since we are unable to reproduce or share specific content. Please see below for the answers to your questions.

- Stream Type: VoD
- Segment Size: 4-6 seconds
- Subtitles On/Off: We have data on this issue for videos with and without subtitles
- `buffering` event source: We are only using the Shaka Player `buffering` event

[2021-02-23 19:12] joeyparrish commented on #3175
If it's VOD, that eliminates any of the special cases for live.  If it happens with and without subs, then that eliminates any of the special cases around text.

You could try setting `streaming.jumpLargeGaps` to `true`, or you could try a newer build (v2.5.20 or the latest cherry-picks in the v2.5.x branch).  You could also try the v3.0.x releases.

I'm not sure what else to suggest without a way

[2021-02-23 19:56] rhosny commented on #3172
Hi,
Have you get the send URI and tested it?
any idea about the root cause of the error with the first URI?

[2021-02-23 20:34] chadacious commented on #3130
Your explanations make perfect sense and is essentially what I thought as well.

However, in the case where I don't have control, or have reasons not to fix the source manifest, is there any way that I could extend something in the shaka-player with some additional logic that would attempt to seek forward or backward depending, in an attempt to realign the buffer?

[2021-02-23 21:02] TheModMaker commented on #3172
I got them, but I don't have any insight on why it wouldn't work.  Both manifests use the same codec string, so the support should be the same.  I can't test myself because it's not `https` and there are CORS errors.  If you could post these using `https` and with valid CORS headers to allow playback everywhere, then I could test myself.

[2021-02-23 21:19] nkam12 commented on #3176
There was an unrelated bug in our player code, which led to this. No issue with Shaka.

[2021-02-23 21:19] #3176 closed

[2021-02-23 21:23] TheModMaker commented on #3179
Yes that does work.  Maybe we should move the ads files into the ui?  Do the ads files do anything without the UI?

[2021-02-23 21:27] tylermachen commented on #3175
We do not have enough data to calculate a percentage but it is definitely not common. We are going to continue looking into this on our end with the information you have provided and will try to reproduce it.

[2021-02-23 21:30] TheModMaker commented on #3075
You can check `window.MediaSource` in JavaScript.  This will be present if MSE is supported, otherwise we can't use MSE and only native HLS will be supported.  We can only play DASH content if MSE is available.

[2021-02-23 21:34] joeyparrish commented on #3179
You can use ads APIs without the UI, yes.  We could make the UI function without them, though, by making the UI ads features conditional on the core library ads APIs being present in the build.  It would be similar, I think, to how we did this for the newer text format parsers referenced by Player.

[2021-02-23 21:35] TheModMaker commented on #3045
This appears to be the same as #3139, so I'm going to close this as a duplicate.  If this is still an issue after that is fixed, feel free to reopen or open a new issue.

[2021-02-23 21:35] #3045 closed

[2021-02-23 21:49] TheModMaker commented on #3048
I can't access the URL you provided.

[2021-02-23 22:06] #2964 closed

[2021-02-23 22:06] #2944 closed

[2021-02-23 22:06] #2936 closed

[2021-02-23 22:11] TheModMaker commented on #3141
I agree this should be configurable.  1080p comes from broadcast TV/Movies where it was always 1920x1080.  So how to handle non-16:9 content is a matter of preference (hence the configuration).  What may be better to to fix 1080p,720p,etc and pick the one that is closest instead of arbitrary values like 800p.

[2021-02-23 22:21] TheModMaker commented on #3078
If you set `streaming.useNativeHlsOnSafari` configuration to `false`, does it work?  If you are playing on Safari, we'll use native `src=`, so the browser handles everything.  So we may not be able to parse the tags in this case.

[2021-02-23 22:54] ismena commented on #3179
*glaring* Excluding both UI and Ads, what's wrong with you, people!

Let me schedule this as in enhancement :/

[2021-02-23 23:12] TheModMaker commented on #3169
Probably a duplicate of #3139, but different enough that I won't mark this as a duplicate.

[2021-02-23 23:30] TheModMaker commented on #3059
First, you need to have the `id` attributes be unique; every one in your manifest is `undefined`.  This won't affect the gap, but will cause major problems in live and isn't valid.

The gap is in the video streams, you can see this with `player.getBufferedInfo()`.  Unfortunately I don't have any insights on why this would happen.  You could probably file a bug on Chrome since it's their problem.

[2021-02-24 08:47] FireMasterK commented on #3155
I did some more debugging, the issue only occurs when shaka-player is initialized from `WatchVideo.vue`, I moved the code to `App.vue` and it worked.

To further test, I initialized the player from `App.vue` when the element was in `WatchVideo.vue`.

I tried putting the shaka-player initialization code in a `setTimeout` function and it worked! So, this is what I'm going to stick with for now.

Wou

[2021-02-24 11:03] nargesghahremani commented on #3177
hi @ismena :)

Thanks for the reply
Yes, it was very helpful and thank you
and its my code that works well :))
[code]

[code]

[2021-02-24 17:37] ismena commented on #3177
Nice!
Glad we could help

Out of curiosity - what is the language on the title? Looks like Farsi to me, but I'm not 100% sure :)

[2021-02-24 17:37] #3177 closed

[2021-02-24 17:42] ismena commented on #3155
Nice! I'm glad to hear it's working.
I'll keep your experience in mind in case other people bring up issues with Vue.js.

I'm gonna close the issue as it sounds like you were able to resolve the problem and it seems to be a Vue.js integration issue rather than a player one.

If you ever feel like writing a tutorial for integrating Shaka with Vue, we'll be happy to link to it from the README! :)

[2021-02-24 19:07] TheModMaker commented on #3174
That is probably issue #3103.  If your content still doesn't work after that issue is fixed, please file a new issue with the bug template and a sample URL that reproduces the error.

[2021-02-25 01:06] #3005 closed

[2021-02-25 03:24] joeyparrish commented on #3056
Closed in #3072

[2021-02-25 03:24] #3056 closed

[2021-02-25 05:41] FireMasterK opened #3180 "Overlay incorrectly placed"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.8

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Haven't tried

**Are you using the demo app or your own custom app?**
custom

**If custom app, can you reprodu

[2021-02-25 09:18] #3178 closed

[2021-02-25 09:20] FireMasterK opened #3181 "Resolutions Higher than 1080p in quality selector"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.8

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Not tried.

**Are you using the demo app or your own custom app?**
Yes

**If custom app, can you reproduce the

[2021-02-25 09:23] mkozlov1 commented on #3167
Hi.

Today we use compiled version without UI and have no needs to recompile. I think this

will be the best option.

[2021-02-25 09:38] percytse opened #3182 "Support WebVTT default text color and default text background color"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**Is your feature request related to a problem? Please describe.**

Currently WebVTT subtitle does not support default color described in: https://w3c.github.io/webvtt/#default-text-color
For example, <c.yellow>Text</c> will be displayed instead of a yellow 'Text'.

**Describe the solution you'd like**

[2021-02-25 12:00] nargesghahremani commented on #3177
Yes it is farsi:)

[2021-02-25 14:13] rhosny commented on #3172
I've tested again the first URI manifest for the mono-track this time without any real flux ( server don't stock any segements) behind and  still have the PLA5005 error.
This means that the PLA5005 is generated once get the manifest and parsing it, and when I parse the manifest file, it seems correct. do you get the same issue once parsing the manifest on the shaka player?

[2021-02-25 14:43] rhosny commented on #3172
it seems my issue is realated to old one on Google groups:
https://groups.google.com/g/shaka-player-users/c/TzuJGrtqIbY
but I cann't find the bug track where it is resolved, can you help?

[2021-02-25 14:52] rhosny commented on #3172
someting like this issue
https://groups.google.com/g/shaka-player-users/c/TzuJGrtqIbY and its fixe in dash_Parser.js
https://github.com/google/shaka-player/commit/7dc98a7d6b81c1bd245aa10f7b5c963ae5675382
?

[2021-02-25 17:32] ismena commented on #3180
Hi! Deleting the "controls" attribute on the video element will solve this.
This attribute enables native browser controls, to which you add Shaka controls with your code. This you end up having 2 sets, one on top of the other :)

[2021-02-25 17:49] caridley commented on #3138
On Tizen TVs we have observed this behavior when there is memory pressure that prevents buffering more than a couple of segments. When this occurs we see quota exceeded errors in the debug logging.

[2021-02-25 18:29] TheModMaker commented on #3181
There should be nothing in the UI that filters the resolution.  Are the other tracks present in `player.getVariantTracks()`?  Is the content encrypted?    What is probably happening is the content is encrypted and the license server didn't give us the keys for the higher quality.  Another option is the content isn't supported by the browser.  This is probably content-specific, so we'd need a test

[2021-02-25 19:09] avelad commented on #3144
@TheModMaker New stream:

https://shaka-player-demo.appspot.com/demo/#audiolang=es-419;textlang=es-419;jumpLargeGaps;uilang=es-419;asset=https://streamer.zapitv.com/provision/NO_GRITES.mp4/index.mpd;panel=HOME;build=uncompiled

"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:85.0) Gecko/20100101 Firefox/85.0"
![image](https://user-images.githubusercontent.com/8983024/109203998-1de83b00-77a5-11eb-820

[2021-02-25 19:15] avelad commented on #3144
Note: the same stream in macOS works correctly.

[2021-02-25 19:22] avelad commented on #3144
I have found something very curious ... without the jumpLargeGaps setting it works. But if I activate it, it doesn't work ...: S Exactly what the url that I have sent has......

[2021-02-25 19:25] FireMasterK commented on #3180
Thanks! That did the trick 👍

[2021-02-25 19:25] #3180 closed

[2021-02-25 19:35] FireMasterK commented on #3181
My content does not have any DRM, so that's not an issue here.

I will try your other suggestions and report back. 👍

[2021-02-25 20:06] #3164 closed

[2021-02-25 20:06] #3020 closed

[2021-02-25 20:07] joeyparrish commented on #3181
Please try in Chrome.  If the higher resolutions show up in Chrome but not Brave, it is likely an aggressive anti-fingerprinting measure in Brave which reports false information when we query about supported streams.

I have been anticipating this as a possibility in Brave or Duck Duck Go for a long time now, but I still hope this is not the case.  If Brave and other privacy-focused browsers start

[2021-02-25 20:59] joeyparrish commented on #3144
That sounds like a coincidence to me.  jumpLargeGaps shouldn't have anything to do with it, and the content plays for me (with jumpLargeGaps and without) in ChromeOS.

[2021-02-25 21:15] TheModMaker commented on #3144
Your screenshot doesn't appear to show an error from us, just a console log.  If you click play, does the video play?  How about if you seek?  If you go to `about:config` (for Firefox), check that both `media.mp4.enabled` and `media.mediasource.mp4.enabled` configs are `true`.

[2021-02-25 21:17] FireMasterK commented on #3181
I tried chrome and chromium to no avail.

I think I may have discovered why this issue exists.

When you have both WEBM and MP4 streams in your dash file, it only shows those formats which have the same resolution for both.

Let say we have these in the dash file:
2160p WEBM
1440p WEBM
1080p WEBM
1080p MP4

I think this is why the 2160p and 1440p formats don't load.

The manifest can be found here

[2021-02-25 21:20] avelad commented on #3144
If you click on play it doesn't work. if you do seek if it works. mp4 and mediasource are activated.

[2021-02-25 21:22] FireMasterK commented on #3181
Here's my output of:
[code]

[code]

It seems like the affected resolutions are not being loaded at all 🤔

[2021-02-25 21:24] TheModMaker commented on #3181
This is caused by #3056, which was recently fixed.  You can try with the [nightly site](https://nightly-dot-shaka-player-demo.appspot.com/) or with the latest code from `master`.

What happens is we choose an initial container and codec and we can only play those.  So if we choose MP4 initially, then we'll only be able to play those streams.  In the latest `master` we should pick WebM since it has

[2021-02-25 21:34] TheModMaker commented on #3144
So that log isn't relevant for some reason.  It comes from something else (maybe an extension?).  There is a small gap at the start of your content.  What may be happening is the browser sometimes doesn't play through it and we get stuck.  So it probably has to do with gap jumping not handling this correctly.  I don't see any logs about jumping the gap in your screenshot, so we're not jumping it c

[2021-02-25 21:40] FireMasterK commented on #3181
Thank you! It seems to be fixed on the nightly site, I will wait for the next release now.

[2021-02-25 21:40] #3181 closed

[2021-02-25 21:43] avelad commented on #3144
![image](https://user-images.githubusercontent.com/8983024/109223363-c81e8d80-77ba-11eb-91e6-a9a53567f9a9.png)

[code]

[2021-02-25 22:38] joeyparrish commented on #3144
Sounds like https://github.com/google/shaka-player/commit/f7cc2f94312a970f356e9a1a8f47b9ab2216cef6 which landed after v3.0.8.  Is this fixed in the nightly build?

https://nightly-dot-shaka-player-demo.appspot.com/

[2021-02-26 00:04] TheModMaker opened #3184 "HLS SUBTITLES listed in CODECS not supported"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.0.8

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo

**If custom app, can you reproduce the issu

[2021-02-26 00:13] TheModMaker commented on #3184
The error may only be caused by us thinking the content is audio+video since there isn't an audio stream and that is the audio codec.  I think it works with different audio and video streams, see https://github.com/google/shaka-packager/issues/903#issuecomment-785329070.

[2021-02-26 00:24] dsparacio commented on #2867
@joeyparrish I am picking back this up, will supply result asap. May be a few days to get the person with the LG that reported it to test. They are out this week. Just a heads up.

[2021-02-26 00:38] kqyang commented on #1959
There is a related bug on Shaka Packager: https://github.com/google/shaka-packager/issues/645.

[HLS Authoring Specification for Apple Devices](https://developer.apple.com/documentation/http_live_streaming/hls_authoring_specification_for_apple_devices) specifies that

So the codec information for WebVTT is optional, but recommended for TTML.

Would it work in the player to properly support TTML co

[2021-02-26 03:53] joeyparrish commented on #1391
Just for a quick update, the weird results I get on Chromecast are limited to our test environment.  It seems to be triggered by the iframe used to run our tests on the device.  I'm talking to the Cast team about this to get it fixed.

[2021-02-26 03:55] joeyparrish commented on #2867
No worries.  Thanks!

[2021-02-26 03:56] joeyparrish commented on #1959
That seems reasonable to me.  We would be happy to review a PR if anyone has time to work on this.  Thanks!

[2021-02-26 06:48] avelad commented on #3144
You're right, it gets fixed with that commit. Thanks @joeyparrish

[2021-02-26 06:48] #3144 closed

[2021-02-26 06:57] michellezhuogg commented on #2676
<img width="818" alt="Screen Shot 2021-02-25 at 10 54 48 PM" src="https://user-images.githubusercontent.com/28269801/109266388-dec5e400-77bc-11eb-9ac8-dda3dac53bf4.png">

[2021-02-26 10:17] osmestad opened #3185 "Shaka Typescript definition overriding Google Cast Sender with incomplete defs"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes, this does probably relate to #1030, but I assume it is cleaner to report it as a separate bug.

**What version of Shaka Player are you using?**
3.0.8

**Can you reproduce the issue with our latest release version?**
NA

**Can you reproduce the issue with the latest code from `master`?**
Not tested

**A

[2021-02-26 11:33] rhosny commented on #3172
Is the order of présentation in the manifest file (Audio id=1 then video id=2 ) can invoke this error?

[2021-02-26 12:11] FireMasterK opened #3186 "TTML captions with overlapping times appear weirdly."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.8

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Not tried

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reproduce t

[2021-02-26 19:12] arturparkhisenko opened #3187 "Rewind causes endless rebuffering"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**

- v2.5.10
- v2.5.19
- v3.0.8

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo App

**If custom app,

[2021-02-26 22:14] #3167 closed

[2021-02-27 06:28] interlark commented on #3055
@TheModMaker, thanks for that and that you mentioned that bug.

[2021-02-27 06:28] #3055 closed

[2021-02-27 16:09] zsoltbokor commented on #3140
I decided to not use CastProxy and also had to extend the receiver implementation. As I see the Shaka implementation is designed to send directly the manifest url and load that on the receiver but I have to pass a content id only for what on the receiver download the meta data, manifest url etc, init DRM flow and then load the manifest what I got back. I will close this issue.
Thank you for your r

[2021-02-27 16:09] #3140 closed

[2021-03-01 04:20] #3174 closed

[2021-03-01 16:47] olirehacek commented on #3173
yes

[2021-03-01 17:07] #3173 closed

[2021-03-01 17:45] joeyparrish commented on #3184
Should be easy enough to filter out common text codecs there and fix the multiplex detection in the HLS parser.

[2021-03-01 18:30] joeyparrish opened #3188 "Breaking changes for Shaka Player v4"
Hi everyone,

Now that we are following semantic versioning more strictly (since v3.0.0), we are not making any breaking changes until v4.  This issue is to collect ideas and discuss the sorts of breaking changes we could make in v4.  We don't have a timeline for Shaka Player v4, but I would expect to bump the major version some time in the next 12 months (end of Q1 2022).

[2021-03-01 18:33] joeyparrish commented on #3188
To start, I would like to rethink gap-jumping.

The API changes for this would be minor (a few changes to the configuration fields only), but would be breaking changes.  I intend to publish a doc in the near future detailing my ideas on this, but in short, I would like to get rid of the "small/large" gap concept, to always jump gaps by default, and to completely rethink the behavior and triggers o

[2021-03-01 18:56] avelad commented on #2339
@joeyparrish In which version is this issue going to be solved, in 3.1 or in 4.0? After seeing the post of version 4.0 and the follow-up of a semantic version, I would like to clarify this.

[2021-03-01 20:15] duggaraju opened #3189 "DASH VOD manifest with large offset at the start can't be played. Seek doesn't work either."
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.8

**Please ask your question**
the link to Dash MPD is here : https://amsts11mediaarmaccpmxj-ts111.streaming.media.azure-test.net/79d49732-c6

[2021-03-01 20:22] caridley opened #3190 "Frequent MEDIA.VIDEO_ERRROR 3016 "Buffers did not monotonically increase" on 2020 Samsung Tizen TVs"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes - I see one other issue that references the same error message, but it sounds like there problem was caused by a stream problem. https://github.com/google/shaka-player/issues/2833

**What version of Shaka Player are you using?**
2.5.20 and 3.0.8

**Can you reproduce the issue with our latest release ver

[2021-03-01 21:00] joeyparrish commented on #3188
I've also been thinking about dropping `CastProxy` and `shaka.cast` and integrating the UI directly with the Cast Application Framework v3.

In short, the way we're offering these Cast APIs predates CAF and is not the way the Cast team would have us do things.  By proxying the full Shaka Player API across the Cast message bus as we do today, we have a complete mirroring of every method from sender

[2021-03-01 21:04] joeyparrish commented on #3188
Another breaking change we should consider is dropping our abuse of Closure Compiler's "externs" to prevent renaming.

If we stop using public fields (as we do in SegmentReference) and record-type interfaces (as we do in the types consumed and produced by plugin interfaces), we could move everything to classes implemented by us in the library, with exported getters/setters/builders.  Plugins that

[2021-03-01 21:09] joeyparrish commented on #3185
That makes sense.  We should ideally not generate definitions for things that are not exposed by us.  I don't believe the Cast API is exposed through ours.

The trouble is that some of the true external types that we depend on _are_ exposed through our API, and without those definitions, the generated definitions for Shaka Player would be incomplete.

I'm not sure the right way to address this in

[2021-03-01 21:45] joeyparrish commented on #3186
I see the problem on that page, but not in our demo app running the same version of Shaka Player.

Here's how I loaded your text content in the v3.0.8 demo:
1. Open the demo: https://shaka-player-demo.appspot.com/demo/#build=compiled
2. Play something
3. Pause it
4. Open the JS debugger
5. Run `player = video.ui.getControls().getLocalPlayer();`
6. Run `player.addTextTrack('https://storage.googleap

[2021-03-01 21:48] joeyparrish commented on #3186
Indeed, you can see the browser's native display is being used by opening the video element's shadow root:

![Screenshot 2021-03-01 13 44 38 - Display 2](https://user-images.githubusercontent.com/6843156/109563493-b2e48000-7a94-11eb-9536-92f81212fafc.png)

This all works correctly in our UI, but something about your setup is broken, so our UI is not being used for text.  If you can show us how you

[2021-03-01 21:54] joeyparrish commented on #3172
@rhosny, I doubt the old Google Groups conversation you linked to is relevant.  Shaka Player has changed a lot in the years since.  I also doubt that the order of audio & video in the manifest can be an issue.

If you can reproduce the issue on Tizen with logging turned on in Shaka Player, it should tell us why the streams were unsupported.

[2021-03-01 21:58] joeyparrish commented on #3187
@arturparkhisenko, is there reason to believe it's not a duplicate of #2247?

[2021-03-01 22:10] joeyparrish commented on #2339
Excellent question.  We had decided to drop support for IE before the switch to v3.0, and with the transition to v3.0, also announced that we would end IE support in v3.1.  Apologies if this is confusing (or cheating) in terms of semantic versioning.

[2021-03-01 23:52] dsparacio commented on #2867
@joeyparrish Ok tested the DRM fix on LG and that is not the issue.  For this, it GAP related and I do see the pause/ play log line vs the seeking to try to recover the GAP.

I will try some of GAP settings and get back to you.

[2021-03-02 03:52] caridley opened #3191 "On a VOD SAI period transition the player starts loading segments ~7.5 minutes past current position"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?*
Yes - I think this issue might be related
https://github.com/google/shaka-player/issues/3048 Abr Manager Variants out of sync on multi period live DASH playout

**What version of Shaka Player are you using?**
3.0.8
The problem does not occur with Shaka 2.5.x versions

**Can you reproduce the issue with our l

[2021-03-02 03:53] caridley commented on #3191
Here is the manifest player config and some metrics

[player-manifest.txt](https://github.com/google/shaka-player/files/6066085/player-manifest.txt)
[player-config.txt](https://github.com/google/shaka-player/files/6066086/player-config.txt)
[player-metrics.txt](https://github.com/google/shaka-player/files/6066087/player-metrics.txt)

[2021-03-02 03:55] caridley commented on #3191
The problem appears to be associated with transitioning between periods with different different bandwidth ladders.

when current time was 2053 which is just after the period transition at 2051 within the ad break 1976 - 2081
we had buffered 2045 - 2093
we then suddenly load 2545 - which is start of the next ad break

ad prior to 2051 (2021 ) is http://dai-scope010.timewarnercable.com/DASH_VOD/NBC

[2021-03-02 04:38] FireMasterK commented on #3186
Hi, thanks for the detailed answer!

Here is how I load the player:
[code]

[code]

I am aware of `video["ui"]`, but I always have a race condition when using it :/

[2021-03-02 10:41] Alpenglow88 opened #3192 "DRM Cookie Authentication page does not store cookie"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.20

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
N/A

**Are you using the demo app or your own custom app?**
Demo and custom

**If custom app, can you reprodu

[2021-03-02 13:49] arturparkhisenko commented on #3187
@joeyparrish seems right, I'll close this one.

[2021-03-02 13:49] #3187 closed

[2021-03-02 16:27] NoChance777 commented on #3185
I confirm this bug. Currently, we are on  v3.0.5, and when I tried to upgrade to v3.0.8 got many errors about intersections with Chromecast types. If required I can provide more details

[2021-03-02 16:38] nextsux opened #3193 "Issues using WV key rotation on Tizen and WebOS"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.0.5 (with 3.0.8 we have other problems like streams not playing at all - not part of this issue)

**Can you reproduce the issue with our latest release version?**
no, it has other problems

**Can you reproduce the issue with the latest code from `master

[2021-03-02 17:47] michellezhuogg commented on #3193
Tested on Tizen with the manifests and got the same log:

INFO LOG: 'Starting attach...'
INFO LOG: 'Starting load of https://smoula.net/data/wv-enc-test/llama-clear.mpd...'
WARN LOG: 'No variants met the ABR restrictions. Choosing a variant by lowest bandwidth.'
WARN LOG: 'No preferred audio language set.  We have chosen an arbitrary language initially'
WARN LOG: 'No variants met the ABR restricti

[2021-03-02 18:39] michellezhuogg commented on #3161
Hello, looks like the content were download, and we'd like to get more shaka logs with more details if that's possible.
You may try to set the shaka log level by:
shaka.log.setLevel = shaka.log.Level.V2;

Please let us know if you get more logs. Thank you!

[2021-03-02 18:56] ismena commented on #3191
Hi @caridley
Thanks for reporting. Could you try v3.0.8? We had some ad+period related fixes in 3.0, you case could be affected.

[2021-03-02 19:09] nextsux commented on #3193
Do you mean you're not playing the clear non encrypted one? I had problems only with encrypted (particularly with key rotations)

[2021-03-02 19:40] caridley commented on #3191
@ismena  This has been observed with v3.0.8

[2021-03-02 19:57] ismena commented on #3191
Understood.
Do you have the manifest hosted anywhere for an accessible repro?
Feel free to send info to shaka-player-issues@google.com privately.

[2021-03-02 21:17] joeyparrish commented on #3186
There's a lot of strange things going on here.  First, I don't know how your import statements work, but my instinct says you shouldn't have two imports of the same library.  This may create a setup race.

Second, you create a UI Overlay explicitly using `document.querySelector('div[data-shaka-player-container]')`, but that doesn't make sense.  `div[data-shaka-player-container]` is used by the lib

[2021-03-02 21:24] joeyparrish commented on #3192
Chrome recently changed the rules about third-party cookies.  Could this be the cause?

Try opening chrome://settings/cookies and see if allowing all cookies resolves the issue.  If so, we know the new rules are the cause.

https://blog.chromium.org/2020/01/building-more-private-web-path-towards.html
https://www.chromium.org/Home/chromium-privacy/privacy-sandbox#TOC-Turning-Down-Third-Party-Cookie

[2021-03-02 21:26] joeyparrish commented on #2247
Issue #3187 seems to be a duplicate.  We can refer to it for another example of repro.

[2021-03-02 21:36] #559 closed

[2021-03-02 21:50] caridley commented on #2144
We see this situation fairly frequently in some or our live streams. We currently recover by restarting the player which isn't the best experience.

[2021-03-02 22:29] ismena commented on #2144
@caridley I hear you.
I think, we had some gap jumping work planned for v4, maybe this can be part of that.
Let me bring it up with the team. If not, maybe we could accept a PR for this.
@joeyparrish thoughts?

[2021-03-02 23:06] #3119 closed

[2021-03-02 23:06] #3078 closed

[2021-03-02 23:06] #3075 closed

[2021-03-03 03:30] joeyparrish commented on #2144
I think we could add a config option for it.  If set, StreamingEngine could move on to the next segment if a segment request fails.  I feel certain it should be used only for live streams, but I'm not sure if that would be best enforced or just documented for that option, and left to applications to decide.  I think I would lean toward giving app developers the choice.  It probably wouldn't actual

[2021-03-03 06:52] avelad commented on #2144
In my opinion:
In Live streams we should always try to reproduce, skip gaps and even erroneous segments. What the user wants is to play the Live stream, in DVB this is always the case, so in adaptive streaming it should be the same.

Note: there is sometimes that there is the catchup/startover/retrogrid/... option that uses a circular buffer of N days and in the end the playlist is VoD, so here it

[2021-03-03 09:00] NoChance777 commented on #3185
[code]

[2021-03-03 09:25] Alpenglow88 commented on #3192
@joeyparrish Thanks for this!

Unfortunately, I don't think this is the problem here.

I am seeing that after navigating to the set_cookie page and back to the Shaka implementation, when attempting to load the asset I am now seeing the `CWIP-Auth-Cookie` stored in the Application tab of the dev tools (which it isn't if you do not visit the set_cookie page first) but I am not seeing it stored in th

[2021-03-03 10:11] btsimonh commented on #2247
for info:
I'm literally on the verge of using 3.0.8 in production.
My config is:
    var config = {
      abr: {
        enabled:false,
      },
      streaming:{
        smallGapLimit:0,
      },
      drm: {
        servers: {
          'com.widevine.alpha': '*** my server ***',
        }
      }
    };
Apart from that it's a pretty vanilla usage pattern.
I believe the 'smallGapLimit:0' avoids t

[2021-03-03 16:08] caridley commented on #3191
This problem seems occurs on about 5% of period transition in VOD DAI streams. Sometime the player successfully jumps the large gap introduced by loading segments from a later period. Other times it gets stuck in a buffering state.

I tried to reproduce this problem at the same position in the same manifest using a charles proxy local map to serve the manifest attached to this ticket, but the prob

[2021-03-03 16:20] FireMasterK commented on #3186
The problem I have with
[code]

Is that sometimes I register this listener a lot later, thus the event not firing, is there any other way to solve this?

[2021-03-03 16:26] rhosny commented on #3172
Hi,
We are working on a complète log for the player with the stream.
Meanwhile I'll send you the new URI to teste from you side as well.
Best.

[2021-03-03 18:21] caridley commented on #3190
We think this problem will be cleared up in a future firmware release from Samsung

[2021-03-03 18:51] ismena commented on #3191
I can access your stream - thanks for setting this up!
What I'm observing - at some point the player gets stuck in a buffering state (from your report I'm assuming it's a period boundary). I don't see a clear link to ads - it gets stuck during the main presentation as well for me.

We'll investigate!

[2021-03-03 18:55] ismena commented on #2144
@joeyparrish Are we open on PRs on this with our current gap jumping logic or does it not make sense until that's changed?

[2021-03-03 19:06] #2993 closed

[2021-03-03 21:48] #3136 closed

[2021-03-03 22:23] michellezhuogg commented on #3190
Thank you @caridley ! Are you ok to close the issue?

[2021-03-04 00:39] caridley commented on #3191
What we see is that on a period transition within an ad beak it starts loading content way out in the future. But the player doesn't fail until ~40 secnds later when it reaches the start of the humongous gap which may not occur until after we return to main content. We are using a forward buffer goal of 40 sec for VOD.

[2021-03-04 01:47] ismena commented on #3191
Yeah, I've seen the buffering gap too.
I saw a repro this morning, but - of course - when I actually sat down to look into it later in the day, the repro didn't happen :/

You know what would be super helpful - if you see it happening on your side, could you send me a snapshot of the manifest for the period that was supposed to be played (so, if we got stuck between periods 6 and 7, send the manif

[2021-03-04 17:27] caridley commented on #3191
@ismena  I think the information that you are asking for is already available for the originally reported occurance in attachments to the original report and the 1st two comments.

I am doubtful about it being a problem with the content because playing through the same position in the exact same manifest does not always reproduce the problem, and we do not see this problem with shaka 2.5.x

[2021-03-04 17:38] jimmywarting commented on #879
It would have been grate if the Native File System could be used somehow.

[2021-03-04 17:43] joeyparrish commented on #3191
The position in the presentation timeline is dictated by the `timestampOffset` attribute of `SourceBuffer`, which is fed in turn by `timestampOffset` in our `SegmentReference` object.

If there's a giant gap, either:
1. the media is in the wrong place
2. or we skipped a bunch of media

If we skipped a bunch, that points to `StreamingEngine`, `SegmentIndex`, or `SegmentIterator`.

If it's in the wr

[2021-03-04 18:34] ismena commented on #3191
Huh, interesting.
If it doesn't happen with v2.5, but happens intermittently in v3, I would suspect a race condition in our period flattening logic.
Let me try to hunt the repro down again, and walk through the possibilities @joeyparrish suggested.

@caridley You've provided some of what I asked in the third comment. Let me see if I got that right:
In your example, we have played through 2093, whi

[2021-03-04 19:47] michellezhuogg commented on #3193
Hello @nextsux , we tested with all three manifests with Shaka v3.0.8 on Tizen, and they all played smoothly. Could you please try with v3.0.8 when the other issues get fixed, and let us know if it's still happening? Thank you!

[2021-03-04 22:49] caridley commented on #3190
We need to do a little more testing of Samsung's fix to be certain the problem is resolved.

Also, I wonder if this issue should be left open for the benefit of other  people using Shaka on 2020 Samsung TVs until the firmware update is published to all TVs - which may not be for a couple of months.

[2021-03-04 22:51] ismena commented on #3191
Investigation notes so far:
I got another repro, and it looks like something might be going on when we adapt between variants and (possibly) construct a SegmentIndex.
I see that after the switch, the timestamp offset on the video source buffer is equal to the duration of the first period, so we essentially skipped the rest of the period after a switch and started fetching the next period instead.

[2021-03-04 22:53] michellezhuogg commented on #3190
Sounds good. Thank you!

[2021-03-05 18:10] #3121 closed

[2021-03-05 21:04] caridley commented on #3190
We have verified that the samsung firmware change will fix this problem for us. We will update this ticket when we see deployment of the new firmware.

[2021-03-06 00:06] #3034 closed

[2021-03-08 06:16] KazukiSugiyama107 opened #3194 "Error codes 3015, 3016, 6008 occur while playing a video."
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
confirmed.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
I haven't explained the error code of `3015`, so I'd like to ask you a question.

**What version of Shaka Player are you using?**
3.0.6

**Please ask your question**
Multiple errors occurred w

[2021-03-08 08:31] rhosny commented on #3172
Hi,
have you get a look on the new URI (HTTPS)?

Best,

[2021-03-08 15:10] jonasevcik opened #3195 "Not all playlists start at the same time"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.8

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reproduce the issue

[2021-03-08 18:53] joeyparrish commented on #3195
I think I see the issue.  The inaccuracy is not really in gap detection.  The gap really is that large, based on where the segments ended up in the presentation.  This is because we applied the wrong timestamp offset to the segments by assuming that all variants start at the same time.  So the root of the issue is the HLS parser and its assumptions.

I'll update the title and see if there is an ea

[2021-03-08 21:28] Canta opened #3196 "TTML: "smtpe:image" tag should have camel case "imageType" attribute, and shaka player looks for lower case."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.0.8 (uncompiled)

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo

**What browser and OS are you

[2021-03-08 22:06] #3138 closed

[2021-03-08 23:02] joeyparrish commented on #3196
Thanks!  This should be easy to fix.

[2021-03-08 23:21] joeyparrish commented on #3196
We will fix Shaka Player to accept both versions, so existing Packager-generated content with the lowercase attribute name will still function.

[2021-03-09 02:34] #3196 closed

[2021-03-09 15:31] rhosny commented on #3172
Hello,
Can I send you the log here?
I  will push it by email.
Here from u soon...

[2021-03-09 18:26] duggaraju opened #3197 "The start/end time for EMSG v1 event is in media time units instead of presentation time units when timestamps do not start at 0."
From the JSDOC for EmsgInfo:

 * @property {number} startTime
 *   The time that the event starts (in presentation time).

However in the actual code: (streaming_engine.js:)
      startTime = pts / timescale;

We need to subtract the timestampOffset to get the start time in presentation time instead of media time.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open i

[2021-03-09 18:39] TheModMaker commented on #3172
First, the logs you sent contain multiple playbacks that have successful playback.  This is confusing since it's hard to tell where playback sessions begin and end; there's also the possibility of multiple Player instances or having shutdown of another Player affecting a new Player.  In the future, it would be easier if you only sent logs for a single playback session.  There are also a lot of ext

[2021-03-09 18:59] ismena commented on #3191
I have a fix for this in code review. Thanks for your patience! :)

[2021-03-09 22:47] caridley commented on #3191
@ismena  would you like me to take your proposed fix for a test drive?

[2021-03-09 23:01] dhubertus opened #3199 "TTML and CEA-608 captions conflicting with each other when present in text tracks list"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes
* Possibly loosely related:
   * https://github.com/google/shaka-player/issues/3186

**What version of Shaka Player are you using?**
* v2.5.20 but can repro on v3.0.8

**Can you reproduce the issue with our latest release version?**
* Yes, can repro ono v3.0.8

**Can you reproduce the issue with the lat

[2021-03-10 04:37] akashgp09 commented on #2316
hey there, i am intrested to work on this issue. I have a simple query. If i made changes to the code, how can i test it locally ?

[2021-03-10 07:23] avelad commented on #2853
TTML example: https://github.com/google/ExoPlayer/pull/8677/files

[2021-03-10 08:12] subodhk01 commented on #2607
Hey guys, so are we looking for a solution similar to what @MarlonEngFront suggested?

[2021-03-10 12:36] akashgp09 opened #3201 "[Chore] Missing a PR Template"
**Is your feature request related to a problem? Please describe.**

Our project is missing a PR Template

**Describe the solution you'd like**

We should add a PR Template to present our code better for review.

[2021-03-10 18:53] joeyparrish commented on #2316
You can lint, compile, and run automated tests with:

[code]

There are some tests covering the UI, but existing tests won't cover the new button.  (Still run them, though, to make sure you didn't break any existing features.)  You can add new automated tests in the test/ui/ folder.  Let us know if you have any questions about the tests, which are written with Jasmine (https://jasmine.github.io/).

[2021-03-10 19:26] #3191 closed

[2021-03-10 19:42] avelad commented on #2945
Is there a tentative idea when 3.1 is going to be released?

[2021-03-10 20:12] duggaraju opened #3203 "Mapping video timestamps back to media timestamps"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**

Yes
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.8

**Please ask your question**

Is there a way to map the current video time (videoElement.currentTime) back to the media timestamps?  Below

[2021-03-10 20:22] ismena commented on #2945
Alright, I'm gonna pull the plug and say that we're releasing it by the end of April, hell or high water (:
(Unless Joey overrides me because Joey's always right).

I'm hoping for sooner cause we have 15 open issues for 3.1, most of them assigned and the team just agreed to invest in bug fixes for the next couple of weeks.

[2021-03-10 20:24] TheModMaker commented on #3203
The timestamps are added by the `Period@start - @presentationTimeOffset` attributes.  Take a look at https://github.com/google/shaka-player/blob/master/docs/design/dash-manifests.md.  At runtime, you can use `SegmentReference.timestampOffset` to get this from the reference.

[2021-03-10 20:29] ismena commented on #3191
...and done!

@caridley Try your content on our [nightly page](https://nightly-dot-shaka-player-demo.appspot.com/demo/#), feel free to reopen this bug if there are issues.

If you wanna plug the fix into your source instead to test, the comment from @shaka-bot references the commit. This fix will be part of v3.1

[2021-03-10 20:31] duggaraju commented on #3203
Thanks. Is there a way to get the SegmentReference for the current playing segment using the player API?

[2021-03-10 21:01] joeyparrish commented on #2945
From now on, @ismena is always right.  Authority is exhausting.

[2021-03-10 21:09] joeyparrish commented on #3191
I will also cherry-pick the fix to v3.0.9.

[2021-03-10 21:25] subodhk01 commented on #2316
Working on a PR(#3200) related to this issue

[2021-03-10 21:52] ismena commented on #2945
Ok then! We'll shoot for early/mid April, but if not - whatever's ready by May 1 gets released.

[2021-03-10 22:17] duggaraju commented on #3203
Thank you so much. This is very helpful.
Understood that this could change between release().  A quick question would this work for HLS or it only works for DASH?

[2021-03-10 22:20] joeyparrish commented on #3203
It's the same for either, but there is one additional issue that may come up for HLS.  With HLS content using TS containers (instead of MP4), the third-party transmuxer (mux.js) may modify the timestamps.  I can't recall offhand.  but with TS content, there's another component in the mix that we didn't write.

[2021-03-10 22:22] duggaraju commented on #3203
Thanks.  This is really helpful.

[2021-03-10 22:22] #3203 closed

[2021-03-11 03:28] jalajcodes commented on #2607
I think the approach suggested by @MarlonEngFront is better, as there's no need to add an overlay menu, and its easy to find.
Also, I'd like to work on it.

[2021-03-11 04:20] michellezhuogg commented on #2607
Hello @jalajcodes , if you'd like to work on it as a participant of GSoC, we are looking forward to your application. Thank you!

[2021-03-11 04:56] Pratik1234agarwal commented on #1591
I would like to work on this issue. can you guide me how to get started?

[2021-03-11 05:11] michellezhuogg commented on #1591
Hello @Pratik1234agarwal , please take a look at our [tutorial](https://nightly-dot-shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html) as well as [contribution guide](https://github.com/google/shaka-player/blob/master/CONTRIBUTING.md), and let us know if you have any questions. Thank you!

[2021-03-11 06:02] jalajcodes commented on #2607
@michellezhuogg actually I wanted to ask you that this issue is listed as a project idea in the ideas list, are we allowed to work on it even before we get selected?

I am asking this because I saw a PR by subodh that implements one of the ideas from the list.

[2021-03-11 06:35] michellezhuogg commented on #2607
You'll need to go through the application process and officially accept the applications, to get recognized as a GSoC participant, and also get our guaranteed support and mentorship in summer. We have asked @subodhk01 if he is a potential participant of GSoC, and is waiting on his response.
On the other hand, we welcome contributions from developers all the time. If you're interested in any task a

[2021-03-11 11:30] nextsux commented on #3193
We've finished tests with LG 4.3.0:

https://smoula.net/data/wv-enc-test/llama-clear.mpd - OK
https://smoula.net/data/wv-enc-test/llama-wv-no-rotation.mpd - OK
https://smoula.net/data/wv-enc-test/llama-wv-rotation.mpd - FAIL with specific configuration

When we set BUFFERING_GOAL to 40, player FAILs with Shaka Error 3016
When we set BUFFERING_GOAL to value from interval 10-14, playback is OK

our

[2021-03-11 13:50] tanish14 opened #3204 "codecs.charmap_decode(input,self.errors,decoding_table)[0] UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 310: character maps to <undefined>"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.20

**Can you reproduce the issue with our latest release version?**
YES

**Can you reproduce the issue with the latest code from `master`?**
YES

**Are you using the demo app or your own custom app?**
ERROR ON INSTALLATION

**If custom app, can you r

[2021-03-11 13:58] asgvard opened #3205 "Add option to ignore EME expiration times"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.7

**Please ask your question**
Hi! I would like to follow up on the issue about the wrong key expiration times reported by the Tizen 5. This

[2021-03-11 16:19] michellezhuogg commented on #3204
Hello @tanish14 ,

I just googled it and found a possible [solution](https://stackoverflow.com/questions/9233027/unicodedecodeerror-charmap-codec-cant-decode-byte-x-in-position-y-character). Could you please try it?

[2021-03-11 16:52] #3182 closed

[2021-03-11 17:14] tanish14 commented on #3204
Hello @michellezhuogg,
Thankyou for the solution but I looked up for the same solution before and was unable to find the related code line in python script for opening the file. Can you pls tell where I can find it?

[2021-03-11 18:02] ismena commented on #2853
Damn, Asian languages are cool!

This isn't a priority for the team at the moment, but we'd gladly accept a PR.

[2021-03-11 18:05] caridley commented on #3191
Using the master branch with this fix I was able to play through 10 of our VOD ad breaks without seeing this problem. Looks like it's fixed! Thanks @ismena

[2021-03-11 18:11] ismena commented on #3191
Glad to hear.
It was a freakish rounding error that reproed once in a blue moon :/

[2021-03-11 19:20] tanish14 commented on #3204
@michellezhuogg  found the solution
if we add `encoding='utf8'` to the open(), it does not show any error
https://github.com/google/shaka-player/blob/fc3afeb267099c535749275f5545ef1ac1ca67f9/build/generateLocalizations.py#L251

[2021-03-11 19:42] joeyparrish commented on #3204
Yes, please!  We would be happy to have a PR for this.

[2021-03-11 19:44] rhosny commented on #3172
Thankx Jacob for your suggestion, it works fine.

De : Jacob Trimble ***@***.***>
Envoyé : mardi 9 mars 2021 19:39
À : google/shaka-player ***@***.***>
Cc : HOSNY, Reda ***@***.***>; Mention ***@***.***>
Objet : Re: [google/shaka-player] Error 5005 on play H265 stream (#3172)

First, the logs you sent contain multiple playbacks that have successful playback. This is confusing since it's hard to te

[2021-03-11 19:50] #3096 closed

[2021-03-11 20:08] joeyparrish commented on #3192
`document.cookie` only shows you cookies for this document.  If that's your test page, it won't show up in the console, and that's expected.  If you go back to cwip-shaka-proxy.appspot.com, you'll see it show up in `document.cookie`.

I can reproduce your results, but what I see is that:

1. The license server sends a cookie in the HTTP response (set_cookie)
2. The cookie is stored by the browser

[2021-03-11 20:09] joeyparrish commented on #3161
Does it help to seek or pause/play after waking up the device from standby?

Is the live stream still available at the same manifest URL after waking up the device, or has the stream ended?

[2021-03-11 21:56] #3163 closed

[2021-03-11 22:04] michellezhuogg commented on #880
Hi everyone,

Our [design](https://github.com/google/shaka-player/blob/master/docs/design/preload.md) for Preload API is posted for review. Please take a look and let us know if you have any questions, comments or suggestions. Thank you!

[2021-03-11 22:40] lumbridge01 commented on #2172
👋 Hello @joeyparrish!

To avoid removing every .md file one-by-one (and having to add new exceptions in the future), we could exclude all markdown files using `*.md` and negate the pattern exclusively for README.md with `!`.

Considering all the directories mentioned before, the final `.npmignore` would look as follows:

[code]

Note that this also includes the removal of repeating patterns. For e

[2021-03-11 22:58] TheModMaker commented on #3192
Can we set the cookie's settings to allow cross-origin access?  Does this doc help https://web.dev/samesite-cookies-explained/?

For example, can the server set `CWIP-Auth-Cookie=abc;  SameSite=None; Secure`?

[2021-03-11 23:03] TheModMaker commented on #3172
Glad it's working, is there anything else you had problems with?

[2021-03-12 00:00] joeyparrish commented on #2172
That looks good to me, with one exception: third_party/closure/ doesn't exist any more in v3.0+.

I just checked the current size of dist/, and if we're excluding demo/, I see some outputs in dist/ that could also be dropped:

 - dist/demo.*
 - dist/receiver.*

Uncompressed, those occupy another 1.6MB.

One more question:

If we don't need to be able to rebuild the source from the NPM package, do

[2021-03-12 00:01] joeyparrish commented on #2172
Oh, and we can also drop karma.conf.js, which is related to the tests we're excluding.

[2021-03-12 00:13] joeyparrish commented on #3192
That did the trick!  I'm not sure when the "Secure" cookie attribute became a requirement, but we haven't held any training classes since 2019, so that particular tutorial hasn't been checked in a while.  The fix has been deployed to the cwip-shaka-proxy service.

Thanks, @TheModMaker, for the fix, and @Alpenglow88 for pointing out the issue.

[2021-03-12 00:13] #3192 closed

[2021-03-12 04:19] lumbridge01 commented on #2172
My apologies, I was checking on my local npm installation which is still in 2.5.20!

Although I haven't done this myself, I'm not sure if I can speak for everyone as I'm not familiar with the process - I would suggest that we avoid excluding them for now.

Considering the mentioned changes, the final .npmignore would look as follows:

[code]

@joeyparrish, please let me know what would the best co

[2021-03-12 06:59] OrenMe commented on #880
@michellezhuogg this looks really great. Thank you!
My initial thoughts -
1. preload constraints - how does the preload behave in terms of ABR? How can I control what bitrates, codecs and languages are downloaded, is there a new config section that is passed to preload API? I would assume that you can just define the fixes bitrate and languages of text and audio tracks and it will behave more like

[2021-03-12 07:23] avelad commented on #3197
@duggaraju Is it solved with https://github.com/google/shaka-player/commit/fc3afeb267099c535749275f5545ef1ac1ca67f9?

[2021-03-12 07:44] sradhanjan commented on #3204
@tanish14 after making the changes suggested by you I am facing this issue while compiling the program

![image](https://user-images.githubusercontent.com/56840012/110908316-a255c480-8334-11eb-8253-a2531692c31c.png)

[2021-03-12 08:40] surajkumar-sk commented on #3204
@sradhanjan  that is an issue which has already been addressed and solved . It might not be an appropriate solution but it does work . check error #2985 for temporary solution .

[2021-03-12 08:41] #3172 closed

[2021-03-12 08:42] rhosny commented on #3172
for the moment no, Thankx for your support :-)

[2021-03-12 08:42] surajkumar-sk commented on #3204
@joeyparrish , please help me out here . i am not understanding why my PR is getting reject #3210 . it says cla/google failed .
thank you

[2021-03-12 09:36] theodab commented on #3199
You can send the reproduction issue (URIs and such) to shaka-player-issues@google.com, and I'll look into the issue.

[2021-03-12 10:03] covalentbond opened #3212 "Error: Unable to test the build using WSL"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Not applicable

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
No

**If custom app, can you reproduce th

[2021-03-12 14:11] sradhanjan commented on #3204
@surajkumar-sk I have gone through the discussions in #2985 and have made the suggested changes but the output is different from what is given in the tutorial page

![image](https://user-images.githubusercontent.com/56840012/110950973-81a86180-836a-11eb-963f-b43a79f45394.png)

[2021-03-12 14:25] surajkumar-sk commented on #3204
@sradhanjan  . The output is not much different . there are few extra files which have been loaded along with the shown output files . check the folder "dist/" inside shaka-player folder , all the files shown in output are loaded along with few extra files . Don't bother much about other files. keep reading the jsDOc futher .

[2021-03-12 15:18] lipniarz opened #3213 "HLS stream load long because fetch stream files for all bandwith"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
I was try 3.0.0, 3.0.5 and 3.0.8

**Please ask your question**
I would like to avoid fetch stream file for all bandwitch provided in m3u8 file, to

[2021-03-12 15:30] duggaraju commented on #3197
Yes. That commit fixes it.

[2021-03-12 15:30] #3197 closed

[2021-03-12 16:41] joeyparrish commented on #2172
Sounds good.  A PR would be appreciated.  Thanks!

[2021-03-12 17:18] joeyparrish commented on #3204
@sradhanjan, sorry for the difficulty in building on Windows.  You should be able to contribute to the non-CSS parts of the project without the style linter.  Feel free to comment it out as a workaround, as detailed in #2985.  Incidentally, if any Windows user wants to work on #2985, that would be very much appreciated.  I'll leave some additional thoughts on that issue.

@surajkumar-sk, regarding

[2021-03-12 17:18] joeyparrish commented on #2985
It could be that something as simple as upgrading stylelint could solve the issue, or it could be something wrong in our build scripts, or it could be that we need to pass unix-style paths or something for stylelint to understand the arguments we gave it.  I haven't explored any of these possibilities.  Happy to give pointers to any Windows user who wants to help with this.

[2021-03-12 17:19] michellezhuogg commented on #3212
Hello @covalentbond ,

Sorry that none of the team members use Windows Subsystem for Linux, so we don't have a straight answer. It looks like that Karma cannot find Chrome. Does your linux have Chrome installed?

[2021-03-12 17:24] surajkumar-sk commented on #3204
@joeyparrish . I mistyped my email during commit which caused that CLA problem . I deleted the repo and forked it again and then checked my email in cmd before adding a commit , and realised i typed gail.com instead of gmail.com 😅 .

Thank you for help .

[2021-03-12 17:35] #3204 closed

[2021-03-12 17:51] TheModMaker commented on #3212
The default builds for WSL don't have any graphics support in them.  So you can't use graphical apps like Chrome.  You'll need to manually setup X Window and either use a virtual X Window to run tests and Chrome in, or link it to the Windows display so the windows can be shown.

You can try adding `--use-xvfb` to `test.py`, but you may need to install `xvfb-run` to get a virtual X window.  You'll

[2021-03-12 18:08] covalentbond commented on #3212
Thanks @TheModMaker! I was later able to setup on Windows itself after the changes done in #3211.
And will no longer need to setup on WSL for now. Thus closing this issue :)

[2021-03-12 18:08] #3212 closed

[2021-03-12 19:32] dsparacio commented on #2867
@joeyparrish we are going to try some encoding experiments on our side to see if any mixture works but since we can not control the ad inventory encodes, not sure it will help beside uncovering why we are freezing at best.

I wonder if a better approach to this is on player side to update the stall detection and recover logic in general for these smart TV?  Seems like the only way to cover the fra

[2021-03-12 19:45] surajkumar-sk commented on #2985
@joeyparrish . i am a windows user and would love to work on this . upgrading stylelint doesn't work . i just installed the latest version of stylelint . the error still prevails .

[2021-03-12 21:05] dsparacio commented on #2813
We are interested in this enhancements as well.  Second the work on this

@avelad have you asked the community on slack to help clarify this by chance?  I can look into it or bring it up at the next IF meeting I attend?

[2021-03-12 21:12] dsparacio commented on #2179
Hi @joeyparrish Glad to see this in milestone 3.2.  Maybe I can get one of my engineers to contribute to this and we can move it up to 3.1 if done in time?  This is a new priority for us ;)

[2021-03-12 21:17] avelad commented on #2813
If you can ask, I appreciate it. As soon as I know what to implement, I will send a PR. Can you send me a link to the Slack community channel? Is it the official channel of the ShakaPlayer team?

[2021-03-12 21:25] dhubertus commented on #3199
Sent over the information on how to access the application and how to reproduce the described issue. Please reach out if can assist in any way! Thanks for taking a look

[2021-03-12 21:31] dsparacio commented on #2813
@avelad my bad I read that as you were confused on something from DASH spec, but you are saying Shaka Documentation.  So no this is the best place to ask the Shaka team.

[2021-03-12 21:38] joeyparrish commented on #2179
I believe this will be done as part of @michellezhuogg's work on MediaCapabilities.  See https://github.com/google/shaka-player/blob/master/docs/design/codec_preferences.md  There's already quite a lot of work in progress in this area.

I don't think v3.2 is likely to be far behind v3.1, but I'll leave it to Michelle to decide whether and how you could contribute if you're interested.

[2021-03-12 21:43] joeyparrish commented on #2813
What documentation are you referring to?  DASH documentation, or codec string specs, or our docs?

No, I don't, offhand.  Maybe I've misunderstood the issue, or maybe it's just outside of my area of experience.  Can you explain the problem again or differently?

[2021-03-12 21:45] joeyparrish commented on #2985
Please look at the class `CssLinter` in `build/compiler.py`.  This runs stylelint in our build scripts, and generates a command line to do so.  If you can run stylelint on Windows manually, and figure out how to make it work in general, you could then modify the `CssLinter` class in Python to generate the command line differently.

I hope that helps!

[2021-03-12 21:49] joeyparrish commented on #2985
I noticed that the output has backslashes in it (Windows-style paths).  You could try replacing all of those with forward slashes, since forward-slash-style paths should also work on Windows, and hypothetically, a buggy command-line app could be interpreting backslashes as an escape sequence.  I know I've seen various tools behave this way on Windows in the past, especially when cygwin is in the m

[2021-03-12 21:49] surajkumar-sk commented on #2985
Hi , I ran few tests with stylelint on windows to check for possible causes of error . instead of runing stylelint through build/all.py .
I manually typed stylelint command for a specific file in the shaka-player project .

cmd command - stylelint --config "c:\user\file\shaka-player\.csslintrc" --disable-default-ignores "c:\user\file\shaka-player\demo\demo.less"

This command gave an error : No FI

[2021-03-12 21:50] joeyparrish commented on #2985
Nice!  I'm glad that worked.  That should be an easy thing to change where we build the command line in `CssLint`.  Thanks for looking into it!

[2021-03-12 21:54] surajkumar-sk commented on #2985
when command lines is build the ocations are stored in variables . how do we replace the forward slashes with backward slashes inside a variable which is assigned at run time

[2021-03-12 21:55] avelad commented on #2813
https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf --> `10.3. DASH-IF IOP HEVC HDR PQ10` and `11.3.3. DASH-IF VP9-HDR`

In HLS in each video track it is identified if it is HDR or not, but in DASH it seems that it is at the manifest level, so I want to be sure of this and that I have understood the same as you.

[2021-03-12 21:55] dsparacio commented on #2179
@joeyparrish thanks for this update, we will follow that and reach out to @michellezhuogg

[2021-03-12 22:28] surajkumar-sk commented on #2985
@joeyparrish  . only solution which i am able to think of is writing an if condition before we build the command line in CssLint for checking the operating system and replacing all the ' \' with '/ ' for the varables which save the directory location . this problem only occurs in windows due to few exceptions (mistakes done by microsoft ) so writing an if condition is better .

so , should i write

[2021-03-13 01:53] michellezhuogg commented on #880
Hello @OrenMe ,

Thank you for your feedback!
1. That's a great question! Are you thinking about having different configs for different loaders? If so, we can provide configurations to choose codecs and languages for Preload API at the Loader level, same as the configurations at the Player level. If both the configurations in Player and Loader are set, the configs on the Loader level would take pr

[2021-03-13 04:58] michellezhuogg commented on #880
Also, we would be happy to discuss implementation details if anyone is interested in implementing this and create a PR for it. Thanks!

[2021-03-13 05:25] nbcl commented on #2676
**Dear @michellezhuogg,**

I encountered this issue in the ideas list and was really interested by it, specially because I have seen that multiple video players tend to have as many buttons as possible on what would be the "control panel" section, in the interest of facilitating accessibility to them!

I started sketching an initial proposal in my head but I was encountered with a design doubt, co

[2021-03-13 09:01] sradhanjan opened #3215 "Failed to run the tests in the browser"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
2.5.20

**Can you reproduce the issue with the latest code from `master`?**
YES

**What did you do?**

I have cloned the repo and ran " ./build/test.py --browsers Chrome " in the shaka-player directory

**What did you expect to happen?**
program will comp

[2021-03-13 11:33] surajkumar-sk commented on #3215
@sradhanjan Does all the browsers stops at the same test that is 1534 of 2090 .

[2021-03-13 13:35] sradhanjan commented on #3215
@surajkumar-sk this is what I am facing with other browsers

Firefox

![image](https://user-images.githubusercontent.com/56840012/111031441-97328f80-842d-11eb-9ee5-23ba7df26e61.png)

Edge

![image](https://user-images.githubusercontent.com/56840012/111031721-ed540280-842e-11eb-879c-2ff0a5028d57.png)

[2021-03-13 14:22] surajkumar-sk commented on #3215
@sradhanjan Seems like firefox version 38 doesn't support MediaSource . its browser fault nothing can be done , we need to use different browser . or update firefox for latest version and check if that version supports MediaSource . i think the latest version of firefox does support MediaSource . so try updating it .

for edge it seems like karma is not able to find the edge browser . Is edge brow

[2021-03-13 15:14] sradhanjan commented on #3215
@surajkumar-sk it seems like your advice was successful

![image](https://user-images.githubusercontent.com/56840012/111034674-c270ab00-843c-11eb-8016-c69046779d5c.png)

[2021-03-13 15:15] sradhanjan commented on #3215
@surajkumar-sk It seems like your advice was successful, I stayed in cmd while running the tests

![image](https://user-images.githubusercontent.com/56840012/111034732-02379280-843d-11eb-92b0-c582a31bb76f.png)

[2021-03-13 15:44] surajkumar-sk opened #3216 "Gsoc"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
not applicable

**Please ask your question**

I want to contribute to shaka-player for this GSOC 2021. I am pretty good with python and Front end

[2021-03-13 15:47] surajkumar-sk commented on #3215
@sradhanjan Glad to help. @joeyparrish this issue has been solved and can be closed.

[2021-03-13 15:51] kamalmulani opened #3217 "Overflow menus cover control panel elements"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**Is your feature request related to a problem? Please describe.**
NO, I would like to suggest some Video player UI improvements.

**Describe the solution you'd like**

I want to suggest some UI improvement for the player:
1) The range element is a special input element so it might be better if the cur

[2021-03-13 17:45] michellezhuogg commented on #3217
Hello @prophet-x , thank you for your suggestions! We'd love to see a PR for the enhancements.
Please test with different browsers different video container sizes for the css changes. Thanks!

[2021-03-13 18:02] #3215 closed

[2021-03-13 18:04] prophet-x commented on #3217
sure sir, working on it

[2021-03-14 04:16] #3216 closed

[2021-03-14 08:05] sradhanjan commented on #3217
@prophet-x How are you getting extra features in the overflow menu that is "resolution", "language" and "playback speed"?

(this is what I am getting to see)
![image](https://user-images.githubusercontent.com/56840012/111061514-c4cd1680-84c9-11eb-99a0-b281e74665d8.png)

[2021-03-14 13:07] prophet-x commented on #3217
@sradhanjan looks like you are using the video element (which has two control options and rest you have to add using JS ), I have used the shaka-player from the shaka ui library which has all these controls in overflow menu, you'll find more help in the tutorial docs about the shaka ui library and how to configure it.

[2021-03-14 20:10] ayaanmondal opened #3221 "is there any required dependency is missing ?"
Notebook-PC:~/Desktop/shaka-player$ python3 build/all.py
[WARNING] No changes detected, skipping. Use --force to override.
[INFO] Generating Closure dependencies...
[INFO] Linting JavaScript...
[WARNING] No changes detected, skipping. Use --force to override.
[INFO] Linting CSS...
[WARNING] No changes detected, skipping. Use --force to override.
[INFO] Linting HTML...
[WARNING] No changes detected

[2021-03-14 20:33] nbcl commented on #3221
**Hello @ayaanmondal!**

It appears that your machine is missing Java!

The [Shaka Player website](https://nightly-dot-shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html) indicates you need Java Runtime Environment v8+ to compile the library.

It also indicates that you can can install it manually, or you can find a shell script on [build/install-linux-prereqs.sh](https://github.com/goog

[2021-03-14 20:58] ayaanmondal commented on #3221
I install it with a different command.
How to run this project locally ? please help.

[2021-03-14 21:18] nbcl commented on #3221
Great, I'm glad you could install it!

If you now have all the dependencies installed, you should be able to run  `python build/all.py` again to compile the library.

Once the library is compiled, I would recommend that you continue the official tutorial by creating the HTML page that is described in the [Basic Usage](https://nightly-dot-shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html

[2021-03-15 04:58] nbcl commented on #2676
**3/14/2021 Update!**

I had a really interesting weekend diving down and studying the codebase on which I managed to develop a "control panel" version of the "picture in picture" button by following the "two versions" code design that I mentioned in my previous comment.

The implementation mainly reuses code from `ui/pip_button.js` to create a new `ui/loop_button_control.js` that can be added to

[2021-03-15 07:23] Ketan2010 opened #3223 "Configurable keyboard shortcuts"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES, there is no duplicate open issue for this feature.

**Is your feature request related to a problem? Please describe.**
No, Here is suggestion for better usability and accessibility.

**Describe the solution you'd like**
For better usability there should be provision to perform actions on keyboard key's

[2021-03-15 08:39] nirnayjain commented on #3223
I would like to work on this issue

[2021-03-15 09:59] avelad commented on #2004
Resolved with: https://github.com/google/shaka-player/commit/d882d282f9b90f101c7071ba884859abf76b08a8 (https://github.com/google/shaka-player/issues/3182)

[2021-03-15 12:08] nbcl commented on #3223
This sounds like a great feature.

I would like to suggest that you also consider `c` to toggle closed captions if available!

[2021-03-15 12:14] Ketan2010 commented on #3223
Hello @nbcl Sir,
Thanks for valuable suggestion , I will surely look into it.

[2021-03-15 12:49] Ankitsinghchadda commented on #3221
`
PS C:\Project\shaka_player> python build/all.py
[WARNING] No changes detected, skipping. Use --force to override.
[INFO] Generating Closure dependencies...
[INFO] Linting JavaScript...
[WARNING] No changes detected, skipping. Use --force to override.
[INFO] Linting CSS...
Error: No files matching the pattern "C:\Project\shaka_player\demo\cast_receiver\receiver_app.css, C:\Project\shaka_player\de

[2021-03-15 12:50] Ankitsinghchadda commented on #3221
@nbcl  which python interpreter do we have to associate with the virtual environment?

[2021-03-15 13:00] Ankitsinghchadda commented on #3221
@nbcl

[2021-03-15 13:25] sradhanjan commented on #3223
@nbcl So we can work on the projects outside of GSOC idea list right?

[2021-03-15 14:17] CodeDotJS commented on #2863
I'm working on it @joeyparrish

[2021-03-15 14:35] nbcl commented on #3223
Hello @sradhanjan!

Here's a reply from @michellezhuogg on 2607 that I think could be helpful.

Hope this helps!

[2021-03-15 14:44] nbcl commented on #3221
Hello @Ankitsinghchadda!

Your output appears to be similar to the one described in #2985:

[code]

This appears to be happening due to the use of `\` instead of `/` in Windows.

I would advice that you follow #3214, which is an an open pull request that tackles that issue!

Let me know if that helps!

[2021-03-15 15:16] sradhanjan commented on #2607
@michellezhuogg So we will get mentor during GSOC program if the proposed project is outside of GSOC idea list right?

[2021-03-15 15:53] ayaanmondal commented on #3221
@nbcl
where should I create the myapp.js file ???

[2021-03-15 15:57] #2004 closed

[2021-03-15 16:05] joeyparrish commented on #3221
Anywhere you like that is accessible to your local web server.  For example, the root of shaka-player is a typical location.  But if you know how web servers work, you can put it wherever you want and configure your server accordingly.

[2021-03-15 16:06] joeyparrish commented on #2863
Thanks!

[2021-03-15 16:09] joeyparrish commented on #3223
Hi everyone,

Any key shortcuts like this need to be configurable.  Existing Shaka-based applications would not like to be surprised by key bindings that may conflict with those they already have at the app level.  Especially if you want something easy to do by mistake (like a single keystroke) to do something big (like toggle captions or go fullscreen).

Thanks!

[2021-03-15 16:35] Ketan2010 commented on #3223
thanks @joeyparrish sir,
I would like to work on full screen toggle on pressing `f` key as I am looking forward to contribution for Gsoc'21.
I need your initial guide regarding implementation.
Thanks.

[2021-03-15 17:01] ayaanmondal commented on #3221
I am using python3 is there will be any error for that ?

[2021-03-15 17:06] ayaanmondal commented on #3221
![Screenshot from 2021-03-15 22-33-20](https://user-images.githubusercontent.com/46599244/111192003-a147c000-85de-11eb-8fac-d76356325eb4.png)
Getting this after running python3 build/all.py

[2021-03-15 17:28] jennyzhua opened #3230 "Playback stalls during DASH period transitions"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.8

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo app

**What browser and OS are you using?**
C

[2021-03-15 17:37] TheModMaker commented on #3230
In the second Period, you use the same content as the first.  But in this case, you use `presentationTimeOffset` to adjust the media times backwards.  Since the media already is at 0, you make all the times in the second Period negative, so the segments appear at the wrong times and we don't have anything buffered.  If you remove that attribute, it should work.

[2021-03-15 18:23] michellezhuogg commented on #3223
@Ketan2010 ,

Thank you for your idea! We'll need add a configuration field for the key shortcuts, as part of the [UI configuration](https://shaka-player-demo.appspot.com/docs/api/shaka.extern.html#.UIConfiguration).
That way, the developers can configure:
- whether to enable the shortcut keys
- which keys they want to bind the behaviors with.

For example, the developer can enable entering full s

[2021-03-15 18:28] MayankVir commented on #2316
Hi, @ismena @joeyparrish Is this issue available for work?

[2021-03-15 18:37] michellezhuogg commented on #2316
Hello @MayankVir, we have an ongoing PR with part of the work done. You're welcome to look into other issues to make the most of your time.

[2021-03-15 18:56] surajkumar-sk commented on #3223
@Ketan2010 @michellezhuogg Is this an idea for GSOC or just an enhancement idea on which anyone can work now . I would like to implement this feature for getting myself more familiar with the code base of shaka player, If @Ketan2010  doesn't have a problem with that or else I'll just leave this as a GSOC idea .

[2021-03-15 19:10] surajkumar-sk commented on #3221
@Ankitsinghchadda the solution for your problem will be merged to master branch with few hours . So just wait and update your repository for avoiding any conflicts in future .

[2021-03-15 19:17] surajkumar-sk commented on #3221
@ayaanmondal when you run python ./build/test.py -browser chrome command , karma Jasmine will be launched running tests for checking if everything is working on a browser . That screenshot describes karma running tests on chrome . And as for all of your other questions @nbcl has already instructed you to read the docs . For beginning create the app.js file inside the shaka-player folder where all

[2021-03-15 20:03] TheModMaker commented on #3230
Ok, I forgot you can use Period duration to chop off part of a `<SegmentBase>`.  When I see `<SegmentBase>` I assume you're using the whole file.  The problem is that as part of manifest parsing, the second Period has a bunch of references that we evict since they appear in the first Period (since you use the same file, but shifted back).  This messes with the index calculation since we think segm

[2021-03-15 20:26] #2985 closed

[2021-03-15 20:29] joeyparrish commented on #2867
Hi @dsparacio,

We just put out v3.0.9 with this fix: https://github.com/google/shaka-player/commit/01ce0f4b76f360db86e2a375f10af5f34509885d (https://github.com/google/shaka-player/issues/3191)

It seems possible that this issue could also affect LG.  It's not platform-specific, but the manifestation of it is very inconsistent, and it's always possible that the LG platform makes a certain non-dete

[2021-03-15 23:43] Kotekczu commented on #3223
To be able to use the keyboard shortcuts for forwarding and backwarding it's needed to click first on a seek bar point. Is this intended?

[2021-03-16 00:18] michellezhuogg commented on #3223
Yes.

[2021-03-16 00:59] joeyparrish commented on #3221
@ayaanmondal, python 2 and 3 are both supported, but some issues that specifically affected the build on Windows have just been addressed.  Thank you, @surajkumar-sk, for the most recent fix!

@ayaanmondal, if you have any other issues getting started, please let us know, and we will be happy to help you.  Thanks for your interest in Shaka Player!

[2021-03-16 03:02] Ketan2010 commented on #3223
Hello @surajkumar-sk,
This idea is not listed for Gsoc by shaka player. I am just giving my thoughts to contribute and familiarize with repository structure and code. I already started working on this feature but you also can try. you can see actual ideas for Gsoc'21 by shaka player [here](https://nightly-dot-shaka-player-demo.appspot.com/docs/api/tutorial-gsoc-ideas-list.html).

[2021-03-16 03:26] surajkumar-sk commented on #3223
@Ketan2010  , i meant were you considering this idea for GSOC . it's your idea so it's better you work on it .

Anyways , have fun implementing it , I'll be looking forward for the PR . If there's any problem feel free to ask .

[2021-03-16 06:12] MayankVir commented on #2316
Okay sure!

[2021-03-16 06:47] MayankVir commented on #3158
Hi @joeyparrish , Can I start working on this issue?

[2021-03-16 10:29] aditmehta9 commented on #2234
@joeyparrish I checked this problem doesn't exist on Chrome or Firefox browser  OS-Ubuntu.

[2021-03-16 11:15] dulmandakh opened #3232 "npm: latest is pointing to 2.5.21"
npm: latest is pointing to 2.5.21, instead of 3.0.x

[2021-03-16 11:24] dulmandakh commented on #3188
How about transitioning to modern JS build tools like DevTools did https://www.youtube.com/watch?v=BHogHiiyuQk?

[2021-03-16 12:55] surajkumar-sk opened #3234 "Seekbar behaves weird when arrow key is pressed for long ."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

When you select seek bar by navigating through the 'tab' button and keep the arrow key(left or right) pressed it behaves
weird. It does what it is intended to do move 5s forward or backward whe

[2021-03-16 13:11] surajkumar-sk commented on #3234
@joeyparrish @TheModMaker
That feature can be added by adding this logic to `onKeyDown_() :
 .writing an if condition to check for key up for 1.5sec.
 .if false add `tickevery()` to `this.seek_` with switch cases
 .and stop when keyup is triggered .

As per my knowledge, this won't create any kind of conflicts and would fix the bug.

I would like to work on a PR for this, but wanted to confirm if

[2021-03-16 13:38] CodeDotJS commented on #2863
@joeyparrish can you please add the gsoc label over this issue?

[2021-03-16 13:46] Divyansh-P opened #3236 "Highlight current time when hovered on seek bar"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

No. Just a suggestion.

**Describe the solution you'd like**

![ss](https://user-images.githubusercontent.com/70144022/111318704-4fa93f00-868b-11eb-8896-bdabc388e4f3.jpg)
When we point the cursor on the seek bar, that point should be h

[2021-03-16 13:49] avelad commented on #3236
In recent times, Thumbnails have been added at the player level, but it has not been added to the UI, so it makes sense to address it together with this.

[2021-03-16 13:53] CodeDotJS commented on #2812
I'm working on it @joeyparrish

[2021-03-16 16:26] theodab commented on #3103
I tried artificially inserting the following WebVTT into an asset:
[code]
I've tried this on a variety of different versions of Shaka Player, but the line break was rendered correctly in every version I tried. I did see some odd styling with italics tags right after f42ccd2867f341e89cdf27316fd9bb7e63d22772, but they seem to be fixed by now. Is there any extra context to this that I should be aware

[2021-03-16 19:47] nbcl commented on #2643
I have recently read the [styleguide](https://google.github.io/styleguide/jsguide.html) and if I understand correctly, I assume this change should apply to every type.

If the previous assumption is correct, then the fix can be achieved using regular expressions globally.

If that outcome is what this issue is trying to achieve, I would assume the best course of action would be running a regex fin

[2021-03-16 20:16] joeyparrish commented on #2643
Yes, I think a mass search-and-replace is in order.  But ideally, we would also convince eslint to enforce the new style at the same time.  Without enforcement, we will definitely slip into old habits.

[2021-03-16 20:17] joeyparrish commented on #2643
@nbcl, if you can figure out if eslint has a rule for this, and enable it, we would love to receive a PR with the changes.  Thanks!

[2021-03-16 20:26] ismena commented on #3184
I might be misunderstanding, but this looks like bad content to me.
There's a variant tag and a subtitle media tag.
This is the variant tag:
`EXT-X-STREAM-INF:BANDWIDTH=1120520,AVERAGE-BANDWIDTH=1018680,CODECS="avc1.4d401e,stpp.ttml.im1t",RESOLUTION=640x360,FRAME-RATE=29.970,SUBTITLES="default-text-group"`
`FRAMERATE` and `RESOLUTION` attributes suggest a video stream, but the only codec present i

[2021-03-16 20:50] TheModMaker commented on #3184
`avc1.4d401e` is a video codec, it is H.264; the other codec (`stpp.ttml.im1t`) is TTML.

[2021-03-16 20:54] ismena commented on #3184
Ack. Will look into it.

[2021-03-16 20:57] michellezhuogg commented on #3158
Hi @MayankVir, sure!

[2021-03-16 21:32] ronak2121 opened #3238 "Support xlink:actuate=“onRequest”"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**
We are integrating with Ads, and would prefer to use DASH-IF's latest SGAI specifications that allows us to delay filling the Ad Pods while reusing the player heuristics to maintain Quality of Service. Please see: https://dashif.org/doc

[2021-03-16 23:47] joeyparrish commented on #3188
@dulmandakh, in the overview from that video, I see four migrations referenced:
 1. Custom modules -> ES modules
 2. Closure Compiler -> TypeScript
 3. Python build system -> Rollup
 4. Custom Components -> Web Components

None of those are a great fit for what we're discussing here, which are breaking API changes.

We don't have custom components, though offering a Web Component for Shaka Player

[2021-03-17 00:24] michellezhuogg commented on #2676
Hello Nico, thank you so much for your careful analysis and your proof of concept!
I agree with you that having a hybrid base class would be a great approach as it would avoid having duplicate code sources for each button. Let's see that's possible to implement, and if not, we can fallback the "two versions of the buttons" solution. Let us know what you think!

[2021-03-17 05:05] nbcl commented on #2643
Unfortunately, I was not able to find an official ESLint rule for this change, but I have several insights that I think could be of help to point towards the right direction.

First of all, I discovered that none of the different options in the [`valid-jsdoc`](https://eslint.org/docs/rules/valid-jsdoc) rule could be used to achieve the result that we are looking for in this issue. This limitation

[2021-03-17 07:48] Ketan2010 commented on #3223
Hello @michellezhuogg @joeyparrish Sir,
I seen that you have added `Gsoc ` label to issues/suggestions issued by Gsoc contributors. If so, can you please add the same for this issue? if it is really going to beneficial.
Thanks

[2021-03-17 09:46] rroslaniec commented on #2867
We tested it on LG webOS 4.0 - still video stalls. Right now we will try https://github.com/google/shaka-player/issues/3008#issuecomment-737272358 solution.

[2021-03-17 11:30] MayankVir commented on #3158
Thanks @michellezhuogg, Can you guide me to reproduce the bug. I tried in demo app but could not reproduce!!

[2021-03-17 11:46] MayankVir commented on #3158
Also just now I tried playing live stream in demo app and it threw an error of BAD_HTTPS_STATUS and the video play and pause again and again. Should I open a separate issue for this? Below is the attached screenshot
![Capture](https://user-images.githubusercontent.com/41983025/111462430-71b2c800-8744-11eb-9739-968d23848f5f.PNG)

[2021-03-17 11:52] stefanovualto opened #3241 "Close caption access without UI"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.9

**Please ask your question**
I am using shaka without UI and I would like to access the close captions embed in the stream to be able to en

[2021-03-17 12:08] OrenMe opened #3242 "VTT cues relative segment start time is not getting applied"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Tes

**What version of Shaka Player are you using?**
3.0.8 and latest on master

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can yo

[2021-03-17 12:20] OrenMe commented on #3242
I read a bit more in the description of https://github.com/google/shaka-player/commit/4bf22e2359a840fe15c482de5e4671cfb72c14f0.
My two cents here is that there are packagers applying segmented VTT to live videos so this might break them, but if aim here is to conform to IOP then I can also understand why this change was applied.
Nevertheless, would you re-consider?
I can already tell you I saw pla

[2021-03-17 13:15] aaazacky commented on #2316
@michellezhuogg @joeyparrish I am GSoC aspirant I just wanted to ask since @subodhk01 is working on this issue can I still apply for GSoC project 'Add Close Button to the UI Library'?

[2021-03-17 14:03] nafees87n commented on #3236
I want to give it a shot. Can I?

[2021-03-17 14:44] michellezhuogg commented on #3236
@nafees87n Sounds good!
Please test with different browsers / screen sizes, and make sure they all work before you send the Pull Request.

[2021-03-17 14:54] nafees87n commented on #3236
`Thumbnail added at player level but not UI`

 What is meant by this? Can I get some insight on this?

[2021-03-17 14:58] avelad commented on #3236
Here's what I say: https://github.com/google/shaka-player/pull/3145#issuecomment-788186044

If it won't let you open the drive file, you can use the DASH-IF link, otherwise ask me for permission by drive and I'll give you access.

[2021-03-17 16:14] joeyparrish commented on #3241
You actually have four options for displaying text streams of all kinds.  It does not matter whether they are subtitles or captions, embedded in the video or not; the display options are independent of the source of the text.

1. The Shaka Player UI renders text in the DOM, without the need for additional configuration.  Our default UI CSS should place it in the correct location and style it corre

[2021-03-17 16:14] joeyparrish commented on #3241
(BTW, I love that "Don't Panic" icon.  Douglas Adams is one of my all-time favorite authors!)

[2021-03-17 16:15] michellezhuogg commented on #3158
1. No worries if you cannot reproduce, since it's not reproducible with our demo contents. We'll take care of this bug.
2. The error message of the live stream in the demo app is not relevant. Don't worry about it. Thank you!

[2021-03-17 16:30] MayankVir commented on #3158
Okay, Can you guide me through the repository where the parser code for vtt file is written?

[2021-03-17 16:40] #3230 closed

[2021-03-17 17:38] dsander opened #3243 "Switching audio track in Safari stops and stalls playback for DASH streams"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

`v2.5.8` in production, `v3.0.9` while checking if the issue was resolved in a later version

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest code from `master`?**

Yes

**Are you usin

[2021-03-17 17:47] stefanovualto commented on #3241
Thank you for your quick reply!

After adding muxjs and making the namespace available through muxjs instead of mux by default (thanks to this https://github.com/google/shaka-player/issues/1927#issuecomment-491405459). I am getting some weird errors `Cannot read property 'CaptionParser' of undefined` using this [content](https://d1r80j0ybrkzfe.cloudfront.net/cpac/vod/92bce3c0-ed2a-4cdf-bec3-123fc1

[2021-03-17 18:09] bcupac opened #3244 "player.getTextTracks() not returning an .m3u8 embedded text track on Safari"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**
3.0.9

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reproduce the issue usi

[2021-03-17 18:16] nbcl commented on #2676
Understood, I am on it!

I will follow back with an updated proof of concept as soon as I am able to reach the expected outcome under the hybrid base class design.

Thank you very much for your guidance!

[2021-03-17 18:43] sonicd300 commented on #3103
@theodab the code i've added is in `vtt_text_parser.js` in `parseCueStyles` as follows

[code]

Im replacing the line breaks with BR tags because the XMLParser doenst really understands break lines and i couldn't detect below in `generateCueFromElement_` wether the node is a break line or not:

[code]

I've tested with all sorts of combinations, multi lines, fully styled lines, partially styled li

[2021-03-17 18:53] Ketan2010 commented on #3223
Hello,
Current keyboard shortcuts(right and left key for forward and backward) can be accessible only if we click on seek bar once. is it issue or any specific intension behind it ?
I am trying to implement configurable keyboard shortcuts. so, that should behave same as existing one or there should not be need to click on controls buttons to use that shortcut?

I think there should not be any need

[2021-03-17 18:58] #3013 closed

[2021-03-17 20:12] joeyparrish commented on #3241
That error is probably a reference to `muxjs.mp4.CaptionParser`.  If you don't have that, please check that you're using the correct build of muxjs.  I am not deeply familiar with the details, but I know muxjs has multiple builds, and they don't all expose the same namespaces.

Or, alternately, if you're feeling brave, you can adopt the forthcoming v3.1.x branch, in which muxjs is not required for

[2021-03-17 20:33] surajkumar-sk commented on #3223
@Ketan2010 Yes, that feature is intended, shaka-player is used by many users to play videos online for their website. Adding features or buttons or controls which are not implemented in official Shaka-player is pretty easy by using few methods mentioned in docs. so, almost everyone uses different ways to implement the given feature or add a new feature without changing the shaka-player files. As y

[2021-03-17 20:58] asomasundaram commented on #3230
When will the fix be released to what version of the Shaka player

[2021-03-17 21:09] joeyparrish commented on #3223
@surajkumar-sk wrote:

To clarify, since many of us are new here, though @surajkumar-sk speaks with great confidence, he is also new here and doesn't speak for the project.  He is partly right, when he says that the `enableKeyboardPlaybackControls` config must be enabled for keyboard controls to work.  However, he is mistaken to say that it defaults to `false`.  It defaults to `true` (see `ui/ui.j

[2021-03-17 21:42] surajkumar-sk commented on #3223
@joeyparrish thank you for clarifying, I just realized that enablekeyboardplaybackcontrols are true by default. i was working on that improvement with seekbar and couldn't figure out why enablekeyboardplaybackcontrols is true when its default should be false.

just another small clarification why does enablekeyboardplaybackcotrols has a value false inside `onkeyup()` function when the video gets l

[2021-03-17 21:51] surajkumar-sk commented on #3223
@Ketan2010 I am sorry for posting the wrong information. I'll make sure I get my facts clear the next time I try posting something.😅

[2021-03-17 22:04] surajkumar-sk commented on #3223
@joeyparrish  A small confusion led to this big blunder, Eventmanger is listening to key-down for windows and keyups for video container. so onkeydown() gets executed globally and onkeyup() get executed only when focus is inside video container. i was thinking the onkeup() function quits in between because `enableKeyboardPlaybackControls` has default as false and return statement is read and the f

[2021-03-17 22:09] joeyparrish commented on #3223
No worries about the misunderstanding.  Often, there is some better way we could structure or comment or document the code to make it easier to understand.  Thanks for posting again to clarify what you've learned from the code!

In this case, the keydown handler is watching the window to keep track of tab navigation through the controls, while the keyup handler is watching the controls and actuall

[2021-03-18 04:15] michellezhuogg opened #3246 "Add Customized UI css themes and templates"
Our [UI library](https://shaka-player-demo.appspot.com/docs/api/tutorial-ui.html) ​is customizable, and easy to configure following the [tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-ui-customization.html). For example, the developers can set the sizes and colors of the control elements.

This is a feature we’d like more developers to know, and we'd like to have one or two cust

[2021-03-18 05:09] nbcl commented on #2676
The new design is up and running!

The hybrid-class implementation works by adding the "overflows" `@param` to `shaka.ui.PipButton` which is checked via `this.overflows_` while building the class, performing a conditioned addition of the "overflow menu"-exclusive features that can then be ignored when communicating with the "control panel" version of the button.

This achieves exactly the same beh

[2021-03-18 05:16] joeyparrish commented on #3232
That's really odd.  I suppose they are doing that by date rather than by version number.  I released v2.5.21 and v3.0.9 on the same day, but perhaps arbitrarily in the opposite order.

Let me see if this can be fixed without a v3.0.10 release.

[2021-03-18 05:18] joeyparrish commented on #3232
Looks like `npm dist-tag add shaka-player@3.0.9 latest` fixed it.  Sorry for the trouble!

[2021-03-18 05:18] #3232 closed

[2021-03-18 05:21] nbcl commented on #3246
I find the idea of having a custom theme as an example on the tutorial a great start point for new developers who would be interested on customizing their UI.

I would really like to be assigned on this issue!

@michellezhuogg

[2021-03-18 05:36] joeyparrish commented on #2676
My only criticism for what you have in your branch now is the name `this.overflows_`.  As a boolean, it sounds like "yes, this thing overflows", which doesn't make sense to me.  I would suggest `this.inOverflowMenu_` or something similar.

I wonder: is there some way to generalize this?  We could add the same booleans to various overflow menu items and repeat the same process of excluding their ot

[2021-03-18 08:03] CodeDotJS commented on #3246
@michellezhuogg please fix the links related to *UI Library* and *Tutorial*.  Currently, they are pointing to localhost.

[2021-03-18 10:42] stefanovualto commented on #3241
Thank you for your help, you pointed exactly to what I needed. It works like a charm!

Because I am using shaka in production, I can't really 3.1.x branch for now. But I am looking forward to using once released 😃 .

Any way for the future TS-formatted content users and for the users of 3.0.9 and below, I will just add the CDN URL of mux.js that worked for me.

`https://cdn.jsdelivr.net/npm/mux.js

[2021-03-18 10:42] #3241 closed

[2021-03-18 11:16] Ketan2010 commented on #3223
@joeyparrish Sir,
So any newly added keyboard shortcut (Full screen, PiP, Caption) should work on **focus** phenomenon? or that should watch window to keep track as `keydown` handler?

[2021-03-18 12:58] dsander commented on #3243
We are getting the same results when using a HLS stream. Playback works until you switch to a different audio track. https://www.dropbox.com/s/f604y1rer3dussn/hls.zip?dl=0

[2021-03-18 13:27] aditmehta9 opened #3247 "Addition of Replay button icon"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

Shaka-player can have a replay button icon after the video ends instead of the pause button icon.
![image](https://user-images.githubusercontent.com/35133994/111633470-8b730e80-881b-11eb-85c9-2164851ff882.png)

**Describe the solution

[2021-03-18 13:27] aditmehta9 commented on #3247
I would like to work on this issue.

[2021-03-18 14:50] bcupac commented on #3244
subscribing to 'trackschanged' and then calling the player.getTextTracks() works for all platforms.

Closing.

[2021-03-18 14:50] #3244 closed

[2021-03-18 15:00] nbcl commented on #3246
@CodeDotJS, here are the intended links:

1. UI Library: https://shaka-player-demo.appspot.com/docs/api/tutorial-ui.html
2. Tutorial: https://shaka-player-demo.appspot.com/docs/api/tutorial-ui-customization.html

Hope this helps!

[2021-03-18 16:00] aditmehta9 commented on #1675
@ismena I am interested in performing cross-browser testing but I don't which platform I am supposed to use and do I have to test manually or automated. Your guidance will be helpful.

[2021-03-18 17:27] joeyparrish commented on #3234
Thanks for the report!  I'm going to fix this in a different way than you suggested in your PR, though.

[2021-03-18 17:29] ismena commented on #1675
This is actually not up to date and has already been implemented. Sorry for the confusion!

[2021-03-18 17:43] ismena commented on #3247
We actually already replay the video if the play button is pressed once the video ended.
However, something you could do is add logic to replace the icon on the _play_ button to the _replay_ icon once the video has ended and then back to the play/pause if the video was restarted or a new one was loaded.
Would you be interested in that?

[2021-03-18 17:46] aditmehta9 commented on #1675
Ok sir.

[2021-03-18 17:49] aditmehta9 commented on #3247
Yes, sir I meant that exactly that's why I added photo. However, I forgot to mention word icon while writing the issue. Yes, I would be interested in working.

[2021-03-18 17:59] ismena commented on #1675
I honestly don't mind and kinda find this adorable, but just for the sake of representation and diversity awareness - I'm female! :) (So, a ma'am? Maybe? A miss? @ismena is fine though)
So is @michellezhuogg who you'll likely be working with on any gcos projects!

On a related note, turns out only have text rendering screenshot tests, not UI layout, but either way this is very closely tied to our

[2021-03-18 18:08] aditmehta9 commented on #1675
Yes ma'am.

[2021-03-18 19:09] theodab opened #3248 "Embedded captions not displaying in v3.1.X"
While trying to reproduce #3199, I noticed this (probably unrelated) problem.
If you run our embedded captions asset, `Live sim TTML Image Subtitles embedded (VoD)`, and try to turn on the captions, you see nothing. The embedded text track is still in the track list, so we are detecting it, it just has no cues. Meanwhile, in v3.0.X, the captions are displaying correctly.

[2021-03-18 19:33] nbcl commented on #2676
@joeyparrish, I completely agree with the CSS approach.

I implemented it [@nbcl/shaka-player:feat-2676-hybrid](https://github.com/nbcl/shaka-player/tree/feat-2676-hybrid) achieving the intended functionality in a declarative way with no conditionals needed and only virtually adding 1 line of code, apart from the class and registration, of course.

If I am not mistaken, this can be expanded to ach

[2021-03-18 20:07] joeyparrish commented on #2676
Hey, happy to help.  Thanks for taking some time to work on this.

With regards to the submenus, I had an image in my head that is similar to YouTube's menus:

![image](https://user-images.githubusercontent.com/6843156/111690312-44205a00-87ea-11eb-87c8-b46bd2dfb909.png)

But now that I'm thinking it through, it occurs to me that there's really no reason the menus have to be any different than they

[2021-03-18 20:23] michellezhuogg commented on #3158
The cue is parsed [here](https://github.com/google/shaka-player/blob/master/lib/text/vtt_text_parser.js#L301), and here are the [unit tests](https://github.com/google/shaka-player/blob/master/test/text/vtt_text_parser_unit.js#L62).

Similar to "handles a blank line at the end of the file", you'll need a test case with a blank line between the time and the caption:
[code]
And expect it to throw a "

[2021-03-18 20:36] #3161 closed

[2021-03-18 21:01] joeyparrish commented on #2863
I have a fix for this in review now.  Thanks, @CodeDotJS, for the PR that started the conversation and investigation into this.

[2021-03-18 21:02] #3184 closed

[2021-03-18 21:08] dsparacio commented on #2867
@joeyparrish Just got back from PTO and wll test this on our LG again. Get back to you soon and will check out the #3008 item as well.

[2021-03-18 21:16] #3234 closed

[2021-03-18 21:16] #2863 closed

[2021-03-18 23:19] theodab commented on #3199
I tried to reproduce this for a while, but failed.
For whatever reason, I can't see your embedded captions at all. Even if I specifically play an embedded track (by picking the spanish captions, for example, which only have an embedded version), the text displayer has no cues. I've tried in our demo player using both v3.0.X and v3.1.X, same thing in both. I don't know how to change the language in

[2021-03-19 00:17] djeikyb opened #3250 "Extra text track, kind caption. Expected no text tracks"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

3.0.10

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest code from `master`?**

Yes

**Are you using the demo app or your own custom app?**

Custom, following the [shaka ui basic usage

[2021-03-19 01:01] djeikyb commented on #3250
I should mention, this is the simplest reduction of the bug I could come up with. I first encountered this with an hls playlist with multiple video and multiple audio tracks, and with subtitle text tracks as child elements of the video tag. I would see all the expected text tracks, and then also the extra caption track.

[2021-03-19 04:34] dhruvil-shah opened #3251 "Downloading terminates on refreshing the page"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v3.0.10

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
demo

**What browser and OS are you using?**
Chr

[2021-03-19 11:52] ketangupta34 commented on #3247
@aditmehta9 Hey, are you working on this issue, or may I give it a shot??

[2021-03-19 12:22] aditmehta9 commented on #3247
Yes I am working on this issue.

[2021-03-19 16:20] aditmehta9 commented on #3247
I am done with the issue I'll send the PR tomorrow.

[2021-03-19 16:35] joeyparrish commented on #3251
The solution to this will be "background fetch" support: #879

So long as content downloads happen in the foreground, in the page itself, reloading or navigating away will necessarily stop that process.

Your suggestion could be a reasonable workaround, to allow the user to cancel the page navigation if it's accidental.  But I believe that would be best at the app level, rather than putting an ale

[2021-03-19 16:45] ismena commented on #3250
Hi @djeikyb
Does this only happen on Safari or other browsers too?
If you just load the manifest directly in Safari (with no Shaka - post the manifest link into Safari's website navigation field), do you see the fantom text track?

[2021-03-19 16:55] ismena commented on #3243
Hi @dsander
Ideally, we require a hosted manifest link and media content for a repro.
Do you think you can provide that? If you have privacy concerns, you can send the info to shaka-player-issues@google.com

You can check if the issue reproduces with the latest master by trying it on our [nightly demo page](https://nightly-dot-shaka-player-demo.appspot.com/demo/) (under the "CUSTOM CONTENT" tab).

[2021-03-19 17:31] dhruvil-shah commented on #3251
Thank you sir for the information and got the point about your suggestion.

[2021-03-19 19:10] dsparacio opened #3254 "Viacom CBS VTT Text Rendering Issue"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Happens in both

**If custom app, can you reprodu

[2021-03-19 19:11] dsparacio commented on #3254
Discovered in 3.0.5 tested in all version up to latest.

[2021-03-19 19:11] dsparacio commented on #3254
Have not tested 2.x series yet.

[2021-03-19 19:21] aditmehta9 commented on #3247
I have sent the PR with another account (username-aditmehta92) that I use at my office because I was at the office and this issue had a minor change.

[2021-03-19 20:15] nafees87n commented on #3236
I was just tinkering around, trying to understand the workflow. I was trying out some random codes related to tooltips when I added this line in `demo/close_button.js`

`shakaDemo.Tooltips.make(
        this.button_,
        shakaDemo.MessageIds.ALWAYS_STREAM_TEXT_WARNING
    );`

![Screenshot_20210320_014455](https://user-images.githubusercontent.com/56021937/111837452-e7be5700-891d-11eb-964a-8d1

[2021-03-19 20:28] dhubertus commented on #3199
@theodab Thank you for taking a look! Apologies it didn't go to plan, let me create some screen recordings and improve the repo steps. I'll pass the recordings along via the email provided.

[2021-03-19 20:38] #3247 closed

[2021-03-19 20:38] #3251 closed

[2021-03-19 20:43] theodab commented on #3236
@nafees87n
The custom close button is added to the UI inside `shakaDemo.Main.configureUI_`. When you load a tooltip, it attempts to attach the associated localized string, but the localized strings aren't loaded until `shakaDemo.Main.setupLocalization_`, which happens a bit later in the load order.
So if you want that to work, you'll need to re-arrange the order of operations inside `shakaDemo.Mai

[2021-03-19 23:09] dsparacio commented on #3254
closing this for now we need to collect more info

[2021-03-19 23:09] #3254 closed

[2021-03-20 05:57] meet503186 commented on #3217
how can i run shaka player on windows

[2021-03-20 06:50] sradhanjan commented on #3221
I am getting the following error when I try to compile the latest master code

![image](https://user-images.githubusercontent.com/56840012/111861708-58915d80-8976-11eb-8162-ce50cb13d3b1.png)

(I have all the prerequisites required to run the program)

![image](https://user-images.githubusercontent.com/56840012/111861697-457e8d80-8976-11eb-8b6d-8d5b548c6076.png)

[2021-03-20 06:54] FireMasterK opened #3257 "Fonts are loaded from fonts.gstatic.com"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

Shaka-Player UI library loads fonts from google's CDN.

**Describe the solution you'd like**

I would like to package these fonts/files myself.

**Describe alternatives you've considered**

I'm not sure

**Additional context**
![image]

[2021-03-20 07:18] BemusedCat commented on #3248
@joeyparrish Please assign this issue to me. I am working on the PR

[2021-03-20 08:19] abhisheklalnediya commented on #3161
The issue is with DRM, I was using  widewine, it's working fine with Playready

[2021-03-20 10:01] dsander commented on #3243
Hi @ismena,

sharing wasn't the problem CORS is the annoying part 😄

DASH: https://shakadebug.s3.eu-central-1.amazonaws.com/dash/stream.mpd
HLS: https://shakadebug.s3.eu-central-1.amazonaws.com/hls/master.m3u8 (we don't normally work with HLS, I am also getting errors on Chrome, but even without audio playback Safari has the same behavior of stopping playback when switching the audio track)

I did

[2021-03-20 10:17] surajkumar-sk commented on #3221
@sradhanjan did the previous versions of shaka-player work, or is this the first time you are running python build/all.py

[2021-03-20 10:31] sradhanjan commented on #3221
@surajkumar-sk I had successfully compiled the 2.5.20 version of shaka-player, today I cloned the latest master code and encountered this issue

[2021-03-20 10:49] surajkumar-sk commented on #3221
@sradhanjan  I am unable to reproduce the error on my machine (Windows 8.1 X64) which means the code is working fine. there's something wrong with your computer. which terminal are you using to run the command?

[2021-03-20 10:52] surajkumar-sk commented on #3221
Is it windows default cmd or some other terminal software like hyper

[2021-03-20 11:00] surajkumar-sk commented on #3234
@joeyparrish I taught it was better to add code in the existing function rather than creating a new event and adding a separate function. I did listen to key events on windows but added an if condition which would run the code below only if the video container is in focus. After watching your solution my code does seem very complicated and I also kind of feared breaking the code if I change the na

[2021-03-20 11:07] sradhanjan commented on #3221
@surajkumar-sk I am using git bash to compile the code, and windows cmd to check whether missing dependency is working or not

[2021-03-20 11:10] sradhanjan commented on #3221
@surajkumar-sk I am using git bash to compile the code, and windows cmd to check whether missing dependency is working or not. Even in git bash node is working

![image](https://user-images.githubusercontent.com/56840012/111867574-eb43f380-899a-11eb-96d0-2739387974de.png)

[2021-03-20 11:10] surajkumar-sk commented on #3221
@sradhanjan  check dependency on git bash or run that command in windows default cmd. In windows, it's kind of hard to tell what causes problems. so do both and send the results.

[2021-03-20 11:39] surajkumar-sk commented on #3221
@surajkumar-sk run the command on windows cmd. After that, we could diagnose the problem

[2021-03-20 11:44] sradhanjan commented on #3221
@surajkumar-sk
Using git bash
![image](https://user-images.githubusercontent.com/56840012/111868361-8939bd00-899f-11eb-80f7-9f9ea9c112e7.png)

Using windows cmd
![image](https://user-images.githubusercontent.com/56840012/111868378-99ea3300-899f-11eb-929d-f1788cd4e664.png)

[2021-03-20 12:15] surajkumar-sk commented on #3234
@joeyparrish I guessed it right, removing onKeyUp() does cause few bugs. everything works fine when only the 'tab' key is pressed but when you use 'shift+tab' everything after that doesn't work properly. I am unable to select elements in the overflow menu other than the first and last child. and when I press enter on the first child, instead of opening the setting menu it shifts the focus to the l

[2021-03-20 13:03] surajkumar-sk commented on #3234
This happens because `this.pressedKeys_.delete(event.key);` is inside `onControlsKeyUp()` . when tab key is pressed , key event gets added to `pressedKeys_` array from `onWindowsKeyDown()` and **if that key event is already present** in `pressedKeys_` it gets deleted from that array due to  `onControlsKeyUp()` . now when shift is pressed it gets added to  `pressedKeys_`  due to `onWindowsKeyDown()

[2021-03-20 14:01] surajkumar-sk commented on #3221
@sradhanjan I am unable to reproduce the error. tried removing node and npm from PATH in environmental variables. Installed that version of the node but still nothing. could you try re-installing node? working `node -v` does indicate node is installed and working but still trying re-installing that. If that doesn't work we will tag the members of shaka-player for help.

[2021-03-20 15:05] sradhanjan commented on #3221
@surajkumar-sk now it's working fine, two versions of shaka-player were stored in same file. I deleted the previous one and now the latest code compiled successfully. Thankyou for the guidance

[2021-03-20 15:10] surajkumar-sk commented on #3221
@sradhanjan 👍🙂

[2021-03-21 04:34] #3221 closed

[2021-03-21 05:08] surajkumar-sk commented on #3234
@joeyparrish sorry its onControlsKeyDown() not onControlsKeyUp()

[2021-03-21 05:18] aditmehta9 opened #3260 "docs: Replacement of every manually defined link by @link tag"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**
Replacement of every manually defined link in tutorial by @link tag.

**Describe the solution you'd like**
We can replace every manually defined link in the tutorial by @link tag

[2021-03-21 05:29] aditmehta9 commented on #3260
I would like to work on this.

[2021-03-21 06:24] sradhanjan opened #3261 "Playback Speed resets to 1x"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
3.0.10, can also be seen in demo app

**Can you reproduce the issue with our latest release version?**
YES

**Can you reproduce the issue with the latest code from `master`?**
YES

**What browser and OS are you using?**
Chrome and Windows 10

**What did y

[2021-03-21 06:25] sradhanjan commented on #3261
I would like to work on this issue, please guide me for the same

[2021-03-21 06:59] FireMasterK commented on #3257
The source for this is: https://github.com/google/shaka-player/blob/c5af2be27a2256e699763e0570235b30838ed2aa/ui/controls.less#L15-L17

[2021-03-21 07:02] chanchalpatil commented on #2607
I had the same query as @jalajcodes . Is there any communication channel apart from the mailing list where queries related to GSoC can be asked?
I see that people are already working on projects mentioned in the projects list. Can we send proposals with new project ideas as well? @michellezhuogg

[2021-03-21 07:15] surajkumar-sk commented on #3261
@sradhanjan it's Sunday. and members of this project usually don't work on Saturday and Sunday. so they will guide you on Monday PDT. I don't know if this speed reset is intentional or not, but it does seem like a mistake. As far as I understand this issue, this could probably be fixed by changing a few lines in `ui/playback_rate_selection.js`, try understanding that file, you will find a solution

[2021-03-21 07:39] sradhanjan commented on #3261
@surajkumar-sk Ok in a mean time I will try to understand the code base and wait for the response from the members of this project

[2021-03-21 15:03] nbcl commented on #3261
Hello @sradhanjan!

Although, as @surajkumar-sk said, it would be best for you to wait for a  maintainer to give you guidance, as a fellow student I understand that the weekend is probably the period we have the most time to contribute, so I tried my best to give you advice to help you get started.

I was able to reproduce this bug by clicking the small button and the video screen, but also, I rea

[2021-03-21 15:19] sradhanjan commented on #3261
@nbcl Thanks a lot for the guidance, I will try to fix the issue with this approach after any member of this project confirms that this is a bug and need to be fixed.

[2021-03-21 15:27] nafees87n commented on #3236
To calculate the timestamp on tooltip I am using the following formula
`this.video.duration*(event.offsetX/this.seekbar_.getBoundingClientRect().width)`

Is this the correct way to approach this? The value is not being synced with the time displayed by the `presentation_time.js`

[2021-03-21 19:38] prakhartech commented on #3217
hey can I work on this issue please

[2021-03-21 22:06] #2945 closed

[2021-03-22 01:23] joeyparrish commented on #3234
Well, I find that "better" usually depends on context.  It can be tough to judge when you're new to a project.

[2021-03-22 01:30] joeyparrish commented on #3234
Thank you for the fix in PR #3259.  Thankfully, the bug I introduced in my earlier fix is not in any release versions yet.  You fixed it just in time!

[2021-03-22 02:07] joeyparrish commented on #3236
It sounds like you want something similar to this: https://github.com/google/shaka-player/blob/0943c80ce8098ad04ae3546454bdb63c1fee560a/ui/range_element.js#L207-L241

You should try to refactor that method and reuse some of those calculations, rather than trying to recreate the formula.

[2021-03-22 02:24] joeyparrish commented on #3261
Definitely a bug, and definitely a bug in the UI somewhere.  Doing the equivalent using the API does not recreate the issue:

[code]

In fact, if you set the playback rate in the UI, then pause and play via the video API, everything is still fine.  So I suspect the issue would be in the play/pause button in the UI, though it could be a more subtle interaction elsewhere.

Thanks @sradhanjan, for th

[2021-03-22 03:08] surajkumar-sk commented on #3234
True.

when will this version be released, can I get a date. This feature still has some bugs, I am working on an explanation for it and also a possible solution. I am a bit confused about how to explain it, cause I don't understand the bug properly yet.

[2021-03-22 05:37] surajkumar-sk commented on #3234
There are two bugs with the seek bar when the arrow key is used for navigation.
1. when an arrow key is used for navigating the video. the seek bar stops updating, I don't know how I missed this before
2. when the video is navigated through arrow keys and the value of the current time exceeds the max time of the video, the video stops loading, the video keeps buffering for an infinite time after c

[2021-03-22 06:24] aditmehta9 opened #3262 "Bug: Change in Resolution"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**What browser and OS are you using?**
Browser-Chrome, Firefox OS-Ubuntu 20.04

**What did you do?**
Cre

[2021-03-22 06:25] aditmehta9 commented on #3262
I am not sure if this is a bug or it is supposed to happen. If it is a bug I would like to work on this issue and guidance would be really helpful.

[2021-03-22 07:04] chanchalpatil commented on #2453
Hi!
I'd like to take up adding this feature. But How are we planning to add the percentage loaded in UI ?
As in, Display percentage in the center of the spinner or adding a tiny text " 100% loaded " at the bottom right?

[2021-03-22 07:36] chanchalpatil opened #3264 "Negative time display and reverse movement of seek bar when paused in live stream"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-GB;textlang=en-GB;uilang=en-GB;asset=https://storage.googleapis.com/shaka-demo-assets/tos-ttml/dash.mpd;panel=ALL_CONTENT;build=uncompiled

**What version of Shaka Player are you using?**
v3.0.10-uncompiled

[2021-03-22 08:22] prophet-x commented on #3217
hi @prakhartech  there im working on this issue, you can find other open issues to contribute.

[2021-03-22 10:30] surajkumar-sk commented on #3262
@aditmehta9 it's a bug, a similar thing happens to playback speed when the video is paused or played. the members confirmed it as a bug, the playback speed is being worked on by someone else, you could try working on resolution.

[2021-03-22 13:37] pedrosilvabos opened #3268 "Integration with JavaScript framework SDK possible ?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
YES

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
3.0.10

**Please ask your question**
I am using a [JavaScript framework](https://github.com/interfaced/zombiebox) that compiles javascript into ei

[2021-03-22 13:43] surajkumar-sk commented on #3234
In `changeto()`  function in `range_element.js` file `this.isChanging_` was set to true but never set to false which caused ` updateTimeAndseekRange()` in `controls.js` to fail. this fixes the first bug .

I am still working on the second bug. This bug I think is not caused by your changes, but the previous versions handled it by moving the video 1s backwards when the end key is pressed or when th

[2021-03-22 14:21] nafees87n commented on #3236
@joeyparrish
I used the same thing, but still there's a mismatch between presentation_time and tooltip timestamp.
Can you please help me?
**Attatchments for your reference:**
The `hoverTime_` function is called upon `mousedown` event on `this.bar` and `this.seek_` is the tippyjs instance of `this.bar`
![Screenshot_20210322_192828](https://user-images.githubusercontent.com/56021937/112003458-ef1479

[2021-03-22 15:49] nbcl opened #3269 "Add hover tooltips to control panel buttons"
Now that the Picture-in-picture, Loop, and other buttons will be soon available in the UI control panel, it would be great to have tooltips indicate the action and current state of a button on hover.

<p align=center>
<img src="https://nbcl.github.io/images/tooltip.png" width=1000>
</p>

I think this could serve as a milestone list for development:

* [x] When hovering over a button, a tooltip sho

[2021-03-22 16:11] joeyparrish commented on #3261
After some further consideration, I think I recall why we call cancelTrickPlay().  This is meant to work in concert with the fast-forward and rewind buttons (non-default).  If the user is fast-forwarding, then clicking play/pause should go back to a playbackRate of 1.  ("Trick play" is an industry term for fast-forwarding or rewinding, in the way that you would do with old VHS tapes.  Though I don

[2021-03-22 16:14] aditmehta9 commented on #3262
@surajkumar-sk Thanks for the input. I'll start working on it.

[2021-03-22 16:17] surajkumar-sk commented on #3261
@joeyparrish i am not old enough but my grandpa does have a VHS, with some retro speeches and music and few video recording of his time. 😁

[2021-03-22 16:27] joeyparrish commented on #3261
I never had a record player or 8-track, but I had cassette tapes and VHS before CDs and DVDs.  I somehow missed the LaserDisc fad.  :-)

Back to playback rate, there is one more way I found, leveraging a feature built into the browser:

https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/defaultPlaybackRate

In the UI control for playback rate, we could set both playbackRate and defa

[2021-03-22 16:40] surajkumar-sk commented on #3261
Hello @sradhanjan ,
do you still intend to work on this ?

[2021-03-22 16:49] avelad commented on #1705
@joeyparrish What status is this issue in? Is the Xbox already fully supported? If not, what problems are there?

[2021-03-22 16:50] joeyparrish commented on #2453
@chanchalpatil, perhaps start with the API, then move up to the UI.  I suggest this because is will be easier for you to do, it will be easier for us to review, and it will give us time to discuss the UI and how it should look & behave.  @ismena, any thoughts on the UI for this?

[2021-03-22 16:54] joeyparrish commented on #3264
This is expected while paused in a live stream.  In a live stream, the timestamps in the content are not small or meaningful to the user.  The content goes on indefinitely.  So we show the offset from the "live edge", at which "0" is live content happening right now, and "-5" would be content from 5 seconds in the past.  If you pause the content, the distance from the live edge will increase.

Not

[2021-03-22 16:54] sradhanjan commented on #3261
@surajkumar-sk I am still figuring out the solution to fix this issue but if you want feel free to work on it.

[2021-03-22 16:55] #3264 closed

[2021-03-22 17:01] surajkumar-sk commented on #3261
@sradhanjan i was just clarifying that someone's working on it , so other's can work on something else. Keep working and feel free to ask for help.

[2021-03-22 17:46] michellezhuogg commented on #3236
Hello @nafees87n ,
If you're applying for GSoC, please kindly understand that we have limited capacity now and would not be able to provide close guidance until the GSoC officially starts in the summer.
As a general contributor to Shaka Player, you are welcome to send us a PR once you have a complete, fully-tested, ready-for-review solution. Thank you!

[2021-03-22 18:07] TheModMaker commented on #3250
This track is for a CEA track.  I think we add that because we assume there is CEA data even if it isn't present.  We should probably delay-add the track until we see some CEA data.

[2021-03-22 18:12] TheModMaker commented on #3257
I think if you override these fonts in your CSS, then the browser will load yours instead of these.  Unfortunately since these are static CSS files, we can't set these at runtime based on configurations.  But we could add something to the build scripts to replace it.

[2021-03-22 18:42] djeikyb commented on #3250
It's only in Safari, and yep I see this extra caption track shows up without shaka. It looks like Safari is intentionally adding this track. I found this from Apple:

https://developer.apple.com/library/archive/qa/qa1801/_index.html

Apple's recommendation is to positively declare the lack of captions:

They mention ios7 as the motivator for the behaviour, but it applies to Safari. I found that ad

[2021-03-22 19:00] joeyparrish commented on #3250
@djeikyb, do you have an issue filed already against Shaka Packager for this?  If not, I believe I can transfer this issue to the other repo and edit the title to reflect this new information.

[2021-03-22 19:23] djeikyb commented on #3250
No I don't, if you feel it's better tracked there please feel free!

I'm wondering if you want a separate issue for this idea?

[2021-03-22 19:25] baseballbrad3 opened #3271 "Future Tizen support"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10

**Please ask your question**
What’s the status of Shaka Player support on Tizen? I know it is supported right now, but are there any plans

[2021-03-22 19:45] joeyparrish commented on #3250
If the track was created by Safari in src= mode, then we aren't in control of that.

Separately, in MediaSource mode, which is used in all other browsers, we only look for and expose CEA tracks when they are positively signaled in the content.  The idea to wait to create a track for CEA would only make sense if we changed that design and made it so that the player would look for CEA data in all co

[2021-03-22 20:04] nafees87n commented on #3236
Yes, I will be applying for GSoC. I took up this issue to understand the codebase and the workflow. I am aware of your limitations, but I reckon you can still tell if my understanding and approach regarding this particular issue are correct.

The seek bar hover and presentation_time mismatch happens only towards the end of the seek bar, and when I adjust the scale to adjust that towards the end, t

[2021-03-22 20:05] TheModMaker commented on #3082
I think that issue was in #3191, which has been fixed in 01ce0f4b76f360db86e2a375f10af5f34509885d.  Please try again with v3.0.10.

[2021-03-22 20:15] TheModMaker commented on #3269
Sure, that sounds like a good idea.  If you or someone else will work on this, remember we'll need to localize the strings.  These will need to be added to the translation files and we (the team) will need to update these to the translation team.

[2021-03-22 20:21] joeyparrish commented on #3271
No plans at this time to end Tizen support.  If we did, it would likely be certain older versions, not Tizen completely.

We currently test on Tizen 3.0, and provide no support for older versions of Tizen than that.  Some day, we may stop supporting Tizen 3 and only support newer versions.

But again, no plans to change our Tizen support at this time.

[2021-03-22 20:39] TheModMaker commented on #3268
We don't have any experience with that (or most) loading frameworks.  We just provide the library and expect people to import it however they can.  We can't really support every framework out there.  If there is a specific issue you are seeing, we can try to help.  But as for "how to I load in framework Y", we expect you to know how to use your loaders.

I think we support loading as a component.

[2021-03-22 20:41] TheModMaker commented on #2980
I'm closing due to inactivity.  If you have any more questions, feel free to open a new issue or comment with `@shaka-bot reopen` to reopen this issue.

[2021-03-22 20:41] #2980 closed

[2021-03-22 20:41] nbcl commented on #3269
Understood!

[2021-03-22 21:06] surajkumar-sk commented on #3234
@joeyparrish the second bug was caused because the `video.currenttime` was set to this.bar.max. I don't know why but the video doesn't get loaded at its max time and after starting to buffer at its max time it never stops buffering. I don't know why it doesn't buffer at its max time but instead of setting  `video.currenttime` to the max value, we could set it to (max-0.125) this wouldn't make any

[2021-03-22 21:06] TheModMaker commented on #3070
Sorry for the delays.  It is hard to find what video you are talking about on that page (if it is still valid).  If you're talking about the "Trending videos" section, it plays fine for me.  Can you please try to reproduce with a smaller demo, preferably with easier JavaScript access.

It is intended to be using a Blob URL, that is how we handle playback.  If you could tell us how your calls into

[2021-03-22 21:22] TheModMaker commented on #3089
I think I see the bug.  When we do an append, we cache the video's current time and pass that around.  As part of the append, we evict data behind the playhead according to `streaming.bufferBehind` configuration.  We do the eviction based on the cached current time and after we fetch the segment.

So it is possible that, while downloading the segment, we seek backward.  The seek happens immediatel

[2021-03-22 21:31] michellezhuogg commented on #3234
Hello @surajkumar-sk ,

Please understand that we have our limited capacity now and would not be able to provide close guidance until the GSoC officially starts in the summer. You are welcome to send us a PR once you have a complete, fully-tested, ready-for-review solution as a general contributor, and we'll review it as a general contribution when we are available.

Please be kind and only @us fo

[2021-03-22 21:34] surajkumar-sk commented on #3234
@michellezhuogg this just fixes some issues created by previous change. The present shaka-player has major bugs which are very easy to produce and can be solved by very small changes. So i added them .

[2021-03-22 21:46] TheModMaker commented on #3130
One thing you may be able to do is adjust the `timestampOffset` value of the segments or the manifest.  If you have a constant value the manifest is off by (e.g. the manifest is always 30 seconds behind), then you can change the DashParser to include that in the `timestampOffset` field.  This field is used to adjust media times to match the presentation times.  So if the media times are 30 seconds

[2021-03-22 21:46] #3130 closed

[2021-03-22 21:49] TheModMaker commented on #3133
We don't do anything special on the demo.  Make sure you are loading the same version of the library and not using some older version.  Can you provide a link to your site so we can see what is going on?  Are you registering any request/response filters in your app that may be affecting the data?  Are you using a service worker or proxy that may be affecting the responses?

[2021-03-22 21:54] TheModMaker commented on #3159
Since there have been other request for this, I think it is fine to have an enhancement request for some events.  We could use the different properties of segments to detect when this changes and fire an event.  For the "buffering" Period, this should be fairly trivial in StreamingEngine.  For what is being played, that is a bit trickier since we'd need to use `timeupdate` events or some other pol

[2021-03-22 21:58] TheModMaker commented on #3162
We haven't received anything from you.  Can you please send us some content to test with if this is still an issue for you.  Please include "#3162" in the subject so it is easy to find what it is for.

[2021-03-22 22:01] TheModMaker commented on #3189
That link isn't valid anymore.  Can you post a new URL?

Is this VOD?  If so, the `presentationTimeOffset` should be the same as the timestamp of the first segment.  VOD content must start at 0.  This is likely bad content.  You may be able to use a response filter to edit the XML before we get it and fix the `presentationTimeOffset` value.

[2021-03-22 22:12] TheModMaker commented on #3194
You are getting decryption and decoding errors.  This is likely caused by the browser no being able to play the content.  For encrypted content, this may be the license server returning the wrong keys.  Otherwise, this is probably caused by those users having problems with their hardware decoders or using different browsers/versions.

3015 and 3016 are basically the same error.  Both are caused by

[2021-03-22 22:13] nbcl commented on #2676
Sub-menu buttons have arrived!

This was achieved by continuing to follow the hybrid-class design arriving to a proof of concept (currently at [@nbcl/shaka-player:feat-2676-overflow](https://github.com/nbcl/shaka-player/tree/feat-2676-overflow)) that looks as follows.

<p align=center>
<img src="https://nbcl.github.io/images/overflow.png" width=500>
</p>

My only concern with the current approach

[2021-03-22 22:22] TheModMaker commented on #3157
Make sure to override `manifest.dash.initialSegmentLimit` with a larger value (default 1000).  This controls the number of segments that we'll initially load backwards.  If you have a huge number of segments, we won't load them all since it takes up a large amount of memory.

[2021-03-22 22:26] TheModMaker commented on #3213
We currently don't have the option, but you can follow #1936 where we'll add it at some point.

[2021-03-22 23:57] Kotekczu commented on #3157
Thank you, that helped!

[2021-03-22 23:57] #3157 closed

[2021-03-23 00:21] joeyparrish commented on #3213
Also, if your server supports range requests, we will be able to load smaller chunks, which will reduce latency.

[2021-03-23 00:40] chrisfillmore commented on #3188
(I've changed jobs and don't work with Shaka anymore, but I used Shaka almost daily for about 3 years at my previous job. Also some of my knowledge may be out of date.)

IMO the biggest pain point is that the library has few usable abstractions. When working on an actual consumer video product, the following situations come up frequently:
- My company wants to support some device which runs an HTM

[2021-03-23 03:57] sonicd300 commented on #2964
@shaka-bot reopen

I'm trying to side load text tracks on appDataCallback by passing them there (maybe there's a better way) they work sometimes but when disconnecting the cast session the captions picker is gone, in my case im using the built in shaka api, would it be better to open a separate discussion?

[2021-03-23 05:12] sradhanjan commented on #3261
@surajkumar-sk I have noticed even after deleting `control.js` or `play_button.js` from ui folder there are no changes to the html page and video is still working. How is that possible?

[2021-03-23 05:30] surajkumar-sk commented on #3261
@sradhanjan when you run `python build/all.py` all the files of this project gets compiled, checked for errors, and then a new folder dist is created and all the compiled files are added into that folder, which means the whole projects is in that dist folder which can be used by users to create their application. when you delete those files nothing happens because the files of the project which yo

[2021-03-23 05:41] sradhanjan commented on #3261
@surajkumar-sk Ok so whatever changes I make in the code base I will have to compile the program again using
`python build/all.py` right?

[2021-03-23 06:03] surajkumar-sk commented on #3261
@sradhanjan yes

[2021-03-23 06:46] sradhanjan commented on #3261
@joeyparrish @surajkumar-sk The issue has been fixed, now working on the pull request

[2021-03-23 11:46] surajkumar-sk commented on #3236
Hello @nafees87n ,
 now that the members won't be guiding you are you still working on this?

[2021-03-23 11:56] nafees87n commented on #3236
@surajkumar-sk
As you can see, I have been stuck with a problem that I am trying to solve. If I have a complete, ready to review solution, I'll definitely make the PR.

[2021-03-23 11:58] surajkumar-sk commented on #3236
@nafees87n will you be adding a thumbnail above the toolpit.

[2021-03-23 12:06] nafees87n commented on #3236
@surajkumar-sk
If I have a solution for that then yes otherwise no.

[2021-03-23 12:16] surajkumar-sk commented on #3236
@nafees87n Can I give it a try or would you like to do this alone.

[2021-03-23 12:17] nafees87n commented on #3236
@surajkumar-sk
You can try as well

[2021-03-23 13:17] FireMasterK commented on #3257
Would this reflect in the npm package too, or would I have to build it manually for this?

[2021-03-23 13:40] caridley commented on #1030
We also have a strong interest in using Typescript. In the absence of a solid automated process for generating the types we would be happy to help with manually generated types. I think it would be better to have a single typing in the shaka project than to have multiple users maintaining their own types. If types are added we would like to see them in the 2.5.x and 3.0.x branches.

@alexanderceru

[2021-03-23 14:19] hiren3897 opened #3273 "Error code undefined object TypeError: s(...).abr.EwmaBandwidthEstimator is not a constructor"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.4.4

**Please ask your question**
I am trying to load() my DASH manifest URL directly and also by using DashVideoSource but when I run my code:

[2021-03-23 15:40] aluklon opened #3274 "WebOS 4.3.0 can't play clear content after encrypted content"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.21, 3.0.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reproduc

[2021-03-23 15:57] aluklon commented on #3274
Experimentally, it was possible to find out that after successful playback with HTMLVideoElement.setMediaKeys(mk), the next launch without HTMLVideoElement.setMediaKeys(mk) will fail.

video.setMediaKeys(mk);
shaka.load('clear url'); // playback success
// after some time
video.setMediaKeys(null);
shaka.load('clear url'); // playback fail

[2021-03-23 15:59] Ketan2010 commented on #3246
@michellezhuogg Sir,
Using current UIConfiguration for css we can only change color of seek bar (seekBarColors) and volume bar (volumeBarColors).
So are you expecting theme and template by customizing css of only these two controls?
also you are asking for link of separate css file but customizations can be done inside ui.configure(). can you please clarify?
Thanks!

[2021-03-23 16:29] david-hm-morgan opened #3275 "TTML clockTime at multiple levels incorrectly has an additive effect"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.x

**Can you reproduce the issue with our latest release version?**
No

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
Yes

**If custom app, can you reproduce the issue u

[2021-03-23 16:30] TheModMaker commented on #3261
You do NOT need to rebuilt when you make changes if you use the uncompiled library.  If you are using our demo, then it uses the uncompiled library by default.  You only need to rebuild if you are using `shaka-player.compiled.js`.

Note that the browser will probably cache files, so even if you refresh the page, you may still see the old files.  You either need to clear the browser cache or disabl

[2021-03-23 16:39] TheModMaker commented on #3273
`DashVideoSource` was removed over 4 years ago when we released v2.0.  You also don't need to create any bandwidth estimator, it is handled internally.  Check out our latest [basic tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-basic-usage.html) for how to setup the latest player.

6001 is [REQUESTED_KEY_SYSTEM_CONFIG_UNAVAILABLE](https://shaka-player-demo.appspot.com/docs/api/s

[2021-03-23 16:58] TheModMaker commented on #3246
You can also style the UI with standard CSS using our mostly undocumented CSS classes.  For example, you can make the current time red with:

[code]

[2021-03-23 16:58] hiren3897 commented on #3273
Hello, thank you for the response.
I understood that DashVideoSource is removed and I have now Implemented the player with the latest basic tutorial.
In my project, I am using webpack and have installed shaka player using npm install shaka-player passed as devDependency in my package.json

I am using the live streams API of Equida channel configured by my company you can see [here](https://equidia

[2021-03-23 17:07] TheModMaker commented on #3273
The error includes `EME use is not allowed on unique origins`, which comes from the browser.  My guess is this is a `file://` URL or an `http://` url, neither of which support EME.  You need to use a real web server that is hosted on `https://` to be able to play protected content (note you can use `localhost` as `http`, but not other sites).

[2021-03-23 17:53] hiren3897 commented on #3273
When I am running on localhost it gives me the following error displayed in the image.

![Screenshot from 2021-03-23 18-51-25](https://user-images.githubusercontent.com/59652404/112194313-01ef8200-8c09-11eb-92bb-b0bbacb93cc2.png)

[2021-03-23 18:01] michellezhuogg commented on #3273
That's caused by CORS. You can open a browser with web security disabled.

If you are using Mac:
`open -na Google\ Chrome --args --user-data-dir=/tmp/temporary-chrome-profile-dir --disable-web-security --disable-site-isolation-trials
`

If you are using Linux:
Open a Chrome browser with web security disabled. Run command:
`
google-chrome --disable-web-security --user-data-dir=~/Desktop/tmp/
`

Als

[2021-03-23 18:04] TheModMaker commented on #3273
That is a CORS error, see the [doc on MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) for more info.  Your manifest and media files need to have the correct response headers to be visible to JavaScript running on another domain.  You either need to add headers to the manifest/media responses or have the player on the same domain as the manifest/media files.

[2021-03-23 18:32] hiren3897 commented on #3273
Nope, I tried from chrome dev-tools but it didn't work. Thank you

[2021-03-23 18:35] hiren3897 commented on #3273
Yes, You are right because when copy and paste this link directly in the browser it gives response but when I try to do player.load() it gives me CORS errors because the headers are not open for another domain on the server-side. I will discuss this with my teammates tomorrow and let you know :)

[2021-03-23 20:18] caridley commented on #3188
Please think about application migration strategy. There will almost certainly be some period of time where our application will need work with both the new and old versions. Perhaps a facade implementing the old interface could be proved if there are to be major changes to the interface.

[2021-03-23 20:23] mamaddox commented on #3046
Hi @joeyparrish
Thank you for the suggestion and I am very sorry for taking so long to get back to you.
I tried updating shaka to 3.0.8 and am still seeing the same behavior. I also tried with shaka 3.0.10 and the stalling and crashing was still happening. I tried both versions in the custom app and on the demo page in the samsung browser.
Not really sure what's causing it, but let me know if I ca

[2021-03-23 21:35] caridley commented on #1030
@alexandercerutti  the types you provided provided in https://github.com/google/shaka-player/files/5568831/shaka.d.ts.zip seem to work reasonably well.

[2021-03-23 21:39] alexandercerutti commented on #1030
@caridley thank you, it took me a bit of time to create them manually (I've been working with shaka player for over two years now). Anyway, I didn't have the chance to test typescript declarations based on JSDoc, so I don't know how effective could it be as a solution.

[2021-03-24 04:00] caridley commented on #1030
@alexandercerutti Here is an updated version of your type file in which I have added an event map for addEventListener

[shaka-with-addEventListener.d.ts.zip](https://github.com/google/shaka-player/files/6194278/shaka-with-addEventListener.d.ts.zip)

Note that I reformatted turning tabs to spaces, added some eslint directive to make it work with our build process.

[2021-03-24 08:14] Ketan2010 commented on #3246
@michellezhuogg, @TheModMaker

css style sheet with undocumented CSS classes:

[code]

UIcustomized css styles:

[code]

Results:
![image](https://user-images.githubusercontent.com/57591621/112275778-f9995480-8ca5-11eb-94c5-768bbe4d392c.png)

![image](https://user-images.githubusercontent.com/57591621/112275904-1df53100-8ca6-11eb-9f26-02a8ba58e45c.png)

![image](https://user-images.githubuserconte

[2021-03-24 09:35] karlg-arris commented on #3051
@TheModMaker @joeyparrish   just commenting to say that we see the same/similar issues with our solution for PlayReady.

Can I also comment on the priority of this task?

Given that it seems very difficult to deploy content with seperate 4K adaptation sets since license agreements mean we must omit keys /reject license requests from clients not supporting the defined robustness requirments (SL3000

[2021-03-24 11:26] rahulkrish commented on #2144
@joeyparrish @ismena Any updates on this issue? Are you open to PRs with the current gap jumping logic or is this going to be addressed as part of v4?

[2021-03-24 14:03] mardu commented on #3149
I am having the exact same issue with Kaltura nginx-vod-module HLS playlists. As the setting **vod_hls_force_unmuxed_segments** is by default **off** all the video variants and segments are multiplexed. Everything works perfectly with only one audio track. Then the multiplexed variant is used and no separate audio variants are created.

A default variant .m3u8 files looks like this **/index-v1-a1.

[2021-03-24 14:11] asgvard opened #3279 "Dash Live stream. Seeking close to live edge causes endless buffering state"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.0.7

**Can you reproduce the issue with our latest release version?**
Yes, tried with v3.0.10

**Can you reproduce the issue with the latest code from `master`?**
Haven't checked yet

**Are you using the demo app or your own custom app?**
Custom app

*

[2021-03-24 16:35] jlnabais commented on #3048
@TheModMaker I think this was reproducible with any live (multeperiod) stream.

[2021-03-24 16:41] chanchalpatil commented on #3264
I think the video attached wasn't very clear. Here's how the time flickers
[https://drive.google.com/file/d/1BM7gwcWKWY3kkvI48uNA_gcQhS-n70so/view?usp=sharing](url)

This happens only over a desktop and not on the mobile phone screens.
I think this has something to do with issue

[2021-03-24 16:55] TheModMaker commented on #3048
I can reproduce with `Tears of Steel (live, DASH, Server Side ads)`.

[2021-03-24 19:47] nbcl commented on #3246
I found out this dark theme works very well for me on development, as it a  a bit easier on the eyes and does not conflict when seeing videos that have dark backgrounds either.

If anyone is looking forward to expand it to include `ui.configure()` styling, feel free to do it and make sure to add a couple of screenshots!

[code]

[2021-03-24 19:58] TheModMaker commented on #3274
This looks like a platform bug with `setMediaKeys(null)`.  I guess we could keep the old MediaKeys object around on this platform since it should have no effect if the content is clear.  I'm going to mark this as an "enhancement" to work around this bug, but putting this on the backlog since WebOS isn't an officially supported platform yet.  If you want to submit a PR for this, we'd appreciate it.

[2021-03-24 20:15] TheModMaker commented on #3275
I think this is working as intended.  From my reading of the TTTML spec, [section N.2.2](https://www.w3.org/TR/2018/REC-ttml1-20181108/#semantics-media-timing) says that media times (which are the default) should be calculated relative to parent elements.  This appears to include `clock-time` expressions in addition to the `offset-time` expressions.

There is an example in [section N.2.3](https://

[2021-03-24 20:43] joeyparrish commented on #2144
We are open to PRs, with a preference to discuss the concept of your change here before reviewing a PR, to help make sure we're in agreement.  Any breaking change will be deferred to v4 (or accelerate our decision to bump the version number to v4, if it's really compelling).

[2021-03-24 20:45] TheJohnBowers opened #3281 "DASH Live cannot transition from completely unencrypted content to encrypted content later in the live presentation"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes - Nothing open, but this looks like a regression: https://github.com/google/shaka-player/issues/1360, I don't think I can re-open an issue this old.  In 2.4.7, this bug doesn't exist.

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?*

[2021-03-24 21:01] TheModMaker commented on #3281
You need to configure the license server before playback starts if you expect to see encrypted content later.  The following works fine for me:

https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://content.uplynk.com/playlist/4f1a9815a1af43d5ba64465d85bf11cf.mpd?ad=sintelads;license=https://content.uplynk.com/wv;panel=HOME;build=uncompiled

[2021-03-24 21:04] joeyparrish commented on #3149
@joeyparrish wrote:

@bansalkirti wrote:

I am not an expert in those projects, but I can guess that they are doing one of two things:

1. Demuxing/remuxing the content, so that the browser consumes video and audio separately
2. Correctly interpreting the multiplexed content as such, and telling the browser what to expect in advance

Option 1 would require architectural changes in Shaka Player.  W

[2021-03-24 21:14] TheJohnBowers commented on #3281
Ah, ok.  I don't need to configure the license url normally because shaka will read it out of the mslaurl attribute (ms:laurl xmlns:ms="urn:microsoft" licenseUrl="https://content…..’) in the manifest.

As an example without a license server configured:
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://content.uplynk.com/playlist/6c526d97954b41deb

[2021-03-24 21:23] TheModMaker commented on #3281
Unfortunately we can't initialize EME after playback has started.  We need to setup EME before playback starts, so it either needs to be in the first manifest or the configuration.  The browser sets up special media pipelines for protected content and many/most browsers don't allow switching while content is playing.

[2021-03-24 21:26] TheModMaker commented on #3281
Also, I think you can just change the license server URL after playback has started.  So you could add a dummy value to the configuration and change it later.  I guess we could add support for a dummy value that gets filled from the manifest later.

[2021-03-25 08:12] david-hm-morgan commented on #3275
@TheModMaker  I am also not an expert at interpreting the TTML spec - I've looked again today to try to find evidence to justify my observation.  My concern is that this represents a regression from 3.0.x versions.

[2021-03-25 10:29] hiren3897 commented on #3273
Hello as I was trying to load the manifest in the player which was on the localhost domain and not on the same domain as manifest was. Thank you for your help and guidance it helped me a lot :).

before closing,

(I have just one question can we import shaka as ES6 modules?)

If I have any issues I will reach here back for now I am closing this issue.

[2021-03-25 10:29] #3273 closed

[2021-03-25 11:42] dave1981 commented on #1030
This type file should be extended to include also classes, methods and events related to ads, is it correct?
https://shaka-player-demo.appspot.com/docs/api/tutorial-ad_monetization.html

[2021-03-25 13:33] elbougly opened #3282 "Shaka Player + Widevine DRM: Livestream keeps buffering and never plays"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
I tested with 3.0.10 and 2.5.21

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
My custom app

**If cust

[2021-03-25 13:50] avelad commented on #3169
@ismena, I have seen that you have assigned this issue, is there any progress with this problem, do you think it will be fixed for the next release?

[2021-03-25 16:23] TheModMaker commented on #3282
The manifest you linked to is static, not live.  If I print `video.buffered` and `video.buffered.start(0)` after starting, it shows 4.6.  So what is probably happening is your manifest and segments don't align.  Your segments are probably 4.6 seconds ahead of what they should be.  You should verify the `presentationTimeOffset` values are correct to adjust the media times back to 0.

[2021-03-25 16:31] dave1981 opened #3284 ""Skip ad" button not clickable"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
I don't know

**Are you using the demo app or your own custom app?**
custom app

**If custom app, can you rep

[2021-03-25 16:59] ismena commented on #3284
@dave1981 Interesting. Does it work if you try the same manifest + same ads on our demo page?
(Asking to disambig between a Shaka bug and a Shaka+angular integration problem)

[2021-03-25 18:09] aditmehta9 opened #3286 "Change in ABR Manager"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10

**Please ask your question**
Is it ok to make a change in the extern/shaka/abr_manager file to fix the bug [#3262](https://github.com/goog

[2021-03-25 18:27] TheModMaker commented on #3286
I didn't mean you need to ask for permission, we should discuss design and why this change is needed.  Anything in the plugin interfaces can be replaced by the app and implemented themselves.  This means an app can write their own ABR handling and replace it.  We need to handle reverse-compatibility and think about how existing apps will update their code for new requirements.  This also means tha

[2021-03-25 18:32] michellezhuogg commented on #1525
Hello everyone,

The Low Latency HLS and Low Latency Dash features are ready for testing on our Nightly build demo:
https://nightly-dot-shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;lowLatencyMode=true;uilang=en-US;panel=HOME;build=uncompiled
We're looking forward to your feedback before our official release of v3.1! Thank you!

[2021-03-25 19:03] joeyparrish commented on #3286
It seems like the underlying bug should maybe be handled by someone on the team who understands the nuances of the API.  I would like to propose that we close this issue, and the associated PR, and that the bug be assigned to a Shaka Player team member.  @aditmehta9, would that be okay with you?

[2021-03-25 19:04] aditmehta9 commented on #3286
Yes, sir @TheModMaker I agree. To fix the bug (Short Description Resolution changes whenever the audio is changed resolution is set to max. possible resolution) now that happens because this.player.selectAudioLanguage is executed from ui/audio_language_selection.js which then calls this.chooseVariantAndSwitch_() in the player file which calls chooseVariant_ in which this.abrManager_.chooseVariant

[2021-03-25 19:04] joeyparrish commented on #3262
Based on the PR discussion, it seems like the underlying bug should maybe be handled by someone on the team who understands the nuances of the API.  I would like to propose that we close the associated PR, and that this bug be assigned to a Shaka Player team member. @aditmehta9, would that be okay with you?

[2021-03-25 19:05] aditmehta9 commented on #3286
I am okay with that but I just wanted to say this change in API fixes the bug.

[2021-03-25 19:22] aditmehta9 commented on #3262
Yes, Sir, I am okay with that but I just wanted to say this change in PR(https://github.com/google/shaka-player/pull/3285) in API fixes the bug.

[2021-03-25 19:43] AkhileshAdithya commented on #3246
I didn't get the need for this theme/template thing. Wouldn't converting the colors to global variables and allowing the end user to change the color theme be optimal as different sites have their own color systems ? [Like allowing the colors to be chosen by the user in the init function]

[2021-03-25 21:56] ismena commented on #3169
Huh, apparently I am indeed assigned to this issue o.O
I haven't had a chance to look yet, but okay, I'll bite the bullet and shoot to fix it for 3.1

[2021-03-26 04:42] #3286 closed

[2021-03-26 07:48] dave1981 commented on #3284
No, there's the same problem using

Manifest URL (from https://gist.github.com/jsturgis/3b19447b304616f18657):
http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4

Ad tag URL (from https://foliovision.com/player/vast/sample-vast-tags):
https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=

[2021-03-26 08:43] mimse commented on #2237
I made a comment on the PR https://github.com/google/shaka-player/pull/2425#issuecomment-789529233

[2021-03-26 11:21] kanongil commented on #1525
While it seems to be somewhat workable with LL-HLS on a good connection, the ABR experience quickly breaks down. There are several minor/major issues, but I won't list them, as it seems that this has hardly been tested. Note that using the Chrome network throttling is not representative of real-world issues, since it always triggers a `navigator.connection` `'change'` event, which resets the estim

[2021-03-26 11:22] FireMasterK commented on #3186
Actually, the approach which I've seems to be fine according to the docs since I want a `Programmatic UI setup` as I want to set up a player after the page loads.

Another thing: This issue does not occur on Firefox, which is even more strange

[2021-03-26 12:17] dezfuture commented on #3284
I would like to contribute and fix the issue.  Can you guide me on how should I go forward into solving this issue

[2021-03-26 12:21] elbougly commented on #3282
Your response was timely and I thank you for that, but I forgot that the manifest was time sensitive, sorry about that.

I went ahead and extended the manifest, it should be valid till the 31th. I also got us a license of a commercial provider and a demo with the same config so you can do your debugging.

[A functional demo from a commercial provider.](https://shakra-drm.surge.sh/bitmovin.html)

T

[2021-03-26 22:42] duggaraju commented on #3189
Thanks. Yes this can be closed.

[2021-03-26 22:42] #3189 closed

[2021-03-27 07:00] himanshujaidka commented on #2541
working :)

[2021-03-27 10:24] tanish14 opened #3289 "npm ERR! code CERT_HAS_EXPIRED"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**

**If custom app, can you reproduce the issue usi

[2021-03-27 17:29] aditmehta9 commented on #2541
Hello, Himanshu I think we are not supposed to work on GSoC projects until our proposal is accepted and program begins i.e 17th May. It is mentioned in 1st point of this doc https://storage.googleapis.com/wvtemp/shaka/Shaka%20Player%20GSoC%20Projects%20List.pdf

[2021-03-27 17:54] michellezhuogg commented on #3289
Hello @tanish14 ,

We'll look into that. Meanwhile, you can use github to download the source code for development. Hope that helps!
https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/cloning-a-repository

[2021-03-27 19:13] quickstreamingmedia opened #3290 "i want to get to current live position when i use start its going 1 hour behind"
can someone get me formula for this mpd to get to live cause now using start number going 1 hour behind

https://pastebin.com/Q6Bbpw3n

[2021-03-28 12:49] surajkumar-sk opened #3291 "Video stops loadng when video is navigated to end using arrow key"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Latest

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
demo

**If custom app, can you reproduce the issu

[2021-03-28 12:56] surajkumar-sk commented on #3291
Please refer to pull request comments of #3267 to avoid working on a solution that Members think might not be the right way of approaching it.

[2021-03-28 20:57] sonicd300 commented on #3103
Sorry for the delay on the response, i've run tests against master and the issue seems to be resolved as shown in this screenshot.

The only thing i had to do was doable with css externally on my consuming app, on the cues container div i had to set it to be `width: 100%; left: 0;` for a very specific case on our vtt file that rendered some subs in a weird position, but the core issue is solved.

[2021-03-28 20:57] #3103 closed

[2021-03-29 08:04] tomraut commented on #3133
Making sure that same version of the library is loaded is kinda tricky as demo page loads Shaka in hundreds of pieces and not the bundled version. So unfortunately, no, this does not answer my question.

[2021-03-29 16:26] michellezhuogg commented on #1525
@kanongil ,

Thank you for your feedback! Would you please share some sample low latency manifests with us, so that we can test and triage the minor/major issues as you mentioned? You can send them to shaka-player-issues@google.com if they're private.
We'll also look into the problem with INDEPENDENT=YES flag. Thank you!

[2021-03-29 16:31] TheModMaker commented on #3133
You can just look at the top-right of the demo to see the version.  The demo loads the uncompiled version by default, but you can change this to the compiled bundle at the bottom of the page in the `DEMO MODE` section.

[2021-03-29 16:45] #3260 closed

[2021-03-29 17:28] ismena commented on #3284
@dave1981 what an awesome report :) thanks! Should be easy enough to fix.

@dezfuture You're welcome to contribute. Here is how it should work and what we do:
The "skip ad" button comes from the ad SDK, it's not ours. It lives in an iframe that we lift up and increase its z-index [here](https://github.com/google/shaka-player/blob/master/ui/less/ad_controls.less#L40).
So, 1) it doesn't look to be h

[2021-03-29 18:38] #3290 closed

[2021-03-29 21:21] michellezhuogg commented on #3282
Hello @elbougly , are we supposed to reproduce buffering issue with the [demo](https://shakra-drm.surge.sh/bitmovin.html)?  It seems working fine.

[2021-03-29 21:27] elbougly commented on #3282
Hi @michellezhuogg, no that's a different player that works, the demo that relies on Shaka Player is here:
https://shakra-drm.surge.sh

[2021-03-29 22:06] #3162 closed

[2021-03-29 22:56] michellezhuogg commented on #3282
We found a few possible reasons of the issue:
1. The license request sent to "https://p-drmwv.movetv.com/widevine/proxy" failed, because the access to the requested resource is forbidden. The error was "DRM.LICENSE_REQUEST_FAILED".
2. The log shows there is a gap/overlap between Periods. A large gap would cause the video not starting to play, unless we are configured to jump large gaps. To verify

[2021-03-29 23:09] elbougly commented on #3282
wow, setting streaming.jumpLargeGaps to true actually worked, thanks a lot Michelle!

[2021-03-29 23:09] #3282 closed

[2021-03-30 11:30] dpaou opened #3292 "Tizen SmartTV / Dolby audio issue, not listing dolby track when stereo track with same audio language exists at mpd"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes
Perhaps is also relevant to this issue
https://github.com/google/shaka-player/issues/1071

![image](https://user-images.githubusercontent.com/81309997/112978422-01527080-9160-11eb-8a06-5a8df1cdc9bb.png)

**What version of Shaka Player are you using?**
version 2.5.20

**Can you reproduce the issue with o

[2021-03-30 14:22] dave1981 commented on #3284
@ismena a little question: when I start playing a video with ads, I see a message "Shaka Player's ad features are currently in BETA and are NOT yet covered by semantic versioning compatibility guarantees.  The API may change at any time!". Do you have a roadmap to release this feature ready for production use?

[2021-03-30 15:30] #3271 closed

[2021-03-30 15:38] MilosRasic commented on #2867
We've found out that Vewd devices (Hisense Vidaa, Tivo STB, etc), former Opera for Devices, are also affected by this problem.

#3008 hack helps but if a fix is implemented in Shaka, it shouldn't be limited to webOS only.

[2021-03-30 16:05] dhubertus commented on #3199
@theodab Apologies again for the delayed response, but I have sent over updated repro steps including a screen recording of these steps to assist with the issue.

Thanks again for taking a look and please reach out if we can help in any way!

[2021-03-30 16:48] TheModMaker commented on #3292
We select the codec during startup and cannot change codecs after starting.  Until #1528 is done, we can't switch codecs after starting since the browser doesn't support it.

[2021-03-30 17:10] #3262 closed

[2021-03-30 17:15] joeyparrish commented on #3262
This has now been fixed in the master branch.  Thanks for the report, and for the attempts to fix it!

[2021-03-30 17:36] joeyparrish commented on #1528
This hasn't been updated in a while, so it's worth pointing out some changes to this plan.

As originally proposed, switching codecs was either implemented or not.  Now, support depends on the decoding pipeline, and we can only query that with MediaCapabilities.  Our MediaCapabilities integration is well underway.

[2021-03-30 18:33] joeyparrish commented on #3186
I believe you can check if `video.ui` is present, and if so, the event has already fired.  We should probably consider something more formal, though.

Oh, good.  Yes, that's preferable when using dynamic UI frameworks.

Does this answer all your questions?

[2021-03-30 18:50] joeyparrish commented on #3246
@AkhileshAdithya wrote:

In general, CSS is the solution to customizing styles.  This is as it should be on the web.  It's what CSS was made for.

The exceptions in Shaka Player are the seek bar and volume bar colors.  Those colors are part of styles that we attach at runtime in JavaScript (by computing a gradient), and therefore have to be customized using the configuration system of the UI.

We

[2021-03-30 19:55] joeyparrish commented on #3133
To expand on what @TheModMaker said, the only things special about the demo page are:

1. It loads the uncompiled Shaka Player by default (change to the compiled version at the bottom of the page)
2. You're seeing the latest release by default (currently v3.0.10, but you can find older versions through https://index-dot-shaka-player-demo.appspot.com/)

To be sure it's not an issue with compilation

[2021-03-30 20:31] dpaou commented on #3292
Thanks for the quick and prompt reply.
The issue https://github.com/google/shaka-player/issues/1528  is related to Chrome browser. Our case is related to SmartTV with TizenOS

From user agent perspective, it seems the user agent seems to be this one :

"Mozilla/5.0 (SMART-TV; LINUX; Tizen 4.0) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 TV Safari/537.36"

In addition, we are one step prior