[2022-04-14 17:33] agconti opened #4129 "Recommended iOS alternative for `registerRequestFilter`?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
`^3.3.0`

**Please ask your question**

_Is there a recommended way to argument request uris on iOS?_

As you've mentioned [here](https://github.c

[2022-04-14 18:15] joeyparrish commented on #4129
If the platform is responsible for fetching content, as it is on iOS, your control is limited, but there are some ways to tweak things.

If you need to change the URL of the master playlist before playback starts, that's easy.  Just modify the master playlist URL before calling player.load().

If you need to change the URL of the media playlists instead, you could:

1. Fetch the master playlist in

[2022-04-14 21:47] agconti commented on #4129
This helps a lot, thanks for your thoughts @joeyparrish!

[2022-04-14 21:47] #4129 closed

[2022-04-14 22:55] joeyparrish commented on #4128
I'm not aware of any way to control screen dimming features from a web browser.  If there's a web API for that, we would be happy to use it.

[2022-04-15 15:40] #4074 closed

[2022-04-15 20:30] MoinPansare commented on #4021
@joeyparrish, any comments on this issue. Awaiting a response

[2022-04-17 10:21] KazukiSugiyama107 commented on #4128
Thank you for confirmation.
Close the ticket.

[2022-04-17 10:21] #4128 closed

[2022-04-18 04:21] FireMasterK commented on #1528
https://github.com/w3c/media-source/issues/155 seamless codec switching should be possible too, since this is merged

[2022-04-18 08:25] AbeEstrada opened #4133 "Is it possible to send `customData`?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
^3.3.2

**Please ask your question**

I'm migrating from VideoJS to ShalaPlayer and VideoJS has a plugin to add the cast button [silvermine/videoj

[2022-04-18 11:22] avelad commented on #3983
I've been looking around the issue a bit and I see the following:
![Captura de pantalla 2022-04-18 a las 13 20 22](https://user-images.githubusercontent.com/8983024/163801174-84dc91a3-4adc-4039-a330-3774363bbb51.png)

So the response is populated by https://github.com/shaka-project/eme-encryption-scheme-polyfill/blob/main/index.js

If this polyfill is not installed, the browser does not fill in th

[2022-04-18 19:25] duggaraju opened #4135 "HLS playback treats ISMC1 subtitles as VTT if URLS doesn't have extensions."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.2

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reproduce the issue u

[2022-04-19 09:27] Pereverzev-Alexander commented on #4077
Hello! @joeyparrish did you manage to reproduce the issue?

[2022-04-19 13:23] koganiz opened #4141 "Mac Safari 15.4 FairPlay: empty response from the server"
Hi guys,
I'm trying to implement the FairPlay on Mac's Safari and having some issues.
I can't figure out what's wrong:
1. The response in registerResponseFilter returns status 200, but the response text is empty. If I take all the request params form the registerRequestFilter and use them in the Postman, I get a valid response (json).
2. The initDataTransform is never called.

Any ideas?

[code]

[2022-04-19 15:28] ShanePhelan opened #4142 "Video does not start on Samsung Tizen 2017"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.2

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**
Demo app

**If custom app, can you reproduce the iss

[2022-04-19 15:30] ShanePhelan commented on #4142
Note this is specific to the firmware version T-KTSDEUC-1300.3, BT-S

Here is the debug log:

ARIAMixin interface not detected. Installing polyfill.
mathround.js:22 mathRound.install
mediasource.js:24 MediaSource.install
mediasource.js:72 Rejecting Opus.
mediasource.js:84 Patching vp09 support queries.
random_uuid.js:21 randomUUID.install
video_play_promise.js:23 VideoPlayPromise.install
vttcue.js

[2022-04-20 08:30] stuartflanagan commented on #4040
this is still happening. Is it something worth discussing? I feel an error should still be thrown but potentially not a severity 2 error?

[2022-04-20 15:12] IsaacSNK commented on #1030
@caridley I gave tsc a try to generate typings from JSDoc. Seems like declaring classes with expressions breaks the type generation. For example, the following code

[code]
generates an empty .d.ts. But the following code

[code]
generates the following type

[code]
Are class expressions required for Closure? I'm not familiar with Closure compiler.

@joeyparrish I'm interested to know why Shaka re

[2022-04-20 15:48] joeyparrish commented on #3967
PR in review for karma-local-wd-launcher: https://github.com/shaka-project/karma-local-wd-launcher/pull/38

[2022-04-20 17:30] joeyparrish commented on #4062
With the UI:

memory-ui.html
[code]

memory-ui.js
[code]

Results:

| attribute | v2.5 | v3.0 | v3.1 | v3.2 | v3.3 | nightly (2022-04-13) |
| --- | --- | --- | --- | --- | --- | --- |
| anonymous Objects | 1558 | 1924 | 1989 | 1991 | 2048 | 2505 |
| anonymous Object size | 1.3 MB | 849 kB | 919 kB | 956 kB | 839 kB | 977 kB |
| "system" objects | 70k | 70k | 72k | 72k | 73k | 105k |
| "system" obj

[2022-04-20 19:09] joeyparrish commented on #4062
For the live stream test, I used https://livesim.dashif.org/livesim/utc_head/testpic_2s/Manifest.mpd, but otherwise the code was the same as the non-UI test above.  This manifest uses SegmentTemplate+duration, rather than an explicit list of segments.

I took a snapshot after 1 minute of playback, then again after 10 minutes of playback.  I clicked the debugger's "collect garbage" button right bef

[2022-04-20 21:17] joeyparrish commented on #4040
The errors thrown directly by that method are all `Severity.RECOVERABLE`, except `Code.MISSING_TEXT_PLUGIN`, which is `Severity.CRITICAL`.

If an error is thrown from elsewhere, and bubbles up through this method, you could always choose to catch it and change its severity.

Those severity settings in Errors are just advisory.  The severity field doesn't directly stop playback.  (The only exceptio

[2022-04-20 21:23] #1959 closed

[2022-04-20 21:23] #4135 closed

[2022-04-20 23:12] dsparacio commented on #4142
@ShanePhelan we have a very similar issue on almost same device model number you reported. We are gathering all our info to add to this.

[2022-04-20 23:43] agajassi opened #4143 "[PARAMOUNT GLOBAL] Samsung 2017 Video Start Failure"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes. I saw a similar open issue, but wanted to file this one with additional information/details and link the 2 tickets.
This is related to [issue/4142](https://github.com/shaka-project/shaka-player/issues/4142)

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our l

[2022-04-20 23:45] agajassi commented on #4143
Please let us know, if there is anything we can do to help. Test, debug, collect more info...etc.

[2022-04-21 06:50] ighosh98 opened #4145 "Shaka Player goes blank on switching to landscape mode"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
We have tested with 3.3.2 using the demo app. We have also tested using these versions  of Shaka Player on a custom ReactJS demo app using NextJS framework:
- 3.2.1
- 3.2.0
- 3.0.1
- 2.5.22
- 2.5.23

**Can you reproduce the issue with our latest release v

[2022-04-21 09:25] qba86 commented on #4107
Can anyone help me? :)

[2022-04-21 12:38] Vasanthavanan-Devarajan commented on #4143
We also facing a similar issue with the X1 platform.
[Issue 4014](https://github.com/shaka-project/shaka-player/issues/4014)

[2022-04-21 12:39] koganiz opened #4146 "Handling httpx in manifest"
Hi guys,

I'm trying to implement Shaka v3.1.6 with FairPlay on Mac Safari 15, and the manifests I get have unusual httpx urls:

`#EXT-X-SESSION-KEY:METHOD=SAMPLE-AES,URI="httpx://drmproxy.dgosvc.com/drmProxy/1?keyid=86BAF6DEFAA8B7CC1D20B231EEFFE5AC",KEYFORMAT="com.apple.streamingkeydelivery",KEYFORMATVERSIONS="1"`

It looks like Safari rejects the requests even before it get to the DRM handling,

[2022-04-21 15:52] #3967 closed

[2022-04-21 19:30] theodab commented on #4146
Are you setting `streaming.useNativeHlsOnSafari` to `false`? If not, the manifest is handled by the browser, which we have no control over.
If you do set that, I think you could handle `httpx` by registering a [scheme plugin](https://shaka-player-demo.appspot.com/docs/api/shaka.net.NetworkingEngine.html#.registerScheme) for it. As long as it can be handled with the normal `fetch` browser API, you

[2022-04-21 19:34] koganiz commented on #4146
I was sure the FairPlay is not supported with the useNativeHlsOnSafari = false.
Thanks a lot, I'll try it.

[2022-04-21 19:36] theodab commented on #4146
It was added by a PR, https://github.com/shaka-project/shaka-player/commit/6d76a135e5128dfd47653acea025d0a264d121d5.

[2022-04-21 19:46] koganiz commented on #4146
Now I'm getting this one :(

Player Event: Error: shaka.util.Error {
  "severity": 2,
  "category": 4,
  "code": 4040,
  "data": [],
  "handled": false,
  "message": "Shaka Error MANIFEST.HLS_MSE_ENCRYPTED_MP2T_NOT_SUPPORTED ()",
}

[2022-04-21 22:43] #2071 closed

[2022-04-21 23:42] theodab commented on #4146
https://github.com/shaka-project/shaka-player/pull/3776#issuecomment-985538386

If I'm following this discussion correctly, we don't support MediaSource-based FairPlay with TS on Safari because we use the `mux.js` library to play TS, because of a Safari bug. And `mux.js` doesn't expose some necessary events for FairPlay.

However, recently Apple fixed that bug, and we removed the restriction again

[2022-04-22 01:34] stuartflanagan commented on #4040
OK I will look into this more. We receive a `1002` error `Severity.CRITICAL` each time a text track is missing or cannot be loaded.

[2022-04-22 08:07] adgllorente commented on #4093
@joeyparrish I agree with @avelad in #2144, shaka should continue playback in live streams, however, we may take a look to multiple BaseURL elements, do you have a link with more information about this? I haven't found any information in the documentation.

[2022-04-22 09:46] Pereverzev-Alexander commented on #4077
We have investigated this error.

Our live stream uses templates for segments in the manifest and a large search box (about 2 hours). After investigating, we know that we have ~1800 segments in our live stream and the default Shaka player configuration has a limit of 1000 for creating template segments. So we increased the manifest.dash.initialSegmentLimit to 3000 and this fixed the issue of the p

[2022-04-22 11:19] M86xKC opened #4148 "Disappearing of PiP windows on android"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
v3.3.2

**Can you reproduce the issue with our latest release version?**
Yes.

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**
Both.

**If custom app, can you reproduce the iss

[2022-04-22 13:33] koganiz commented on #4146
I removed the mp2t restriction, trying to play, getting

`"message": "Shaka Error DRM.FAILED_TO_GENERATE_LICENSE_REQUEST (The operation is not supported.,NotSupportedError: The operation is not supported.,)",`

[2022-04-22 15:18] joeyparrish commented on #4146
Can you try using the latest code from the main branch, rather than a release version?  We'll be releasing v4.0 from main soon.

[2022-04-22 15:23] joeyparrish commented on #4148
Confirmed.  Mobile YouTube doesn't have the same issue.  I suspect it may be because of the code that exits fullscreen mode on rotation, but I haven't hooked my phone up to a debugger yet.

[2022-04-22 15:31] avelad commented on #4062
@joeyparrish , have you been able to see what has caused such an increase in memory/object usage?

[2022-04-22 15:44] koganiz commented on #4146
Trying.
btw, there is a linting issue:

[code]

[2022-04-22 15:45] joeyparrish commented on #4040
I just tried this in the demo to see what would happen:

[code]

`foo.vtt` doesn't exist.  The call succeeds (Promise resolved).  Then I selected this side-loaded track from the UI, and then started seeing failing requests for `foo.vtt`.  The requests occur about once per second, without the player ever giving up, which seems wrong.

But I never see error 1002, and playback continues to the end of

[2022-04-22 15:51] koganiz commented on #4146
v3.1.6-master-91-g648ebdb0-debug - Is this the version you are referring to?

[2022-04-22 16:02] koganiz commented on #4146
Invalid config, unrecognized key .drm.initDataTransform

[2022-04-22 16:06] joeyparrish commented on #4062
Here's the results of my various runs side-by-side:

VOD:

| attribute | v2.5 | v3.0 | v3.1 | v3.2 | v3.3 | nightly (2022-04-13) |
| --- | --- | --- | --- | --- | --- | --- |
| anonymous Objects | 626 | 653 | 673 | 685 | 705 | 727 |
| anonymous Object size | 593kB | 352kB | 414kB | 421kB | 360kB | 369kB |

VOD+UI:

| attribute | v2.5 | v3.0 | v3.1 | v3.2 | v3.3 | nightly (2022-04-13) |
| --- | ---

[2022-04-22 16:07] joeyparrish commented on #4146
Yes, that was removed for v4 (prerelease).  It shouldn't be necessary any more.  Here are the updated FairPlay docs: https://nightly-dot-shaka-player-demo.appspot.com/docs/api/tutorial-fairplay.html

[2022-04-22 16:14] koganiz commented on #4146
It parses the manifest but I don't see it's trying to access the drm server.
Am I missing something?

[code]

[2022-04-22 16:18] koganiz commented on #4146
And the mp2t limitation code is still there (I removed it for testing purposes):

[code]

[2022-04-22 16:44] joeyparrish commented on #4146
Ah, that restriction is different from the one we were thinking of, which was a general restriction against TS on Safari.  I would have to dig into the repo history a bit to figure out why we have that restriction in place against encrypted TS.  It could be as simple as "it wasn't tested", or it could be something more serious.

[2022-04-22 16:51] koganiz commented on #4146
Thank you!

[2022-04-23 05:13] Rohan-Ramesh-Jadhav commented on #4120
I think there will be someone who may help me out of this please.

[2022-04-23 21:07] #4105 closed

[2022-04-24 19:06] sunknudsen opened #4149 "Page scroll triggered when using shaka.ui.Overlay"
I’m developing a web app using React… have a page with two players.

Both players can play video as expected but, somehow, page scrolls to video when I run `shaka.ui.Overlay`.

Is this by design? Can this be disabled? Not sure if this is an issue or question.

Thanks for helping out!

[2022-04-24 20:16] sunknudsen commented on #4149
I believe I narrowed down the culprit… looks like scroll is triggered by a call to `.focus()` on `<button class="shaka-enable-abr-button" aria-selected="true">`.

[2022-04-24 22:05] sunknudsen commented on #4149
OK, very strange… bug appears to be caused by timing issue when loading custom CSS used to self-host fonts.

Importing fonts and `controls.css` using `import` (instead of using [Helmet](https://www.npmjs.com/package/helmet)) fixed the issue.

[2022-04-24 22:05] #4149 closed

[2022-04-25 09:26] hiren3897 opened #4150 "Playback problem on setting play range start and end"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
v3.2.2

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `main`?**
yes

**Are you using the demo app or your custom app?**
DEMO APP

**If custom app, can you reproduce the issue

[2022-04-25 09:34] #4091 closed

[2022-04-25 11:51] cbpanchal opened #4151 "I am working with LG WebOS + Shaka player and I wanted to remove src from the video tag when need to play the Multicast channel in WebOS (recommended by LG team ) but it doesn't works"
this.player?.unload()
 this.playerObjectRef?.current.removeAttribute('src')
 this.playerObjectRef?.current.load()

Written above code but video tag still have a src attribute and not able to play multicast channel after playing a shaka player in LG WebOS TV, and it's recommended to release all video tag instances before playing Multicast channel

[2022-04-25 19:57] Benny739 opened #4152 "HLS fmp4 (byte range requests) seeking not working in iOS"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.3.3

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `main`?**
not tried

**Are you using the demo app or your own custom app?**
codepen

**What browser and OS are you using?*

[2022-04-25 20:49] #4106 closed

[2022-04-25 21:57] joeyparrish commented on #4151
`unload()` only unloads the content, but keeps control of the video element.  If it still controls the video element, it will set up another MediaSource object in advance for the next `load()` call.  Try this instead:

[code]

Later, to take control of the video element again:

[code]

References:
 - https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html#attach
 - https://shaka-player-de

[2022-04-26 00:40] joeyparrish opened #4155 "Missing calc() from release CSS in v3.1.7, v3.2.5, and v3.3.3"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.3.3

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
No

**Are you using the demo app or your own custom app?**
N/A

**If custom app, can you reproduce the issue us

[2022-04-26 03:41] #4155 closed

[2022-04-26 08:02] ShanePhelan commented on #4142
Thanks @dsparacio

Any update or potential work around on this? If it helps, our packaging service recently upgraded the Unified streaming binary from 1.7.25 to 1.11.3-24483

I've attached two manifests, one for USP 1.7 which works, and one for USP 1.11 which doesn't.

The only major difference I can see is that in the newer USP, the `mediaPresentationDuration` and the period duration don't match

[2022-04-26 08:47] MalgoBlock opened #4161 "Issues with playing mp4 content on Tizen"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
There is a couple of open issues where video does not start at all on Tizen. (#4142 and #4143), they may be related however in my case the video does start playing but stalls shortly after (after about 1 minute)

**What version of Shaka Player are you using?**
3.3.2

**Can you reproduce the issue with our l

[2022-04-26 10:00] MalgoBlock commented on #4161
When the video stops this is the output of player.getStats():
[code]

[2022-04-26 10:27] DominicChan-Hlit commented on #3910
Here is an example of the periods in the multi-period manifests
[code]

Note that the "ContentProtection" is the same in all AdaptationSet, in all periods.
[code]

It is therefore not expected to encounter "INCONSISTENT_DRM_ACROSS_PERIODS" errors.

[2022-04-26 10:27] stuartflanagan commented on #4040
Thanks for trying this @joeyparrish. We are not using the shaka UI in this instance but just listening for an error event and checking the severity.
I will investigate a bit more locally and get back to you.

[2022-04-26 10:36] Lubjan commented on #3657
Bug is still present with the latest release 3.3.3 (locally and in the uncompiled demo), can be reproduced in the same way.

[2022-04-26 15:35] avelad opened #4164 "Why does Chromecast use MediaCapabilities polyfill?"
I have seen the following comment:
https://github.com/shaka-project/shaka-player/blob/main/lib/polyfill/media_capabilities.js#L27-L29

Is this due to a particular version of Chromecast? Would it work on other versions (Android TV eg)?

In the internal laboratory that you have, what model of chromecast are you using?

Models: https://en.wikipedia.org/wiki/Chromecast#Model_comparison

[2022-04-26 15:36] avelad commented on #4164
Note: chromecast model detection in JS https://gist.github.com/lfalke/bd7eba442eae4d50075ecdf89dc9edf6

[2022-04-26 16:14] joeyparrish commented on #4164
We were told by the Cast platform team at one time that the API was present, but not likely to provide meaningful data.  I will check to see if that is still the case, or if there are certain firmware versions for which we could rely on the data.

[2022-04-26 16:20] joeyparrish commented on #4161
Playback of a single MP4 is up to the platform.  We don't control buffering in that scenario.  For a single MP4 (not DASH or HLS), Shaka Player is only responsible for the license exchange.

Do you have different results in any other player?  It could be that the MP4 is not encoded in a way that the platform decoder can handle.

[2022-04-26 16:22] joeyparrish commented on #3910
That sounds like a definite bug.  Is it still present in the latest release, v3.3.4?

[2022-04-26 16:46] joeyparrish commented on #4164
I can't recall who exactly gave us the advice to avoid MediaCapabilities on Cast, but now that I'm digging into this with the team, there are apparently three different implementations.  Some devices are Linux-based, some are Android-based, and some are [Fuchsia-based](https://fuchsia.dev/).  Each has a separate implementation behind MediaCapabilities, so the state of MCap in the Cast ecosystem is

[2022-04-26 17:12] vishnump-discovery opened #4165 "Shaka player skips some fragments causing the captions to flash (appear and disappear quickly)"
We found that even though the fragmented mp4 caption files are in compliant with the standard, the Shaka player skips some fragments causing the captions to flash (appear and disappear quickly).

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-GB;textlang=en-GB;uilang=en-GB;asset=https://gtp-public-test-us-east-1.s3.amazonaws.com/flashing-captio

[2022-04-26 17:51] theodab commented on #4120
Are you still making a new player instance when you run offline? If you really need to for some reason, you should call `player.detach()` on the old player instance (and wait for the promise to resolve) before making a new one.
I can't give much more advice just going by code snippets, though.

[2022-04-26 18:26] baseballbrad3 opened #4166 "Offline downloads are slow"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.2

**Can you reproduce the issue with our latest release version?**
Yes, on the 3.3.4 demo site

**Can you reproduce the issue with the latest code from `main`?**
Yes, on the nightly demo site

**Are you using the demo app or your own custom app?**
Cu

[2022-04-26 18:36] joeyparrish commented on #4166
We request individual segments, but in some cases, those segments are byte ranges from the same file.  We don't have a special case for that, and still download segments one at a time.

Options you could explore:
1. Download multiple segments in parallel (not all of them, but some small number of parallel transfers)
2. Special-case for byte ranges: collapse requests into a single request, then spl

[2022-04-26 18:57] joeyparrish commented on #4164
Here's what I've discovered so far from conversations with the Cast and Fuchsia teams:

 - Android-based Cast devices use the same implementation as Chrome on Android phones, so the data is meaningful there
 - Linux-based Cast devices return `smooth: false` and `powerEfficient: false` for everything; `supported` will always be accurate with respect to the container and codec only; resolution and f

[2022-04-27 02:05] DominicChan-Hlit commented on #3910
Yes, the problem still exists in v3.3.4.

[2022-04-27 06:06] avelad commented on #4013
You could use this to detect what is the maximum level that is supported.

[code]

[2022-04-27 06:07] avelad commented on #3663
Does it work correctly now?

[2022-04-27 07:09] frankykubo opened #4167 "Module import error"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.4

**Can you reproduce the issue with our latest release version?**
There is no need

**Can you reproduce the issue with the latest code from `main`?**
There is no need

**Are you using the demo app or your own custom app?**
Custom app

**If custom ap

[2022-04-27 10:17] avelad commented on #4165
@vishnump-discovery can you review if the parser is correct? https://github.com/shaka-project/shaka-player/blob/main/lib/util/mp4_box_parsers.js#L18

[2022-04-27 11:05] avelad commented on #4164
Determine current behavior of Media Capabilities API on Fuchsia --> https://bugs.chromium.org/p/chromium/issues/detail?id=1169950

[2022-04-27 12:21] hiren3897 commented on #4150
Hello, am I explaining something wrong while reporting a bug because I am not getting a response from you?

I have created this bug report a second time and I am still not getting any updates or feedback on this bug.

Can you please reply to this? Many Thanks

[2022-04-27 14:31] subhrakdas opened #4171 "Shaka Player is displaying only one audio channel information even if manifest has Stereo + Dolby 5.1 + Dolby Atmos"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**

**Can you reproduce the issue with our latest release version?**

**Can you reproduce the issue with the latest code from `main`?**

**Are you using the demo app or your own custom app?**

**If custom app, can you reproduce the issue using our demo app?**

*

[2022-04-28 07:36] BucherTomas commented on #4013
@xhwang-chromium   or if anybody else knows, can you please comment on what are the system requirements for Widevine to leverage L1 on Windows?

I assume some form of Trusted Execution Environment is required, so only selected processors are suitable. Can you confirm?

Does operating system version itself play a role in this? Is presence of Trusted Platform Module (TPM) required as well?

[2022-04-28 09:36] cbpanchal commented on #4151
@joeyparrish you mean just need to call?

`await this.player.detach();`

  instead

  `this.player?.unload()`

 and one more thing is detach will remove the video instance from the dom?

[2022-04-28 09:38] MalgoBlock commented on #4161
I have replaced the Shaka Player with simple <video> tag with the same src and the movie plays without problem so it does not seem to be a decoder problem. The same mp4 starts playing with Shaka but gets stuck very quickly in the buffering state. After changing currentTime sometimes video plays a bit more and then gets stuck again.

Any idea what else could I try?

[2022-04-28 11:25] avelad commented on #4150
@hiren3897 , @joeyparrish is in multiple projects and is busy, as soon as he has time he can help you.

[2022-04-28 11:46] avelad commented on #4171
It seems that the DASH parser does the following: https://github.com/shaka-project/shaka-player/blob/main/lib/dash/dash_parser.js#L1220-L1234

In you manifest you have:
- Stereo with `codecs="mp4a.40.2"`
- Dolby with `codecs="ec-3"`
- Doby Atmos with `codecs="ec-3"` and `<SupplementalProperty schemeIdUri="tag:dolby.com,2018:dash:EC3_ExtensionType:2018" value="JOC"/>`

Until this is implemented cod

[2022-04-28 12:25] avelad commented on #3708
To use FairPlay we can only use it together with src= in versions prior to 4.0.
FairPlay is supported in MSE in 4.0 only with mp4.

Note: the use of src= implies that networks filters don't work because the playback is controlled by video element.

Does answer your questions?

[2022-04-28 12:26] avelad commented on #3757
@toninospiderman123 Can you share a stream with the error you see?

[2022-04-28 12:28] avelad commented on #3804
@liuyang5832 can you test with the latest realese (3.3.4 for example)?

[2022-04-28 12:30] avelad commented on #3759
We have no experience with react, but in the README there is a section with examples. (https://github.com/shaka-project/shaka-player#framework-integrations)

Can you tell us if they help you?

[2022-04-28 12:33] avelad commented on #3817
@hiren3897 can you share a stream with which you see the error?

Since this sounds more like a bug, could you share the browser, system, etc (bug template)?

Thanks!

[2022-04-28 12:35] avelad commented on #3865
@ysadigurs Since this sounds more like a bug, could you fill in the bug template and share it with us?

In order to reproduce the error we will need a test stream.

Thanks!

[2022-04-28 13:15] avelad commented on #3787
Fairplay is only supported in src=, so the video element takes care of all the ABR work, plus it doesn't allow you to select which video quality to play.

I remember that Safari (depends on the HW of the mac), only allows 1 instance of FairPlay in the browser at the same time, but it also depends on the version of Safari.

For example on a macbook pro m1, Safari 15.4 only supports 2 videos with Fa

[2022-04-28 13:16] avelad commented on #3978
This sounds more like a request for improvement than a question. Can you open an improvement issue?
Thanks!

[2022-04-28 13:22] avelad commented on #3879
@nargesghahremani What browser are you using? is it a DASH or HLS stream?
If you are using HLS in Safari, it is not possible to set the quality as the video element does.
If you are using other settings, see https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html and to select quality manually you should use `selectVariantTrack` function

[2022-04-28 13:29] avelad commented on #4146
See: https://github.com/shaka-project/shaka-player/pull/3776

But recently the HLS implementation has been changed and also TS has been enabled in Safari (https://github.com/shaka-project/shaka-player/commit/8a3bed710c104c9729fec2072318e50f9fe15ab2)

Maybe it's worth trying again if it works. @valotvince can you help us with it?

[2022-04-28 15:32] valotvince commented on #4146
👋 I've tried a mp2t content with Fairplay encryption: it is still resulting in weird initData, and the MediaKeys session doesn't seem to send a the "message" event to request a license
[code]
[code]

[2022-04-28 17:14] theodab commented on #4151
Detach un-associates Shaka Player from the video element. It does not remove the video element from the DOM.

[2022-04-28 17:22] joeyparrish commented on #4167
v3.3.4 contained this PR: https://github.com/shaka-project/shaka-player/pull/4163

Do you think that could explain the issue?  What happens if you remove that added line from the d.ts file?

[2022-04-28 17:24] joeyparrish commented on #4167
There were not many other changes in v3.3.4 compared to v3.3.3: https://github.com/shaka-project/shaka-player/compare/v3.3.3...v3.3.4

The other changes were CSS, CI, and documentation changes.

[2022-04-28 17:57] joeyparrish commented on #4165
The flags field of your tfhd box is invalid.  The value is 0x020000.  The track ID is required, and your case, is then followed by another 4 bytes.  The flag bits are supposed to indicate which fields follow the track ID.  Clearly you mean those 4 bytes to be interpretted as a field, but 0x020000 is not a valid flag.  The valid values are 0x000001 (base_data_offset), 0x000002 (sample_description_i

[2022-04-28 18:22] joeyparrish commented on #4161
I wonder if this has to do with the way we manage buffering states in the player.  It's not ideal.  We do everything ourselves, rather than trusting the browser.  It has been refactored a few times, but the general algorithm has been unchanged since we first launched Shaka Player, and browsers were notoriously unreliable with regards to buffering state.

If you can modify the player, please try th

[2022-04-29 01:57] rybi opened #4172 "Switching audio languages clears buffer and stalls playback for a second."
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?** yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** yes

**What version of Shaka Player are you using?**
3.3.2

**Please ask your question**

When I switch between audio languages, the player seems to remove all buffer and tries to immediately switch

[2022-04-29 02:02] rybi commented on #4172
As an example of different UX, the dash.js player switches streams on language change seamlessly after about 2 seconds in this example: https://reference.dashif.org/dash.js/latest/samples/multi-audio/multi-audio.html
which is also not ideal, as 2 seconds are quite long.
Is there a way to preload other audio tracks in some way or run them in parallel perhaps to make switching audio instantaneous?

[2022-04-29 04:03] subhrakdas commented on #4171
I understood that during playback Codec switching is not possible, but is there any preferences we can set for Atmos, when 5.1 and Atmos both are present in a single manifest, as currently 5.1 only being played.

[2022-04-29 05:34] avelad commented on #4171
According to https://developerkb.dolby.com/support/solutions/articles/16000067758-what-is-dolby-digital-plus-joc-joint-object-coding-

I think that what is being done in the parser is wrong, besides that in HLS it is not done. I will send a PR throughout the day to correct this.

Thank you!

[2022-04-29 07:17] frankykubo commented on #4167
@joeyparrish Yes, you are right. Removing `export default shaka;` from shaka-player.compiled.d.ts file fixes the error.

[2022-04-29 07:31] MalgoBlock commented on #4161
Thank you for the suggestion! I have tried it but unfortunately this does not seem to make any difference.
Is there anything that could be done to prevent the player going into buffering state?
When I check the readyState of the video it is always 4 but the player enters buffering state and seems stuck in it.
I looked a bit through the Shaka Player code but couldn't see anything obvious.

[2022-04-29 09:40] Gheri commented on #3926
Hey Joey,
Any pointers as to where I can start If I have to implement the XLink
onRequest Feature in Shaka Player ??
Like If you have any design on top of the mind on how to start with.
Any Major Challenges that we could not implement on Request but only
implement on Load.
Dash Server Guided Ad Insertion Support - Patch Manifests & XLinks for VOD
· Issue #3238 · shaka-project/shaka-player (github.

[2022-04-29 11:44] avelad commented on #3998
@baehongjun0212 are you using macOS or iOS?

[2022-04-29 11:47] avelad commented on #3989
In this case the video element controls the reproduction, what happens is something that the Safari player itself does.

If you want to reverse this behavior you can use:

[code]

[2022-04-29 12:59] Gheri commented on #3238
@ronak2121 I can see XLink on Request is not supported yet on Shaka Player
Then how you are going with SGAI ??

[2022-04-29 15:23] joeyparrish commented on #3926
Let's discuss xlink in the xlink issue for clarity.  As for chaining, as I mentioned before:

I think that's roughly the control flow you want.  The rest is a question of where to put the code, how to organize things, and how to plumb through the data you need to do it.

Since this is signaled in the manifest, you could always add a property to shaka.extern.Manifest, populated by shaka.dash.DashPa

[2022-04-29 16:38] joeyparrish commented on #4167
Thank you for confirming.  I will revert the PR that caused this.

[2022-04-29 17:01] joeyparrish commented on #4166
I built an automated test that stores a 4k VP9 version of Sintel, 10 times over to get an average.  With the latest code in main (including Alvaro's round-robin 5-parallel download improvement), I get:

mean storage time: 75.352 seconds
stddev: 1.9794327470263
equivalent bandwidth: 90.11705 Mbit/s

Fetching the same file via wget, I get a transfer rate of 373 Mbit/s.

Now I'm going to see if there

[2022-04-29 17:08] joeyparrish commented on #4166
Commenting out the call to `shaka.offline.Storage.assignStreamToManifest` leaves a broken system, but one which doesn't touch the manifest in the database after each and every segment.  This should show us how much of the problem is caused by serialized database access, and how much of the problem is caused by individual segment requests that could be coalesced.  That will provide an upper bound o

[2022-04-29 17:14] joeyparrish commented on #4166
Without touching the database, I get:

mean storage time: 26.3522 seconds
stddev: 10.280365370939
equivalent bandwidth: 257.68249 Mbit/s

This is a 2.86x improvement in throughput.  So I'm going to try to offload the database work as much as possible, and avoid queuing it with the downloads.

[2022-04-29 18:47] #4167 closed

[2022-04-29 18:55] joeyparrish commented on #4166
Moving database operations to a separate queue (without collapsing them) doesn't help at all:

| | limit | baseline | no DB (broken) | separate DB queue |
| ---- | ---- | ---- | ---- | ---- |
| mean storage time (s) | ~20 | 75.35 | 26.35 | 80.08 |
| std. deviation |  | 1.98 | 10.28 | 3.21 |
| equivalent bandwidth (Mbit/s) | ~373 | 90.12 | 257.68 | 84.80 |

[2022-04-29 21:31] joeyparrish commented on #4166
I also tried decoupling manifest updates from segments and batching manifest updates together, but I never quite got it right.  My implementation resulted in inconsistent test failures.  The results for that in the table below are just estimates based on what little data I did get.

I then tried deferring all manifest updates until the end (but writing individual segments right away).  I think thi

[2022-04-29 21:45] joeyparrish commented on #4161
If that's not the issue, then I'm not sure what is.  I'll try debugging on our Tizen and see if I can figure it out.

[2022-04-29 21:46] #4171 closed

[2022-04-29 21:54] joeyparrish commented on #4172
Unfortunately, you really can't have it both ways.  Either we buffer the new thing first and delay switching (as dashjs seems to), or we clear the buffer and switch immediately.  Currently, we switch immediately.

The thinking is that if I need to change audio languages, it's because I can't understand the current one.  That should be an immediate change.

We have audio language preferences in the

[2022-04-29 21:55] baseballbrad3 commented on #4166
I'm blown away by this. For me, the nightly demo site is already ~2x faster than the 3.3.4 demo site (~15s vs ~33s, or 49 Mbit/s vs 22 Mbit/s, for the same Sintel download). I'm excited to see the further improvements.

Thanks for tackling this so quickly, too. I can understand that downloads may not be the most popular feature so I wasn't expecting to see much movement on this.

[2022-04-29 21:56] joeyparrish commented on #3998
On iOS, `preferNativeHls: false` can't work, because native HLS is all there is.  On desktop Safari, it's different.

Does this answer your question?

[2022-04-29 21:59] joeyparrish commented on #4166
Thanks belong to @avelad!  He not only put together the PR for the first improvement, but quickly followed up by finding the root cause.  I would not have been able to put together my tests or my PR without that help.

[2022-04-29 22:31] rybi commented on #4172
Thank you for the thorough response!

I understand the reasoning and yes, from the UX point of view, if a user selects something critical and the change needs 2+ seconds to propagate, it would just feel unresponsive.

My use case is a bit special, I'm looking to create language learning exercises based on voluntary (and fast) switching between languages. Basically, once the user is tired of listen

[2022-04-29 23:15] ronak2121 commented on #3238
@Gheri we aren't doing SGAI yet. We're still on CSAI with Google IMA. I am super motivated to add this support though. I will hit you up @joeyparrish when we're ready to start contributing to get pointers.

[2022-04-29 23:34] #4166 closed

[2022-05-01 06:45] Rohan-Ramesh-Jadhav commented on #4120
@joeyparrish thank you for your response, I will try the same and will come back to you.

[2022-05-01 15:41] Gheri commented on #3926
Thanks @joeyparrish . I am going with xlink for SGAI for now as some devices does not support MPD Chaining and I have no control over their implementation.
Just Like for MPD Chaining #3238  issue you roughly gave pointers for implementation. Can you help us with some pointers for this issue xlink implementation ??

[2022-05-02 08:00] hiren3897 commented on #4150
@avelad thank you for your reply.

Noted!!

[2022-05-02 08:01] hiren3897 commented on #3708
Hello, yes it answers my question

Thanks :)

[2022-05-02 08:01] #3708 closed

[2022-05-02 08:06] hiren3897 commented on #3817
I have already created the bug issue here https://github.com/shaka-project/shaka-player/issues/3911

For the stream, maybe you can share your mail ID so I can send you a URL to test

[2022-05-02 08:07] hiren3897 commented on #3787
Yes, it perfectly answers my question
Thanks :)

[2022-05-02 08:07] #3787 closed

[2022-05-02 08:15] hiren3897 opened #4178 "Const Multiple Audio Language Order"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**Is your feature request related to a problem? Please describe.**

I am trying to play a live and VOD  (HLS) playback with multiple audio.

1) When the player is loaded every time the default language selected is changed.
Also, 2) the sequence of the languages is changed when the player is loaded or a

[2022-05-02 08:16] hiren3897 commented on #3978
#4178

[2022-05-02 08:16] #3978 closed

[2022-05-02 09:23] #3817 closed

[2022-05-02 10:53] Rohan-Ramesh-Jadhav commented on #4120
Hello @joeyparrish,
I used the player.detach() as suggested and it loads the data also, but player doesn't play even though i tap play button of the video tag. Below is what I am doing for offline play
`//detach code`
`      let video = document.getElementById('jVideoPlayer');`
`      window.player.detach().then((res)=>{`
`        window.player = new shaka.Player(video);`
`        window.storage.l

[2022-05-02 12:31] hiren3897 commented on #3371
@avelad Do you have any Dash or HLS live URLs with thumbnails?

[2022-05-02 12:42] avelad commented on #3371
@hiren3897 you can use https://livesim.dashif.org/livesim/testpic_2s/Manifest_thumbs.mpd

[2022-05-02 12:53] salles-g opened #4179 "Preroll advertisement fails to start and disappears"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
v3.3.4

**Are you using the demo app or your own custom app?**
I'm using the demo app.

**What browser and OS are you using?**
Google Chrome 100.0.4896.127 on Windows 10 Pro.

**What are the manifest and license server URIs?**
I'm using the [Sintel](http

[2022-05-02 13:51] stuartflanagan commented on #4040
Hi @joeyparrish. I have set up a small example of how I am seeing this 1002 error.
I am seeing an error with severity 2 thrown when the track is selected. First I am seeing the 404 from the VTT file.

We are not using the UI to select the track though, just selecting it programatically after it is added.

[code]

The error returned is:

<img width="621" alt="Screen Shot 2022-05-02 at 11 50 39 pm"

[2022-05-02 14:45] salles-g commented on #4179
Digging more into it: on an iPhone 6S (Safari), the video refuses to load with the following error, and clicking on the play button does not start the playback.

![image](https://user-images.githubusercontent.com/82478213/166236324-162503cb-9e59-494c-b8f0-e6b75d1fa8e3.png)

_(edited this out from the issue as this was done on a platfrom different than the specified)_

[2022-05-02 15:33] MLangendijk commented on #1610
@joeyparrish I'm still experiencing this issue on Samsung 2017 televisions with latest firmware. My client can't change the stream AvailabilityStarttime sadly. You mentioned a potential artificial offset, is that something you can give some pointers to that I can work on myself as a local experiment?

[2022-05-02 18:23] joeyparrish commented on #4179
Thanks for the report.  I can't reproduce this in Chrome 100 on ChromeOS.  I haven't tried an iPhone yet.

Did I understand you correctly that it also fails for you in Chrome 100 on Windows?

[2022-05-02 18:28] salles-g commented on #4179
That's correct, it fails for me in Chrome 100 on Windows 10 Pro.

If I click on the play button, there is a user interaction, so the ad plays perfectly:
https://user-images.githubusercontent.com/82478213/166304095-e8ecfacb-4300-4b99-a91f-3c8d8a5a11ee.mp4

However, if I refresh the page and don't interact with it, the ad just vanishes:
https://user-images.githubusercontent.com/82478213/166304172-1f

[2022-05-02 18:36] joeyparrish commented on #4120
Your code is very hard to read formatted in this way.  Here's a markdown tip: Use ` ```js ` on its own line, then all your code, then another ` ``` ` on its own line.  That will format the entire block as code and syntax highlight it for JavaScript.  I've edited your last post in this way, and also reindented the code for clarity.

The problem I see in your code is that you're detaching from the v

[2022-05-02 18:42] joeyparrish commented on #4179
I just tried again and this time I was able to reproduce it.  Nothing logged by IMA at all, nor any errors or warnings about it logged by Shaka.

We're loading the IMA SDK in the demo synchronously:

[code]

So there shouldn't be any issue with the timing of loading it.  I'm not sure what else it could be offhand, so we'll need to dig into this more deeply.

[2022-05-02 18:49] salles-g commented on #4179
Thanks for the quick response!

I don't know if this helps, but here's the error I get with the debug player in my custom application:
![image](https://user-images.githubusercontent.com/82478213/166306945-b5e99ca2-b106-4d7a-a104-0fa03582b9af.png)

[2022-05-02 19:58] #4062 closed

[2022-05-02 22:38] beka-discovery commented on #3673
What is the process of Redesigning the feature @joeyparrish? We might be able to contribute and possible stay on top of design and execution. As long as we have a clear understanding of the process and what you have in your head.

[2022-05-03 05:20] Rohan-Ramesh-Jadhav commented on #4120
Thank you @joeyparrish above instructions helped me in one way. I understood that every time I must not create a player and attach the player. and I changed the code in my project to the same. It worked like charm. But still, music didn't play when I turned off the internet connection to my PC. I will do one thing I will place my code to store the data and play offline. Could you able to tell me w

[2022-05-03 10:54] avelad commented on #4164
After including the Android change, and seeing the status of Fuchsia, I think the question can be closed.

[2022-05-03 10:54] #4164 closed

[2022-05-03 10:57] avelad commented on #4001
@pedjoni8 , Could you write to them? Is there anything else we can do?

[2022-05-03 10:59] avelad commented on #3932
We were able to solve your question? Is there anything else we can do?

[2022-05-03 11:02] avelad commented on #3923
Due to the security policy applied by DRM, it is not possible to view a video with DRM on a canvas. So it is not possible to do what you need.

This is a non-ShakaPlayer issue, we can give you support, but it is a limitation of the browser-drm conjunction.

[2022-05-03 11:11] avelad commented on #4006
@ShanePhelan I think this is more of a bug than a question, can you create an issue with the bug template and attach the url with which the bug is reproduced? Thank you!

[2022-05-03 11:23] avelad commented on #3895
Hi @hochhaus

1. We would be happy to support it directly in HLS and DASH, but as far as I know it is not specified how they should be included, if you have the information, please open an enhancement issue so we can do it in the future.
2. This sounds like a bug, please open a bug and we'll fix it.
3. I think it can be easily fixed.

[2022-05-03 11:31] avelad commented on #3890
Hi @pedrosilvabos. In version 4.0 we have resolved https://github.com/shaka-project/shaka-player/issues/4062 Can you try again with this version? Thanks!

[2022-05-03 11:33] avelad commented on #3866
This more than a question sounds like a bug, can you fill in the bug template and share the stream data to be able to do a deeper analysis? Thanks!

[2022-05-03 11:37] avelad commented on #4146
@koganiz Well it seems that TS does not work with FairPlay on MSE. Therefore only src= can be used in this case.

[2022-05-03 11:40] avelad commented on #4121
@albertdaurell Your idea seems good and it seems that it may be related to https://github.com/shaka-project/shaka-player/issues/2541, are you interested in submitting a PR?

[2022-05-03 11:42] avelad commented on #3764
@synologic Yesterday version 4.0.0 was released, can you test if it is still happening there? Thanks!

[2022-05-03 11:44] avelad commented on #3723
@joeyparrish , can you help @vaseala with his last question? Thanks!

[2022-05-03 12:28] koganiz commented on #4146
@avelad Without MSE I don't have a chance to intercept the httpx requests, they handled by Safari itself and fail because httpx is not a registered schema. I see the errors in console, but no such requests go through the network tab...

[2022-05-03 12:30] hochhaus commented on #3597
@joeyparrish Thanks for the 4.0.0 release.

I see support for "multiple chapter tracks with same language" but I can't find support for the "chapter marks in the seek bar". Did a change making it easy to add such markers in the seek bar land and I'm just missing it?

[2022-05-03 12:32] avelad commented on #4146
There is nothing else we can do from the player, since this is managed by Safari.

[2022-05-03 12:37] hiren3897 commented on #3597
I think @joeyparrish has by mistake closed this issue

And the work is not yet done for the chapter markers

[2022-05-03 14:34] avelad commented on #3908
@NorfeldtAbtion I have seen that with the published stream it does not happen, can you share a stream with which to reproduce the problem?

[2022-05-03 14:44] avelad opened #4185 "HLS failure with PRELOAD-HINT and low-latency mode disabled"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** YEs

**What version of Shaka Player are you using?** 4.0.0

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `main`?** Yes

**Are you using the demo app or your own custom app?** Demo

**If custom app, can you reproduce the issue u

[2022-05-03 14:49] avelad commented on #4185
More examples:
https://pf5.broadpeak-vcdn.com/bpk-tv/tvrll/llcmaf/index.m3u8
https://5d6e17f1ca731.streamlock.net/LowLatencyBBB/myStream/playlist.m3u8
https://d18lkalz24uryj.cloudfront.net/LLHLS.m3u8
https://ll-hls.softvelum.com/sldp/bbloop/playlist.m3u8
https://stream.mux.com/v69RSHhFelSm4701snP22dYz2jICy4E4FUyk02rW4gxRM.m3u8
https://llhls-demo.flussonic.com/flussonic/index.ll.m3u8

[2022-05-03 14:57] avelad commented on #4061
@GlassyYang can you execute `document.createElement('video').canPlayType('video/mp4; codecs="avc1.64003C"')` in the browser and attach the result?

[2022-05-03 15:02] avelad commented on #1261
Already done in v4.0.0

[2022-05-03 15:02] #1261 closed

[2022-05-03 15:06] Lubjan commented on #3657
Same for newest 4.0.0 release.

[2022-05-03 15:08] avelad commented on #1795
@mad-gooze Can you check if it happens with version 4.0.0?

[2022-05-03 15:10] avelad commented on #1378
@theodab it seems that the url no longer redirects to the mp4 file, can you share a new one?

[2022-05-03 15:22] hiren3897 commented on #3371
@avelad thanks for the URl.

Sorry to disturb you again but do we have the same sample Urls for HLS LIVE and VOD.

Thanks

[2022-05-03 15:24] avelad commented on #3371
I don't have any HLS at the moment.

[2022-05-03 16:37] joeyparrish commented on #4061
`MediaSource.isTypeSupported('video/mp4; codecs="avc1.64003C"')` might also be informative.

You can also go to https://shaka-player-demo.appspot.com/support.html and paste the output into a GitHub comment in a ` ``` ` block comment.

[2022-05-03 16:37] hochhaus opened #4186 "`addChaptersTrack()` promise resolves before the chapters file has been downloaded and parsed by the browser"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

 v3.3.4

**Can you reproduce the issue with our latest release version?**

Yes (tested against v4.0.0)

**Can you reproduce the issue with the latest code from `main`?**

Yes (tested against c2f1fb52d4acf05bf129e21e8219af95018ae9a3)

**Are you using the

[2022-05-03 16:40] joeyparrish commented on #3597
Yes, looks like this issue was tagged in the release notes, which caused the release workflow to close this issue.  Sorry for the mistake!

[2022-05-03 16:40] hochhaus commented on #3895
Thanks @avelad. I opened dedicated issues per your comments so I will close this issue.

[2022-05-03 16:40] #3895 closed

[2022-05-03 16:45] hochhaus commented on #3895
I also am not able to find this documented and the current implementation is not problematic. Should I find HLS / DASH documentation in the future I will open a dedicated issue.

[2022-05-03 16:48] joeyparrish commented on #3723
@vaseala, if processing the video is an option, I would recommend you use Shaka Packager (more powerful) or Shaka Streamer (easier) to create a segmented DASH or HLS stream.  Modifying it on-the-fly in the player is bound to be more work.

Shaka Packager will only package: segment the inputs you give it, and create the manifests.  Shaka Streamer is a front-end to Shaka Packager and FFmpeg to both

[2022-05-03 17:13] EinBaum opened #4188 "Exception in v4.0.0 with streaming.startAtSegmentBoundary"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
4.0.0

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `main`?**
yes

**Are you using the demo app or your own custom app?**
custom

**If custom app, can you reproduce the issue

[2022-05-03 18:02] albertdaurell opened #4190 "RESTRICTIONS_CANNOT_BE_MET reported twice when there is an HDCP error"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

Latest v4.0.0

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest code from `main`?**

Yes

**Are you using the demo app or your own custom app?**

Demo app

**If custom app, can you repr

[2022-05-03 18:04] albertdaurell commented on #4190
Also I can try to create a pull from there https://github.com/shaka-project/shaka-player/compare/main...albertdaurell:feature/report-restrictions-cannot-be-met-once if you agree...

Thx

[2022-05-03 18:18] perqa commented on #936
With the introduction of ShakaPlayer 3, the method `updateStartTime` was introduced:

**updateStartTime(startTime)**
Provides a way to update the stream start position during the media loading process. Can for example be called from the manifestparsed event handler to update the start position based on information in the manifest.

Although it's not exactly what this ticket requests, it seems like

[2022-05-03 18:49] liuyang5832 opened #4191 "v4.0.0 shaka player cannot display webvtt caption for HLS(either fmp4 or mpegts), DASH is fine"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://storage.googleapis.com/livestream-demo-output/miltonliu-webvtt-shaka-4-0-0-test/manifest.m3u8;panel=CUSTOM%20CONTENT;build=uncompiled

**What version of Shak

[2022-05-04 01:03] deisenbacher01 opened #4193 "CMAF CBCS FairPlay Content Failing"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;panel=CUSTOM%20CONTENT;build=uncompiled

**What version of Shaka Player are you using?**
v4.0.0-uncompiled

**What browser and OS are you using?**
Mozilla/5.0 (Macintosh; Inte

[2022-05-04 05:25] avelad commented on #4193
For FairPlay it is always necessary to configure filters for the license, you have some examples in: https://github.com/shaka-project/shaka-player/blob/main/lib/util/fairplay_utils.js

[2022-05-04 05:29] Leena-Sharma-rsys commented on #2597
hi @jakubvojacek
i am using the same ima sample tag  from page https://developers.google.com/interactive-media-ads/docs/sdks/html5/tags
and the javascript is not getting loaded in iframe from the html derived from pre roll survey.
Is there anything we need to add third party support or something else ?
thank You!

[2022-05-04 06:08] #4024 closed

[2022-05-04 06:08] #3663 closed

[2022-05-04 06:30] pedjoni8 commented on #4001
We switched to another DRM service. I'm closing this issue.

[2022-05-04 06:30] #4001 closed

[2022-05-04 06:36] theodab commented on #1378
It looks like Telecom-Paristech is no longer hosting that asset. [Their demo player](https://gpac.github.io/mp4box.js/test/index.html) doesn't even have links to new assets; a lot of the stuff is just the old broken links. Maybe they've forgotten about it?

Annoying. I guess that teaches me not to rely on externally-hosted assets for bug reports. We might have to make new content for this.

[2022-05-04 10:19] avelad commented on #4188
I have checked and it happens. Seems like a regression when removing deprecated code in 4.0. @joeyparrish , can you take a look at it?

[2022-05-04 10:25] sunknudsen commented on #3257
For privacy reasons, I self-host fonts in my React apps.

I installed [shaka-player](https://www.npmjs.com/package/shaka-player) and use custom version of `node_modules/shaka-player/dist/controls.css` removing `@font-face` declarations and replacing `font-family` attributes.

[code]

I then installed [@fontsource/material-icons-rounded](https://www.npmjs.com/package/@fontsource/material-icons-roun

[2022-05-04 10:26] avelad commented on #4190
Please, open a PR and we'll review as soon as possible. Thanks!

[2022-05-04 10:29] avelad commented on #3894
@MartinMalinda  Can you check with 4.0.0 if you reproduce the problem? Thanks!

[2022-05-04 10:30] avelad commented on #3919
@hiren3897 With the previous comment have all your doubts been resolved?

[2022-05-04 10:34] avelad commented on #3917
@paolapereira93 Can you check with 4.0.0 if you reproduce the problem?

[2022-05-04 10:35] avelad commented on #4077
@joeyparrish Can you review @Pereverzev-Alexander 's question?

[2022-05-04 10:42] avelad commented on #3935
Can you check with 4.0.0 if you reproduce the problem?

[2022-05-04 10:51] aifeipeng commented on #3935
It doesn't freeze and stop downloading but it I get `Jumping forward 5.977694 seconds because of gap starting at 66.010667 and ending at 71.989333` every third second or so

[2022-05-04 10:54] avelad commented on #3935
Have you checked that the stream does not have jumps with other players? Is the playback smooth?

[2022-05-04 10:57] avelad commented on #3918
Yes, it is possible to use custom controls with Fairplay, but only when not playing fullscreen on iOS. In iOS, the Fullscreen API is not enabled, so the native controls would be shown in Fullscreen.

[2022-05-04 11:01] aifeipeng commented on #3935
Pretty smooth with hls.js at least, example: https://hls-js.netlify.app/demo/?src=https%3A%2F%2Fatg-eu.akamaized.net%2Fatgse%2Fprod%2F2022-01-22%2FLopp_2022-01-22_15_6_20220122164543_500_20220122044543534.m3u8&demoConfig=eyJlbmFibGVTdHJlYW1pbmciOnRydWUsImF1dG9SZWNvdmVyRXJyb3IiOnRydWUsInN0b3BPblN0YWxsIjpmYWxzZSwiZHVtcGZNUDQiOmZhbHNlLCJsZXZlbENhcHBpbmciOi0xLCJsaW1pdE1ldHJpY3MiOi0xfQ==

[2022-05-04 11:12] albertdaurell commented on #4190
@avelad create PR, thx!

[2022-05-04 12:23] avelad commented on #4070
@bram-abe Can you check with 4.0.0? I think the problem could have been solved.

[2022-05-04 12:35] avelad commented on #4093
@adgllorente I think this solution would help you: https://github.com/shaka-project/shaka-player/pull/4189 , can you confirm?

[2022-05-04 14:16] valotvince opened #4197 "Custom ABR Manager & mean bitrate ahead"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Latest

**Please ask your question**
While using VBR streams with big size differences between segments, I'd like to calculate the "mean" bitrate

[2022-05-04 20:45] #1833 closed

[2022-05-04 20:46] #3188 closed

[2022-05-04 20:46] #2505 closed

[2022-05-04 20:49] joeyparrish commented on #3909
Right now our top priorities are to close the feature gaps between CAF's current HLS player (closed source) and Shaka Player, so that Shaka can take over HLS playback in CAF.  So lots of HLS work in the next couple of quarters.

[2022-05-04 20:49] #3909 closed

[2022-05-05 01:12] bknill opened #4198 "Preload documentation"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**
4.0.0

**Please ask your question**

Hi is the Preload documentation available yet (I realise you've only just released it!) Is it as described in [the pr

[2022-05-05 02:47] joeyparrish commented on #4198
Sorry for the confusion.  Preload (#880) has not been implemented yet.

[2022-05-05 02:47] #4198 closed

[2022-05-05 09:34] hiren3897 commented on #3919
Hello, yes it answers my question :) thanks

[2022-05-05 09:34] #3919 closed

[2022-05-05 09:40] hiren3897 commented on #3371
Thanks, I developed one for HLS VOD with thumbnails

For the Dash Manifest, We have to globally accept the thumbnail formats.
Like there are many examples, ranging from 1-7 tiles OR 1x1 !!

[2022-05-05 09:42] avelad commented on #3371
@hiren3897 Are you working on add this feature to ShakaPlayer?

[2022-05-05 09:45] hiren3897 commented on #3371
For the moment I am working on my application, Once I achieve that I will schedule my time to work on ShakaPlayer.

[2022-05-05 12:49] #3865 closed

[2022-05-05 12:49] #3804 closed

[2022-05-05 12:49] #3759 closed

[2022-05-05 12:49] #3757 closed

[2022-05-05 13:45] #3879 closed

[2022-05-05 16:01] joeyparrish commented on #4093
Solved by #4189

[2022-05-05 16:01] #4093 closed

[2022-05-05 18:07] #4165 closed

[2022-05-05 18:10] #4190 closed

[2022-05-05 18:40] #4151 closed

[2022-05-05 20:06] joeyparrish commented on #4013
As mentioned above Shaka supports hardware DRM, just through DRM configuration.  There is no automatic selection of hardware vs software CDM, though.  If not specified by the app, the default is up to the browser/platform.

Shaka could offer something in the future where we will automatically try HW first, then fall back to SW.  I'll rename the issue to reflect this.

But before doing any work on

[2022-05-05 20:19] joeyparrish commented on #3896
@FireMasterK, we need more information.  Are you setting the `controls` attribute on the `<video>` element?  Are you using the `data-shaka-player` attributes and auto-setup, or are you creating `shaka.ui.Overlay` explicitly, or both?

Can you share the parts of your application that load Shaka and interact with the UI?

[2022-05-05 20:25] joeyparrish commented on #3917
@paolapereira93, as you can see from the support.html output, `com.microsoft.playready` support is detected.  Shaka Player _does_ support PlayReady, and you can try other PlayReady content in our demo to confirm that.

However, some aspect of this content causes the check to fail.  Things like container, codec, etc are passed to the EME API to check if it can be decrypted and played.  I would sugg

[2022-05-05 20:27] joeyparrish commented on #3756
From the symptoms and the similar issue in dash.js, I would suggest that there's likely something wrong with the way the content is converted from live to VOD.  But without a manifest URI, there's no way to confirm.

[2022-05-05 20:29] joeyparrish commented on #4077
@Pereverzev-Alexander, I would say that seekRange() should show what is actually seekable.  If segments are not available, the seek UI shouldn't allow you to try to seek to them.

It sounds like this isn't accounted for, though.

seekRange() is fed by PresentationTimeline, which is a bit complicated.  But it does know about the range of available segments, if I recall correctly.

[2022-05-05 21:04] scottpetrovic opened #4199 "Handle http errors better when removing offline content"
NOTE: I spent a bit of time and have a PR I could do for the fix to resolve this. Here is the PR...
https://github.com/shaka-project/shaka-player/pull/4200

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
4.0 -- main (git 3cfd3d35abd) from 5/5/2022

**Can you reproduce the issue with our latest release

[2022-05-06 02:50] xhwang-chromium commented on #4013
Re https://github.com/shaka-project/shaka-player/issues/4013#issuecomment-1110579710. For Chrome browser we only support 'SW_SECURE_CRYPTO' (on Android), 'SW_SECURE_DECODE' and `'HW_SECURE_ALL'`. So querying for the following would be sufficient. Also, if L1 is preferred, it should be queried first, e.g.
[code]

Re https://github.com/shaka-project/shaka-player/issues/4013#issuecomment-1118998669.

[2022-05-06 05:57] dolphincodes opened #4201 "Shaka player is crashing in Windows Edge browser."
We are using **Shaka player** for playing videos .The player is getting crashed, when the user tries to seek to an unbuffered timestamp in Edge browser.

Browser: Edge

Operating system: Windows 10

Streaming protocol: DASH/HLS

Shaka Player version: 3.3.0

Sample video url: https://d2jhh4etnmwj0j.cloudfront.net/3f30e3df-4915-462b-b32b-b84d647c7349/dash/dd1c083a-bb93-436c-a335-52ceff74668d.mpd

Al

[2022-05-06 06:27] BucherTomas commented on #3917
The m3u8 playlist does not provide value in CODECS tag for audio

[code]

requestMediaKeySystemAccess() then fails with

`MediaCapabilities.decodingInfo() failed. {"type":"media-source","video":{"contentType":"video/mp4; codecs=\"avc1.64002a\"","width":1920,"height":1080,"bitrate":4333805,"framerate":60},"audio":{"contentType":"audio/mp4; codecs=\"avc1.64002a\"","channels":2,"bitrate":4333805,"sam

[2022-05-06 08:00] hiren3897 commented on #3371
The safari browser doesn't detect or load  `#EXT-X-IMAGE-STREAM-INF` from the master playlist. I checked the browser networks.

It works for chrome, firefox.

It returns `null` and `undefined` from `this.player.getImageTracks()`

[2022-05-06 08:03] avelad commented on #3371
In safari are you using the native player (src=) or are you using MSE?

[2022-05-06 08:05] hiren3897 commented on #3371
I am using Native Player(src=) in safari

[2022-05-06 08:08] avelad commented on #3371
With src= there is no way to use thumbnails in Safari.

[2022-05-06 08:09] hiren3897 commented on #3371
Then can you please tell me how I can use MSE on safari? to play HLS live and VOD?

[2022-05-06 08:22] saringer commented on #3989
Our content is encrypted with Fairplay. Would that still be supported if we disable the native hls support?

[2022-05-06 08:22] hiren3897 commented on #3371
Thanks, it worked and thumbnails appeared.

can you please quickly explain to me the difference between native safari (src=) and MSE?

Specially which one is the best to use MSE or Native?

[2022-05-06 08:25] avelad commented on #3989
Fairplay is compatible with MSE (mp4) in 4.0. If your content uses TS, you have to use src= (native)

[2022-05-06 08:27] avelad commented on #3371
HLS on MSE still has some limiting features, but it is fully functional. Are you using FairPlay?

Chapters work in both modes.

[2022-05-06 09:41] hiren3897 commented on #3371
after setting streaming.useNativeHlsOnSafari to false on iPhone safari it still use Native (src=).

On iPad we have MSE but when I mousemove the seek-bar the thumbnail doesn't appear!! when I click or seek-bar sometimes the thumbnails appear! do you know the reason why?
Is there any other event we have to bind to have thumbnails in iPad and iPhone level when seek-bar is moved?

touchmove event? to

[2022-05-06 09:50] avelad commented on #3371
Yes, iOS does not support MSE yet (see https://bugs.webkit.org/show_bug.cgi?id=225564 ), on iPadOS MSE is supported as long as the web is not added to the home screen.

[2022-05-06 20:32] ghouet opened #4202 "PERIOD_FLATTENING_FAILED Error when playing mixed hvc1/hev1 or dvhe/dvh1 periods."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Sahak 4.0.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**
Demo

**If custom app, can you reproduce the i

[2022-05-06 23:10] joeyparrish commented on #3917
Ah, that makes sense.  With only one codecs value for a variant with audio, the HLS parser gets confused.  It could probably be fixed to default to mp4a.40.2 in situations like this.

[2022-05-06 23:13] joeyparrish commented on #4201
That looks like a decoder error or demuxer error from the browser.  In Chrome, you can get more details with chrome:media-internals.  Does that work in Edge, too?

Some time in the last year or so (IIRC), Chrome moved media-internals to a special "media" tab in the debugger.  You might look for that, too, in Edge.

But unless we made a mistake in how we feed data to MediaSource, a MediaSource erro

[2022-05-06 23:14] joeyparrish commented on #4201
Oh, and I see you left an MP4 URL, rather than DASH or HLS.  MP4 files get played without MediaSource, so it seems that this can't be the URL you loaded to get MEDIA_SOURCE_OPERATION_FAILED.  If you'd like someone else to be able to reproduce your issue, please provide the full DASH or HLS URL instead.

[2022-05-07 05:37] #3998 closed

[2022-05-08 09:22] oxixes opened #4204 "Be able to play offline content on Safari on iPhone"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

Yes, currently offline content can be played on Safari for iPadOS, but not in iOS (which says it is not supported and gives an error).

**Describe the solution you'd like**

Be able to play offline content on Safari on iPhone.

**Descr

[2022-05-08 14:35] GlassyYang commented on #4061
I run these codes on my chrome with a result 'maybe'.

[2022-05-09 06:00] dolphincodes commented on #4201
Sorry, Updated video URL.

[2022-05-09 08:04] avelad commented on #4061
@GlassyYang can you execute `MediaSource.isTypeSupported('video/mp4; codecs="avc1.64003C"')`?

[2022-05-09 10:17] dolphincodes commented on #4201
[code]

[2022-05-09 13:11] hiren3897 commented on #3371
I am facing a problem while scrubbing on the `shaka-seek-bar` using the `mousemove` event on iPad Safari and Chrome.

On the web browser level, everything works like a charm

While testing it on iPad OS safari.
when I scrub the seek bar the thumbnails are not displayed (LIKE YOU HOLD THE INPUT RANGE ELEMENT AND TRY TO SEEK THE VIDEO)
but when I click at a certain position on seek-bar then the thum

[2022-05-09 21:24] ronak2121 commented on #3238
@avelad is this being considered to be added in version 4.1? @joeyparrish if you still need help implementing this or HLS Interstitials, we are open to help you. Can you describe the next steps?

[2022-05-09 23:06] #3749 closed

[2022-05-09 23:17] joeyparrish commented on #3238
As far as I can tell, nobody is working on this yet, so it shouldn't be in the v4.1 milestone.  I placed this enhancement in the backlog for now.

As for next steps, the original post describes what look like several separate requests:
 - Support for xlinks "onRequest"
 - Some handling to indicate whether a period being played is an Ad or not
 - Or exposing manifest events so we can track it on ou

[2022-05-09 23:36] joeyparrish commented on #4201
This looks like the relevant part of the media-internals log:

I think we can call this bad content.  Please file an issue with your encoder or packager vendor.

[2022-05-09 23:39] joeyparrish commented on #4061
Can you be more specific?  Can you provide us with a content URL or another way to reproduce your issue?

[2022-05-10 00:57] wjywbs opened #4207 "Non DRM video fails to play with error 4032 when DRM config is set"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
4.0.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**
demo

**What browser and OS are you using?**
Chrome,

[2022-05-10 11:07] #3932 closed

[2022-05-10 11:07] #3923 closed

[2022-05-10 11:36] #4006 closed

[2022-05-10 11:36] #3890 closed

[2022-05-10 11:36] #3866 closed

[2022-05-10 12:10] #3764 closed

[2022-05-10 16:01] dolphincodes commented on #4201
Okay. But it's working fine in Edge browser on Mac OS.

[2022-05-10 16:40] joeyparrish commented on #2541
This appears to have been resolved in #4189.

[2022-05-10 16:50] joeyparrish commented on #4185
From what I can tell in the debugger, it's not RENDITION-REPORT that triggers the issue, but PRELOAD-HINT.

The RENDITION-REPORT is attached to the last segment, which is generated from PRELOAD-HINT.  I think without RENDITION-REPORT, the results would be the same.

This is what the HLS parser is doing when it throws that error:

[code]

Here `hlsSegment.partialSegments.length` is 1, but `lowLaten

[2022-05-10 16:52] joeyparrish commented on #4185
Confirmed.  Enabling low-latency mode makes the content play without modifying the source:

https://v4-0-0-dot-shaka-player-demo.appspot.com/demo/#audiolang=es-ES;textlang=es-ES;lowLatencyMode=true;uilang=es-ES;asset=https://pf5.broadpeak-vcdn.com/bpk-tv/tvrll/llcmaf/index.m3u8;panel=CUSTOM%20CONTENT;build=uncompiled

[2022-05-10 17:42] #3723 closed

[2022-05-10 20:19] #1308 closed

[2022-05-10 20:34] joeyparrish commented on #4207
This is working as expected.  Here is why:

For DRM live streams with unencrypted ad periods, we can't always tell from the content that there will be any encrypted content.  If we join a stream in the middle of an ad break, we may only see unencrypted segments at that moment.  But if we don't set up DRM, and DRM content appears later, it will be too late.  So any time DRM is configured, we set it

[2022-05-10 20:35] #2380 closed

[2022-05-10 20:37] joeyparrish commented on #3705
Sorry, it's really difficult to advise you on making a change if we can't see what you're doing.  Feel free to open a PR if you'd like to discuss the change there.

[2022-05-10 20:37] #3705 closed

[2022-05-10 21:33] joeyparrish opened #4209 "Disabling Shaka controls in the demo still uses Shaka controls for text on the first playback"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.2.2 through v4.0.0 (haven't tested earlier than v3.2.2)

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**

[2022-05-10 22:34] joeyparrish commented on #4185
I have what I think is a good fix, but I got distracted by other duties and haven't quite finished the PR.  I still need to write a regression test, verify that it fails, then verify that the fix fixes it.  Hopefully I'll finish that later tonight or more likely tomorrow (Wednesday America/Pacific time).

[2022-05-11 00:09] joeyparrish commented on #4107
Request and response filters for manifests and segments are not possible on iOS, because iOS does not permit Shaka Player to be in charge of network requests for media.  On iOS, all playback is through Apple's native HLS implementation.  The only requests we get to make on iOS are DRM license requests.

Does this help?

[2022-05-11 08:41] qba86 commented on #4107
@joeyparrish thank You for Your request. "Request and response filters for manifests and segments are not possible on iOS" - I know It.
"The only requests we get to make on iOS are DRM license requests." - so how can I get license request?

[2022-05-11 10:44] wjywbs commented on #4207
Thanks, I assume the web app needs to add the check of DRM content, and conditionally set DRM configs to the player.

By the way, setting videoRobustness to SW_SECURE_DECODE will play the unencrypted video.

[2022-05-11 11:07] #3918 closed

[2022-05-11 12:49] #4070 closed

[2022-05-11 12:53] GlassyYang commented on #4061
I use `gpac` generating ll-hls stream. after I upgrate `gpac` to newest version, this problem doesn't appear any more. I don't knoe whether `gpac` generate different media type or it's just the `gpac`'s problem.

[2022-05-11 13:36] hiren3897 opened #4210 "v4.0 Invalid config, unrecognized key .manifest.hls.useFullSegmentsForStartTime"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
v4.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**

Demo App
**If custom app, can you reproduce the issu

[2022-05-11 15:25] hiren3897 opened #4211 "HLS FAIRPLAY with DRM not working with v4.0.0"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
v4.0

**Can you reproduce the issue with our latest release version?**
YES

**Can you reproduce the issue with the latest code from `main`?**
YES

**Are you using the demo app or your own custom app?**
Demo

**If custom app, can you reproduce the issue us

[2022-05-11 17:21] joeyparrish opened #4214 "Remove shaka.cast APIs, have UI talk directly to generic receivers"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

The Shaka cast APIs predate the Cast Application Framework (or at least our awareness of it).  Senders using shaka.cast APIs must also have receivers using shaka.cast.  Shaka-based senders that use CAF-based receivers would have to byp

[2022-05-11 17:23] joeyparrish commented on #4133
The `shaka.cast` APIs are meant to be used on the sender side with `shaka.cast` used also on the receiver side.  For a receiver you don't control, you should probably use the Cast SDK directly.  In a future release, Shaka Player's `shaka.cast` API will be replaced with a cast button in our UI that talks directly to generic receivers.

See also #4214

Are you using the Shaka Player UI or a custom U

[2022-05-11 17:52] joeyparrish commented on #4161
I'm unable to access the content you sent us privately.  I get HTTP 403 responses.  Is it geo-restricted?  I see that your company is in Germany.  Do I need to VPN through Germany to access it?  I'm also getting 404 responses when I post (empty payload, with curl) to the license server URLs you provided.  Vielen Dank!

[2022-05-11 17:54] joeyparrish commented on #4142
Lowering priority since this is specific to one combination of USP version and Tizen firmware version.  (Feels likely to be an external issue.)

[2022-05-11 17:54] #4210 closed

[2022-05-11 18:02] joeyparrish commented on #4172
You can't buffer all audio streams at once.  That's not how the underlying MediaSource API works as far as I know.

You could modify Shaka Player to allow you to treat language changes specially.  Instead of clearing the buffer, you could clear the buffer some small distance ahead of the playhead.

The issue with that is seeking.  If the user seeks back, they are getting the old language again.  I

[2022-05-11 18:03] joeyparrish commented on #4178
Is this using the Shaka Player UI?  Or is the issue the list of languages/tracks from the Shaka Player API (`getAudioLanguages()`)?

[2022-05-11 18:06] joeyparrish commented on #4179
Autoplay restrictions are entirely up to the browser, and client-side ad insertion often involves a secondary video element that overlays ours.  So even if the browser allows you to autoplay the main element (because the user clicked something), it's conceivable that the browser might still reject autoplay from a secondary ad element in an iframe.

I would suggest you take this up with IMA instead

[2022-05-11 18:09] joeyparrish commented on #4186
Inside `addChaptersTrack()`, we `await this.addSrcTrackElement_()`, but that resolves as soon as the Track element is appended to the media element as a child.  We could `await` some other event that would indicate the track has been parsed.  Let me look into it.

[2022-05-11 18:10] salles-g commented on #4179
Thanks! I'll try and bring it to them.
Just one last question. My issue is: even if I have autoplay disabled, it tries to autoplay. Is that really up to IMA, considering Shaka creates the <video> tag?

[2022-05-11 18:11] #4185 closed

[2022-05-11 18:34] joeyparrish commented on #4188
There are no tests that activate that code path!  Fixing the code was easy.  I'm adding tests now.  PR coming soon.

[2022-05-11 18:56] hiren3897 commented on #4210
hello thanks for the information

but when I try to play HLS VOD it throws errors in the console and I have no playback.

I will send the materials to test tomorrow with debug mode so you easily have a look.

can I send it to shaka-player-issues@google.com?

[2022-05-11 18:58] hiren3897 commented on #4211
after changing it from `com.apple.fps.1_0` tp com.apple.fps' still it doesn't work for me.

[2022-05-11 19:02] joeyparrish commented on #4191
This may be related to `X-TIMESTAMP-MAP` and the use of sequence mode for the audio/video content.  In this WebVTT content, I see:

[code]

VTT timestamps at 1 hour map to main content at 324000000 / 90k = 3600.00000 = 1 hour.  So there is no relative offset.

However, the media timestamps are ignored in sequence mode.  The first audio segment, for example, has an internal timestamp of 7686.952, o

[2022-05-11 19:14] joeyparrish commented on #4191
If we could perfectly emulate sequence mode for text, then the first text segment would appear at time 0, without regard for the timestamps in it.  However, we don't know when a text segment "starts" from its contents.  The segment could cover a 10-second period of time, but only have a cue appear at time 5.  Or it could be completely empty.  So the distance from the conceptual start of a text seg

[2022-05-11 19:38] hiren3897 commented on #4210
https://shaka-player-demo.appspot.com/demo/#audiolang=en-IN;textlang=en-IN;uilang=en-IN;asset=https://bhaktimarga-livestreaming-p30-cdn.hexaglobe.net/e01fee8f14cb7ea86e9b8bd5ac125676/627c0d93/bhaktimarga/bhaktimarga-website-web-1/bhaktimargalivestreaming_fre.smil/playlist.m3u8;panel=CUSTOM%20CONTENT;build=uncompiled

[2022-05-11 19:53] hiren3897 commented on #4211
I tested on the Shaka demo app and it says failed to decode media failed to decode

[2022-05-11 19:57] joeyparrish commented on #4191
Looks like the trick to change modes works on desktop Chrome.  Now to test it on all of our other supported platforms in the lab.

[2022-05-11 19:58] hiren3897 commented on #4211
I have sent an email to shaka-player-issues@google.com with the template and the demo test URL. can you please test it on safari

Thanks

[2022-05-11 20:02] joeyparrish commented on #4210
That's a CORS error.  It has nothing to do with the player.  It means the origin requesting the content (that's our demo) doesn't have permission to do so (that's controlled by the server hosting the content).  You can read more about Cross-Origin Resource Sharing on MDN: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

[2022-05-11 20:07] hiren3897 commented on #4210
So the player is making the request to 'https://bhaktimarga-livestreaming-p30-cdn.hexaglobe.net/e01fee8f14cb7ea86e9b8bd5ac125676/627c0d93/bhaktimarga/bhaktimarga-website-web-1/bhaktimargalivestreaming_fre.smil/bhaktimargalivestreaming_video_1080_high_20220504133732_002161_03819784_0000006240000.ts' ?

but before when we used manifest.hls.useFullSegmentsForStartTime the error was not coming

the pr

[2022-05-11 20:50] joeyparrish commented on #4191
Works on all other platforms, except Tizen 2 & 3, which don't support sequence mode at all, and are already excluded from our new HLS parser.

There are some tests which need updating, but the fix seems good.

[2022-05-11 20:59] #4188 closed

[2022-05-11 21:14] joeyparrish commented on #4210
Range headers need special CORS configuration.  If your content uses byte ranges, then the server has to be configured to send the necessary CORS headers to allow `Range` in the request.  This may also trigger a "CORS preflight request", but I can't recall for sure.

[2022-05-11 21:44] joeyparrish commented on #4197
How do you get size information per segment?  Do the segments all have byte ranges in the manifest?  I think this would be nearly impossible to do efficiently without byte ranges.  If each segment has its own URL, I think you wouldn't have the necessary information.

Yeah, we defer segment index creation to keep memory usage down.  There are other implications depending on whether its DASH or HLS,

[2022-05-11 22:03] joeyparrish commented on #4199
We found the root cause in https://github.com/shaka-project/shaka-player/pull/4200#issuecomment-1124336083 .  I've assigned this to @scottpetrovic, since there is already a PR in progress.  Thanks!

[2022-05-11 22:04] joeyparrish commented on #4199
Bumping priority to P1 since the root cause is a Promise from the Widevine CDM that fundamentally hangs.  We will work around it with a timeout and Promise.race().

[2022-05-11 22:06] joeyparrish commented on #4201
The platform-level decoders may be different on different operating systems, and may have different restrictions.  There's nothing we can do about "parsed buffers not in DTS sequence" at the JavaScript level, so you'll need to try to fix your content.

If you disagree, you'll have to file an issue with Microsoft to get their decoder to accept your content.  Sorry we can't do more!

[2022-05-11 22:06] #4201 closed

[2022-05-11 22:11] joeyparrish commented on #4204
I'm sorry, but this is not feasible.  On iOS, playback happens through Apple's native HLS implementation.  Applications can't fetch segments themselves, and service workers can't intercept the requests made by the HLS implementation (which is in C++).

If Apple were to make the MediaSource API available on iOS, Shaka's offline APIs would work.  But until then, there's isn't anything we can do.  If

[2022-05-11 22:11] #4204 closed

[2022-05-11 22:13] joeyparrish commented on #4207
Yes, that's one solution.

That's because it's a robustness level that the platform actually supports.  You can do that, too, if you like.  There's nothing wrong with requesting DRM playback of clear content.  It's the unsupported robustness level that's causing the failure, and that's decided by the platform, not the JavaScript app.

[2022-05-11 22:13] #4207 closed

[2022-05-11 22:26] #4191 closed

[2022-05-11 22:29] jdguser opened #4218 "Metadata event is not being triggered to get ID3 tags on MPEG-DASH content"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.4

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**
Custom App

**If custom app, can you reproduce the i

[2022-05-11 22:34] joeyparrish commented on #4218
How can we reproduce the issue and debug it, then?

[2022-05-11 22:50] jdguser commented on #4218
@joeyparrish - I will try to have the manifest file without that expiration time.

[2022-05-11 23:55] theodab commented on #4179
The `video` element that a client-side IMA ad is playing in isn't created by Shaka, actually. We give the IMA SDK an empty `div`, and it makes a `video` element inside that `div`. We also give it a fallback `video` element that we do make, but I think that's for if it is unable to make new elements. See [their docs](https://developers.google.com/interactive-media-ads/docs/sdks/html5/client-side/re

[2022-05-11 23:57] salles-g commented on #4179
Tysm! I'll close the issue in this case, then.

[2022-05-12 02:10] dolphincodes commented on #4201
Thank you @joeyparrish😊.

[2022-05-12 02:11] agajassi commented on #4143
<img width="1505" alt="Screen Shot 2022-05-11 at 6 03 51 PM" src="https://user-images.githubusercontent.com/12893220/167977978-8b5ea078-0637-44a7-a2be-83bf0af1f650.png">

In case if its helpful, here is the screenshot of 3015 error that gets fired when this issue is reproduced

[2022-05-12 11:11] enjikaka commented on #4193
I guess this is the same as I'm seeing that I mentioned in video-dev Slack. There is no way to transform initData anymore it seems. It's common for clients to strip skd:// there.

[2022-05-12 12:07] valotvince commented on #4197
I test if the manifest has byte range segment information, and if not I fallback to the simple_abr_manager of Shaka. Using the public methods from SegmentReference I am able to get back the bitrate of each segment.

Ok so I could run createSegmentIndex, pre-compute the track segments information, and remove the index right after. That would make a memory spike, but won't have a huge memory footpri

[2022-05-12 12:07] #4197 closed

[2022-05-12 15:17] hiren3897 commented on #3371
Hello, @avelad

we have a DASH live with a DVR of 3 hours with thumbnails.

the player is able to return only the thumbnails for lesser than 30 mins approx
If we go back more than 30 mins it returns the last thumbnail pointed at 30 mins
but not the actual request from the player.

for example, the live seek is from 40 to 200

then it gets the thumbnail between 150 to 200, after < 150 it gives 151

[2022-05-12 15:42] deisenbacher01 commented on #4193
Thank you... can you link the  video-dev  so I can watch it..... we see
most players still send the SKD... such as JW player, Video.JS...
Bitmovin.. Theo.. and others..

On Thu, May 12, 2022 at 7:11 AM Jeremy Karlsson ***@***.***>
wrote:

--
David Eisenbacher

[2022-05-12 15:52] hiren3897 commented on #3371
The player is not able to get the correct reference position.

https://github.com/shaka-project/shaka-player/blob/58182605a7da3c18a7331828c319c88446a13d52/lib/player.js#L3606

[2022-05-12 20:38] #3756 closed

[2022-05-12 22:08] #3896 closed

[2022-05-13 08:37] espinojim2 opened #4221 "not working on IOS webview"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;panel=HOME;build=uncompiled

**What version of Shaka Player are you using?**
v4.0.0-uncompiled

**What browser and OS are you using?**
Mozilla/5.0 (Windows NT 10.0; Win64; x64

[2022-05-13 12:10] #3989 closed

[2022-05-13 21:07] duggaraju opened #4223 "LL-HLS: Preload hinted fragments is played twice sometimes"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
4.0.0

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `main`?**
yes

**Are you using the demo app or your own custom app?**
both

**If custom app, can you reproduce the issue u

[2022-05-13 23:28] duggaraju commented on #4223
Sample live URL https://lldemo-usw22.streaming.media.azure.net/7c7bbf89-6a16-4b49-90d3-8bf15477b04f/93634f61-62c8-4f58-a500-ee2c9a6f40f4.ism/manifest(format=m3u8-cmaf).m3u8 but this may go down any time.

[2022-05-13 23:58] duggaraju opened #4224 "LL-HLS Add support for _HLS_Skip directive for playlist delta updates."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

Performance.  Since for LL-HLS the manifest is updated for each part and due to shaka architecture it updates all the bitrates (not just the playing one) it create a large number of manifest requests.

**Describe the solution you'd lik

[2022-05-13 23:58] #4224 closed

[2022-05-14 00:06] duggaraju opened #4225 "LL-HLS peformance - Only request the playlist for the bitrate currently playing instead of all variants"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

Performance impact. Since for LL-HLS the manifest is updated for each part and due to shaka architecture it updates all the bitrates (not just the playing one) it create a large number of manifest requests to the server

**Describe the

[2022-05-16 10:36] smvora4u opened #4226 "How to use ui elements class in angular project. Is there any code example of it?"
I am very new to Shaka player. I am using shaka player with my angular project. I follow [this method ](https://betterprogramming.pub/the-best-open-source-media-player-to-integrate-with-your-angular-apps-39a80ff1aedb)explained by some one. That is working fine but now show thumbnail on seekbar hover like youtube, want to seek 10 seconds forward and backward, change the style of controls like verti

[2022-05-16 11:43] hiren3897 commented on #4211
Hello @avelad did you got time to test it? are you available?

[2022-05-16 12:13] avelad commented on #4211
@hiren3897 Sorry, I'm on holidays until tomorrow

[2022-05-16 14:21] hiren3897 commented on #4211
Okay, once you are back on Wednesday please let me know.

[2022-05-16 17:23] joeyparrish commented on #4221
Since I'm not familiar with iOS WebView, what's the quickest way for me to bring up the demo in an iOS WebView?  Would I need to write and compile an application that uses WebView?  Or is there something trivial I can install on an iPhone?

[2022-05-16 17:24] joeyparrish commented on #4193
@avelad, can you answer this?  If I recall correctly, you've done more work on FairPlay than we have.

[2022-05-16 17:30] joeyparrish commented on #4225
Duplicate of #1936

[2022-05-16 17:31] joeyparrish commented on #4223
Do you get the same behavior for v3.3?  Or was this introduced in v4.0?

[2022-05-16 18:04] joeyparrish commented on #4061
Okay.  Based on your comment, and the fact that codec strings are passed directly from the content to the browser to set up the decoder, we will assume this was an issue with gpac that has been solved.  Thanks!

[2022-05-16 19:28] JulianDomingo opened #4227 "Add listenable events for playback stall detection / gap jumping"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes. This is strictly for information dispatching of stalling, which to my knowledge isn't included in the completed pull request refactoring the stall detection / gap jumping logic in https://github.com/shaka-project/shaka-player/pull/4125.

**Is your feature request related to a problem? Please describe.*

[2022-05-16 20:38] joeyparrish commented on #4226
We don't have thumbnail support in the UI yet, but we do have an open feature request for it already.

With the Shaka Player UI, you can:
 - Configure the UI to add or remove buttons or other UI elements
 - Configure the UI to change the order of elements in the UI
 - Style elements in CSS
 - Write plugins for additional elements we don't provide (custom buttons, etc)

See this page for details on

[2022-05-16 20:47] joeyparrish commented on #4178
Is the order of the languages in `player.getAudioLanguages()` self-consistent (same every time)?  Does the order there match the UI?  Does the order there match the HLS playlist?

[2022-05-16 20:48] joeyparrish commented on #4178
(Since you didn't provide any content for testing, we will need you to help us understand these details.)

[2022-05-16 21:13] hochhaus commented on #4186
Thanks @joeyparrish

[2022-05-16 22:27] theodab commented on #4226
See https://github.com/shaka-project/shaka-player/issues/3371 for progress on the UI thumbnails.

[2022-05-16 23:10] #4186 closed

[2022-05-17 04:08] smvora4u commented on #4226
- How to make vertical volume bar?
- 10 seconds forward and backward, how to do that?
- want seekbar and all controls in one line, like currently seekbar is under all other controls by default. I want it in between other controls.  i.e. Play/pause - current time - seekbar - volume - settings - PIP - full screen. all should be in one line.

Is there any example or so for this? Please provide so I c

[2022-05-17 04:32] joeyparrish commented on #4172
Okay, here's a sketch based on a side-project I have yet to release.  Google already released copyright of that side-project to me, and you (all) have my permission to use this as you see fit:

[code]

You will also want to listen to some other events on `mainMediaElement` and use them to synchronize state to the secondary elements:
 - play
 - pause
 - waiting (treat like pause)
 - canplay (play s

[2022-05-17 08:14] hiren3897 commented on #4211
@joeyparrish Yes!, you can forward it to him, I will send the new demo to test because the earlier URLs are expired

[2022-05-17 09:58] avelad commented on #4211
@hiren3897 One question, I haven't received Joey's email yet because he's sleeping, what is the DRM provider (company)?

[2022-05-17 10:20] hiren3897 commented on #3371
@avelad can we also see this bug on thumbnails with 3 hours of DVR?

[2022-05-17 10:27] avelad commented on #4211
Using: https://na-fps.ezdrm.com/demo/ezdrm/master.m3u8

and the next configuration:
[code]

And the next request filter:
[code]

and the next response filter
`shaka.util.FairPlayUtils.commonFairPlayResponse`

With this it works correctly in 4.0.0.

EZDRM data has been recolected from https://www.ezdrm.com/demonstration-of-shaka-player-security-ezdrm?hsLang=en

[2022-05-17 10:29] avelad commented on #3371
@hiren3897 please, open a new issue for it. Thank you!

[2022-05-17 10:33] avelad commented on #4193
Please see: https://github.com/shaka-project/shaka-player/issues/4211#issuecomment-1128695462

I have also tried your links, and it seems that the certificate did not work.
![Captura de pantalla 2022-05-17 a las 12 32 24](https://user-images.githubusercontent.com/8983024/168791882-bdc988a9-a720-47e0-8562-348795ac0d49.png)
![Captura de pantalla 2022-05-17 a las 12 32 33](https://user-images.githubu

[2022-05-17 10:45] hiren3897 opened #4230 "Dash live thumbnails with 3 hours of DVR no supported"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v3.2.2

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `main`?**
yes

**Are you using the demo app or your own custom app?**
Demo app

**If custom app, can you reproduce the is

[2022-05-17 11:47] avelad commented on #4152
Maybe related to https://github.com/shaka-project/shaka-player/issues/3367

[2022-05-17 11:48] avelad commented on #3505
@kailash-byjus  Can you test with 3.3.4 or 4.0.0? Thanks!

[2022-05-17 11:50] avelad commented on #2808
I don't know if this is resolved with the latest changes in HLS, @joeyparrish , can you check it?

[2022-05-17 12:13] hiren3897 commented on #4211
@avelad if you play this on Safari you will see the error 3016
https://shaka-player-demo.appspot.com/demo/#audiolang=en-GB;textlang=en-GB;uilang=en-GB;asset=https://equidia-racing1-p29-cdn.hexaglobe.net/91e41779dec52e9e2d993b71da22b004/628390a4/equidia/equidia-website-web-1/eqdracing1pri_fre.smil/playlistfairplay.m3u8;license=https://fps.ezdrm.com/api/licenses/aac98b67-4987-49ad-b6b5-139522b134ee?

[2022-05-17 12:22] avelad commented on #4211
https://user-images.githubusercontent.com/8983024/168809753-3caffd83-e56a-4e20-b1a3-b2795d064049.mov

Note: there are no video and audio due DRM restrictions in the recording.

![IMG_4402](https://user-images.githubusercontent.com/8983024/168809707-c96ddc3d-f8c4-4378-a50f-51bb4fc124c2.jpg)

[2022-05-17 12:27] hiren3897 commented on #4211
How did it appear in the second image?

It is only because of the DRM? so I have to ask the DRM about the problem we are facing?

[2022-05-17 12:39] avelad commented on #4211
I haven't done anything special, I just opened your link...

[2022-05-17 12:48] avelad commented on #4211
Note: I tested your url in iOS 15.5 (iPhone 13) and it works!

[2022-05-17 13:25] hiren3897 commented on #4211
Yes, I saw that already, it is weird maybe it is because of DRM not sure

but if I see on safari networks I have a correct license request with `200 OK`

[2022-05-17 14:07] avelad commented on #4004
I tried to reproduce the issue with https://shaka-player-demo.appspot.com/demo/#audiolang=es-ES;textlang=es-ES;uilang=es-ES;asset=https://storage.googleapis.com/shaka-demo-assets/sintel-widevine/dash.mpd;adTagUri=https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_position_start=1&cust

[2022-05-17 14:10] avelad commented on #3823
Any adaptive protocol you use has to be generated on the backend side.

It is not possible to add external audio tracks, but it is possible to add subtitle tracks with `addTextTrackAsync` (see https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html )

Does this solve your doubts?

[2022-05-17 14:16] avelad commented on #4223
I can reproduce it in 4.0.0 with https://shaka-player-demo.appspot.com/demo/#audiolang=es-ES;textlang=es-ES;lowLatencyMode=true;uilang=es-ES;asset=https://lldemo-usw22.streaming.media.azure.net/7c7bbf89-6a16-4b49-90d3-8bf15477b04f/93634f61-62c8-4f58-a500-ee2c9a6f40f4.ism/manifest(format=m3u8-cmaf).m3u8;panel=CUSTOM%20CONTENT;build=uncompiled

[2022-05-17 16:46] #4202 closed

[2022-05-17 16:47] joeyparrish commented on #4202
Thanks @ghouet!

[2022-05-17 17:48] joeyparrish opened #4234 "Xbox One disconnects from test runner"
The Xbox One in our lab disconnects from the test runner most of the time.  The rate of this occurring is not consistent, but I have not been able to get 5 successful test runs in a row on Xbox.  When the disconnect occurs, the device appears to briefly hang.  There is no log to indicate what test was running at the time because log delivery to the test runner is not synchronous.

Through trial an

[2022-05-17 18:45] theodab commented on #4152
I tried this out on both a real iPhone SE running 15.4.1, and the same iPhone 13 Pro simulator running iOS 15.4 you mentioned testing it on.

In both, seeking seemed to work fine. I tried both seeking with the scrubber, and seeking with the console, and it was able to keep playing after both.

I did notice that if I seeked into the last ~10 seconds of the presentation it would sometimes not play f

[2022-05-17 19:08] theodab commented on #4152
I tested some more, and I have been able to get it to hang.

I think Alvaro might be right that this is a duplicate of #3367. This issue doesn't specify, but I've only been able to make the player in the codepen hang by making unbuffered seeks via the scrubber, which is what the problem was in that issue. I still haven't reproduced by seeking in the console.

[2022-05-17 20:01] joeyparrish commented on #4152
It doesn't seem to be specific to byte-range requests, so let's close this as a duplicate.  @Benny739, please subscribe to #3367 for updates.

[2022-05-17 20:01] joeyparrish commented on #4152
Duplicate of #3367.

[2022-05-17 20:01] #4152 closed

[2022-05-17 20:03] joeyparrish commented on #4211
@avelad, I just forwarded you the info from @hiren3897.

[2022-05-17 20:54] joeyparrish commented on #4226
We don't have that built-in, but you can find examples of how others have done it with custom UI elements.  For example: https://github.com/patricktran/shaka-player-ui-controls

This could be changed with CSS if I'm not mistaken.  I believe there are examples of that in this third-party gallery of themes and styles: https://github.com/lucksy/shaka-player-themes

[2022-05-17 20:55] joeyparrish commented on #2808
I believe this is resolved now since #4217.

[2022-05-17 20:55] #2808 closed

[2022-05-17 22:13] joeyparrish commented on #4107
You can register a request or response filter, and on iOS, it will be called with `LICENSE`-type requests.  To make a license request, you need to configure the player for FairPlay.  See these two tutorials:

 - https://shaka-player-demo.appspot.com/docs/api/tutorial-drm-config.html
 - https://shaka-player-demo.appspot.com/docs/api/tutorial-fairplay.html

Does this answer your question?

[2022-05-17 22:17] joeyparrish commented on #3508
Performance should be much better in general with the latest releases.  It's possible that #4064 has solved this issue.  Can you please try your content again with the latest releases?  Currently, that would be v4.0.0, v3.3.4, or v3.2.6.

[2022-05-17 22:47] joeyparrish commented on #3792
I would recommend you use the buffering configuration: https://shaka-player-demo.appspot.com/docs/api/tutorial-network-and-buffering-config.html

In particular, setting a low `bufferingGoal` will make the player more reactive to adaptation decisions because it will buffer ahead less.  This also has the advantage that it doesn't waste bandwidth or data transfer by downloading a segment, only to rep

[2022-05-17 23:04] joeyparrish commented on #3822
@dolphincodes, you can customize the appearance of existing controls in CSS, or build your own custom controls.

If you want to override the appearance of a button to use something like an external SVG instead of the Material Icons font, I believe you should be able to do this with CSS alone.  For example, since the icons are a "font", you could choose to hide the "text" by setting `color: transpa

[2022-05-17 23:34] joeyparrish commented on #3825
Does this still happen with the latest releases?  The latest release in the v3.2.x branch is currently v3.2.6, and will likely be v3.2.7 by tomorrow.

[2022-05-17 23:36] joeyparrish commented on #3826
I'm not sure I understand the issue.  Could you share a short video of this effect?

[2022-05-17 23:42] joeyparrish commented on #3846
Shaka Player would deal with the data transfer, but it needs a manifest/playlist format like DASH or HLS to tell it what the URLs & byte ranges of the segments are.  If you have each segment in a separate file, the simplest format is probably an HLS media playlist.

If you want to control how much data Shaka is requesting relative to what your users are hearing, you can configure a specific `buffe

[2022-05-17 23:47] joeyparrish commented on #3891
I don't think this is something Shaka Player can do today, but there are some ideas out there that might get you closer.

We have had a low-priority feature request open for some time now (https://github.com/shaka-project/shaka-player/issues/764) to allow an app to append VOD clips together in the client.  It sounds like this would cover everything except the timeline UI, but nobody is working on

[2022-05-17 23:49] joeyparrish commented on #3872
A few follow-up questions:

Are you setting a service certificate for Widevine through Shaka's DRM config?  If not, Widevine will make an extra license request and round-trip to get one from the server.

When you say "The entire certificate call fetch happens in 0.3 s, and the entire license call fetch happens in 0.1 seconds", are you referring to Widevine or Safari or both?  Are these the times f

[2022-05-17 23:59] joeyparrish commented on #3958
There has never been any Shaka documentation on key rotation because there isn't any specific player configuration for it.  It's all managed by the Widevine license policies and how the content is encrypted.

In key rotation, different parts of the content will use different key IDs.  License sessions will only contain a few keys, and will have short expiration times.  As the content plays, the CD

[2022-05-18 00:02] joeyparrish commented on #3988
The distance from the true live edge (what's on the server) and the playback live edge (what the user sees as the live edge) is called the "presentation delay".  Shaka Player may get hints about this from a DASH manifest, but it can be configured explicitly through the config:

[code]

It is possible to set too short a delay, which can lead to buffering at the edge and playback further from the ed

[2022-05-18 00:03] joeyparrish commented on #3988
Oh, and since you're using the demo, I should have mentioned that you can change these settings in the demo UI by clicking the "gear" icon in the top left and changing the settings there.

Does this help?

[2022-05-18 00:05] joeyparrish commented on #4141
If the server response is empty, I don't know what we can do about that in the client.  There's no single standard exchange protocol for FairPlay, so I can't say what might be wrong with the request going from client to server.  Ideally, a server would respond to a bad request with an explicit HTTP error instead of an empty response.

I suggest you talk to whomever runs your FairPlay license serve

[2022-05-18 00:05] #4141 closed

[2022-05-18 00:09] joeyparrish commented on #4120
I see you're calling `window.storage.store(manifestUri,sMetadata)` without waiting for the async process to complete.  That could be an issue.

I also see that you're switching from streaming to offline playback based on a timer.  This is unnecessary, and will create small playback issues when the switch occurs, such as the user losing their place in the content.  Instead, I recommend you store th

[2022-05-18 01:10] duggaraju commented on #4223
Yes it repros with Shaka 3.3.0 as well.  You can clearly see the same video fragment being downloaded twice in the developer tools.  I can see it more often with audio parts (but I guess it is more of a timing issue and could happen with video too. But audio being smaller and quicker to download more easier to hit).

[2022-05-18 02:30] joeyparrish commented on #4223
Thank you for confirming!

[2022-05-18 02:43] joeyparrish commented on #2467
Use SVGs from here to replace the icon font: https://github.com/marella/material-design-icons/tree/main/svg#readme

Note that we are currently using "rounded" style, if I'm not mistaken.

[2022-05-18 02:43] joeyparrish commented on #3257
That's a great result!

But I think my preference would be if we stopped using the icon font entirely, and just used SVGs instead.  See #2467.  Any objections to closing this issue in favor of that solution?

If anyone feels motivated to make the change, SVG icons can be had from here: https://github.com/marella/material-design-icons/tree/main/svg#readme

[2022-05-18 06:12] farhan-bs23 opened #4240 "How do I change the default Chromecast background?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.6

**Please ask your question**
When using the default Cast Receiver ID, the Chromecast initially shows the default "Ready to try Shaka's Chro

[2022-05-18 06:30] dolphincodes commented on #3822
Thanks @joeyparrish. I just inherited the whole button class and changed the icon and tooltip message.
Also got access to the button element. Thank you so much for your help.
[code]

[2022-05-18 06:32] #3822 closed

[2022-05-18 08:34] theodab commented on #4240
There's no built-in way to do it. The default cast receiver is meant to be a demo that shows how you can make your own receiver. It's not meant to be a production app, per-se.

I don't see why it would hurt to include an optional flag in the `appData` passed into the default receiver using `shaka.cast.CastSender.setAppData`, though. Like, an URL you can provide that will override the images provid

[2022-05-18 09:19] avelad commented on #4240
@theodab I'm not sure we want to support this, since we want to do https://github.com/shaka-project/shaka-player/issues/4214 in the future

[2022-05-18 10:31] avelad commented on #4211
@hiren3897 I'm going to try it today, otherwise it will have to be tomorrow

[2022-05-18 11:10] rybi commented on #4172
Thank you Joey for the code and the permission to use it.
That's a great answer to my question!

[2022-05-18 11:10] #4172 closed

[2022-05-18 12:20] wjywbs commented on #4013
I enabled "Google Widevine Windows CDM" in Chrome Beta 102. When video robustness is SW_SECURE_DECODE and audio robustness is SW_SECURE_CRYPTO, it seems like this L1 CDM is still selected, instead of the L3 "Widevine Content Decryption Module". Widevine proxy generates EXTERNAL_LICENSE_ERROR with message "Missing ContentId within Pssh data for ExternalLicenseRequest". When the L1 CDM is disabled,

[2022-05-18 12:51] wjywbs opened #4242 "Incompatible codec is selected in Windows Edge for Widevine"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
4.0.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**

**Are you using the demo app or your own custom app?**
Demo

**If custom app, can you reproduce the issue using

[2022-05-18 13:04] wjywbs opened #4243 "com.microsoft.playready to com.microsoft.playready.recommendation mapping in HLS"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**
`com.microsoft.playready.recommendation` is recommended in #818 for Windows Edge. But HLS manifest uses `com.microsoft.playready` as key format, and shaka uses `com.microsoft.playready` CDM and license server config instead of `com.micr

[2022-05-18 13:42] avelad commented on #4243
@wjywbs Are you interested in sending a PR for it?

[2022-05-18 15:03] wjywbs commented on #4243
I haven't checked how to fix this yet.

[2022-05-18 15:27] xhwang-chromium commented on #4013
Do you have a repro page I can look at? Thanks!

[2022-05-18 16:41] alexandercerutti opened #4244 "Cannot set startTime on Safari-handled HLS content after loading it again"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes, none found

**What version of Shaka Player are you using?**

3.3.4, 3.3.5

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest code from `main`?**

Not tested

**Are you using the demo app or your own custom app?**

Custom App

**If cust

[2022-05-18 16:45] wjywbs commented on #4013
Please try this repro:

https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;panel=CUSTOM%20CONTENT;build=compiled

Manifest url:
https://personal-data-2018.s3.amazonaws.com/bbb/b5.mpd

DRM custom license server url:
https://widevine-proxy.appspot.com/proxy

Shaka reports error code 6007 when L1 CDM (Hardware Secure Decryption flag) is enabled.

Codec: avc1.64002

[2022-05-18 17:27] joeyparrish commented on #4240
I think this team should focus on #4214 and drive users toward styled media receivers once they are more capable and better integrated with Shaka.

In the meantime, you can make whatever changes you want to our demo receiver, or build your own on top of our receiver APIs.  Either way, you'd be publishing a custom receiver.

[2022-05-18 18:54] dolphincodes opened #4245 "Custom forward seek and backward seek using keyboard."
Hi,
The default forward and backward seek time using the keyboard is 5 seconds.
Arrow left -5 second
Arrow right 5 second

Is there any way to change the default 5 second value to a custom one without disabling the `enableKeyboardPlaybackControls` option.

[2022-05-18 20:11] xhwang-chromium commented on #4013
It's querying for HEVC w empty robustness (which will be defaulted to SW_* levels).

I think I know how this happened. I'll file a Chromium bug and fix it.

Again, it's always recommended not to have any empty robustness when querying Widevine capabilities.

[2022-05-19 05:24] MalgoBlock commented on #4161
@shaka-bot reopen

[2022-05-19 05:31] MalgoBlock commented on #4161
Sorry for the late response.. Yes, the content is geo blocked, maybe connecting through VPN would work. I will see if I could find another way to allow you access or find a different example file that is not blocked.

[2022-05-19 06:23] avelad commented on #4013
@xhwang-chromium can you paste the link to the Chromium bug? Thanks!

[2022-05-19 07:15] xhwang-chromium commented on #4013
Fix is here. The CL description has all the info.
https://chromium-review.googlesource.com/c/chromium/src/+/3654750

[2022-05-19 07:37] #4133 closed

[2022-05-19 09:11] theodab commented on #4245
Those values are hardcoded in the UI.

https://github.com/shaka-project/shaka-player/blob/84fe995471e210abc3eb31cee95d1b992594bf71/ui/controls.js#L1264-L1279

This sounds like it would be a reasonable configuration value to add to `shaka.extern.UIConfiguration` though.

[2022-05-19 11:25] avelad commented on #2865
I think the problem should be "will not implement" because with github actions you can test PR, also this combination is not the most used. @joeyparrish , what do you think?

[2022-05-19 11:29] avelad commented on #505
@joeyparrish  I'm not sure we add it, since we want to do https://github.com/shaka-project/shaka-player/issues/4214 in the future

[2022-05-19 11:44] avelad commented on #1162
@joeyparrish  I'm not sure we add it, since we want to do https://github.com/shaka-project/shaka-player/issues/4214 in the future

[2022-05-19 11:45] avelad commented on #1215
@joeyparrish  I'm not sure we add it, since we want to do https://github.com/shaka-project/shaka-player/issues/4214 in the future

[2022-05-19 12:40] aifeipeng commented on #3935
Just some information regarding this perhaps it helps 🤷  The stream(s) I use are working pretty well with an older version of hls.js (and of course with apples built in on safari, ios etc) but they do have some "bugs" on hls.js new version as well. I've been trying to get an answer why and I finally got  this answer:

When the logs include lines like [mp4-remuxer]: Dropped X out of Y video samples

[2022-05-19 17:23] toschlog opened #4247 "UITextDisplayer is mishandling lineAlign"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

3.4.5

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest code from `main`?**

Yes

**Are you using the demo app or your own custom app?**

Custom app

**If custom app, can you reproduce

[2022-05-20 03:22] Gheri commented on #3238
@ronak2121 Did you guys know whats equivalent of xlink onRequest in HLS ?? Becuase HLS interstitial is loading the manifest on load and not on Request ??
Also I did not any equivalent for dynamic uri substitution as well in HLS ?? Dynamic Uri substitution is needed to make actual manifest cacheable and support unique user requests for ads. (https://dashif.org/docs/DASH-TAC-v1.0.htm#_Toc532379025)

[2022-05-20 12:52] salles-g commented on #4179
Based on [this code sample](https://github.com/googleads/googleads-ima-html5/tree/main/attempt_to_autoplay) by IMA, I've managed to solve this.
I put try/catch around a random play() event before calling the start() method. If the promise rejects, I start the ads on any user interaction instead of simply calling the method:

[code]

Of course this has some issues. This only works if I request the

[2022-05-23 15:01] hexapodo1 opened #4250 "problem with close captions"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
 2.5.6.

**Please ask your question**
Hi guys,
I'm working on the support of a couple of applications for Disney, these applications use shaka pla

[2022-05-23 15:11] joeyparrish commented on #2865
You might be right.  In theory, I think I would accept a PR to skip tests that depend on AAC or H264 when they are missing.  But since we have no such devices of our own, I think new test cases would get added that would break it again.

If someone wants to do the work to add alternative content with VP9 and Opus for all test cases, I think I would accept that, too.  But the same issue applies, I

[2022-05-23 15:13] joeyparrish commented on #505
Fair.  I think it's also somewhat better since this issue was originally filed 6 years ago.  The spinner used to also change colors.  :-)

[2022-05-23 15:13] #505 closed

[2022-05-23 15:14] joeyparrish commented on #1162
Agreed.  Thanks!

[2022-05-23 15:14] #1162 closed

[2022-05-23 15:15] joeyparrish commented on #1215
Agreed.  Also this hasn't been an issue in recent momentary.

[2022-05-23 15:15] #1215 closed

[2022-05-23 15:17] joeyparrish commented on #3935
Yes, it sounds like a content/decoder issue.  Segments should begin with a key frame, and this is not something the player controls at the JS level.  Parsing and decoding happens in the browser.

[2022-05-23 15:17] #3935 closed

[2022-05-23 16:03] joeyparrish commented on #4250
Unfortunately, we stopped supporting v2.5 in June of last year.

My first advice would be to try the latest release in the v2.5 branch.  We backported fixes to that branch for a long time.  The final release of v2.5 was v2.5.23, and it should be fully backward compatible with v2.5.6.

If that doesn't resolve the issue, the next thing you should try is upgrading.  The branches we are still fixing t

[2022-05-23 16:59] kocoten1992 opened #4251 "Drop usage of google closure compiler or better alternative ?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Not relevant

**Please ask your question**
Hello shaka team,

After sometime usage of shaka-player, I notice that google-closure-compiler is a PIT

[2022-05-23 17:39] #4221 closed

[2022-05-23 17:39] #4218 closed

[2022-05-23 18:23] theodab commented on #4251
If you're worried about the time it takes to re-compile the app, you can load the uncompiled version (`shaka-player.uncompiled.js`, it's in the main folder). That will let you run the javascript files directly, without having to do a full compilation pass each time. You will have to load part of the Closure library for the files to work correctly, admittedly.
Here's the files the demo loads:

http

[2022-05-23 19:17] kocoten1992 commented on #4251
Thanks @theodab, I've already try `WHITESPACE_ONLY`, it does not make a different (it does - but..).

The main issue (I think) is java run time slow start, my experience with java is very limited but having manage several java projects - it have an issue with `JVM warmup time`, unless we have a `watch mode` - which java process already warm up and keep running in background and doing compile, othe

[2022-05-23 23:51] joeyparrish commented on #4244
Often you don't know if an event has already fired before you start listening for it.  With media lifecycle events, the `readyState` attribute tells you what stage you're in, so you can avoid this scenario.  To simplify that, we have the utility [`shaka.util.MediaReadyState.waitForReadyState()`](https://github.com/shaka-project/shaka-player/blob/4e4e92e98da357285547859a98e6b3fe75d1904f/lib/util/me

[2022-05-24 00:37] joeyparrish commented on #4244
Here are two possible fixes:

 - via Promise: https://github.com/joeyparrish/shaka-player/commit/c6d4ce915302f7eae779cf7be13adc650cec3bad
 - via new method: https://github.com/joeyparrish/shaka-player/commit/d9acbd58f8373b4423fa725443805e89f323626f

I expect both to work, but I think I prefer the addition of the new method.  If that fix works, I think that is the one I'd prefer to merge.

[2022-05-24 00:39] joeyparrish commented on #4247
I notice you deleted the part of the form that asks for content.  Can you provide us with a subtitle sample that demonstrates the problem?  That would both help us understand the issue and create a regression test to make sure we don't make this mistake twice.

[2022-05-24 00:55] joeyparrish commented on #4251
As @theodab says, normally we test in uncompiled mode in the demo, so after editing sources, we just reload the page without waiting for compilation.  In the demo, this is the default mode.  Doing this in your own app is covered briefly in the ["Debugging" tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-debugging.html), in the section titled "Loading the uncompiled library".

Tes

[2022-05-24 01:21] kocoten1992 commented on #4251
Hi, thanks for the input and some insight for future change.

I'm on hold with uncompiled approach for now and just discorver https://github.com/closure-gun/closure-gun, I'll do a PR in docs if the experiment successful.

And thank for the insight again, I'm having a mix feeling about compiling anything in web development (coming from php world - where I have extremely tight development feedback l

[2022-05-24 01:57] joeyparrish commented on #4251
It's possible for TypeScript to make it worse.  TypeScript **must** be compiled before reload.

I believe there's a background compiler for TS that is constantly recompiling your code as you edit, though I haven't really used TypeScript yet, so I don't have any experience with it.  I don't know how fast TS compilation is (probably it's fine), but with Closure in uncompiled mode, you literally don'

[2022-05-24 07:43] alexandercerutti commented on #4244
Hey @joeyparrish, thanks for your reply and your possible fixes!

I'm going to test them asap. I'm not quite sure if the best way to test them is by changing the compiled code or to recompile it from scratch and replace `compiled.debug.js` inside npm dependency in `node_modules`.

I'm not quite sure how to start in case of compilation. Is there any document I can refer to? I was looking in the rep

[2022-05-24 10:40] #4193 closed

[2022-05-24 12:10] #3505 closed

[2022-05-24 14:00] avelad commented on #3746
I tested in 4.0.1 and I cannot reproduce the error. Please upgrade to 4.0.1. Thanks!

[2022-05-24 14:38] #3823 closed

[2022-05-24 15:58] joeyparrish commented on #4244
Documentation is built from the /docs/ folder and lives in https://shaka-player-demo.appspot.com/docs/api/

Compilation is documented briefly in https://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html

The short version is:

[code]

Output goes to dist/

I hope that helps!

[2022-05-24 17:38] #1595 closed

[2022-05-24 17:39] joeyparrish commented on #891
Samsung will never fix this, so there's no need for us to continue tracking it.  I'm closing it now.

[2022-05-24 17:39] #891 closed

[2022-05-24 17:39] joeyparrish commented on #894
Samsung will never fix this, so there's no need for us to continue tracking it.  I'm closing it now.

[2022-05-24 17:39] #894 closed

[2022-05-24 17:39] #1663 closed

[2022-05-24 17:41] joeyparrish commented on #2437
We have no control over this, and we don't have a bug link for IMA to track any work on this.  Closing.

[2022-05-24 17:41] #2437 closed

[2022-05-24 17:43] joeyparrish commented on #2702
Nothing more to do here as far as I can tell, as this was a license policy issue.  Closing.

[2022-05-24 17:43] #2702 closed

[2022-05-24 17:44] joeyparrish commented on #2830
This appears to be a content issue.  Closing.

[2022-05-24 17:44] #2830 closed

[2022-05-24 17:48] joeyparrish commented on #2858
I never did create a repro case to send upstream to mux.js.  But this is no longer reproducible with FF 97 ESR, so I think whatever it is has been fixed in the browser.

[2022-05-24 17:48] #2858 closed

[2022-05-24 17:49] #3118 closed

[2022-05-24 17:50] joeyparrish commented on #3193
Nobody has had any ideas for a workaround in a year, so I'm closing this issue now.

[2022-05-24 17:50] #3193 closed

[2022-05-24 17:50] joeyparrish commented on #3274
Closing due to inactivity.  If you need to reopen this issue, just put `@shaka-bot reopen` in a comment.  Thanks!

[2022-05-24 17:50] #3274 closed

[2022-05-24 17:50] joeyparrish commented on #3391
Closing due to inactivity.  If you need to reopen this issue, just put `@shaka-bot reopen` in a comment.  Thanks!

[2022-05-24 17:50] #3391 closed

[2022-05-24 17:59] #3575 closed

[2022-05-24 18:01] joeyparrish commented on #3648
https://bugzilla.mozilla.org/show_bug.cgi?id=1731727 is still open, and I can still reproduce the issue in FF 100.

[2022-05-24 18:03] joeyparrish commented on #3747
@gscragg, is this still an issue on the latest Edge?

[2022-05-24 18:08] joeyparrish commented on #4179
Recategorized as a bug.  Someone needs to investigate your code snippet and decide if this or something like it should live in Shaka Player.  Thanks!

[2022-05-24 20:41] joeyparrish commented on #4251
Just build the check into the app.  If you have your own build steps for production, you can strip out the check if you like, or just leave it in and don't deploy the uncompiled sources.

Your pseudo-code for it doesn't look too bad at all.  Our actual code for it is pretty long, but we're also managing a bunch of settings in the demo app's URL: https://github.com/shaka-project/shaka-player/blob/m

[2022-05-24 21:08] #3894 closed

[2022-05-24 21:49] toschlog commented on #4247
I was testing with "Doctor Strange" and "The Mandalorian" S1E1 on Disney+ using Hearo.  Testing using Hearo will be a little tricky: subtitles are broken in the current release, and the next release will include a hack that fixes the problem.  But I could create a test build that shows the problem if that's useful.

[2022-05-24 22:30] kocoten1992 commented on #4251
Thank you, after some consideration, I think go with uncompiled approach still better than go through so much hassle.

[2022-05-24 22:30] #4251 closed

[2022-05-24 22:39] #3508 closed

[2022-05-25 02:46] #3257 closed

[2022-05-25 05:39] #4120 closed

[2022-05-25 05:39] #3988 closed

[2022-05-25 05:39] #3958 closed

[2022-05-25 05:40] #3891 closed

[2022-05-25 05:40] #3872 closed

[2022-05-25 05:40] #3846 closed

[2022-05-25 05:40] #3826 closed

[2022-05-25 05:40] #3825 closed

[2022-05-25 08:53] alexandercerutti commented on #4244
Thanks @joeyparrish!

I tried to compile both solutions (but yet I have to test them, I'll do as soon as my test iPhone will have enough charge 😝).

Promise solution built correctly, but the other one failed with this error:

<img width="1411" alt="immagine" src="https://user-images.githubusercontent.com/5442545/170222708-921ae65b-0388-4799-abaa-4747c6fcdebf.png">

[2022-05-25 10:11] avelad commented on #1528
I began to look at this functionality and I have doubts, you have to call SourceBuffer.changeType to change the MSE codec/container, but what would happen as EME, would you have to restart EME? @joeyparrish, you have much more control of this part, you can help me.
If the EME needs to be reset, I think we should first address: https://github.com/shaka-project/shaka-player/issues/1567

[2022-05-25 10:16] avelad commented on #3595
@joeyparrish I'm not sure we want to support this, since we want to do https://github.com/shaka-project/shaka-player/issues/4214 in the future

[2022-05-25 10:22] avelad commented on #2635
@joeyparrish I'm not sure we want to support this, since we want to do https://github.com/shaka-project/shaka-player/issues/4214 in the future

[2022-05-25 10:25] avelad commented on #2092
@joeyparrish I'm not sure we want to support this, since we want to do https://github.com/shaka-project/shaka-player/issues/4214 in the future

[2022-05-25 10:54] alexandercerutti commented on #4244
I don't know, I was testing with my work custom application which compiles with Webpack 4. What's weird is that if I try to compile Promise fix, Webpack will output invalid characters:

[code]

I don't actually know the reason.
I'll have to setup a custom project, hoping that this issue won't also happen in the next version with this fix (if you'll decide to use Promise version or if the issue wil

[2022-05-25 14:49] hiren3897 commented on #4211
I have received a mail from my DRM provider about this https://github.com/shaka-project/shaka-player/pull/4231

so when we have a fix in 4.1 I guess the problem for macOS safari will be fixed.

Thanks @avelad and @joeyparrish

[2022-05-25 16:33] realigork opened #4255 "Dash Live Stream plays too close to the end of seekRange and so video disappears but audio still works"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.6 but also tried with 4.0.1

**Please ask your question**
I have a problem with Dash live stream when I seek forward to the point that player

[2022-05-25 17:17] vishnump-discovery opened #4256 "Shaka 4.0.0 incorrectly generates SegmentReferences in Segment indexes"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What link can we use to reproduce this?**
[manifest copy.txt](https://github.com/shaka-project/shaka-player/files/8773216/manifest.copy.txt)

**What version of Shaka Player are you using?**
v4.0.0-uncompiled

**What browser and OS are you using?**
Chrome/101.0.4951.64 , All versions.

**What did you do?*

[2022-05-25 18:45] joeyparrish commented on #2092
Yes, obsolete now.  Thanks!

[2022-05-25 18:46] joeyparrish commented on #2635
You are right, in a sense.  Touch control support will only happen via #4214 as far as I can tell.

[2022-05-25 18:46] #2635 closed

[2022-05-25 18:46] joeyparrish commented on #3595
Yes, obsolete now.  Thanks!

[2022-05-25 18:46] #3595 closed

[2022-05-25 20:57] dsparacio commented on #4142
@joeyparrish From Paramount's perspective, we can close this. For us,  It turns out to be Dolby Digital Encoding issue that is causing negative DTS!  with Samsung 2017 ( M47 of chrome) does not handle this well.

[2022-05-25 22:20] toschlog commented on #4247
I've attached an m3u8 plus one of the VTT segments.  Let me know if you need anything else.

[composite_cs_NORMAL_1b145a3c-88fb-4fd6-ba4b-e6218e77b6be_daf3602b-9036-47f9-9ff9-88b1f81adbde.m3u8.txt](https://github.com/shaka-project/shaka-player/files/8774835/composite_cs_NORMAL_1b145a3c-88fb-4fd6-ba4b-e6218e77b6be_daf3602b-9036-47f9-9ff9-88b1f81adbde.m3u8.txt)
[seg_00000.vtt.txt](https://github.com

[2022-05-26 06:17] avelad commented on #4247
The settings that the WebVTT file has is: `line:95%,end`

[2022-05-26 18:01] joeyparrish commented on #4223
From what I see, the merge logic is actually sound.  The problem appears to be in how streaming and buffering operates on these segments.  I expect it is caused by the reference having a 0-duration, but I need to spend a little more time debugging to be certain.

[2022-05-27 11:46] hiren3897 commented on #4211
[code]

[2022-05-27 12:43] adgllorente opened #4260 "HLS + Fairplay stream just play sound"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.3.5

**Can you reproduce the issue with our latest release version?**
It seems FP integration has changed and I couldn't make it work.

**Can you reproduce the issue with the latest code from `main`?**
It seems FP integration has changed and I couldn't

[2022-05-27 12:51] avelad commented on #4260
@adgllorente What is the latest version you have tried and it worked?

[2022-05-27 12:57] adgllorente commented on #4260
I remember it worked with 3.0.12 a year ago but I've tested again and it hasn't worked. Then I've tested with other releases like 3.3.5 and 4.0.1 without luck.

[2022-05-28 21:37] #4226 closed

[2022-05-28 22:38] #4107 closed

[2022-05-30 07:38] vishnump-discovery commented on #4256
Hi Team

Any update on this issue?

[2022-05-30 07:44] avelad commented on #4260
I have been testing with the 5 drm providers with which I have integration and it has worked for all of them between those two releases. What provider do you use?

[2022-05-30 08:06] hiren3897 commented on #4211
Hello, Do we have a fix in v4.0.1?

[2022-05-30 08:09] avelad commented on #4211
Yes, https://github.com/shaka-project/shaka-player/releases/tag/v4.0.1 `fairplay: Re-add initDataTransform config`

[2022-05-30 08:13] hiren3897 commented on #4211
Thanks, I will test this and let you know!  :)

[2022-05-30 08:15] avelad commented on #4230
I haven't had time to look at it. Sorry!

[2022-05-30 08:17] hiren3897 commented on #4230
Okay, Please do let me know when you have time for this! Thanks

[2022-05-30 15:41] #2865 closed

[2022-05-31 02:39] bknill opened #4261 "Slow startup and dropping resolution too quickly - WebGL video"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
4.0.0

**Please ask your question**

I'm just looking for some advice on getting better performance with Shaka Player.  We're getting very slow startu

[2022-05-31 06:35] MalgoBlock commented on #4161
Hi, sorry for the delay in answering.
I am sending a couple of non geoblocked urls (one long and one short content) to your email address, please let me know if you are able to play those
@shaka-bot reopen

[2022-05-31 10:08] #4250 closed, assigned to nobody

[2022-05-31 16:13] SivanA-Kaltura opened #4262 "Time to playing, initial number of segments and DRM license calls"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.0

**Please ask your question**
We are using Shaka player to play a live DASH stream with a Widevine DRM. minBufferTime in the dash manifest i

[2022-05-31 16:18] joeyparrish commented on #4256
We've just had a long holiday here, and this issue hasn't been investigated yet.  It's on our list, though.

[2022-05-31 16:27] joeyparrish commented on #3920
Closing due to inactivity.  If you need to reopen this issue, just put `@shaka-bot reopen` in a comment.  Thanks!

[2022-05-31 16:27] #3920 closed

[2022-05-31 16:27] joeyparrish commented on #3747
Closing due to inactivity.  If you need to reopen this issue, just put `@shaka-bot reopen` in a comment.  Thanks!

[2022-05-31 16:28] #3761 closed

[2022-05-31 16:47] #2862 closed

[2022-05-31 22:41] #4243 closed

[2022-06-01 12:15] avelad commented on #4262
Can you share your Shaka config and tell us is your mpd uses a minBufferTime? Thanks!

[2022-06-01 13:01] adgllorente commented on #4260
@avelad thanks for your information. Since you have tested both releases successfully with 5 DRMs, I am checking internally with our DRM provider to know what's could be happening, because it seems the problem is on our side.

Feel free to close this issue and if I have new information I will reopen it.

[2022-06-01 13:27] avelad commented on #4260
Thanks @adgllorente !

[2022-06-01 13:47] SivanA-Kaltura commented on #4262
This is the config:
{
    "streaming": {
        "ignoreTextStreamFailures": true,
        "bufferingGoal": 60,
        "alwaysStreamText": true,
        "lowLatencyMode": true,
        "inaccurateManifestTolerance": 0,
        "retryParameters": {
            "timeout": 30000,
            "stallTimeout": 5000,
            "connectionTimeout": 10000,
            "maxAttempts": 10,
            "bas

[2022-06-01 18:58] toschlog opened #4264 "Karaoke-style captions don't work with with UITextDisplayer"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

3.3.5

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest code from `main`?**

Have not tried

**Are you using the demo app or your own custom app?**

Custom app

**If custom app, can you

[2022-06-02 00:17] sriramhd commented on #4165
@joeyparrish Apologies for the delayed response.  We'll follow up internally with our packaging folks and report back. Thanks for the pointers!

[2022-06-02 08:43] EyMaddis commented on #2333
@Doolali the problem is that the restrictions might actually prevent playback if the video element is smaller.
This is not relevant for full screen players, but for example for small preview videos.

In a perfect world I would like to give a suggested or target resolution where shaka can for example decide to use a larger version if the screen is around 1000px in height, it could choose 1080p.

[2022-06-02 16:17] #4223 closed

[2022-06-03 07:42] avelad commented on #4244
@joeyparrish can you review the last comment?

[2022-06-03 16:38] RaymondCheng opened #4269 "HLS use middle segment when guessing MIME type"
I have been working with a server which is too aggressive at expiring segments at the left edge of its DVR. As a result of this, when Shaka's HLS manifest parser puts out a HEAD request on the first segment to guess its MIME type, sometimes the segment has already been removed (404). I have filed a bug against the server team and I hope they relax the expiration, but truth be told if you wait long

[2022-06-03 18:26] littlespex commented on #3020
@joeyparrish I still see this error in Shaka v3.3.2, Safari 15.5

[2022-06-03 20:29] RaymondCheng opened #4271 "Remove IE 11 from default browsers list"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes. The FAQ states up front that IE11 is no longer supported past version 3.1.

**What version of Shaka Player are you using?**
4.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or

[2022-06-03 20:31] joeyparrish commented on #4271
Agreed!  Sorry we overlooked that when we removed other aspects of IE support from the project.

[2022-06-03 20:38] RaymondCheng commented on #4271
I can have a PR for this shortly.

[2022-06-03 20:50] joeyparrish commented on #4271
Thanks!

[2022-06-04 06:17] #4271 closed

[2022-06-06 05:45] avelad commented on #3205
@asgvard I have tested on a Tizen 5.5 (Q60T) and have not reproduced this problem. Could it be that Samsung has updated the firmware and solved this problem? can you try again on your devices?

[2022-06-06 13:23] vishnump-discovery commented on #4256
Hi @joeyparrish

I have included the manifest file instead. Is that fine for you to replicate? The playback url will expire in short time. Thats why I have uploaded the manifest.

[2022-06-06 15:12] alexandercerutti commented on #4244
@joeyparrish do you have any news about this? This is blocking a more-than-actual production issue (and report) on our product. Should I open a Pull Request? I'd be happy to. If so, against which branch?

[2022-06-06 15:14] avelad commented on #4244
Any PR are welcome! Always against main branch! Thanks!

[2022-06-06 15:35] alexandercerutti commented on #4244
Oh, wait. Now I'm remembering: I wasn't able to test the second fix possibility. So I can open a PR for Promise fix only. I'm not sure this is actually okay as @joeyparrish expressed preference for the second solution.

[2022-06-07 04:18] vishnump-discovery commented on #4256
Hi @joeyparrish

Please find the playback url - https://qzg292fzej.execute-api.us-east-1.amazonaws.com/manifest/vod/vishnu_test.mpd

shaka demo app url - https://shaka-player-demo.appspot.com/demo/#audiolang=en-GB;textlang=en-GB;uilang=en-GB;asset=https://qzg292fzej.execute-api.us-east-1.amazonaws.com/manifest/vod/vishnu_test.mpd;panel=CUSTOM%20CONTENT;build=uncompiled

[2022-06-07 08:53] #4209 closed

[2022-06-07 11:44] avelad commented on #4230
Can you paste here you `player.getConfiguration()`? Thanks!

I think the problem may be related to the config of `manifest.dash.initialSegmentLimit`

[2022-06-07 11:59] hiren3897 commented on #4230
Hey yes, my `manifest.dash.initialSegmentLimit` was default set to 1000.
As I am having 3 hours of DVR in my live streams so I set it to `manifest.dash.initialSegmentLimit: 10800` and it works very well :)

[2022-06-07 12:05] hiren3897 commented on #4230
But when I try to seek the thumbnails they are not accurate every time.
when the user hovers it requests the thumbnail with the correct time but the thumbnails are displayed wrong sometimes. :/

[2022-06-07 12:10] hiren3897 commented on #4230
I did the modifications in the same demo: https://test-drm.hexaglobe.net/hrathod/new-plugin/dash-live-thumbs.php

you can also check the `player.getConfiguration()` in the console

[2022-06-07 13:48] hiren3897 commented on #4230
I think the reason could be the latency of the stream? no?

[2022-06-07 13:53] avelad commented on #4230
Ok the main problem that was reported in this issue is resolved. As for the other issue, I think it's a latency issue and Live's playback window continues (Live stream).

[2022-06-07 13:59] hiren3897 commented on #4230
Yes, I will dig into some research for the accuracy of thumbnails on live streams. Thanks for your help.

[2022-06-07 14:18] hiren3897 commented on #4211
@avelad my HLS Fairplay stream still doesn't work with v4.0.1

[2022-06-07 14:50] avelad commented on #4211
There shouldn't be any difference, but you can always try.

[2022-06-07 14:58] hiren3897 commented on #4211
![ima_6a7a7b5](https://user-images.githubusercontent.com/59652404/172413105-57285e0c-c1d9-454a-9159-ded919b984de.jpeg)

[2022-06-07 19:17] #4269 closed

[2022-06-07 19:48] joeyparrish commented on #2333
If you use `abr.restrictions` instead, playback will still be possible.  These are restrictions on adaptation, whereas `restrictions` is a hard playback restriction (meant to match up with DRM policies the player wouldn't know about).

@EyMaddis, in your example, if `abr.restrictions.maxHeight` is set to `1000`, but the smallest resolution available is 1080p, then 1080p will still be played.

[2022-06-07 21:36] theodab commented on #2639
Resolved by https://github.com/shaka-project/shaka-player/commit/562a2d567b4c11a2fdd94e34b1ba3df751d0aeda.

[2022-06-07 21:36] #2639 closed

[2022-06-08 00:26] toschlog opened #4280 "Bad rendering for non-zero textStrokeWidth cue property"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

4.1.0

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest code from `main`?**

Have not tried

**Are you using the demo app or your own custom app?**

Custom app

**If custom app, can you

[2022-06-08 05:27] avelad commented on #4280
@theodab if I remember correctly, you implemented this property, can you take a look at it?

[2022-06-08 09:28] hiren3897 commented on #4211
Hello @avelad greetings of the day,

can you please comment on the above response? Thanks

[2022-06-08 09:29] MalgoBlock commented on #4161
Hi, I just wanted to check if you manage to play the content I have sent? (Or do I need to look for another example?) Were you  able to replicate the issue I was having?

[2022-06-08 09:43] ShivamJoker opened #4281 "How to use thumbnail generation with HLS"
I saw some PRs for thumbnail generation while we seek through the timeline.
I was unable to find any docs which tells us how we can integrate it.

It would be great if someone could provide a demo with source code example

**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for d

[2022-06-08 09:50] avelad commented on #4211
It seems that what fails in your capture is that some keysystems are being tested that are not supported in your browser. Widevine appears, PlayReady, Adobe?...

[2022-06-08 10:04] hiren3897 commented on #4211
Okay, But it should mainly test for the `com.apple.fps` no?
why does the player test other media capabilities?

Do we have any way to stop this test?

because it works with 3.2.2 on the same platform and browser

[2022-06-08 10:14] avelad commented on #4211
The video that I have put in the comment above is with 4.1.0 and it works for me.

[2022-06-08 14:11] hiren3897 commented on #4211
Thanks for your reply: can you please test this URL on your mac Safari with my HLS Fairplay stream
https://test-drm.hexaglobe.net/hrathod/v4/newPluginTest-debug.php

The version is shaka v4.1.0

because I am still getting the error
![ima_d483109](https://user-images.githubusercontent.com/59652404/172638129-aa28fbea-0795-48d8-a1f4-aa5cb67ca5ab.jpeg)

[2022-06-08 14:16] avelad commented on #4211
![Captura de pantalla 2022-06-08 a las 16 15 16](https://user-images.githubusercontent.com/8983024/172639246-51512c0c-e1b2-4527-aee0-dca561b0db34.png)
It seems that it is geoblocked for Madrid (Spain)

[2022-06-08 14:23] hiren3897 commented on #4211
I am sorry that I forgot to check that.
But for the success.
since v4.1.0
do we have changed any configuration for HLS Fairplay?

What do I do?
I give the .m3u8 URL to the load
I configure the DRM license to `drm.servers.com.apple.fps: "https://path/to/license"`
I configure the serverCertificateUri to `drm.advanced.com.apple.fps.serverCertificateUri: "https://path/to/cert"`

Am I missing something

[2022-06-08 19:05] toschlog opened #4282 "Subtitle text isn't centered using UITextDisplayer"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

4.1.0

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest code from `main`?**

Have not tried

**Are you using the demo app or your own custom app?**

Custom app

**If custom app, can you

[2022-06-09 03:10] echoy-harmonicinc opened #4283 "Player stalls when playing multi-period live DASH with CDN failover"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?** Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** v4.0.1

**Please ask your question**

I have setup two DASH streams, assuming:
- Stream A: example-01.com/manifest.mpd
- Stream B: example-02.com/

[2022-06-09 13:27] hiren3897 commented on #4211
when I set `com.apple.fps` it doesn't work for me or on other machines
if I set `com.apple.fps.1_0` it is working but sometimes it gives me the same result of loading DRM restrictions

I guess the DRM license request OR Fairplay cert is taking too long to be requested
@avelad can you please comment

[2022-06-09 22:52] tim-edgren opened #4284 "Widevine Error 6008"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.1 (cdn.jsdelivr.net/npm/shaka-player@3.0.1/dist/shaka-player.compiled.js)

**Please ask your question**
I'm getting this error from the browse

[2022-06-10 02:58] echoy-harmonicinc commented on #4283
Found that when there's same period ID with totally different segments, the segment indices will have mixed references from both old and new manifests. The index order is also wrong, causing get() to return the wrong segment reference.

I'm planning on adding checks before returning reference from the iterator (perhaps checking the time required against the startTime and endTime in the returned se

[2022-06-10 07:11] adrics97 opened #4285 "How to manage quality in video HLS in iOS/Safari?"
I have made a player with shaka in a webview in flutter but I have problems to handle the different qualities of the video in safari iOS, this is because safari use native Hls built. But when I do shaka.Player.isBrowserSupported() is true, and i can play the video with automatic quality. I want to manage the differents streams of my .m3u8 file. When I do some functions like getManifest() or getVar

[2022-06-10 07:54] hiren3897 opened #4286 "Understand 4012 Error"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v3.2.1

**Please ask your question**
We are trying to create our own DRM license but unfortunately, when trying with shaka player it came with a 4

[2022-06-10 08:34] hiren3897 commented on #4178
Hello @joeyparrish
Sorry for the delay I was so busy with other features.

So here is my info about the audio languages
The HLS playlist has 10 different languages as you can see in the image and also the order of the languages

![playlistORDER](https://user-images.githubusercontent.com/59652404/173024470-953d85a3-2017-4bad-8db9-4a1f19a33755.png)

1. eng
2. ger
3. rus
4. spa
5. fre
6. ita
7. jpn
8

[2022-06-10 17:49] joeyparrish opened #4287 "AV sync issues with HLS in v4.0.0, v4.0.1, v4.0.2, v4.1.0"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v4.1.0

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `main`?**
yes

**Are you using the demo app or your own custom app?**
demo

**If custom app, can you reproduce the issue

[2022-06-10 17:50] joeyparrish commented on #4287
It appears that this won't affect everyone, but if audio & video content is not aligned perfectly, X-PROGRAM-DATE-TIME code does not correct this as it should.  So it could affect anyone whose content doesn't meet some very strict conditions.  Based on that, I'm marking it P0.

[2022-06-10 18:14] joeyparrish commented on #4287
Original code to read EXT-X-PROGRAM-DATE-TIME: 89409cee3eaeb6764dbc191b7408bf45eecdced3

[2022-06-10 19:35] toschlog opened #4288 "UITextDisplayer isn't updating the vertical position for subtitles with line breaks"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

4.1.0

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest code from `main`?**

Have not tried

**Are you using the demo app or your own custom app?**

Custom

**If custom app, can you rep

[2022-06-10 20:05] toschlog commented on #4280
Interestingly, the disneyplus.com web player has a subtitle options menu that can produce similarly ugly text:

![image](https://user-images.githubusercontent.com/25090868/173142499-3ae284c0-2147-4338-b7e7-1fcb21ed2585.png)

If you select a large enough font size, however, it looks ok.

[2022-06-10 23:08] tim-edgren commented on #4284
OK, I've now learned/realized that the 'license' response I'm seeing is actually the server certificate, and that the second Widevine request is what is failing.  So I need to figure out:

- how to apply the retrieved server certificate to my Widevine CDM session
- how to format the second actual license request and allow it to pass through my proxy

Any help in this would be greatly appreciated.

[2022-06-10 23:13] joeyparrish commented on #4284
You can configure Shaka with the server certificate in advance.  You can give a URI, and the player will fetch it for you and feed it to the CDM in advance of creating a session:

[code]

Or you can give us the bytes:

[code]

Either way, we'll feed this to the CDM through EME's `setServerCertificate()` method, and the CDM won't send a server certificate request before the license request.

Does t

[2022-06-10 23:23] joeyparrish commented on #4284
As for the formatting of the license exchange, unless you inject request/response filters, everything that the CDM generates in a request (`message` event on `MediaKeySession`) is sent directly to your configured license server in a POST, and everything that server replies with is sent directly to the CDM in an `update()` call on `MediaKeySession`.

If there is any formatting your service uses on

[2022-06-13 06:09] #3205 closed

[2022-06-13 09:21] avelad commented on #4285
In Safari streaming is handled by Apple's player. It is not possible to do what you want.

[2022-06-13 09:24] avelad commented on #4282
Please, provide the URL of the manifest (HTTPS) or provide the failing subtitle file (WebVTT or TTML). Thanks!

[2022-06-13 09:26] avelad commented on #4261
I have no experience with WebGL, @joeyparrish @theodab can you help here?

[2022-06-13 09:42] ShivamJoker commented on #4281
@avelad I know about the `getThumbnails` API but I am not sure how can we display it on the timeline when someone scrubs through it.

Do we need to manually implement our own logic?
Also I am not sure what would be the idea format for generating HLS format.

[2022-06-13 09:58] avelad commented on #4281
The API mainly returns a URL, you have to take care of rendering that image in the proper position and size.

The best format to use is jpeg.
For HLS, Roku has a very interesting guide that can help you: https://developer.roku.com/en-gb/docs/developer-program/media-playback/trick-mode/hls-and-dash.md# hls-considerations

[2022-06-13 10:22] yasinex commented on #3707
We are experiencing the same issue. Is there any updates regarding this?

[2022-06-13 15:50] toschlog commented on #4282
@avelad I've attached one of the segment M4S file.  Is that helpful?  (Note that the file isn't really a text file, but Github won't accept an M4S file.)

[seg.m4s.txt](https://github.com/shaka-project/shaka-player/files/8892565/seg.m4s.txt)

[2022-06-13 16:31] joeyparrish commented on #3707
We don't have official support for WebOS yet.  At this time WebOS support is community-maintained.

Without WebOS testing integrated into our lab, there is nothing we can do to debug a WebOS issue right now.

[2022-06-13 20:35] #4287 closed

[2022-06-13 20:48] joeyparrish commented on #4281
I would love to see thumbnail support for scrubbing added to our UI layer, but nobody is working on a PR for that as far as I know.  Volunteers are welcome!

[2022-06-13 21:12] littlespex opened #4290 "Spatial audio flag not being set on variant tracks"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.6 - 4.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reproduce the

[2022-06-13 23:20] joeyparrish commented on #4290
Fixed in #4291

[2022-06-13 23:20] #4290 closed

[2022-06-13 23:26] joeyparrish commented on #4282
Is the stream self-initializing?  If not, we might also need an init segment to concatenate with that.

[2022-06-14 05:57] agoodman9527 opened #4292 "Error4032 thown when loading a HLS master manifest on Firefox72.0.2"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v4.1.0-debug
v3.2.1-debug

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `main`?**

yes
**Are you using the demo app or your own custom app?**

yes
**If custom app, can you re

[2022-06-14 07:22] alowmen commented on #4292
In file "lib/polyfill/media_capabilities.js",add a firefox browser check can solve this problem:

[2022-06-14 13:51] agoodman9527 commented on #4292
@avelad In Firefox101 it works perfectly, my OS is windows10.

[2022-06-14 14:05] agoodman9527 commented on #4292
@avelad I made a web app demo using shaka-player4.1.0.it works in almost all the latest browser until I did some compatibility testing for old browser

[2022-06-14 14:18] vishnump-discovery commented on #4256
HI @joeyparrish

Any update on this issue?

[2022-06-14 19:19] littlespex opened #4301 "Multiple TTML captions are being aggregated into a single line of text"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.x, 4.0.x, 4.1.x

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reprodu

[2022-06-14 21:55] toschlog commented on #4288
I think this may not be a Shaka Player issue after all.  I looked at "Star Trek: Strange New Worlds" on Paramount+ and it has different values for `line` when there are line breaks in the text.  But "The Eternals" on Disney+ is using the same value for all lines.  So I think that the Disney+ web player is adjusting for this in a non-standard way.

If this is the case, then it's probably best if I

[2022-06-14 22:45] joeyparrish commented on #4288
Okay.  If you think it's not a Shaka issue, we can close it.  If you need to open this issue again before it expires and gets locked, just put `@shaka-bot reopen` in a comment.  Thanks!

[2022-06-14 22:45] #4288 closed

[2022-06-14 22:46] joeyparrish commented on #4301
It looks like line breaks are not starting a new line as they should.

[2022-06-14 23:03] joeyparrish commented on #4256
We have not replicated the issue yet.  Is the issue still present in the latest release, v4.1.1?

[2022-06-15 00:30] toschlog commented on #4247
I was wrong about what's causing the problem here.  Please ignore my reference to the specific spot in the code.

In the Mandalorian, all the titles appear at the top, but some are supposed to be at the top and some at the bottom.  The relevant cue data is:

[code]

In the first one, the top of the text box should be at 14.81%.  In the second, the bottom of the text box should be at 85.19%.

I'm d

[2022-06-15 01:11] toschlog commented on #4247
FYI, here's my hack to fix the text.  I change lineAlign to "start", convert the line value to line counts (instead of percent) and adjust by the number of lines in the text.

[code]

[2022-06-15 02:38] agoodman9527 commented on #4292
Thanks reply.
Why I hack this for very old versions of Firefox? Because some users did use ancient browsers to visit my website and complain about that failure :), howerver they didn't admit the fact.
As for your suggestion it sounds  reasonable.I will accept that and drop this issue.My original intention is to help some people with similar problem and leave some clues.
Thanks again.

[2022-06-15 02:42] #4292 closed

[2022-06-15 05:19] vishnump-discovery commented on #4256
This issue is not there with v2.5.20. Regarding the version v4.1.1 I will check and update.

[2022-06-15 06:38] littlespex commented on #4301
It seems like the times are incorrect as well. According to the video's `currentTime`, only the first caption should be rendered in the attached screenshot.

[2022-06-15 07:46] alexandercerutti commented on #4244
@joeyparrish any news? What should be fixed on the second sample so it can be tested?

[2022-06-15 08:11] hiren3897 commented on #4286
@joeyparrish @TheModMaker can you please comment on this?

Thanks

[2022-06-15 10:14] adgllorente commented on #4260
@avelad I have integrated Safari with our streams and I have found some of them are playing just audio and other are playing OK.

I have mail you a new gist with two contents, one playing OK and one playing just audio. Both of them are using shaka-player 3.3.6, could you please check what could be happening with the player?

I could not make them work with shaka-player 4.x due to the license resol

[2022-06-15 15:17] Wayne-Morgan commented on #3537
I've noticed this also.
It looks as though the playback position is set according to the first seek, but the segment acquisition position is set according to the last. All of the segments from the position of the last seek, up to the position of the first seek are acquired and then discarded, before the segment acquisition finally catches up with the (incorrect) playback position.

[2022-06-15 19:00] joeyparrish commented on #4256
I can't reproduce in v4.1.1.  I wasn't entirely sure what you meant by "FF".  Did you mean seek or the trick-play/fast-forward controls?

I tried seeking directly to a position close to the end, and saw no buffering problems.  I also tried enabling trick play controls and fast-forwarding at 8x from the beginning to the end, and saw no problems there, either.

[2022-06-15 19:03] joeyparrish commented on #4282
I see that it's a VTT in MP4 segment.  The parser needs an init segment to get timescale information, which is necessary to interpret the timestamps in the MP4 text segment.  I did a hex dump of the m4s segment, and I see that the init segment boxes are missing from it, so we will also need the init segment in order to ingest the text segment.

[2022-06-15 19:25] joeyparrish commented on #4199
We decided to close the PR by @scottpetrovic, as it does not appear to be the right fix.

I will try to make time to reproduce the issue.  If I'm successful, I'll file a Chrome bug, put up a PR with a workaround based on Promise.race, and work with the Widevine/Chrome team on a fix in the CDM if possible.

[2022-06-16 02:07] dk00 commented on #3877
iOS doesn't allow changing volume with JavaScript, only mute/unmute is possible.

Reference: https://developer.apple.com/library/archive/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/Device-SpecificConsiderations/Device-SpecificConsiderations.html

Maybe we should hide volume slider on iOS.

[2022-06-16 06:38] vishnump-discovery commented on #4256
I am able to reproduce the issue with v4.1.1 also. I will share the playback url through email. I will attach the video for the evidence so that you can reproduce the issue easily.
Can you please share the email for sending the playback url?

[2022-06-16 08:25] #4286 closed

[2022-06-16 08:32] hiren3897 opened #4304 "DownloadHeadersReceived EVENT doesn't fire on HLS live stream?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v3.2.2

**Please ask your question**
I am using "DownloadHeadersReceived" event to get the information of what player is downloading for the analy

[2022-06-16 13:49] TavenCFC opened #4305 "Major Garbage Collect every 5 sec after Shaka init"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
4.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**
Yes

**If custom app, can you reproduce the issue us

[2022-06-16 14:22] toschlog commented on #4288
Clarification:  It was my bashing the lineAlign value that was causing this problem.  So I believe that https://github.com/shaka-project/shaka-player/issues/4247 is still an issue, but this item is completely bogus.  Sorry about that.

[2022-06-16 14:49] Wayne-Morgan commented on #3537
I have a little more information on this issue.

I have an application playing DASH (playready) on Edge. I open the developer tools and paste in the following:
[code]
This will look at the value of `video.currentTime` as various video events are captured, and also monitor its value frequently between a `seeking` and `seeked` event.

With the video playing, I position the pointer on the seek bar at

[2022-06-16 14:49] toschlog commented on #4282
See attached.  Hopefully that's what you need.

[init.m4v (1).txt](https://github.com/shaka-project/shaka-player/files/8919899/init.m4v.1.txt)
[init.m4v (2).txt](https://github.com/shaka-project/shaka-player/files/8919900/init.m4v.2.txt)
[vtt_init.m4v.txt](https://github.com/shaka-project/shaka-player/files/8919905/vtt_init.m4v.txt)

[2022-06-16 20:03] joeyparrish commented on #4305
Is this reproducible in desktop Chrome, or only on WebOS?

Does the inspector show you what is being collected?

[2022-06-16 22:11] joeyparrish commented on #3537
@Wayne-Morgan, thank you for the detailed work!

You should debug this in StreamingEngine to start.  It uses SegmentIterator to move sequentially through the segments, so once it has a segment to fetch, it will always continue in order from there.

This sequential movement gets reset on seek, but there may be a race or other bug in that logic.  Look for the seek listeners in StreamingEngine.

Also

[2022-06-16 22:13] joeyparrish commented on #4304
Are you using Safari?  Native HLS on Safari is the default, IIRC, and native HLS means the browser internals are making the requests.

[2022-06-16 22:14] joeyparrish commented on #4256
shaka-player-issues@google.com  Thanks!

[2022-06-16 22:49] joeyparrish commented on #4262
The `playing` event you're referring to comes from the video element, correct?  I believe that's based on some state in the browser, and it could perhaps be gated on a license for DRM content.  Do you see the behavior you expect for clear content?

Shaka does not delay a license request as far as I can tell.  If the manifest contains PSSHs, we can request licenses in parallel with segments.  What

[2022-06-16 22:51] joeyparrish commented on #4283
I could be wrong, but I think this is outside of what's allowed in the DASH IOP.  Period IDs are meant to be unique and stable throughout the presentation.  So I believe your CDN failover needs to be fixed to account for that.

[2022-06-16 22:55] joeyparrish commented on #4255
I tried to reproduce your issue with our demo content and failed.  With the DASH live sim, for example, I ran seeks like this:

[code]

I tried values 5, 20, and 100, and I couldn't reproduce your issue at all.

It may be content-specific.  Can you please file a new issue using the bug template, and take note to provide manifest and license URLs we would need to reproduce the issue.  There are ema

[2022-06-17 12:26] obronov opened #4307 "error 1007"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.2.2

**Please ask your question**
I am using cast application framework (CAF). Shaka-player shows error
[cast.framework.media.ShakaPlayer] categ

[2022-06-17 16:00] joeyparrish commented on #1665
Not sure that this is relevant now that we have stopped parsing segments for timestamps.  Lowering priority and removing from the "HLS Improvements" project.

[2022-06-17 16:59] joeyparrish commented on #4261
Sorry, I don't know anything about WebGL or Three.js.  Do you have the same issues without it, if you play the same content directly in Shaka Player without Three.js?

[2022-06-17 17:18] joeyparrish commented on #4284
I don't understand where you go the base64 string.  Is this coming from a third-party service?  Unfortunately, we can't explain to you how that service is encoding or formatting things, since that's completely outside of our control.

Are there docs from that service that we could help you interpret?  Could you or the implementors of your license service reach out to Widevine for support?

[2022-06-17 17:20] joeyparrish commented on #4307
You can see all error code definitions in our documentation.  For example:

https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:1007

You can also look them up in this interface, which just forwards you to a URL like the one above:

https://error-code-lookup-dot-shaka-player-demo.appspot.com/

Does this help?

[2022-06-17 18:58] obronov commented on #4307
Thanks for the answer. I read in the documentation about the code 1007. There is a short description. I do not understand him. I would like a more detailed description.

[2022-06-17 19:07] joeyparrish commented on #4305
I started looking at the timers in Shaka Player, to see if I could find any that run when the system is otherwise idle.  There are a total of 29 timers in the core Shaka Player source (lib/).

14 are one-off timers that are to delay specific events.  15 left.

I'm ignoring the 2 for live content in the HLS and DASH parsers, since nothing is loaded.  Same for the one that is for live DASH content i

[2022-06-17 19:20] joeyparrish commented on #4307
A license request failed.  There is another error embedded within to show you why:

Response filters are part of our networking system.  They are added by the application, and the application outside of Shaka Player is responsible for them.  If a filter throws an error, the request fails.

So here, your application had a response filter installed during a license request, and while trying to proce

[2022-06-17 19:28] joeyparrish commented on #4284
When the Widevine CDM sends the two-byte request (base64 as "CAQ"), it's requesting a service cert.  This is an extra round trip you can avoid by providing a service cert to Shaka Player in advance.  (We pass it on to the CDM before creating a session.)

What might surprise you is that the response to that CAQ request is not in exactly the same format that the CDM expects.  When this feature first

[2022-06-17 19:54] obronov commented on #4307
@alekzz Here is my receiver.js
[code]

[2022-06-17 20:03] tim-edgren commented on #4284
Yes, if I can, I definitely want to get out of the business of the two-phased Widevine round trip, if only so I can get a clearer picture of the real problem.

I **do** have access to the Widevine integration platform -- I tested the base64 'certificate' I got from Comcast there under the Diagnostic Tools section.  It generates an Error if I process it as a _response_, but if I send it as a **lice

[2022-06-17 21:40] alekzz commented on #4307
There are 3 handlers that are used by the Shaka response filters - `PlaybackConfig#manifestHandler`, `PlaybackConfig#licenseHandler` and `PlaybackConfig#segmentHandler`:

https://developers.google.com/cast/docs/reference/web_receiver/cast.framework.PlaybackConfig#manifestHandler
https://developers.google.com/cast/docs/reference/web_receiver/cast.framework.PlaybackConfig#licenseHandler
https://deve

[2022-06-18 04:16] ShivamJoker commented on #4281
@joeyparrish I can give it a shot later if you could give some pointers on where and how to start.

[2022-06-20 07:00] adgllorente commented on #4260
@joeyparrish could you please reopen this issue? Thanks!

[2022-06-20 07:05] avelad commented on #4260
@adgllorente Got @joeyparrish email with the steps, I'll try to find time to look at it today.
Just asking for a quick test, can you use `com.apple.fps.1_0` instead of `com.apple.fps` and see if it works?

[2022-06-20 09:37] #4285 closed

[2022-06-20 09:40] avelad commented on #4281
@ShivamJoker Please see: https://github.com/shaka-project/shaka-player/issues/3371
If you want we can continue the discussion in that ticket. Thanks!

[2022-06-20 09:40] #4281 closed

[2022-06-20 10:12] hiren3897 commented on #4211
hello, @avelad  can we come to a point do we have a fix in the newly released version?

and what are the steps to set up Fairplay live stream?

Thanks

[2022-06-20 10:12] hiren3897 commented on #4178
Hello, @joeyparrish did have time to see about this issue? thanks

[2022-06-20 16:04] obronov commented on #4307
@alekzz Thanks for the hint. Added the  `playbackConfig.licenseHandler` and the 6007 error was decided.

Now there is an error of 7000
`[Cast.framework.media.shakaplayer] Category: 7 Code: 7000`

`The Call to Player.load () Was Interrupted by a Call to Player.unload () Or Another Call to Player.load ().`

I obviously do not do Player.unload (). I launch only one video, i.e. multiple launch Player.

[2022-06-20 16:07] TavenCFC commented on #4305
I can reproduce it only on webOS.

I tried to run this [demo](https://developer.mozilla.org/ru/docs/Web/API/MediaSource) on LG and found that Major GC runs every 5 sec after this line:
`video.src = URL.createObjectURL(mediaSource);`
But in this case, on a html page with only video tag, it reports that 0 kb has been collected.
It looks like it's built into the webOS.

What do you think can be done

[2022-06-22 02:05] julianaCastro opened #4308 "A/V sync problems with unaligned HLS streams"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v4.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Are you using the demo app or your own custom app?**
Demo App

**What browser and OS are you using?**
GoogleChrome, Firefox, Ubuntu

I have a media content with video and audi

[2022-06-22 12:31] zilinx opened #4311 "VOD HLS on Safari - the reported duration is the sum of length of downloaded chunks"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-GB;textlang=en-GB;uilang=en-GB;panel=CUSTOM%20CONTENT;build=uncompiled

**What version of Shaka Player are you using?**
v4.1.1-uncompiled

**What browser and OS are you using?**
Mozilla/5.0 (Macintosh;

[2022-06-22 12:43] avelad commented on #4308
@joeyparrish can you review it? Thanks!

[2022-06-22 19:31] obronov commented on #4307
It is noticed that one of the channels with drm starts up for me, but the video is not shown. Only audio works.

Other channels with drm do not work.
An error:
`[Cast.framework.media.shakaplayer] Category: 7 Code: 7000`

In the console, only mpd files are uploaded to the "network". Packages with video and audio do not come.

Can you suggest the reason for this behaviour?

[2022-06-23 08:13] sobbe81 opened #4312 "Cannot play HLS/Fairplay content on Safari with V4"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Latest, 4.x

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reproduce the

[2022-06-23 08:28] samueleastdev opened #4313 "Polyfill lib/polyfill/videoplaybackquality.js Not working on LG WebOS"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

Shaka: 4.1.1

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest code from `main`?**

Yes

**Are you using the demo app or your own custom app?**

Basic custom setup

**If custom app, can

[2022-06-23 14:18] jaskarancodes opened #4314 "Getting 4012 and 5005 error code while running playback on Playstation 5"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.10

**Please ask your question**
Hey Team
We are running multi-key and multi-period dash content with Playready DRM on PlayStation 5. When we

[2022-06-23 21:57] agajassi opened #4315 "[PARAMOUNT GLOBAL] - PS4 - Video Start Failure In New MSE Based WebMAF"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes, I have. I searched for duplicates and couldn't find any

**What version of Shaka Player are you using?**
Shaka Player 4.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `main`?**
Yes

**Are you using the demo app or your

[2022-06-23 22:28] joeyparrish commented on #4315
So WebMAF is a browser-like environment?  Is there anywhere we could access that for debugging purposes?  We don't have a PS4.

v4.1.1 fails, but v3.2.1 works?  What about later v3.2 releases, such as v3.2.8?  Does v3.3 work?  Does v4.0?

[2022-06-23 22:41] agajassi commented on #4315
Yes it is. Hmm 🤔, I think having an actual PS4 (test-kit or dev-kit) device is the only way unfortunately. Just a regular production PS4 doesn't cut it either. It needs to be one of their test or dev-kits.

I randomly tried a few builds between 3.2.1 and 4.1.1. None worked. I know I did 3.3.1 and 3.3.7 for sure.

I will run additional tests with other builds and be more thorough, in case if I get

[2022-06-23 23:10] dsparacio commented on #4315
We will test the versions to see if something later works. Also,  I'll be shipping a PS4 dev kit and pc to @littlespex for debugging. This will take some time.

[2022-06-24 06:40] avelad commented on #4313
I have been checking and it seems that in old versions of Chrome it is not included in the prototype but it is included in the video element itself, that's why it fails in WebOS 3.X.

[2022-06-24 13:45] hiren3897 opened #4317 "Android devices take more time to load the content in the player"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v3.2.1
**Please ask your question**
We are using shaka-player for playing  DASH live content(with a DVR of 3 hours) on Chrome Mobile (Android)

As

[2022-06-26 03:54] #4313 closed

[2022-06-26 03:57] joeyparrish opened #4318 "Appspot Deployment Broken"
Our credentials for automated deployments to appspot appear not to work any longer.  If this isn't resolved soon, it will probably impact our next release version as well as the nightly build.

[2022-06-26 16:21] gitvids commented on #4313
Thank you 👍🏻

[2022-06-26 16:23] samueleastdev commented on #4313
Thanks you 👍🏻

[2022-06-27 04:39] echoy-harmonicinc commented on #4283
@joeyparrish thanks for the feedback. I wonder if that's a good idea to check the time range from the returned segment reference from segment iterator against the presentation time required. Then if it's not within the range, I'll assume the segment iterator/indices/references are invalid, and do the followings:
- Clear the period combiner in dash_parser
- Period combiner variants will be updated

[2022-06-27 04:50] echoy-harmonicinc commented on #4283
![DASH Failover drawio (1) (1)](https://user-images.githubusercontent.com/88302346/175862109-b730fac1-a447-42ba-9722-ec266da55a85.png)
Maybe the figure will describe the issue better:

1. Assume period 1 has 2 segments and evicted
2. We are playing Period 3 Segment 6 (Index #5, 6th segment overall)
3. At t = 9, failover triggered
4. We want to get the next segment with index #6
5. There are only 2

[2022-06-27 07:31] hiren3897 commented on #4312
Duplicate #4211

I had a same issue

[2022-06-27 10:07] #4262 closed

[2022-06-27 10:07] #4261 closed

[2022-06-27 14:09] bcupac commented on #4315
One of the things that needs changing is that shaka.util.Platform.isApple() returns true for PS4.

Not sure if that was the only cause of MediaCapabilities.decodingInfo() failed error that I was getting for DASH/PlayReady.

At some point  playback was starting but it was very glitchy.

Hopefully I'll have some time to look at it this/next week.

[2022-06-27 14:42] hiren3897 opened #4319 "Buffer before the Dash Live stream starts the playback"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.2.2

**Please ask your question**
Current Flow,
When playing a live stream the video gets loaded in the player and immediately goes into the buf

[2022-06-27 14:43] #4317 closed

[2022-06-27 17:17] agajassi commented on #4315
@bcupac thank you.
I went back and tried every single build between 3.2.1 and 4.1.1 and now can definitely confirm that last working version is 3.2.1.

[2022-06-27 17:40] avelad commented on #4315
Can you create a PR similar to https://github.com/shaka-project/shaka-player/pull/3808? Thanks!

[2022-06-27 18:22] joeyparrish commented on #4305
It's wonderful that you were able to figure that out!  Thank you!

That's a good question.  `createObjectURL` is a necessary part of any MSE application, including Shaka, and it's built into the browser implementation, so the details are inaccessible to us.

In Shaka Player, we call `URL.revokeObjectURL` as soon as the URL has been used to open a MediaSource instance, to avoid a leak.

I loaded th

[2022-06-27 18:28] joeyparrish commented on #4308
I can reproduce the issue.  I'll take a closer look at the content.  I suspect that this is a problem with your encoding, but I'll try to verify.

[2022-06-27 18:32] joeyparrish commented on #4311
If this is the case, the issue is with Apple's HLS implementation.  On iPhone, we are forced to use Apple's HLS, and not our own implementation in JavaScript.  Therefore the duration behavior you see on iPhone is due to Apple, and the behavior you see on macOS is due to Shaka.

On iPhone, we merely set the `src` attribute of the video element to the m3u8 URL.  You can try doing this directly to se

[2022-06-27 18:32] #4311 closed

[2022-06-27 18:37] joeyparrish commented on #4315
I would mark this a P1 (since everything is broken in WebMAF), but I'm marking this a P2 (lower priority) since that is not an officially supported platform for the project.

And since my team can't do anything about it, I'll assign this issue to the groups of folks who have responded so far (and @littlespex, who is apparently getting a PS4 dev kit).

Thanks!

[2022-06-27 18:51] joeyparrish commented on #4304
Correct.  When using native HLS, the browser makes all the requests below the level of JavaScript, and therefore Shaka would not be able to inform you about any details of those requests, nor let you view or modify them in filters.  The only requests Shaka makes in native HLS are DRM license requests.

Does this help?

[2022-06-27 18:56] joeyparrish commented on #4283
I don't think that's something we want to do in mainline Shaka Player.  If your content is well outside of DASH IOP guidelines and the change to support it is non-trivial, our policy is generally to reject those changes.

You may choose to maintain your own fork of Shaka Player to do as you described, but I would recommend instead that your encoder should be fixed to comply with DASH IOP.  The key

[2022-06-27 18:57] #4283 closed

[2022-06-27 19:07] joeyparrish commented on #4314
We will try to support you via GitHub as much as we can, but we don't have a PS5 and PS5 is not an officially-supported platform.  That means we can't do any debugging directly, and it is up to the larger community to make and verify any changes necessary for PS5.

Yes, that's exactly right.  Quoting [the docs on error 4012](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#valu

[2022-06-27 19:32] joeyparrish commented on #4307
Can you tell you another possible reason for the occurrence of an error of 7000?

No, that should be the only reason.  It's a very simple error code.  It only fires from one place, `load()`.  It can be triggered by an interruption from `load()`, `unload()`, `detach()`, or `destroy()`.  I assume you aren't calling any of those?

Are your `load()` calls all handled by the Cast SDK through the `LOAD`

[2022-06-27 19:54] joeyparrish commented on #4308
Okay, I understand the problem now.  This would occur with any content whose video segments or audio segments are not all aligned across playlists.

For example, the first four segment lengths across 3 different streams:

| x | 360p | 720p | 1080p |
| -- | -- | -- | -- |
| seg 0 | 4.000 | 4.066 | 4.000 |
| seg 1 | 4.000 | 4.033 | 4.000 |
| seg 2 | 4.000 | 3.966 | 4.000 |
| seg 3 | 4.000 | 4.000 |

[2022-06-27 23:38] agajassi commented on #4315
On this new MSE based WebMAF environment `navigator.vendor` returns `"Apple Computer, Inc."`. That explains why shaka.util.Platform.isApple() returns true for PS4.

[2022-06-28 00:18] bcupac commented on #4315
PR is there just for clarity, as joeyparrish said it was polyfiling accidentally and it should as PS4 doesn't have navigator.mediaCapabilities

[2022-06-28 00:27] agajassi commented on #4315
@bcupac
On PS4 it probably depends on WebMAF version, because `navigator.mediaCapabilities.decodeInfo` is defined for me. I just tested your PR on my device. Looks good. I am getting playback. Thank you very much.

That being said, I have another PS4 issue that involves VTT cue parsing. I haven't submitted a ticket yet, but I will shortly. So stay tuned 😉

[2022-06-28 00:53] agajassi opened #4321 "[PARAMOUNT GLOBAL] - PS4 - Unable to Parse VTT Cues Markup"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes, I have. I searched for duplicates and couldn't find any

**What version of Shaka Player are you using?**
3.2.1 and up

**Can you reproduce the issue with our latest release version?**
N/A

**Can you reproduce the issue with the latest code from `main`?**
Not directly from main but from this [PR](https:

[2022-06-28 05:23] #4315 closed

[2022-06-28 06:54] vishnump-discovery commented on #4256
Hi @joeyparrish

The issue can be reproducible with shaka 4.1.1. I have shared the playback url and evidence to the above mentioned mail. Please check the mail.

[2022-06-28 06:57] obronov commented on #4307
I use only interceptor
`playerManager.setMessageInterceptor(
  cast.framework.messages.MessageType.LOAD`

Processed via Cast SDK

[2022-06-28 10:45] hiren3897 commented on #4319
Thanks it helped :)

[2022-06-28 10:45] #4319 closed

[2022-06-28 10:46] hiren3897 commented on #4304
Thanks it helps :)

[2022-06-28 10:46] #4304 closed

[2022-06-28 14:04] avelad commented on #4312
It will be resolved with https://github.com/shaka-project/shaka-player/pull/4309

[2022-06-28 14:04] avelad commented on #4211
It will be resolved with https://github.com/shaka-project/shaka-player/pull/4309

[2022-06-28 17:53] joeyparrish commented on #4321
"stypmp4" is a clue for me that what you're seeing is actually an MP4 with VTT embedded, not a text-based VTT file.  Those are the bytes of a binary MP4 that happen to be UTF8.

I expect you'd see something similar on a desktop browser with the same content.  Is that the case?

[2022-06-28 19:27] agajassi commented on #4321
@joeyparrish On desktop or other devices same exact content (and other similar ones) don't exhibit the same issue. I just tried again to be absolutely sure.

[2022-06-28 19:28] agajassi commented on #4321
If I take the same page and swap out Shaka version from latest one to one of the older ones such as v3.0.1, then even on PS4 I cannot reproduce. Captions are properly rendered without any parsing errors

[2022-06-28 19:59] avelad commented on #4321
@agajassi Can you try to include? https://github.com/anonyco/FastestSmallestTextEncoderDecoder

[2022-06-28 20:00] agajassi commented on #4321
@avelad That is the first thing that came to my mind. I tried and it didn't work, like it does on Xbox unfortunately :(

Not advocating for this change, but just out of curiosity I reverted back the changes in this commit https://github.com/shaka-project/shaka-player/commit/a72a1e91023a33c777a6001a64f818ea2e469914
and doing so corrected the issue described in this ticket. Maybe it needs a polyfil

[2022-06-28 20:15] avelad commented on #4321
I've been thinking and maybe it would be good to include the commit https://github.com/shaka-project/shaka-player/commit/a72a1e91023a33c777a6001a64f818ea2e469914 as a fallback in case there is no TextDecoder, @joeyparrish , what do you think?

[2022-06-29 06:48] avelad commented on #4260
@adgllorente After what we have talked about by email, I think that this problem is with Apple (specifically M1) and not with the Shaka Player itself.

[2022-06-29 07:10] klipstein opened #4325 "Apple Advanced HLS Streams from demo page do not work in Firefox"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

yes

**What version of Shaka Player are you using?**

4.1.1

**Can you reproduce the issue with our latest release version?**

yes

**Can you reproduce the issue with the latest code from `main`?**

I've used the following demo-page URLs:

- https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textl

[2022-06-29 09:40] happylinks opened #4327 "Failed to set the 'timestampOffset' property on 'SourceBuffer': The timestamp offset may not be set while the SourceBuffer's append state is 'PARSING_MEDIA_SEGMENT'."
https://shaka-player-demo.appspot.com/demo/#audiolang=en-GB;textlang=en-GB;uilang=en-GB;asset=https://prod-media-hls.tella.tv/cl4z7od39003309l96ybydggg.m3u8;panel=CUSTOM%20CONTENT;build=uncompiled

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
4.1.0

**Can you reproduce the issue with our latest rele

[2022-06-29 16:22] tim-edgren commented on #4284
I'm really struggling to articulate the problem I'm still having.  Maybe I can sketch out the sequence of events, as I see them from the console and network tabs:

1) the player loads the manifest MPD and sees that the content I'm trying to play has widevine encryption
2) the call to the license server (with the releasePid and the "CAQ" challenge) is initiated
3) the Comcast license server respond

[2022-06-30 10:43] klipstein commented on #4327
We had the same issue on Edge and fixed it temporarily with applying: `player.configure('streaming.forceTransmuxTS', true);` which avoids the native transmuxing, which is available in Edge.

[2022-06-30 13:47] hiren3897 opened #4328 "Minimum Android OS version supported?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.2.2

**Please ask your question**
Can you please tell us the minimum Android OS versions supported by Shaka-Player?

Thanks

[2022-06-30 17:01] joeyparrish commented on #4328
I think it's more to do with the Chrome version than the OS version, since the player runs in the browser in JavaScript and doesn't touch the OS directly.

We test on the latest stable version of Chrome.  Any version of Android that is still updating Chrome should work.

[2022-06-30 17:14] joeyparrish commented on #4327
Ah, that explains why it doesn't happen for me outside of Windows.  @happylinks, I recommend you report this to Microsoft, since it appears to be a bug in Edge, and that you use the `forceTransmuxTS` option to work around the issue in the meantime.

[2022-06-30 18:53] salles-g opened #4329 "Cannot resume from preroll when switching do a HLS stream"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
v3.1.2

**Can you reproduce the issue with our latest release version?**
Yes.

**Can you reproduce the issue with the latest code from `main`?**
I haven't tried it.

**Are you using the demo app or your own custom app?**
My own custom app.

**If custom a

[2022-07-01 14:43] matvp91 opened #4330 "getPlayheadTimeAsDate() drift with MSE (mux.js transmux) & native Safari."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
Latest.

**Can you reproduce the issue with our latest release version?**
Yes.

**Can you reproduce the issue with the latest code from `main`?**
Yes.

**Are you using the demo app or your own custom app?**
Both.

**If custom app, can you reproduce the i

[2022-07-02 18:53] joeyparrish commented on #4307
Please disregard the bot.  I've asked it not to close the issue.

[2022-07-04 04:33] krackjack234 opened #4331 "How to set Portrait videos using shaka player"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Latest

**Please ask your question**
We want to use shaka player to play both landscape and portrait videos.
Wanted to check if there is any confi

[2022-07-04 11:54] jaskarancodes commented on #4314
@joeyparrish https://github.com/shaka-project/shaka-player/commit/92b9f25539dc9d754f29a75e7ab37a6e6d8ec656 change fixes the 4012 error but even after the change, I am getting 3016 error code for 4K streams.

It seems to be that the player has issues running SL 3000 content. I am able to play FHD SDR content but not able to play FHD HDR/ 4K content.