[2021-05-27 21:05] kocoten1992 opened #3432 "subtitle using low latency canvas instead of DOM"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**
I been notice that on chrome, subtitle don't work as expected, I manually sync subtitle with sounding. However when playing, the behavior are undeterministic - sometimes it work perfectly, some other time it get delay 0.5 or as much as

[2021-05-27 21:11] caridley opened #3433 "An start"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**

**Please ask your question**

[2021-05-27 21:12] #3433 closed

[2021-05-27 21:36] caridley opened #3434 "Can we set startTime after manifestparsed event is emitted?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes - i found one related issue but it did not address exactly the same question
https://github.com/google/shaka-player/issues/1298 Seek After load does not work

**What version of Shaka Player are y

[2021-05-28 00:16] theodab commented on #3432
A separate text displayer plugin for this would be possible. It'd be a lot of work, though. I don't think there's any native way to draw DOM elements in a canvas (their example of the video playing in a canvas is actually just drawing copying the actual video element into the canvas every 20s), so the text displayer plugin would need to have its own rendering logic.

I'm also a bit concerned by [t

[2021-05-28 01:27] kocoten1992 commented on #3432
Just realize we have `.shaka-controls-container` with `z-index: 1`, that is on top of everything
If I change `.shaka-text-container` to `z-index: 2`, I can even select the subtitle text :laughing:

[2021-05-28 02:51] theodab commented on #3432
Ah, that's a good point. I had forgotten about `z-index`.

I tried testing this in our UI, to see what exactly is expected to go wrong if another DOM element is on top of the canvas. Just a little barebones example, a canvas element that copies the video state into a box in the corner of the video. But it turns out that low latency canvas isn't supported in Chrome on Mac yet; ChromeOS and Windows

[2021-05-28 19:37] vibhavsinha opened #3435 "Chrome 91 broke widevine playback on cross-origin iframe"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 3.1.0 (Latest)

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Custom because needs to be cross-origin (

[2021-05-28 20:16] vibhavsinha commented on #3435
I am not familiar with Chrome source code to confirm, but this is probably a Chrome bug. However, there might be something that can be done within Shaka player to allow playback by modifying the call to `requestMediaKeySystemAccess`.

[2021-05-28 20:52] vibhavsinha commented on #3435
Filed a Chrome bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1214327

[2021-05-28 22:31] Sweknas opened #3436 "Support playing multiple text tracks at once"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v3.1.0

**Please ask your question**
I am working on a project where i use Shaka player as a debug and quality verifier for dash files and have tr

[2021-05-29 00:23] kocoten1992 commented on #3432
quick update, I manage to get it working - with or without `desynchronized` to my eye and ear, sub and sound perfectly sync with each other, this suggest we don't have to use desynchronized and could avoid the whole z-index issue.

[2021-05-29 18:46] kocoten1992 opened #3437 "Shaka demo click (X) to skip ads - not turn off video"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes (I use keyword `ads`)

**What version of Shaka Player are you using?**
demo version, https://shaka-player-demo.appspot.com/

**Are you using the demo app or your own custom app?**
https://shaka-player-demo.appspot.com/

**What browser and OS are you using?**
Google Chrome

**What did you do?**
1. Go to

[2021-05-29 18:54] kocoten1992 commented on #3437
Hmm, maybe it was mean to turn off video - but then do we have a skip ads button, or better yet a version without ads.

Because anyone want to debug shaka-player using demo will be force to watch 20s of ads :no_good:.

[2021-05-29 21:16] kocoten1992 commented on #3432
It work now :smile: , will start compose pull request

[2021-05-29 23:02] theodab commented on #3437
The UI does have a skip ad button, that shows up near the bottom-right corner. Not every ad is skippable; it has to do with the configuration of the ad. For example, our asset `Tears of Steel (multicodec, surround + stereo, single skippable ad)` has an ad that is skippable after 5 seconds.
I don't see anything wrong with having an ad asset on the front page. If you don't want to watch the ads, you

[2021-05-29 23:02] #3437 closed

[2021-05-29 23:08] theodab commented on #3436
We do not currently have any way to play multiple text tracks at the same time, no.
It's not too complex of a feature for us to add. It'd require some adjustments to the text engine, and probably a new method on the player to expose the behavior to developers, but not any huge architectural changes.
I'll mark this as an enhancement request for now, but I wouldn't necessarily count on us getting to

[2021-05-31 15:36] #3416 closed

[2021-05-31 17:46] mlevkov commented on #917
Has this, by any chance, been implemented yet?

[2021-05-31 18:08] Nvaneeth opened #3439 "3016 - MEDIA_ERR_SRC_NOT_SUPPORTED observed for XBOX on live dash streams"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.0.4

**Please ask your question**
We have observed an increase in video start failures in XBOX, we are using dash live streams, error.data[1]: M

[2021-06-01 05:56] theodab commented on #3430
You are correct that the `contentType` being "subtitle" rather than "text" is likely to be the problem.
When reading through manifests, we respond to four `contentType` values: "video", "audio", "text", and "image".
I can't say for sure without actually testing your manifest, however.

If you have no control over these ill-formed manifests, you could potentially register a response filter that rea

[2021-06-01 08:17] vivekmishra92 opened #3440 "Couldn't get initDataTransform working for Fairplay"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.0.1

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
no

**Are you using the demo app or your own custom app?**
custom

**If custom app, can you reproduce the issu

[2021-06-01 08:21] vivekmishra92 commented on #3440
<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <title>Fairplay Example</title>
    <script src="https://github.com/videojs/mux.js/releases/latest/download/mux.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/3.0.1/shaka-player.compiled.debug.externs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/3.0.1/shaka-playe

[2021-06-01 08:22] vivekmishra92 commented on #3440
<script> (function (window) { console.log("1234321§34321234321"); if (!window.shaka) { throw 'shaka must be loaded'; } let shaka = window.shaka; let manifestUri = 'https://rest-sgs1.ott.kaltura.com/api_v3/service/assetFile/action/playManifest/partnerId/3209/assetId/340117/assetType/media/assetFileId/811223/contextType/PLAYBACK/isAltUrl/False/a.m3u8'; let licenseServerUrl = 'licenseServerUrl' let c

[2021-06-01 08:26] vivekmishra92 commented on #3440
<script>
    (function (window) {

        if (!window.shaka) {
            throw 'shaka must be loaded';
        }
        let shaka = window.shaka;

        let manifestUri = 'https://rest-sgs1.ott.kaltura.com/api_v3/service/assetFile/action/playManifest/partnerId/3209/assetId/340117/assetType/media/assetFileId/811223/contextType/PLAYBACK/isAltUrl/False/a.m3u8';

         let licenseServerUrl =

[2021-06-01 08:33] vivekmishra92 commented on #3440
[code]

[2021-06-01 08:35] vivekmishra92 commented on #3440
@joeyparrish @TheModMaker could you please help me in understanding where i'm mkaing mistake

[2021-06-01 14:04] SadiqaliZaveri opened #3441 "Double click to fullscreen throws an error when fullscreen is not supported"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom

**What browser and OS are you using?**
Saf

[2021-06-01 16:16] theodab commented on #3441
Ah, you're right. Thanks for the report!

[2021-06-01 16:22] TheModMaker commented on #3432
I don't think this should be merged into the repo.  This is a complex feature that adds little difference.  I would want to double check that this is actually caused by browser latency and can't be fixed in the normal text displayer.

First, check that the times in the Cue object match the expected times.  You check the `append(cues)` method on the displayer to check the `cue.startTime` value to s

[2021-06-01 16:30] michellezhuogg commented on #917
@mlevkov , this is not implemented yet. We welcome contributions from the community!

[2021-06-01 16:32] TheModMaker commented on #3439
It looks like c0262500 is [ERROR_GRAPHICS_OPM_NOT_SUPPORTED](https://www.hresult.info/FACILITY_GRAPHICS/0xC0262500) and c00d7159 is [MF_E_POLICY_UNSUPPORTED](https://www.hresult.info/FACILITY_MEDIASERVER/0xC00D7159).  It looks like PlayReady is having trouble initializing.  Check your HDMI connection and TV support and make sure to install updates.

[2021-06-01 16:39] TheModMaker commented on #3435
Try changing [this line](https://github.com/google/shaka-player/blob/0579ee77797548c2e91622ef87a6a9b778437c25/lib/util/stream_utils.js#L607) to `not-allowed` (and probably the `persistentState` too).  This may allow the request since it doesn't use distinctive identifiers.  Otherwise there is nothing we can do since this is a Chrome bug.

[2021-06-01 17:14] #3441 closed

[2021-06-01 17:39] kocoten1992 commented on #3432
@TheModMaker , I done most of that, let me explain below and I can prove it to you:
- I console.log the `cue.payload text` and see if DOM text appear on the screen relative close to console.log, the result is - sometime it is, sometime it is not - the most extreme case is it getting delayed almost a second (or not appear at all - because it already pass time it should) - I dig into css too to see

[2021-06-01 17:40] joeyparrish commented on #3415
Not yet.  :-(

What we do internally is run Karma with a WebDriver-based launcher that connects to a Selenium grid in our private test lab.  For security reasons, we can't make that lab network available outside Google.  And we couldn't possibly expect you to have access to the same set of devices to be able to update all of our screenshots.

What I think might be ideal is if we could make it rela

[2021-06-01 18:20] joeyparrish commented on #3440
When you say "it doesn't seem to be working", can you be more specific?  Is your callback not being called?  Is it throwing an error?  If so, what error?

I notice that in your code, your `initDataTransform` callback refers to `getMyContentId()`, but that is not defined in the sample code you provided.  Could that be the issue?

[2021-06-01 18:24] joeyparrish commented on #3434
I don't believe we have an explicit feature for this, but I think it sounds reasonable.

What would be ideal, in my opinion, would be to avoid a new method and just allow the application to set `video.currentTime` from the `timelineregionadded` events before the [`streaming` event](https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html#.event:StreamingEvent) fires.  That would be pretty

[2021-06-01 19:51] vivekmishra92 commented on #3440
@joeyparrish I have made some changes to my code(updated above also) and it started playing something, but getting a green screen during playback.

Attaching below the screenshot of the green screen and also console log
<img width="657" alt="Screenshot 2021-06-01 at 21 49 56" src="https://user-images.githubusercontent.com/9200985/120381985-66267480-c323-11eb-90ed-671374fde002.png">
![050C2E89-03C8

[2021-06-01 22:45] kocoten1992 commented on #3432
So...This is the code https://gist.github.com/kocoten1992/3ce134d7dd977e623193854e9d24d953, but I've figure out the root core reason of this - and I've fix it.

![Screenshot from 2021-06-02 05-27-17](https://user-images.githubusercontent.com/7130705/120397826-3b5c1080-c363-11eb-8bd4-ff93d79c6914.png)

This surprisingly is caused by `bad content`, when audio and video out-of-sync - somehow chrome i

[2021-06-02 02:05] joeyparrish commented on #3440
That kind of video artifact is usually a sign of decrypting with the wrong key, or decoding garbage data through some other means.

In this line, is your content ID correct?

[code]

[2021-06-02 02:12] joeyparrish commented on #3432
Thank you for updating us on the outcome!  Not a waste of our time at all, and we have certainly learned something.  Also, I really appreciate your taste in movies.  (Ravenclaw for life.)

[2021-06-02 10:49] Wayne-Morgan commented on #3384
Hi,

It's interesting that this problem occurs only on seeking back in time.

The attached image shows that while seeking backwards, multiple audio segment downloads are started and then cancelled. When we stop seeking, audio segments are loaded from segment number 68, but video from 71 (following on from the last completed video segment download. I hope this helps @joeyparrish .
![image](https://

[2021-06-02 11:04] Wayne-Morgan commented on #3384
Here's another example showing the end of a much longer "drag" of the seek bar:
![image](https://user-images.githubusercontent.com/26894243/120469483-4ed69e00-c39a-11eb-8a03-a8e52aa34c22.png)

Both these examples were using 3.0.11.

We'd really appreciate any help you can provide, as we're looking forward to introducing the features of 3.1.x, but at the moment we're unable to deploy anything newer

[2021-06-02 14:56] hiren3897 opened #3443 "How to Customise PlayBackRate or Fast_Forward rate"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v3.1.0

**Please ask your question**

I want to customize the playback rate and/or fast forward with personal rates like I want only x0.5, x0.2, x

[2021-06-02 17:36] TheModMaker commented on #3082
I haven't been able to reproduce, but having `getIteratorForTime` return an index of -1 would be invalid.

[2021-06-02 17:49] TheModMaker commented on #3082
Closing as a duplicate of #3393, which has the same problem and is easier to reproduce.

[2021-06-02 17:49] #3082 closed

[2021-06-02 17:51] TheModMaker commented on #3393
The problem is that when we can't find the segment, `getIteratorForTime` returns an iterator with an index of -1, which causes problems streaming.

[2021-06-02 17:53] #2429 closed

[2021-06-02 18:26] SadiqaliZaveri commented on #2730
@alex2844 Faced something similar and it was solved by adding a tax index attribute to the play button and then focusing it. Hope this helps.

Shaka V3.1.0
Android TV - MI

[2021-06-02 19:44] vibhavsinha commented on #3435
@TheModMaker I made a matrix which tries all possible combinations of `distinctiveIdentifier`, `persistentState` and `robustness` values. However, none of them worked on Android Chrome 91.

Link to run the matrix on your own devices: https://frosty-booth-2b8677.netlify.app/support-matrix-persistent.html
Source code: https://github.com/vibhavsinha/chrome-91-eme-android/blob/master/iframe/support-ma

[2021-06-02 20:58] joeyparrish commented on #3435
This definitely appears to be a chromium issue, and I can say that the Chrome team is actively working on it.  Since there appears to be no workaround in JavaScript possible, I propose that we close this issue here and focus conversation on https://bugs.chromium.org/p/chromium/issues/detail?id=1214562

Any objections?

[2021-06-03 08:13] hiren3897 opened #3444 "Increase the seek range for 3 hours for live player"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v3.1.0

**Please ask your question**
Hello,

I want to increase the shaka-range-element shaka-seek-bar range for 3 hours approx(10800 sec) is it p

[2021-06-03 12:53] tomraut opened #3445 "HLS DAI stream with timed metadata"
Hi,

I'm trying to play HLS DAI stream (Yospace) with Shaka player 3.1.0 on Chrome browser. Stream itself works but I cannot get hold on any kind of timed metadata which comes with it. I have tried adding following kind of listener:
`document.getElementsByTagName('video')[0].textTracks.addEventListener('addtrack', (track) => {
        console.log('added track: ', track)
 })`
With same stream and S

[2021-06-03 14:52] tomraut commented on #3445
I even tried adding event listener to this event but it does not pick up any changes during playback and not even when ad break starts: https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html#.event:MetadataEvent

[2021-06-03 17:04] joeyparrish opened #3446 "Make use of new MediaKeySessionClosedReason enum in EME"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

The EME editor's draft is adding an enum called `MediaKeySessionClosedReason`.  Values of this type will be used to resolve the `closed` Promise in `MediaKeySession`.

**Describe the solution you'd like**

We should use this informatio

[2021-06-03 21:25] TheModMaker commented on #3443
We don't support changing that currently, but we can add it in the future.  It would involve changing [playback_rate_selection.js](https://github.com/google/shaka-player/blob/master/ui/playback_rate_selection.js) and making `playbackRates_` configurable.

[2021-06-03 21:32] TheModMaker commented on #3444
It mostly depends on the manifest.  I assume you're using DASH, since HLS defaults to non-seekable.  For DASH, this is controlled with the `timeShiftBufferDepth` attribute in the manifest.  The best option is to change your encoder to give a longer seek window.  This ensures the content works correctly.

You can override this with the `manifest.availabilityWindowOverride` configuration, but this c

[2021-06-03 21:40] kocoten1992 commented on #3432
Hello @joeyparrish  , @TheModMaker

When I thought it was cause by audio mis-sync, I was mistaken again :(!

Because when I switch back to default `ui_text_displayer.js`, the problem is still there.

Then I think why the hell `canvas_feat_ui_text_displayer.js` cannot caught that, I tinker with it for a whole day and conclude that - it because the position of canvas relative to text div. If the pos

[2021-06-03 21:45] TheModMaker commented on #3384
I think this is a duplicate of #3089.  You could work around this by setting `streaming.jumpLargeGaps` to `true`.

[2021-06-03 21:48] TheModMaker commented on #3089
This is actually fairly easy to reproduce on Chrome on desktop.  Just start in the middle of the video and use `video.currentTime -= 3` in DevTools several times.  It works better on a slower connection so the video buffers.

[2021-06-03 22:08] TheModMaker commented on #3432
I'll reopen, but I'm still not entirely convinced this is the problem.  Can you reproduce with one of our sample assets or can you send us the asset you are testing with?  You can send it privately to <shaka-player-issues@google.com> if you can't share it publicly.

How long does the `updateCaptions_` method take?  Can you run Chrome profiler and see what is happening?  If this is DOM layout delay

[2021-06-03 23:41] pedrosilvabos commented on #3430
It should.
I am lucky I am able to talk to the team responsible for the manifest creation. So that I will address that.
it is however super interesting that you have shown me a way to manipulate the manifest itself. Should be useful for other events and problems.
Thank you and yes, it helped

[2021-06-04 12:27] ssaguiar opened #3447 "player.getVideoTracks is not a function"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
Master

**Can you reproduce the issue with our latest release version?**
I am using the master one, I supose it's the latest.

**Can you reproduce the issue with the latest code from `master`?**
Yes, it's happening with it.

**Are you using the demo app

[2021-06-04 16:49] TheModMaker commented on #3447
The function is [getVariantTracks](https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html#getVariantTracks).

[2021-06-04 19:18] TheModMaker commented on #3432
I may have reproduced something similar.  I noticed that sometimes there is a delay when the cue is visible.  When this happens, I noticed that the cue was being added multiple times.  This happens because the `ResizeObserver` is firing multiple times and we add and remove the cue multiple times.  Try commenting out the following line to see if it helps:

https://github.com/google/shaka-player/blo

[2021-06-04 19:56] kocoten1992 commented on #3432
Thanks, we are getting somewhere!!
Comment out `ResizeObserver` does not help (put a blank canvas on top text div does help though), like:

[code]

[code]

[2021-06-04 21:28] joeyparrish commented on #3432
It's possible that this has to do with how and when the browser chooses to update or composite layers.  If the addition of a canvas layer on top of the text improves sync, there may be a more straightforward solution.  (I recall having memory issues in a web-based project many years ago that were solved by changing CSS to avoid the creation of layers in the compositor.)

[2021-06-05 23:04] kocoten1992 opened #3448 "selectVariantTrack on streaming event doesn't work anymore"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Not sure

**Are you using the demo app or your own custom app?**
https://jsbin.com/masatiqare/edit?html,conso

[2021-06-06 18:34] AradAral opened #3449 "How to get the current rendering quality level + be notified when it changes?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.1.0

**Please ask your question**
I'm in the process of migrating from hls.js to Shaka Player. One rather simple thing that I've been struggli

[2021-06-06 19:41] vibhavsinha commented on #3435
Update: Chrome team has fixed this bug and they are planning to release this as a respin of M91.

[2021-06-06 19:41] #3435 closed

[2021-06-06 20:17] AradAral opened #3450 "selectVariantTrack doesn't clear buffer if already selected"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Yes. I'm on the latest version.

**Can you reproduce the issue with the latest code from `master`?**
Haven't tested.

**Are you using the demo app or your own custom app?**
Custom ap

[2021-06-06 21:04] AradAral opened #3451 "Don't jump over the gap at the beginning before the video is played so that the video poster doesn't disappear."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Yes.

**Can you reproduce the issue with the latest code from `master`?**
Haven't tried.

**Are you using the demo app or your own custom app?**
Custom. But doesn't matter.

**If cus

[2021-06-07 13:26] hiren3897 commented on #3444
Hello @TheModMaker
Thank you for your response I have already tried this and yes you are right it gives me 404 when segments are not available.

I have a question, to have one manifest seekable for 3 hours for example do we need to change some configs in the DASH manifest to make the segments available for 3 hours?

Thank you in advance :)

[2021-06-07 13:30] hiren3897 commented on #3443
Hello :)
Thank you for your reply,
Yes, it would be great if we can edit those rates.

I will try my logic to do so in my project and let you know for PR

Thank you and have a nice week!

[2021-06-07 14:49] ssaguiar opened #3452 "How can I unmute and set volume of video when it starts play?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Latest (Master)

**Please ask your question**

I wish to know how I can unmute the audio for the video and set a volume for it.
The problem is tha

[2021-06-07 14:58] talmelamed opened #3453 "Play a .ts file using mux.js"
We've been trying to play a .ts file with mux.js and it seems dot working.
Although if we create a manifest file (m3u8) which direct to a ts file Shaka manages to play it.

We use <script src="https://github.com/videojs/mux.js/releases/latest/download/mux.js"></script> at the top of the html page.
and init the player with muxjs: window.muxjs = muxjs;

I guess it's kind of a flag to use mux.js when

[2021-06-07 15:19] AradAral commented on #3452
Why don't you use the [`video.muted`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/muted) property and set it to `false` if you want to unmute the video?! You can then use the [`video.volume`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/volume) property to raise or lower the video's volume.

[2021-06-07 15:25] ssaguiar commented on #3452
I tried, but didn't work.

It gives this error, when I call it:

`Unmuting failed and the element was paused instead because the user didn't interact with the document before`

Have you some example of how to apply this?

[2021-06-07 15:27] AradAral commented on #3452
Why do you even have `muted="muted"` on your `<video>` element in the first place?

[2021-06-07 15:45] amansieboatengkofi opened #3454 "Hear static sounds on increased play speed for playback on firefox"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes
**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
the demo app

**If custom app, can you reproduce t

[2021-06-07 15:48] ssaguiar commented on #3452
No.
If you don't place muted="muted" the video won't autoplay.
You can see this at:

https://developers.google.com/web/updates/2017/09/autoplay-policy-changes

I tryed to make it play in javascript, but it doesn't work either.

[code]

[2021-06-07 15:53] AradAral commented on #3452
Well if that's the policy browsers follow then you clearly shouldn't be able to programmatically unmute the video immediately after it's played like you're doing in that code snippet; unless the user interacts with the document first, which what the error message you pasted also states. Because doing so would defeat the whole purpose of that policy, users don't want videos with sound to be auto-pl

[2021-06-07 15:59] ssaguiar commented on #3452
Ok, but this will play in a smart tv without controls and hls.js works fine in the tv.
I will test if this problem happens with shaka in tv (tested only in windows browser).

[2021-06-07 16:05] downquark commented on #3454
I can repro with Firefox 89.0 on Ubuntu 18.04.5 LTS

[2021-06-07 16:13] ssaguiar commented on #3452
I just tested in tv emulator and with hls.js it works (start and unmuted). With shaka it doesn't.

Hls.js:
![Captura de Tela (42)](https://user-images.githubusercontent.com/5515284/121053865-2c75c380-c792-11eb-8c49-d81490b5c9fb.png)

shaka:
![Captura de Tela (37)](https://user-images.githubusercontent.com/5515284/121053843-27187900-c792-11eb-913d-100d5c26f325.png)

[2021-06-07 16:19] valotvince commented on #3415
@joeyparrish That would be nice ;)

[2021-06-07 16:24] TheModMaker commented on #3444
We don't know which encoder you are using, so you need to look up your encoder settings to see how you can do it.

For the manifest, you need to increase `timeShiftBufferDepth` attribute.  Then  you need to make sure the manifest keeps the segments in the list and the segments remain on the server so long as they are playable.

[2021-06-07 16:29] TheModMaker commented on #3453
So is the content playing or not?  You said "not working", but also "manages to play it".  What is the problem here?  If there is an error, what is the error?  What browser are you using?  Can you provide a URL link to the manifest? If the browser supports native TS content (e.g. Safari or Edge), then we'll play it natively instead of repackaging it.

[2021-06-07 16:46] joeyparrish commented on #3454
We don't control audio rendering.  We can set the playback rate, but it's the browser that decodes the audio and renders it.  So I suspect this is actually a Firefox bug.

Please file your issue here: https://bugzilla.mozilla.org/

If you post the link to your Firefox issue here, we can follow along and offer support to the Firefox team if they need anything from us to debug and resolve the issue.

[2021-06-07 16:55] ssaguiar commented on #3452
Got it!

In tv you just remove the additional configs from dom:

You just remove:
`controls muted="muted"`

[code]
The Samsung Tv uses chrome and is already prepared to autoplay with audio not muted.

If testing in browser, it will need to have muted="muted" to autoplay, with audio muted, as stated by Google.

[2021-06-07 17:08] joeyparrish commented on #3415
Renamed and labeled as an enhancement.

Rough outline of the minimum work required:
  1. Simplify installing the correct version of chromedriver.  (Perhaps with something like https://www.npmjs.com/package/chromedriver using the version-detection method it offers `npm install chromedriver --detect_chromedriver_version`)
  2. Offer a command-line argument to test.py to run tests through this chrome

[2021-06-07 17:13] ismena commented on #3451
@joeyparrish I know you planned some a revamp og the gap jumping logic. Is this something you would consider as part of that?

[2021-06-07 17:20] martinstark opened #3455 "Why does shaka sometimes convert CRITICAL errors thrown in a request filter to RECOVERABLE?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Please ask your question**

Why does shaka sometimes convert a critical error thrown inside of a request filter to a recoverable error? C

[2021-06-07 17:21] ismena commented on #3450
Hi @AradAral
Could you try this on the [nightly build](https://nightly-dot-shaka-player-demo.appspot.com/demo)?
I followed the repro steps with your manifest, and I'm seeing both `player.getStats().height` and `video.videoHeight` at 720p.

![Screen Shot 2021-06-07 at 10 20 38 AM](https://user-images.githubusercontent.com/4951304/121062614-2378f800-c77a-11eb-9913-42bfeff3c9e9.png)

[2021-06-07 17:30] TheModMaker commented on #3449
We only track the currently "selected" track, which is the track that we will download for future segments.  We don't track what we have already buffered.  You can follow #857 for where we'll add a feature for that.  So the track will switch even though the current resolution won't show it since we've buffered old content.

You can detect when the selected track changes with the `adaptation` event

[2021-06-07 17:33] ismena commented on #3449
@AradAral Does an [adaptation event](https://nightly-dot-shaka-player-demo.appspot.com/docs/api/shaka.Player.html#.event:AdaptationEvent) work for your purpose?
It's fired when ABR changes tracks.

The docs don't reflect it yet, but we recently added fields for the old and new tracks to the event (can be seen [here](https://github.com/google/shaka-player/blob/master/lib/player.js#L5118) in the cur

[2021-06-07 17:33] TheModMaker commented on #3450
`getStats` reports the "selected" track, which is what we'll download for future segments.  It doesn't report what is currently playing.  We don't keep track of existing buffered content.  See #857.

So if ABR has selected a new track, `getStats` will report based on the new track, not what is already buffered.  As you noted, you can use `video.videoHeight` to detect the currently displayed video

[2021-06-07 17:47] joeyparrish commented on #3448
Did you only call selectVariantTrack?  You may also need to disable ABR.  In earlier versions, I seem to recall this was done automatically in select*, but that we received complaints about that and made it so that ABR must be explicitly disabled via the API.

[2021-06-07 17:53] joeyparrish commented on #3449
The events we dispatch are fired when we choose to start fetching something different, rather than when that difference shows up on screen.  We don't track in memory any correspondence between presentation times and which segments/resolutions we buffered.

You can observe a resolution change, however, on the video element.  `video.videoWidth` and `video.videoHeight` attributes (where `video` is yo

[2021-06-07 18:02] joeyparrish commented on #3449
I was suspicious that MutationObserver wouldn't help, and I was right.  This doesn't fire on width/height changes:

[code]

I believe it's because MutationObserver works on DOM elements only, and videoWidth/videoHeight are only exposed on the JS object, not as DOM attributes.

You could always use a `timeupdate` event to check.  If Shaka were to offer an event for this, it would have to be based o

[2021-06-07 18:10] SadiqaliZaveri opened #3456 "Is shaka-ui-loaded event a one time dispatch?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0 UI Compiled

**Please ask your question**
1. Why does the `shaka-ui-loaded` event not fire again on a new player instance created on the sam

[2021-06-07 18:28] joeyparrish commented on #3456
The event fires once, on the _document_, to let you know that the UI _library_ is fully available.  It is not related to any one `Player` instance.

It is common to load scripts with `async` or `defer` attributes, so you may need the event for this reason.  You can use it know when the `shaka` namespace is available globally.

Also, the UI library will search the DOM for `data-shaka-player` and `d

[2021-06-07 18:47] SadiqaliZaveri commented on #3456
@joeyparrish Thank you for the explanation. I understand it correctly now.

My application code runs after the Shaka Player Library has been fully loaded, so I would not require the event at all.

[2021-06-07 18:47] #3456 closed

[2021-06-07 18:53] joeyparrish commented on #3452
Unfortunately, there's nothing we can do about any of this in Shaka Player.  Browser autoplay rules are built into browsers.  Autoplay rules generally allow for:

1. Playback with sound from a user gesture
2. Autoplay without sound, with a user gesture required to enable sound again

It seems like the TV doesn't have any of these restrictions, but browsers generally will.

Does this help?

[2021-06-07 19:04] kocoten1992 commented on #3448
in the example above, I did call:
[code]
but it doesn't seem to work

[2021-06-07 19:16] AradAral commented on #3450
@TheModMaker I understand that now. But none of that justifies the last behavior I described.
The video is currently on 360p, I do a `player.selectVariantTrack([720-track], true, 0);`, which means that I want to force a quality change RIGHT NOW; since I'm setting `clearBuffer` to `true`, and `safeMargin` to `0`. Right?
But Shaka Player looks at the quality of the last downloaded segment which migh

[2021-06-07 19:20] AradAral commented on #3449
That's a nice solution.
But correct me if I'm wrong, I think this approach isn't completely reliable since there may be multiple variant tracks with the same width and height but with different bitrates, say.
In such cases, you couldn't definitively infer from the video height/width which track is the one currently playing.

May I ask why? Because honestly, this seems to me to be among the most co

[2021-06-07 19:37] TheModMaker commented on #3449
It's  a matter of preference.  Some people may want the UI to show the currently displayed resolution, or some may want to show what will be downloaded in the future.  It may make more sense to show what will be downloaded as it will affect bandwidth the most in the future.  You can follow #857 for the other option.

[2021-06-07 19:38] AradAral commented on #3449
Please give me one example of a famous video player that does the latter.

[2021-06-07 19:49] AradAral commented on #3449
Even if there are such examples, there is absolutely no doubt that showing the current quality is definitely much more common.

Wouldn't you agree?

[2021-06-07 19:55] TheModMaker commented on #3449
YouTube does do this.  It displays the future download rate, not what is displayed.  This is only visible when using "Auto" since it clears the buffer if you manually select.

You can follow  #857 where we'll add that feature.  (also you shouldn't edit your comments since we don't get notifications for that and it is confusing to reply to edited comments)

[2021-06-08 08:05] hiren3897 commented on #3444
Okay @TheModMaker
I will look after it and I'll ask you if I have any doubts :)

Thank You!

[2021-06-08 08:47] bmaniar opened #3457 "VTT subtitle rendering HTML tags"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Please ask your question**
My question is about the VTT subtitle. I am using the default VTT parser and my VTT file looks like below

WEB

[2021-06-08 09:07] talmelamed commented on #3453
@joeyparrish Yes, exactly.

[2021-06-08 11:05] Wayne-Morgan commented on #3384
Hi @TheModMaker @joeyparrish,

This is not a duplicate of #3089.

When I see this issue, video stops at the point before the seek (in #3089 there is some video played after the seek). Setting jumpLargeGaps does not fix this problem.

Are you able to re-open this issue please?

Thanks.

[2021-06-08 11:18] AradAral commented on #3450
@TheModMaker Can you take a look at my last comment? Thanks.

[2021-06-08 14:50] Wayne-Morgan commented on #3384
The problem seems to have been introduced in https://github.com/google/shaka-player/commit/ec210cbe1d33f7fd2ca99e6ff728bd7af1aa4abe
It's fairly easy to reproduce from this point forward, but in the previous commit, (https://github.com/google/shaka-player/commit/7944616657eb69e104abca5369294c993fc82307) I was unable to reproduce the problem at all.

[2021-06-08 16:08] hiren3897 opened #3458 "unable to capture image from live player"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

yes
**What version of Shaka Player are you using?**
v3.1.0

**Please ask your question**
Hello there,
I am adding a feature in my player to capture an image from the player
I am using a simple metho

[2021-06-08 16:14] joeyparrish commented on #3458
The player has nothing to do with rendering the images, nor with protecting them from capture.

I believe DRM content will be protected from image capture, but it may depend on the DRM vendor or possibly the license policy.

As for VOD vs live, you may be mistaken about the differences in the URL.

`src="https://url"` does not have anything to do with VOD.  This indicates a `src=` playback, which

[2021-06-08 16:18] hiren3897 commented on #3458
Hello @joeyparrish
Thank you for the quick response.

yes, it helps as it is only because of the DRM protection to the video.

maybe I need to check with the DRM vendor do they allow capturing images or not!

Thank you so much!
I am closing this for now

[2021-06-08 16:18] #3458 closed

[2021-06-08 16:33] caridley commented on #3434
I don't think it will work to set video.currentTime from the `timelineregionadded` event handler because `timelineregionadded` is emitted for each ad, and we can't compute the desired seek position until we have data for all of the ads.

I have tried setting `video.currentTime` in the `manifestparsed` and `streaming` event handlers. It works, in that playback appears to starts at the requested pos

[2021-06-08 16:36] ismena commented on #3457
@TheModMaker @michellezhuogg Can you check me on this? Also, how much styling do we support on vtt with the custom displayer?

I don't think this is the right way to specify css on vtt.
Id I'm correct in my reading of the [spec](https://www.w3.org/TR/webvtt1/#applying-css-properties), it should look something like this:
[code]

[2021-06-08 16:52] joeyparrish commented on #3457
Are you using the Shaka Player UI?  The UI-based (DOM-based) text renderer has some styling support.  The browser's native text display does not.

[2021-06-08 16:58] TheModMaker commented on #3384
When you see the problem, what is the value of `video.currentTime`, `player.getBufferedInfo()`, and `player.streamingEngine_.mediaStates_.get('video').segmentIterator`?  For the last one, you need to use the debug or uncompiled library and not be using `CastProxy`.  Or if you are using the hosted demo, you can get the player instance with `shakaDemoMain.controls_.localPlayer_`.

[2021-06-08 17:04] bmaniar commented on #3457
Yes, @joeyparrish I am using shaka player UI with default parser.

[2021-06-08 17:08] TheModMaker commented on #3453
We don't use mux.js when playing `src=` (direct playback of single file).  This is because we just give the URL to the browser and tell it "play this".  Since we have no control over the network or the playback, we can't transform it as we play.  We also may not be able to download the file and transform it all at once since it may be massive and we can't fit it in memory.  So we only support play

[2021-06-08 17:09] caridley commented on #3434
If I add this code to Player.onLoad_()

[code]

and then set video.currentTime in my 'manifestparsed' handler I get the desired behavior. Playback starts at the requested position and the player does not load unneeded segment from the first period.

[2021-06-08 17:13] TheModMaker commented on #3450
This is an odd edge case where you'd want to clear the buffer even though the same stream is already selected.  When you switch to a different track, we ignore it if it is already "selected".  This ensures that if you call twice in a row, we don't waste a lot of effort by doing the same thing again.  The problem here is that track is selected, but you want to clear the buffer explicitly.

I guess

[2021-06-08 17:27] TheModMaker commented on #3457
That content isn't spec compliant, you can't have `<font>` elements in the text.  You would need to use classes (which we have limited support for) to do this.  Something like this:

[code]

I'm fairly sure we support the `<i>` element, but we may not support classes.

[2021-06-08 21:59] kocoten1992 commented on #3432
So, should I make a PR for this ?

I don't have a better idea nor motivated enough to find another (as this one isn't terrible - if documented right).

[2021-06-08 23:04] joeyparrish commented on #3432
A PR for adding a canvas on top?  That feels hacky to me, and doesn't address the root cause, whatever that might be.  We would probably not merge that.

A PR for some CSS-based or JS-based solution to fix layout timing?  Yes, that would be great.

[2021-06-09 07:28] Wayne-Morgan commented on #3384
Most of the time I've seen the problem occur with the video buffer, but in my current debug session it's the audio:

With 2 second segments:
* presentationTime: 328.039485
* video buffer: 326.125 - 338.124999
* video segmentIterator.nextPosition: 170
* audio buffer: 336 - 340.010666
* audio segmentIterator.nextPosition: 171

[2021-06-09 08:13] bmaniar commented on #3457
Currently, I don't have control over VTT files or their creation. so I have implemented a workaround for now as below where we register custom VTT parser and filter out the font tag and give back the controls to the default one.

[code]

[2021-06-09 08:15] #3457 closed

[2021-06-09 08:16] Wayne-Morgan commented on #3384
On this occasion the problem was with the video:
![image](https://user-images.githubusercontent.com/26894243/121318499-3539d700-c903-11eb-8375-678041a4669c.png)

[2021-06-10 00:14] joeyparrish commented on #3453
@talmelamed, does this answer your question?  Sorry we aren't able to help with this.

[2021-06-10 00:17] joeyparrish commented on #3434
That seems pretty reasonable at a glance.

You don't need a check for both currentTime && currentTime > 0.  It can't be negative, so checking > 0 should be enough.

[2021-06-10 01:06] joeyparrish commented on #3455
Sounds like it could be a bug or an oversight.  Happy to accept a PR if you feel like looking into it.  Otherwise, we will get to it eventually.  Thanks!

[2021-06-10 02:06] mrosetea opened #3460 "Shaka Player CAF V3 - DASH + WIDEVINE - 6008"
Good evening, in advance sorry for the inconvenience, I come for your help since I do not know what else to try and I am desperate.
Currently I have an application developed with version 2 of the Chromecast SDK and a WEB application that uses Shaka Player, I want to develop a new application using the CAF V3 version.
We are using DASH + Widevine as encode, I have no problems wanting to get the man

[2021-06-10 02:42] joeyparrish commented on #3460
That error means that the license response was rejected by the platform.  So it may have been malformed in some way.

`licenseHandler` and `licenseRequestHandler` are part of CAF, not Shaka Player, so we can't help you debug that.  You may want to check out https://support.google.com/chromecast/contactflow or https://stackoverflow.com/questions/tagged/Google-Cast for support on CAF.  Those both ap

[2021-06-10 09:05] adgllorente opened #3461 "Is there any way to detect CDM version installed in the browser?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
Does not apply.

**Please ask your question**
We know CDM releases are rolled out to users automatically, and Widevine, is blocking some release

[2021-06-10 15:15] ssaguiar opened #3462 "How to change drm server dynamically?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Master

**Please ask your question**
In our application, every stream will have a Widevine key as (fake, just to show how the server will be):

`'

[2021-06-10 15:43] AradAral commented on #3450
@joeyparrish Sorry, would you take a look at this...

[2021-06-10 16:19] Wayne-Morgan commented on #3384
Hi @joeyparrish @TheModMaker

I believe I have a solution to this issue.  Please can you assign it to me, and I'll prepare a PR.

Thanks.

[2021-06-10 17:02] joeyparrish commented on #3384
Done.  Thanks!

[2021-06-10 17:05] joeyparrish commented on #3462
I would suggest doing something like this:

[code]

I believe the key thing is to set necessary configuration before calling load().  Some config changes can take effect in the middle of a playback session, but others only affect a subsequent call to load().

Does this help?

[2021-06-10 17:06] joeyparrish commented on #3450
Sounds good to me.

[2021-06-10 17:06] ssaguiar commented on #3462
I will try this way and let you know.
Thanks a lot.

[2021-06-10 17:14] joeyparrish commented on #3461
Not as far as I know.  At least, there is nothing standardized in EME for this, and existing web APIs are so easily abused for fingerprinting already that I am certain the W3C will not want to add an explicit string for a CDM version.

[2021-06-10 22:25] TheJohnBowers commented on #741
Hey I have a test stream for you!  Key rotation definitely doesn't work.  This stream rotates keys every 3 minutes and it just hangs when the rotation occurs.  This might be useful for testing and implementing a fix:

https://content.uplynk.com/channel/b965d55496414804891dde9c96928ffb.m3u8?rmt=wv&m4fenctype=cenc

[2021-06-11 10:04] iperzic opened #3463 "Rapid seek causes CCs to disappear when ignoreTextStreamFailures is true"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reproduce the issu

[2021-06-11 13:04] ssaguiar commented on #3462
@joeyparrish
Sir, I wish to know if you can help and guide me in the right direction because the shaka's demo is so complex.
I need to implement a player app which will:

- Select any of the audios presents in stream;
- Play Widevine encoded stream (and the above);

I get lots of error code 4012, in some channels:

[code]

the TELEMAX INT stream plays ok in hls.js but doesn't play in shaka.
TEST_S

[2021-06-11 14:01] zisiskol opened #3464 "Add specific doc on localization strategies"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ ](https://bit.ly/ShakaFAQ)and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0 Compiled (Release)

**Please ask your question**
I am using Shaka Player UI and i would like to change the overflow Menu Buttons language.
B

[2021-06-11 16:52] RyanBellPOST commented on #1030
Any updates on getting a types definition file for the shaka player?

[2021-06-11 16:52] aahmadi458 commented on #3451
@joeyparrish Is there a chance this will be solved in the next version? I've been using Shaka Player for a long time now but only recently I noticed this issue. Annoying.

[2021-06-11 17:33] joeyparrish commented on #1030
We haven't had time to finish this work.  The generated types still have some issues.

Here is what I am aware of that needs to be done to complete the work:
1. Create real types in Closure for Shaka events (currently just documented in jsdoc without being "real" to the compiler).  These will then be translated into generated TypeScript types by the existing tools.
2. Add automated tests to ensure

[2021-06-11 19:01] #3462 closed

[2021-06-11 19:47] AmirHosseinHmd1 commented on #3450
@TheModMaker Hi. Any updates? Does this have a straightforward fix?

[2021-06-11 19:48] AmirHosseinHmd1 commented on #3450
I'm having this problem too.

[2021-06-12 12:18] ronak2121 commented on #3238
Hi, I was wondering if you could share anything about how the discussions with Zach Cava are progressing on this? We are hoping to capitalize on support for SGAI in early/mid 2022 in ShakaPlayer. Would that be a realistic expectation to have?

[2021-06-12 12:39] #3449 closed

[2021-06-12 16:36] #3439 closed

[2021-06-12 18:25] AradAral opened #3466 "Why is the buffer cleared when seeking?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.1.0 (latest)

**Please ask your question**
Say we have a video with a duration of 1 minute (01:00).
Shaka Player buffers the first 10 seconds

[2021-06-13 02:05] #3440 closed

[2021-06-13 19:47] ssaguiar commented on #3452
In Tv (Tizen) it works fine.

[2021-06-13 19:47] #3452 closed

[2021-06-13 20:32] #3447 closed

[2021-06-13 20:45] ssaguiar opened #3467 "How to change captions, resolution and language audio as in overflowMenuButtons, programmaticaly?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Latest - Master

**Please ask your question**

I need to change audios and tracks resolutions and enable captions(subtitles) programatically becau

[2021-06-14 09:19] mimse commented on #3460
We use this for our DRM license with DRM Today

[code]

[code]

[code]

Hope this can help you

With regards

Morten

[2021-06-14 11:04] ssaguiar opened #3468 "Deprecated libs while compiling shaka player"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Master

**Please ask your question**

When compiling Shaka Player, to implement the corrections to buffering, following what is in https://shaka-p

[2021-06-14 14:36] caridley commented on #3434
@joeyparrish  I would like to submit a PR with the proposed change. Does this issue need to be converted into a bug or enhancement request?

[2021-06-14 15:23] adgllorente commented on #3461
Thanks for answering, I think this issue may be closed.

[2021-06-14 15:23] #3461 closed

[2021-06-14 16:37] baseballbrad3 commented on #3125
Joey, I'm still waiting to hear back from my company if I'm allowed to sign the CLA. If it makes sense for you or for someone else to make the change in the meantime, that'd probably be good.

And for what it's worth, I agree, we'd want to be sure that currentTrack != track.

[2021-06-15 05:02] mseeley commented on #1906
@joeyparrish looks like 9b4502cc5d04fc1634d63dfdaa5e864fa4a7e341 missed the 3.1 cut. Are there plans to release an update including this change before 3.2 is minted?

[2021-06-15 07:31] kocoten1992 opened #3469 "missing removeTextTrack api"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**
we have `addTextTrack` api,
and `addTextTrackAsync`,
even have event remove texttrack https://github.com/google/shaka-player/blob/1125184bfe08863677cb996b0f13d49e18eeade9/lib/player.js#L2138-L2139

But we don't have `removeTextTrack` ap

[2021-06-15 10:32] dlink-cs-YueXiangling opened #3470 "When the video file is normal, what are the possible reasons for many gaps?"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
v3.0.0

**Can you reproduce the issue with our latest release version?**
Yes,I can.

**Can you reproduce the issue with the latest code from `master`?**
Yes,I can.

**Are you using the demo app or your own custom app?**
My own custom app.

**If custom ap

[2021-06-16 11:34] ProtoScott opened #3471 "AirPlay button visible on non-supported browsers"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom App

**If custom app, can you reproduce the

[2021-06-16 12:33] ssaguiar commented on #3467
"I also need to select resolutions. How can i do it? I can't find information about it."
Please?

Thanks.

[2021-06-16 15:51] michellezhuogg commented on #3471
Hello @ProtoScott ,

We should not see the Airplay button in Chrome. You may try the following code to check Airplay support for UI configuration:
[code]
Please let us know if that works. Thank you!

[2021-06-16 15:57] ProtoScott commented on #3471
Hello @michellezhuogg

I agree the AirPlay button should not be seen. The point I was trying to get across is that the shaka documentation states:

Reference: https://shaka-player-demo.appspot.com/docs/api/tutorial-ui-customization.html

Whilst the solution you provided may work I believe either the documentation should be update or the shaka code to reflect what the documentation says.

[2021-06-16 16:09] third774 commented on #3422
Glad to see great discussion on this! Is there currently a way to write a custom ABR manager that takes latency into account? I'm not sure how to capture latency since `segmentDownloaded` only accepts `deltaTimeMs` and `numBytes`. I may be overlooking something simple, but it would seem to depend on the `NetworkingEngine` providing this information?

[2021-06-16 20:23] #3354 closed

[2021-06-16 20:42] mseeley commented on #1030
Pulled `shaka-player` 3.1.0 into a new TS project today. It may be a peculiarity of our environment but, the only way I was able to have the generated typings active was to duplicate `shaka-player.compiled.d.ts` to our typings directory then add the following to the document:

[code]

Afterwards I copied `shaka-player.copiled.debug.d.ts` to our typings directory too then added the following:

[cod

[2021-06-17 00:36] #3453 closed

[2021-06-17 00:36] #3444 closed

[2021-06-17 10:05] KevinEady opened #3473 "Shaka 2.5.9 disable skip-forward on live HLS when given multiple new fragments?"
**What version of Shaka Player are you using?**
2.5.9

**Please ask your question**
In live HLS playback, we noticed that if the player is given **multiple** new fragments in the HLS sliding window (instead of seeing one new fragment every `<fragment duration>` seconds), we see the player ends up **skipping** to more recent fragments in the playlist. Is there a way to not have this behavior, such

[2021-06-17 14:31] clotairemarmignon opened #3474 "when the system language is something other than English the Shaka player attempts to load the English audio track as well as the system language audio track if it exists."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
YES

**Can you reproduce the issue with the latest code from `master`?**
YES

**Are you using the demo app or your own custom app?**
our own

**If custom app, can you reproduce the is

[2021-06-17 18:30] AradAral commented on #3466
Any ideas?!

[2021-06-18 09:55] theodab commented on #3471
This sounds like a bug to me. We hide the fullscreen button when that feature's not available, so I think that hiding the AirPlay button similarly makes sense.

[2021-06-18 10:55] zuzzurro commented on #2228
We are **extremely** interested in this functionality because of the traffic reduction it can bring with large DVR windows. Can you share what your plans are for adding support for it?

[2021-06-18 19:13] baseballbrad3 commented on #3474
This issue seems to be the same problem as I was going to report, so I'll post my message which might have some more details.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

3.1.1

**Can you reproduce the issue with our latest release version?**

Yes

**Can you reproduce the issue with the latest co

[2021-06-18 19:25] TheModMaker commented on #3473
Please provide a sample manifest URL (not just the text).  You can send it privately to <shaka-player-issues@google.com> if you prefer.  Also, does the content play on Safari?  Which browser are you using?

Also, 2.5.9 is fairly old, we just released 2.5.23 and 3.1.1 you should try instead.

[2021-06-18 19:32] TheModMaker commented on #2228
We have not started any work on this issue.  It is currently on the `Backlog`, so we have no plans to implement it for the next major release.  If this is a priority for someone, we'd be happy to review a PR for this.  Since this is a larger feature, you should post a design first (e.g. using a Google doc).

[2021-06-18 19:38] TheModMaker commented on #3468
We only use NPM packages for building and testing, not at runtime.  So long as it builds, everything is fine.  I think most of these are from other projects that we don't have any control over anyway.

[2021-06-18 19:50] TheModMaker commented on #3451
It looks like this is caused by f7cc2f94312a970f356e9a1a8f47b9ab2216cef6, the fix for #2987.  Since this was gated on autoplay, we should also check for `this.video_.autoplay` so we stay at 0 if we aren't playing.

[2021-06-18 19:53] #3471 closed

[2021-06-18 20:03] TheModMaker commented on #3464
I think you do `ui.getControls().getLocalization().changeLocale(['el'])`.  `ui` is either the `shaka.ui.Overlay` object you created, or you can get it using `video.ui` if using the DOM setup.

[2021-06-19 23:36] #3432 closed

[2021-06-20 09:45] meryacine opened #3475 "No audio in multi-period DASH."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
`v3.0.10-master-18-g1b1227f4-debug`

**Are you using the demo app or your own custom app?**
Custom

**What browser and OS are you using?**
Chrome on Ubuntu 18.04

**What did you do?**
Concatenated two single-period dash manifests into one 2-period manifes

[2021-06-21 12:40] KevinEady commented on #3473
Hi @TheModMaker . Thank you for your help. I have sent an email to the above address with manifest URL and a pre-recorded testing video. Let me know if any additional information is needed.

Thanks, Kevin

[2021-06-21 13:38] hattapoglu-trt opened #3478 "Excluding plugins causes build error in the UI files"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo App

**If custom app, can you reproduce the

[2021-06-21 15:20] zth commented on #3367
Can confirm this is also happening, and is pretty easy to reproduce (in the iOS simulator as well). It's a bit unfortunate because it's a blocker for us moving to Shaka on iOS, which we'd really like to do. Can we (outside of the Shaka team) do anything to help with this one?

Also, the workaround @CHaNGeTe mentioned about setting the playbackRate on seekend seems to work. Does that have any other

[2021-06-21 19:22] TheModMaker commented on #3467
To select audio language and still use ABR, use `player.selectAudioLanguage`.  To switch text track, use `player.selectTextTrack`.  To change resolution, you need to manually select a track with `player.selectVariantTrack`.  There is no way to select a resolution by value.  When using `player.selectVariantTrack`, make sure to disable ABR with `player.configure('abr.enabled', false)`.

[2021-06-21 19:29] TheModMaker commented on #3466
It is for simplicity.  It is difficult to track which segments we have downloaded and to adjust which segments we want to download.  For example, if we've downloaded segments 2-3, but seek back to 0, then we need to skip over those segments as we stream.  But, if they are a different resolution, we may want to upgrade them.  Also, different streams may not be aligned; so if we switched to a differ

[2021-06-21 22:13] joeyparrish commented on #3478
It is not currently possible to exclude ads from the UI, though you can exclude ads from a UI-less Shaka Player.  The UI is not yet as flexible as the rest of the library.

[2021-06-21 22:15] joeyparrish commented on #3463
@avelad has a PR for this that should be merged soon.  Thanks!

[2021-06-21 22:33] joeyparrish commented on #3367
I believe it's safe enough as a workaround, but I think this hints at a root cause, too.

We do a thing we probably shouldn't do, which is that we set playbackRate=0 when we detect that we're buffering.  This is a very old decision, and I'm nervous to reverse it without extensive testing on all supported platforms.

But you could try it for us on iOS and confirm if it helps.  If it does, this is g

[2021-06-21 22:46] joeyparrish commented on #3466
In addition to dealing with misaligned buffers, as @TheModMaker mentioned, it also dates back to a time when MediaSource implementations in browsers were less reliable than they are today.  It used to be that appending segments out of order or with minor overlaps could result in glitchy playback in desktop browsers.  I don't expect that this is true any more, but the decision was never revisited.

[2021-06-21 22:48] joeyparrish commented on #3467
You may also choose to use the convenience method `selectTextLanguage()` to select a text track by language.

[2021-06-21 22:57] #3384 closed

[2021-06-21 23:00] #3450 closed

[2021-06-21 23:09] joeyparrish commented on #3475
We can't add or remove SourceBuffers (switch from audio+video to video-only or vice-versa) during playback because we set up one continuous pipeline for playback across all periods.  In the current design of Shaka Player, this is a scenario we can't support.

This also seems fairly unrealistic for streaming media sites, so I'm not inclined to have the team spend time or energy on this scenario in

[2021-06-21 23:10] joeyparrish commented on #3475
I'm going to migrate this issue to the Streamer repo now and rename it as an enhancement to Streamer to handle this scenario differently.

[2021-06-22 04:50] joeyparrish commented on #3473
I believe this could have to do with the size of the seek window.  By default, this is zero for HLS live, which means that seeking is effectively disabled and playback always happens close to the live edge.  I'm guessing based on the symptoms, though I have not reproduced the issue myself yet.

Please try configuring the player with something like this before playback:

[code]

This sets how much

[2021-06-22 06:44] zth commented on #3367
@joeyparrish thank you for your reply! I'll do a fairly comprehensive testing with that change and get back to you with the results.

Coming to think of it, I'm fairly sure we used to have this bug in all platforms before moving our custom controls to the same approach as the Shaka UI (that is, committing the seek only after the user seek input has settled, making it one seek instead of many rapid

[2021-06-22 07:17] #3478 closed

[2021-06-22 10:10] theodab commented on #3474
I tried setting my iPhone's language to French and playing the multi-lingual track on our demo player, in Google Chrome, and it seemed to play without issue. I heard Picard talking in French, anyway.
When you say that it's loading the English track also, do you mean it's loading the English track and not using it? Or it's playing both audio tracks at once?

Either way, I don't think this is likely

[2021-06-22 10:30] iperzic commented on #3463
Awesome, thank you!

[2021-06-22 11:13] ssaguiar commented on #3467
Thanks for your kind help.

At this moment, I am doing this:

[code]
Using the above code, I can list the variant tracks as, for example:
[code]
But, the problem is the same:
How can I select the audio and also select one of the resolutions, as it's done in the shaka's player?

I can select what elements I want in DOM as

[code]
and, then:

` ui.configure(uiconfig);`

This will generate the overfl

[2021-06-22 11:57] zisiskol commented on #3464
Hi @TheModMaker

Thanks for the feedback.

I tried your proposals nevertheless it didn't work.

Below a part from my code:

[code]

[2021-06-22 13:35] avelad commented on #3393
@llooz The latest release has several changes related to this, it might be worth testing if it has been resolved.

[2021-06-22 13:36] avelad commented on #3383
@jennyzhua Can you copy the manifest here (text) so I can work on the fix?

[2021-06-22 13:40] avelad commented on #3243
I reproduced the same problem on some models of WebOS 3.5, but not all ...

[2021-06-22 14:39] #3473 closed

[2021-06-22 14:44] caridley commented on #3339
@joeyparrish we will submit a PR for this enhancement if you think it will be accepted

[2021-06-22 15:51] #3463 closed

[2021-06-22 16:40] TheModMaker commented on #3467
`player.getVariantTracks` returns all the tracks for every language.  You need to pick them by `track.language` in addition to the resolution.

[2021-06-22 16:45] ssaguiar commented on #3467
Ok, but what I need is the resolutions and audios separated, as in the images above.

[2021-06-22 17:01] joeyparrish commented on #3467
If you want to emulate the calls the UI makes, you can read the source to those UI elements:
 - [resolution_selection.js](https://github.com/google/shaka-player/blob/master/ui/resolution_selection.js)
 - [audio_language_selection.js](https://github.com/google/shaka-player/blob/master/ui/audio_language_selection.js)
 - [text_selection.js](https://github.com/google/shaka-player/blob/master/ui/text_s

[2021-06-22 17:03] ssaguiar commented on #3467
Ok, I will study them.
If this is the way you use to populate the above player selectors, I think this is what I need.
Thank you very much to show the path to follow.

[2021-06-22 17:11] joeyparrish commented on #3467
Happy to help!  Our UI only relies on exported methods of the Player, so you should be able to replicate any UI functionality you need.  And the UI source is all there under the same license as everything else.

Please feel free to open another issue if you need anything else.  Thanks!

[2021-06-22 17:11] #3467 closed

[2021-06-22 20:20] joeyparrish commented on #3339
Sounds good to me.  Please add a callback to the config under `manifest.dash.`, and we'll take a look.  The default (in `lib/util/player_configuration.js`) can be a no-op, but please take a look at the comments around `progressCallback` in that file, as there is a subtle issue to work around:

[code]

We use the default values in the config to do type-checking of incoming configs at runtime.  So w

[2021-06-22 21:45] joeyparrish commented on #3464
You're doing it correctly, but Greek is not one of the 18 locales built in at compile time.  These are your options:

1. Select localizations to add to the build at compile-time:
[code]

2. Load specific locale data at runtime (adjust the URL as needed):
[code]

3. Lazy-load any requested locale data at runtime (adjust the URL as needed):
[code]

4. Come up with a custom way to store and load tran

[2021-06-22 21:46] joeyparrish commented on #3464
(I've renamed this as a "docs" issue to put the above advice into a specific doc.)

[2021-06-22 21:46] joeyparrish commented on #3393
@llooz, can you please retest with v3.0.12 or v3.1.1?  This may be resolved now.

[2021-06-22 22:15] #3339 closed

[2021-06-22 22:56] #3125 closed

[2021-06-22 23:56] nanandn opened #3481 "WebkitMediaKeySession - MEDIA_KEYERR_DOMAIN"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Please ask your question**

Hi

I am implement the FPS KSM service. When I use the shaka player as the client to test my KSM. I get a key

[2021-06-23 05:44] avelad commented on #2179
@michellezhuogg This should be closed as it is included in the master branch, or is something missing?

[2021-06-23 05:46] avelad commented on #1391
@michellezhuogg Is the integration of this functionality already complete?

[2021-06-23 08:09] ap311036 commented on #3377
@clotairemarmignon Hi.
I have the same problem as yours.
Is that another way to resolve it?

[2021-06-23 08:27] zisiskol commented on #3464
This solve my problem now i can change the language. Also i agree that this should be a part of the documentation to help other developers to handle similar cases.

Thanks for your help.

[2021-06-23 11:43] #3468 closed

[2021-06-23 11:57] WINOFFRG commented on #3406
Looks like this is not the issue with **Chrome 91.0.4472.114 (Official Build) (64-bit) (cohort: Stable)** on Windows 10 OS. Checked today, The sample provided above doesn't have any video play/pause issue.

[2021-06-23 12:21] martinstark opened #3482 ""Infinite spinner" for live content (currentTime ouside of buffered start)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the issue with our latest release version?**
N/A

**Can you reproduce the issue with the latest code from `master`?**
Not tested (yet) due to time constraints

**Are you using the demo app or your own custom app?**
Both.

**If c

[2021-06-23 16:31] PoOw opened #3484 "Using web audio api on safari with shaka-player"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.10

**Please ask your question**
Hello ! I'm trying to use shaka player with WebAudio API but on safari.

I used the example given here : http

[2021-06-23 18:02] caridley commented on #3434
@joeyparrish  I have found that I am unable to set the value of mediaElement.currentTime in the `manifestparsed` or `streaming` event handlers with Safari (it works with Chrome, Firefox and Edge). The value just doesn't stick. Can you think of any other way set a start time after the manifest has been parsed?

[2021-06-23 18:06] joeyparrish commented on #3406
Confirmed fixed in ChromeOS 91 (`chrome:version` reports `91.0.4472.102 (Offizieller Build) (64-Bit)`)

[2021-06-23 18:07] #3406 closed

[2021-06-23 18:10] joeyparrish commented on #3464
Glad to hear that it helped!  I'm going to reopen this issue to track adding this information to the tutorials.

[2021-06-23 18:16] joeyparrish commented on #3484
Is the content protected by FairPlay, or is it clear content?

In the debug console, does `video.src` show an HLS URL (indicating Apple's native HLS playback) or a blob URL (indicating MediaSource-based playback)?

[2021-06-23 18:36] joeyparrish commented on #3434
That makes sense, because on Safari, Shaka Player is probably using Apple's native HLS for playback.  In this scenario, we don't get to parse the manifest or do any streaming ourselves.  With native HLS, we only control DRM licensing.

In this scenario, you may be able to use ready-state events from the video element.  For example:

[code]

Because `loadedmetadata` events fire for both kinds of pl

[2021-06-23 18:58] caridley commented on #3434
I ran into the Safari problem when creating an integration test using a DASH stream. The `manifestparsed` event is being fired but I am unable to set the `currentTime`. I can post a PR if that would be helpful.

I don't think we intend to use DASH on Safari, but I am concerned that this might be a problem for other webkit based environment.

[2021-06-23 19:06] joeyparrish commented on #3434
It's possible that WebKit requires you to wait for `loadedmetadata`, even for MediaSource.  Can you try using that event only, instead of `manifestparsed`?  That will fire when the first init segment is appended.

[2021-06-23 19:59] caridley commented on #3434
I'm not having much luck with updating mediaElement.currentTime in the `loadedmetadata` event (which is emitted by the MediaElement instead of Shaka Payer correct?)

On Chrome we end up still getting that segments that we do not need from the start of the stream.

On Safari my test blows in cancellation of fetch requests.

In my opinion this feature does not need to depend on the vagaries of the M

[2021-06-23 20:18] joeyparrish commented on #3434
Yes, that's correct.

I'm open to a new method for that, but there's more to it.

The trouble is that for src= playback on Safari and iOS, that ultimately **must** be implemented by choosing the right time/event to set `mediaElement.startTime`.  If we can't figure out the right timing for setting the value on WebKit, we can't implement it correctly either in the application _or_ in the library.

[2021-06-24 00:23] theodab commented on #3482
Reproduced. Thanks for the report, we'll look into it.

[2021-06-24 06:15] avelad commented on #3379
Bug introduced with https://github.com/google/shaka-player/commit/9c2315e69db3f855349db0e0e5e32a1aa5b9647c

[2021-06-24 07:03] avelad commented on #3379
@joeyparrish is there any way to prioritize this? For me this is blocking the integration of release 3.1. I've tried to fix the problem and do a PR, but I don't see any way to fix it without using FLEX, which is just what you removed in https://github.com/google/shaka-player/commit/9c2315e69db3f855349db0e0e5e32a1aa5b9647c.

[2021-06-24 08:18] PoOw commented on #3484
The content is protected by Fair Play, and the src shows a HLS url (https://XXXX.s3.eu-west-3.amazonaws.com/XXX/XXX.m3u8)

[2021-06-24 10:22] saringer opened #3486 "Bandwidth limitation not working for HLS/Safari"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom App

**If custom app, can you reproduce the

[2021-06-24 10:28] theodab commented on #3486
I see from your configuration that the `streaming.useNativeHlsOnSafari` configuration value is set to `true`. Because of that, Shaka Player will leave playing HLS content completely to the browser on Safari... and in that case, we can no longer apply bandwidth limits. You should try setting it to `false` instead; setting it to `true` is mostly useful for Fairplay support, I think.

[2021-06-24 10:52] saringer commented on #3486
When setting the value for `streaming.useNativeHlsOnSafaristreaming.useNativeHlsOnSafari` to `false` I'm receiving an error with code 4032 (CONTENT_UNSUPPORTED_BY_BROWSER).

We probably will have to implement Fairplay which will not work if `streaming.useNativeHlsOnSafaristreaming.useNativeHlsOnSafari` is set to false,if I am not mistaken?

[2021-06-24 14:47] joeyparrish commented on #3484
It's possible that either FairPlay or native HLS playback in Safari preclude the possibility of WebAudio.  We don't have visibility into this, since both FairPlay and native HLS are implemented privately by Apple.

The best I can offer is too suggest you open a bug on WebKit: https://bugs.webkit.org/

If you do, please link to it here and I will try to bring it to the attention of folks at Apple w

[2021-06-24 18:43] theodab commented on #3484
I tried that code out on Safari 14.1.1, and it wasn't working, even when native playback was disabled, and even for non-Fairplay assets. The context state was listed as `suspended` even when audio was actively playing. So it might be that there's just something wrong with Safari's implementation of AudioContext.

[2021-06-24 20:09] pedrosilvabos commented on #3430
hi again @theodab

The team has changed to contentType="text"
Shaka is able to detect the subtitle presence.
However nothing is shown, here is a sketch of the subtitle part of the manifest:

[code]

This seems so different from the regular text file based subtitles.
Using the shaka online demo, passing in the manifest url and the drm url
the captions seem to work, what leads to understand my imple

[2021-06-24 20:12] joeyparrish commented on #3379
I'll work on it now.

[2021-06-24 20:21] joeyparrish commented on #3379
Repro:

1. Download TTML subtitles from OP into 3379.ttml, in the shaka source root
2. Modify the timestamps, reducing by 1:21:56 so that the subs show quickly.
2. Open BBB in local Shaka Demo
3. Run in the debugger:

[code]

The div is placed correctly and has the correct size, but `vertical-align: bottom;` has no effect on the placement of the span within it.

[2021-06-24 20:32] joeyparrish commented on #3379
You're right, it's easily-solved with flexbox layout.  I haven't come up with an alternative yet.  I will see what breaks in our layout tests with flexbox and work backward.  Perhaps I can make the existing tests pass and avoid recreating bug #3013.

[2021-06-24 20:47] joeyparrish commented on #3430
selectTextTrack takes a track object, not an index.  Try using `selectTextTrack(availableSubtitles[0])` instead.

[2021-06-24 20:55] pedrosilvabos commented on #3430
Yes that made a lot of sense...
However to no avail...
this is the forma of the subtitle object
![image](https://user-images.githubusercontent.com/22446580/123331184-7bf81580-d52e-11eb-987d-a662bad56630.png)

[2021-06-24 22:47] joeyparrish commented on #2179
This work is complete, at least until the first bug reports come in.  :-)

[2021-06-24 22:47] #2179 closed

[2021-06-24 22:47] joeyparrish commented on #1391
This is complete, too.

[2021-06-24 22:47] #1391 closed

[2021-06-24 22:56] joeyparrish commented on #3379
Issues discovered while playing with `display: flex` on the div:

1. <br> elements directly inside the div take up as much vertical space as any other element.  Should be 0.  Workaround: wrap all children in another span, with background set to none.
2. Multiple span elements inside the div are layed out vertically instead of horizontally.  The same workaround (extra span wrapper) seems to fix thi

[2021-06-25 06:24] theodab commented on #3486
`CONTENT_UNSUPPORTED_BY_BROWSER` means that all of the streams within the manifest are unplayable... either because no streams meet the restrictions, or because we didn't get DRM keys for the streams. When you say that you got that error, was it with the assets you sent us, or a different one? I tried playing the manifest you provided in Safari, using MediaSource playback, and both of them seemed

[2021-06-25 06:30] avelad commented on #3002
@joeyparrish  / @michellezhuogg , I have seen that it is working in the master branch, shouldn't it be included in the 3.2 release? is it finished?

[2021-06-25 06:46] shanmugapriyak1788 opened #3487 "Upgrade guide for 3.1.*"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.12

**Please ask your question**
Can you please provide the upgrade guide to 3.1.*?
Are there any breaking API changes in it?

[2021-06-25 06:51] shanmugapriyak1788 opened #3488 "Decouple Shaka UI from Shaka Player"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**
Is it possible to decouple the shaka UI from shaka player? We are building HTML Controls UI library with shaka player UI. Since it is tightly coupled with shaka player, we are unable to bundle with our local player

**Describe the solut

[2021-06-25 09:08] PoOw commented on #3484
Thank you very much for your help !

I filed a bug on WebKit : https://bugs.webkit.org/show_bug.cgi?id=227388. I hope we can have some information this way.

[2021-06-25 09:09] PoOw commented on #3484
@theodab We tried to resume the context state when playing the video but unfortunately it did not work either...

[2021-06-25 12:40] hdodev opened #3490 "Use of usePersistentLicense and linked item "#1956 Persistence license for Live streams""
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes, not directly described.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes, linked to #1956 Persistent license w/ streaming content enhancement.

**What version of Shaka Player are you using?**
2.5.20

**Please ask your question**
I found "usePe

[2021-06-25 14:12] hiren3897 opened #3492 "Player setup failure"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v3.1.1

**Please ask your question**
Hello Team,

I am trying to set up my player by creating my own class for and trying to set up a player like f

[2021-06-25 14:24] hiren3897 commented on #3492
Fixed

[2021-06-25 15:03] hiren3897 opened #3493 "Creat own plugins and build it with shaka-player"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
v3.1.1

**Please ask your question**

Hello Team,

I am developing a generic player using shaka-player

where our client has a URL that gives us a

[2021-06-25 17:14] joeyparrish commented on #3493
This should be doable with a custom URL scheme plugin, and more could be done with a custom manifest parser plugin if needed.  We use these techniques in our integration tests to "stream" simulated content and manifests.

A scheme handler plugin receives a request object and produces an async response object.  These are objects defined by us, not the W3C Fetch API objects of the same name.

With t

[2021-06-25 17:17] joeyparrish commented on #3492
Can you tell others in the community what the problem was, in case they run into a similar issue some day and search the issues list for hints?

Were you using a non-UI build of Shaka Player perhaps (`shaka-player.compiled.js` as opposed to `shaka-player.ui.js`)?

[2021-06-25 17:21] joeyparrish commented on #3002
Yes, this is complete.

[2021-06-25 17:21] #3002 closed

[2021-06-25 17:27] joeyparrish commented on #3487
There are no breaking API changes in v3.1.  Since v3.0, we have kept strict semantic versioning, so there will be no breaking changes until v4.

We will keep this issue open to track reviewing and updating our upgrade docs to make this clear.  Thanks!

[2021-06-25 17:29] MilosRasic commented on #3487
TextDecoder polyfill needed for pre-Chromium Edge since 3.1.1 might be worth mentioning. Xbox is affected and if you are not calling `isBrowserSupported()` like we don't, it takes quite a bit of time to figure out what went wrong 🙂

[2021-06-25 22:47] hiren3897 commented on #3492
Hello @joeyparrish
Yes! you are right I was using shaka-player.compiled.js as opposed to shaka-player.ui.js

And currently, I am facing a problem in my code above that is when I call any method in a class in another method it gives me
Uncaught (in promise) TypeError: this.setUpHexaPlayer_ is not a function
at HTMLDocument._callee$ (hexaPlayer.js:107)
when I call this.setUpHexaPlayer_ in the init()

[2021-06-25 23:11] joeyparrish commented on #3492
This is a classic JavaScript pitfall.  It's because your event listeners:

[code]

are passing references to methods which will then be called without context of their objects.  For example:

[code]

It's a quirk of JavaScript, and a common gotcha.

The best workaround in modern JS using arrow functions to preserve context:

[code]

See also:
 - https://developer.mozilla.org/en-US/docs/Web/JavaScr

[2021-06-26 01:57] theodab commented on #3488
I don't think that making the player instance optional is the best approach for this. The UI needs to have some sort of coupling to work. Even if we refactored the UI so that the player could be null, a lot of elements would do nothing; the resolution selection wouldn't know what resolutions to display, the seek bar wouldn't know if the presentation is live or not, so on and so forth.

I think the

[2021-06-26 03:44] joeyparrish commented on #3488
Agreed.  This is an interesting idea, but not a priority for the team and may actually increase the burden of maintaining the library.  There has to be some interface between the UI and the Player, and there is no standard API for players as there is for the media element.  For _our_ UI, that interface is _our_ existing Player API.

I'm going to go so far as to label it "will not implement".  I ap

[2021-06-26 03:44] #3488 closed

[2021-06-26 14:30] hiren3897 commented on #3492
@joeyparrish Thank You so so much it really worked well :) I really appreciate it!!
very great explaination.
It fixed my problem :clinking_glasses:

[2021-06-26 14:30] #3492 closed

[2021-06-27 11:23] clotairemarmignon commented on #3474
The problem appears on Safari only, everything is working on Chrome.

What do you suggest in order to move forward?

Thank you,

[2021-06-28 08:35] saringer commented on #3486
Yes, I received the error with the provided assets, which are DRM free.

[2021-06-28 09:59] hiren3897 commented on #3493
Hello @joeyparrish

Thanks for giving such a great explanation. Yes, it helped me a lot in understanding the concepts.

After reading you correctly I have some doubts about it:

1) to create my own plugin there is no tutorial for it so I can follow [THIS](https://shaka-player-demo.appspot.com/docs/api/shaka.net.DataUriPlugin.html) example?

2) > This will create a custom build with all standard co

[2021-06-28 12:43] caridley commented on #3434
I would like to see this converted into an enhancement request. I have already submitted a PR to implement the change https://github.com/google/shaka-player/pull/3491

[2021-06-28 14:27] joeyparrish commented on #3493
Yes, that's a relatively simple example.  You should also read this tutorial about license server authentication: https://shaka-player-demo.appspot.com/docs/api/tutorial-license-server-auth.html and specifically the part about making new requests through NetworkingEngine.  Search for `authRequest` in that tutorial, and you'll see an example of an async request.  You can use the same technique for

[2021-06-28 14:30] joeyparrish commented on #3474
You _did_ mention Chrome in your report:

If it only fails in Safari, you should have been more clear.  @theodab, can you please try in iOS Safari?  I don't believe any of the rest of us have iOS at home.

[2021-06-28 14:43] baseballbrad3 commented on #3474
If I were to guess, the "arm64" version of Chrome is the iOS version, which is essentially Safari under the hood. Perhaps the Chrome that works was a desktop version?

Also, I'd like to reiterate that when I've observed the issue, it was with FairPlay content. I couldn't reproduce this with non-DRM content.

[2021-06-28 15:01] avelad commented on #3379
@joeyparrish , have you found any solutions for the problems you have encountered?

[2021-06-28 17:19] TheModMaker commented on #3490
The feature in #1956 is not done yet, so you can't get persistent licenses for streaming situations.  You can follow that issue for updates for that feature.  The `usePersistentLicense` configuration is for whether to store the license when storing offline content (see [docs](https://shaka-player-demo.appspot.com/docs/api/shaka.extern.html#.OfflineConfiguration)).  If that is `false`, we won't dow

[2021-06-28 17:24] TheModMaker commented on #3486
I see an `.aac` file, which we don't support yet (see #2615).  So you either need to get content with TS or MP4 audio, or play using native playback.

[2021-06-28 17:29] TheModMaker commented on #3469
Adding tracks is to side-load external text tracks for situations when you don't control the manifest and want to add external text tracks.  Removing tracks is a bit more complex than adding, and there isn't really a use case for it.  You can just hide those tracks from the UI if you don't want them selected.  If the track isn't selected, it won't have any affect.

If the track was initially loade

[2021-06-28 17:47] TheModMaker commented on #3382
@OrenMe have you had a chance to test?  Could you also try with the latest version of the EME polyfill?

[2021-06-28 17:51] TheModMaker commented on #3410
Closing due to inactivity, and I cannot reproduce either.  If this is still an issue for you, please open a new issue with the bug template and fill it out completely.

[2021-06-28 17:51] #3410 closed

[2021-06-28 17:53] TheModMaker commented on #3417
Closing as a duplicate of #3393.

[2021-06-28 17:53] #3417 closed

[2021-06-28 20:41] joeyparrish commented on #3379
Potentially.  See my earlier workaround comment, which I'm trying to turn into a concrete solution:

[2021-06-29 07:37] hiren3897 commented on #3493
Thank you so much for your time and response :+1:

I will do the work and let you know if I have any problems further in the development.

Have a good day :100:

[2021-06-29 07:54] saringer commented on #3486
I see, thank you :)

[2021-06-29 07:54] #3486 closed

[2021-06-29 10:14] theodab commented on #3474
Ok, I tried this in iOS Safari too, and I did not notice any outwardly anomalous behavior there either. French audio was playing, as expected. I did not see any errors, either.
When I used the Safari Web Inspector to view the downloads, I did see that we load the English audio manifest and init segment, but we load no actual English audio data. Is that what you meant?
I am not 100% sure, but I thi

[2021-06-29 11:59] dkvovik opened #3495 "Incorrect icon Play after video ends and rewind"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://storage.googleapis.com/shaka-demo-assets/bbb-dark-truths-hls/hls.m3u8;panel=HOME;build=uncompiled

**What version of Shaka Player are you using?**
v3.1.1-unc

[2021-06-29 14:36] joeyparrish commented on #3493
Happy to help!

[2021-06-29 14:38] bcupac opened #3496 "Tizen 3 - PlayReady - fractals, green screen after pre-roll ad ends and content begins."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes
**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reproduce the iss

[2021-06-29 15:55] abdevnet commented on #3474
I'm working on a sample I can upload where you can see the issue.  I'll post it later.  I have a sample where the same content fails in Safari. but works in a html 5 video tag with just javascript.  both use fairplay.

[2021-06-29 16:32] OrenMe commented on #3376
We at Kaltura are facing same issue now and seems like this is the correct fix.

According to spec
https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf
section :  3.10.2.2.2. MPD Information and  4.6.4. Transition Phase between Live and On-Demand the correct order of timing info should be first mediaPresentationDuration tag and only after that the period duration.

[2021-06-29 19:36] abdevnet commented on #3474
[Archive.zip](https://github.com/google/shaka-player/files/6735942/Archive.zip)
I've attached my sample.  You will need to host in a simple web server.  The index.html page uses Shaka and it consistently gives me a 3016 error when my system language is set to French.  The index2.html page just uses a video tag with raw javascript and it works for me when my language is French.  The video is Tears

[2021-06-29 22:06] #3393 closed

[2021-06-30 08:07] Maximusya commented on #2505
+1 for
- [Preload API #880](https://github.com/google/shaka-player/issues/880)
- [persistent license renewal #1347](https://github.com/google/shaka-player/issues/1347)

[2021-06-30 10:28] dimitry-unified-streaming opened #3498 "Support for negative initial timestamps"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
v3.1.1 (debug)

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Unknown, I assume v3.1.1 (debug) is master?

**Are you using the demo app or your own custom app?**

[2021-06-30 10:31] dimitry-unified-streaming commented on #3498
Note that I saw some similarities with #3189 ("DASH VOD manifest with large offset at the start can't be played", still open) and #3451 ("Don't jump over the gap at the beginning before the video is played so that the video poster doesn't disappear", closed), but these are (I think) subtly different issues.

[2021-06-30 12:47] hiren3897 commented on #3493
Hello @joeyparrish

I have a doubt while creating a plugin.

after I pass a JSON URL in `player.load(hiren:http/path./to/json)` it will fetch everything and do things to get the manifest URL and the DRM license. once I have a response object that includes `Manifest URL` and `DRM license URL.

Doubts
- how I have to configure the response so it should play the contents in the player?
-  is it manda

[2021-06-30 13:15] kumarashu123 opened #3499 "Text segment request get cancelled and never recovers On multiple seek"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
No

**Are you using the demo app or your own custom app?**
Custom app

**If custom app, can you reproduce the

[2021-06-30 13:49] avelad commented on #3499
Resolved with https://github.com/google/shaka-player/pull/3476 and duplicated of https://github.com/google/shaka-player/issues/3463

[2021-06-30 15:00] OrenMe commented on #3376
thanks for the quick turn around and thanks @sky-hugolima for opening this :-)

[2021-06-30 15:50] baseballbrad3 commented on #3474
@theodab, yeah, I'm pretty certain my issue is the same as the original post. The company I work for is providing the content to @clotairemarmignon, which is FairPlay protected. @abdevnet has a sample of this content in the previous comment.

[2021-06-30 20:25] kumarashu123 commented on #3499
@avelad thanks! for the quick reply, sorry missed to check same issue is open. Please close this ticket

[2021-06-30 20:28] #3499 closed

[2021-06-30 20:50] TheModMaker commented on #3498
What I think is happening is the first video segment is being skipped.  Because the timestamp is 86400000, but the `presentationTimeOffset` is 86403416, so the first timestamp is negative.  The browser will evict frames up to the next key frame, so this may evict up to the next segment, which results in the gap.

If you adjust the `presentationTimeOffset` backward slightly so both audio and video

[2021-07-01 08:16] DimitryAndric commented on #3498
The timing model now requires that `presentationTimeOffset` be set to the beginning of the part of the presentation where both audio and video are available, which is why we set it like this. Otherwise, the beginning of the presentation would have only video, and no audio. To compensate, we also add an `eptDelta` attribute, as specified in MPEG DASH Amendment 5:

It seems that neither Shaka nor DA

[2021-07-01 09:32] llooz commented on #3393
@joeyparrish @avelad  I've tested again with the same live content on the demo app with v3.1.1.
When I click on the negative offset it buffers until the offset reaches -0:05 and then plays without stalling forever, so it seems that this issue has been resolved 🥳

[2021-07-01 14:32] bcupac commented on #3496
This warning triggers:
"Ancestor MP4 box found in the wrong location!  Modified init segment will not make sense!"

[2021-07-02 05:41] kumarashu123 opened #3500 "During resume playback video goes into buffering state and never plays"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**

**Are you using the demo app or your own custom app?**
Custom App

**If custom app, can you reproduce the iss

[2021-07-02 09:36] kumarashu123 opened #3501 "On resume playback or start playback multiple video segments is getting cancelled"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
No

**What version of Shaka Player are you using?**
3.1.1

**Please ask your question**
I observed multiple video segments (identical) request are getting canceled and due to this i observed there is

[2021-07-02 10:25] wongfei2009 opened #3502 "DASH output with CEA-608/708 suffers from decoding error (hardware acceleration enabled)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes.

**What version of Shaka Player are you using?**

v3.1.1.

**Can you reproduce the issue with our latest release version?**

Yes.

**Can you reproduce the issue with the latest code from `master`?**

Yes.

**Are you using the demo app or your own custom app?**

Demo app.

**If custom app, can you repr

[2021-07-02 10:34] wongfei2009 commented on #3502
The bug seems to be in sei_processor.js, which should not call removeEmu_  to modify the input buffer directly. Because the modified buffer with H264 emulation start sequence removed will not compliant to H264 syntax. That causes decoding error to hardware decoder (software decoder can tolerate it).

[2021-07-02 11:45] dimitry-unified-streaming commented on #3498
FWIW that works, obviously (see [this link](https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;jumpLargeGaps;uilang=en-US;asset=https://live.unified-streaming.com/shaka-issue-8845/nodrm.ism/.mpd?vbegin=346&vend=1668;panel=CUSTOM%20CONTENT;build=uncompiled)), and it displays `Jumping forward 1.907336 seconds because of gap before start time of 1.907336` in the log. (But *onl

[2021-07-02 16:57] zth commented on #3367
@joeyparrish i haven't been able to run an own build of Shaka with the change, but we've been running the workaround setting playback rate via an event listener successfully in prod for a while now and it seems to work well.

[2021-07-02 20:16] TheModMaker commented on #3502
Can you provide a sample manifest URL?  It works fine for me with the CEA asset on our demo page.

[2021-07-02 20:23] TheModMaker commented on #3500
What do you mean by "resume"?  Are you talking about setting the initial start time in `player.load`?  When this happens, what is the value is `video.currentTime` and `player.getBufferedInfo()`.

[2021-07-02 22:07] kocoten1992 commented on #3469
Thanks you! My use case are a bit odd, I'm live editing subtitle online.

First thought is edit on specific cue on specific subtitle, but I quickly realize it will not work - we don't expose any api related to internal subtitle cue for live editing.

Second thought is to edit a whole subtitle and using `addTextTrackAsync`, this will work, but without ability to remove old one, old subtitle will pi

[2021-07-02 22:07] #3469 closed

[2021-07-03 09:34] bhushanudupa opened #3503 "message: "Shaka Error DRM.LICENSE_RESPONSE_REJECTED()"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
YES

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Actually this is a duplicate of issue #482
Since that couldn't help me fix the issue, I'm creating another issue.
**What version of Shaka Player are you using?**
3.0.10

**Please ask your question**

[2021-07-04 19:31] systemxcom opened #3504 "Streaming with Client Side Ads Insertion getAdManager();"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**

YES

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

YES

**What version of Shaka Player are you using?**
3.1.1

**Please ask your question**

I am trying to implement "Streaming with Client Side Ads Insertion".  However, I am not able to implement i

[2021-07-05 06:27] kailash-byjus opened #3505 "rangeError: Malformed FairPlay init data ( only iphone devices both chrome & safari ( Working fine in macOS safari)"
Hi Everyone,

I'm facing "Malformed FairPlay init data" (Error Code: 6016) On iPhone device only

**The player is working fine in chrome, Mozilla, firefox, edge on windows & macOS**

Shaka Player version  : **"2.5.10"**,

**On iPhone device (chrome & safari) the video is loading fine but it's not playing it's in the pause state**

Safari version on mac OS is **Version 14.0.3 (16610.4.3.1.7)**

 Pl

[2021-07-05 06:30] kailash-byjus commented on #3505
@TheModMaker @joeyparrish
@shaka-bot
Can I get any help here on this error?

[2021-07-05 06:56] hiren3897 commented on #3493
Hello @joeyparrish Can you please clear my doubts about the plugin. when you get your free time. thank you so much.

Have a nice day

[2021-07-05 14:38] shanmugapriyak1788 opened #3506 "Fairplay Encrypted audio video content with SSAI stalls in Catalina safari"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.12

**Please ask your question**
When I try to play Fairplay (Multiple encrypted video + encrypted audio) SSAI content, it stalls on Catalina

[2021-07-05 14:47] hiren3897 opened #3507 "Creating own Plugins in shaka-player"
Hello @joeyparrish Can you please clear my doubts about the plugin. when you get your free time. thank you so much.

Have a nice day

_Originally posted by @hiren3897 in https://github.com/google/shaka-player/issues/3493#issuecomment-873854166_

[2021-07-05 14:57] shanmugapriyak1788 commented on #3506
[https://csm-e-ceprausw1live101-0687ac39c292603bb.bln1.yospace.com/csm/builder/353196412,353196417,353196423,353196433,353196440,proxy.1.m3u8?yo.p.si=csm-e-ceprausw1live101-0687ac39c292603bb-60-1625496602878&yo.p.ci=350799634&yo.p.fn=aHR0cHM6Ly91c3Atb3JpZ2luLnNib3guanRwLXJzbS5maXJzdGxpZ2h0LmFpL2NvbnRlbnQvcHViY29udGVudC92b2wvODU3MDYzMDktMkEzMy00RjJGLTk1MkQtOUE5NjY0QTczNDM0LzE2MTU1NzU5NTE4NTMtb3V0cH

[2021-07-05 14:59] shanmugapriyak1788 commented on #3506
`#EXTM3U
#CSM
#EXT-X-YOSPACE-ANALYTICS-URL:"https://csm-e-ceprausw1live101-0687ac39c292603bb.bln1.yospace.com/csm/analytics?yo.av=3"
#EXT-X-VERSION:6
#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="audio-aacl-128",LANGUAGE="en",NAME="English",DEFAULT=YES,AUTOSELECT=YES,CHANNELS="2",URI="https://csm-e-ceprausw1live101-0687ac39c292603bb.bln1.yospace.com/csm/builder/353196412,353196417,353196423,353196433,35319644

[2021-07-05 15:00] shanmugapriyak1788 commented on #3506
Master M3U8 file for your reference
[code]

[2021-07-05 18:04] bcupac commented on #3496
When comparing a regular encrypted initSegment and the fake encrypted initSegment, there is a difference in structure.

fake encrypted stsd box contains avc1 and encv boxes, whereas the regular one has only the encv box.

![fakeEncrypted](https://user-images.githubusercontent.com/7647317/124506563-2fcd9080-ddcc-11eb-820b-58994d06794d.png)
![encrypted](https://user-images.githubusercontent.com/7647

[2021-07-05 18:06] #3382 closed

[2021-07-06 04:42] kumarashu123 commented on #3500
@TheModMaker In the shaka-player master i don't see the issue. In shaka-playerv3.1.1 when i took  #3384 PR issue is not reproducible.

I have a question related to playback time taken by player. was using the shaka-playerv2.5.10 when i updated to shaka-playerv3.1.1 I see playback time has increased.

I am using below streaming config, am i missing any config?

       streaming: {

[2021-07-06 04:44] kumarashu123 commented on #3501
@TheModMaker Can you please clarify above question, why same segments are getting cancelled when i do playback?
Thanks!

[2021-07-06 10:45] bmaniar commented on #3501
I am also facing a similar kind of issue after updating to v3.1.1. Adding to the issue the player stops playing and gets stuck in the loading state and starts loading segments from the start.

If you require any more details please let me know.

[2021-07-06 11:06] kumarashu123 commented on #3501
@bmaniar so its bug in the v3.1.1, sometimes I see resume playback is working but takes more time to play.
For playback I see there is performance issue in v3.1.1.

[2021-07-06 11:31] bmaniar commented on #3501
Here we are getting a warning stating that failed to move the playhead to the current time and after this player is stuck in the loading state.

To change the duration of the video we set the current time on the video element once the player loads, is this the correct way to do it? @joeyparrish @TheModMaker

![image (7)](https://user-images.githubusercontent.com/10173856/124592667-526ab280-de7b-11

[2021-07-06 11:44] jeev1989 opened #3508 "Delay observed in start of playback"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reproduce the iss

[2021-07-06 12:55] hiren3897 commented on #3493
```This will get you a DASH manifest parsed in a standard way. If you want to configure the player, for example, with a license server URI from the JSON you fetched, you can do this from your scheme plugin if it captures your player object.```

I exactly want to do this to configure the player with the DRM license server to be able to play the contents.

Can you tell me how using the scheme plugin

[2021-07-06 14:48] FireMasterK opened #3509 "Error 3016 on iOS 14.6 but not on iPad OS 14.6"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Not tried, but it's been an issue for months. I can try if requested.

**Are you using the demo app or your ow

[2021-07-06 17:47] caridley opened #3510 "Player.getVariantTracks() has no active tracks after period is added to a live stream"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
The problem occurs with versions 3.0.12, 3.1.1 and master branch as of 7/6/2021
The problem does not occur with version 2.5.22

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `

[2021-07-06 17:56] dpaou commented on #2179
Video / Audio codec preference as shaka configuration setting is documented? Cannot finding anything related to this one.

[2021-07-07 03:01] wongfei2009 commented on #3502
It is because your CEA asset in demo page doesn't actually have any H264 emulation bytes to remove :) i.e. removeEmu_(naluData) always return 0 in your demo asset. I have an asset can hit the issue in 100% manner, but I don't have the content right to share. How can I share the URL with you in private?

[2021-07-07 13:13] hiren3897 commented on #3493
Hello @joeyparrish
I hope you are well and good :)

I have created the plugin and it returns `shaka.extern.Response` but I get an error in the console saying

![shakaError](https://user-images.githubusercontent.com/59652404/124764178-f9f7eb80-df34-11eb-9054-5d67d0f23981.png)

My parse method code

[code]
1) what I have to do to pass the manifest to the player.load() so it is able to play the manif

[2021-07-07 13:14] paulJordaan opened #3511 "player.getThumbnails incorrectly calculates the Y position"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1 and master branch 3.2.0-pre

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom app

**If custo

[2021-07-07 15:10] BucherTomas commented on #3509
There are two factors at play here:

1. There's a difference between iOS and iPadOS. Recent iPadOS versions added so-called Media Source Extensions API (MSE) support for Safari, but IOS still doesn't have it. MSE allows the player to process the stream and feed the browser with data essentially from any streaming protocol as long as codecs within the streams are supported by the browser and the pl

[2021-07-07 15:58] FireMasterK commented on #3509
Very interesting, thank you!

I now understand that the culprit is iOS not supporting MSE.

[2021-07-07 15:58] #3509 closed

[2021-07-07 18:00] meryacine commented on #1308
@joeyparrish @michellezhuogg
popping this issue back up.

[2021-07-07 18:57] agliga opened #3512 "Replay button does not have correct aria-label"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Yes

**If custom app, can you reproduce the issue

[2021-07-07 19:41] theodab commented on #3378
With Alvaro's PR (#3489) merged, the only ARIA property we are assigning with `setAttribute` is now `aria-describedby`, which is set in the demo. Sadly, that attribute does not have a variable equivalent in the `ARIAMixin` interface mixin, so we can't replace it.
So this is as good as we are going to get, I think.

[2021-07-07 19:41] #3378 closed

[2021-07-07 23:25] joeyparrish commented on #3502
Anything you share with shaka-player-issues@google.com will not be shared outside the team.  Please reference the issue number in your email to make it easy to find, and then reply here so we know to look for it.  Thanks!

[2021-07-08 12:35] hdodev commented on #3490
Hello, yes thanks for feedback. OK we'll follow the item.

[2021-07-08 18:02] #3490 closed

[2021-07-08 18:12] joeyparrish commented on #3379
I'm resuming work on this today.  Sorry for the delays.

[2021-07-08 20:58] #3487 closed

[2021-07-08 21:07] bcupac commented on #3496
Removing the avc1 box on the fake encrypted segment blocks playback, and probably because now it doesen't have the means to decrypt the segment because encv box is fake.

One other thing is that pssh boxes are missing from the fake encrypted segment. Not sure if it matters...

[2021-07-08 22:08] joeyparrish commented on #3379
I have it working now, plus regression tests, and the change is in review.  Thanks for your patience!

[2021-07-08 22:17] #3512 closed

[2021-07-08 22:21] joeyparrish commented on #3511
We would be happy to review your PR.  Thanks!

[2021-07-08 22:26] joeyparrish commented on #3511
@avelad, I believe you wrote that thumbnail code, and I have not spent time with those standards.  Does the description here sound correct to you?

If so, I think instead of this:

[code]

It should be this:

[code]

@avelad, @paulJordaan, do we all agree?

[2021-07-09 02:21] #3376 closed

[2021-07-09 04:36] joeyparrish commented on #3383
@jennyzhua, we have the content URL you shared privately, and I am working on this issue now.  The issue seems to be particular to having two different resolutions of images per period.  You _may_ be able to work around it by removing one on the backend or at runtime by manipulating the manifest in the client.  I hope to have a solution soon, though.

Thanks for your patience!

[2021-07-09 05:56] avelad commented on #3511
@joeyparrish @paulJordaan
I have created the PR: https://github.com/google/shaka-player/pull/3514

You are right, the logic of the Y calculation was wrong.

[2021-07-09 09:48] avelad opened #3517 "The last image in the thumbnails is not always correct"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 3.1.1

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Both

**If custom app, can you reproduce the issue

[2021-07-09 09:52] avelad commented on #3517
@paulJordaan do you have the same issue?

[2021-07-09 10:18] paulJordaan commented on #3517
Personally, I have only tested with the following testing assets and I think they had full image matrixes present so I did not run into this edge case.

- https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-tiled-thumbnails-timeline.ism/.mpd
- https://dash.akamaized.net/akamai/bbb_30fps/bbb_with_multiple_tiled_thumbnails.mpd

If you could share the manifest you are using in this

[2021-07-09 10:24] avelad commented on #3517
@paulJordaan I can share privately. Do you have an email to send it to?

[2021-07-09 10:41] paulJordaan commented on #3517
Great, you can send to pdjordaan@gmail.com

[2021-07-09 10:45] avelad commented on #3517
Done!

[2021-07-09 17:20] #3379 closed

[2021-07-09 18:46] joeyparrish commented on #3502
@wongfei2009, without content to test, we won't be able to work on this issue right now.  Although this is a high priority issue, I'm going to have to bump this to the v3.3 milestone.  Please let us know when you can share the content privately, so that we can verify the fix and create a regression test.  Thanks!

[2021-07-09 18:47] joeyparrish commented on #3383
I have a fix working now in manual testing, and regression tests to cover this case as well.  The changes are in review now, and will be in our next release.

[2021-07-09 21:37] #3511 closed

[2021-07-10 00:20] #3448 closed

[2021-07-10 09:46] #3495 closed

[2021-07-11 10:56] fingerartur opened #3518 "During MP4 playback unwanted 'seeking' and 'seeked' events are triggered right after the video has been loaded"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the issue with our latest release version?**
yes 3.1.1

**Can you reproduce the issue with the latest code from `master`?**
yes 3.2.0-pre (Also I would suggest adding a build script to package.json)

**Are you using the demo app

[2021-07-12 15:38] Karmel0x commented on #3009
Probably it's bad solution but it's fixing the problem using this trick:

At https://github.com/google/shaka-player/blob/master/lib/text/ttml_text_parser.js#L87 insert this piece of code:
[code]

[2021-07-12 16:56] avelad commented on #3383
@joeyparrish After closing this issue, will you release the version 3.2? What day?

[2021-07-12 17:17] meryacine opened #3519 "HLS fails with audio-only content although one of the provided codecs is supported."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
The latest.

**What browser and OS are you using?**
Firefox on Ubuntu 18.04

**What did you do?**

Packaged and audio only content using Shaka Packager into 3 different codecs `opus,ac3,aac`.
got this manifest out:
[code]

**What did you expect to happen?

[2021-07-12 20:46] #3383 closed

[2021-07-12 21:34] joeyparrish commented on #3518
We don't control the dispatch of video element events.  We do, however, do things that may trigger certain events.

Timeupdate events are entirely outside of our control.

Seeking is possibly initiated by us.  When you play the mp4, do you use the `startTime` parameter to `player.load()`?  If so, we would be forced to seek to honor that request.  Can you show us how you call `load()`?

[2021-07-12 21:43] joeyparrish commented on #3506
I don't know why this would be happening.

If you think this is related to ignoring duplicate init data, have you tried commenting out the code responsible for that in drm_engine.js (which you linked to above)?

[2021-07-12 22:25] joeyparrish commented on #3009
It seems that the root cause is your TTML using a different namespace URI than what we are expecting.  Can you give us any context on that?

If you load the namespace URIs in your browser, you'll see the following:

https://www.w3.org/ns/ttml/

https://www.w3.org/2006/10/ttaf1/

Is TTAF a predecessor to TTML?

[2021-07-12 22:31] joeyparrish commented on #3474
We will try to repro with the content you sent.  Thanks.

[2021-07-12 22:34] joeyparrish commented on #3383
I'm working on cherry-picks for the releases now.  v3.2.0 and v3.1.2 at least, and v3.0.13 and v2.5.24 if necessary.

[2021-07-13 02:49] downtorak opened #3520 "[HLS] Allow both audio and video groups"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Please ask your question**
To cover multiple track case in HLS, I generated a master playlist that includes `GROUP-ID`.
I referenced belo

[2021-07-13 06:57] hiren3897 commented on #3493
Hello @joeyparrish
Can you please comment on this?

Thank you!!

[2021-07-13 07:36] Karmel0x commented on #3009
You can check provided links with demo or subtitles.
It's ttaf1

[2021-07-13 11:12] hiren3897 commented on #3507
Hello @joeyparrish can you please comment on my doubts in #3493 questions, please!!

Thank you so much :)

[2021-07-13 11:12] #3507 closed

[2021-07-13 13:07] avelad commented on #3517
@joeyparrish can you help us with it?

[2021-07-13 13:26] david-hm-morgan opened #3521 "XML text subtitles (bg)color not applied to doubly nested cues"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.1.1

**Can you reproduce the issue with our latest release version?**
Yes
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://livesim.dashif.org/dash/vod/testpic_2s/xml_subs.mpd;panel=CUSTOM%20CONTENT;b

[2021-07-13 16:42] TheModMaker commented on #3493
You can't use `async` with the `parse` method; it needs to return an `AbortableOperation`, not a `Promise`.  You have two options:

You can use a separate `parseImpl` method if you don't care about it being abortable:

[code]

Or you can do it correctly using `chain`.  You have to use old-style Promise chains with `AbortableOperation`:

[code]

To handle setting the license server, you can just ca

[2021-07-13 17:37] joeyparrish commented on #3517
Here's what I'm seeing with the content @avelad sent:

1. The content duration (mediaPresentationDuration in the MPD) is 1460.
2. The image stream has duration 1000000, timescale 1000, meaning 1000s segments.
3. There are therefore only 2 segments, the second of which is full of blank space not used for thumbnails.
4. Calling player.getThumbnails(/* id */ 6, /* time */ 0) gives me the first segmen

[2021-07-13 17:48] joeyparrish commented on #3517
Ah, now I see it's not quite as trivial as I thought.  There's an edge case, which is that the segment duration of the last segment is clipped to the media duration.  This results in a calculated thumb duration of 4.6 seconds instead of 10, since the last segment is clipped to 460 seconds to match the end of the presentation.

[2021-07-13 18:05] joeyparrish commented on #3517
This might get fixed today, or maybe tomorrow.  Since the thumbnail feature is broken without this fix, I'll hold v3.2 for another day to make sure this is in.

[2021-07-13 18:10] avelad commented on #3517
It's really only broken when you don't use a 1x1 matrix. When I did the initial implementation, my streams used 1x1, and the Demo ones don't have this case.

Note: I agree with you that putting it in 3.2 would help me avoid workarounds.

Thanks @joeyparrish !

[2021-07-13 18:13] avelad commented on #3048
@ismena I think this error produces: https://github.com/google/shaka-player/issues/3431 and https://github.com/google/shaka-player/issues/3510

[2021-07-13 23:36] joeyparrish commented on #3517
I have a fix in review.  Thanks!

[2021-07-13 23:40] hiren3897 commented on #3493
Hello @TheModMaker and @joeyparrish
Many many thanks for your response

I tried using the second approach with `chain` but it still gave me the same error with `code:4000`.
![shakaError](https://user-images.githubusercontent.com/59652404/125538153-1f7406a0-2b9d-471b-bbe8-f9020a0dd414.png)
[code]
AND
for configuring the DRM license I have to make a callback at the time when I get my final manifest

[2021-07-14 00:08] TheModMaker commented on #3493
4000 is [UNABLE_TO_GUESS_MANIFEST_TYPE](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:4000).  The problem is we need to know ahead of time which parser to use (DASH or HLS).  We can use a HEAD request to the plugin, but that's complicated.  If you always use one, you can just pass the type to load.

[code]

To get the `player` object, you can just capture it when you r

[2021-07-14 01:21] derekdowling opened #3523 "Hook / Plugin Access HLS Playlist Custom Tags"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes.

**Is your feature request related to a problem? Please describe.**

The HLS video backend that I am looking to use with Shaka encodes server side ad insertion metadata into HLS playlist files using [EXT-X-DATERANGE](https://datatracker.ietf.org/doc/html/rfc8216#section-4.3.2.7) tags. This metadata is

[2021-07-14 01:22] derekdowling commented on #1983
I have filed an issue with a similar use case in mind: https://github.com/google/shaka-player/issues/3523.

[2021-07-14 05:54] fingerartur commented on #3518
Thank you, you hit the nail on the head, I'm calling load with position 0 `await this.shakaPlayer.load(uri, position)`, which as I now understand forces shaka to seek.

This makes sense, we can close this issue.

I guess I was just confused by the fact that loading HLS and DASH sources in the same way behaved differently and did not trigger seek, however I guess that may be related to how HLS and

[2021-07-14 08:29] shanmugapriyak1788 commented on #3506
Yes. I. have tried it as well. I still see the same behaviour

[2021-07-14 11:15] david-hm-morgan opened #3524 "Subtitle cues nested within a parent cue with infinite time range always displayed regardless of child time ranges"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reproduce the issu

[2021-07-14 11:56] OrenMe opened #3526 "Account for safeSeekOffset in seekRange()"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
latest and 3.0.10

**Please ask your question**
I'm trying to seek to beginning of a live stream for a start over scenario where a current show ha

[2021-07-14 13:13] lundibundi opened #3528 "Support `urn:mpeg:dash:event:callback:2015` Event schema"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.1.1 locally with `https://cdnjs.cloudflare.com/ajax/libs/shaka-player/3.1.1/shaka-player.compiled.debug.min.js`

**Please ask your question**
I

[2021-07-14 15:38] #3517 closed

[2021-07-14 16:02] hiren3897 commented on #3493
Hello @TheModMaker
Thanks for the great guidelines.

when I tried to pass a type to the load it gave me 6012 => `NO_LICENSE_SERVER_GIVEN` which means that I have to configure a license server to load the manifest correctly. Am I right?

And regarding the player object as it should be captured at the time of registering the plugin.

but `const player = ...;` I am confused with this line. what will

[2021-07-14 20:33] gscragg opened #3529 "RESTRICTIONS_CANNOT_BE_MET error for multiple periods using different DRM keys"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes, there exists [this closed issue](https://github.com/google/shaka-player/issues/2503), where bad content was blamed. Perhaps we have the same problem, but our content is all generated in house and not an external ad service.

**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the

[2021-07-15 06:08] avelad opened #3530 "FairPlay playback broken in 3.2"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 3.2

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Both

**If custom app, can you reproduce the issue u

[2021-07-15 06:50] avelad commented on #3530
@joeyparrish @michellezhuogg @theodab
Note: it is a regression in 3.2

[2021-07-15 10:54] hiren3897 opened #3532 "Possibility of passing extra argument while creating UI custom buttons"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
YES

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
v3.2

**Please ask your question**
I am creating new features in my player using customized shaka UI.

My every feature is developed in each separ

[2021-07-15 18:45] gordon-y-lai opened #3533 "Interface for request tracing"
In our use case it is important to be able to collect some key information regarding the player's network requests (for example, the download request for a media segment). In particular, we would like to measure the start time, header arrival time, completion time, and the response status code for each request individually.

For now we are able to achieve the goals above by registering our own net

[2021-07-15 18:59] theodab opened #3534 "Non-breaking error when un-storing asset with DRM"
When we store an asset offline, and then un-store it, if it had DRM, it produces the following error:
[code]
Despite this error, the asset is still correctly removed from storage.

Trying this out with our archive of old versions, this bug seems to have been introduced somewhere between `v3.0.13` and `v3.1.2`.

[2021-07-16 04:07] wongfei2009 commented on #3502
Asset able to trigger this issue has been shared via shaka-player-issues@google.com.

Thank for the attention.

[2021-07-16 06:48] stuartflanagan opened #3535 "Send Custom Entity to CastReceiver"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
I would like to send a customUrl or customId to our custom ChromeCast Receiver app.
I have a player working wi

[2021-07-16 08:46] jbreemhaar commented on #1030
I guess the 'types' property is missing in the shaka-player package.json.
I didn't have to duplicate the files though, after creating a type declaration with the following it all worked 👍
Thanks!
[code]

[2021-07-16 10:22] CySlider opened #3536 "Support direct playback of HLS media playlists, without master playlist"
The standard states:

[6.2.4.  Providing Variant Streams](https://datatracker.ietf.org/doc/html/rfc8216#section-6.2.4)

[6.3.1.  General Client Responsibilities](https://datatracker.ietf.org/doc/html/rfc8216#section-6.3.1)

Yet the Shaka player refuses the playback of a valid single variant HLS stream without a master playlist with
`4022 HLS_MASTER_PLAYLIST_NOT_PROVIDED`

Also discussed here: http

[2021-07-16 12:58] kumarashu123 commented on #3508
**We tried playing the same VOD content with Shaka v2.5.10 and v3.1.1, v3.1.2 and found that the video start time is higher in 3.1.1, 3.1.2 compared to 2.5.10.**

Same network speed, manifest url and buffering configuration was used for testing the two.

Url used: https://storage.googleapis.com/shaka-demo-assets/bbb-dark-truths/dash.mpd

Statistics:

1. Network bandwidth at the time of testing: 13

[2021-07-16 18:34] miguelriverarios opened #3537 "Playready + Microsoft Edge Seek Back Issue: Spamming seek back causes long buffer and video resumes from unexpected position"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.2.0 (via the Shaka Player Demo)

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo App

**If custom

[2021-07-16 22:21] joeyparrish commented on #3536
Renamed and marked as an enhancement.  We don't support this yet.

[2021-07-17 00:19] stuartflanagan commented on #3535
Checking logs I am seeing:
`"Invalid namespace: urn:x-cast:com.google.shaka.v2"`
Is this indicating that the Shaka Player has to use the Shaka receiver?
Our receiver is using the current `cast-media-player` But we are not setting a custom message name space as suggested above.

[2021-07-17 01:20] stuartflanagan commented on #3535
I have managed to create a namespace and check the incoming message in the custom receiver.
I can set the AppData with data I need for the API calls too. This helps.
I think this question now comes down to can Shaka Player be used in this way with a custom receiver that does not use the Shaka cast_receiver?

[2021-07-17 12:34] CySlider commented on #3536
IMHO enhancement is a mischaracterization.

Only having one playlist is the default in this spec (Server **MAY** offer multiple play lists and only in that case it SHOULD provide a master playlist). And not supporting it, is a violation of the specs from as low as version 1. Also having handled at least dozen different HLS players every single one did support this.

I hope this gets more attention

[2021-07-18 17:40] hiren3897 commented on #3493
Hello @joeyparrish @TheModMaker
Can you please clear my doubts, thanks.

It would be a great help :)

[2021-07-18 21:35] gscragg commented on #3529
The same issue occurs using the CAF receiver on a chromecast. The 4012 error is thrown and the receiver stops working.

[2021-07-19 08:51] CMMB93 commented on #3474
Thank you for your help, please let us know!

[2021-07-19 09:19] OrenMe commented on #3526
Hi @joeyparrish, sorry I was on vacation so took time to see it.
I linked also one of the test stream from Shaka demo site as it happens there as well.
[code]

Where can I find the 8 sec presentation delay?

You can repro it by following the steps in the description, are you able to see this by following them?

[2021-07-19 10:14] hiren3897 opened #3538 "Chapters support usage? example?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
YES

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
v3.2

**Please ask your question**

Hello @avelad @joeyparrish.
As the chapter's support has been already released in the shaka-player v3.2. :tada

[2021-07-19 10:59] avelad commented on #3538
I am on vacation until August 8, on my return I can do a tutorial

[2021-07-19 11:06] hiren3897 commented on #3538
Okay @avelad Thank you :)

[2021-07-19 12:29] Nimmu93 opened #3539 "Subtitles appear as Unrecognized()"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1/shaka-player.ui.js

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Own custom app

**If custom app

[2021-07-19 13:16] OrenMe commented on #3526
@joeyparrish is this related to `safeSeekOffset` which is set to 5 by default?
So it means that the actual `player.seekRange().start` should take into account the `safeSeekOffset`?
In our case the DVR window is for start over meaning the start time is fixed and only the live edge progresses so we do not have an issue with falling outside the start of the DVR window.

[2021-07-20 03:10] joeyparrish commented on #3536
Can you explain the purpose of playing a media playlist without other variants?  If there's no adaptation, how is that meaningfully different than playing a single MP4?

[2021-07-20 11:21] CySlider commented on #3536
We also support multiple bitrates, but the implementation currently is, that in case there is only a single bitrate provided, we do not provide a master. Saves one - according to the specs unnecessary - roundtrip when starting playback. Playback delay and server load is a sensitive matter. Also we adhere to the specs, shaka not. Obviously it's your call, if you want to, but I still think this is r

[2021-07-20 12:12] hiren3897 commented on #3532
Hello, can anyone have an idea about this?
Is this possible to do?
@joeyparrish @TheModMaker

[2021-07-20 16:26] david-hm-morgan opened #3540 "Regression in ability to play Angel One stream on LG TV"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://storage.googleapis.com/shaka-demo-assets/angel-one/dash.mpd;panel=HOME;build=compiled

Also
https://v3-1-2-dot-shaka-player-demo.appspot.com/demo/#audiolang=

[2021-07-20 16:46] nbcl commented on #3532
Hello @hiren3897!

The parent argument should be the location `{HTMLElement}` on where `AutoplayFeature` would be located in the UI!

For example, on `controls.js`, when adding multiple buttons to the control panel, the parent attribute is the controls container, defined by `this.controlsButtonPanel_`.

https://github.com/google/shaka-player/blob/32702483eb9643e45852e29b393ef9f23a346541/ui/control

[2021-07-20 16:55] joeyparrish commented on #3540
This may have to do with our adoption of MediaCapabilities, and/or our polyfill for it.

VP9 has two forms of the codecs string: "vp9" and "vp09." + profile info.  The MediaCapabilities API only supports the second form, but in evergreen browsers, the MediaSource API accepts both.  In older platforms, MediaSource only accepts the first form.

We used to have some code that would handle this confus

[2021-07-21 08:29] hiren3897 commented on #3532
Hello @nbcl
Thanks for your response :)

I have learned your explanation very well but the main thing that I exactly want to do is to call my `AutoplayFeature` button and pass mainly three arguments init i.e. `parent`, `controls`, and `data`. So, when I call my `AutoplayFeature` it registers itself in the player and then adds it in `controlPanelElements` so it is enabled in the player.

If I do:
[

[2021-07-21 08:31] hiren3897 commented on #3493
Hello, @TheModMaker @joeyparrish can you please help me :)

thank you

[2021-07-21 09:02] theodab commented on #3493
Yes, you need to get a player instance in some way. This will either involve creating a player instance on the spot, or getting an existing player instance. It depends on how you are setting the player up.

If you are using [the default setup method for setting up our UI library](https://nightly-dot-shaka-player-demo.appspot.com/docs/api/tutorial-ui.html) (e.g. you have DOM elements with `data-sha

[2021-07-21 09:25] Dador opened #3541 "Detect supported DRM systems"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**Is your feature request related to a problem? Please describe.**
Related to #2786. Suggested solution is using `shaka.Player.probeSupport()`, but documentation for `shaka.Player.probeSupport()` says `This should only be used for diagnostics. NOTE: This may show a request to the user for permission`.

[2021-07-21 09:40] hiren3897 commented on #3493
hello @theodab
yes thanks for the great guidelines it worked for me :tada:

also thanks to @TheModMaker and @joeyparrish for helping me out.

[2021-07-21 10:18] theodab commented on #3493
No problem. Good luck with your app, and if you run into any further problems, feel free to ask.

[2021-07-21 14:20] caridley commented on #3048
I agree that fixing this problem should fix #3510

I do not think that fixing this problem will fix #3431 which is caused by a loss of period specific bitrates during period flattening.

[2021-07-21 15:08] hiren3897 commented on #3493
Yes, Sure Thank you very much :)

[2021-07-21 18:26] joeyparrish commented on #3541
You may just want to use `shaka.Player.probeSupport()` anyway.  The part of `probeSupport()` that may show a permissions prompt to the user is the part implemented in `DrmEngine`, because EME _may_ prompt the user for permission.  So if you want to use our probe system to detect supported key systems, you're going to risk a prompt either way.

Since you're interested in FairPlay specifically, ther

[2021-07-22 00:02] Dador commented on #3541
Thank you, it working perfectly!

Maybe it's good idea to add that snippet to documentation (for example on page [DRM Configuration](https://shaka-player-demo.appspot.com/docs/api/tutorial-drm-config.html) or page [FairPlay Support](https://shaka-player-demo.appspot.com/docs/api/tutorial-fairplay.html)).

I think it's popular use case: if you use DRM then probably you want to support Safari with F

[2021-07-22 03:43] joeyparrish commented on #3541
Good idea.  I'll convert this to a "docs" issue, and we'll add this as a section in the FairPlay doc.

[2021-07-22 03:47] theodab commented on #3533
Would request filters and response filters work for your use case? They aren't registered globally. They are mentioned in a few of the tutorials, such as for example [the license wrapping tutorial](https://nightly-dot-shaka-player-demo.appspot.com/docs/api/tutorial-license-wrapping.html).
The `shaka.extern.Request` and `shaka.extern.Response` don't directly link to each other, but you could figure

[2021-07-22 07:42] theodab commented on #3539
Can you share the content you are using? You can send it to <shaka-player-issues@google.com> if you don't want it to be public. I tried playing our demo content on both iOS Safari and Chrome, and for the reliable only HLS no-captions no-subtitles asset we have right now (the Shaka Player History livestream), I wasn't seeing an erroneous text language selection menus.

[2021-07-22 08:19] hiren3897 commented on #3493
Hello, @theodab I hope you are doing well. can you please help me with #3532 if you have any idea about it :) Thanks

[2021-07-22 11:26] theodab commented on #3532
If I understand your problem correctly... you have some extra data that is external to the player that a custom button needs to know. Presumably, given your button is called `AutoplayFeature`, it's a collection of JSON that points to the next video(s) in the playlist, or something similar. You can't just bake that data into the button when you register it, since buttons are registered globally, an

[2021-07-22 14:37] kumarashu123 opened #3542 "Is it recommended to take v2.5.23-master branch for production release (any master branch)"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.10

**Please ask your question**
I wanted to upgrade with shaka player v2.5.23, I see  **Add support for multiple layers of nested cues.** is

[2021-07-22 16:46] joeyparrish commented on #3542
No, the "-master" tags are to indicate where the master branch was at the time of a release from a release branch.  We always recommend official releases from release branches.

Once a branch is created (such as v3.1.x or v3.2.x), only bug fixes are cherry-picked to that branch, and never new features.  This means those branches should only ever increase in stability.  Release tags such as v3.2.0

[2021-07-22 17:01] gordon-y-lai commented on #3533
@theodab - Thanks for the information. I tried the request/response filters approach as you suggested. I think it should work (since the filters can be registered for a specific player instance) to an extent while there were some shortcomings I observed. In particular:
- For our use case, the response timing metrics include two check points: (1) when the response header arrives (to capture the end

[2021-07-22 20:55] theodab commented on #3533
Ah, I see what you mean. The time that headers become available is something we could be measuring, but we don't at the moment. And we don't really inform the user of a failed download, directly; they only know if a failed download leads to the entire player erroring, but they won't hear if a failed download leads to a retry or similar.

I'll mark this as an enhancement request, then.

To me, addi

[2021-07-22 21:41] gordon-y-lai commented on #3533
The player events sound reasonable. I like to add a few comments:

- If you also add 'downloadrequested' and 'downloadcompleted' events in a similar fashion, then technically it will be possible for us to achieve our goal without registering request/response filters. I guess that's nice but it's not a must have.
- I also like to make sure that the original HTTP response status code (aside from the

[2021-07-23 14:53] kumarashu123 commented on #3542
Thanks! for the quick reply
I tried upgrading 3.1.1 please see below observation

 I tried playing the same VOD content with Shaka v2.5.10 and v3.1.1, v3.1.2 and found that the video start time is higher in 3.1.1, 3.1.2 compared to 2.5.10.

Same network speed, manifest url and buffering configuration was used for testing the two.

Url used: https://storage.googleapis.com/shaka-demo-assets/bbb-dark

[2021-07-23 16:15] hiren3897 commented on #3532
Hello @theodab,
First of all sorry for the late response as I was busy with something serious fixings

yes, it is right
this feature is all about displaying the playList when the video gets end with some thumbnails and same as youtube have.

Thank you so much for all the possibilities that you have commented on, I will give it a try to set and get the extra data in my features.

I will try all pos

[2021-07-23 17:01] deisenbacher01 opened #3543 "renewal_server_url ignored"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://wvm.ezdrm.com/demo/dash/BigBuckBunny_320x180.mpd;license=https://widevine-dash.ezdrm.com/clientdebug.aspx?pX=B03B45&customdata=original;panel=CUSTOM%20CONTEN

[2021-07-23 17:11] joeyparrish commented on #3543
Where should the player read it from?

[2021-07-23 17:13] deisenbacher01 commented on #3543
This is in the license response,
![renewal](https://user-images.githubusercontent.com/13035052/126817784-1a870cb7-70dc-4139-a248-8be5e6de4145.PNG)

[2021-07-23 17:13] joeyparrish commented on #3542
Looks like the same comment you posted in #3508.  Thank you for the report, but let's not mix issues.

Do you have any more questions about releases, tags, and branches?  Or can we close this issue?

[2021-07-23 17:14] joeyparrish commented on #3543
The license response is not consumed by the player, but by the CDM.  We don't have access to the fields of a license response.

[2021-07-23 17:15] joeyparrish commented on #3543
That feature of the Widevine protocol is not available to JavaScript applications running in web browsers.  We apologize for any inconvenience.

[2021-07-23 17:17] deisenbacher01 commented on #3543
But the player can read the response in the HTTP traffic just like the chrome browser is doing, and parse it out. Or are you saying this can only be done in the EXOplayer native app?

[2021-07-23 17:22] OrenMe commented on #3526
@joeyparrish any chance you can review my comment?
Do you think it might be a valid use case to include the safeSeekOffset in the seek range?

[2021-07-23 17:27] joeyparrish commented on #3543
No, these open-source players do not have the ability to parse the Widevine license protocol.  Android has a native API that exposes these details from the CDM, but browsers do not.

[2021-07-23 17:28] deisenbacher01 commented on #3543
Thank you,

[2021-07-23 17:28] #3543 closed

[2021-07-23 17:39] kumarashu123 commented on #3542
Thanks! @joeyparrish I don't have any question related to releases

[2021-07-23 17:39] #3542 closed

[2021-07-23 17:39] joeyparrish commented on #3526
There is a `suggestedPresentationDelay` attribute in DASH, and if it's missing, we have a configurable fallback.  It defaults to some multiple of the minBufferTime, if I recall correctly.

You can customize this with these configs:
  - `manifest.dash.ignoreSuggestedPresentationDelay`: if true, ignore the delay from the manifest and only use the fallback
  - `manifest.defaultPresentationDelay`: a s

[2021-07-23 17:40] #3532 closed

[2021-07-23 18:54] cristian-atehortua opened #3544 "Ability to get AudioTracks and their qualities (Representation) and set the audio"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes, there is nothing related to this.

**Is your feature request related to a problem? Please describe.**

Currently, our dash manifests can have different AdaptationSet with the same languages and the same roles (or no roles). Those audio tracks are different, but ShakaPlayer is considering that they are

[2021-07-23 20:09] ronak2121 commented on #3364
Hey @joeyparrish do you know if this is also being considered for version 3.3? Do you have any idea on timelines when this would be supported?

[2021-07-24 07:59] WINOFFRG opened #3546 "Unable to understand the DRM Server Certificate Request and the Payloads"
**Request 1:** I am trying to debug an application and I found that within few seconds of video playback, 2 differentiable requests are sent from the app. The request is sent to the app backend with my access credentials and query parameters. But I noticed that a 2 Byte data which B64 Encoded or "CAQ=". And this request in response returns something related to widevine licensing.

Here is the scre

[2021-07-25 15:53] joeyparrish commented on #3364
Nobody is working on it currently.  If someone in the community is interested to contribute, it may be possible to get it into our next release.  But right now, the core team is fully engaged on other features.

[2021-07-26 18:01] TheModMaker commented on #3520
We currently don't support both audio and video groups at the same time.  We only support having audio groups or video groups.  In your case, I think you can just remove the tags with `#EXT-X-MEDIA:TYPE=VIDEO`, since they don't have any additional streams in them.  You need the audio groups since they hold the streams for audio, but the `#EXT-X-STREAM-INF` tag already contains the URL to the video

[2021-07-26 18:16] TheModMaker commented on #3336
Without the license server URL, this will be difficult to debug.  You can send it privately to <shaka-player-issues@google.com>.

When this happens, does the video play normally (just with no video)?  Are you using an external display, cast, etc?  Can you check the JavaScript console for logs?  If you are using the demo app, what is the output of `shakaDemoMain.player_.getDrmEngine().keyStatusByKe

[2021-07-26 18:30] TheModMaker commented on #3394
What version are you using?  I'm able to get the error listener to fire in the hosted demo.  Can you post your full code, preferably an HTML page that is hosted somewhere?  This JSFiddle works fine: https://jsfiddle.net/8chksmg0/

[2021-07-26 18:37] TheModMaker commented on #3429
I'm going to mark this as an enhancement since, even though I haven't reproduced, I think you are correct.  When a stream is restricted, we just mark it to not be played, but we probably still send all the license requests out.  We could probably change this to check for whether it is restricted before sending out the license request.

Can you provide some sample content for this?  All out content

[2021-07-26 19:46] joeyparrish commented on #3429
I believe there is an important difference between `restrictions` and `abr.restrictions`.  A stream excluded by `abr.restrictions` is still playable, but won't be chosen by ABR.  So we should still get licenses for that.  That would not be true of `restrictions`, though, which are equivalent to key-based restrictions from DrmEngine.

[2021-07-26 19:58] TheModMaker commented on #3430
Note that you need to use our UI to see PNG subtitles.  When using the non-UI text displayer, we only support text-based subtitles.  The easiest way would be to [use our UI](https://shaka-player-demo.appspot.com/docs/api/tutorial-ui.html).  Or, I think you can enable the UI text displayer without using the full UI by calling `player.setVideoContainer(container)` with the `<div>` element that the `

[2021-07-26 20:37] TheModMaker commented on #3466
Closing due to inactivity. If this is still an issue for you or if you have further questions, you can ask us to reopen or have the bot reopen it by including `@shaka-bot reopen` in a comment.

[2021-07-26 20:37] #3466 closed

[2021-07-26 20:43] TheModMaker commented on #3481
If you could provide a manifest URL, we may be able to help more.  Since it happens in other players, it is probably a problem with your content.  Are you using an external display or AirPlay?  `MEDIA_KEYERR_DOMAIN` is an error from the browser, so you could just search for that and you may get some hints on what could be wrong.

[2021-07-26 20:51] TheModMaker commented on #3484
Closing due to inactivity. If this is still an issue for you or if you have further questions, you can ask us to reopen or have the bot reopen it by including `@shaka-bot reopen` in a comment.

This is probably a browser bug, and we probably can't do much about it.

[2021-07-26 20:51] #3484 closed

[2021-07-26 21:03] TheModMaker commented on #3503
First, you shouldn't set `keySystemsByURI` unless you are using a non-standard UUID.  Also, you didn't use the correct name, so you don't need it.  You have it under `dash.keySystemsByURI`, when it should be under `manifest.dash.keySystemsByURI`.

Secondly, [LICENSE_RESPONSE_REJECTED](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:6008) is usually caused by your license

[2021-07-26 21:08] TheModMaker commented on #3528
We don't support that.  We support `EventStream` elements, but by firing events for the app to do something.  We fire `timelineregionenter` and `timelineregionexit` events whenever the playhead enters or leaves a region defined by an event.  You could fire these yourself by listening for the enter event and sending the request yourself.  `event.detail` will be an [TimelineRegionInfo](https://shaka

[2021-07-26 21:41] TheModMaker commented on #3546
The first request is a certificate request as explained by Joey in that post.  The second is a license request.  The requests are generated by the browser to request the license; then the license server generates a response that we give back to the browser.  These requests are use to request DRM keys to play protected content.

If you're curious, the request is generated by the browser using [Encr

[2021-07-26 21:51] TheModMaker commented on #3500
There were many changes internally for v3.0, so there are likely performance differences.  We're working on making some of those things better now.  Unfortunately it is probably some of those changes that made it worse, and there is probably nothing that can be done for now.  We'll continue to try to make the performance better in later releases.

It sounds like your issue is fixed.  Did you have

[2021-07-26 22:57] nanandn commented on #3481
@TheModMaker I think the problem was with the server certificate (or how it was read).  Once I got the correct certificate, it works.

[2021-07-27 04:38] WINOFFRG commented on #3546
Ok, I understand till here, Talking about the code part. Can you throw some light on it as well, That would be very great as I can them simulate that request. [Here it is](https://shaka-player-demo.appspot.com/docs/api/externs_shaka_player.js.html#line563), What I am referring to till now, I understand the given definition but how do I write the functions and what things other than Server URL are

[2021-07-27 06:36] kumarashu123 commented on #3500
@TheModMaker  thanks! for the reply. Yes above issue is resolved.
please close the ticket

[2021-07-27 07:39] #3500 closed

[2021-07-27 10:21] yuimbo commented on #3526
Hi Joey,

Reading your comment above, it seems `PresentationDelay` and `safeSeekOffset` are parameters that affects how far towards the *end* of the bufferable range that is playable, correct?

Howeve,r the problem mentioned in the start of the issue (which I am also encountering) is that Shaka also seems to restrict how far into the *beginning* of the bufferable range that is reachable. I.e. whil

[2021-07-27 10:53] rgainza opened #3549 "Testing out Shaka Player with manifests from streaming providers?"
It is definitely a bug in truth, but not as if I get impacted but the Shaka might care.
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes, though I am a big rookie on this.
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes
**What version of Shaka Player are you using?**
3.1.1 Google Chrome 92 Wi

[2021-07-27 11:12] adgllorente opened #3550 "Force shaka-player to always start in the lowest bitrate."
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
latest

**Please ask your question**
We want to configure shaka-player to always start playback in the lowest bitrate and make time to play faster

[2021-07-27 13:01] Ashaaradhya opened #3551 "Allow building when the path is long on Windows"
Hi.. I have been trying to build the shaka player on my windows machine ( Tried on 3 windows machine with different node versions) but always end up with error [Error] *** A required dependency is missing : node

Please find the screenshot attached. As we can see here node version 14 is already installed.

![image](https://user-images.githubusercontent.com/66466711/127157847-dd064d3a-9765-4e1a-a19

[2021-07-27 13:57] renatosalopes opened #3552 "Phrases on the subtitles not displaying properly"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Latest (3.2.0)

**Are you using the demo app or your own custom app?**
Custom app

**If custom app, can you reproduce the issue using our demo app?**
Yes, on "Sintel" at 2:14 the subtitle "A dragon." doesn't rendered at first, on full screen, but I rewind

[2021-07-27 14:00] KieronAllsop commented on #3429
Using the following in Custom Content on https://shaka-player-demo.appspot.com/demo

**Content**: https://urm.latens.com:9443/content/pr3_altered/out.mpd
**License Server**: https://urm.latens.com:6443/license43/rightsmanager.asmx
**License Header**:
Name: Authorization
Value:
`Bearer eyJhbGciOiJBMTI4S1ciLCJlbmMiOiJBMTI4R0NNIiwia2lkIjoiMTM4NTA3MjctODI2Mi00MmUwLWI1YzMtNTJjZjVmNmRkYzliIiwiaXNzIjoiTX

[2021-07-27 16:17] TheModMaker commented on #3551
Try running `python` by itself and entering the following:

[code]

[2021-07-27 16:57] TheModMaker commented on #3546
If you just want to play content, you just need to configure the Player, and we'll handle everything for you.  Check out our [tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-drm-config.html) for more info.  You only need to set the license server URL and we'll handle everything else.  If your license server wraps the request/response, you may need to set a [network filter](https:

[2021-07-27 17:00] TheModMaker commented on #3549
If you see any problems with your content, feel free to file a bug using the bug template and fill out all the fields.  We'll take a look at why the content doesn't work.  Make sure to provide a playable manifest URL (not the text content) so we can try to play the content.

[2021-07-27 18:20] FireMasterK opened #3553 "Destroying UI doesn't remove PIP"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Haven't tried

**Are you using the demo app or your own custom app?**
Custom App

**If custom app, can you rep

[2021-07-27 19:58] theodab commented on #3553
Seems like a reasonable idea to me.

[2021-07-28 00:00] #3553 closed

[2021-07-28 05:18] bhushanudupa commented on #3503
@TheModMaker
Thank you for your response. I was using a wrong license server URL. Now it's working fine.

[2021-07-28 05:18] #3503 closed

[2021-07-28 09:24] Ashaaradhya commented on #3551
Hi.. This is the output
![Capture](https://user-images.githubusercontent.com/66466711/127298235-a804ae63-6765-477a-8ec6-01a6586e2bd0.PNG)

[2021-07-28 09:31] jakubvojacek opened #3554 "Mac OS Safari HLS playback does not work (3016)"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**

I have searched the issue list and couldnt find anyone with the same problem - I found issus related to ios o

[2021-07-28 13:19] rgainza commented on #3549
I must have been unclear, sorry about that. In this particular case I'm trying out manifests from the big companies, hence the title of this thread (Amazon Prime, Netflix etc, notice only example). Is it still interesting for Shaka Player team to check why the player fails from other streaming providers rather than from myself?

I've noticed that dash.js manages to play a lot more dash manifests.

[2021-07-28 15:22] Ashaaradhya commented on #3551
I also tried to build/all.py there directly in the python terminal but it didn't work..

[2021-07-28 16:59] TheModMaker commented on #3549
First, this would probably be a violation of their terms of service.  Usually these providers require using their player to play their content.  So we won't spend any time to bypassing those requirements.

Secondly, since they can control most pieces of the stack, they don't need to be spec compliant.  I know that YouTube used to use invalid DASH content since they control everything.  So there's

[2021-07-28 17:03] bcupac opened #3555 "captions - captions break if the vvt loaded contains a cue that has a forward slash in its text"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
demo

**If custom app, can you reproduce the issue usi

[2021-07-28 17:03] TheModMaker commented on #3551
Try running `set PRINT_ARGUMENTS=1` before running `build/all.py`.  I think [this check](https://github.com/google/shaka-player/blob/38cfc230483133862cc41153931f4dc170eb4a75/build/shakaBuildHelpers.py#L164) is giving false positives when node is running a sub-command.

[2021-07-28 18:12] rgainza commented on #3549
Yeah, might be that way. It just seemed like an efficient way to test out the capabilities of Shaka. I've seen multiple threads from users that has sent dash manifests from other streaming providers and there has been support for those users right here on Github. So I thought it might be a possibility to fix those bugs.

That is true, but then again I'm referring to the ones that do comply to the

[2021-07-28 20:15] pcruiksh opened #3557 "HLS parser does not offset presentation timeline for event type playlists"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
custom

**If custom app, can you reproduce the iss

[2021-07-28 20:23] mseeley opened #3558 "How to synchronize ad container dimensions?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**

👍

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

👍 👍

**What version of Shaka Player are you using?**

- `https://imasdk.googleapis.com/js/sdkloader/ima3.js`
- `https://ajax.googleapis.com/ajax/libs/shaka-player/3.1.1/shaka-player.ui.js`

**Please

[2021-07-29 01:10] mseeley commented on #3558
Our temporary workaround is similar to the following code.

[code]

[2021-07-29 01:36] joeyparrish commented on #3549
Those users generally work for the streaming service providers.  Shaka Player **is** used in many commercial services.

But if you want us to help you play a commercial service's content outside of their service, then we can't help you with that.  Thanks for your understanding!

[2021-07-29 01:36] #3549 closed

[2021-07-29 05:06] bhushanudupa opened #3559 "DRM.FAILED_TO_ATTACH_TO_VIDEO (Operation is not permitted)"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
YES

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
3.0.10

**Please ask your question**
@joeyparrish
I have written a code where it actually fetches the song names from a playlist(JSON Array) throu

[2021-07-29 12:48] rgainza commented on #3549
Just wanted to add that in those threads there was  **no way** that they work for those streaming operators, but at the same time I can't blame you guys for not having time to througly check everyone's backgrounds before helping them. Also to add. There are projects (on Github) that focus on being to play as much as possible regardless of where the manifest are from so I thought maybe Shaka might

[2021-07-29 16:24] Ashaaradhya commented on #3551
I tried it with above suggestion but still no luck.

![Capture1](https://user-images.githubusercontent.com/66466711/127529094-c57211ce-6d01-4a9d-ac8f-d26943134aaf.PNG)

This is the output

![Capture2](https://user-images.githubusercontent.com/66466711/127529177-f73fb67d-5ce8-4b6d-beba-67bc45023af1.PNG)

[2021-07-29 16:49] TheModMaker commented on #3551
It wasn't to fix it, I wanted to see the first part of the last command to see what failed.  Could you post the whole last command?  Also, it would be easier if you posted the text instead of a screenshot.

[2021-07-29 18:53] theodab commented on #3533
Okay. I've added 'downloadheadersreceived' and 'downloadfailed'. For now, I decided to not add the other events you proposed; since those are replicable using our existing interfaces, they are lower priority features. In case you're still interested I'll leave this issue open to track them.

[2021-07-29 22:45] TheModMaker commented on #3551
Actually, I think this is a duplicate of #3369.  Try moving the folder to another location so the full paths are shorter.  It's possible we are hitting path limits.

[2021-07-29 23:36] derekdowling opened #3560 "Handling HLS Large Gap Between SSAI and Live Segment Discontinuity"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**

I am looking to integrate Shaka with a live stream HLS implementation that does SSAI with pre-roll ads (ad

[2021-07-29 23:36] TheModMaker commented on #3551
It looks like this may be a limit on the command line size.  Since we pass a bunch of absolute paths in, the command line is huge.  We may be able to reduce the size of this a few ways:

- For eslint, we can split up multiple calls or just lint recursively all files instead of explicitly listing each.
- For the compiler, there is a `--json_streams` option to accept input files from standard in ins

[2021-07-30 09:02] Ashaaradhya commented on #3551
Sorry, posting the full error here below. I added it to shorter path like you suggested and good news is no more node error but now getting a different error:

[code]

[2021-07-30 09:28] hiren3897 opened #3561 "Mime Types for player.load()"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
latest

**Please ask your question**
I have created a plugin that uses JSON URL and extracts the manifest URI from it and returns to play the cont

[2021-07-30 16:30] TheModMaker commented on #3551
Since you moved the folder, it broke a symlink.  Delete `node_modules/eslint-plugin-shaka-rules` and run `npm install`.

[2021-07-30 16:49] TheModMaker commented on #3561
FairPlay and PlayReady are DRM providers, they could be used with DASH too (although FairPlay is always HLS).  The MIME type for HLS is `application/x-mpegurl`.  You can also register the file extension so you don't have to pass it to `load`:

[code]

We also make a HEAD request to the URL and use the `Content-Type` header to pick the parser.  If the header uses the same MIME type you registered,

[2021-08-02 06:15] baehongjun0212 opened #3563 "using web audio api with shaka-player #2"
Have you read the FAQ and checked for duplicate open issues?
Yes

What version of Shaka Player are you using?
2.5.11 shaka-player.ui.js

Please ask your question

Hi :) i am trying to use the web audio api along with shaka player.
First of all, thank you for developing Shaka player.

I read the answer to the issue.
: https://github.com/google/shaka-player/issues/2595
This sample code is muted and

[2021-08-02 13:40] Ashaaradhya commented on #3551
I tried to build fresh copy of Shaka Player . Please find the error below:

npm WARN npm You can find the latest version at https://nodejs.org/
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.13 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.13: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})
npm

[2021-08-02 16:14] hiren3897 commented on #3561
Hello @TheModMaker
Thank you for your reply.

For us, if we have a dash manifest or Microsoft play ready to manifest it has a `Content-Type: application/octet-stream` so can we pass this as a `MimeType` in the `player.load`
or
by using
[code]
I haven't tested for `hlsfairplay` but yes it accepts `application/x-mpegurl`.

My JSON returns a stream according to the client browser and OS device suppor

[2021-08-03 12:45] david-hm-morgan commented on #3540
Hi @joeyparrish if you need me to capture some debug that will help move this forwards I have access to an LG TV and am willing to help.

[2021-08-03 15:09] WINOFFRG commented on #3546
Thank You! Understood, Sorry for the late response I was trying to understand more about it, Before I get started with documentation, Could you please answer few more questions mentioned below.

1. To implement this process of EME and DRM Protected content for DASH Streaming which uses the concept of Clear Keys, Apart from the code what things do we need like as much from reading till now I found

[2021-08-03 16:39] joeyparrish commented on #3563
I'm not sure what the issue is.  This is probably a combination of a WebAudio quirk and a Shaka Player quirk.

If you're using a createMediaElementSource() in WebAudio, I don't know how the element's muted and volume states will affect the source.

In our UI, we sync the "muted" and "volume" attributes, so that if volume is dragged to 0, we set muted=true.  If volume is dragged above 0, we set mut

[2021-08-04 05:15] bhushanudupa opened #3564 "DRM.FAILED_TO_ATTACH_TO_VIDEO (Operation is not permitted)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
YES

**Can you reproduce the issue with the latest code from `master`?**
YES

**Are you using the demo app or your own custom app?**
OWN CUSTOM APP

**If custom app, can you reproduc

[2021-08-04 15:14] david-hm-morgan commented on #3540
I utilised the `support.html` page and compared v3.0.13 left and v3.1.2 right
![image](https://user-images.githubusercontent.com/37144605/128206399-ea9f969a-44a4-4947-9528-4f59e23b6703.png)

As you suspected @joeyparrish these versions claim different support for `video/webm; codecs=\"vp09.00.10.08\"'

[2021-08-04 15:56] hiren3897 opened #3565 "Native iOS player for Safari in web app version"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
When I run shaka-player on my iOS device (iPhone, iPad)

It is overlapped with the iOS default native controls

[2021-08-04 18:14] TheModMaker commented on #3546
To just make an EME request, you don't need an MPD file.  That contains the media segment URLs and the init data.  So you could avoid doing all that if you just want to make some requests and have the PSSH data.  To make an EME request, you just need the init data and a license server URL.

- Clear key is the name of a (mostly test-only) DRM system that uses clear keys for encryption.  These are j

[2021-08-04 21:12] WINOFFRG commented on #3546
Thanks a lot for your response.

[2021-08-04 21:12] #3546 closed

[2021-08-05 05:16] #2607 closed

[2021-08-05 14:38] OrenMe commented on #3526
thanks @joeyparrish, using the `safeSeekOffset` did the job for us.
@joeyparrish in regards to my comment here https://github.com/google/shaka-player/issues/3526#issuecomment-882539587

Specifically this:

If I try to seek to start of DVR window maybe it is better to already take into account the `safeSeekOffset` in it cause in any case an app can only seek to `player.seekRange().start + safeSeekO

[2021-08-05 15:03] OrenMe opened #3567 "Stream halts when transition from dynamic to static"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.13 and 3.2.0

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
NA

**Are you using the demo app or your own custom app?**
both

**If custom app, can you reproduce

[2021-08-05 22:02] TheModMaker commented on #3565
Remove the `controls` attribute from the `<video>` element; or you can use `video.controls = false` in JS.

[2021-08-05 22:47] mseeley commented on #3558
Found the necessary hook: https://shaka-player-demo.appspot.com/docs/api/tutorial-ad_monetization.html#accommodating-ima-power-users

[2021-08-05 22:47] #3558 closed

[2021-08-06 04:12] gscragg commented on #3529
The issue is still present on 3.2.0.

[2021-08-06 12:36] hiren3897 commented on #3565
Thanks :tada: it worked

[2021-08-06 12:36] #3565 closed

[2021-08-06 18:36] #3394 closed

[2021-08-06 18:36] #3336 closed

[2021-08-09 01:01] #3563 closed

[2021-08-09 07:24] hiren3897 commented on #3538
Hello @avelad
I hope you are well and had a great vacation.

Can you please give us the tutorial for chapters usage?

Thank you in advance.

Hav a good day :)

[2021-08-09 08:42] pedrosilvabos commented on #3430
@shaka-bot reopen
Hi @TheModMaker thank you for the reply and I'm sorry for my late reply, I was out on vacations.
We can't (or i believe we cant) use your UI because this is a Smart TV application so it does not directly apply since i can't (or dont know how) to use the controls on the native shaka player UI using a remote control of the TV (Tizen and WebOS)

I understood your answer, and we in f

[2021-08-09 09:06] kocoten1992 commented on #3552
@renatosalopes, have you able to solve this issue ?

I run into it a while ago, my solution (accidentally discoverd) was to put a canvas on top of the subtitle to `force` chrome to render https://github.com/google/shaka-player/issues/3432.

It work for me :shrug: , I hope it work for you too.

[2021-08-09 10:22] avelad commented on #3538
This would be an example of use:

[code]

[2021-08-09 10:27] hiren3897 commented on #3538
Can you please tell me about the `chapterURL`?

What type of URL is it? do we have a defined structure of `chapterURL`? Can you please provide us a sample of `chapterURL`?

[2021-08-09 10:31] avelad commented on #3538
one example: https://s3.amazonaws.com/demo.jwplayer.com/text-tracks/assets/chapters.vtt

[2021-08-09 10:34] hiren3897 commented on #3538
Thanks,

After we do
[code]

we will have the list of chapters that can be used to populate on the timeline right?

[2021-08-09 10:36] avelad commented on #3538
Yes, you can see the test in https://github.com/google/shaka-player/blob/master/test/player_integration.js#L926-L949

[2021-08-09 10:40] hiren3897 commented on #3538
Okay, Thank you so much for your help. I will see this with my application and ping you if I have any issues

Have a great day

[2021-08-09 14:30] Ashaaradhya commented on #3551
To keep the ticket updated , I above issue was fixed with the help of https://github.com/google/shaka-player/issues/2985 .. I was able to build and run the shaka-player

[2021-08-09 14:34] Ashaaradhya commented on #3551
To keep the ticket updated , I above issue was fixed with the help of https://github.com/google/shaka-player/issues/2985 .. I was able to build and run the shaka-player

[2021-08-09 15:15] renatosalopes commented on #3552
Hey @kocoten1992, thanks for the suggestion!

I talked to another developer here at the company, he set the z-index at 999 and it worked as expected.

As I didn't see another issue open and I could reproduce this failure in the demo so I thought it was something not cataloged.

Thank you again. I will close the topic.

[2021-08-09 15:15] #3552 closed

[2021-08-09 16:20] joeyparrish commented on #3538
If you need to reopen this issue, just put `@shaka-bot reopen` in a comment.  Thanks!

[2021-08-09 16:20] #3538 closed

[2021-08-10 01:15] theodab commented on #3434
Closed by PR #3491 (commit 16c1810b0321724b0daa44cf7f4736b0b0983153)

[2021-08-10 01:15] #3434 closed

[2021-08-10 10:50] yairans opened #3571 "seekRange().start is going back and forth while start-over"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** Latest - v3.2.0

**Can you reproduce the issue with our latest release version?** Yes

**Are you using the demo app or your own custom app?** Demo app

**What browser and OS are you using?** Chrome/Mac OS

**What are the manifest and license server URIs?*

[2021-08-10 11:19] OrenMe commented on #3567
@joeyparrish any chance someone can look into this, I can provide more details if required

[2021-08-10 13:19] OrenMe commented on #3571
adding a bit more context, the stream is start over, meaning it has fixed point in past DVR that doesn't change and only the live edge progresses.
We have noticed that the way the seekRange is updated is tied to the live edge calculation as it is expected that the sliding window always progresses ahead and takes both the live edge ahead as well as the earliest start time of the window, but this is

[2021-08-10 22:08] joeyparrish commented on #3008
Renamed this and converted into an enhancement request for a configurable stall detector

[2021-08-10 22:33] joeyparrish commented on #3046
I tried to test the content on Tizen with our latest source from the master branch.  Since we are still working from home, I used an automated test to run this in our test lab.  Here is the command:

[code]

However, I was unable to get results.  The Tizen device in our lab does not appear to be on the network, so I will need to go back to the office in person to troubleshoot.

[2021-08-10 22:41] joeyparrish commented on #3430
We use our own UI on Chromecast to display status and subtitles, even though it won't be clicked on.  You can customize it to show a subset of the normal controls.

However, you can use our UI's subtitle display independently.  If you put your video element into a div container, you should be able to do something like:

[code]

Does this work for you?

[2021-08-10 22:44] joeyparrish commented on #3431
We could adjust how the overall bitrate of the track is computed (for example, take a weighted average by period duration), but with the current architecture, we won't be reporting period-sensitive bitrate information in stats.  The player, at that level, is unaware of the existence of periods.

[2021-08-10 22:49] joeyparrish commented on #3470
Are you playing individual mp4s?  Or DASH or HLS manifests?

In DASH, there is a feature called periods.  Content in different periods is unrelated, and the player places multiple periods next to each other in the timeline.  If the manifest is inaccurate, this can result in gaps between periods.

In HLS, there is a feature called discontinuities.  Segments on either side of a discontinuity can hav

[2021-08-10 22:52] joeyparrish commented on #3496
This is concerning.  It is likely the root cause, and indicates that some simplifying assumption we made was not true.  We will need to debug this with your content.

No, it doesn't.  That is fine.  Some real, encrypted content omits pssh boxes anyway, and only places them in the manifest.

[2021-08-11 06:50] karthikapsi opened #3574 "How to connect shaka player through WebSocket ?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
I checked but no answer

**What version of Shaka Player are you using?**
The latest source code from GitHub.

**Please ask your question**
**How to connect shaka player through WebSocket ? We are try

[2021-08-11 08:13] pedrosilvabos commented on #3430
thank you @joeyparrish it should, let me test it out and then post some feedback here.

[2021-08-11 08:17] avelad commented on #3530
I have been doing multiple tests and the problem I see is that HLS is theoretically supported in mediacapabilities with file type, but doing multiple tests I have not gotten it to work :(
https://trac.webkit.org/browser/webkit/trunk/Source/WebCore/Modules/mediacapabilities/MediaCapabilities.cpp#L52

[2021-08-12 08:15] xoundboy opened #3575 "[cast.framework.media.ShakaPlayer] category: 4 code: 4037 with MediaTailor MPD"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10 (via Chromecast cast_receiver_framework.js)

**Can you reproduce the issue with our latest release version?**
No, because DRM fails with 6012 error before this issue can occur

**Can you reproduce the issue with the latest code from `master`?**
No,

[2021-08-12 09:56] susmitaprakash commented on #745
Is there any solution yet for this particular issue? Need to understand what can be the alternate measures we can use here.

[2021-08-12 11:14] benelgiac opened #3576 "Will codec switching support DASH "urn:mpeg:dash:adaptation-set-switching" scheme presence?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
I have understood that codec switching is at the moment not supported and that #1528 is planning to support it

[2021-08-12 11:28] vlinder opened #3577 "b3166db Breaks seekRange()"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1 => 3.2.0

**Can you reproduce the issue with our latest release version?**
Yes 3.2.0

**Can you reproduce the issue with the latest code from `master`?**
Yes.

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you r

[2021-08-12 21:25] joeyparrish commented on #3046
I rebooted our lab's Tizen TV, and everything is working now.

The test described above passed, so I am unable to reproduce the issue with our latest player version.  Please try again with an update such as v3.1.2 or v3.2.0.

[2021-08-13 11:24] avelad commented on #2168
@theodab after https://github.com/google/shaka-player/commit/db8ad31bfbe1c2b9a372daad893d900e77d5e484 this can be closed?

[2021-08-13 13:21] gldraphael commented on #2955
I'd like to attempt working on this on Monday... which files would be a good place to start?

[2021-08-13 14:30] joeyparrish commented on #2168
Thank you for catching this!  Yes, I think it can be closed.

[2021-08-13 14:31] #2168 closed

[2021-08-13 14:47] Benny739 commented on #3530
I'm facing the same error, I made 2 codepens:
Working with 3.1.2:
https://codepen.io/benny739/pen/rNmRqLK

Broken with 3.2.0:
https://codepen.io/benny739/pen/XWRGxzy
Error Code: 6010

Also in safari 15 technology preview neither 3.1.2 nor 3.2.0 are working with Fairplay. I'm not sure if fairplay is simply not supported in the tp, as it is in the iOS simulator or if there is a problem with Safari 1

[2021-08-16 04:42] michellezhuogg commented on #3539
Hello @Nimmu93 , are you still having the issue with captions? If not, can we close the issue?

[2021-08-16 05:30] #3555 closed

[2021-08-16 05:40] michellezhuogg commented on #3564
Hello @bhushanudupa , I can play your test manifest with the latest Shaka Player demo. Did you see the error message only with v3.0.10 ? Or did you see the error message only when playing a second song after the first one?

[2021-08-16 06:14] michellezhuogg commented on #3508
Hello @jeev1989 , thank you for reporting the issue! Is the delay observed with multiple manifests, or only the sample manifest that you mentioned? Is the delay observed both Dash and HLS?

[2021-08-16 06:14] bhushanudupa commented on #3564
@michellezhuogg
First of all I would like to thank you for replying.
I see the error message only when playing a second song after the first song.

[2021-08-16 08:44] jeev1989 commented on #3508
The delay is observed for all the manifests. Our current requirement uses only dash content. We have observed it on Dash as of now. We have not tested in on HLS.

[2021-08-16 16:02] pedrosilvabos commented on #3430
hello, @theodab  @joeyparrish
After testing what you sent me, I can validate that it does work i can see the **text** subtitles, I cant however still work with the ones from this manifest in particular.

I was told originally that this manifest used PNG subtitles, and thats something that after analysing the manifest itself i debunked because i see some vtt format subtitles, so  I went to the shak

[2021-08-17 08:46] happylinks opened #3580 "Tolerate TS sync byte issues"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Reproducible in both

**If custom app, can you rep

[2021-08-17 11:09] olirehacek opened #3581 "Validating the downloaded DASH video file"
Hello,

Is there any way to get a checksum for the downloaded movie file from the DASH manifest ?

I would love to implement download verification in my app as I have a source file MD5 available.

Thanks :)

[2021-08-17 12:55] theodab commented on #3580
Your first TS file starts with the wrong sync byte (the first byte is `0x73`, but TS packets are expected to start with the byte `0x47`). It seems that HLS.js is more tolerant when it comes to malformed content than we are.

Indeed, looking at the HLS.js codebase, [they will look forward until they see the sync byte](https://github.com/video-dev/hls.js/blob/6a9e0bd35e2fc1c8891cf3264ae0c0f56046e253

[2021-08-17 14:01] happylinks commented on #3580
Thanks for looking into that! Just for more context, the stream was generated with AWS MediaConvert with their default audio-only settings: https://docs.aws.amazon.com/mediaconvert/latest/ug/setting-up-audio-only.html

[2021-08-17 15:51] Beraliv opened #3582 "Playback on PlayStation 5"
Hey!

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**Is your feature request related to a problem? Please describe.**

Currently I'm testing `shaka-player` on PS5 and I see `SHAKA_PLAYER_LICENSE_RESPONSE_REJECTED` which probably happens because PS5 doesn't implement `MediaCapabilities.decodingInfo` which shaka tries to use and fails at some poin

[2021-08-17 16:08] MilosRasic commented on #3582
Shaka works fine on PS5.

We've had a similar problem and it turned out to be due to PS5 PlayReady implementation rejecting licenses from one of our DRM servers when Shaka is set to use temporary licenses.

This fixed the problem for us:
[code]

[2021-08-17 20:01] Beraliv commented on #3582
Ah, okay, I used distinctiveIdentifierRequired, but not sessionType

Let me try it tomorrow

[2021-08-17 22:36] #2983 closed

[2021-08-17 23:06] #3460 closed

[2021-08-18 11:25] theodab commented on #3581
The DASH specification does not have a checksum field, no. Or at least [the DASH IOP](https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf) doesn't mention anything like that.

[2021-08-18 13:25] Puritanic commented on #3046
@joeyparrish I have a potentially similar issue, both to this one and to #2620. Basically in a few of several attempts, the DASH stream fails to start properly, it's just stuck on the first frame, but can be initiated if the user seeks forward.

From the logs, I can see that the Shaka player has detected a stall, and tries to unstall by pause/play, but with no success.

Only reproducible on Tizen

[2021-08-18 19:28] olirehacek commented on #3581
Yes. Indeed.
But the source video and audio files that are linked in the manifest do have an MD5 checksum. Is there any way to access these files stored in the IndexedDB?

[2021-08-19 05:50] avelad commented on #3530
After doing tests to solve this, it would be best to apply the mediaCapabilities polyfill in Safari (isApple), but if I try to apply it, the following change does not apply:
[code]

@joeyparrish you are more expert in polyfills, can the browser refuse to overwrite a native function?

[2021-08-19 12:34] theodab commented on #3530
I tried getting the polyfill to work on Safari, and oddly I found that if you call `shaka.polyfill.MediaCapabilities.install()` manually in the console, it works. I wonder if something is un-applying our polyfill during the loading process?
The `EmeEncryptionSchemePolyfill` node module we use does replace `navigator.mediaCapabilities.decodingInfo` with a shim, but we install that after we install

[2021-08-19 13:07] #3519 closed

[2021-08-19 13:07] meryacine commented on #3519
Reopening a new detailed issue.

[2021-08-19 13:49] meryacine opened #3584 "Player fails based on media playlists' referencing order in HLS"
**Can you reproduce the issue with our latest release version?**
Yes

**What browser and OS are you using?**
Chrome on Ubuntu 18.04

**What did you do?**

Used an HLS playlist that has 2 audio streams encoded in two different codecs (aac, ac3).
What i did is that i flipped the order of their media playlists referencing in the master hls playlist.
say it was like this:
[code]
this one would play fi

[2021-08-19 15:27] optimm commented on #3464
Hi , i am very new to open source and would like to work on this issue if you could please guide me a bit

[2021-08-19 17:51] WINOFFRG opened #3585 "Unable to add Headers to Manifest Request"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Please ask your question**

👋🏻 I am trying to add headers when manifest URL is request. But it seems like it has some issue while working

[2021-08-20 06:32] avelad commented on #3585
The header you are trying to add is not allowed to be modified from JS.

See: https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name

[2021-08-20 08:46] avelad commented on #3530
@theodab , I've checked what you say, and with that it works. After the PR https://github.com/google/shaka-player/pull/3588, it would only be necessary to solve the installation problem, to close this issue.

[2021-08-20 09:37] Beraliv commented on #3582
@MilosRasic  I checked it and seems it's still not working for us

I will have a detailed debugging session on Tuesday, so will leave comments here

[2021-08-20 10:39] david-hm-morgan opened #3589 "Tizen unable to play clear when configured for DRM due to #2620 workaround"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.2.0
(v3.0.11 & v3.1.1 also)

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Own custom demo app at ht

[2021-08-20 11:58] WINOFFRG commented on #3585
Thanks! Understood the obvious reason for this. But then how would I get the manifest URL as website doesn't allow to get it until I add that header. Do you have any idea?

[2021-08-20 13:05] theodab commented on #3510
This looks reasonable to me. I haven't seen this particular bug before, but I can see how it would be an issue. I wouldn't be too surprised if we had a few leftover bugs from our recent changes to how periods work, honestly, it was a big change.

I would just add an assert on the end that checks that only one track is marked as active. A regression test would be nice too, though if that's too comp

[2021-08-20 14:04] david-hm-morgan opened #3590 "Tizen hangs when trying to play sim live with Auto Low Latency true"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.2.0
also with v3.1.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Own custom app
https://otvplayer

[2021-08-20 23:54] joeyparrish commented on #3585
Perhaps the service hosting the manifest is intentionally denying you access to their content from a third party site.  This is not something we can help you with.  If you believe you should be able to access the content, try contacting the provider and asking them to allow you access from your site.