[2021-03-30 20:35] #1582 closed

[2021-03-30 20:42] TheModMaker commented on #3292
Codec switching is a browser feature.  Although Chrome is the first to add it, Tizen may add support eventually.  So it is still relevant.  Also, if codec switching isn't supported by the browser, then there is no way to switch codecs at all after playback has started.

We remove any tracks that don't match the current codec, which is why they don't appear in the track list.  Once #1528 is done, w

[2021-03-30 21:39] joeyparrish commented on #3261
You can also conveniently disable caching in your browser while doing development.  The chrome dev tools has a "disable cache" option in the network panel.  With that option checked, cache is disabled any time dev tools is open, and re-enabled when dev tools is closed (during normal browsing).  Hope that helps!

[2021-03-30 22:03] joeyparrish commented on #3257
What are we talking about replacing here?  The CSS URL?  Or the font URL from inside that CSS file?

[2021-03-30 22:16] joeyparrish commented on #3236
@nafees87n, it sounds like something is off, but I don't know what.

Two pieces of advice:
1. You shouldn't just copy that code.  You should refactor it instead.  Code duplication often leads to long-term problems.  Instead, consider moving the code to a more general utility method that both classes can use.
2. The code you're copying from may not be perfect.  When we use that calculation to seek

[2021-03-30 22:33] joeyparrish commented on #3264
@chanchalpatil, that flicker looks like it may be caused by rounding.  See `buildTimeString` in `ui/ui_utils.js`.  You can try changing `Math.floor` to `Math.round` in the seconds calculation, and see if that helps at all.  If so, feel free to send us a PR.  Thanks!

[2021-03-30 22:35] joeyparrish commented on #1705
Basically, yes.  I have a couple of test failures for which fixes are in review as of today, but the failures are only due to poorly-written test expectations.  The library is fully working on Xbox One as far as we can tell, and will be tested nightly on Xbox One as soon as these last fixes are merged.

[2021-03-30 22:46] #1705 closed

[2021-03-30 22:47] joeyparrish commented on #1705
And by the time I wrote that message, I already had approvals I hadn't seen yet.  Thanks, @michellezhuogg, for the code review!

It is now official:  We support Xbox One.  :tada:

[2021-03-30 22:49] FireMasterK commented on #3257
I'd like to be able to load the fonts from my servers, so that I don't need to use Google's cdn just for the fonts.

For this case, I think the css can be omitted (requiring them to be loaded externally), or the fonts could be distributed along with the package (without linking gstatic).

[2021-03-31 08:57] dpaou commented on #3292
providing a preference of codecs is definetely a good idea since we can provide this as a setting to our customers so they can choose between ac-3 or stereo codecs. Seems that #2179 is related to MediaCapabilities with 3.2 target

So, will monitor the #2179

[2021-03-31 09:07] enjikaka opened #3293 "Widevine licence setup causes glitch is currently playing audio"
I tried contacting widevine about this but they just responded with:

So sorry if this is considered a trash issue for the shaka-player project...

I actually think what I'm seeing is a recent Chromium bug, which we think also has existed pre Chrome v72. I tried several old shaka-player versions and I experience this glitch in all of them. I haven't tried any other Widevide JS-player though.

Shor

[2021-03-31 09:54] avelad commented on #3029
I think that it was resolved with https://github.com/google/shaka-player/pull/3044 and https://github.com/google/shaka-player/commit/d3640d1da15b6470deebd663f3f771c03864ab66 so it could be closed, what do you think?

[2021-03-31 09:56] david-hm-morgan commented on #3029
Yes its all been wrapped up already

[2021-03-31 10:09] chanchalpatil commented on #3264
Tried it out. It didn't work. I noticed that this happens when there is nothing more to buffer. I tried inspecting it, and think this could be the reason (screenshot below)

![1](https://user-images.githubusercontent.com/44722554/113128199-2ebe1d80-9237-11eb-8856-d5db626d0592.png)

![2](https://user-images.githubusercontent.com/44722554/113128205-3087e100-9237-11eb-9016-2918a80065ee.png)

[2021-03-31 10:39] #3268 closed

[2021-03-31 10:40] pedrosilvabos commented on #3268
I managed to integrate shaka

[2021-03-31 11:40] pedrosilvabos opened #3295 "Seamless Audiotrack change, current player time position"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
YES

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
3.0.10

**Please ask your question**
Hello, I am able to change the audio language for my DASH + Widevine, using the preferredAudioLanguage in the

[2021-03-31 12:46] kumarashu123 opened #3296 "Shaka-Player does not recognize left, right, and center positioning for VOD subtitles"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
2.5.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom App

**If custom app, can you reproduce th

[2021-03-31 12:51] kasmihmed commented on #1330
I wouldn't mind helping

i have an lg tv and I wouldn't mind helping out.

[2021-03-31 13:54] qba86 opened #3297 "Is possible run HLS Fair Play on Safari with useNativeHlsOnSafari: false?"
**What version of Shaka Player are you using?**
2.5.21

**Please ask your question**

Native support for HLS on Safari has disadvantages eg. in custom HttpXHRPlugin I can't detect segments requests.

So, is possible run HLS Fair Play on Safari with useNativeHlsOnSafari: false?

If yes, have you any examples?

[2021-03-31 13:58] avelad commented on #3297
It is not possible to do this. Failed to get FairPlay to work with MSE yet.

[2021-03-31 14:03] qba86 commented on #3297
ok, but generally is it possible for this time? If yes, is it on Shaka Player roadmap?

[2021-03-31 15:47] stefanovualto opened #3298 "Subtitles"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Didn't try

**Are you using the demo app or your own custom app?**
Demo app

**If custom app, can you reprodu

[2021-03-31 16:32] michellezhuogg commented on #3298
Hello @stefanovualto ,

1. For the vodDashMultiAudiowithOneText manifest, could you please point me to the AdaptationSet of "text" in the manifest?
2. For the vodDashWithMultiText manifest, we filtered the text streams and kept one, since the text streams have the same attributes other than RepresentationIds. The best way to fix that might be having different languages or labels for the text strea

[2021-03-31 16:34] #3029 closed

[2021-03-31 16:54] michellezhuogg commented on #3296
Hello @kumarashu123 ,

Would you please send us a sample manifest to reproduce and fix this issue? You can send it to shaka-player-issues@google.com if it's private.
Thank you!

[2021-03-31 17:03] michellezhuogg commented on #3295
Hello @pedrosilvabos ,

1. If you want to select an audio language after the playback starts, you can use `selectAudioLanguage()`.  See the APIs [here](https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html).
    If you want to set the 'preferredAudioLanguage' configuration, the player has to load the manifest again to apply that.
2. You can get the current time via `video.currentTime`.

[2021-03-31 18:17] naktinis opened #3299 "Seeking during initial update_ fetches all segments from 0 seconds to the seek location"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
v3.0.10.

**Can you reproduce the issue with our latest release version?**
Yes.

**Can you reproduce the issue with the latest code from `master`?**
Yes.

**Are you using the demo app or your own custom app?**
Custom app.

**If custom app, can you reprod

[2021-03-31 22:03] joeyparrish commented on #3296
Please also try your content in our demo app, which uses our UI for subtitle display.  Not all properties of subtitles are used in native (non-UI/non-DOM) display, as provided by the video element itself.  If this fixes the issue, we can guide you on either using our UI (recommended) or in using our UI's text display module without adopting the full UI.

[2021-04-01 01:07] kumarashu123 commented on #3296
Thanks for the quick reply.
I have tried my content in demo app, Subtitle does not display expected.
<style xml:id="style.right.outline" tts:fontFamily="Arial" tts:fontSize="100%" tts:fontStyle="normal" tts:fontWeight="normal" tts:backgroundColor="transparent" tts:color="white" tts:textOutline="black 2px" tts:textAlign="right"/>

As per style it should display right align but its displaying in cen

[2021-04-01 03:23] ronak2121 opened #3300 "Audio glitch at period transition"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.20

**Please ask your question**

We have audio only Dash streams stitched across multiple assets, some drm protected and others in the clear.

[2021-04-01 08:50] stefanovualto commented on #3298
Hello @michellezhuogg ,

Thank you for you quick answer.

1. I won't insist on that it seems to be a content issue (as often it is 😭 ). As you pointed no adaptionSet are available. And also because I tested first it on dashjs and it displayed a caption, Then I thought that something was wrong in shaka, but after testing this content on bitmovin/theoplayer/videojs/jwplayer none of them were display

[2021-04-01 10:01] pedrosilvabos commented on #3295
Hello @pedrosilvabos
That was perfect! Thank you so much.
Just one last question, and this might be a little off since I understand you develop shaka player and not any specific integration with any platform.
I am developing for WebOS and Tizen, and I am trying to use player.trickPlay() to do fast forwarding or rewind.
In WebOs negative values on trickplay, in fact work it rewinds, positive values

[2021-04-01 13:04] surajkumar-sk opened #3302 "Major bug with Shaka. Why didn't anyone notice this Before"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
latest

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
yes

**If custom app, can you reproduce the issue

[2021-04-01 13:05] surajkumar-sk commented on #3302
I'll delete this by tomorrow. 😂

[2021-04-01 13:13] aditmehta9 opened #3303 "Double-tap to seek on mobile"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Describe the solution you'd like**

There is a replay icon in the video element when viewed in the browser but not in mobile view so the replay icon can be added.
Addition of the feature like youtube in mobile which allows fast forward on double click on right side of the screen and rewinds on the le

[2021-04-01 15:03] FireMasterK commented on #3186
Closing as I managed to fix this, when I moved my player to a new component, everything fixed itself.

[2021-04-01 15:03] #3186 closed

[2021-04-01 15:21] Sayan-dev commented on #3261
The bug still  exists . I might be able to fix this. Shall I proceed?

[2021-04-01 16:11] joeyparrish commented on #3296
Thanks!

[2021-04-01 20:42] michellezhuogg commented on #3298
When we combine the streams across periods, we only have the streams in each period, and don't have the adaptation set ids.  We do have the representation ids stored as the "originalId" for each stream, however we don't use that as distinctions between streams.

[2021-04-01 21:12] joeyparrish commented on #3302
🤣  Let's call it "working as intended".

![poster](https://user-images.githubusercontent.com/6843156/113354598-44dde380-92f4-11eb-9c59-4f1a2c99e3f6.gif)

Happy April!

[2021-04-01 21:38] stefanovualto commented on #3298
Thank you for improving my understanding.

Do you think it is something that could be used in the `filterOutTextStreamDuplicates_` at some point?

If not I would be interested about the reason for that. Because again, I am in the learning process and I would love to understand which use cases could create issues and it will help me to argue for the content to be changed.

Thank you again for your

[2021-04-01 21:40] #3097 closed

[2021-04-01 21:40] #3248 closed

[2021-04-01 22:21] michellezhuogg commented on #3298
If the two streams have the same other attributes but different representation ids, they are different streams.
However, when displaying the streams to the users, having both the streams with same languages and roles makes it hard for the user to know which to select, and the IDs aren't meant to be displayed to the user.
Thus, we think a better way to distinguish between them would be different la

[2021-04-01 22:36] joeyparrish commented on #3261
Doesn't look like there are any open PRs for this right now.  I made suggestions on an approach here: https://github.com/google/shaka-player/issues/3261#issuecomment-804206315  Though I could also be wrong.  Have fun!

[2021-04-01 22:55] stefanovualto commented on #3298
It makes sense from a user point of view.

Thank you again for helping!

[2021-04-01 22:55] #3298 closed

[2021-04-02 04:42] aditmehta9 commented on #850
@joeyparrish I took a cryptography elective in my third year so the 'Support AES-128 on HLS' project interests me. I am familiar with https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/encrypt and how to add encryption keys in manifest but I don't have a general idea if some clear path on how to start would be provided It will be helpful.

[2021-04-02 04:49] aditmehta9 commented on #3303
If someone wants to work on this issue for part one, one has to do a similar thing like this [PR](https://github.com/google/shaka-player/pull/3253) for big play button file.

[2021-04-02 07:12] dave1981 opened #3304 "Ad click's management"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
I don't know

**Are you using the demo app or your own custom app?**
custom app

**If custom app, can you rep

[2021-04-02 13:54] surajkumar-sk commented on #3261
@joeyparrish correct me if I am wrong, In your comment [#3261 (comment)](https://github.com/google/shaka-player/issues/3261#issuecomment-804206315) you said

But defaultPlaybackRate still returns 1 which is already being set. and the playback speed resets, I might have missed something because i didnt understand the last part .

And also with my previous PR experiences, I would like to discuss my

[2021-04-02 16:40] ismena commented on #3139
Hi @apilaszkiewicz
Seems like the content is no longer available. Could you please verify/update the manifest? Thanks!

[2021-04-02 16:41] michellezhuogg commented on #3261
Kind of, however thank you for looking into the issue and trying to fix it!
We have a fix for it and will be out soon :)

[2021-04-02 16:42] #3302 closed

[2021-04-02 17:24] ismena commented on #3304
@dave1981 Our fault! Somehow that particular event slipped through the cracks when we were adding the 'originalEvent' fields. I have a CL out to fix it!
Regarding the preventDefault issue - my guess is, you will have better luck setting it on the original event once you have access to that. Our event doesn't redirect to another page, it's the IMA event that does.

[2021-04-02 17:52] #3261 closed

[2021-04-02 18:00] #3304 closed

[2021-04-02 18:01] ismena commented on #3304
Okay, please try now with the latest master

[2021-04-02 18:21] surajkumar-sk commented on #3261
I am starting with lib files tommorow. I am done trying to solve issues within ui.

[2021-04-02 18:33] apilaszkiewicz commented on #3139
@ismena its back online, we had ~3 hours of downtime due to server error.

[2021-04-02 18:36] ismena commented on #3139
Look how lucky I am! :)

I found the root cause and am considering the best way to address it. I should have a fix for this next week.

[2021-04-02 18:50] mbvenu commented on #2071
Hey @joeyparrish any update here in 2021 ?

[2021-04-02 19:06] michellezhuogg commented on #2071
Hello @mbvenu, we haven't got time to add that yet. I just marked it as "contributions welcome" to see if anyone is interested to work on it :) Thank you!

[2021-04-02 21:36] #3070 closed

[2021-04-02 22:36] #3194 closed

[2021-04-03 16:42] Ketan2010 opened #3305 "Update icon doesn't work for 'muted' attribute."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
Latest

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
Custom app

**If custom app, can you reproduce th

[2021-04-04 04:09] aditmehta9 commented on #2146
@joeyparrish thanks for the explanation I almost got it but can you please explain a little bit more on

`DrmEngine already has a private method for creating a ClearKey DrmInfo based on a config. You could make it public and generalize it to take input from the HLS parser, too. It works by turning key IDs and keys into a data: URI for the license server, which effectively lets the player inject ke

[2021-04-04 09:12] prsndp commented on #3305
Hi @Ketan2010 Can I work on this issue? Please assign me if it is open.

[2021-04-04 09:16] prsndp commented on #3303
Hi, @aditmehta9 I want to work on this issue. Please assign me if it is open.

[2021-04-04 09:18] aditmehta9 commented on #3303
I can't assign only members can assign.

[2021-04-04 09:25] prsndp commented on #3303
then,  @aditmehta9  how can I join as a member?

[2021-04-04 09:26] aditmehta9 commented on #3303
Sorry, I meant only members can assign you we can't be a member.

[2021-04-04 09:27] prsndp opened #3306 "Implement Download Button and Caption"
We can also implement a caption feature like YT videos and a download button in every video just like a youtube video so it will be easy for the viewer.

[2021-04-04 09:29] prsndp commented on #3303
Ooh!! sorry for the misunderstanding from my end.

[2021-04-04 09:29] prsndp commented on #3303
Ooh!! sorry for the misunderstanding from my side.

[2021-04-04 11:52] Ketan2010 commented on #3305
Hello @prsndp,
yes if you or anyone else would like to work on this can work. But I don't have rights to assign the issue.
Before start, I suggest you to let wait for suggestions/guidance from some experts.

[2021-04-04 12:41] prsndp commented on #3305
okay

[2021-04-04 18:24] michellezhuogg commented on #3306
We have that. Thank you!

[2021-04-04 18:24] #3306 closed

[2021-04-05 15:29] nbcl commented on #3217
Hello @prophet-x!

Are you still working on a fix for this issue?

Regarding the CSS classes, I think the solution should be approached on a new `:hover` declaration for the existing `shaka-controls-button-panel` class for the cursor (1), and via  the `shaka-overflow-menu` class for the overlapping overflow menu (2).

Please let me know if you need any help approaching the solution and I will be h

[2021-04-05 17:26] ismena commented on #3169
Alright, my fix for #3139 doesn't fix this :(
@theodab is stepping in to help me out and make sure this is solved for 3.1

[2021-04-05 18:18] #3305 closed

[2021-04-05 18:33] ismena commented on #2071
This might also be a good gsoc issue if anyone's interested.

[2021-04-05 18:50] lucksy commented on #3246
I have created this little tool and made some custom themes. Any _suggestions_ are welcome and appreciated :)

You can check and download the themes from here: (You have to put downloaded theme under web server to test it)
https://lucksy.github.io/shaka-player-themes/

Check the codes from here and  _issues_, _contributions_ are welcome too :)
https://github.com/lucksy/shaka-player-themes

[2021-04-05 19:06] #3213 closed

[2021-04-06 06:43] avelad opened #3311 "EMSG events in Google DAI"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?** Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 3.0.10

**Please ask your question**
I have seen that in the Google DAI project they have uploaded an example of integration with the Shaka Player

[2021-04-06 09:52] meryacine commented on #3284
@ismena I think this part
[code]
should also be here https://github.com/google/shaka-player/blob/b4595d5a594f64e813a7d40f8e1a1bc77a3589dd/ui/less/ad_controls.less#L32 based on this commit https://github.com/google/shaka-player/commit/655493f441f8840ac8f4b9f3053323bfbd1292f7.

Doing so leaves the SkipAd button too high .

![Screenshot1](https://user-images.githubusercontent.com/56920956/113687200-5

[2021-04-06 12:21] kovaletsyurii opened #3312 ""Error: State error" while adding external vtt subtitles at IOS safari"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.18

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
My custom app

**If custom app, can you reproduce

[2021-04-06 12:43] kumarashu123 commented on #3296
Unfortunately the manifest cannot be shared (it is a paid content and is owned by our customer), but is it possible to debug based on this ttml

[code]

[2021-04-06 12:51] danishshard-byjus opened #3313 "Initialisation fails with this error: (Failed to execute 'createMediaKeys' on 'MediaKeySy…ccess': EME use is not allowed on unique origins"
`

**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10

**Please ask your question**
I am trying to open encrypted video in React webview and my webview is not hosted anywhere. Android opens

[2021-04-06 15:47] mbutan opened #3314 "Cast failing while playing encrypted content?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Please ask your question**
I've been trying to cast encrypted video content on my TV. However, when only try to load encrypted content wi

[2021-04-06 16:55] TheModMaker commented on #3314
If you need a custom request/response filter, then you need to create a custom receiver app to include your filter.  There is no way to send functions across the cast channel to the common receiver.  You can checkout [our cast receiver](https://github.com/google/shaka-player/blob/master/demo/cast_receiver/receiver_app.js) for an example.

[2021-04-06 16:58] TheModMaker commented on #3313
`EME use is not allowed on unique origins` is an error from the browser.  We can't change this behavior.  EME isn't available when using `file://` URLs.

[2021-04-06 17:32] danishshard-byjus commented on #3313
Is there any other-way to run the encrypted video on a file URL.

[2021-04-06 19:35] ismena commented on #3312
Hi @kovaletsyurii
Do you think you can give us the manifest and the subtitle track uri for the repro?
I think only the subtitle uri should work too.

In Safari, we use its native hls implementation unlike in other browsers. My guess is, something might be going wrong with that (either we have a bug or Safari is rejecting the track for some reason), but we'll need a repro to be sure what's going on

[2021-04-06 19:44] TheModMaker commented on #3313
No, the only way to play encrypted videos is with EME.

[2021-04-06 19:50] ismena commented on #3284
@meryacine Ah, good point about the structure having changed in 655493f. Let me assign it to myself for investigation. As there's community interest on working on this, I won't fix anything and will just update the issue with the best course of action.
I'll try to look at this next week.

BTW, what browser did you use for the screenshots? The volume slider's thumb looks messed up :(

[2021-04-06 19:57] hvgotcodes opened #3315 "Need better documentation for using captions/subtitles when not using Shaka UI"
This is on latest chrome with shaka-player 3.0.10

I have some video streams with a single embedded CE-608 caption.  I can play the video stream but can't get the captions to display.

From reading closed PRs I've pieced together that I need to have mux.js available, with `forceTransmuxTS: true` in the streaming config,  and tried code

[code]

I am unsure if that is all that is necessary to displ

[2021-04-06 20:08] ismena commented on #3311
Ahh! How come I know so little about the whole emsg event business?!
If it's working then I probably either wrote or reviewed it, but my mind id just going blank!

So, emsg events signal current ad state, is that right?

[2021-04-06 23:47] michellezhuogg commented on #1525
Closing the issue due to inactivity. If anyone has further questions or comments, please open another new issue. Thank you!

[2021-04-06 23:47] #1525 closed

[2021-04-07 02:52] meryacine commented on #3284
Oke :D ,
the browser was chrome, but firefox does the same, this happened when i used lessc[v4.1.1] to compile the controls.less instead of lessc[v3.13.1] used by build/app.py

[2021-04-07 05:26] tomraut commented on #3133
Yes, thanks.

[2021-04-07 05:26] #3133 closed

[2021-04-07 06:10] dave1981 commented on #3304
I'm working with npm package, so I prefer to wait the next release. Thank you for your help!

[2021-04-07 06:13] avelad commented on #3311
Well, precisely this part I did not know, that's why I asked you ...

Do you know someone within Google to ask about this?

[2021-04-07 07:09] kovaletsyurii commented on #3312
Hi @ismena, Thanks for replying. Unfortunately I can't provide the manifest and subtitle tracks because of security reasons of my project, but I've also tried with [this subtitles](https://gist.githubusercontent.com/samdutton/ca37f3adaf4e23679957b8083e061177/raw/e19399fbccbc069a2af4266e5120ae6bad62699a/sample.vtt) track from github gist and got the same error.

[2021-04-07 09:52] avelad commented on #3312
@kovaletsyurii Can you try with 3.0.10 and the master branch? In the master branch I have made several changes related to addTextTrack and the new addTextTrackAsync

[2021-04-07 13:18] cidevant commented on #2862
Hi, I am colleague of @JakubRimal

Yes, it improved startup a lot, nearly instant play, no freezes. But abr is not working now, it plays in lowest resolution.

[code]

[2021-04-07 13:24] valotvince commented on #1495
Hey @swenkeratmicrosoft 👋 I hope this message finds you well !

Do you know of any limitations concerning audio encryption when having a hardware PlayReady key session ?

I've read this documentation https://docs.microsoft.com/en-US/windows/uwp/audio-video-camera/hardware-drm and this particular point

We use different streams in our company, some with the audio encrypted, some without and here ar

[2021-04-07 14:36] valotvince commented on #1495
Hey @joeyparrish,

Would you consider adding #3276 and  #3301 into Shaka v3.1 milestone, so this issue would also be closed in v3.1 ?

Best,
Vincent.

[2021-04-07 19:17] michellezhuogg commented on #1495
Done!

[2021-04-08 02:40] michellezhuogg commented on #3246
@lucksy, this looks fantastic! Thank you for your work!
Would you like to add a paragraph to introduce your themes website in our [tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-ui-customization.html)?

[2021-04-08 06:48] valotvince commented on #1495
@michellezhuogg Thanks !

[2021-04-08 10:59] avelad opened #3316 "Allow banning of certain video codecs from a certain resolution"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**Is your feature request related to a problem? Please describe.**

I am in the middle of a transition to support H264 and H265 on some devices and I am finding that in 4K (2160p) I have problems with H264 videos in 4K but not in H265.
The specific device is the Xbox One and the Xbox Series

**Describe

[2021-04-08 16:45] ismena commented on #3304
@dave1981 I meant that you can test it on the master to see if the change covers everything you needed.
For production use - yes, it will be in the upcoming v3.1 release.

[2021-04-08 17:21] ismena commented on #3311
Ah, ok. Sorry, I didn't look at the IMA sample code closely when I wrote the first comment.

I need to sync with the IMA team on that - that example is based on our code from before our IMA integration. If you're using our integration, it shouldn't be relevant for you.

**Tl;Dr:** We're doing the same thing they are and this is already part of the library.

Regarding the way it currently works wit

[2021-04-08 17:51] TheModMaker commented on #3316
This would be really complex to configure and a rare edge case that most won't need.  What problems are you seeing?  If this is consistent, we may want to filter these out in the library.  But in general, I think there are two options you could use in your app to do it.

First would be to hook `MediaSource.isTypeSupported` to return `false` for values you don't want us to use.  We also pass the wi

[2021-04-08 18:59] ismena commented on #3284
Okay! So, it looks like now that the IMA iframe is inside the `shaka-client-side-ad-container`, [this code](https://github.com/google/shaka-player/blob/master/ui/less/ad_controls.less#L40) needs to move from the `controls-container` into the `client-side-container`.

It also seems like we no longer need the z-index setting.

[2021-04-08 20:40] nimishsinghal opened #3318 "List and play partially offline video"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.4

**Please ask your question**
I have a use case where I want to list and play partially downloaded offline video. If the user reaches the en

[2021-04-09 06:49] avelad commented on #3311
It makes sense to me, but a double check with the IMA team wouldn't be bad.

[2021-04-09 06:52] avelad commented on #3316
I have found that using WebView2 (Edge Chromium) and using MediaCapabilities this problem does not exist. So I'm going to use your second suggestion for the moment, because this will be corrected in a future version and also, as you comment, it would be difficult to implement.

Thanks @TheModMaker !

[2021-04-09 06:52] #3316 closed

[2021-04-09 10:17] theodab commented on #3199
Alright. With the new repro steps and video you produced, I was able to reproduce this issue. Thanks for your patience!
I'll look into why this is happening. It does feel like a bug to me, you're right, so for now I'm marking it as a bug.

[2021-04-09 10:38] kovaletsyurii commented on #3312
<img width="317" alt="Screenshot 2021-04-09 at 13 33 20" src="https://user-images.githubusercontent.com/15369125/114167862-28672a00-9938-11eb-93b2-dfe4bd66ec3f.png">
@avelad I've try with code from _master_ and **addTextTrack** / **addTextTrackAsync** methods and got another one error. In web browser all still works as before.

[2021-04-09 15:39] anshgo01yal opened #3319 "Improve demo config styles (hover effects, spacing)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-09 16:59] toschlog opened #3320 "Stereo tracks with captureSteam"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What version of Shaka Player are you using?**

3.0.10

**Can you reproduce the issue with the latest code from `master`?**

Have not tried.

**Are you using the demo app or your own custom app?**

Custom app.

**If custom app, can you reproduce the issue using our demo app?**

Have not tried.

**Wha

[2021-04-09 17:24] ismena commented on #3311
The part about EMSG events is in sync with the IMA team.
I'll reach out to them about using our updated code in their examples.

[2021-04-09 17:24] #3311 closed

[2021-04-09 18:32] TheModMaker commented on #3320
My guess is the browser is exposing the input streams, which will be combined stereo.  Since the input files are stereo, there is no way to get the original left and right tracks.  You may be able to use the Web Audio APIs and the [ChannelSplitterNode](https://developer.mozilla.org/en-US/docs/Web/API/ChannelSplitterNode) to split the stereo data into mono tracks.

[2021-04-09 18:43] pajong opened #3322 "Live DRM on Chrome buffers for an extended period of time on Chrome"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo App

**If custom app, can you reproduce the

[2021-04-09 18:44] michellezhuogg commented on #3315
Hello @hvgotcodes , would you please share your manifest with us, so that we can reproduce?

[2021-04-09 18:57] meryacine commented on #3284
can u also look at this issue for server-side-ads
![Screenshot from 2021-04-09 20-52-35](https://user-images.githubusercontent.com/56920956/114227792-bd3c4880-9975-11eb-9db2-cfe0d2f3f553.png)
caused by inherited ```flex-shrink: 0```, can be fixed using ```.shrinkable();``` here https://github.com/google/shaka-player/blob/2f65b97b79c9b9dfde1b95afadf7c790827054c7/ui/less/ad_controls.less#L24

[2021-04-09 19:32] TheModMaker commented on #3319
Can you describe more what you are asking?  I'm not sure what you mean.  If you want to change the configuration in the hosted demo, you can click the gear icon the the top-left of the site.  In your own site, you can change configuration with `player.configure(...)`.  See the docs [for the function](https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html#configure) and [the object](https

[2021-04-09 20:53] ismena commented on #3312
I can get a repro with the subtitle track provided by @kovaletsyurii
Here is what I see: the track is added to the video element, but its kind is changed from "subtitles" to "metadata" in the internal structure of the video object, so it doesn't show up when we query for subtitle tracks.

The video DOM element in the console after adding the track:
[code]
The textTracks on the video object in the

[2021-04-09 21:56] sonicd300 commented on #3315
@hvgotcodes by any chance are you using safari? I've had to create my own captions selector and filter out an automatically added track which is something that safari does in response to a really old issue, this track will exist in the DOM no matter what (in the safari case).

@michellezhuogg Manifest aside it would be very helpful to have documentation related to how to side load text tracks that

[2021-04-09 23:04] toschlog commented on #3320
I was mistaken about expecting two tracks.  Instead I would expect one track with two channels.  However, when I look at the dictionary returned by MediaStreamTrack.getSettings() there's no channelCount field so I just don't know if it's stereo or not.

At any rate, this probably isn't a Shaka Player issue.

[2021-04-10 17:13] mbutan commented on #3314
@TheModMaker thanks the answer was helpful

[2021-04-12 05:37] nbcl commented on #3303
Hello @prsndp!

Are you still working on a fix for this issue?

Please let me know if you need any help approaching the solution and I will be happy to help!

[2021-04-12 08:01] BucherTomas commented on #3312
If the vtt file is pulled from another domain, it might be just that the `<video>` element in this scenario requires `crossorigin="anonymous"` as explained here [https://docs.videojs.com/docs/guides/text-tracks.html#subtitles-from-another-domain](url).

Recent Safari versions require presence of this atribute as we found out in our own project, but it affected also desktop Safari, while it seems h

[2021-04-12 09:02] matejpolak opened #3323 "Cannot read property 'numEvicted' of null"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
- v3.0.10-uncompiled => Doesn't work
- NIghtly => Doesn't work
- v2.5.21-uncompiled => WORKS
- v3.0.0 => WORKS
- v3.0.4 => WORKS

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from

[2021-04-12 09:10] matejpolak commented on #3323
We think the issue was introduced by this commit: https://github.com/google/shaka-player/commit/78357ed785bdf450df6935943723f4c2bafae6ae#diff-92459c1ec7439406243574f6cd8513afcce5b68cd6f2f14c549e25025677069c

[2021-04-12 10:39] surajkumar-sk commented on #3142
@joeyparrish If I understand this issue correctly, `hlsparser.js` tries to guess the MIME type inside `guessMimeType_(...)`. It starts with checking the extension of URI inside the first found segment type  `EXT-X-MAP`. when it fails to map it to any audio, video, or text it attempts to send a Head request to segment URI, it gets the header of URI as a response. If it fails to get any extension in

[2021-04-12 11:57] anshgo01yal commented on #3319
hello,
actually I am talking about demo-website. Its demo configration does'nt look decent. do I work upon it?

[2021-04-12 12:13] prsndp commented on #3303
HI @nbcl! Yeah, sure. I'm working on this issue.
There is any deadline for this?

[2021-04-12 14:56] nbcl commented on #3303
As far as I understand, there should not be any because it is not currently assigned to any milestone or label!

Let me know if I can be of help!

[2021-04-12 15:54] #3313 closed

[2021-04-12 16:09] anshgo01yal opened #3324 "cannot load browser "chrome""
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**

**Please ask your question**
![errors2](https://user-images.githubusercontent.com/58463645/114425649-e9a2cf80-9bd6-11eb-9cfd-36a8ad1aa0cc.PNG)

hello eve

[2021-04-12 16:14] michellezhuogg commented on #3319
Hello @anshgo01yal, thank you for letting us know that the configs don't look good to you. If you are talking about the attributes of the [configurations](https://shaka-player-demo.appspot.com/docs/api/shaka.extern.html#.PlayerConfiguration), we need to keep them as they are.
If not, please give us an example of your solution to make them look better. Thank you!

[2021-04-12 16:48] TheModMaker commented on #3324
Try `Chrome` (capitalized).  Also try `--browsers help` to see a list of valid browsers.

[2021-04-12 17:06] anshgo01yal commented on #3324
@TheModMaker thanks for helping. I did the same and it works. but now I am getting bunch of errors with the execution of time of almost 35 mins
![errors3](https://user-images.githubusercontent.com/58463645/114433433-7487c800-9bdf-11eb-86b4-8c6bacc17f10.PNG)

[2021-04-12 17:34] ismena commented on #3284
Yeah, you'll need to string server side and client side containers together in the less file, so it's applied to both.
Re: button being too high - I can live with the way it is, but you can also adjust the percent value applied to the iframe. If you do, verify that it works in fullscreen and in all major browsers.

You can go ahead with the` .shrinkable()` fix, that LGTM.

[2021-04-12 18:08] ismena commented on #3139
Update: the fix is in review. It's failing some tests now, so it might be a few days until it's merged, but it's 100% on track for v3.1 release.

[2021-04-12 18:10] surajkumar-sk commented on #3324
@anshgo01yal I cloned the latest version of shaka-player and ran `python ./build/test.py --browsers Chrome` on default cmd of Windows 8.1 chrome version 89.0.4389.114 and all the tests ran successfully within 7 minutes 10 seconds. I guess your issue is similar to #3215. I am not sure but it doesn't hurt to try. the solution that worked was staying on cmd rather than using other applications while

[2021-04-12 18:11] ismena commented on #2657
I'm moving this to the backlog for now as it has lower priority than other 3.1 issues.

It will stay assigned to me, so I have it on my radar, but it won't distract the rest of the team.

If we can squeeze it in, we will, otherwise it'll go out in a later release.

[2021-04-12 18:15] ismena commented on #1495
@valotvince @michellezhuogg with #3276 and #3301 merged, can we consider this issue resolved? Or is there anything else that needs to be done here?

[2021-04-12 18:36] anshgo01yal commented on #3324
@surajkumar-sk  i tried all the stuff u said i run it in cmd and tried everything written on #3215 but still results are same.
my first error look like Error: Timeout - Async function did not complete within 120000ms (set by jasmine.DEFAULT_TIMEOUT_INTERVAL)
            at <Jasmine>

[2021-04-12 18:39] avelad commented on #3169
@theodab @ismena do you have any update?

[2021-04-12 18:40] surajkumar-sk commented on #3324
@anshgo01yal is the error message same for all your tests. can you repost the screenshot at the point where the Failed starts?

[2021-04-12 19:04] anshgo01yal commented on #3324
![success](https://user-images.githubusercontent.com/58463645/114447409-026baf00-9bf0-11eb-918f-2bf5ce967fc5.PNG)

i closed each and everything of my pc. and run it again in cmd. this i actually got success but it skipped around 40 files and initially chrome starts with local host and at the end it closes automatically

[2021-04-12 19:11] surajkumar-sk commented on #3324
@anshgo01yal it's the same for me. staying on cmd while the tests are running does work. I just don't know why. tried googling but nothing, I don't think it's even a thing like karma works only when you stay on cmd. well, it's windows, weird things happen. 😂

[2021-04-12 19:18] anshgo01yal commented on #3324
@surajkumar-sk are u facing the same issue of skipping around 40 files with no output????
plz look  at the image I send recently.

[2021-04-12 19:23] anshgo01yal commented on #3319
hello @michellezhuogg,
![con1](https://user-images.githubusercontent.com/58463645/114449559-7f982380-9bf2-11eb-96bb-390117d5ef23.PNG)
I can make it better may I try.

[2021-04-12 19:27] TheModMaker commented on #3324
That is expected, we don't run all the tests on every browser.  Some browsers don't support every feature we want to test.  We also don't run certain tests by default that touch the network or use EME.  You can run more tests with `--external --drm`, but they will take a bit longer.

[2021-04-12 19:28] surajkumar-sk commented on #3324
@anshgo01yal yes even I am facing the issue of skipping 40 tests. I don't think it's a problem, it can be ignored. You can start coding with shaka-player.

[2021-04-12 19:29] ismena commented on #3319
@anshgo01yal Please describe what do you find confusing about the current configuration and your proposed solution. Include screenshots for visual changes.

[2021-04-12 19:52] anshgo01yal commented on #3319
hello @ismena, I want to include some hover effects and add some padding in configuration to make it little more spacy.

[2021-04-12 20:13] ismena commented on #3319
I'm fine with that, you can proceed with a PR.
Make sure to verify your work on all major browsers and OSs.

[2021-04-12 20:57] joeyparrish commented on #3295
@pedrosilvabos, for fast-forward, we set playbackRate on the video element.  But no browser supports negative playbackRate, so we simulate it with repeated seeking on an interval to rewind.

We don't have a WebOS device, so we were unaware that it didn't support playbackRate to fast-forward.  If this is the case, you could add a check for WebOS and use the same method for fast-forward that we do f

[2021-04-12 22:38] mjneil opened #3327 "Error MANIFEST.PERIOD_FLATTENING_FAILED for MPD with multiple audio tracks"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
shaka-player demo page, v3.0.10 at time of writing

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
demo

[2021-04-12 22:45] #3314 closed

[2021-04-13 10:54] prsndp commented on #3303
Yeah Sure!

[2021-04-13 14:48] avelad commented on #2327
@joeyparrish , I know you've been busy, have you been able to work on this solution for both HLS and DASH? Do you have any update? I'm sure this could fix a lot of WebOS bugs.

[2021-04-13 14:54] #3320 closed

[2021-04-13 14:56] valotvince commented on #1495
@ismena Yep, this should be resolved

[2021-04-13 15:00] joeyparrish commented on #1495
Thanks!

[2021-04-13 15:00] #1495 closed

[2021-04-13 15:20] #3324 closed

[2021-04-13 15:34] michellezhuogg commented on #3315
@sonicd300 ,
We hear you! We'll add tutorial for displaying captions. If anyone wants to contribute, that's welcome as well!
Reference: https://github.com/google/shaka-player/issues/3241#issuecomment-801215127

[2021-04-13 17:16] ismena commented on #3303
You are correct, if the issue is not assigned to a milestone, there is no deadline.
@prsndp  @nbcl I'm assigning you both per your interest.

[2021-04-13 17:45] anshgo01yal commented on #3319
@ismena can you please assign me to do this task

[2021-04-13 17:50] ismena commented on #3319
Done

[2021-04-13 18:08] nbcl commented on #3303
Great!

@prsndp, feel free to create a pull request or draft with your updates whenever you feel ready, and I will make sure to check in and provide any feedback that could be useful if it was needed.

I can also provide feedback on your personal fork if you point me to a specific branch if that is what you prefer!

Let me know!

[2021-04-13 18:22] #3312 closed

[2021-04-13 18:28] joeyparrish commented on #2327
Sorry, I was not able to complete the work.  It was getting a little complicated, and I was pulled away onto other projects.  Looking at what I had in my local branch, I'm not sure it's worth rebasing.

Please accept my apologies for not updating this thread!  If anyone wants to work on this, feel free to start with [the patch I posted](https://github.com/google/shaka-player/issues/2327#issuecomme

[2021-04-13 18:38] prsndp commented on #3303
@nbcl Yeah Sure!

[2021-04-13 20:45] joeyparrish commented on #2862
Forcing the lowest res wasn't proposed as a solution, but just as a debugging step, to help us understand the device's behavior.

If forcing the player to use a lower resolution eliminates the freezing behavior, then it could be that the bitrate or resolution can't be handled by the device.  It could also be that some difference in the encoding profile in the higher resolutions can't be handled by

[2021-04-13 20:56] #3142 closed

[2021-04-13 21:10] joeyparrish commented on #3318
I don't believe that would work today, but that's something we could consider.

Today, the manifest object lands in storage last, after all segments.  To support background fetch (#879), we would need to create the manifest first, with an "incomplete" flag, then store the segments, then update the flag to mark it as "complete".

This work could be done independently of background fetch itself, whi

[2021-04-13 21:24] joeyparrish commented on #2609
Closing due to inactivity.  If you need to reopen this issue, just put `@shaka-bot reopen` in a comment.  Thanks!

[2021-04-13 21:24] #2609 closed

[2021-04-13 21:25] joeyparrish commented on #2694
Closing due to inactivity. If you need to reopen this issue, just put @shaka-bot reopen in a comment. Thanks!

[2021-04-13 21:25] #2694 closed

[2021-04-13 21:26] joeyparrish commented on #2722
Closing due to inactivity. If you need to reopen this issue, just put @shaka-bot reopen in a comment. Thanks!

[2021-04-13 21:26] #2722 closed

[2021-04-13 21:27] #2797 closed

[2021-04-13 21:28] joeyparrish commented on #2882
It seems like this boils down to a duplicate of #2615.  @ismena, is it okay to close it as such?

[2021-04-13 21:28] joeyparrish commented on #2933
Closing due to inactivity. If you need to reopen this issue, just put @shaka-bot reopen in a comment. Thanks!

[2021-04-13 21:28] #2933 closed

[2021-04-13 21:29] joeyparrish commented on #3016
Closing due to inactivity. If you need to reopen this issue, just put @shaka-bot reopen in a comment. Thanks!

[2021-04-13 21:29] #3016 closed

[2021-04-13 21:29] joeyparrish commented on #3149
Closing due to inactivity. If you need to reopen this issue, just put @shaka-bot reopen in a comment. Thanks!

[2021-04-13 21:29] #3149 closed

[2021-04-13 21:29] joeyparrish commented on #3175
Closing due to inactivity. If you need to reopen this issue, just put @shaka-bot reopen in a comment. Thanks!

[2021-04-13 21:29] #3175 closed

[2021-04-13 21:30] joeyparrish commented on #3190
Closing due to inactivity. If you need to reopen this issue, just put @shaka-bot reopen in a comment. Thanks!

[2021-04-13 21:30] #3190 closed

[2021-04-14 18:05] ismena commented on #2882
@joeyparrish are you trolling me? :) Please close whatever you like! :p

// Closing as a duplicate of #2615

[2021-04-14 18:05] #2882 closed

[2021-04-14 18:41] pedrosilvabos commented on #3295
Thanks @joeyparrish
Currently I ended up going a different route (probably less performant) that captures the arrow key the user is pressing on the remote, pauses the video and just cycles on the timeline, once the user lets go of the button for some milliseconds I just set that time on the shaka.currentTime, hence the video jumps to the specific time.

However, I will check what you said and will

[2021-04-14 19:42] #3139 closed

[2021-04-14 19:46] surajkumar-sk commented on #3322
@pajong when hls Livestream video(shaka-player history video) is loaded in the demo page it plays the first 10 sec of video and then goes into buffering state for infinite time. This issue occurs in chrome, firefox, edge (all latest versions). I just wanted to confirm that is this issue and your issue same, or should I open a new issue for this.

Thank you.

[2021-04-14 21:28] pajong commented on #3322
@surajkumar-sk Thank you for checking the issue. Can you please check why the stream is buffering infinitely after a few seconds?

[2021-04-14 22:58] joeyparrish commented on #2595
Though this is 1) old, 2) outside of Shaka Player, I now have some WebAudio experience I didn't have when this question was first asked.  So here's a code snippet that I hope you find helpful.  You can paste this into the debugger on the Shaka Player Demo to get a crude visualization of the audio levels for stereo content, as well as sliders that let you adjust the gain for left and right independ

[2021-04-14 22:59] #2595 closed

[2021-04-15 14:10] hiren3897 opened #3333 "Negative Timeline Duration ( 8.57.53 / -14.-8 ) and Live Timline pointer at starting position (WRONG)"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
^3.0.10

**Please ask your question**
After loading the dash manifest ( LIVE ) in shaka-player I have a bad timeline number in the player you can

[2021-04-15 16:39] ismena commented on #3333
Hi @hiren3897
This is expected behavior for native browser controls at the moment. (At least when the player was launched) browsers didn't handle live timeline well. It might've changed since then, and we have [an action item](https://github.com/google/shaka-player/issues/3153) to investigate the current state, but the team haven't had resources to do that yet.

For a smooth UI experience on live

[2021-04-15 16:50] hiren3897 commented on #3333
Hello @ismena
Thank You for your reply. :)
So is it possible to achieve ( Resolve ) it using shaka UI ( For a smooth UI experience on live streams ) and
Does the action item link provided by you can resolve this :/ ?

[2021-04-15 17:06] joeyparrish commented on #3153
Just tried out the Chrome team's demo in ChromeOS 89, and the seeking UI doesn't work right.  The timecode is removed by setting duration to infinity, but the "seekable range" method does not change the seek bar at all.  With and without it, seeking does not work, and the seek bar position can't be moved.

[2021-04-15 17:10] joeyparrish commented on #3153
Seeking works with the video's currentTime member, but not with the UI.  I've reached out to the Chrome team to see if this is just a UI bug in Chrome or a MediaSource spec bug (if it's spec'd to work this way).

[2021-04-15 17:12] joeyparrish commented on #3333
The Shaka UI handles live stream timecodes and seeking appropriately for live streams, but the native controls in the browser do not.

Issue #3153 is to check to see if a new browser API resolves this.  It is meant to, but I just tried it, and it does not appear to work right on seeking.  We'll work with the Chrome team and the spec authors to try to fix this in the browser.  In the meantime, you

[2021-04-15 17:25] hiren3897 commented on #3333
Thank you @joeyparrish for your reply :)

Do we have any sample code for handling the live stream timecodes and seeking appropriately live streams? If NOT can you paste it here as a sample that can help me to resolve this. It would be a great help :)

Thank you in advance. :)

[2021-04-15 17:59] joeyparrish commented on #3333
We have a full tutorial on using our UI in your application: https://shaka-player-demo.appspot.com/docs/api/tutorial-ui.html

That UI will appropriately handle everything.

The API-based way to seek is the same either way, using the media element: `video.currentTime = ...;`

Does this answer your question?

[2021-04-15 18:28] surajkumar-sk commented on #3322
@pajong I checked the network log for knowing the cause of the error. I think that specific video(shaka-player history) is at fault here. First, the master playlist is fetched, then all the media playlists are fetched from the master playlist. It is live content so media segments should continuously be added at the end of the list of media playlists. But for that video media segments are not being

[2021-04-15 18:37] michellezhuogg commented on #3322
Hello @pajong ,

Your manifest looks no longer valid. Could you please confirm that it's still available for testing?

[2021-04-15 18:44] surajkumar-sk commented on #3322
@michellezhuogg

I didn't understand this, like do you mean the issue is not in the video, but it's something else.

Thank you

[2021-04-15 18:51] joeyparrish commented on #3322
Looks like our live stream encoder is hung.  I'm looking into it now.

[2021-04-15 18:53] avelad commented on #3169
@ismena @theodab Do you have an update on this issue? I am very interested.

[2021-04-15 19:17] joeyparrish commented on #3322
For the sake of record-keeping, the live encoder hung after encoding ~1.43 million segments, which is a runtime of ~66 days.  From timestamps in the files, it appears to have been hung since March 27 without anyone noticing (about 19 days ago).

I tried to reboot it remotely, but something went wrong, and I will have to drive to the lab and power cycle it manually.  It might stay down for another

[2021-04-15 19:25] surajkumar-sk commented on #3322
😂😂 . The first few seconds play normally, and when the loading starts I usually leave the page because I got the files that I needed from the network log by that time. It's probably the same for anyone else who visited. I noticed it after reading this issue. 😂

[2021-04-15 19:36] caridley opened #3334 "Variants that can be played are being removed when useMediaCapabilties=true"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
master branch commit 4c975621a0110a7e6d21be2b8e2cebeb80e1cb1c

**Can you reproduce the issue with our latest release version?**
no problem does not occur with 2.5.20 or 3.0.10

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are

[2021-04-15 19:37] caridley commented on #3334
[shakaMissignVariants7LQN.zip](https://github.com/google/shaka-player/files/6320692/shakaMissignVariants7LQN.zip)

[2021-04-15 20:10] surajkumar-sk commented on #1762
I didn't understand the issue, the `Name` in the `type=audio` tag can represent anything. In all the videos of HLS in Shaka-player Demo, the name tag has names like "stream_0 || stream1 || stream2", so, it's not a reliable source for naming language.

[2021-04-15 20:41] michellezhuogg commented on #3334
Hello @caridley , thank you for reporting that!
The link of the license server URI looks invalid with our [demo app](https://nightly-dot-shaka-player-demo.appspot.com/demo/#audiolang=es;textlang=es;uilang=en;asset=https://dluxvod.spectrum.com/DASH_DRM/XPMV0001609509701001/out.ism/manifest.mpd;license=https://pi-lite.spectrum.net/licenseServer/widevine/v1/twc/license;panel=CUSTOM%20CONTENT;build=un

[2021-04-15 22:07] caridley commented on #3334
@michellezhuogg  I don't have an account that I can share with access to that stream at this time, but I think you will find that you can observe the problem without a valid license URL, by setting a break point in shaka.util.StreamUtils.filterManifestByDrm() where the variants are being removed prior to making any license request.

[2021-04-15 22:25] michellezhuogg commented on #3334
@caridley Thank you! I verified that, and will work on improving that.

[2021-04-16 07:11] bro14045 opened #3335 "Content Play, but there is an error LICENSE_RESPONSE_REJECTED ERROR 6008"
**What version of Shaka Player are you using ?**
Shaka Demo Page

**What version of Shaka Packager are you using ?**
The latest version v2.4.3
https://github.com/google/shaka-packager/releases

**Are you using the demo app or your own custom app?**
Both

**What browser and OS are you using?**
Chrome 89 and Firefox 87 on Windows OS

**What are the manifest and license server URIs?**
Manifest :
http

[2021-04-16 07:13] hiren3897 commented on #3333
Yes, Thank you so much :)

[2021-04-16 08:47] krackjack234 opened #3336 "Widevine Drm content with resolution 720p not playing properly"
**What version of Shaka Player are you using?**

https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;videoRobustness=HW_SECURE_DECODE;uilang=en-US;asset=https://jiostreamingdash.akamaized.net/content/entry/wvdata/41/61/9921a6509d3c11eb9d701d0d3ea6acd1_voot_androidtv_standard.mpd;license=xxx;panel=CUSTOM%20CONTENT;build=uncompiled

**Please ask your question**
We are trying t

[2021-04-16 10:21] hiren3897 commented on #3333
Once Again Thank you so much @ismena @joeyparrish
My problem is resolve and I have a good UI :)

[2021-04-16 10:21] #3333 closed

[2021-04-16 13:51] kovaletsyurii commented on #3312
Thanks all for answers, now I've cloned the master branch and build it locally, then I import player build from dist folder and get the same error as I've attached previously, then I've tried to serve vtt file locally to avoid any crossorigin requests and it didn't help(

[2021-04-16 14:10] caridley opened #3338 "Gap jumping improvements"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**Is your feature request related to a problem? Please describe.**
Frequent stalls when there DAI related gaps in the timelines in our streams.

In our testing we have found the following issues that are not handled optimally by the gap jump controller.

1) At period transitions we sometimes see an off

[2021-04-16 15:25] caridley opened #3339 "Add support for preprocessing dash manifests"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**
On several occasions we have had to perform pre-processing on DASH manifest, to correct anomalies in the manifest.

Remove empty audio representations
Remove TTML adaptation sets that were causing problems
Change maxSegmentDuration

Cur

[2021-04-16 19:04] mirco1000 opened #3341 "add multi subtitles tracks"
hello,
i'm newer on shaka player UI , I added 2 subtitles tracks in my .mpd but I don't see them displayed on the player except by adding them by the method addTextTrackAsync, what I want is to add them somehow automatic that's why I need your help
is there a way to get the downloaded manifest at the beginning so that i can parse it
thank you

[2021-04-16 20:36] dsparacio commented on #2867
We are seeing great improve on our LG and Samsung device in 3.0.10.  Regardless if directly or indirectly reslved by the work, we are in a better place and very thankful for your help on this.

[2021-04-16 20:38] dsparacio commented on #2179
@michellezhuogg. This is high priority for us at ViacomCBS,  wondering if there is anything we can help with?  How far along are you with this enhancement?

[2021-04-16 20:50] joeyparrish commented on #2867
Okay, great!  It sounds like this is solved by v3.0.9/v3.0.10 and #3191.  Thanks for the update!

I'll go ahead and close this as solved, but if I'm mistaken, just put `@shaka-bot reopen` in a comment.  Thanks!

[2021-04-16 20:50] #2867 closed

[2021-04-16 21:34] michellezhuogg commented on #2179
Hello @dsparacio ,
Here's the currently status:
Phase 1 -- Using `MediaCapabilities.decodingInfo()` instead of `MediaSource.isTypeSupported()` is mostly done and is in the master branch. We're launching v3.1 soon, and we're planning to implement Phase 2 -- providing configurations for codec preferences after v3.1.

Meanwhile, you're welcome to send us pull requests for that! Let me know if you hav

[2021-04-16 21:43] mirco1000 commented on #3341
by comparing my manifest file with others that I found on the web I made corrections and it worked, I followed the example on the doc to generate the manifest file
``
./packager source.mp4, stream = audio, output = audioeng.mp4 in = source.mp4, stream = audio, output = audiospa.mp4 in = spa.vtt, stream = text, output = spa.vtt in = eng. vtt, stream = text, output = eng.vtt in = source.mp4, stream

[2021-04-16 21:53] mirco1000 commented on #3341
[file.txt](https://github.com/google/shaka-player/files/6328024/file.txt)

[2021-04-16 21:59] mirco1000 commented on #3341
`<AdaptationSet` id="0" contentType="text" `subsegmentAlignment="true">`
`<Role` schemeIdUri="urn:mpeg:dash:role:2011" `value="subtitle"/>`
`<Representation id="0" bandwidth="84" mimeType="text/vtt">`
`<BaseURL>eng.vtt</BaseURL>`
`</Representation>`
`<Representation id="1" bandwidth="84" mimeType="text/vtt">`
`<BaseURL>spa.vtt</BaseURL>`
`</Representation>`
`</AdaptationSet>`

[2021-04-16 22:21] caridley commented on #3339
The application level monkey patching approach does not work with the non-debug build of shaka player.

[2021-04-16 23:11] joeyparrish commented on #3322
@surajkumar-sk, the history live stream is back up and running after the hung machine was rebooted.

@pajong, we can't reproduce the issue with the content you sent us private.  We get back an HTTP 404 error on the manifest.  Can you please double-check that the content is still available?

[2021-04-16 23:16] joeyparrish commented on #3323
@matejpolak, I get an HTTP 404 error when I try to load the content you sent us privately.  Can you please check that it is still available?

[2021-04-16 23:22] joeyparrish commented on #3323
Looking at the backtrace, it seems to be this assertion's reference to numEvicted in `lib/media/segment_index.js` that leads to the exception:

[code]

Which is in turn called by this line in `lib/util/periods.js`:

[code]

This implies that calls to `createSegmentIndex()` are missing somewhere.  This is supposed to be called before any segment indexes are handled in `shaka.util.PeriodCombiner`, t

[2021-04-16 23:25] joeyparrish commented on #3338
Can you be more specific about what you have implemented?  Are you referring to this?

Please let us know if you decide to sign the agreement and contribute to Shaka Player.  Your contributions would be very much appreciated.

[2021-04-16 23:26] joeyparrish commented on #3339
@ismena, what do you think of a configurable callback to let apps manipulate the DASH XML as a tree of elements, rather than needing to manipulate it as text in a network response filter?

[2021-04-19 05:03] bhushanudupa opened #3343 "dist directory is not found"
**I have cloned this repo and started testing index.html. But I found that there is not dist directory in the repo. Please help me out.**

[2021-04-19 05:14] surajkumar-sk commented on #3343
@bhushanudupa dist folder is created after you run `python build/all.py` command in your locl system .

[2021-04-19 05:14] nbcl commented on #3343
Hello @bhushanudupa!

That is right, after cloning the repository you will not have the complete `dist/` directory.

To build it, you must compile the library, as follows:

[code]

As the tutorial indicates, this will, among other things, output the compiled.js file you are most likely looking for to test your `index.html`.

Remember that, apart from Python, you will also need other prerequisities

[2021-04-19 05:15] nbcl commented on #3343
I think we answered at the same time @surajkumar-sk 😄

[2021-04-19 05:41] surajkumar-sk commented on #3343
@nbcl Your comments are always pretty detailed, and I always think, why did I even type 😅.
@bhushanudupa close the issue if your question has been answered or feel free to ask any other queries you have.

[2021-04-19 05:45] bhushanudupa commented on #3343
Thank you @surajkumar-sk @nbcl

[2021-04-19 05:45] #3343 closed

[2021-04-19 07:14] Yuvalke opened #3344 "Tizen 4 2018 encrypted playback got stuck."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
v3.0.8 and v3.0.10

**Can you reproduce the issue with our latest release version?**
Yes.

**Can you reproduce the issue with the latest code from `master`?**
Didn't try, reproduced on v3.0.x.

**Are you using the demo app or your own custom app?**
Custo

[2021-04-19 09:29] PaulPineda opened #3345 "Stall occurs when transitioning from unencrypted DASH program content to Ads period"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
There don't seem to be direct duplicates but there are similar issues of stalling that have been reported:
https://github.com/google/shaka-player/issues/2867
https://github.com/google/shaka-player/issues/3008
and _possibly_ https://github.com/google/shaka-player/issues/3191

**What version of Shaka Player a

[2021-04-19 09:58] avelad opened #3346 "Add MSE support for FairPlay"
I just discovered that Apple has updated all the FairPlay integration documentation including MSE example and how to use the api without prefixes (https://github.com/google/shaka-player/issues/2999).

Attached the relevant part in case someone does not have access:
[FairPlay Streaming in Safari.zip](https://github.com/google/shaka-player/files/6335018/FairPlay.Streaming.in.Safari.zip)

There are e

[2021-04-19 10:39] avelad commented on #3346
Necessary changes:
- distinctiveIdentifier has to be `not-allowed` (I'll send a PR for it)
- persistentState has to be `not-allowed` (I'll send a PR for it)
- Persistent sessions are not allowed (I'll send a PR for it)
- For the renewal of keys the 'renew' event is listen, which right now is not in the ShakaPlayer code. @joeyparrish Do you have any idea how this should work?
- The contentType when

[2021-04-19 12:32] valotvince commented on #3346
I think Shaka should also provide a way for developers to be notified of which keySystem has been selected for playback, so that we could fetch/cache the appropriate certificate, and give it back as configuration (could have the same logic that the request/response filters).

[2021-04-19 15:58] pajong commented on #3322
Hello, @joeyparrish
It looks like the manifest url and the header value are generated dynamically. I sent a follow up email to get the updated url and header value. Please let me know if you need anything else. Thank you!

[2021-04-19 16:28] joeyparrish commented on #3322
Got it.  Thanks!

[2021-04-19 16:34] joeyparrish commented on #3322
The buffering appears to be because the server isn't responding quickly.  I'm seeing as much as 13 seconds TTFB (time to first byte) on some requests.  At one point in my playback session, a concurrent manifest and segment request were blocked for 13+ seconds.  Later requests were all sub-second.

Can you please look into metrics for your server/CDN to make sure it is healthy?  I don't see anythin

[2021-04-19 17:25] TheModMaker commented on #2808
I had intended to fix this for v3.1, thinking I could just revert that change and it would work out.  But unfortunately, we no longer parse segment times for WebVTT, so reverting that change wouldn't do what I wanted.  This means that there is no simple fix for this issue and we'd need to do the "full" fix for handling TS timestamps.

Since this change would be a large change and might introduce s

[2021-04-19 17:53] ismena commented on #3284
Fixed by  78e181d

[2021-04-19 17:53] #3284 closed

[2021-04-19 17:56] joeyparrish commented on #3345
We can't directly support or debug on WebOS.  This is currently considered a "community-supported" platform because we don't have the devices or test infrastructure set up for WebOS.

[2021-04-19 17:57] joeyparrish commented on #3345
We have purchased a WebOS device, and we intend to build out infrastructure to support it, but we have no timeline for that yet.  Other issues are currently higher priority.

[2021-04-19 18:01] avelad commented on #3346
I have seen Disney + uses HLS manifest with PlayReady, Widevine, and Fairplay using MSE. That would make us have greater efficiency in the CDN, since there would only be one copy (it would not be necessary to maintain DASH and HLS according to the device). @joeyparrish  What is your opinion about this? What priority is this for the ShakaPlayer?

[2021-04-19 18:01] duggaraju opened #3348 "Support for 'emsg' boxes when playing HLS manifest with CMAF segments"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

For DASH the list of supported 'emsg' schemas specified in the DASH manifest.  Any emsg box that belongs to a schema not in the list

[2021-04-19 18:05] avelad commented on #3311
@ismena I've been thinking about this. How would DAI work with HLS using mp4? Right now we process events for DASH, src = (HLS Apple devices), and HLS using mux.js, but there is no ID3 parsing in HLS using mp4, how should it work?

Can you reopen the issue while my question is resolved?

[2021-04-19 18:07] avelad commented on #1330
Update from @joeyparrish : https://github.com/google/shaka-player/issues/3345#issuecomment-822661923

[2021-04-19 18:47] ismena commented on #3311
Looks like it's [possible](https://www.webcitation.org/6ACo4Nqy6?url=http://www.mp4ra.org/specs.html#id3v2) to embed ID3 in mp4, although we don't parse/use mux to parse them at the moment.

We'll need to do it to support DAI with HLS/mp4. Let me file a separate issue for that. We might have to hunt down some content for testing, though as the IMA team doesn't seem to have any at the moment.

Re:

[2021-04-19 19:09] joeyparrish commented on #3169
Normally, the way external key rotation should work is that we see new PSSH boxes in the content at some point, and we use those to trigger a new key session and fetch an updated license.  These new PSSH boxes make their way to us through the `encrypted` event from the video element.  This event fires any time the platform encounters a PSSH box in MP4 content.

However, I see your MPD has a PSSH e

[2021-04-19 19:47] TheJohnBowers commented on #3169
So this sort of key rotation works with shaka 2.4/2.5 No issues.  I definitely disagree that this is bad content.  If PSSH can be exclusively included in a manifest and not in the encoded content, I don't see where there is justification to say that key rotation should not work in this scenario.

[2021-04-19 19:52] joeyparrish commented on #3169
Sorry, maybe it was rash to call it bad content.  What I should say instead is "I don't understand how this content works".  :-)

[2021-04-19 19:58] joeyparrish commented on #3169
I see where I made a mistake looking at the MPD: there is a PSSH in the manifest **per period**.  So the rotation should be handled by the manifest updates, and PSSH boxes are not needed in the content at all.

I'll double-check that we're reacting to those properly and fetching licenses for them.

[2021-04-19 20:26] joeyparrish commented on #3169
The key rotation issue seems to be caused by acfa1a800c5cd731afcea191be45169037f8784b, which is not in any release version.

In that change, a call to filter the manifest on update was removed from the DASH parser.  This filtering had a non-obvious side-effect of updating the init data in the DRM engine and triggering new sessions for key rotation.

With that call restored (though that may or may

[2021-04-19 20:43] TheJohnBowers commented on #3169
If you would like a similar test stream that does not rotate keys every 3 minutes to compare and contrast:

https://content.uplynk.com/channel/410beb25b7db4e4fb2e8c42724c07f67.mpd
https://content.uplynk.com/wv

[2021-04-19 21:10] ismena opened #3351 "Add support for ID3 tags in mp4"
We use mux.js to parse ID3 tags in ts streams.
Mp4 also [supports](https://www.webcitation.org/6ACo4Nqy6?url=http://www.mp4ra.org/specs.html#id3v2) embedding ID3.
We should see if we can use mux.js to parse those or implement the parsing using our mp4 parser.

[2021-04-19 21:10] ismena commented on #3311
Created #3351

[2021-04-19 23:16] #3319 closed

[2021-04-19 23:37] joeyparrish commented on #1330
These are the steps that must be done to add LG as an officially-supported platform:

1. Build an LG TV backend in [Generic WebDriver Server](https://github.com/google/generic-webdriver-server) (https://github.com/google/generic-webdriver-server/issues/18) so that we can automate tests and debug on the platform (can be done by **anyone** with the hardware and time and energy)
2. Set up the LG TV t

[2021-04-20 00:30] joeyparrish commented on #3348
Alternately, we could have a boolean config that enables watching for and dispatching all emsg boxes, regardless of schema.  Would that be easier to configure or more useful, or would you prefer to limit it to a list of known, expected schemas?

[2021-04-20 00:38] joeyparrish commented on #3346
Do you mean in a specific event?  Or just that you should be able to get it in general?

Today you can get this info with `player.keySystem()` at a few different times early on.  You can do it after `load()` resolves or from the `loaded` event (roughly equivalent), or from the `streaming` event (which is earlier in the load process).

Would this suffice, or would you prefer a bespoke event?

This

[2021-04-20 01:22] duggaraju commented on #3348
A boolean config could work too. But it would need some plumbing since the check for the schema is done in streaming_engine.js while the filling of the emseSchmeIdUris is done under manifest parser.  You would  need some special value (instead of default null) to indicate all schemas.

[2021-04-20 05:38] avelad commented on #3311
Thanks @ismena !

[2021-04-20 08:31] avelad commented on #3346
I have been doing some testing and I have seen that MediaCapabitilies in Safari does not seem to support the encryption part, so with what is now in the repo it would not work.

I think it is related to https://github.com/google/eme-encryption-scheme-polyfill/pull/18, @michellezhuogg , can you confirm it?

[2021-04-20 08:38] valotvince commented on #3346
@joeyparrish I think we should have a `certificateURL` key per advanced config DRM, Shaka would be responsible of fetching the certificate (if `serverCertificate` is NOT provided), allowing developers to catch the event through a request / response filter, and then do our own logic (cache the certificate in my own use case, to give it back as `serverCertificate` for the next load).

That's a thing

[2021-04-20 08:42] avelad commented on #3346
@valotvince Maybe https://github.com/google/shaka-player/issues/1906 ?

[2021-04-20 09:29] valotvince commented on #3346
@avelad Totally !

[2021-04-20 14:38] avelad commented on #3345
@joeyparrish, May I ask what model of TV with WebOS you have bought?

[2021-04-20 14:57] surajkumar-sk opened #3353 "Hls EXT-X-DISCONTINUITY-SEQUENCE"
What does EXT-DISCONTINUITY-SEQUENCE tag do ?
I know it's a pretty basic questions . But its been bugging me. I read the documents of HLS and saw how its being parsed in shaka-player , but that just increased my confusion. So can anyone explain about this tag in layman terms .
Thank you.

[2021-04-20 15:08] caridley opened #3354 "Live DASH multiperiod SSAI not working in shaka 3.x.x because segment template indexes extend forever"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.10
The problem does not seem to happen with 2.5.20

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes with code from this commit 7af44ef5653618f79735ffa98beff0

[2021-04-20 16:02] #3334 closed

[2021-04-20 16:05] joeyparrish commented on #3345
I think it was WebOS three-point-something, but I can't recall.  It is still in a box in the office.  It was something I intended to spend time on before the pandemic hit, and I haven't been able to get back to it since.

[2021-04-20 16:55] hiren3897 commented on #850
Hello all, I am trying to play my HLS streams on Andriod devices (Chrome Browser) but it gives me a 4034 error in the console.

![android](https://user-images.githubusercontent.com/59652404/115434949-9994c000-a209-11eb-9a69-314e467af801.png)

Can anyone help me or guide me about it.
Is it possible to play HLS AES-128 on android devices?

Thank you in advance :+1:

[2021-04-20 17:08] joeyparrish commented on #850
@hiren3897, it is not possible today, because Shaka Player doesn't support non-DRM AES-128 yet.  This issue is open to discuss and track the implementation of that feature.  No work has been done toward this feature yet.

[2021-04-20 17:23] theodab commented on #3353
Each `EXT-X-DISCONTINUITY` has an associated "Discontinuity Sequence Number". This number is calculated based on how many `EXT-X-DISCONTINUITY` tags the parser has already seen, rather than being part of the tag. This number has to remain constant between manifest updates in a livestream, so that (for example) we can remember the associated timestamp offset of each discontinuity.
However, not ever

[2021-04-20 17:27] michellezhuogg commented on #3353
@surajkumar-sk Let us know if you're facing a specific bug or issue! Otherwise, we'll start to provide mentorship in the summer. Thank you for your understanding!

[2021-04-20 17:27] #3353 closed

[2021-04-20 17:57] surajkumar-sk commented on #3353
@theodab Thank you , now the link between them makes some sense to me.
@michellezhuogg sorry for this , understanding the parser but still being stuck at it because of discontinuity tag made me reach out for help. It won't happen again. Thank you.

[2021-04-20 18:06] ismena commented on #3346
PRs on this are very welcome if anybody's interested, otherwise we'll consider it for the team to work on in Q3/Q4.

[2021-04-20 18:35] joeyparrish commented on #3169
I performed a `git bisect` to track down the fix in `master` that is still needed in `v3.0.x`.  At each step, I had to manually add back the `filter()` call I mentioned that was removed in acfa1a8.  This process revealed that the redownloading issue was fixed in 7e50866bb539ddd7e70ed6d6c245793b353262a6.  We will cherry-pick this to v3.0.x, so this should fix the issue in v3.0.11.

[2021-04-20 19:36] joeyparrish commented on #3169
`git bisect` reveals that this assertion has been failing on your content since 78357ed785bdf450df6935943723f4c2bafae6ae, which is also when the assertion was first introduced.  I'll dig deeper to find out how we can fix it.

[2021-04-20 19:37] avelad commented on #2337
@ismena , can you consider this issue for your next roadmap planning? (github label) There is a lot of legacy content to support and this would be very useful.

[2021-04-20 19:55] ismena commented on #2337
Yes!

[2021-04-20 20:30] joeyparrish commented on #3169
I found the root cause of the issue with the failed assertion, and the result seems to be harmless.

The assertion is meant to double-check our assumptions, namely that we evict content from earlier to later.  If we've evicted anything from a period, it means that everything in earlier periods should have been evicted, too.

Except that in practice, the eviction process is driven by updates and me

[2021-04-20 22:28] joeyparrish commented on #3169
Here's the final summary:

I have a fix for the failed assertion in review.  Again, the assertion failure is harmless to playback.

I also have a fix in review for the key rotation failure in the `master` branch.  This will ensure we don't lose key rotation when v3.1 comes out.  This issue does not affect v3.0.

The fix for the redownloading issue is already in the `master`, and I'm working on a r

[2021-04-21 04:03] juzhiqiang opened #3355 "dash video stream, How to skip video stream error clips，Continue to play the next clip"
video require has been in  `pengind` status , how do I set a timeout to skip video clips
![image](https://user-images.githubusercontent.com/25214312/115495074-6c8fee00-a299-11eb-8db1-f365250e0115.png)

[2021-04-21 06:39] Yuvalke commented on #3344
The issue is when the stall happens on the beginning and then `pause` `play` doesn't help and I saw that multiple seeks until the media start again fix the issue(one seek by changing the stallSkip doesn't).
The stream I sent isn't valid any more, I'll provide a valid one if needed.

[2021-04-21 07:28] valotvince commented on #1906
I'll work on a PR on that matter 👍

[2021-04-21 08:44] theodab commented on #3355
You can change the timeout time using the `retryParameters` configurations (see [our documentation](https://nightly-dot-shaka-player-demo.appspot.com/docs/api/tutorial-network-and-buffering-config.html)).
For example, if you wanted to give a timeout of 10 seconds to segment requests, rather than the default value of 30 seconds, you could do:
[code]
Then you could listen for errors with the error c

[2021-04-21 09:37] PaulPineda commented on #3345
It'd be great to find out the specifics, we've found that neither the WebOS version nor age of the device to be a very reliable way of determining a device's capabilities and therefore the likelihood of being able to reproduce the issue

[2021-04-21 13:29] krackjack234 opened #3356 "How Shaka player detects DRM capability of device and filter unsupported tracks"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.0.10

**Please ask your question**
We are using shaka player to play widevine drm content. We see that on devices which supports only L3 widevi

[2021-04-21 15:03] FireMasterK opened #3357 "Double tap to forward/seek in the video"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**Is your feature request related to a problem? Please describe.**

On Android on chromium, the native player supports seeking using double taps on the edge of the screen.

**Describe the solution you'd like**
An implementation is shaka-player UI.

**Describe alternatives you've considered**
An own imp

[2021-04-21 16:29] anshgo01yal commented on #3357
hello, I have an approach to solve this problem what we can do is create an element both sides of the player and add DoubleClick event to forward/seek video even we can create a loop for ex if double click skip 10 sec ,triple click 20 sec and so on.
please let me know if I am right.

[2021-04-21 16:48] FireMasterK commented on #3357
That's one way to solve it! However, I'm a bit unsure whether the approach would work without buttons.

[2021-04-21 16:56] TheModMaker commented on #3356
The manifest contains the key IDs used for a stream.  Then we can look at the key statuses to see which keys are given and usable and filter out any tracks not allowed.  The browser reports which keys we have and whether they can be used.  The high quality tracks are marked as needing L1, so the browser marks these as unusable.

[2021-04-21 17:11] joeyparrish commented on #3357
You could listen for the double-click events on parts of the video frame by positioning transparent elements there.

I've seen UIs where on double-tap on the right, a "fast-forward" icon appears with some text showing how far it is skipping.  That could be an element which is always present, receives the double-click/tap events, and shows itself briefly when activated before becoming transparent a

[2021-04-21 17:22] OrenMe commented on #3299
You can pass initial start time via config and then shaka optimizes loading from that point.

[2021-04-21 17:38] naktinis commented on #3299
@OrenMe thanks for the suggestion, but during the `load()` call the seek time is not yet known. First, I want to load the video as soon as possible (the cirtical part), and then in the background find the appropriate seek time that depends on some conditions (needs an HTTP request; this is a "slow" and non-critical part).

This ticket is about making seeking more predictable, intuitive, and well-d

[2021-04-21 18:24] #3169 closed

[2021-04-21 18:26] joeyparrish commented on #3169
The fix for the `master` branch key rotation issue has been merged.  Everything should be working in the nightly build after tonight.

The fix for the redownloading issue has been cherry-picked, but not yet pushed to v3.0.x until I can verify that all (29) cherry-picks for this branch so far are correct and passing tests.  I have a few test failures to investigate before I can push those changes t

[2021-04-21 19:19] ismena opened #3359 "Create an Analytics component in Shaka for an integration with BigQuery"
We are planning an integration with Google Cloud Services and BigQuery to allow Shaka users to easily collect and understand the data related to how their media is being watched and interacted with.
(See the prototype presentation [here](https://youtu.be/0ZhKzS65EMo?list=PLIivdWyY5sqIl6CyJfr_cUFhxKikxrgYb)).

This is a tracker for the Shaka Analytics component. Design and concept paper docs are to

[2021-04-21 19:29] surajkumar-sk commented on #3357
For anyone who wants to work on this .
1. We could create two functions in ` ui/controls.js ` file , one `addfastforwardbuttondiv()` the other `addrewindbutton()` . I am terrible at name so think of something .
2. Inside it create a div , then create a span tag add text 10s or any time.
3. Create three classes in `ui/less/button.less` one for rewind and other for forward button . Add some font siz

[2021-04-21 20:02] Realitian opened #3360 "How to contol player without default control ui?"
Hi,

I want to control the playing of player without using the default control ui.
for example, I want to call Stop/Play/Pause/Seek in my customized javascript function(called from another user interaction).
How I can do that?

Thanks in advance!

[2021-04-21 20:20] nbcl commented on #3360
Hello @Realitian!

You can directly call the API of your controls on one of your customized JavaScript functions!

It will depend on your own definitions, but here is an example, assuming there is an `index.html` and `myapp.js` like the ones described in the [tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-basic-usage.html).

[code]

[2021-04-21 20:41] TheModMaker commented on #3360
@nbcl, `playPausePresentation` isn't exported, so it won't work in compiled mode.  The preferred way of interacting with the video is through the normal HTML methods.  e.g. `video.play()` or `video.currentTime = 200`.

[2021-04-21 20:54] nbcl commented on #3360
@TheModMaker thanks for the correction!

I was using the uncompiled version locally and jumped to a solution focusing only on custom functions and completely forgot about the regular video methods. 😅

I updated my original comment with a correct example and also added a reference to a list of other properties and methods to serve as additional information.

[2021-04-21 22:21] dsparacio commented on #2179
Hi @michellezhuogg Thanks,  we will take a look and see if it is feasible for us to fully implement the filtering part.

**We just hit an issue on Playstation 5, where they did not implement ```MediaCapabilities.decodingInfo``` in their stack.  So we have to check for this. Just passing that along as it is related to this discussion.**
- PS5 does support hevc and ac3 however so this first phase ap

[2021-04-21 23:22] Realitian commented on #3360
@nbcl, @TheModMaker
I can play by `video.play()`, but I cannot stop play. How can stop it?

[2021-04-21 23:29] nbcl commented on #3360
On my local installation, I was able to pause the video using `video.pause()`, with the following custom function.

[code]

Would you mind sharing your implementation to understand where the problem may reside?

Please remember to remove any personal or confidential information if you are willing to share your code here!

[2021-04-22 01:08] floribon commented on #1958
I am also affected by this, backward playback causes the player to constantly buffer and clear buffer. I minified the impact by setting `bufferingGoal: 1` and a `rebufferingGoal: 0` but it is still wasting a lot of bandwidth.

[2021-04-22 02:11] joeyparrish commented on #3360
In what way does it not work?  What happens when you call `video.pause()`?

[2021-04-22 05:51] krackjack234 commented on #3356
_"The browser reports which keys we have and whether they can be used"_ : Can you please help us how browser provides this information to detect support for L1 and L3 widevine license?

[2021-04-22 05:52] FireMasterK opened #3361 "Some resolutions don't appear on dash"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Tried demo and the nightly demo

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
I tested the nightly, not sure if they're the same tho..,

**Are you using the demo

[2021-04-22 06:39] avelad commented on #3359
I think it would be very nice to have a generic Analytics module, and that there is a specific module for integrating with BigQuery, but that applications can also add modules for integration with other services. What do you think?

[2021-04-22 07:56] theodab commented on #3361
It looks like the problem is that we are choosing to go with your `mp4` tracks, over your `webm` tracks, because the `mp4` tracks have lower bandwidth. The `webm` tracks are available in a wider range of resolutions, but that's not something our codec-picking algorithm considers.

Once we pick a codec and container, we filter out all tracks that have a different codec and container. MediaSource ca

[2021-04-22 08:15] FireMasterK commented on #3361
Interesting!

My options could be as follows:
- Wait for the spec someday
- Wait for the design doc to forcibly use vp9
- Remove the bandwidth attribute altogether

Is there anything else that could be possible solutions for this?

[2021-04-22 09:00] theodab commented on #3361
If you make more resolutions for your `mp4` AdaptationSet, such that it has the same resolutions that the `webm` AdaptationSet does, it would also solve this problem. That might not be viable for you, though, I don't know your situation.

You could also just not list the `mp4` variants in the manifest. This is probably not a great idea because `webm` support [still isn't universal](https://caniuse

[2021-04-22 11:02] xMalikeNx opened #3362 "Getting type of mpd"
Hi,

How can i get current manifest type(static/dynamic) using shaka player api?
![image](https://user-images.githubusercontent.com/68480258/115703626-02e41280-a373-11eb-8a10-2729b5a04ec5.png)

[2021-04-22 11:51] Realitian commented on #3360
I will try to upload the code.

[2021-04-22 12:27] valotvince commented on #3188
We could set `com.microsoft.playready.recommendation` keySystem per default instead of `com.microsoft.playready` in `dash.keySystemsByURI`

[2021-04-22 13:23] pajong commented on #3322
Hello, @joeyparrish
Thank you so much for looking into the issue.

We just confirmed that the issue does not happen on Shaka v2.5.21, but started happening since v3.0.0 (still happening on the latest version)
Why would the stream not have any issues with the response time in Shaka v2, but have issues in v3? Since the stream plays fine in earlier versions, wouldn't this be a Shaka player issue?

[2021-04-22 13:30] FireMasterK commented on #3361
I don't have more `mp4` streams to add to the manifest, this is unfortunately not possible in my situation.

Using just `webm` isn't a solution for me due to the lack of support.

In any case, I'll wait for spec to change or an option to prefer `webm`. 👍

[2021-04-22 15:21] Realitian commented on #3360
@joeyparrish
Here ( [code:](https://github.com/Realitian/ShakaPlayer), [live:](https://realitian.github.io/ShakaPlayer) ), I have the issue when play the dash stream. It does not work the play/pause/seek all for the first stream url.
Can you check what is the problem?

Thank you in advance.

[2021-04-22 15:24] xMalikeNx commented on #3362
I got it with responseFilter =)

[2021-04-22 15:24] #3362 closed

[2021-04-22 15:45] michellezhuogg commented on #3360
Hello @Realitian , I played with your [live](https://realitian.github.io/ShakaPlayer) demo and it worked fine in Chrome.
1. In your browser console, do you happen to see "CORS" related error?
2. If not, did you see anything suspicious from the log?

[2021-04-22 16:04] Realitian commented on #3360
Yes, I see the "CORS" errors.

[2021-04-22 16:30] ismena commented on #3359
Yeah, our design is in sync with that. The Shaka component is gonna listen to analytics-related events and send them to the endpoint, provided by the app.
As part of the BQ integration, we'll provide the code for the BQ-connected endpoint, but anyone's welcome to write their own backend for other services.

[2021-04-22 16:52] ismena opened #3363 "HLS performance improvements"
We can improve performance of our HLS implementation by
- reducing startup latency (such as fetching HLS segments to extract timestamps)
- improving bandwidth usage (such as polling all HLS playlists vs just one)
- possibly identifying other areas of inefficient performance

[2021-04-22 16:58] ismena opened #3364 "HLS interstitial support"
Apple is working on a new spec for Client-side driven interstitials. Once they finalize it, we could
- provide guidance for apps for implementing the spec with 2 players (+add events that make it easier)
- provide implementation for platforms that can't support 2 players (depending on Apple's guidance on this)
- consider providing a built-in 2-player implementation in the future

[2021-04-22 17:10] joeyparrish commented on #3362
We also have `player.isLive()`, for what that's worth.  Live streams are dynamic in DASH.

[2021-04-22 18:41] ismena commented on #1958
@joeyparrish you mentioned that you had thoughts on this might be addressed. Could you share? Depending on priority and complexity, the team can take it on or we could open this for external contributions.

[2021-04-22 18:52] joeyparrish commented on #1958
My gut feeling is that since today, StreamingEngine follows a SegmentIterator to decide what to fetch, what we need is something like a ReverseSegmentIterator.  Any time the play rate changes, StreamingEngine could check if it changed between negative and non-negative and re-init the iterator accordingly.  This would keep most of the complexity of the change in the implementation of ReverseSegment

[2021-04-22 19:01] joeyparrish commented on #3360
You can read more about CORS here: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

But in short, the web server must indicate to the browser which "origins" (domains) are allowed to access that resource.  It does this through HTTP response headers.  If the browser is making the request from an origin other than one on the allow list, it will throw away the response and return an error in J

[2021-04-22 22:20] Realitian commented on #3360
@joeyparrish
It sounds helpful.
But I hosted that on github.com now. so should I fix the client source code? or should I config media server or github page configuration?

[2021-04-23 03:33] theodab commented on #3361
Alright. I'll close this issue then. Feel free to track issue #1391 for progress on that API.

[2021-04-23 03:33] #3361 closed

[2021-04-23 06:09] avelad commented on #3351
Please consider not using mux.js, because this adds an external dependency that might not be desired.

[2021-04-23 10:43] darind opened #3366 "Play webm video with ClearKey DRM"
I have a `video/webm;codecs=vp9` that I have encrypted with a hardcoded key using [webm-encrypt](https://github.com/austinleroy/webm-encrypt).

I can successfully decrypt and play the video using the following:

[code]

[code]

Unfortunately since this code doesn't use MSE, I cannot play this video in Firefox (the `encrypted` event is never raised).

So I am wondering if I can use Shaka Player to

[2021-04-23 13:52] CHaNGeTe opened #3367 "Safari rapid seek hangs stream"
**What version of Shaka Player are you using?**
3.0.10 and 2.5.21

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo app

**If custom app, can you reproduce the issue using our demo app?**
Yes

**What browser and OS are you using?**
iPad mini 2 12

[2021-04-23 14:42] CHaNGeTe commented on #3367
btw, seems listening onSeeked event and setting

document.querySelector('video').playbackRate = 1

is a hacky solution for this

[2021-04-23 15:54] joeyparrish commented on #3360
If your application is hosted at realitian.github.io, and your media content is hosted elsewhere, the server that hosts your media must include CORS headers to authorize realitian.github.io for cross-origin access to it.

Does this help?

[2021-04-23 17:04] joeyparrish commented on #3322
What you're saying makes sense, but I honestly don't know.  I haven't spent any time debugging this issue with v2.5.

I'll put it back into the triage queue.  Whoever picks this up next should compare v2.5 with the master branch, and look to see if network response times are improved.  If all responses are faster in v2.5, we should compare to see if we're making different requests in v3.0, which m

[2021-04-23 17:10] surajkumar-sk commented on #3367
@CHaNGeTe I am using chrome version 89.0.4389.114 windows 8.1. As far as I know, there won't be any significant difference in chrome's native player between IOS and windows. I tried reproducing the error using this link

https://shaka-player-demo.appspot.com/demo/#audiolang=en-GB;textlang=en-GB;uilang=en-GB;asset=https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-multiple-subti

[2021-04-23 17:15] joeyparrish commented on #3366
It sounds like it should be possible to play this file in Shaka, but we're not using MSE in this configuration.  MSE is only used for DASH & HLS, but not for single-file WebM or MP4.  For those, we set `src=` on the video element, just as you do in your sample app.

What is needed for MSE is fragmented content, which we can fetch and append one segment at a time, and a way to map the individual se

[2021-04-23 17:20] surajkumar-sk commented on #3322
I am actually free these days and I also read the code for the implementation of HLS in shaka-player. I could compare the two versions and diagnose the issue and find a possible cause. @pajong you could email me the manifest and license server URIs if you don't have an issue with it.
sk10121815@gmail.com

[2021-04-23 17:30] joeyparrish commented on #3367
@surajkumar-sk wrote:

Suraj, this may surprise you, but iOS is completely different from everything else.  All browsers on iOS, including Chrome, are essentially Apple's Safari under the hood.  All playback on iOS is done with Apple's native HLS implementation.  On other platforms, playback is handled by Shaka Player through the MSE API, not with any "native player" at all.  This is (unfortunatel

[2021-04-23 17:32] nbcl commented on #2071
Hello, everyone!

I approached the issue by introducing the quality selection to the currently existing resolution button in the UI, conditionally, when audio-only content is being displayed.

[code]

This replaces the resolution menu with an audio quality menu when audio-only content is displayed, but I have a couple of questions.

Are there any downsides to this design or should I reiterate by d

[2021-04-23 17:38] caridley commented on #3354
I just e-mailed stream access instructions to shaka-player-issues@google.com

[2021-04-23 18:05] CHaNGeTe commented on #3367
@surajkumar-sk, totally agree with @joeyparrish, indeed the integration is even more tricky when speaking about fullscreen on iOS.

Safari on mobile/ipad didn't allow to go fullscreen the same way other browsers do, they have a kinda special integration where only the tag video can request fullscreen, this for example makes impossible to use custom controls on fullscreen.
Seems iPads got an update

[2021-04-23 18:11] joeyparrish commented on #2071
You should use `bandwidth` instead of `audioBandwidth`.  HLS doesn't give us separate audio and video bandwidth numbers, so audioBandwidth may not be present in all cases.  (DASH content is more explicit.)  For audio-only content, `bandwidth` and `audioBandwidth` should be the same anyway.

I haven't reviewed your draft in detail, but in sounds reasonable.  Thanks!

[2021-04-23 18:13] surajkumar-sk commented on #3367
Wow, that's new. I genuinely taught they were the same. I never doubted that it might be different, but I did google it few times and couldn't find a direct answer saying they were different. I'll remember this.
Thank you @joeyparrish.

[2021-04-23 18:25] darind commented on #3366
The video content that I need to play is recorded by a Google Chrome plugin using [RecordRTC](https://github.com/muaz-khan/RecordRTC) (based on WebRTC). It represents a capturing of the current chrome tab.

It seems that WebRTC in Chrome supports only limited video containers and codecs and in order to produce DASH or HLS I will need to do some post processing which I currently cannot do. One of t

[2021-04-23 18:43] #3341 closed

[2021-04-23 18:44] mirco1000 commented on #3341
solved ;)
thank you

[2021-04-23 19:18] nbcl commented on #2071
Thank you for your review and comments on the draft!

This was so obvious now that I think about it, if no video is being played, of course there is no `videoBandwith`, then `bandwidth` and `audioBandwidth` should be exactly the same, and clearly, `bandwidth` is preferred.

Anyways, I implemented the changes - Reiterated to `bandwidth` and fixed the declaration problem with a conditional operator.

[2021-04-23 20:23] pajong commented on #3322
Hello, @surajkumar-sk . I have already sent the manifest to shaka-player-issues@google.com. Do you still need me to send it to that gmail?

[2021-04-23 20:26] surajkumar-sk commented on #3322
I actually don't work at google on shaka-player . I am a student studying video streaming technology.

[2021-04-23 20:29] joeyparrish commented on #2071
Great!  Please take the PR out of draft and let us know when it's ready for a more thorough review.  @ismena should take a look for UI, or I can take a look if she's busy.

[2021-04-23 20:30] pajong commented on #3322
@surajkumar-sk Just sent out the information to the gmail - please let me know if you have issues with playing the stream. Thank you!

[2021-04-23 21:41] surajkumar-sk commented on #3322
@pajong I added the video manifest and license Uri and played the video in the latest shaka-player version. I didn't see any kind of lag. The Live content is playing pretty smoothly except for a few ms of buffers in between. The video below shows the streaming video.  I am using windows Chrome version 87.xx.x.

https://user-images.githubusercontent.com/71056993/115932150-368d6e00-a441-11eb-9210-10

[2021-04-23 23:36] #3338 closed

[2021-04-23 23:36] #3323 closed

[2021-04-23 23:54] ismena commented on #2339
Closed by #3309

[2021-04-23 23:54] #2339 closed

[2021-04-23 23:56] ismena commented on #3048
Changing priority since this doesn't directly affect playback.
We are working on this, but won't hold the 3.1 release for it. If it's not fixed by the end of next week, it'll go into 3.2.

[2021-04-24 02:56] Realitian commented on #3360
@joeyparrish , Thank you so much your guidance.
Btw, If I host my application on my custom server (e.g. aws ec2 or heroku), can I config CORS header without handle the media server?

[2021-04-24 18:47] pajong commented on #3322
Since the Shaka team was able to reproduce and see the issue, I will wait for someone in the Shaka team to pick up and compare with v2. Thanks for looking @surajkumar-sk

[2021-04-26 15:12] miguelriverarios opened #3369 "Long Windows paths can cause build failures"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0-pre

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
N/A

**If custom app, can you reproduce the is

[2021-04-26 16:59] TheModMaker commented on #3369
Can you try with Python 3?  How are you building it?  Are you using cmd, PowerShell, WSL, or CYGWIN?

[2021-04-26 17:09] surajkumar-sk commented on #3369
@miguelriverarios This is an issue with python in windows and has nothing to do with shaka-player. In python, the working directory is limited to MAX_PATH - 2 (258) characters for some reason I don't know. for reading more about this issue please follow this [link ](https://bugs.python.org/issue35678). A workaround for fixing this issue is having a short directory name. Clone the project in a fold

[2021-04-26 19:19] TheModMaker commented on #3242
It seems this change is needed to play many HLS content, and Safari does it like we do now.  But we could probably add back the flag to select which mode to work in.

[2021-04-26 19:33] TheModMaker commented on #3243
Confirmed.  It also seems to take a long time to start, which we should look into.  It may be a platform bug since we have content buffered, but the video refuses to move.

[2021-04-26 19:45] TheModMaker commented on #3238
We may need to do something similar to handle HLS interstitial support.  We will be investigating the work soon, but may take a while to implement.  This will require major reworks to implement.

[2021-04-26 19:48] ismena commented on #3238
Corresponding HLS interstitial feature: #3364

[2021-04-26 20:18] TheModMaker commented on #3279
Debugging without the manifest in this case would be nearly impossible.  This is highly tied to the content, so we'd need a playable manifest URL to test it out.  We don't need a clear manifest so long as we can access your license server with the URL, headers, etc.

This could be caused by a bug where we get stuck looking for the next segment and can't find it.  Or your manifest may have differen

[2021-04-26 20:24] #3275 closed

[2021-04-26 20:57] TheModMaker commented on #3019
There is no way to detect it easily.  You could use `video.buffered` to see if there is a gap nearby.  A better solution may be to ignore the `seeking` event and just use a UI event instead to detect user seeks.  You may want to ignore other seeks too (e.g. seeks for falling outside the live window).

[2021-04-26 21:06] TheModMaker commented on #2833
Sorry for the delay.  I don't think it's a good idea to have a setting for that.  ABR is meant to be smooth, and clearing the buffer would guarantee the video stop (or at least stutter).  If you really need this, I think you could create a new AbrManager class and forward the call to our version and change the arguments.  The callback given to AbrManager allows clearing the buffer, so you could do

[2021-04-26 21:06] #2833 closed

[2021-04-26 21:14] TheModMaker commented on #3015
Chromecast doesn't support iOS Safari.  We need to use the Chromecast SDK, which only supports Chrome.  It also seems that you can't use it on Chrome on iOS either.  If you need Chromecast on iOS, you need to create a native app.  See the [Chromecast docs](https://developers.google.com/cast/docs/developers) for more info.

[2021-04-26 21:14] #3015 closed

[2021-04-26 21:40] TheModMaker commented on #3205
It seems like #2579 was created to specifically fix the issue on Xbox, not do what the title says.  I'll rename this issue and tag it an enhancement to actually do what it says in the title.

The `msUntilExpiration < 0` exists to handle platforms that don't set the key status to `expired`.  For example, if they don't support it or if it is set to `internal-error`.  I think this should still exist

[2021-04-26 21:45] TheModMaker commented on #3295
Closing due to inactivity. If this is still an issue for you or if you have further questions, you can ask us to reopen or have the bot reopen it by including `@shaka-bot reopen` in a comment.

[2021-04-26 21:45] #3295 closed

[2021-04-26 21:47] TheModMaker commented on #3297
Correct.  We only support FairPlay with `src=` at the moment.  But it seems with #3346, it may be possible in the future.

[2021-04-26 21:47] #3297 closed

[2021-04-26 21:54] TheModMaker commented on #3300
We don't do any processing or reading of the media segments, we just give the data to the browser.  We use info in the manifest to detect which streams to select.  For example, we stick with the same codec between Periods, but we have no way of detecting they are compatible.  We assume that the browser can switch between clear and encrypted content correctly.

What problems are you seeing?  Can yo

[2021-04-26 21:59] TheModMaker commented on #3335
6008 means the browser rejected the response we got from the server.  Usually this means your license server returned a wrapped response (e.g. JSON data) that you need to unwrap before we can give it to the browser.  See our [license wrapping](https://shaka-player-demo.appspot.com/docs/api/tutorial-license-wrapping.html) tutorial for more info.

Your license server gives a 500 error, so I can't se

[2021-04-26 22:19] TheModMaker commented on #3360
If the app is on the same server as the media, you don't need extra headers.  But if your app and content are on different domains, then you must configure your media server to send the correct headers.  This is a requirement of the browser that cannot be changed in production.

[2021-04-26 22:25] TheModMaker commented on #3356
We use the [Encrypted Media Extensions](https://www.w3.org/TR/encrypted-media/) API to handle the licenses.  The license response has requirements in it for what it can be played on.  When the browser handles the license, it sets the key status based on these requirements.  We use [session.keyStatuses](https://www.w3.org/TR/encrypted-media/#dom-mediakeysession-keystatuses) to check what the key st

[2021-04-26 22:32] TheModMaker commented on #3299
I was able to reproduce on Firefox, but not Chrome for some reason.  I was also able to reproduce on the nightly site.

[2021-04-26 22:59] TheModMaker commented on #3293
Yes, this doesn't really apply to us, this is definitely a Chrome bug.  There probably isn't anything we can do about it.  It looks like all the correct people are on the Chrome bug, so it should get handled soon.  So I'm going to close this issue.

If you want to implement that workaround they suggested, you may be able to hook the `update` method to delay calling into the browser.  I think it wo

[2021-04-26 22:59] #3293 closed

[2021-04-26 23:55] sonicd300 opened #3370 "How to display a side loaded text track by default when using chromecast?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.0.10

**Please ask your question**
I have side loaded text tracks which load/render properly during playback in a browser, but these aren't show

[2021-04-27 00:06] ronak2121 commented on #3300
We see an audio glitch as you switch between the two periods, because it looks like you/the browser are resetting the audio decoder somewhere. The Dash Manifest already includes all 4 fundamental audio properties as well as ContentProtection...so you can compute this without looking at the media.

[2021-04-27 01:57] Realitian commented on #3360
Thank you, all.

[2021-04-27 01:57] #3360 closed

[2021-04-27 10:07] surajkumar-sk commented on #3357
Noone seems to be doing this, so I'll add a pr for this.

[2021-04-27 15:28] hiren3897 opened #3371 "Add thumbnails to the UI"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
YES
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
3.0.10

**Please ask your question**
1) Do we have something so far to display thumbnails on the presentation timeline? I have learned the issues #

[2021-04-27 16:48] TheModMaker commented on #3300
What do you mean?  Do you mean like switching channel count?  Could you provide an example manifest URL?

[2021-04-27 18:47] ismena commented on #3371
Nothing so far!
@michellezhuogg are we planning this for gsoc? (gsoc is an internal program for students to contribute to Google's OpenSource projects).

If not - we'll be happy to accept a PR, as this isn't on the roadmap for the foreseeable future (the next 6 months or so).

[2021-04-27 20:04] TheModMaker commented on #3296
I created a simple TTML file we can test with.  I can  reproduce with the demo using:

[code]

[2021-04-27 20:31] TheModMaker commented on #3327
Confirmed the bug.  First, there is a problem with [this line](https://github.com/google/shaka-player/blob/340480525d6949d6a76fab7b0b4b26aae7ea30fa/lib/util/periods.js#L491) where we iterate over a list but also mutate the list.  This causes us to skip elements.  It also seems like you're correct that we're selecting the wrong stream.

[2021-04-27 20:49] TheModMaker commented on #3367
Also reproduced on desktop even without fullscreen.  This probably has to do with repeated seeks since our UI delays all seeks until you release; whereas Safari seeks a bunch while dragging the seek bar.  We probably get stuck somewhere while seeking.  On a different note, for some reason, I can't see our verbose logs in the console on Safari.  Even with V2 logging, I can't see the StreamingEngine

[2021-04-27 21:29] TheModMaker commented on #3082
Closing due to inactivity. If this is still an issue for you or if you have further questions, you can ask us to reopen or have the bot reopen it by including `@shaka-bot reopen` in a comment.

[2021-04-28 17:58] joeyparrish commented on #3300
I am fairly certain we never do this explicitly.  It could be done implicitly somewhere by the browser in response to something in the media or some API call by us.  Chrome's media-internal logs could help shed some light on this.  You can find logs at `chrome://media-internals`.

[2021-04-28 20:42] joeyparrish commented on #847
I experimented with the Presentation API, and found that it was equivalent to tab-casting with a hidden tab.  It doesn't seem to be a good replacement for the Cast API, where the Cast device would be streaming content independent of the sender.

[2021-04-28 20:42] #847 closed

[2021-04-28 21:37] joeyparrish commented on #3367
If we're using native HLS, StreamingEngine isn't involved, so you won't see those logs.

[2021-04-28 22:20] joeyparrish commented on #3371
Thumbnail track support without the UI (issue #559, PR #3145) landed recently.  We don't have it incorporated into our UI yet.  If you're building your own UI, the API is:

 - [player.getImageTracks()](https://nightly-dot-shaka-player-demo.appspot.com/docs/api/shaka.Player.html#getImageTracks)
 - [await player.getThumbnails(trackId, time)](https://nightly-dot-shaka-player-demo.appspot.com/docs/api

[2021-04-29 09:07] hiren3897 commented on #3371
Hello @joeyparrish
Thank you for your response.
As I am building my own UI. So, if I want to implement the thumbnails API in my project.
How can I use it. because I am using npm shaka-player v3.0.10 and I think this has not yet officially released!

can you please give me a hint about it so that I can try it in my project and then when I am successful. I can do a PR :)

Thank you :)

[2021-04-29 11:11] bmaniar opened #3374 "Shaka custom seek bar implementation"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.11

**Please ask your question**
Hi,
Could you let us know when can we expect the custom seek bar implementation that is currently on master t

[2021-04-29 13:36] david-hm-morgan commented on #3344
I am seeing a similar sort of issue on a 2017 Tizen 3.  My way to reliably reprod it is to do big seek jumps:
1. play movie
2. seek to late in the movie and let play for a few seconds
3. seek back to near the beginning

It is possisble to recreate it on v3.0.6 and earlier, but from v3.0.7 it is seemingly 100% of seek backs as above will create it.  Same on 3.0.8, 3.0.9, 3.0.10 and today 3.0.11 too

[2021-04-29 15:49] Ashaaradhya opened #3375 "subprocess.CalledProcessError: Command 'npm' returned non-zero exit status 1"
Hi,

I am unable to build shaka player.. I found a similar thread which stated "Command 'npm' returned non-zero exit status 1" and tried all the steps and solutions suggested there but it didn't work. Therefore I am posting this issue.

Also , attaching the screenshot for your reference.

Please let me know what I can do to fix it..

Note: shaka-player build worked all fine till yesterday but sudd

[2021-04-29 16:22] Yuvalke commented on #3344
Hi @david-hm-morgan, I guess it's the same issue but I didn't reproduce it in the exact same way, did you try on a later Tizen version? I saw in 2020 it works well.
Actually today I had some new findings, It reproduces on two scenarios:
1. the beginning after stall(small gap - `seeked`).
2. after multiple seeks in a row in the middle of the media.
Also, I saw sometimes when the issue reproduced  `

[2021-04-29 16:46] joeyparrish commented on #3371
You can build Shaka Player from source for now instead of using NPM releases, or you can wait for the v3.1.0 release, which we intend to ship today or tomorrow.

[2021-04-29 16:50] joeyparrish commented on #3374
In our next feature release, v3.1.0, which is due out today or tomorrow.  Thanks!

[2021-04-29 16:50] #3374 closed

[2021-04-29 16:53] joeyparrish commented on #3375
It looks like the "npm install" command failed.  The first error I see is "unexpected end of JSON input".  Not sure what would cause that.

More than once I've seen a temporary outage of some kind affect npm commands.  Can you try again and see if it has been resolved upstream?

[2021-04-29 16:56] hiren3897 commented on #3371
woohoo!
Thank You so much @joeyparrish
It's great news :) waiting for release :+1:

[2021-04-29 18:21] sky-hugolima opened #3376 "Dynamic manifest transition to static is not supported if the DVR window is sliding"
Hey !

It seems that currently Shaka doesn't support a scenario where it's playing a sliding window dynamic MPD with a timeShiftBufferDepth of 2 hours,  and the stream ends after 4 hours by transitioning to static (e.g. the seek range should be  [2hours..4hours]), because  the presentation timeline uses the `mediaPresentationDuration` as the end of the seek range when the manifest is static.

I've

[2021-04-29 19:09] david-hm-morgan commented on #3344
@Yuvalke I have access to a 2019 (Tizen5) too and this does not exhibit this issue.

[2021-04-29 20:39] clotairemarmignon opened #3377 "I can't play DRM protected HLS contents on both Big Sur 11.3 & iOS 14.4.2"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
3.10.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
our own custom app

**If custom app, can you repr

[2021-04-29 23:50] joeyparrish opened #3378 "Stop using setAttribute for ARIA"
Instead of using e.g. `foo.setAttribute('aria-label', 'foo')`, we should be using `foo.ariaLabel = 'foo'`.  The liberal use of setAttribute confuses an internal Google tool that hunts for potential XSS vulnerabilities.

The checks we are having issues with are meant to find an attacker-controllable way to set the 'src' attribute on a `<script>` tag, but in cases where the compiler doesn't know wha

[2021-04-30 02:54] theodab commented on #3199
With that fix, the embedded and non-embedded captions should no longer be able to play at the same time. I'm still looking into why your non-embedded captions are so out of sync, though. Sorry for the delays!

[2021-04-30 07:09] francoism90 commented on #3371
Thanks for adding this for custom UI's! :)

How does this work? Is it like loading a `<track>` with type `thumbnail`?

[2021-04-30 07:25] avelad opened #3379 "TTML displayAlign broken in 3.1"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 3.1.0

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Both

**If custom app, can you reproduce the issue

[2021-04-30 07:37] avelad commented on #3379
Note: it is a regression of 3.1 in 3.0.x it works fine.

[2021-04-30 09:13] hiren3897 commented on #3371
Hello @joeyparrish,

After loading the player. I did player.getImageTracks() but I got an empty image tracks.
Then I checked my manifest by doing player.getManifest() that holds imageStreams which was also empty.
So I have a question that the imageStreams are generated from the manifest loaded in the player automatically? or the manifest should contain the `<AdaptationSet>` that should have the th

[2021-04-30 09:16] avelad commented on #3371
Example: https://dash.akamaized.net/akamai/bbb_30fps/bbb_with_tiled_thumbnails.mpd

[2021-04-30 10:04] hiren3897 commented on #3371
Thank you @avelad for the example :)

[2021-04-30 10:10] avelad commented on #3371
@hiren3897 You can find more examples in: https://nightly-dot-shaka-player-demo.appspot.com/demo/#panel=ALL_CONTENT;panelData=THUMBNAILS;build=uncompiled

[2021-04-30 10:13] Ashaaradhya commented on #3375
I took the latest code again today and tried. Still the same error!! Is anything deprecated?
<img width="1029" alt="Screenshot 2021-04-30 at 12 09 01 PM" src="https://user-images.githubusercontent.com/66466711/116681430-44953e80-a9ad-11eb-976d-0a62575c6035.png">

[2021-04-30 10:20] hiren3897 commented on #3371
Thanks for this :+1:
@avelad I saw your video [https://github.com/google/shaka-player/files/6219623/Thumbnails.-.share.mp4.zip](url)

Can you please tell me how you made thumbnails appeared on shaka-player with a sample code?
It will be a great help :)

[2021-04-30 10:29] avelad commented on #3371
The code is in my application, but I can share some guidelines ...

As there can be multiple image tracks, you must select one, an example would be:

[code]

Then you have to do the logic to get the image given a certain point, which would be something like this:

[code]

I don't think it's the best or the only implementation possible, but it's one I've been working on.

[2021-04-30 12:01] avelad opened #3380 "Sintel 4k (multicodec) is not working in Xbox"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 3.1.0

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Both

**If custom app, can you reproduce the issue

[2021-04-30 12:09] hiren3897 commented on #3371
Thanks, @avelad I will take it as a reference and do implement it in my project :100:

[2021-04-30 12:59] david-hm-morgan commented on #3344
I noticed this historical issue https://github.com/google/shaka-player/issues/2131 which again sounds similar.  Going to try to debug around stall detector

[2021-04-30 15:47] clotairemarmignon commented on #3377
Thank you @TheModMaker, it is working when I do play contents that are not DRM-protected. And the error I always get in the  3016 is the next one:

constructor: function()

arguments: TypeError: 'arguments', 'callee', and 'caller' cannot be accessed in this context.

caller: TypeError: 'arguments', 'callee', and 'caller' cannot be accessed in this context.

I found a way to make it work on my MacB

[2021-04-30 16:46] surajkumar-sk commented on #3303
I didn't know this was the original issue and people are already assigned for it. Issue #3357 describes adding on fast-forward and rewind buttons on double click and no one was working on it , so I started the work and added a PR #3373 . I am extremely sorry assignees if you were working on it, well the PR has not been reviewed yet so it can be rejected by reviewers.

[2021-04-30 17:04] Ashaaradhya commented on #3375
npm cache clean --force repeatedly gave me below message and didn't continue after that:

**shaka-player % npm cache clean --force
npm WARN using --force I sure hope you know what you are doing.**

But then I tried the other solution from the stack overflow given by @TheModMaker
i.e "npm update"
I was able to build the Shaka Player successfully post that.. Thank you

[2021-04-30 17:04] #3375 closed

[2021-04-30 17:16] dhubertus commented on #3199
Great to hear, thank you again for taking a look at this issue and for the update!

[2021-04-30 17:34] dsparacio opened #3381 "Latest release on cdnjs?"
Not seeing 3.0.11 or 3.1.0 on cdnjs.  When are these expected to be deployed?

[2021-04-30 17:35] dsparacio commented on #3381
https://cdnjs.com/libraries/shaka-player

[2021-04-30 18:17] nbcl commented on #3303
@surajkumar-sk you are right, #3357 contains a duplicate of the second enhancement request that is present in this issue.

Personally, as I agreed in a couple of messages before, I was supposed not to directly code the solution, but to check in and provide any feedback that could be useful if it was needed - This being the case, and as you already brought together a pull request, then I can take m

[2021-04-30 18:29] surajkumar-sk commented on #3303
@nbcl An appreciation for you english . You are really good at writing formal messages .

As per the first issue . The changes will be pretty small, a few lines. After review, if the changes are good, I can fix the first issue too.

[2021-04-30 18:31] dsparacio commented on #2179
@michellezhuogg we are looking into phase two,  filtering by preferred codec config, to understand how quickly and the LOE of effort to see if we can do this work or help.  Will follow up. Looking at 3.1. release to start this.

[2021-04-30 19:09] nbcl commented on #3303
I always try to take an extra minute to check if I am being clear in my responses, so I really appreciate your message!

I have always though that when building software, specially open source, communication plays one of the most important parts in the success of a project. Of course, there is no software without code, but can a team really build something great without communicating accordingly?

[2021-04-30 19:21] surajkumar-sk commented on #3303
@nbcl this is probably a low priority issue right now for members, with the gsoc and 3.1.0 release members are pretty busy. I don't expect a review for atleast a week from now . We got a lot of time to continue this discussion .

[2021-04-30 19:28] nbcl commented on #3303
Definitely, sounds good! - That being the case we can await a response and, in the meanwhile, I will try to reach out with a review on #3373 in the upcoming weekend! 😄

[2021-04-30 19:56] joeyparrish commented on #3381
CDNjs is incredibly slow to update.  We can't control when their bot updates the CDN.

Last I saw, they stored their config and their assets in the same git repo.  The last time I had to make changes to the config, I had to check out a repo from GitHub so large that the checkout couldn't be completed.  I had to then pull new refs several times to get my local copy in sync with the remote copy, whi

[2021-05-01 01:08] dsparacio commented on #3381
Thank you!

[2021-05-01 09:51] krackjack234 commented on #3356
Thanks a lot. This can be closed.

[2021-05-01 17:41] #3356 closed

[2021-05-02 06:14] OrenMe opened #3382 "6001 error on Tizen 3 and WebOS3.3 when installing polyfills, works when not installing"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**
latest 3.0.11

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
custom

**If custom app, can you reproduce the

[2021-05-02 08:05] Yuvalke commented on #3344
Thank you @david-hm-morgan, there are many issues that could be related but they didn't resolve this issue.
It seems like we're facing the same issue with multiple seeks, new seek should reject the old one if it's still in process?

Thank you for your help.

[2021-05-02 09:36] #3355 closed

[2021-05-03 11:09] kocoten1992 commented on #1481
Will this method still work now at newer version ?

When I try it on v3.1.0, it said:
[code]

[2021-05-03 16:40] #3381 closed

[2021-05-03 16:49] joeyparrish commented on #1481
It looks to me like you passed a non-string to a method expecting a string.  I would suggest you double-check your application code.  Did you pass a Blob object instead of a Blob URL?  You need to call `URL.createObjectURL(blob)` to create a URL from a Blob.

[2021-05-03 17:01] kocoten1992 commented on #1481
Thank you, but I'm deep down in the rabbit hole by now, it is because `player.load` third argument in v3.1.0 required string https://github.com/google/shaka-player/blob/master/lib/player.js#L1040 - I'm using 'application/dash+xml' now,

in v2.4.1 it is https://github.com/google/shaka-player/blob/e844a0ff958b98cdd422f52f907a844142cdb8d6/lib/player.js#L676-L677,

I'm at the network-engine now, think

[2021-05-03 17:15] joeyparrish commented on #1481
Okay.  Makes sense to me.

[2021-05-03 17:15] joeyparrish commented on #1481
We'd be happy to have a PR, if you're interested to contribute your solution back.

[2021-05-03 17:53] #1906 closed

[2021-05-03 19:09] jennyzhua opened #3383 "Period flattening error on DASH manifests with image AdaptationSet"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What link can we use to reproduce this?**
manifest sent in email

**What version of Shaka Player are you using?**
v3.1.0-uncompiled

**What browser and OS are you using?**
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.128 Safari/537.36

**What

[2021-05-04 06:21] kocoten1992 commented on #1481
For anyone looking solution in 2021, v3.1.0:

1. register blob scheme
[code]

2. `player.load(computedMpdBlobURL, null, 'application/dash+xml')`
3. Relative URIs in the manifest are broken because the original manifest URI is lost. This can be worked around with either absolute URIs or the use of BaseURL element in DASH.

@joeyparrish , I'm not sure how to compose a PR for this, may you guide me l

[2021-05-04 08:30] avelad commented on #3346
Important thing I have seen:
- You have to make TS work in Safari because if mux.js is used the encrypted event is not triggered by the browser.
- As Safari works with the encrypted event, you have to change the DRM initialization order because you don't have sessionType until the encypted event is fired. (can be initialized as CENC when it should be SINF / SKD)
- You have to change the drmInfo ob

[2021-05-04 13:32] david-hm-morgan opened #3384 "Failure to resume playback with Drag seek backwards (multiple seeks in quick succession)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What link can we use to reproduce this?**
https://v3-0-7-dot-shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://storage.googleapis.com/shaka-demo-assets/sintel/dash.mpd;panel=HOME;build=uncompiled

Also on https://shaka-player-demo.appspot.com/demo/#audiolan

[2021-05-04 13:50] hiren3897 commented on #3371
Hello, @avelad I tried to implement it by taking your logic as a reference but I am not successful :(
Can you please elaborate more about it here or send me on my mail [hr.hirenmack@gmail.com](url)

It will be a great help :)
Thank You in advance :)

[2021-05-04 13:56] kocoten1992 opened #3385 "ABR not respect user preferrence resolution"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Not sure, I'm using demo app to reproduce this

**Are you using the demo app or your own custom app?**
demo a

[2021-05-04 20:52] gregmsanderson commented on #3366
Maybe using this? Just found it. Looks neat. Browser-side post-processing. FFMPEG can turn a webm/mp4 into HLS.

https://github.com/ffmpegwasm/ffmpeg.wasm

[2021-05-04 21:16] joeyparrish commented on #3385
Sounds like a regression, and it looks to me like it was introduced in https://github.com/google/shaka-player/pull/2663 .  There should be a check there for the `enabled` state of the ABR manager before reacting to the network change event.

[2021-05-04 21:18] joeyparrish commented on #3384
Do you have this issue with our UI control or the browser's native controls?  (Our demo app uses our UI controls by default.)

[2021-05-04 21:37] joeyparrish commented on #1481
It looks like you can add the code in part 1 to the bottom of the fetch plugin, and turn parts 2 and 3 into a tutorial to add to the documentation.  That would be a complete PR for this, in my opinion.  Since we can't generally solve the issue of relative URIs, the best thing may be just to document it clearly alongside instructions for creating a blob from an MPD.

Tutorials are written in markdo

[2021-05-04 22:05] joeyparrish opened #3386 "Demo fails to save "Custom DRM System" field if it's a well-known DRM system"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

NOTE: Not reproducible in the demo of v3.0.11

**Are you using the demo app or your own custom app?**
De

[2021-05-04 22:34] joeyparrish commented on #3366
You know, there's no reason you shouldn't be able to play ClearKey + WebM in Chrome, Firefox, and probably Edge these days (since it moved to Chromium).

I found some issues in the way we connect ClearKey data to src= inputs.  I will soon have a fix in review that will allow you to do this:

[code]

In my experiment today, if we pass the MIME type and codecs from Player to DrmEngine properly, I'm

[2021-05-04 22:44] joeyparrish commented on #3386
I was mistaken.  It only fails to save it if the field is set to a well-known key system ID, such as `w3.org.clearkey`.

[2021-05-04 22:45] joeyparrish commented on #3386
It would be nice to be able to use org.w3.clearkey to force the use of clearkey on a custom asset.

[2021-05-05 04:52] theodab commented on #3386
Right now, if you provide a license server URL, it will attach that URL to every known key system, plus whatever custom key system you provide. We automatically filter out any known key systems when re-loading the dialog, so we don't tell the user that `com.widevine.alpha` is a "custom DRM system" every time they edit an asset with DRM. That's why well-known key system id fields go away when you r

[2021-05-05 07:43] david-hm-morgan commented on #3384
Hi @joeyparrish I get this with the demo app UI controls... but I can also recreate on Tizen 3 with native controls.
I've captured a video of the issue at https://drive.google.com/file/d/1akPaKSFECvDLi6EBVsQciY13aQ10oh5M/view

[2021-05-05 08:42] avelad commented on #3383
After this PR https://github.com/google/shaka-player/pull/3365, the tileLayout information will be entered into the segments, so in theory DASH could be adapted to use the same format and eliminate this limitation.

[2021-05-05 09:03] darind commented on #3366
@gregmsanderson, thanks for the pointer. I am aware of the ffmpeg WASM component but unfortunately its license is a bit restrictive for our product and we cannot use it.

@joeyparrish, that's very good news. I would be happy if you are able to support this directly in the player. Although I don't quite understand technically how that would work in Firefox if you don't use MSE? Also I don't underst

[2021-05-05 16:08] #3366 closed

[2021-05-05 16:12] joeyparrish commented on #3386
In many cases, the current system is fine.  It basically means "find whatever key system, then use that".  But the license server endpoint usually only accepts requests from one key system.  So in cases where a browser has multiple key systems, you may need the ability to specify one particular standard key system.

Although Chrome only supports Widevine, you can run into this on Chrome if you nee

[2021-05-05 16:34] #3385 closed

[2021-05-05 16:47] joeyparrish commented on #3366
I am not familiar with the status of src= + WebM + EME in Firefox.  But if you don't get encrypted events, I would consider it a Firefox bug.  We can help you file one if needed: https://bugzilla.mozilla.org/

Every key in modern DRM has an ID, which is separate from the actual symmetric encryption key.  Keys are always 128 bits, because encryption is done with some particular cipher mode of AES-1

[2021-05-05 17:31] boredom2 opened #3388 "Ad blocker breaks demo page (known issue)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
didnt check

**Are you using the demo app or your own custom app?**
Demo App is broken - custom App

**If cust

[2021-05-05 17:33] boredom2 commented on #3388
In case it is not related to muxjs - here is the Manifest: https://sdn-global-live-streaming-packager-cache.3qsdn.com/17612/17612_264_live.m3u8

[2021-05-05 17:37] joeyparrish commented on #3388
How so?  Can you be more specific?  It appears to be working for me.

I added your content URL to the custom content tab, and it's playing for me.  (Und auf Deutsch!  Diese Sendung is total verrückt.  I can't stop watching.  LOL)

https://shaka-player-demo.appspot.com/demo/#audiolang=de;textlang=de;uilang=de;asset=https://sdn-global-live-streaming-packager-cache.3qsdn.com/17612/17612_264_live.m3u8

[2021-05-05 17:44] boredom2 commented on #3388
I know, its a CRAZY Show...
First of all - I cant open the Demo Page anymore, since 3.1.0 was released.
I only see "Cannot read property 'reasonCode' of null" omn a red big Box.

So if its a Configuration Thing - its still strange. It works in 3.0.11, but crashes in 3.1.0 without any change.
But if its working on your Side, it must be something in the Config...

[2021-05-05 17:47] joeyparrish commented on #3388
Please try these explicitly-versioned links:

 - http://v3-0-11-dot-shaka-player-demo.appspot.com/
 - http://v3-1-0-dot-shaka-player-demo.appspot.com/

If you are having an issue with caching (either locally in your browser or in some appspot intermediate server), then these explicit links should ensure you're getting consistent content from a single version.

So if those links both work, I would

[2021-05-05 17:49] boredom2 commented on #3388
I found it - if you have an active AdBlocker, the Page doesnt load anymore :)
Without an AdBlocker, its still working.

[2021-05-05 17:50] boredom2 commented on #3388
![Screenshot 2021-05-05 194945](https://user-images.githubusercontent.com/409857/117186394-106db380-addb-11eb-9b1b-13cfc7bd13ca.png)

Reason seems to be "AD_STARTED is undefined :)"

[2021-05-05 17:50] joeyparrish commented on #3388
Ah, that's a known issue.  Some ad blockers appear to block individual source files with "ad" in the filename.  If you load the Shaka Player demo in debug or compiled mode, everything works because it loads Shaka as a bundle.  If you load the Shaka Player demo in uncompiled mode (the default), individual source files get blocked, which breaks everything.

[2021-05-05 17:52] joeyparrish commented on #3388
We have this entry in [the FAQ](https://github.com/google/shaka-player/blob/master/docs/tutorials/faq.md) about it:

[2021-05-05 17:53] joeyparrish commented on #3388
Anything else we can do to help, or should we close the issue?

[2021-05-05 17:54] boredom2 commented on #3388
You can close this Issue - this is 100% on our end - whatever this may be, as it works in 3.0.11 with the same Config. But yes, the Demo Page is working, so I gotta investigate.

[2021-05-05 17:55] avelad commented on #3346
@joeyparrish , you reported https://github.com/google/shaka-player/issues/2337, you say that SourceBuffer into sequence mode can be a solution to support formats without container, you know if this could fix the problem that TS is broken for safari? (using sequence mode for TS) https://github.com/google/shaka-player/blob/master/lib/polyfill/mediasource.js#L42

[2021-05-05 17:59] joeyparrish commented on #3346
Based on the comments, it seems that the issue with TS in Safari is what happens when you call "abort()" on a SourceBuffer.  I'm not sure I see how sequence mode would change the need to call abort() in some cases.  The Safari bug is still reproducible in Safari 14, and nobody from Apple responded in the 4.5 years that bug has been known.

Perhaps to enable direct TS in Safari (without waiting for

[2021-05-05 18:01] joeyparrish commented on #3388
Okay, sounds good.  Thanks for reaching out, and for the link to this insane German shopping show.  😁

[2021-05-05 18:01] #3388 closed

[2021-05-05 18:01] boredom2 commented on #3388
Just to be sure - there is nothing needed to enable muxjs in 3.1.0? if window.muxjs is supported, it should work? Im just asking as we receive error 4032 in our custom Player with 3.1.0, which hints to "unsupported container"?

[2021-05-05 18:05] joeyparrish commented on #3388
The only change with respect to mux.js is that we no longer need it for CEA in MP4.  It is still used for TS transmuxing, and the use of it for that has not changed.

[2021-05-05 18:05] avelad commented on #3379
@ismena , Since issues are now labeled with priorities, is there an estimated time for issues with different priorities to be resolved?

After analyzing the release 3.1 this is the only problem to be able to migrate to it :(

[2021-05-05 18:07] boredom2 commented on #3388
Yes, I am aware of that Change - I just remembered, that there once was a Ticket for 3.1 ro refactor the Integration of mux.js. But afaik, that was archived and not implemented. Sorry for asking again :)

[2021-05-05 18:08] joeyparrish commented on #3388
No worries!

[2021-05-05 18:16] joeyparrish commented on #3379
P0 (top priority) will generally mean that someone needs to drop everything else until it's done.  These are bugs that break something major for everyone.
P1 should be resolved before the next feature release.  It impacts lots of users, and workarounds are generally not practical.
P2 should be resolved soon.  It impacts some users, or there is an easy workaround.
P3 is useful but not urgent.
P4 is

[2021-05-05 18:31] joeyparrish commented on #2237
PR #2425 looks like a good fix for v2.5.x, but v3.0.x and v3.1.x look totally different and will need to have the PR ported to those branches.

[2021-05-05 18:36] joeyparrish commented on #1822
It sounds like the main issue was resolved on Tizen some time ago, and that the remaining issues are on WebOS.  Since this issue was opened about Tizen, and since WebOS is not officially supported by us, I'm going to close this issue.  If you wish, you can open a new issue about WebOS, or the OP can comment `@shaka-bot reopen` to reopen this issue if they disagree.

[2021-05-05 18:36] #1822 closed

[2021-05-05 20:35] theodab commented on #3388
Actually, there is kind of a bug here. The demo is meant to show a custom error prompt telling you to turn off your adblocker in this case.

Looking into it, we have a regression from 95ba28b5afdb9ca98b6181e06613807acc40044e. We switched from using `document.createEvent` to make custom events, to just using the `CustomEvent` constructor directly. In the process, we accidentally broke the event tha

[2021-05-05 21:16] darind commented on #3366
@joeyparrish, thank you very much for the detailed explanation. It all makes sense and now I understand the concept. I will be looking forward to your PR so that I can try the sample code you provided with my encrypted webm files.

As far as the tool I am using for encryption, I will tweak it so that I can specify the keyId as input instead of generating a random one each time. This way I will hav

[2021-05-05 21:22] zoomerbob opened #3389 "Expose Buffer Fill Percent"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**Is your feature request related to a problem? Please describe.**
We are looking for the player to expose a current percent utilization of playback buffer for storing video segments before they are shown by the video player.  A bufferFill near 100% indicates that the video segments are downloading quickly

[2021-05-05 21:37] joeyparrish commented on #3389
It sounds reasonable to add a method for this.  The calculation, if you want to do it yourself in the meantime, would be based on:

1. `video.currentTime`
2. `player.seekRange().end`
3. `player.getConfiguration().bufferingGoal`
4. `video.buffered`

100% is when the end of the buffered range is greater than or equal to `seekRange().end` or `currentTime + bufferingGoal`, whichever is smaller.  0% is

[2021-05-05 21:39] joeyparrish commented on #3366
There's no PR.  We (the Shaka team at Google) reviewed the change internally and merged it.  It was f0f4109, which closed this issue.  You can check out the latest code from GitHub and try it out.  I was able to try the content you linked, but without your key & key ID, I couldn't actually play it.  Let us know how it goes!

[2021-05-05 23:06] clotairemarmignon opened #3390 "I can't play a DRM protected HLS contents without refreshing the page a second time"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
our custom app

**If custom app, can you reproduce

[2021-05-06 03:25] theodab commented on #3386
Perhaps we could have, like, a toggle element labeled "Only use the custom key system" or something like that?
That would let us keep the current loosey-goosey way of handling key systems, while also allowing the user to use a specific key system if it makes sense for them.
That might be a bit confusing, though, since from the name "custom key system" it's not clear that you can write in well-know

[2021-05-06 15:20] qba86 opened #3391 "Iframe and run DRM video after redirect"
**What version of Shaka Player are you using?**
2.5.15

**Please ask your question**
I have portal with DRM videos. Sometimes i share videos on other portals in iframe. Sometimes when I request url, my cdn do redirect to another node but in same domain. After redirect, encrypted-media is unavailable and I cann't run DRM videos. Why?

[2021-05-06 16:48] surajkumar-sk commented on #3389
@joeyparrish If I understand correctly, this method will only return 0 or 100.

[2021-05-06 17:37] surajkumar-sk commented on #2453
@joeyparrish you wrote

`video.buffered.end(video.buffered.length -1) - video.currenttime` gives the video buffered after the video's current time. now when that value becomes 0 `isbuffering` becomes true and `isbuffering` becomes false only when the minimum amount is buffered as per ` rebufferingGoal` or `minBufferTime`. I don't understand how you propose to give a buffering percentage that shows

[2021-05-06 18:07] joeyparrish commented on #3389
No, I don't believe so.

There is a range from `video.currentTime` to `Math.min(seekRange().end, video.currentTime + bufferingGoal)`.  This range maps from 0 to 100.

[2021-05-06 18:18] joeyparrish commented on #2453
@surajkumar-sk, you're missing a lot of details.  Let me try to fill you in.

If minBufferTime/rebufferingGoal is less than or equal to a segment length, then a calculation based on video.buffered would only allow you to see 0 or 100.  Or if minBufferTime/rebufferingGoal is greater than one segment length, you will get buffering progress in chunks of segment size.

However, for LL (low-latency) DA

[2021-05-06 18:34] joeyparrish commented on #3391
Encrypted media requires https generally.  So in an iframe, you'll need to ensure that both the iframe and the page around it use https.

It also requires that the iframe element has `encrypted-media` in the `allow` attribute, to grant that frame permission from the page that owns it.  See https://developer.mozilla.org/en-US/docs/Web/HTTP/Feature_Policy/Using_Feature_Policy#the_iframe_allow_attrib

[2021-05-06 18:41] surajkumar-sk commented on #2453
@joeyparrish Thank you for clarification.
My concern was that buffering process will only show 0 and 100 when the minbuffertime and a single media segment time are same. So i taught http request are a solution for that. But after reading you comment, it seems pretty complicated work for such a small feature which can be handled with a bit less precision in a better way .
I think i can add a pr for

[2021-05-07 06:06] darind commented on #3366
@joeyparrish, I was able to play an encrypted video in Chromium based browsers and Opera but in Firefox doesn't work. It shows "Video can't be played because the file is corrupt".

Here is the code I used:

[code]

And here's the corresponding encrypted video file:

[video_b_encrypted.webm.zip](https://github.com/google/shaka-player/files/6439360/video_b_encrypted.webm.zip)

[2021-05-07 10:10] theodab commented on #3199
So, your content is a multi-period manifest. It has a single master captions file that contains captions for the entire run-length, which is inserted separately into each non-ad period.
The content is super offset because if we are in (say) period 17 and see a captions file listed as an `AdaptationSet` on that period, we assume that the captions file is meant to start at the start time of period 1

[2021-05-07 10:10] #3199 closed

[2021-05-07 12:41] qba86 commented on #3391
1. the iframe is URL https both before and after redirect
2. redirect 307
3. the iframe before and after redirect has `encrypted-media`
4. `encrypted-media` is still after redirect

After redirect value of `src` attribute does not change - maybe this is the problem?

[2021-05-07 16:29] Ljugoboss commented on #3082
I believe that we've run into this issue as well.
It's reproducable for us in `v3.0.6`, `v3.0.10` and `v3.1.0`.

We're able to reproduce it by jumping a small gap when close to live, or by swaping bitrates while playing the stream live, simularly as described in https://github.com/google/shaka-player/issues/3082#issuecomment-781964165

Can this issue be reopened? @TheModMaker

[2021-05-07 17:24] joeyparrish commented on #3391
This sounds like a browser bug to me.  Here's my suggestion for a demo and Chrome bug report:

1. Host a blank page on https that contains a full-page iframe with `allow="encrypted-media"`.
2. Point the iframe to an https server endpoint that redirects with HTTP 307.
3. Have the redirect point to an https page that contains the following:

[code]

4. Create a bug report at https://crbug.com/ and e

[2021-05-07 17:25] joeyparrish commented on #3366
The nightly build of our demo (https://nightly-dot-shaka-player-demo.appspot.com/) has been updated to offer a MIME type and extra config fields.  With this, you can test your encrypted WebM content with ClearKey in the demo app:

1. Open nightly demo: https://nightly-dot-shaka-player-demo.appspot.com/
2. Click "Custom Content" tab
3. Click the floating "plus" button in the bottom-right to add cus

[2021-05-07 17:27] joeyparrish commented on #3366
It sounds like that's the case.  I suggest filing a bug against Mozilla to see if they are interested in fixing this.  See https://bugzilla.mozilla.org/ .  If you file an issue and copy the link to your issue here, I can try to bring it to the attention of the right people at Firefox.

[2021-05-07 18:02] darind commented on #3366
@joeyparrish, thanks, I have submitted a bug here: https://bugzilla.mozilla.org/show_bug.cgi?id=1710128

[2021-05-07 18:11] caridley commented on #3354
I tried adding these logging statement in generateSegmentIndexFromDuration_() in  lib/dash/segment_template.js and found that the player was continuing to add segments to periods that had already ended. I suspect this could be caused by the fact that our live manifest do not have explicit period end times, but instead expect it to be inferred from the next period start time.

[code]

11:54:34.177

[2021-05-07 18:32] llooz opened #3393 "Player stalls when seeking on LIVE edge"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=it-IT;textlang=it-IT;uilang=it-IT;panel=CUSTOM%20CONTENT;build=uncompiled
Content URL sent at shaka-player-issues@google.com

**What version of Shaka Player are you using?**
v3.1.0-uncompiled

**What brows

[2021-05-07 19:08] joeyparrish commented on #3383
I think the short-term solution needs to be a fix to period-flattening to ignore images.  That could be cherry-picked to the existing v3.0.x and v3.1.x release branches and can appear in a bugfix release, whereas any pending feature PRs are going to first appear in a future feature release.

[2021-05-07 20:52] caridley commented on #3354
When this problem occurs we will also see  massive number of these error message: Assertion failed: Should not see evicted segments after available segments

[2021-05-07 21:36] #3019 closed

[2021-05-07 22:36] #3335 closed

[2021-05-08 14:19] defnull commented on #3393
I guess this happens because a click jumps to live edge, but `streaming.bufferingGoal` defaults to 10 seconds, which means shaka wants to buffer until the goal is reached. I reduced `streaming.bufferingGoal` to 4 seconds to verify and now shaka stalls until `-00:04` is reached, then continues playing normally.

The same happens when pausing a live stream for too long. After pressing play, shaka no

[2021-05-09 16:14] RaghuMudem opened #3394 "shaka player never triggers 'error' listener"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** v3.1.0

**Can you reproduce the issue with the latest code from `master`?** yes

**Are you using the demo app or your own custom app?** Demo app

**What browser and OS are you using?** Chrome in Windows 10

**For embedded devices (smart TVs, etc.), what m

[2021-05-09 18:06] #3300 closed

[2021-05-10 07:07] yairans opened #3395 "Live DRM playback get stuck"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** Latest - demo page

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `master`?**

**Are you using the demo app or your own custom app?** dmo app

**If custom app, can you reprodu

[2021-05-10 07:44] albertcheunghhk commented on #3082
Hi, we tried v3.0.10 before and as @Ljugoboss pointed out, it is still not fixed, can this be reopened?
@shaka-bot reopen

[2021-05-10 15:01] zuzzurro opened #3397 "Playing DASH multiperiod streams with SSAI ads on chromecast results in buffering at each ad break"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes, we are particularly interest in resolution of issue #1864 that seem related. We also hoped that #3166 would help but we tried setting gapDetectionThreshold to 1 with no improvements

**What version of Shaka Player are you using?**
We are now using 3.0.10 since the performance is slightly better than us

[2021-05-11 02:00] zoomerbob opened #3398 "clientHeight doesn't change when going fullscreen"
![image](https://user-images.githubusercontent.com/44262518/117746820-a7b77a00-b1d2-11eb-8149-c9e46f38e654.png)
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
Haven't been able to check this.

**Can you reproduce the issue with the l

[2021-05-11 11:34] david-hm-morgan commented on #3384
I was mistaken, it is not as simple as that... the code change from v3.0.7 would not have changed behaviour of what I was seeing.

[2021-05-11 17:23] caridley commented on #3354
if we allow the player to continue after encountering the a 404 response when requesting an extra segment at the end of the first ad, the player will resume fetching and playing content from the main content from the period prior to the ad break, despite the fact that period is no longer in the manifest.

Playback of live multi-period content seems to be  badly broken in shaka 3.x.x

The segment i

[2021-05-11 18:55] surajkumar-sk commented on #3398
@zoomerbob Could you please give me your Custom app code if possible?
If i understand your issue properly, the client height is remaining constant in your custom app.
the code i used
[code]
I was unable to reproduce this issue in windows 8.1, chrome 90.0.xxx.xx, Shaka-player v3.0.x.

![Capture](https://user-images.githubusercontent.com/71056993/117862983-1e428f00-b248-11eb-958e-439b5236dc02.JPG)

[2021-05-11 20:58] caridley commented on #3354
I am able to improve behavior with an extremely ugly hack that makes the updated period duration available to the index update timer.

In parsePeriods_() around line 574 in dash_parser.js I add code stash the period duration

[code]

In compute computeAvailablePeriodRange() in segment_template.js I make use of the stashed period duration

[code]

With these changes the segment index references for

[2021-05-12 10:14] OumniaBerrada opened #3400 "I need to customize seekBar, how can i do that please ? thanks"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**

**Please ask your question**

[2021-05-12 14:02] surajkumar-sk commented on #3400
@OumniaBerrada , If you are using Shaka-player UI, [CLikc here](https://shaka-player-demo.appspot.com/docs/api/tutorial-ui-customization.html) to view the documentation on how to change the color of the seek bar.
There is also a page called " Shaka Player Themes " where you can find different themes created using shaka-player UI. [Click here](https://lucksy.github.io/shaka-player-themes/)to visit

[2021-05-12 14:32] surajkumar-sk commented on #3394
@RaghuMudem
This is the code I used for triggering error events and it is working fine.
[code]
For keeping ` video = null ` error code 7002 is thrown in the console log.
For having wrong manifest error code 1002 is thrown in the console log.

Can you please share your code if possible so I could look into why it's not working?
Thank you.

[2021-05-12 14:50] caridley commented on #3354
I looks like the extra duplicate segment indexes are created by this line in extendExistingOutputStream_()

[code]

I think these calls to createSegmentIndex should be be restricted to matches in new periods like this

[code]

[2021-05-12 17:45] joeyparrish commented on #3394
@surajkumar-sk, thanks for offering to help, but that's not necessary.

@RaghuMudem, I think I can explain the issue you're having.  There are two ways to receive errors from Shaka Player, for two different situations.

If an error occurs during playback, without being associated with a specific method call, then you will get an error event:

[code]

If an error occurs during a specific async meth

[2021-05-12 18:53] joeyparrish commented on #3397
The first message I see in the log file that seems significant is `Jumping forward 0.5760130000016943 seconds because of gap starting at 26662.885448 and ending at 26663.03291`.  This gap probably appears at an ad break.

Later, I see messages like `Jumping forward 15.44600029013236 seconds to catch up with the seek range`.  This indicates that the playhead fell back behind the seek range.  If the

[2021-05-12 18:59] joeyparrish commented on #3397
As a workaround, can you try disabling gap-jumping entirely?  This would be a config like:

[code]

If the ad-break gaps are small enough for the platform to play through them, this should work.  If not, then they will stall essentially forever.

[2021-05-12 19:00] joeyparrish commented on #3397
Incidentally, I just ran into an ad break on ChromeOS (after 10+ minutes playback), and the player got "stuck" somehow.  Seeking forward 1 second got it moving again.  This corresponded with what I presume is an ad break, although there was no gap reported and no actual ad, just a logo for the channel.

[2021-05-12 19:02] joeyparrish commented on #3395
I disagree that the manifest and license server URIs are "not applicable".  Without this, we can't reproduce or diagnose your issue.  A log file and HAR file are not enough for us to diagnose the issue or work on a fix.

If you can't share URIs with us privately, then we can offer you suggestions to debug it yourself and send a PR.  But for that, we would also need more a detailed description than

[2021-05-12 19:12] joeyparrish commented on #3397
I hit another ad break, and this time, I noticed that I was hearing audio for the ads, but the video was stuck on a still frame of the channel logo.  After listening to a couple of ads, I decided to seek backward by 1 second, at which point I was able to see the video of the ad I was listening to.

Based on this, I suspect there is something wrong with the encoding of your ads.  If I see this beha

[2021-05-12 19:13] joeyparrish commented on #3397
Please try [disabling gap-jumping on Chromecast](https://github.com/google/shaka-player/issues/3397#issuecomment-840023788) to see if that helps.

If is does not, I suggest you investigate the encoding of your ads to ensure that they conform with the Chromecast's hardware decoder requirements.  If you need, I can point you in the direction of Chromecast support to help you with this.

[2021-05-12 19:23] joeyparrish commented on #3393
@llooz, I get "HTTP 403 access denied" when I try to play the content you sent us privately.  Can you please enable access or provide us with a means to authenticate for this content?

@defnull, you're close, but `streaming.bufferingGoal` is not how much we need to start playback.  It's how far ahead we attempt to get before we stop fetching new segments, and does not influence startup or bufferin

[2021-05-12 20:36] defnull commented on #3393
Thanks for the detailed explanation. In my tests, the manifests states `suggestedPresentationDelay="PT2S"` and `minBufferTime="PT4.0S"`. This is what ffmpeg outputs for a 2-second segment size. My shaka config sets `streaming.bufferingGoal: 4` and leaves the other values to their defaults.

If I understand you correctly, then shaka should refuse to play until at least 4 seconds are buffered (as re

[2021-05-12 21:35] joeyparrish commented on #3393
That appears to be true.  I thought that we would see "buffered to the live edge" as sufficient without meeting the `rebufferingGoal` / `minBufferTime` requirement, but that appears not to be the case.  `shaka.media.BufferingObserver` is completely disconnected from the knowledge that we've hit the live edge (`shaka.media.StreamingEngine`).  I may have been remembering the way things were in an ol

[2021-05-12 21:40] joeyparrish commented on #3393
@llooz, sorry for the distracting side-conversation with @defnull.  If you can provide us access to your content (still getting HTTP 403), then we can test to see if @defnull's suggestions would solve your issue.

Alternately, you can try setting a higher presentation delay:

[code]

Or you can set a lower rebuffering goal:

[code]

Or both.  @llooz, please let us know if these suggestions help, a

[2021-05-12 23:21] smypf commented on #3397
Thanks @joeyparrish for your input. I'll pass this onto the team for further investigation to see if disabling gap-jumping does anything.

We'll also look into what's happening with encoding of the ads compared to the rest of the content.

[2021-05-13 04:14] percytse opened #3402 "MEDIA.BUFFER_READ_OUT_OF_BOUNDS when parsing segment in LL-Dash"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.1.0-master-15-g79d5fd8c (uncompiled)

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo app

**If c

[2021-05-13 04:44] percytse opened #3404 "Sometimes buffer append failure and cause gaps in LL-Dash"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.1.0-master-15-g79d5fd8c (uncompiled)

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo app

**If c

[2021-05-13 07:34] OrenMe commented on #3382
@joeyparrish any chance that this is a known issue? I don't have access to devices but I suspect that the polyfill is patching the EME incorrectly.

[2021-05-13 12:27] ViktoriaFrantalova opened #3406 "PIP controls doesnt work after change manifest (Chrome)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.0.10

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
custom app

**If custom app, can you reproduce th

[2021-05-13 12:39] leszek-syroka commented on #2059
@bwallberg and @OrenMe I would like to join to the memory leak investigation :) Can you please tell me which content do you use for testing? Moreover it will be useful to me which player and Tizen TV version did you have.

[2021-05-13 14:33] kevinscroggins-youi commented on #2059
@aleek Keep in mind that specifications can differ significantly between different years / models, there are plenty of external factors that should be considered. While memory peaks may be an issue, there are in fact major memory leak issues with 2018 Standard 2/3 Tizen TVs in the MSE layer. I can't speak for newer Tizen TVs as I have not had an opportunity to work directly with them yet. If there

[2021-05-13 16:17] caridley commented on #3354
Because the periodEnd is not being updated in the segment template index when the period end becomes known, the appendWindowEnd value is not set correctly for live multi-period streams. If a period ends partway through a segment we will end up with an overlap in the timeline. I wonder if this might be causing looping behavior that I have occasionally observed with our streams.

[2021-05-13 20:23] Benny739 opened #3407 "MPEG-2 TS not working with 3.1 and mux.js"
MPEG-2 TS transmuxing via mux.js is not working in 3.1. 3.0.7 is working fine.

[2021-05-13 20:24] joeyparrish commented on #3406
I can reproduce your results, but the buttons in the PiP window are entirely created and controlled by the browser, not by us.  There is discussion in the W3C about ways to extend the PiP API to allow applications/players to place their own buttons in the PiP window, but that has not happened yet.

So this should really be filed as a Chrome bug: https://crbug.com/

When you file a Chrome bug, plea

[2021-05-13 20:26] joeyparrish commented on #3407
Working fine for me: https://shaka-player-demo.appspot.com/demo/#audiolang=de;textlang=de;uilang=de;asset=https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8;panel=ALL_CONTENT;panelData=MP2TS;build=uncompiled

Do you have repro steps for us to follow?  Specific content?  Can you reproduce the issue in our demo?  All of these questions were in the

[2021-05-13 20:36] joeyparrish commented on #3390
Without these answers, we won't be able to help diagnose your issue.  You can send the content to us privately if you wish.  The email address was in the issue template.

[2021-05-13 20:57] joeyparrish commented on #3382
I'm testing on a Tizen 3 device in our lab, with our automated integration test called `gets a license and can play encrypted segments`.

 - master branch: pass
 - v3.1.0: pass
 - v3.0.11: pass

So I'm unable to reproduce the issue, and it isn't a known issue for us.  I don't know why you're getting different results.

Can you try commenting out one particular polyfill's `install()` method, in `li

[2021-05-13 21:16] RaghuMudem commented on #3394
@surajkumar-sk @joeyparrish thankyou so much for the response.

So can I assume the followings are correct:

1. The type one error as mentioned by joeyparrish cannot be simulated for testing/learning. Those will be received at runtime for the real error from shaka player.
2. And we must need to catch the errors with try/catch for the async method calls.
3. In the 'error' event, event.detail is a e

[2021-05-13 22:00] joeyparrish commented on #3394
Do you mean the Promise-based errors?  Are you looking for a way to trigger them to test your error handlers?  If so, this can easily be done with certain invalid inputs.  For example:

[code]

This will throw a `shaka.util.Error` with code `1000` (AKA `UNSUPPORTED_SCHEME`).

Correct.

Correct.  The event's detail should always be an instance of `shaka.util.Error`.  In the past, we have sometimes

[2021-05-13 22:20] joeyparrish commented on #3380
I didn't get any search results for that MS error code ("3c00d36b4") except this issue.  :-(

I haven't been able to reproduce on our Xbox One through the automated playback test we have.  I ran the test 20 times in a row, and it passed every time.

However, that test disables ABR.  I'll edit the test and try again with ABR turned back on.

[2021-05-13 22:23] joeyparrish commented on #3380
Actually, I now realize that `3c00d36b4` is more than 32 bits long.  Are you sure that's the right error code?

[2021-05-13 22:25] joeyparrish commented on #3380
Ah, found it!  The first digit was not part of the error code: https://support.xbox.com/en-US/help/errors/xbox-360/error-code-c00d36b4

[2021-05-13 22:43] RaghuMudem commented on #3394
Yes, I wanted to produce an error which can trigger the below code.

[code]
And I tried your code suggesting and was expecting error listener will be getting called. But it is not get triggered. I can confirm, even video is also not playing. And no error/exception has been logged in console.

[2021-05-14 01:14] michellezhuogg commented on #2179
Update: the code change is in review now and would be ready for testing soon :)

[2021-05-14 06:23] avelad commented on #3380
The error is reproduced with the ABR active and when a quality higher than 1080p is chosen

[2021-05-14 06:44] leszek-syroka commented on #2059
@kevinscroggins-youi Even if the software update for the older TVs may not be a possible, maybe there are some workarounds that may be done at ShakaPlayer side.

I will be glad if you can provide me a content that can be used for this memory leak reproduction.

[2021-05-14 09:05] ViktoriaFrantalova commented on #3406
Thanks! I reported here: https://bugs.chromium.org/p/chromium/issues/detail?id=1209142

[2021-05-14 12:31] Benny739 commented on #3407
Sorry for the short bug report, I created 2 codepens:
The codepens are completely identical, one is with 3.0.6 the other with 3.1.

3.0.6 working:
https://codepen.io/benny739/pen/GRomJWE

3.1 not working:
https://codepen.io/benny739/pen/wvJGmJY

It looks like in 3.1 it's throwing error 4032, CONTENT_UNSUPPORTED_BY_BROWSER.

[2021-05-14 16:13] joeyparrish commented on #3406
Excellent.  I've CC'd some engineers who should be able to help, and I've added another set of repro steps using the Shaka Player Demo.

[2021-05-14 16:26] joeyparrish commented on #3406
This can also be reproduced without MediaSource or Shaka Player.  Here's a static HTML page that demonstrates the issue with src= playback and no dependencies:  https://storage.googleapis.com/shaka-demo-assets/_bugs/crbug-1209142/pip.html

[2021-05-14 16:35] joeyparrish commented on #3407
Your codepen fails with the same content that works fine in our demo.  Something is different in the codepen, and I'm not sure what.

I tried using both compiled & uncompiled code in our demo, and both work.  So the compiler didn't break anything.

Still investigating.

[2021-05-14 16:44] joeyparrish commented on #3407
I found the issue.  You need to load mux.min.js _before_ Shaka Player.

This shouldn't be required, though.  So long as muxjs is loaded by the time you call `player.load()`, we would expect everything to work.

The change in behavior occured with the introduction of `shaka.dependencies` in PR #2683.  It was meant to allow apps to inject their own muxjs without loading it globally, but it accidenta

[2021-05-14 16:51] joeyparrish commented on #3380
I'm having issues getting our Xbox One to work right now, so I haven't been able to try this yet.

[2021-05-14 17:07] radiantmediaplayer opened #3408 "Cannot play PlayReady content on Xbox Series S"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Did not try

**Are you using the demo app or your own custom app?**
Own custom app

**If custom app, can you r

[2021-05-14 17:14] joeyparrish commented on #3408
In our experience, the Xbox's Edge app itself doesn't claim to support PlayReady or any DRM.  In our test environment, which uses [a native app embedding a WebView](https://github.com/google/generic-webdriver-server/blob/main/backends/xboxone/how-it-works.md#the-container-app), we had to add a specific Capability to the app's manifest to enable DRM in the WebView:

https://github.com/google/generi

[2021-05-14 17:26] dsparacio commented on #2179
@michellezhuogg that is awesome and we can dedicate lot of testing on this.  Please let me know when we can start.

[2021-05-14 17:42] #3407 closed

[2021-05-14 18:03] joeyparrish commented on #3369
@surajkumar-sk, thanks for trying to help out on this one, but it is clear from the console output in the original post that the directory is well within the MAX_PATH limit.  It looks to be 60 characters long.

@miguelriverarios, I'm unable to reproduce your results.  I'm using a cygwin bash shell and native Windows version of Python.  I tried both Python 3.8.0 and Python 2.7.11, and both worked.

[2021-05-14 18:07] joeyparrish commented on #3279
@asgvard, as @TheModMaker said, without a way to play your content, we can't do anything to help diagnose the issue.  If you wish to provide us with the details privately, we can take a look.  Please let us know.

[2021-05-14 18:15] joeyparrish commented on #3125
Unfortunately, we don't have an Apple TV we can test with.

Also, it's worth noting here that AirPlay and language changes in Safari are both handled by Safari.  If we're calling some browser method incorrectly, that could cause the changes not to go through to the remote side.  But we don't actually interact with AirPlay directly.

Player's `selectAudioLanguage()` in src= playback on Safari will

[2021-05-14 18:20] joeyparrish commented on #3193
If you buffer ahead to a point where we don't have keys yet, what _should_ happen is that the browser should play happily unless the playhead reaches that spot before the keys are available.  If that happens, the browser _should_ stall playback until the keys are available.

What _might_ be happening on these TVs is that if we buffer to a point where we don't have keys yet, the TV tries to decrypt

[2021-05-14 18:40] surajkumar-sk commented on #3369
@joeyparrish I am confused with this too. The issue on python's page say the max_limit is 258 but when I tried testing it on my windows the maximum path length allowed was only 47(including '/shaka-player'). Any path name greater than 47 throws the same error. I taught of investigating this futher if the author of this issue responds saying this fix worked.
From the logs , the path length is great

[2021-05-14 20:08] joeyparrish commented on #3380
Watching the screen via HDMI capture and SSH to our lab, it appears that soon after playback starts, the test app crashes.  I expect that this corresponds with the first switch to high res.  😞  Eventually, a popup on the Xbox mentions error code `80073cf6`.

According to the players logs, it buffered to time 20 and played to time 4.24.  It selected mp4+h264 for video and webm+opus for audio.  webm

[2021-05-14 20:15] avelad commented on #3380
I have tried H265 streams in 4K and they work without problem, I have also tried other H264 streams in 4K and they always fail. Could it be a limitation of the Xbox? (H264 content higher than 1080 does not work)

[2021-05-14 20:17] avelad commented on #3380
@joeyparrish Could H264 support above 1080 be removed on xbox?

[2021-05-14 20:41] joeyparrish commented on #3380
Definitely.  We could patch MediaSource.isTypeSupported to reject that combination.  We have similar things in a polyfill for MSE: https://github.com/google/shaka-player/blob/65a2cfdd/lib/polyfill/mediasource.js#L134

The MIME types we send through that interface have extended info in them, including resolution.  We could parse the parameters and filter out UHD H264 streams there.

Or perhaps it w

[2021-05-14 20:59] nextsux commented on #3193
IIRC I've set key rotation for this demo to 5 seconds so key rollover can
be tested quickly. So yes, this explanation makes sense for me.

Dne pá 14. 5. 2021 20:20 uživatel Joey Parrish ***@***.***>
napsal:

[2021-05-14 21:36] kevinscroggins-youi commented on #2059
@leszek-syroka I doubt there is anything that could be done within the player since this happens lower down in the MSE layer, and as such affects any usage of the HTMLVideoElement. Any video asset will work, it isn't specific to any format. Anything longer than 30 minutes would be ideal, though. You can always make your own using Shaka Packager as well.

[2021-05-14 21:48] joeyparrish commented on #3193
Thank you for confirming.  My best advice, then, is to consider your key rotation interval when you choose the buffering goal for these platforms.

If anyone can think of a workaround that we could apply automatically, I would be happy to discuss.  But I have no good ideas right now.

My first thought was to automatically constrain the buffering goal if `Platform.isWebOS()`, etc, based on the key

[2021-05-14 21:53] joeyparrish commented on #3369
@surajkumar-sk, I set out to prove you wrong.  I copied my shaka-player source folder on Windows to a folder called `very-long-pathname-indeed-to-prove-that-this-does-not-matter-at-all`.  My absolute path length was then 96.  (It is normally only 41.)

What I found surprised me:

[code]

It's not the same exact failure that you and @miguelriverarios experienced, but it seems related to the path le

[2021-05-15 15:23] llooz commented on #3393
@joeyparrish sorry for the delayed response, unfortunately the content has some geoblocking restriction and can be accessed only from Italy
I will try to check next week with the content provider if there is a way to get an url without restrictions for testing purposes

[2021-05-15 15:58] joeyparrish commented on #3393
We can VPN through Italy if that is all that is required.  Thanks!

[2021-05-15 22:44] efysis1 commented on #3346
So now we will be able to play widevine on Chrome iOS with HLS?

A bit confusing for me Is HLS+iOS safari + FairPlay. As shaka docs Matrix say "native" i think no, but on bitmovin/prestoplay ive Seen support in Matrix. Is It just their player?

[2021-05-16 19:34] prashant-hotstar opened #3410 "Post upgrading to safari 14, getting enabled false for all audio tracks in HLS manifest"
Issue : Recently i upgraded to safari 14. post that facing below issue
1. On requesting audio tracks from HTML5 video element, getting enabled false for all audio tracks present in HLS manifest
2. Below safari 14 version, it is working fine i.e for the first audio track we are getting enabled true for the same manifest on requesting audio tracks from HTML5 video element.

Here is the manifest
#EXT

[2021-05-17 07:20] leszek-syroka commented on #2059
I am Samsung engineer, so I can provide some insight from the platform point of view. I am asking about specific content and player, because I have already tried using DASH-IF test vectors in order to reproduce the issue https://testassets.dashif.org/. I did not observe memory leaks that stopped playback.

[2021-05-17 12:40] radiantmediaplayer commented on #3408
Yes adding the DeviceCapability in the app manifest did the trick for us. Thank you for that.
I believe that whether you are building a Xbox app through generating a WebView from native code or starting a JavaScript UWP app from Visual studio the Xbox will still render the app in an Edge-based WebView. While the browser itself on Xbox does not present support for PR content, the WebView does provi

[2021-05-17 12:40] #3408 closed

[2021-05-17 14:55] caridley commented on #3354
@joeyparrish  I believe that we have a contributors agreement in place and I would like to submit a merge request to fix this problem. I could use use some guidance on how to best provide the updated period duration and end times to the segment index. I have prototyped two approaches.

One hack in which I "published" a map of the latest period end times in window.shakaPeriodDurations.

I also trie

[2021-05-17 17:00] #3404 closed

[2021-05-17 17:01] #3402 closed

[2021-05-17 18:10] OrenMe commented on #2059
@leszek-syroka this is great that you are joining the conversation here and can shed some light on Samsung MSE and EME.
In my case I responded that the root cause was an issue with the developer tools.
You can see more in my previous comment on this issue https://github.com/google/shaka-player/issues/2059#issuecomment-626301051

One of our clients is actually reporting issues with hls playback wit

[2021-05-17 18:30] joeyparrish commented on #3346
We can already play DRM content in iOS browsers, but only through "native" HLS, using `video.src = hlsPlaylistUrl`, as opposed to MediaSource playback using Shaka's pure-JavaScript HLS implementation.

What we're discussing here is how to support our own HLS implementation through MediaSource, while still using FairPlay.  FairPlay is only available in Safari, and MediaSource is not generally avail

[2021-05-17 19:01] joeyparrish commented on #3377
Received more details via email.  @michellezhuogg, please look for that during your triage rounds this week.

[2021-05-17 19:50] joeyparrish commented on #3354
Getting caught up on this thread, and then I'll try to provide the guidance you requested.  Sorry for letting this one slip our attention!

[2021-05-17 21:01] #3380 closed

[2021-05-17 21:31] michellezhuogg commented on #3410
Hello @prashant-hotstar ,

I'm not aware of any changes in HLS manifest guidelines recently for safari version 14 .
Would you please follow our [bug report template](https://github.com/google/shaka-player/issues/new?assignees=&labels=&template=bug_report.md&title=) , and provide us the detailed steps to reproduce your issue?

[2021-05-18 01:03] joeyparrish commented on #3354
There is a check since v3.0.8 that looks like this:

[code]

The `periodEnd` variable is set by `context.periodInfo.duration`, which is derived in `lib/dash/dash_parser.js` like so:

[code]

So by the time we generate segment references, the period duration has already been calculated based on the start of the next period in the manifest.

This may be the root of the issue.  Since the callback tha

[2021-05-18 08:46] bwallberg commented on #2059
Hi @leszek-syroka

The memory issue I encountered has already been resolved in shaka :)

[2021-05-18 09:15] valotvince opened #3415 "Enable everyone to run screenshot tests locally"
👋
I am fighting against a potential regression in TTML displaying in v3.1.0 and I am trying to make a test sample with a screenshot test, but I am unable to find how I can start a Chrome through WebDriver using Shaka.

Is there any documentation at all about that process ?

Thank you !!

Edit: Turns out the potential regression is already explained here https://github.com/google/shaka-player/issue

[2021-05-18 09:23] avelad commented on #3415
Maybe it can help: https://github.com/google/shaka-player/commit/b839340220152c4ab7d9e72439af04dc7f26ef25

[2021-05-18 09:42] leszek-syroka commented on #2059
That's good to hear. Can we close this issue and mark it as resolved?

[2021-05-18 12:32] avelad commented on #3415
@valotvince are you working on https://github.com/google/shaka-player/issues/3379 ?

[2021-05-18 12:34] valotvince commented on #3415
@avelad Nope not yet

[2021-05-18 15:41] zoomerbob opened #3416 "Player Viewable Percentage"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**Is your feature request related to a problem? Please describe.**
We would like to know if the video being played is currently viewable to the user.  Is the tab active, is the player above the scroll point? & how much?

**Describe the solution you'd like**
Return a percentage value describing how much of

[2021-05-18 16:12] baseballbrad3 commented on #3125
@joeyparrish, I may have narrowed it down. Inside of `switchHtml5Track_()`, there is an assumption that `track.enabled = true;` will set all of the other `audioTracks` `enabled` value to `false`. When playing on a MacBook Pro with Safari 14.1, this is a correct assumption. However, while AirPlaying, the other tracks are not set to `false` leaving the `audioTracks` array with multiple enabled track

[2021-05-18 22:15] duggaraju opened #3417 "Jagged audio/video at live edge causes the player to buffer indefinitely while starting download from the start of presentation."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**

3.1.0
**Can you reproduce the issue with our latest release version?**

yes
**Can you reproduce the issue with the latest code from `master`?**

yes
**Are you using the demo app or your own custom app?**

cusotm app
**If custom app, can you reproduce the iss

[2021-05-19 04:14] duggaraju opened #3418 "Live DASH manifest and discontinuities at live edge ..."
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Please ask your question**

If a single Period live DASH manifest has discontinuities at the live edge what is the expected behavior?  Is

[2021-05-19 19:06] #3395 closed

[2021-05-20 00:29] michellezhuogg commented on #3416
Hello @zoomerbob ,

It sounds like a general question with the html page and the browser window rather than a specific question to Shaka Player. Is it possible to get the DOM element of the video container, and check the visibility with the window via Javascript?

[2021-05-20 00:29] michellezhuogg commented on #3363
https://github.com/google/shaka-player/issues/1936

[2021-05-20 10:30] GuangkaiJiang commented on #2059
@bwallberg  I am a Samsung engineer who's been woking on this issue recently. I have attempted to reproduce the issue on 2018 standard 2 Tizen TV with tizen 5.0 and up-to-date Shaka according to comments above, but I cannot reproduced the issue. I suspect that the issue has  indeed been fixed.

[2021-05-20 10:52] JakubRimal commented on #2059
Hi,
I'm not sure that it has been fixed on the Shaka side because we were facing the same problem (as @petrmil-nangu wrote) and it stopped with the Tizen TV FW upgrade to 1290.4. Anyway, it looks like it's not happening anymore.

[2021-05-20 11:42] JakubRimal commented on #2059
Yeah, I'm sorry, came late to the party...

[2021-05-20 14:43] joeyparrish commented on #3416
This has nothing to do with the player, but here are some links to the web APIs you would use for this:

 - Get the size of the window with window.innerHeight & window.innerWidth: https://developer.mozilla.org/en-US/docs/Web/API/Window/innerHeight
 - Get the scroll position of the window with window.scrollX & window.scrollY: https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollX
 - Get th

[2021-05-20 16:04] joeyparrish commented on #2059
It sounds like the consensus is that we can close this issue now.  If this is a mistake, the OP can ask the bot to reopen the issue with `@shaka-bot reopen`.  Anyone else would need to open a new issue.  Thanks!

[2021-05-20 16:04] #2059 closed

[2021-05-20 16:58] joeyparrish commented on #3125
Brad, that sounds really reasonable.  As long as we're sure (currentTrack != track), and the user isn't changing track properties outside Shaka, then that added line would be sufficient.  Would you like to send a PR for that?

[2021-05-20 21:06] #3390 closed

[2021-05-21 09:35] midnightoil opened #3420 "Wrapping shaka-player in AngularJS directive fails with this.target.addEventListener is not a function"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Already latest.

**Can you reproduce the issue with the latest code from `master`?**
Didn't try

**Are you using the demo app or your own custom app?**
Custom App.

**If custom app, c

[2021-05-21 18:36] #3398 closed

[2021-05-21 18:36] #3397 closed

[2021-05-21 18:36] #3279 closed

[2021-05-21 19:44] OrenMe commented on #3382
@shaka-bot reopen
I actually haven't gotten yet to re-test cause I need to get access to the tv model again

[2021-05-21 22:06] #3369 closed

[2021-05-24 05:14] midnightoil commented on #3420
The problem is solved.  My mistake.

Shaka player constructor expects a DOM element but angularjs found a jQuery object.  Works by converting the jquery object to a DOM object.

[2021-05-24 05:14] #3420 closed

[2021-05-24 09:43] kchudoba opened #3422 "Allow EwmaBandwidthEstimator values to be configured"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.1.0

**Please ask your question**
I have spent hours analyzing the network traffic and shaka player's behavior. I also compared it with other pl

[2021-05-24 19:47] joeyparrish commented on #3422
You have made some great observations.  Replies inline:

It is very admittedly conservative!  We would always prefer to downgrade instead of buffering.  There are ways to do streaming and bandwidth estimation that are capable of utilizing a larger percentage of the user's actual bandwidth, but we designed ours with a goal to keep it simple and easy to maintain.

For an example of a way to get high

[2021-05-24 22:56] Dawolee opened #3423 "Cannot read property 'numEvicted' of null"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes, this is the duplicate issue: https://github.com/google/shaka-player/issues/3323 but I was told by an engineer on our end (JW Player) that Joey had said to file a new issue as we were able to reproduce the behavior consistently.

**What version of Shaka Player are you using?**
3.1.0 (Currently live demo

[2021-05-25 07:07] theodab commented on #3423
Yeah, this definitely seems like a bug. Looks like we can't handle multi-period manifests that have trick mode tracks, ever since our changes to how we handled periods in `v3.0`. We didn't notice because our only sample content for trick mode was single-period.
I'll look into the exact bug that's causing this.

[2021-05-25 17:38] Dawolee commented on #3423
Thank you for confirming!

[2021-05-25 17:54] #3423 closed

[2021-05-26 11:50] leszek-syroka commented on #2570
I can confirm that the issue is still reproducible at Tizen 2020 TVs. There is a A/V desynchronization when playback rate is changed from 0 to 1. It's the platform side issue.

The only workaround I can suggest from Shaka player side it to use _play_/_pause_ instead of changing playback rate to 0/1.

[2021-05-27 14:58] avelad commented on #3422
I think latency should be taken into account. I agree with @joeyparrish  about complexity, but in many countries maybe the network is not the best, and the latency can be high and this penalizes the reproduction.

@joeyparrish, are you open to making `EwmaBandwidthEstimator` configurable? If yes... -> The problem is that the `EwmaBandwidthEstimator` is created in the constructor when we don't have

[2021-05-27 15:21] KieronAllsop opened #3429 "Should 'Restrictions' in Config prevent license requests for restricted adaptation sets?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.17

**Please ask your question**
If content is encoded with separate adaptation sets for  Audio/SD/HD/UHD

SD has two representations 360p/480

[2021-05-27 17:25] pedrosilvabos opened #3430 "Better handling for extra end tags in VTT"
Have you read the Tutorials?
YES

Have you read the FAQ and checked for duplicate open issues?
YES

What version of Shaka Player are you using?
3.0.10

One of the manifests I have to work with, comes from a live stream, that has subtitles, below i send a resume part of it for better understanding

[code]
I work well with other manifests that come like such:

[code]

This latest one, its very strai

[2021-05-27 20:14] caridley opened #3431 "Add media quality change events"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

The problem does not occur with shaka 2.5.x

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custo

[2021-05-27 20:17] caridley commented on #3431
Here is a hypothetical example of the problem
Suppose you have a manifest with period video bitrate ladders like this
period A - 1,2,3,4,5
period B - 1,2,3,3.5,4,5,6

Shaka will create a flattened manifest with these variants that extend through both periods
V1 bitrate 1, period A 1, period B 1
V2 bitrate 2, period A 2, period B 2
V3 bitrate 3, period A 3, period B 3
V4 bitrate 3.5, period A 3, pe