[2018-05-03 16:03] pcruiksh commented on #1349
I can confirm upgrading to recent webcomponents v1.2.0 resolves the failing instanceof checks

[2018-05-03 16:29] sergioavazquez commented on #1431
You're right, there was a miss-communication in the team, headers were missing. `9009` is an error we got a few weeks ago. Right now we're getting a `4032` error, after fixing headers. Can that be due to the `.ts` chunks? Sorry for the inconvenience...

[2018-05-03 16:36] chrisfillmore commented on #1431
I believe you are able to play in Shaka sample app because it includes [mux.js](https://github.com/videojs/mux.js/) to transmux your TS segments to fmp4. To enable this in your custom app, you will need to include `window.muxjs`.

[2018-05-03 16:48] joeyparrish opened #1432 "Support multiple concurrent store() operations on the same Storage instance"
We do not currently support multiple concurrent `store()` operations on the same `Storage` instance, but we do support multiple concurrent `Storage` instances.  Supporting concurrent operations would probably make the API easier to use.

[2018-05-03 18:06] chrisfillmore commented on #1349
@joeyparrish we are satisfied to close this ticket. Thanks

[2018-05-03 18:10] joeyparrish commented on #1349
Great, thanks!

[2018-05-03 18:10] #1349 closed

[2018-05-03 18:14] chrisfillmore commented on #1430
Interestingly, the distance from the live edge appears to be growing. Today segments are ~24 hrs further from the live edge than it was last night.

[2018-05-03 21:54] michellezhuogg commented on #1431
@sergioavazquez
6001 Error is REQUESTED_KEY_SYSTEM_CONFIG_UNAVAILABLE, and can be cause by these reasons mentioned in the [document](https://github.com/google/shaka-player/blob/master/lib/util/error.js#L611).
Is there any specific reason that you're forcing https on your localhost? Plain http should work for localhost.

[2018-05-03 21:54] michellezhuogg commented on #1412
@BucherTomas, I have reproduced and confirmed the bug, and scheduled it for v2.4. We will attend to it as soon as we can.

[2018-05-03 22:19] kchandran1029 commented on #1431
hey guys , I am running into the same issue and I included muxjs ( locally built ) and I ensured window.muxjs is defined .

Unfortunately I am also getting 6001 , but I am using an encrypted content ( http://b028.wpc.azureedge.net/80B028/Samples/a38e6323-95e9-4f1f-9b38-75eba91704e4/5f2ce531-d508-49fb-8152-647eba422aec.ism/Manifest(format=m3u8-aapl))

Any advice is highly appreciated.

[2018-05-03 22:43] kchandran1029 commented on #1431
Ok , quick update , I removed the DRM config, since it's un-encrypted  and no more 6001 error. So Muxjs played it's role, but again , it's not playing back the content , stuck at the first frame and buffering.

Any thoughts ?

[2018-05-04 00:47] chrisfillmore commented on #1431
@sergioavazquez you mentioned that your Widevine content is working. What DRM are you using for the content which won't play? If you are attempting to play Fairplay-protected content, this won't work in Chrome (or in Safari... see #382).

[2018-05-04 12:19] chrisfillmore commented on #1430
I now understand that Exo has the behaviour described in #999, and ignores device time in cases of SegmentTemplate + SegmentTimeline.

Our packager restarted the stream last night and it works, but has advised us that it will be a bit unstable as they identify the problems they're having.

Thanks, I will close.

[2018-05-04 12:19] #1430 closed

[2018-05-04 14:32] sergioavazquez commented on #1431
@chrisfillmore I'm working on an app that supports DASH - Widevine. I'm sure the `6001`  is coming from the fact that the asset has `Widevine` set up as its DRM by default, just like @kchandran1029 mentioned. For un-encrypted Dash assets, that's not a problem but I'm guessing since HLS and DASH are not supported that might be a problem. I'm going to remove it and let you know how it goes!

[2018-05-04 14:46] kchandran1029 commented on #1431
@sergioavazquez : hey please let me know if you are able to get it play back , for me it's playing intermittently , but on demo app it works fine after an initial hickup , I get the below log on demo app --
Unable to fetch a partial HLS segment! Falling back to a full segment request, which is expensive!  Your server should support Range requests and CORS preflights.

--

Then it just play back fi

[2018-05-04 15:22] grantg182 opened #1433 "Android MediaDrm provisioning fails on closed network"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**:
Yes.
**What version of Shaka Player are you using?**:
2.3.7
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Both
**If custom app, can you reproduce the issue

[2018-05-04 15:49] sergioavazquez commented on #1431
@kchandran1029 removing DRM config from the asset worked for me!! I use to get that same log and it turned out it was due to lack of headers in source's server. For testing purposes, try adding the following header to the server `Access-Control-Allow-Origin: * `
Thanks!!!

[2018-05-04 15:57] kchandran1029 commented on #1431
@sergioavazquez  : Thanks for the response , but is it playing fine for you ? Can you please test with the manifest I posted above ? I can't get it to play back.

[2018-05-04 18:10] sergioavazquez commented on #1431
@kchandran1029 : I got my HLS stream to work without problems. I tested your stream with my app and I experience the same behavior you describe, I can't get it to play, same error.

[2018-05-04 19:52] dsparacio commented on #1404
@joeyparrish Hi Joey been a while hope all is well?  Wondering if you guys are looking at https://github.com/Dash-Industry-Forum/cea608.js for implementation. HLS.js used this and of course we used it for Dash.js.  Feel free to use this if it suites your needs!

[2018-05-07 13:55] kchandran1029 commented on #1431
It's weird , the demo app is able to playback the same after some initial hick ups , wondering what are we missing from demo app.

@sergioavazquez Would you be able to share the content or some test contents you have , may be with some decent timeshiftbuffer ? Thanks

[2018-05-07 14:59] sergioavazquez commented on #1431
@kchandran1029 unfortunately I can't share streams because they're not free, company policy, sorry.
But I just emailed another HLS stream that is not working on Shaka, not even in the demo app, but it does work on other players.

[2018-05-07 19:55] joeyparrish commented on #1430
Okay.  Sorry I wasn't able to get to this fast enough to be helpful.  We are going to be working toward v2.5 very soon, and #999 is at the top of my agenda for that release.

[2018-05-07 20:06] sergioavazquez commented on #1431
I've been testing HLS streams from diverse sources and most of them have problems.

Here are some of the streams I've been testing. Keep in mind all these streams work both with MediaElement and VLC.

* `https://kissfm-cires21-video.secure.footprint.net/hittv/master.m3u8` Throws `405` on `OPTIONS` request. `Your server should support Range requests and CORS preflights.` Works on and off, refresh a

[2018-05-07 20:14] joeyparrish commented on #1404
@dsparacio, thanks for the link!  We'll keep it mind if we decide to explore alternatives to mux.js.

[2018-05-07 21:05] #1418 closed

[2018-05-08 00:49] chrisfillmore commented on #1431
These two playlists:
https://lsd2-latam.secure2.footprint.net/hls-live/streamroot_lsd2latam-tectv/_definst_/live/stream3.m3u8
https://rbtvdiglinear-i.akamaihd.net/hls/live/241719/ATfallback/master_1660.m3u8
...are variant playlists and cannot be provided to Shaka directly. This is why you are getting error 4022. You need to provide a master playlist. You can take a look at some of the playlist exa

[2018-05-08 08:03] Murmur commented on #1092
I have Edge/16.16299(Win10) browser and had problems with plaready protected dash content. This issue gave me a solution, it is a packager not encrypting the first segment. Quick fix was to change `startNumber="2"` and content worked but 10s was skipped in the start. Unfortunately I have no control of the packager so must contact the provider.

[2018-05-08 08:38] Murmur commented on #1433
You are using ShakaPackager? Do you provide `--clear_lead 0` parameter so that all the segments from 0..n are encrypted, default I guess is first 10s is not encrypted.

[2018-05-08 09:19] grantg182 commented on #1433
Yes, we are using the ShakaPackager but are not specifying the --clear_lead parameter - in any case, the devices which fail to playback do not even attempt to playback the first 10s of default clear content.

[2018-05-08 12:47] sergioavazquez commented on #1431
Yes. I Understand why the `4022` occurs and I expected an explanation along those lines for the `Range` warning. However, I'm working on a video application were the ability to reproduce contents from all over the web is a key feature, and it looks like there are many streams that don't follow those guidelines.
I was hoping you would consider adding support for these. I don't always have full cont

[2018-05-08 14:44] kchandran1029 commented on #1431
Hey Guys ,

Please let me know if I have to open this as new separate issue, I will be happy to do that , but I feel Shaka is having a hard time to play most of the HLS stream on Safari browser. Interestingly it works in Chrome. I have tested with couple of other players out there and they can play back the stream well.

Also, I assume this has a master play list

https://akamai-axtest.akamaized.n

[2018-05-08 17:56] #1412 closed

[2018-05-08 18:38] joeyparrish commented on #1433
@grantg182, I admit, I'm not sure what this could be.  I am having trouble following some of the details.  Let me see if I can ask some clarifying questions:

 - Your license server does not have access to the open internet, correct?
 - Are you trying to set up some kind of self-contained, isolated network that can still give out content licenses locally?
 - Your license server is not a Widevine l

[2018-05-08 18:55] grantg182 commented on #1433
Hey @joeyparrish

Your license server does not have access to the open internet, correct?
That is correct, it is hosted on the local server in an offline environment.

Are you trying to set up some kind of self-contained, isolated network that can still give out content licenses locally?
Yes, that is correct.

Your license server is not a Widevine license server proxy, correct?
Correct, the licens

[2018-05-08 19:05] joeyparrish commented on #1433
I think this is something going wrong at the Android OS layer.  If the browser is not making any network request, then this is not something Shaka Player can control.

It's possible that there is some provisioning step needed by the Android CDM, and that it happens outside of the control of the JavaScript application.  I don't know for sure, though.

I will try to ask a colleague who works on Chro

[2018-05-08 19:18] grantg182 commented on #1433
Thanks @joeyparrish - some insight from other teams would be great!

You would think the CDM would 'just work' after being provisioned - it works on all other Widevine-encrypted content using a variety of other players on the internet, but not on our network, before and after getting successful playback on the open internet.

Quite worrying really; I've had more device failures than successes; eve

[2018-05-08 20:11] joeyparrish commented on #1433
According to my colleague, what is happening is that MediaDrm requests that the device be provisioned, and Chrome handles the provisioning request under the hood.  This request goes to a central address, which is not accessible on your network.

So the next question should be: Why does the device need to be provisioned again?

I don't know enough about MediaDrm to speculate, but I believe the answ

[2018-05-08 20:32] grantg182 commented on #1433
Thank you again @joeyparrish ! Much appreciated.

That makes sense, given the testing we have done. I was afraid that was going to be the outcome. |

I'll have a dig through the MediaDRM documentation, if I can locate it, and see what we can find out and where we can go next.

Thanks again,
Grant

[2018-05-08 20:41] joeyparrish commented on #1412
Fixes cherry-picked for v2.3.8.

[2018-05-09 04:27] bennypowers opened #1434 "player.load(manifest) never resolves, though manifest is loaded"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**: yes

**What version of Shaka Player are you using?**: 2.3.7

**Can you reproduce the issue with our latest release version?**: yes

**Can you reproduce the issue with the latest code from `master`?**: haven't tried to compile

**Are you using the demo app or your own custom app?**: custom

**If custom app, c

[2018-05-09 18:30] sergioavazquez commented on #1431
@TheModMaker I understand, but my point is that somehow other HTML players got around it. For example `MediaElement` and `Clappr`. I'm not using Safari but Chrome 66 and Ubuntu, so I have no native HLS support.

Here is the official demo of Clappr with one of the links that throws a `4022`: [Clappr](http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBw

[2018-05-09 19:17] joeyparrish commented on #1434
I'm unable to reproduce this in our demo app:

https://shaka-player-demo.appspot.com/demo/#asset=https://yt-dash-mse-test.commondatastorage.googleapis.com/media/car-20120827-manifest.mpd;lang=en-US;build=uncompiled

This leads me to expect that it's something specific to your app or your wrapper.

I notice that you are explicitly calling unload(), and also not waiting on unload() to complete.  unl

[2018-05-09 19:42] sergioavazquez commented on #1431
Awesome! Let me know if there's something I can do to help! Thanks!!

[2018-05-09 20:01] joeyparrish commented on #1434
It could be a bug.  We are supposed to tolerate all manner of calling patterns between load/unload/destroy.
 With the caveat that after destroy, nothing else can be called, there's no need to necessarily wait between load/unload/destroy, and they can be called multiple times.

We have a bunch of automated tests to verify this, but it's possible we have a regression that the tests don't catch.

Let

[2018-05-09 21:43] joeyparrish commented on #1434
I'm fascinated that you're building a polymer element for Shaka!  I think that's really cool.

I can't reproduce the issue, though, in a standalone app.  I started with our [basic usage tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-basic-usage.html), and I tried adding all the same things (except `requestAnimationFrame`) that you had in the broken commit:

[code]

Did I miss so

[2018-05-09 21:46] joeyparrish commented on #1434
Also, I noticed that you're doing this in the working version on each new load:

[code]

You shouldn't need to call `probeSupport()`.  It's a method that may cause user prompts while probing DRM support, and the manifest support you're checking for is decided at compile time.  So if you are using a standard build of Shaka Player, or if you've customized it in a way that has both DASH and HLS, you

[2018-05-10 04:31] bennypowers commented on #1434
Could it be because I'm connecting multiple players to the soon at the same time? In my case, I had these part elements as children in a virtual-list. Multiple re renders via Lit-html. Could be a contributing factor.

I was using probesupport as it seemed the only way to check at runtime if dash is supported. Did I miss something?

[2018-05-10 06:52] philhar commented on #1419
As an aside, this stream stops after 10s in Chrome 68:

[2018-05-10 18:05] joeyparrish opened #1435 "Minor stall on period transition"
(Migrated from an internal report by @kqyang.)

**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: 2.3.7

**Can you reproduce the issue with our latest release version?**: yes

**Can you reproduce the issue with the latest code from `master`?**: yes

**Are you using the demo app or your own custom app?**:

[2018-05-10 21:19] beaufortfrancois opened #1436 "Generate audio to fill gaps"
Some other media players (such as Theo Player) know how to handle when a (audio+video) source buffer has only video data for few seconds.

It would be great if Shaka provide this "feature".

MSE doesn't allow empty audio chunks for an audio/video source buffer BUT it is not rare that audio is missing for some reason.

Could we somehow generate some fake blank audio chunk?

@joeyparrish

[2018-05-10 21:19] beaufortfrancois commented on #1436
FYI @ygoto3

[2018-05-10 22:12] joeyparrish commented on #1436
If the source content is muxed (audio+video in the same segment), I believe Shaka Player would create a single SourceBuffer for audio+video content.  If the source content is demuxed (audio and video in separate segments), then we would create two SourceBuffers: one for video, one for audio.

So it is the content creator who decides how many SourceBuffers there are by deciding whether or not to se

[2018-05-10 22:19] #1436 closed

[2018-05-10 22:28] joeyparrish commented on #1248
Backward compatibility for v2.2.x's offline storage system has finally been restored in the master branch.  I will be cherry-picking all of this work to v2.3.x for release in v2.3.8 soon.

[2018-05-10 22:28] #1248 closed

[2018-05-10 22:36] joeyparrish commented on #1411
The changes that have been made so far are in v2.3.7 and will also be in our upcoming v2.4.0 release.  I'm going to bump this to v2.5 for any additional investigation that is needed.

[2018-05-10 23:17] joeyparrish commented on #1434
There is no need to use probeSupport() for DASH support if you control the build of Shaka Player that is loaded.  DASH & HLS support are determined at compile time, and are both on by default.

[2018-05-10 23:19] joeyparrish commented on #1422
To reproduce at the office, I had to use Chrome's "Slow 3G" emulation in the network panel of the debugger.

Here's a stack trace:

[code]

[2018-05-10 23:26] joeyparrish commented on #1422
The "Fast 3G" setting also works for repro.  Also, instead of clicking "Load" twice, you can click "Load", then "Unload".

[2018-05-10 23:32] joeyparrish commented on #1422
I misread the stack trace.  `OperationManager.destroy` does not return a rejected Promise.  The error object was created inside that method, but the rejected Promise happened at `player.load()`, which is correct.  The problem is that we're dispatching `OPERATION_ABORTED` from `load()` instead of `LOAD_INTERRUPTED`.  The demo app ignores `LOAD_INTERRUPTED`, as it should.

[2018-05-11 01:16] chrisfillmore opened #1437 "Support fallback manifest uris for Player.load()"
In order to deliver some ad-enabled content, we pass our manifest URI to a third-party ad service, which responds back with a new URI which we then pass to Shaka. If this new URI 404's, we would like to fall back to the original URI, so that we can play the content without the ads.

This seems straightforward to implement on the Player and ManifestParser side. (Pass an array of URI's to Player.loa

[2018-05-11 08:48] bennypowers commented on #1434
Ahhh perhaps I wasn't clear as to what I had in mind. My idea was to load hls on iPhones, and, preferring feature detection to UA parsing, I thought that probeSupport was the only reliable way to do that.

Do you recommend, for example, that I should do some UA parsing in app code before passing the manifest as a property to my element?

[2018-05-11 16:45] TheModMaker commented on #1434
First, we don't support iOS at all since it doesn't support MediaSource.  We also do our own DASH and HLS parsing, we never pass it to the browser; this means we support them on all platforms equally.  So we either support DASH and HLS or don't support anything (assuming the default build).

What you could do is use `shaka.Player.isBrowserSupported` to detect whether the browser is supported, then

[2018-05-11 17:10] KameshDevarakonda opened #1438 "Windows 10 pro+ Edge 17 + CENC PlayReady + scrambled playback"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**: Yes.

**What version of Shaka Player are you using?**: v2.3.7-uncompiled

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**: Demo app

**If custom app, can you rep

[2018-05-11 19:59] joeyparrish commented on #1434
Instead of UA parsing, use `shaka.Player.isBrowserSupported()` as @TheModMaker suggests.  If that returns true, you can pass either DASH or HLS, whichever you prefer.

[2018-05-11 21:56] #1421 closed

[2018-05-11 21:56] #1422 closed

[2018-05-12 18:05] bennypowers commented on #1434
That sounds great. thanks for the advice, I think that should do it. I'm going to close because it seems my problem is solved, but please consider adding some more descriptive errors.

[2018-05-12 18:05] #1434 closed

[2018-05-14 07:00] Mathieu-R opened #1439 "Get custom header in registerResponseFilter"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: 2.3.7

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: Yes

**Are you using the demo app or your own custom app?**: custom app

**If custom app, can you reproduce

[2018-05-14 16:54] TheModMaker commented on #1439
First, `response.headers` is a "simple" JavaScript object, so it doesn't have a `find` method.  You could do something like:

[code]

Second, can you provide the source code for your service worker?  My guess is that the header isn't getting set or your are returning the old response (without the header) from the service worker.  We should support this case, you can read more in the [service worke

[2018-05-14 17:15] TheModMaker commented on #1437
First, NetworkingEngine should use every URI when doing retries.  Meaning the first request will be for the first URI, then the second request will be to the second URI, third request to the third URI (or back to the first if there are only two), etc.  If we aren't doing that, it is a bug (but I'm fairly sure it does work since we have a [test](https://github.com/google/shaka-player/blob/master/te

[2018-05-14 17:54] Mathieu-R commented on #1439
First, thanks for your answer.

Here's the code that create a ranged-response in my `service-worker`.
You can find the part where I set the header in the bottom.

[code]

[2018-05-14 17:58] TheModMaker commented on #1438
The problem is that your manifest uses some XML namespace logic we don't support.  XML supports namespaces, but these namespaces can have different simple names but refer to the same thing.  Plus, you can specify the namespace in multiple ways.  For example, we look for an element `<cenc:pssh>` which contains the `pssh` box for the content.  But your manifest uses `<pssh xmlns="urn:mpeg:cenc:2013"

[2018-05-14 18:37] TheModMaker commented on #1439
I cannot reproduce any problem.  By editing our service worker I am able to add the header fine and it appears in the header object.  Are you sure the above code is being executed?  Are you sure the service worker is running and the correct version?  (I frequently have "Bypass for network" checked for testing)  You can check the Application tab of Chrome DevTools to see what the service worker is

[2018-05-14 18:48] TheModMaker commented on #1438
MediaKeys has been attached, and the media does include `pssh` boxes.  We also don't get a `waitingforkey` event.

[2018-05-14 19:04] #1277 closed

[2018-05-14 19:13] TheModMaker commented on #1428
We have little to no experience with the Web Audio API, so we can't really help much.  But you should be able to use a [MediaElementAudioSourceNode](https://developer.mozilla.org/en-US/docs/Web/API/MediaElementAudioSourceNode) to create a source object from the `<video>` element and then use that as part of cross-fading.  The fact that we are streaming into the `<video>` shouldn't make any differe

[2018-05-14 22:46] joeyparrish commented on #1277
Cherry-picked for v2.3.8.

[2018-05-14 22:46] joeyparrish commented on #1421
Cherry-picked for v2.3.8.

[2018-05-14 22:47] joeyparrish commented on #1422
The bug does not affect v2.3.x.

[2018-05-14 23:46] #1420 closed

[2018-05-15 11:34] tbrixi commented on #1423
Problem is partly in our implementation when we setting player to null immediately after destroy().
I am able to reproduce problem on "shaka-player\docs\tutorials\basic-usage.md", if I set player to null after destroy();

var player;
...
function onError(error) {
  // Log the error.
  console.error('Error code', error.code, 'object', error);
  player.unload();
  player.destroy();
  player = null;

[2018-05-15 15:37] chrisfillmore commented on #1437
To be clear, this is a feature request, not a bug. There's nothing wrong with NetworkingEngine as far as I know, it behaves as expected.

You mention this:

I think this is an interesting scenario, because it makes me wonder what DASH means by "identical content". With dynamic ad insertion, two users watching the same stream will see the same "content", but potentially different ads. I would argue

[2018-05-15 15:52] Mathieu-R commented on #1439
I tried again in production mode with all your tips.
I still don't get `X-From-Cache` header however if I check the response in the network panel of chrome. I have this header.

![image](https://user-images.githubusercontent.com/16360664/40068280-878959d6-5868-11e8-8044-e2daef464a98.png)

For the hosted page: https://www.streamwave.be/

[2018-05-15 16:00] chrisfillmore commented on #1437
No, wait, reopening because we still want to be able to pass multiple URL's to Player.load().

[2018-05-15 16:02] chrisfillmore commented on #1437
The url passed to Player.load() is passed to a ManifestParser, which puts it in an array before passing it to NetworkingEngine anyway. Would Shaka accept a PR to allow Player.load() to accept an array of URLs?

[2018-05-15 17:41] TheModMaker commented on #1439
First, I noticed your service worker had an error in the `onfetch` callback where `url.hostname.contains` causes an exception and the callback isn't invoked.  But after commenting out that block, I was able to see the problem.

The problem is that is a cross-origin request, so [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) rules apply.  Even though you are creating the response art

[2018-05-15 18:20] zouhir commented on #377
Tested on Edge17, The video link that @FedeOmoto has reported works with no issues.

More tests on Edge 17:

✅ Shaka: works and tested, supports 4K! [here](https://shaka-player-demo.appspot.com/demo/#asset=//storage.googleapis.com/shaka-demo-assets/sintel/dash.mpd;lang=en-US;build=uncompiled).

✅ Dash.js: works and tested [here](http://reference.dashif.org/dash.js/v2.6.8/samples/dash-if-reference-

[2018-05-15 21:49] TheModMaker commented on #1437
I am concerned that this API could have some confusing semantics.  It may appear, without reading the documentation, that we would play them sequentially.  Also, should we use all the URIs forever (similar to DASH's logic) or should we stick to the first one that works?

DASH's support for fallback URIs is for media segments.  By specifying multiple `<BaseURL>` elements, that means that a segment

[2018-05-15 23:36] zouhir commented on #1092
I have tested the page included in the internal bug report referenced with ID 14554354 and it seems to be working on Edge 17 _preview_

I will be setting something up to reproduce this the external bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/12658991/ -- since I read above they are pretty related, hopefully that one will be resolved too..

I am keeping my eye on this..

[2018-05-16 00:18] chrisfillmore commented on #1437
Thanks for the suggestion. I'm not very familiar with xlink so I'd have to take a closer look.

I actually think what might make the most sense is for our ad provider provider to respond with a redirect to the original URL if they aren't able to serve at the modified URL. I'll close this ticket for now. Thanks.

[2018-05-16 00:18] #1437 closed

[2018-05-17 23:08] TheModMaker commented on #1438
Good news, I've looked into this more, and the XML fixes will be easy to add.  So I will add it to v2.4.

Bad news, your asset still won't play with the above fix due to an Edge bug.  It may be related to the bug you linked or to https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/12658991/.  Basically Edge is choking because the first Period is "fully" clear and the second is enc

[2018-05-18 18:52] ncahoon opened #1440 "Stopping a live stream"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: 2.4.0

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: Yes

**Are you using the demo app or your own custom app?**: Demo app

**What browser and OS are you using?*

[2018-05-18 19:38] Mathieu-R commented on #1428
Yes.

[2018-05-18 19:38] #1428 closed

[2018-05-18 21:14] TheModMaker commented on #1440
Are you trying to convert the live stream to VOD?  Is the whole stream available or just a portion of it?  If a new person tries to play the manifest after the stream has ended, how do you want them to see it?  Do you know how long the stream will be when it starts?  Does it work if you keep the `minimumUpdatePeriod`?

Having live streams end and convert to VOD is complicated.  We have a bug on th

[2018-05-18 22:15] ncahoon commented on #1440
It all depends on when a person joins the stream and what our customer has configured. If the event has not begun, and the event URL has been published, users will get a live stream of repeating "pre-event slate". If they join while the stream is "live" they will get the live linear stream. If they join the event after it's over and the customer has chosen VOD replayable on the event, they will ge

[2018-05-19 00:42] chrisfillmore opened #1441 "Video artifacting in Canary 68.0.xxxx"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
v2.3.4

**Can you reproduce the issue with our latest release version?**:
Did not check

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
Demo app

**What browser and OS are

[2018-05-19 06:44] Mathieu-R commented on #1439
How did you test if the header `x-from-cache` is gettable ?
I added `Access-Control-Allow-Headers: X-From-Cache` on my CDN, but still don't get it.

[2018-05-20 09:57] calvinschmidt opened #1442 "Support for DASH Metrics"
Hi there,
this is not a bug, more likely a feature request or just looking for some help.

**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: 2.3.7

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: Yes

**Are you us

[2018-05-21 17:07] TheModMaker commented on #1439
I actually didn't test it... my bad.

The correct header is `Access-Control-Expose-Headers: X-From-Cache`.  I tested it by making a request to my local webserver using XHR and calling `xhr.getResponseHeader` on the result.  I didn't test with Shaka Player, but I am confident that this will work.

[2018-05-21 17:10] samanmohamadi opened #1443 "subtitle tracks are diabled"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: 2.3.7

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: No

**Are you using the demo app or your own custom app?**: My own

**If custom app, can you reproduce the i

[2018-05-21 18:07] theodab commented on #1443
As far as I can tell from poking around on github, plyr adds event listeners for `cuechange` when the player is created, and then `simple_text_displayer` disables all current tracks and makes a new one upon loading a manifest. So plyr was made on the assumption that the text tracks don't change, and `simple_text_displayer` disposes of any previous text tracks because it wants to use special Shaka

[2018-05-21 19:06] theodab commented on #1442
Shaka Player currently ignores the Metrics element.
Adding some kind of event along the lines of METRIC_ADDED when it detects a Metrics element would be a fairly simple change.
Actually tracking the requested metrics would be significantly more complex. I'll hesitantly put this in the backlog for now. Maybe we'll decide to put it in 2.5, maybe not.

In the meantime...

You could track http transac

[2018-05-21 20:04] #1438 closed

[2018-05-21 20:07] TheModMaker commented on #1438
The XML namespace problem has been fixed.  But as I mentioned, your asset still won't play due to a bug in Edge.  I also noticed that Firefox doesn't play this as well, so I filed a bug on Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1463213).  Filing a bug on Edge would be a bit harder since we don't have any easy-to-use PlayReady content to give as part of the repro.  But if you file a

[2018-05-22 07:43] samanmohamadi commented on #1443
Thanks, I tried the second way and it's working now.

[2018-05-22 07:43] #1443 closed

[2018-05-22 14:00] avelad commented on #1071
I'm reviewing and i think that I'll need new methods in the player:
getAudioLanguagesRolesAndChannels()
selectAudioLanguage(language, opt_role, opt_channels)

Is it possible add theses methods?

[2018-05-22 17:00] theodab commented on #1435
A little further testing:
This happens with Chrome on Linux. It doesn't happen with any other combination of platform and browser I tested (Firefox on Linux, Chrome on Mac, Firefox on Mac, Chrome on Windows).
So it's presumably some bug with MediaSource in Chrome Linux. I guess the question is if it's something we can work around or not. More investigation will be required.

[2018-05-22 20:59] ut0mt8 opened #1444 "Clear Key problem : new implementation of a Common Encryption packager"
**EDIT** : it work both with shaka-player and dashjs in firefox. Not in chrome.
**EDIT2** : implementing sub sample it work now both with shaka-player and dashjs in Chrome. Not in Firefox....
**EDIT3** : it seems to work ! need some clarification and adjustment.

A bit of context first: (and sorry if this not really a shakaplayer issue, but I know there are very competent persons reading here).  A

[2018-05-22 23:43] TheModMaker commented on #1444
First, you could use [Shaka Packager](https://github.com/google/shaka-packager) to generate your content.  It takes UDP streams or files, supports Live and VOD, and supports clear-key and Widevine (and maybe PlayReady).

I don't notice anything obviously wrong with the content or the code, but common encryption is hard to get right.  This is definitely not a Shaka Player issue and we can't offer o

[2018-05-23 10:15] ut0mt8 commented on #1444
Hello and thank for the response I really appreciate.
If you have worked on common encryption a lot I think you are the good person to help me.
Perhaps we could use another place to talk on that ?

1) I cannot use any existing packager (or I should patch) because we already use a patched version (by myself) of nginx-rtmp which handle scte35 message to pass it as emsg box. And this is very specific

[2018-05-23 16:44] theodab commented on #1444
Incidentally, your MPD has typos. On line 34, you are trying to close a `ContentProtection` element with `<ContentProtection>`. That should be `</ContentProtection>`. Same problem on line 71.

[2018-05-23 17:14] joeyparrish commented on #1013
This fix will be out in v2.4 this week.  Thanks for your patience!

[2018-05-23 17:15] TheModMaker commented on #1444
The problem is that we are on live stream so, I have to patch my code to write both flavours. I was thinking of that from the beginning but the structure of the code does not make it simple.
So when done I can provide both init and fragment clear and encrypted.

Does your code not support VOD?  Couldn't you just tell it to encrypt some normal VOD clip and test with that instead?  Do you have acces

[2018-05-23 17:18] joeyparrish commented on #1438
The XML namespace fix will appear in v2.3.8 and v2.4.0 this week.

[2018-05-23 17:19] joeyparrish commented on #1248
All fixes will appear in v2.3.8 and v2.4.0 this week.

[2018-05-23 17:21] joeyparrish commented on #276
This feature will be out in v2.4 this week.

[2018-05-23 17:21] joeyparrish commented on #1188
This feature will be out in v2.4 this week.

[2018-05-23 17:22] joeyparrish commented on #1087
This feature will be out in v2.4 this week.

[2018-05-23 21:31] ut0mt8 commented on #1444
@theodab thank for pointing it. I've fixed it. And also the content of the pssh box in base64 which it incorrect.

[2018-05-23 22:00] ut0mt8 commented on #1444
@TheModMaker
No my code doesn't support vod but I already test streaming in rtmp from ffmepg , something like :
`ffmpeg  -re -fflags +genpts -stream_loop -1 -i video-fixed.mp4 -vcodec copy -acodec copy -f flv rtmp://localhost/live/live`

This is the classic big buck bunny mp4, but with fixed GOP size at 50 frames (better for streaming).

So theoretically I can compare part of the initial file with

[2018-05-24 01:02] TheModMaker commented on #1444
First, you are using an older version of FFmpeg which incorrectly parses the encryption info.  I sent in patches to fix it recently and am using that version, which is why I can't get it to work for me.

The problem is you use the `saio` box to indicate where the encryption info is, but the value is wrong.  In older versions of FFmpeg, they didn't use this box, which is why it works in your FFmpeg

[2018-05-24 08:46] mimse opened #1445 "require shaka-player in nodejs"
**What version of Shaka Player are you using?**:
2.3.7

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
No

**If custom app, can you reproduce the issue using our demo app?**:

**What browser and OS are you using?**:
Nodejs 8.x.x macOS Sierra

**W

[2018-05-24 11:52] ut0mt8 commented on #1444
@TheModMaker Ah I was sure I made a mistake here. So to be clear the offset in saio should be the difference betwen the beginning of the moof box (not including the moof box def + header / flag) and the first IV in senc box ?
So In my case I calculate it as is :

[code]

I miss something but what ?

[2018-05-24 16:46] TheModMaker commented on #1444
https://github.com/ut0mt8/nginx-rtmp-module/blob/cenc/dash/ngx_rtmp_mp4.c#L1422

That should use `moof_pos`, not `pos`, which is the `traf` position.

[2018-05-24 19:35] ut0mt8 commented on #1444
What a dumb :) good catch @TheModMaker !
The perfect typo. Difficult to find without an external eye..

Again thank you for the code review. I ve just fix it. (the code is bit crappy I know, I have to refactor/clean it).

Now it work with mp4decrypt, ffmpeg both version, MP4box ! We progress.

[2018-05-24 21:45] ncahoon commented on #1440
@TheModMaker would you like me to publish a sample stream for you to see?

[2018-05-24 22:04] chrisfillmore commented on #999
@joeyparrish can you confirm, with this change, that Shaka would ignore device time for `SegmentTemplate` + `SegmentTimeline`, i.e. this would also resolve clock sync issues for such content?

[2018-05-24 22:59] TheModMaker commented on #1444
I can get it to play in Firefox.  My guess is Chrome doesn't support full-sample encryption.

[2018-05-25 08:30] FeliceGeracitano opened #1447 "FairPlay support with com.apple.fps.1_0 key system."
Hi Guys,
Thanks for the great work on the Shaka player.

I'd like to ask if you are interested in a PR that enable support for Fairplay DRM with com.apple.fps.1_0 key system. I got a solution working with my DRM contents and I'd love to use only the Shaka player to handle the different platforms.

Thanks in advance

[2018-05-25 12:06] ut0mt8 commented on #1444
Yes it work both with shaka-player and dashjs in firefox.
And   it doesn't at all in chrome; perhaps full-sample encryption for the video is not supported...
The sound track should be working independently ?
Did some Chrome-dev/other know that point ?

Anyway let's implement the norm and see.

[2018-05-25 14:32] chrisfillmore commented on #1447
Hi @FeliceGeracitano, there is a ticket for HLS-FP support via native Safari player: https://github.com/google/shaka-player/issues/997

I also recommend you read the discussion at https://github.com/google/shaka-player/pull/1199. That pull request is for `com.apple.fps.2_0` support, but there is discussion of `com.apple.fps.1_0`. I'm not a member of Shaka team, so this is my own opinion, but I thi

[2018-05-25 15:12] FeliceGeracitano commented on #1447
Hi @chrisfillmore
Thanks for the bugs links.

I see your point now. Configuration object will have no effect since safari will handle the streaming.
I'l be Happy to help on #997 if is needed.
Related to the separate implementations, could that lead to shaka.SafariPlayer for `com.apple.fps.1_0` and shaka.Player for `com.apple.fps.2_0`?

[2018-05-25 15:40] plzhang opened #1448 "DASH multi-period live stream - Assertion failed: This should be an update of the last segment in a period"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
Shaka Player v2.4.0-uncompiled
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Demo App
**If custom app,

[2018-05-25 15:44] chrisfillmore commented on #1447
Speaking strictly hypothetically, yes. Personally I would say the client application would need to decide which player implementation to use at some point.

[2018-05-25 15:59] #1445 closed

[2018-05-26 16:04] PrasannaLearnyst opened #1449 "HLS play error - hang in transmuxing"
What version of Shaka Player are you using?
Tested in the latest code and also in https://shaka-player-demo.appspot.com

Can you reproduce the issue with our latest release version?
Yes

Can you reproduce the issue with the latest code from `master`?
Yes

Are you using the demo app or your own custom app?
Demo app

What browser and OS are you using?
Chrome desktop browser MAC

What are the manifes

[2018-05-27 13:56] ronenneumark opened #1450 "CatchUP Content not working"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
2.4.0
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:
yes
**Are you using the demo app or your own custom app?**:
demo app
**If custom app, can you reproduce the is

[2018-05-28 09:11] ravics78 opened #1451 "Shaka Player repeatedly throws the warning "Assertion failed: SegmentReferences are incorrect" when playing certain DASH assets"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**: Yes.

**What version of Shaka Player are you using?**: 2.3.7

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: Yes

**Are you using the demo app or your own custom app?**:custom  portal that launches shaka player

**If

[2018-05-28 09:12] ravics78 commented on #1451
[segmentincorrect-5.log](https://github.com/google/shaka-player/files/2044448/segmentincorrect-5.log)
attached logs showing the above warning message

[2018-05-28 15:10] ut0mt8 commented on #1444
Update:

I've just implemented sub-sample encryption and now it work with Chrome but not on Firefox...

@TheModMaker what I was doing wrong this time. If you can keep an eye on it, your external viewpoint have been precious for now :)

[2018-05-29 04:13] ravics78 commented on #1451
More details about the issue:
Although the playback is not halted due to the warnings, logs get accumulated due to excessive warning statements which can slow down the system

[2018-05-29 12:49] Cowboy-coder opened #1452 "`setTextVisibility` on `shaka.extern.TextDisplayer`"
In the process of implementing a custom rendering of subtitles I'm implementing my own `TextDisplayer`.

However, in the implementation of `setTextVisibility` am I supposed to disable the text track as well by calling `player.setTextTrackVisibility` or something? Cause I'm getting a bit confused regarding why this function exists at all on the interface. Related concern regarding `isTextVisible()`

[2018-05-29 15:18] joeyparrish commented on #1248
@odedhutzler, this issue was about backward compatibility for upgrades.  Please file feature requests for those new features.  Thanks!

[2018-05-29 15:59] theodab commented on #1448
It looks like we might have a bad assertion. I'll look into it more, thanks for reporting.

[2018-05-29 17:36] theodab commented on #1450
It wasn't me!
Glancing at this, it seems to play sometimes. And when it does play, it doesn't mention gap jumping. So I agree that it's related to gap jumping somehow.

[2018-05-29 18:31] Cowboy-coder commented on #1452
Thanks for that response. Makes stuffs a lot clearer!

I guess I got confused also because seems `player.getTextTracks()` always seems to return a `active == true` track. So I thought perhaps I'm responsible for deactivating that track, but then now I saw this [piece of code](https://github.com/google/shaka-player/blob/5bf66fdc01d459e80a1cda088c1a03d4e3acade6/lib/player.js#L1462-L1474). But I did

[2018-05-29 20:14] ismena commented on #1451
Hi @ravics78,
Can you repro it in any other browser? I don't seem to get the assertion in either Chrome or Firefox.

[2018-05-29 20:45] ut0mt8 commented on #1444
Quick status for followers and specially @TheModMaker.
So with sub-sample and an correct saiz box I ve got something which it close to work.

The only point is the size of the clear bytes at the beginning. Chrome seems to be very picky on that. For now I put an arbitrary big value. Anyway this is almost safe as I encrypt sufficient amount of data to leave the flow unplayable.

[2018-05-29 20:51] joeyparrish commented on #1092
We have others reporting that this has been fixed in the latest release of Edge.  Please update!

[2018-05-29 20:51] #1092 closed

[2018-05-29 21:02] ismena commented on #1452
Glad to help! Please reach out in the future if you have more questions :)

[2018-05-29 21:02] #1452 closed

[2018-05-29 21:15] ismena commented on #1449
Hi @PrasannaLearnyst, thanks for reporting!
EXT-X-ENDLIST tag is a [Media playlist](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.3.4) tag and should not be part of the Master Playlist, so removing it is the right thing to do.

Regarding the playback getting stuck after 2 seconds, it looks the third segment somehow gets stuck in transmuxing and thus hangs the playback

[2018-05-29 22:25] desenhista opened #1453 "DRM Dash Live Stream doesn't work"
**Have you read the FAQ and checked for duplicate issues:** yes

**What version of Shaka Player are you using:** 2.4.0

**Can you reproduce the issue with our latest release version:** yes

**Can you reproduce the issue with the latest code from master:** yes

**Are you using the demo app or your own custom app:** demo app and custom app

**If custom app, can you reproduce the issue using our demo

[2018-05-29 23:26] ismena commented on #1453
Hi @desenhista, I'm getting a 403 error for your manifest. Are you restricting access by region or something like that?

[2018-05-30 04:59] PrasannaLearnyst commented on #1449
Hi @ismena,
Thank you for the response.

The m3u8 is from Expressplay SDK, will raise the issue in Expressplay.

[2018-05-30 11:15] odedhutzler opened #1454 "New features for offline section"
Upon closing issue #1248, are you considering pause / resume & renew license features?

We also thought of constantly updating the manifest in the DB, so if the browser / tab is closed accidentally, the user will be able to continue the download from where it ended. Are you considering some kind of anti-failure mechanism?

[2018-05-30 13:54] rounce opened #1455 "ReferenceError: 'Symbol' is undefined in IE 11"
Test on demo: https://shaka-player-demo.appspot.com/demo/#asset=https://storage.googleapis.com/shaka-demo-assets/angel-one/dash.mpd;lang=ru-RU;build=compiled
<a href="https://ibb.co/dvQ4Qy"><img src="https://preview.ibb.co/javSdJ/image.png" alt="image" border="0"></a>
This error appeared in commit b27ea82e
There's no issue when build=debug_compiled

Perhaps you need to add a polyfill and describe

[2018-05-30 14:47] nickrobinson opened #1456 "Skip MIME type guess for fragment URIs not containing MIME types"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**:

**What version of Shaka Player are you using?**:
2.4.0

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
Custom

**If custom app, can you reproduce the issu

[2018-05-30 15:10] desenhista commented on #1453
Hi @ismena

has restriction by region. sorry for that.
I will remove the restriction and as soon as I do, I'll let you know

thank you so much

[2018-05-30 15:29] joeyparrish commented on #1454
Yes, we have been discussing how to manage this.  We don't have a detailed design, but tentatively, we will make this dependent on background fetch (#879).  On platforms that support it, background fetch will allow us to move offline downloads to the service worker.

Because service workers can outlive the page and are shared among multiple tabs for the same origin, service worker downloads could

[2018-05-30 15:41] ismena commented on #1456
Hi @nickrobinson,
We will need to repro to better understand the problem. From what you're describing I suspect that specifying HLS parser might have worked, but then the parser got confused with the extension of your segments.

That's just my idle speculations though. Please post the manifest url here or send it to shaka-player-issues@google.com.

[2018-05-30 15:56] ismena commented on #1455
@joeyparrish Could you take a look if you have a chance? (The mentioned commit is yours and I don't have access to IE today). If not, I'll check this out later this week.

[2018-05-30 16:50] #1448 closed

[2018-05-30 16:56] joeyparrish commented on #1455
Will do.

[2018-05-30 17:16] joeyparrish commented on #1455
The issue appears in the release build, but not the debug build.

To dig into this, I started by examining the compiled code and looking for `Symbol`.  The debug and release builds both have this, but it looks a little different.

I tried to put a breakpoint in the code, but IE was making that difficult and wouldn't let me see the compiled bundle, possibly because there was a source map.  The code

[2018-05-30 17:30] joeyparrish commented on #1455
The code inserted by the compiler doesn't work in a wrapper.  It does not appear to be our wrapper's fault.

In some places, the compiler-inserted code refers to `$jscomp.global.Symbol` (which works), and in others, it refers to `Symbol` (which only works without the wrapper or on browsers with native `Symbol` support).  This mistake appears in the definitions of `$jscomp.makeIterator`, `$jscomp.g

[2018-05-30 18:54] joeyparrish commented on #1455
Compiler patch: https://github.com/joeyparrish/closure-compiler/commit/ab6ead338d7a03f1caa335eae2de8e977b61c901

[2018-05-30 20:17] ismena commented on #1455
@joeyparrish Boy, am I glad I asked you 😛

[2018-05-30 20:27] ismena commented on #1449
I don't think anything's wrong with the content. The notes I left are for other members of my team, so if someone other than me picks this up, they know what's already been done.

I think the problem is either on mux.js side (the open source library we use for transmuxing) or in our integration with them. We will investigate further and reach out to mux.js developers if need be.

[2018-05-30 20:34] Mathieu-R commented on #1439
Yes, the problem is on the nginx side.
Closing the issue.

[2018-05-30 20:34] #1439 closed

[2018-05-30 20:40] Mathieu-R opened #1457 "Send assets to update receiver UI (Chromecast)"
Have you read the FAQ and checked for duplicate open issues?: Yes

What version of Shaka Player are you using?: 2.3.7

Can you reproduce the issue with our latest release version?: Yes

Can you reproduce the issue with the latest code from master?: Yes

Are you using the demo app or your own custom app?: custom app

If custom app, can you reproduce the issue using our demo app?: Yes

What browser

[2018-05-30 21:00] #1455 closed

[2018-05-30 21:05] joeyparrish commented on #1457
`shaka.cast.CastProxy.prototype.setAppData` is the right place to send metadata.  That is used on the sender side to communicate arbitrary metadata to the receiver.

The receiver gets that metadata via a callback.  When you construct a `shaka.cast.CastReceiver` object on the receiver side, you pass a callback to the `appDataCallback` parameter (optional 3rd parameter, after `video` and `player`).

[2018-05-30 21:18] Mathieu-R commented on #1457
Thanks but can I pass whatever data type I want to setAppData (like an object) ?

[2018-05-30 21:28] joeyparrish commented on #1457
We have special serialization support for `TimeRanges` objects, in lib/cast/cast_utils.js.  This could be extended for any reasonable thing you might need to send, except for code.  We wouldn't accept any change that used `eval` to get and execute JS code sent across the wire, because that would be inherently insecure.  For that sort of thing, it's best to have your receiver load any necessary cod

[2018-05-30 21:31] Mathieu-R commented on #1457
Yes thanks

[2018-05-30 21:36] joeyparrish commented on #1457
Happy to help!  Please let us know if you need anything else.

[2018-05-31 05:08] PrasannaLearnyst commented on #1449
@ismena ,

It will be helpful, thanks

[2018-05-31 16:57] joeyparrish commented on #855
When the browser indicates that we should save data, we will default AbrManager's restrictions object to a max height of 360.  Apps can still override this, and users can still select higher resolution tracks when ABR is disabled.  The restrictions object will be treated as "soft" restrictions, meaning that if the restrictions cannot be met, we will not fail playback.

[2018-05-31 18:20] joeyparrish commented on #1051
Things to do:
  - Get progress events from XHR in NetworkingEngine plugin
  - Get progress events from Fetch in NetworkingEngine plugin
    - If there's no progress events in Fetch yet, we need to stop preferring it to XHR and file a spec bug
  - StreamingEngine needs to abort segment requests in progress if the video bandwidth is downgraded
    - We might need some policy to decide when to abort.

[2018-05-31 19:00] #855 closed

[2018-05-31 21:35] TheModMaker commented on #1450
`chrome://media-internals` reports the following logs:

It looks like we seek to exactly the start of the buffered range, but the video doesn't move forward.  My guess would be the seek was inaccurate and caused the browser to stall.  These warnings should be fixed in your content.

We could introduce a fudge factor when we seek in gap jumping, but in your content, we would need to set it to at le

[2018-05-31 22:03] TheModMaker commented on #1444
There are specific rules for what bytes need to be encrypted vs clear when using subsample encryption.  Usually, decoders will just do what the container says and decode the bytes specified in the `senc` box, but Chrome may require you to follow those rules.

For example, in H.264/H.265, the data is written in a series of NAL units.  Only video-slice NAL units should be encrypted and then the NAL

[2018-06-01 06:58] Mathieu-R commented on #1457
@joeyparrish Shouldn't the receiver be controlled by the app when casting.
If I hit pause, seek, change music or whatever else on the app, it does not reflect on the receiver.

[2018-06-01 09:04] samanmohamadi commented on #1004
will this be resolve in v2.5?
I want to completely destroy the player and recreate it again but after recreating, the player looks like is dead, manifest fetched but player not working.

[2018-06-01 12:12] ut0mt8 commented on #1444
Again a big thanks for your support and patience.

The status is I have now a working implementation but still oper issue using clear key (I am in progress with widevine).

Shaka player : Chrome OK ; Firefox OK
Dashjs : Chrome NOK (?!) ; Firefox OK

PS :  I knew about rule and norm about what to be crypted or not.
I've made a naive implementation , leaving enough arbitrary bytes in clear at the be

[2018-06-01 14:33] chrisfillmore commented on #1441
This issue is easily reproduced in Canary with `--enable-features=MseBufferByPts` and the stream provided, see analysis here:
https://bugs.chromium.org/p/chromium/issues/detail?id=844799#c33

This is now an issue for our video engineering group to tackle, so I will close. Maybe you'd like to tag as Chrome PTS/DTS?

Thanks for the help!

[2018-06-01 14:33] #1441 closed

[2018-06-01 16:39] TheModMaker commented on #1444
Glad I could help.  If you have any more questions, feel free to ask.

[2018-06-01 16:39] #1444 closed

[2018-06-01 16:48] TheModMaker commented on #1004
This issue is about documentation, there is nothing to fix here.  After #1087, we should support "detaching" the video from the Player so the video can be used by another instance.

@samanmohamadi If you are trying to "completely" destroy the player, you should be able to do this with `player.destroy`, for example:

[code]

If you are having trouble with `destroy`, you should file a new bug.

[2018-06-01 16:53] TheModMaker commented on #1454
We will track these features in their original bugs, #1301 for pause/resume and #1347 for offline license renewal.

[2018-06-01 16:53] #1454 closed

[2018-06-01 17:15] ut0mt8 commented on #1444
When I started I was thinking I ve never get it to work and I am a fool to try to implement it. And finaly even with widevine it work. Just before the Word cup :)

[2018-06-01 17:43] joeyparrish commented on #1444
:tada: Github calls that the "hooray" reaction, or the "tada" emoji, but I prefer to think of it as a vuvuzela. :tada:

[2018-06-01 17:51] joeyparrish commented on #1457
The receiver app is controlled by the sender app, but that happens through proxied references to the video and player.  You use `CastProxy` to get those, and your UI talks to the proxies.  For example:

[code]

Your app's UI should always be calling methods and setting properties on the proxied objects, not directly on the local ones.  The UI controls for "pause", for example, don't have to check

[2018-06-01 17:53] joeyparrish commented on #1441
Done.  Thanks!

[2018-06-01 17:57] joeyparrish commented on #1004
You can completely destroy as @TheModMaker points out, or you can detach from the video element and attach to a new one:

[code]

Or in modern browsers:

[code]

[2018-06-01 18:09] joeyparrish commented on #1449
Filed upstream against mux.js: https://github.com/videojs/mux.js/issues/194

[2018-06-01 18:10] joeyparrish commented on #1449
We think the mux.js bug can be converted from a hang into an error without waiting for the bug to fixed.  We consider that an improvement, but mux.js will ultimately have to fix the bug.

[2018-06-01 18:17] joeyparrish commented on #855
Cherry-picked for v2.3.9 and v2.4.1.

[2018-06-01 18:17] joeyparrish commented on #1455
Cherry-picked for v2.3.9 and v2.4.1.

[2018-06-01 18:17] joeyparrish commented on #1448
Cherry-picked for v2.3.9 and v2.4.1.

[2018-06-01 18:17] joeyparrish commented on #1445
Cherry-picked for v2.3.9 and v2.4.1.

[2018-06-01 18:50] Mathieu-R commented on #1457
Yes, and for the second question ?

[2018-06-01 20:07] joeyparrish commented on #1457
I'm sorry, I can't spend the time to debug your application.  Just glancing at your code, though, I see that you are doing this:

[code]

So I'm going to guess that the unbound callback is the problem.  I think if you go to metadataCallback and log "this", you'll see it's not what you think.

In JavaScript, if you take a method from an object, like `var cb = foo.method;`, you end up with an unboun

[2018-06-01 21:03] joeyparrish commented on #1391
I tried out MediaCapabilities in Shaka Player this week, but I think my plan to use it for an additional filtering pass needs to change.

For one, MC is async, and our existing filtering is synchronous.  This means we may want to refactor a bit before introducing it.

For another, this is different from our filtering based on `isTypeSupported`, codec compatibility (to avoid unsupported codec switc

[2018-06-01 21:26] chcunningham commented on #1391
Adding a little color here - in chrome, especially for unencrypted, the audio configuration will not affect smoothness.

There is a hypothetical scenario where UAs in very constrained devices (e.g. TVs, cast devices, etc) could theoretically be impacted by the audio configuration. For instance, say audioConfigA means can choose internal pipeline A which leverages their hw chip to smoothly decode t

[2018-06-01 21:27] ismena commented on #1449
@PrasannaLearnyst as @joeyparrish mentioned, we believe that this is a bug in mux.js and have reached out to them about it.
We will throw an e

[2018-06-02 07:35] Mathieu-R commented on #1457
How could I forgot to bind 😮 Thanks to point to that.

[2018-06-02 07:35] #1457 closed

[2018-06-03 20:38] TobbeEdgeware opened #1458 "Error in remapping segmenttimeline when going from live to VoD"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**:
Yes. It seems that Issue #1055 is related.

**What version of Shaka Player are you using?**:
Latest from master: 58d1498

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own c

[2018-06-04 11:51] desenhista commented on #1453
Hi @ismena

Can you give me an ip or range of ip to put on the white list of akamai?

Thanks

[2018-06-04 14:07] joeyparrish commented on #1457
No worries!  We all do it from time to time.

[2018-06-04 16:42] ismena commented on #1449
@PrasannaLearnyst from their explanation, it sounds like the segment states that it has both audio and video, but in fact has only video.
Could you follow up on this with your encoder? (Feel free to join the discussion on the mux.js bug if they introduce new info).

Mux.js devs have given us a hint on how to work around the problem, but it does sound like the content's description of itself is inc

[2018-06-04 16:44] ismena commented on #1453
Here are our IP blocks:
IPv6 block: 2620:0:1008::/48
IPv4 block: 104.132.51/24

[2018-06-05 04:11] PrasannaLearnyst commented on #1449
@ismena checked the encoder file, it has the audio from 00:00 to end time and sure will join the MuxJS discussion.

[2018-06-05 15:58] yairtal opened #1459 "one track auto play loop - streaming forever instead of once"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.3.7
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
My own custom app
**If custom app, can you reproduc

[2018-06-05 16:23] chrisfillmore commented on #1437
I realized that I could achieve what I want by registering a request filter for manifests and pushing my fallback url into `request.uris`.

[2018-06-05 17:33] chrisfillmore commented on #1459
@yairtal I'm curious about your use case. What is the video you are playing? Who is the audience? Also, what is your infrastructure? Where does this video come from?

[2018-06-05 17:50] TheModMaker commented on #1459
It seems like what you want is to store the video offline and then play that.  You can use our [offline storage](https://shaka-player-demo.appspot.com/docs/api/tutorial-offline.html) code to store the manifest offline then play the resulting offline manifest.

Another option would be to set the `bufferBehind` and `bufferingGoal` values to the length of the video; but this will only work for short

[2018-06-05 17:59] chrisfillmore commented on #1459
The reason I ask about your use case is if you have relatively short, static, clear content, you could deliver video as a plain mp4 and the video element's `loop` attribute would do what you want.

[2018-06-05 18:04] yairtal commented on #1459
I've tried the offline option, it will only download the lowest quality possible, no matter what's my bandwidth. Any way to configure that? Have it check the bandwidth before the download starts?

I've also tried to set bufferBehind and bufferingGoal values to the length of the video, the result was still a streaming download on every loop, it doesn't just download once.

I have a 73 secs long mar

[2018-06-05 18:15] TheModMaker commented on #1459
Could you post a link to a page that reproduces your problem?  I can loop a video by doing the following:

1. Navigate to demo page (https://shaka-player-demo.appspot.com/demo/).
1.  Open DevTools and type `debugConfig = {streaming: {bufferBehind: 600, bufferingGoal: 600}}`.
1. Click Load with the `Angel One (multicodec, multilingual)` asset selected.
1. Right click the video, select `Loop`.

The

[2018-06-06 08:30] yairtal commented on #1459
https://arctop.co

My video duration is 00:01:12.15 and my configuration is:
[code]
I've made sure I am not loading the video more than once.
html is set for loop with `<video loop>`

yet, it's downloading the entire video on each loop.

[2018-06-06 15:34] avelad opened #1460 "Add support for EXT-X-SESSION-DATA"
Is it possible add support to EXT-X-SESSION-DATA?

https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.4.4

The EXT-X-SESSION-DATA tag allows arbitrary session data to be  carried in a Master Playlist.

 In this example, only the EXT-X-SESSION-DATA is shown:
 #EXT-X-SESSION-DATA:DATA-ID="com.example.lyrics",URI="lyrics.json"
 #EXT-X-SESSION-DATA:DATA-ID="com.example.title",

[2018-06-06 16:38] TheModMaker commented on #1459
It looks like there is a small gap at the beginning of your content in the video stream.  We jump the gap automatically; but when we seek to the beginning, we think it is an unbuffered seek, so we clear the buffer.  We shouldn't be doing that.

As a work-around, you could manually set the seek range start, which will cause us to seek to that time when we loop and keep the buffer full.  `player.con

[2018-06-06 19:34] michellezhuogg commented on #1460
@joeyparrish Are we going to add this?

[2018-06-06 21:27] boredom2 commented on #1169
Concerning the mentioned "best Ways" to use SHAKA together with a "VAST/VPAID/IMA" Environment (i.e. the optimal Way to change the Source of a <video> between a SHAKA Instance and a simple Ad-MP4, which may be handled by the Player itself (own VAST Approach) or the IMA SDK (or potential other Ad Plugins) and back to SHAKA with the same time (or maybe a little before) - is it currently planned to c

[2018-06-07 11:45] yairtal commented on #1459
Thank you for your fast reply and work-around

[2018-06-07 21:35] #1456 closed

[2018-06-07 23:00] michellezhuogg commented on #1458
Hi @TobbeEdgeware ,
Thank you for reporting this! I am able to reproduce this issue in Chrome on MacOS, but not in Firefox on MacOS or linux. We will work on fixing it!

[2018-06-08 16:59] TheModMaker commented on #1460
@avelad What do you see us doing with this information?  It looks like what we would do is fire an event when we see that tag and let the app do something with it.

[2018-06-08 18:19] ismena commented on #1453
@michellezhuogg @joeyparrish
Could one of you take this over is this/next week's bug cop?

[2018-06-08 19:03] chrisfillmore commented on #1368
@joeyparrish I am confirming with our product team but I believe we have two basic requirements:

1. Need to notify the user that they can't connect a non-HDCP-compliant external display
2. Need to notify the user that some variants (e.g. 4K) are restricted

I expect that this would require some non-trivial refactoring in Shaka. Do you think it is feasible for 2.5?

[2018-06-11 09:58] philippk80 opened #1461 "[Question] Mixing Dash live and Dash on demand"
Hello,
I have the requirement to build a application that acts as on demand service but shouldn't save multiple version of the converted original video file. But it should support multiple video profiles.
Which way would you go?

I thought about two possibilities:

1. Use shaka with dash on demand and refer in the manifest to multiple versions of the video that not really exists and the server wil

[2018-06-11 10:03] avelad commented on #1460
@TheModMaker , We will use this information for chaptering and thumbnails using this "standard" json https://developer.apple.com/documentation/avfoundation/media_assets_playback_and_editing/javascript_object_notation_json_chapter_format_for_http_live_streaming
Fire a event with all information(DATA-ID, VALUE, URI, LANGUAGE) is enough for me.

[2018-06-11 17:03] ismena commented on #1461
Hi @philippk80,
Could you describe your use case in more detail?

You want to take a VOD dash manifest and only make 1 stream available per content type (only one video, one audio and one text regardless of user's network speed, language preference etc.). Is that right?
Does the manifest itself have multiple renditions (many video/audio versions)?

[2018-06-11 17:14] philippk80 commented on #1461
I try to explain it.
I want to provide the video with multiple quality profiles like youtube, netflix, ... ( I think that is the most common requirement) Now is the problem that I have to keep the needed disk space as low as possible.
Because of this I thought about saving only the file with the best quality. This should allow me to make something like a realtime rendering when someone requests so

[2018-06-11 23:04] TheModMaker commented on #1337
Jasmine has `expect(...).toThrow` which allows us to assert that a function will throw an exception.  We should look into adding one for async methods.   There appears to be `expectAsync`, but I don't think it supports asserting the value of the rejection.  For example:

[code]

[2018-06-12 00:05] #1451 closed

[2018-06-12 15:18] TheJohnBowers commented on #1360
Is this on the radar anywhere?  Scheduled to be looked at for any particular targeted release, etc?

[2018-06-12 15:42] robertoviola opened #1462 "[QUESTION] Offline license server"
I have some questions, this post is not for bugs.
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**:
Yes.
**What version of Shaka Player are you using?**:
v2.4.0
**Are you using the demo app or your own custom app?**:
demo app
**What browser and OS are you using?**:
Ubuntu 16.04 and Firefox 60.0.1
**What did you do?**
I would develop an offline license serve

[2018-06-12 16:34] TheModMaker commented on #1462
The Widevine license request and response formats are proprietary and undocumented.  Even if you knew the format, the response is signed with keys and certificates you don't have access to.  The CDM will only talk with official Widevine license servers.

If you want more information or would like to talk about hosting your own Widevine license server, you should talk with Widevine support directly

[2018-06-12 16:40] TheModMaker commented on #1360
@TheJohnBowers This is scheduled for v2.5, which will be our next feature release.  We will be working on this soon, but no one is working on it right now.

[2018-06-12 18:48] joeyparrish commented on #1462
In short, you can't develop your own Widevine license server.  Please send any further questions about running a Widevine license server directly to Widevine.  Thanks!

[2018-06-12 18:48] #1462 closed

[2018-06-12 18:58] joeyparrish commented on #1447
Hi @FeliceGeracitano.  We are planning to wrap Safari's native HLS player to support `com.apple.fps.1_0`.  This will allow applications to use Shaka Player on iOS, but as Chris points out, very little of Shaka's config will have any effect on iOS.  The goal with that is just to make things a little simpler, so that apps don't have to write two different sets of logic for iOS and for everything els

[2018-06-12 19:08] joeyparrish commented on #1450
@ronenneumark, have you had a chance to read the earlier replies from the team?  Is this helpful?  Is there anything else we can do for you?

[2018-06-12 19:12] joeyparrish commented on #1453
@desenhista, I tried to reproduce the issue today, but I'm getting HTTP 403 errors.

[2018-06-12 19:16] joeyparrish commented on #1449
Setting `'remux': false` doesn't fix it.  Instead, I get a MediaSource error from Chrome that says "Initialization segment misses expected aac track".  I will follow up with mux.js.

[2018-06-12 19:27] PrasannaLearnyst commented on #1449
@joeyparrish , thank you

[2018-06-12 19:28] joeyparrish commented on #1449
So far, there doesn't seem to be an easy way to fix this in Shaka Player.  I've tried a few things, but I've had no luck.  I'm hoping for more feedback from mux.js, and possibly a fix from them.  For now, this will stay marked as "external".

For a workaround that you can control @PrasannaLearnyst, could you demultiplex your TS content library?  This is something you might be able to try with one

[2018-06-12 20:54] ismena commented on #1449
@PrasannaLearnyst For some reason I have a feeling I've seen a comment from you saying that you checked and was audio in the segment in question after all. Am I imagining things?

(Apologies if I'm confused, but that's a whole different direction of the conversation with mux.js if that's the case).

[2018-06-12 20:58] ismena commented on #1461
@philippk80 I think I understand the idea. Let me bring in <s>the big gun</s> our most experienced team member.

@joeyparrish I feel like you might be able to give better advice on the general technical direction of the project in question.

[2018-06-12 22:02] joeyparrish commented on #1449
The workaround introduced by @ismena has been cherry-picked for v2.3.9 and v2.4.1.

[2018-06-12 22:29] desenhista commented on #1453
Hi @joeyparrish
Please, can you try again?

thank you very much

[2018-06-12 23:04] joeyparrish commented on #1453
I can see the issue now, but I've run out of time to work on it today.  I'll look again tomorrow and dig into why it is failing.

[2018-06-13 04:28] philippk80 commented on #1461
Yesterday I tryed to make a performance test with VP9 and a desktop pc. The results won't let me go with this approach even on 720p for performance reasons. I don't know if I would get better results if using another codec.

[2018-06-13 09:20] rahulkrish commented on #1395
@Moussa @TheModMaker Has there been any updates on the above issue ? We are getting the `QuotaExceededError` while playing back a Live stream on Xbox One OS Version - 10.0.17134.3036. The stream happen to playback fine for an hour or so before throwing the error. Any workarounds to this ? We did try tweaking the streaming.bufferBehind as @joeyparrish had suggested but no visible difference in beha

[2018-06-13 14:50] radiantmediaplayer opened #1463 "Unable to load shaka-player.compiled.js in Electron 2"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**
Y

**What version of Shaka Player are you using?**:
2.4.0

**Can you reproduce the issue with our latest release version?**:
Y

**Can you reproduce the issue with the latest code from `master`?**:
Not tried

**Are you using the demo app or your own custom app?**:
custom

**If custom app, can you reproduce the

[2018-06-13 18:51] joeyparrish commented on #1395
As far as we can tell, this is an external issue, on Microsoft Edge.  It appears that data is not being removed from buffer when we use the [`SourceBuffer.remove` method](https://developer.mozilla.org/en-US/docs/Web/API/SourceBuffer/remove).

This is fairly fundamental to MediaSource playback, and we are not aware of any workaround.  This issue needs be to raised with Microsoft.  Please feel free

[2018-06-13 18:52] joeyparrish commented on #1447
My pleasure.  Sorry we didn't get you the answers sooner.

[2018-06-13 18:52] #1447 closed

[2018-06-13 18:55] joeyparrish commented on #1463
Can you load any of these Shaka Player demo app links in Electron?

v2.4.0, uncompiled: https://shaka-player-demo.appspot.com/demo/#build=uncompiled
v2.4.0, debug: https://shaka-player-demo.appspot.com/demo/#build=debug_compiled
v2.4.0, release: https://shaka-player-demo.appspot.com/demo/#build=compiled

nightly, uncompiled: https://nightly-dot-shaka-player-demo.appspot.com/demo/#build=uncompiled

[2018-06-13 20:23] chrisfillmore opened #1464 "Live, multi-period DASH, Shaka makes thousands of requests for the same segments"
(Updated 6/15 with results from some additional testing)
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
This is reproducible in 2.3.9 and 2.4.1, and master

**Can you reproduce the issue with our latest release version?**:
This is not reproducible in 2.3.8 or 2.4.0.

**Can you reproduce the issue with

[2018-06-13 20:35] ronenneumark commented on #1450
HI @joeyparrish - thanks for your help! we ask our content provider to make the needed changes and work with a standard DTS/PTS settings

[2018-06-13 20:54] joeyparrish commented on #1450
Okay, great.  I'm going to go ahead and close the issue, then, but please feel free to let us know if it needs to be reopened.  Thanks!

[2018-06-13 20:54] #1450 closed

[2018-06-14 06:44] rahulkrish commented on #1395
Sure @joeyparrish I'll CC you in on the mail to our Microsoft point of contact. Appreciate your help on taking this to closure.

[2018-06-14 09:14] radiantmediaplayer commented on #1463
@joeyparrish thanks for the reply. Here are the results:
v2.4.0, uncompiled: https://shaka-player-demo.appspot.com/demo/#build=uncompiled

v2.4.0, debug: https://shaka-player-demo.appspot.com/demo/#build=debug_compiled

v2.4.0, release: https://shaka-player-demo.appspot.com/demo/#build=compiled

Uncaught ReferenceError: shaka is not defined
    at shakaDemo.init (main.js:102)

nightly, uncompiled:

[2018-06-14 12:01] madsva opened #1466 "Playback fails with: cannot find segment: currentPeriod.startTime=0"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: 2.3.7

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: Yes

**Are you using the demo app or your own custom app?**: Custom app

**If custom app, can you reproduce

[2018-06-14 16:08] joeyparrish commented on #1395
No problem.  Happy to help.  If MS can recommend a workaround that can be applied in JavaScript while we wait for the OS/browser to be fixed, I would be happy to help you get that working.  You could deploy a temporary fork of Shaka Player with that workaround to make sure you can serve your audience on time.

[2018-06-14 17:11] joeyparrish commented on #1453
Here's my analysis of the content:

Current unix timestamp when I fetched the manifest (`now`): 1528995655
Stream start according to the manifest's `availabilityStartTime` attribute (`ast`): 1527269598
Time in seconds since stream start (`live_edge = now - ast`): 1726057
Most recent video segment start time (`latest_start`): 501643046354
Most recent video segment duration (`latest_duration`): 9009

[2018-06-14 17:11] #1453 closed

[2018-06-14 17:12] joeyparrish commented on #1463
Thanks for the details on how to use electron.  Very helpful!  I'll take a look.

[2018-06-14 17:18] joeyparrish commented on #1463
I can reproduce the issue.  It looks like it has something to do with the [output wrapper](https://github.com/google/shaka-player/blob/master/build/wrapper.template.js) we use with the compiler.  It is meant to allow Shaka to be used with module loaders, but it seems that Electron has a "module" global variable that is confusing the wrapper.

[2018-06-14 18:01] Moussa commented on #1395
I've been told by our MS contact that the issue has been identified and fixed. They were unsure which Insider build the fix would go out with but I have the `10.0.17134.4034` Insider Alpha ring build that was released on June 12 and can confirm I can no longer reproduce the issue with my sample video. If anyone else can confirm I can close out this issue,

[2018-06-14 18:15] chrisfillmore commented on #1464
I tested in 2.4.1 today and can reproduce with that version.

[2018-06-14 18:30] desenhista commented on #1453
Thank you very much @joeyparrish

[2018-06-14 18:49] chrisfillmore commented on #1464
This appears to be caused by https://github.com/google/shaka-player/commit/b212ef9b4f1fa7ff843912e9919c37a5c003fe12. If I revert this change, the problem goes away.

Still investigating...

[2018-06-14 19:09] chrisfillmore commented on #1464
Just to confirm the above, I've tested and can reproduce in 2.3.9, as well as 2.4.1.
2.3.8 and 2.4.0 do not have this problem.

[2018-06-14 20:30] joeyparrish commented on #1395
@TheModMaker, can you please take a look and try to repro again?

I'm not sure what build we have on our XB1.  I tried to check, but the string I found looked nothing like yours, @Moussa, so I may have been looking at the wrong thing in the OS.

[2018-06-14 21:44] Moussa commented on #1395
@joeyparrish The full string looks like `10.0.17134.4034 (rs4_release_xbox_dev_1806.180608-1245)`. The two parts might be shown separately in Xbox One settings, I'm using the Xbox Device Portal.

[2018-06-14 22:27] TheModMaker commented on #1395
Unfortunately we don't have access to the Alpha ring, we only have access to the Omega ring.  So we can't verify until that OS version gets promoted to the Omega ring.

[2018-06-14 22:51] Moussa commented on #1395
Hopefully makes it down the Insider rings soon. I believe it's in beta ring now too.

[2018-06-15 07:46] radiantmediaplayer commented on #1463
Thanks for looking into it. Since Electron runs a local node server, all API and variables available with node are available in the window of the Chromium view generated, including global node variables like `module` or `process`.

[2018-06-15 15:06] chrisfillmore commented on #1464
I've sent an email to shaka-player-issues with a curl you can use to get a manifest url.

[2018-06-15 16:02] chrisfillmore commented on #1464
I have only ever seen this happen so far with audio segments. A sample manifest is attached. One thing I notice is that we have three AdaptationSet for audio in each Period, each AdaptationSet has one Representation. I'm not sure why we don't just have one AdaptationSet with three Representation, or if that would be functionally the same thing.

[sample_multi_period.txt](https://github.com/google/

[2018-06-15 16:16] joeyparrish commented on #1395
According to a private thread with Microsoft, this platform bug is triggered by the combination of MediaSource and DOMParser.  We use DOMParser to parse the XML in a DASH manifest.  This is the only web API available for XML parsing as far as we know.

I believe that XML parsing should be done by the browser, so we will not rewrite our DASH parser to use some pure-JS XML parser.  However, a viable

[2018-06-15 17:01] joeyparrish commented on #1395
I found a way to make that polyfill work.  I have attached a compiled bundle that will replace DOMParser with a pure-JS version.  You can add this to your application before you load Shaka Player to avoid the browser's DOMParser implementation.

[xmldom-domparser-polyfill.zip](https://github.com/google/shaka-player/files/2106886/xmldom-domparser-polyfill.zip)

Here's how I made it:

1. Installed n

[2018-06-15 18:59] chrisfillmore commented on #1464
StreamingEngine gets into a loop of scheduling updates every 0s. This is the V2 logging output:

[code]

[2018-06-15 20:47] joeyparrish commented on #1463
I'm struggling to build a single output wrapper that works in all of these environments:

1. CommonJS (supported already)
2. AMD (supported already)
3. NodeJS (not well supported, but sort of works)
4. Electron (not yet supported, wrapper is confusing this with CommonJS/NodeJS)

And in a perfect world, I'd some day add:

5. ES module support

I'll let you know as I make progress.

[2018-06-18 16:53] chrisfillmore commented on #1464
I think I will put together a simple demo app that I can send over to Shaka team to repro this issue. But that will not happen this week, and I'm on vacation next week, so I likely won't return to this issue until ~Jul 4 at the earliest.

[2018-06-18 19:14] TheModMaker commented on #1461
My guess is that you wouldn't be able to do this because of the performance limits.  VP9 has a tendency to be just fast enough to support live, meaning a 10 second segment would take 10 seconds to encode.  H.264 might be better, but I would guess you wouldn't be able to do what you want.

But to answer your questions: you want a normal VOD manifest.  Live manifests just mean that there is a "live

[2018-06-18 19:34] joeyparrish commented on #1463
I think I have something working in all cases.  I need to clean it up and get it through code review, but I see Electron, nodejs, CommonJS, AMD, and ES modules all working.  I have also been able to revert an earlier change made to the compiler to fix #1455.

[2018-06-19 09:30] radiantmediaplayer commented on #1463
I went into this a bit further and I found that the issue I reported also exists with other libs like jQuery that are module compatible.
[A solution is described here](https://github.com/electron/electron/issues/254#issuecomment-42351776) and I have verified this works with Shaka (I have not covered all use-cases yet like DRM, but it works for basic playback). This is what I did to make it work:

[2018-06-19 12:12] Tilakv opened #1467 "Cant play live stream from ffmpeg"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**:

**What version of Shaka Player are you using?**:
Version 2.0
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
custom
**If custom app, can you reproduce the is

[2018-06-19 12:14] Tilakv commented on #1467
<?xml version="1.0" encoding="UTF-8"?>
<MPD
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="urn:mpeg:DASH:schema:MPD:2011"
  xsi:schemaLocation="urn:mpeg:DASH:schema:MPD:2011"
  type="dynamic"
  minBufferTime="PT1S"
  profiles="urn:mpeg:dash:profile:isoff-live:2011"
  availabilityStartTime="2018-06-19T11:51:17Z"
  timeShiftBufferDepth="PT60S"
  minimumUpdatePeriod="PT0S">
<Period

[2018-06-19 19:46] kchandran1029 opened #1468 "Safari autoplay restrictions require click event to play"
Hello,

I am having trouble with playing HLS (TS) content in my local Shaka player , where I have the compiled Shaka player library and MUX.js referred .  Am I missing something ? Please advice .

[2018-06-19 20:56] TheModMaker commented on #1466
Sorry for the delay.  The manifest URL you sent us is giving us 404 errors.  Could you send us an updated URL?

[2018-06-19 21:08] TheModMaker commented on #1467
Can you please provide an example manifest URL that reproduces your problem?  You can send it privately to shaka-player-issues@google.com if you prefer.  We may also be able to work with an example FFmpeg command, but it would be preferable to have the manifest URL (and please send a URL, not the manifest text, we need to be able to play the content).

My guess is FFmpeg is converting a static ima

[2018-06-19 21:15] TheModMaker commented on #1468
You need to include the mux.js in the HTML before loading the Player.  This can be easily done using a `<script>` tag to load it.  Simply including it in a package manager doesn't work, you need to load the library on the browser.  For example, look at the [demo sources](https://github.com/google/shaka-player/blob/master/demo/index.html#L40).

Could you provide a URL to your application?  Or a zip

[2018-06-19 21:40] TheModMaker commented on #1464
I think it would be much easier with a self-contained repro.  Not having a license server makes repro-ing and fixing this hard.  So we'll probably be waiting until you send us a repro.  One thing you could try is removing [this bit](https://github.com/google/shaka-player/blob/master/lib/media/segment_index.js#L289-L299) in the SegmentIndex.  I think it is causing duplicate index entries and confus

[2018-06-20 09:28] Tilakv commented on #1467
The commands below is for creating chunks:

/home/user/bin/ffmpeg -f rawvideo -vcodec rawvideo -pix_fmt bgr24 -video_size 512x512 -threads 1 -probesize 32 -r 100 -i /home/user/raw_render/src/image_out -map 0 -vcodec libvpx  -b:v 5000k -keyint_min 60 -g 60 -f webm_chunk -header /var/www/html/tea_pot_360.hdr -chunk_start_index 1 -chunk_duration_ms 10000 /var/www/html/tea_pot_360_%d.chk

The followin

[2018-06-20 09:36] Tilakv commented on #1467
I am using the local host and I dont have a URI for the manifest file,
instead have a local path. However, I have updated the thread with the
attachments of the manifest file, and ffmpeg commands.

Thanks,
Tilak

2018-06-19 23:08 GMT+02:00 Jacob Trimble <notifications@github.com>:

[2018-06-20 11:14] madsva commented on #1466
I've sent a mail with a public clear stream.

[2018-06-20 14:43] kchandran1029 commented on #1468
@TheModMaker Thanks for your quick response , I have done exactly the same as you explained , but I am gonna try it once more and will be sending you and email . Thanks again .

[2018-06-20 15:47] AdrienKourga opened #1469 "Retrieve challenge to get license"
Hi !

How can i retrieve a challenge without fake-loading a video segment ?

I want to use the challenge to get the license for offline uses.

[2018-06-20 16:58] TheModMaker commented on #1469
License requests contain timestamps in them to prevent this kind of usage.  If a license request takes more than a certain amount of time (e.g. a few minutes), the response won't be accepted.  If you want to play protected content offline, I would suggest using our [offline API](https://shaka-player-demo.appspot.com/docs/api/tutorial-offline.html).  It will handle storing the license offline so yo

[2018-06-20 17:19] TheModMaker commented on #1467
To properly test this, I would need access to the media segments too, not just the manifest.  But could you try playing the generated media files?  You could do something like:

[code]

Then try playing the WebM file in any video player like VLC or just open in Chrome.  I suspect that file will be a still image.

What I think is happening is FFmpeg is taking the source image and converting it to a

[2018-06-20 17:42] #1463 closed

[2018-06-20 18:33] joeyparrish commented on #1463
This has been fixed in the master branch, and the fix will be cherry-picked to our next releases.  Sorry for the inconvenience!

[2018-06-20 19:57] TheModMaker commented on #1466
Your stream is not setting `availabilityStartTime` correctly.  This time represents the wall-clock time that the presentation starts at (presentation time 0).  So when I fetched the manifest at `2018-06-20 19:40:52`, the `availabilityStartTime` was `1970-01-01 00:00:00`, so that makes the current presentation time `17702 days, 19:40:42`.

But the segments don't align with that.  The segment list s

[2018-06-21 08:36] Tilakv commented on #1467
Yes, the video my_video.webm is a still image. I tried to convert it to a feed the render with the mouse coordinates and the new image is created by the render software, but the client plays only a still image. I still need to check if ffmpeg makes a webm video with the images fetched from the renderer.

I had a working prototype with the real time streaming of the interactive streaming, where the

[2018-06-21 08:47] Tilakv commented on #1467
/home/user/bin/ffmpeg -f rawvideo -vcodec rawvideo -pix_fmt bgr24 -video_size 512x512 -threads 1 -probesize 32 -r 100 -i /home/user/raw_render/src/image_out -map 0 -vcodec libvpx  -b:v 5000k -f webm output.webm

THe above command creates the video with the new
[output.webm.zip](https://github.com/google/shaka-player/files/2122789/output.webm.zip)

 mouse co-ordinates

[2018-06-21 08:58] AdrienKourga commented on #1469
Thanks for answering that quickly !
Does it means that if we use the offline api to download a protected content, shaka player will figure out that this content is protected and will send a license request to our license server ? (using the server urls we provide with player.configure() ?)
And if so, just out of curiousity, how does shaka player gets a challenge to retrieve a license without actua

[2018-06-21 10:06] madsva commented on #1466
Thank you - much appreciated!

We'll try to adjust the manifest based on your finding and recommendations.

One last thing: what about the UTCTiming element (this is missing as well) - is this recommended practise to add this or is okay to leave out?

[2018-06-21 17:13] TheModMaker commented on #1469
Correct.  The Player instance you pass to Storage should be configured with any license servers and filters needed to make the license request.  We will automatically get the license and store it correctly.

We detect protected content only using the manifest.  The manifest must contain a `<cenc:pssh>` element that contains the initialization data to generate the license request.  Normally, this e

[2018-06-21 17:18] TheModMaker commented on #1466
It is highly recommended to include a `UTCTiming` element.  It is not strictly required, but not including it can cause clock-sync issues which can make us unable to find the segment.  If the server and client clocks are different by a large amount, we will calculate the incorrect "current time" and we may try to play segments that no longer exist (or don't exist yet).

[2018-06-21 18:04] TheModMaker commented on #1467
This looks like a problem with your FFmpeg command.  I am not that familiar with the FFmpeg command line, so I can't really help.  I would suggest asking this on the FFmpeg mailing lists (ffmpeg-user@ffmpeg.org); you can read more about them on their [website](https://www.ffmpeg.org/contact.html#MailingLists).  From our perspective, we are doing the right thing.  The manifest you gave us contains

[2018-06-21 18:13] joeyparrish commented on #1467
To create a video from a sequence of images, you might try this guide: https://en.wikibooks.org/wiki/FFMPEG_An_Intermediate_Guide/image_sequence

[2018-06-21 18:16] joeyparrish commented on #1469
The EME API is used to manage licenses, both for streaming and offline storage.  This API does not require a video element to fetch a license, so that is how we are able to retrieve a license without playing the content.

The only requirement for fetching a license is the "init data", which is commonly an MP4 PSSH box.  As @TheModMaker points out, so long as a PSSH appears in the manifest, we have

[2018-06-21 20:20] joeyparrish opened #1470 "Good configuration ignored when coupled with bad configuration"
**Have you read the [FAQ](https://goo.gl/JE1Sy5) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: v2.4.1

**Can you reproduce the issue with our latest release version?**: yes

**Can you reproduce the issue with the latest code from `master`?**: yes

**Are you using the demo app or your own custom app?**: demo app

**If custom app, can you reproduce t

[2018-06-21 20:22] joeyparrish commented on #1470
Reproducible in v2.4.0, v2.4.1, and nightly.  Not reproducible in v2.3.9.

[2018-06-21 21:36] #1470 closed

[2018-06-22 07:40] madsva commented on #1466
All right - we'll make sure the `UTCTiming` element is added as well.

Regarding the `timeShiftBufferDepth` - what is the recommended size for this value?

[2018-06-22 08:33] Tilakv commented on #1467
When I cat the .hdr video and the .chk file, the output video contains new images. The client however does not play the cumulative chunks. This means that fffmeg reads the new images from the pipe and updates them.

For eg:       cat tea_pot_360.hdr tea_pot_360_*.chk   | ffplay -

This plays the video with new images. I am not sure how shaka player interprets the chunks. Does it cumulatively play

[2018-06-22 18:11] TheModMaker commented on #1466
Thinking about this more, 16 seconds is probably fine.  We use 3 seconds for the non-seekable HLS streams.

But note that your manifest doesn't have a `suggestedPresentationDelay` attribute, so we will assign a default value of 10 seconds.  This means that we will play 10 seconds from the live edge since the segments at the live edge don't exist yet.  If we play too close to the live edge, we migh

[2018-06-22 18:34] #1411 closed

[2018-06-22 18:40] theodab opened #1471 "Consider IE/Edge workaround in test/media/playhead_unit.js"
In `VideoWrapper.movePlayhead_`, there is a workaround for an IE/Edge bug that causes the video wrapper to try to seek up to 11 times in a row until the seek works.
Technically, some of our playhead unit tests were triggering this workaround; however, since the workaround is based on setTimeout and the tests were synchronous, we simply ended the tests before the setTimeout resolved, and didn't not

[2018-06-22 18:43] joeyparrish commented on #1471
First, I think we should evaluate whether or not the workaround is still necessary.  It would be ideal to be able to remove the hack completely instead of adjusting the tests.

[2018-06-22 18:59] theodab opened #1472 "Broken links to bug reports"
Several of the issues we had reported on IE/Edge and linked to in comments are now no longer accessible.
[Issue 10322657](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/10322657)
[Issue 7774622](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7774622)

However, those issues still exist; they can be seen when searching for issues on Microsoft's developer w

[2018-06-22 19:29] TheModMaker commented on #1467
Without a playable manifest to test with, we can't reproduce the problem.  Could you setup a live stream that we can access that reproduces your problem?  Or if you could produce a VOD manifest that causes a similar problem, we could help with that.

Could you also explain exactly what you are seeing in the browser?  You said `but only the image is seen` in the original post, but could you elabora

[2018-06-22 20:16] TheModMaker commented on #1472
Links to these issues appear in `lib/media/drm_engine.js`.

[2018-06-23 09:28] #1461 closed

[2018-06-25 15:05] vitalist82 opened #1473 "Config and buffering issues on Vizio & Toshiba"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: YES

**What version of Shaka Player are you using?**: 2.3.6

**Can you reproduce the issue with our latest release version?**: YES

**Can you reproduce the issue with the latest code from `master`?**: YES

**Are you using the demo app or your own custom app?**: custom app (demo app is not playing our strea

[2018-06-25 17:35] theodab commented on #1473
So, if I'm understanding correctly, in the error scenario we seek forward, but since the video's currentTime value is incorrect (perhaps due to a bug in the NetFront browser's implementation of HTMLVideoElement), we think that the video hasn't seeked forward correctly, so we keep seeking?

If we were seeking endlessly through onPollWindow_, though, I would expect the v2 log to be full of messages

[2018-06-25 18:31] parmendratyagi opened #1474 "[Question] Choosing Playback Quality Control"
Hi,
is there any plan to introduce a UI control to the player, to allow end users to select Video Quality (similar to YouTube player ) OR is there any configuration to enable such control?

[2018-06-25 19:01] kchandran1029 commented on #1468
@TheModMaker
Hey , I went down the path your recommended how we have it the hosted demo page and all the errors are gone now. I was able to get the playback fine on Chrome and Firefox , unfortunately I am still having trouble in safari , no exceptions in console , but really unable to pull down chunks.

I am still working on getting you a build or a URL for you to test it out.

[2018-06-25 20:54] ismena commented on #1468
@kchandran1029
We work with browsers through Media Source API which all the modern browsers (in theory) implement.
In practice, Safari has its' own implementation for transport stream support and Apple has not been very cooperative in fixing their Media Source implementation.

The problems in Safari are likely not your fault, but bugs in the browser.
We have a plan to use Safari's native support f

[2018-06-25 21:50] joeyparrish commented on #1474
In the mean time, there are APIs to select specific tracks, which is what a UI control for quality would call.  See [getVariantTracks](https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html#getVariantTracks) and [selectVariantTrack](https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html#selectVariantTrack) in the docs.

[2018-06-26 16:20] vitalist82 commented on #1473
I did some further testing today and found out, that on VIZIO Smartcast TV, it is possible to play the stream without any workaround, just by providing a proper config to the player, although I don't understand, how exactly it fixes the issue.

Unfortunately, the same player configuration doesn't work on the other Netfront-based Toshiba.

I am setting following properties of the config (we are usi

[2018-06-26 17:13] joeyparrish commented on #1468
@kchandran1029, you may also want to try setting the 'streaming.jumpLargeGaps' config to true:

[code]

For some content, gaps that appear on one browser may not appear in another.  Perhaps your content manifests a gap on Safari, but not in Chrome or Firefox.  This is just a guess.

[2018-06-27 03:54] sridhard opened #1475 "Security of offline downloads"
Shaka support offline download and persistent licenses for widevine.

How secure is offline download and persistent licenses?
Are the widevine licenses are node locked? if not node locked then the user can download the content offline and use the persistent token to play it in other nodes and distribute the content? Because it is easy to copy the token from the chrome networking trace or by puttin

[2018-06-27 11:51] Tilakv commented on #1467
I have done some tests and have identified the following:

The issue is with the chunk size and duration. FFMPEG creates a webm chunk of size equal to the GOP, and each chunk starts with a Key frame. To reduce the delay, I used a GOP of 1, and this creates chunk for every frame. For, 60 fps, 60 chunks are created per second, and respectively 30 chunks for 30 fps.

There is a delay of at-least one

[2018-06-27 12:13] sridhard commented on #1427
@TheModMaker any updates on this

[2018-06-27 15:39] theodab commented on #1472
Microsoft has made these issues public again.

[2018-06-27 15:39] #1472 closed

[2018-06-27 16:38] TheModMaker commented on #1475
This is a question best for the Widevine team: http://www.widevine.com/contact.html

The handling of licenses and persistent files is handled by the browser, so we don't do anything for it.  All we do is download the segments, save them, and fetch the license (which we just give it to the browser).

Widevine is highly secure; from my understanding: the license is encrypted over the wire, so you ca

[2018-06-27 17:04] TheModMaker commented on #1467
I'm not sure what you mean by "chunks", but you are definitely not creating 30 segments (i.e. files) per seconds, because I doubt we could download and play segments that fast.  I think the segment duration is defined by the `-chunk_duration_ms` flag, which is 10 seconds in your above example.  Setting this too small requires us to download a lot of segments which can cause slowdowns.

As for low-

[2018-06-27 17:08] joeyparrish commented on #1475
I will add that licenses, as they appear over the wire, are only readable by the CDM (a content security component inside the browser) that requested the license.  Persistent licenses are stored securely by the CDM itself, and cannot be tampered with or transferred to other machines.

Does this help?

[2018-06-27 17:31] joeyparrish commented on #1427
@sridhard, this is marked as an enhancement, and targeted for v2.5.  When a change has been made related to this issue, github will show a link to the change and close the issue.

[2018-06-27 17:33] joeyparrish commented on #382
@sridhard, no updates yet.

You are mistaken about #1447, though.  It does not say fps1.0 is supported.  Rather, it says we plan to support it, and refers back to this issue to track progress.

I know this issue is important to many people, and I regret the delay in implementation.  I promise that we will give updates as soon as there are updates to give.  Thank you for your continued patience.

[2018-06-27 17:44] joeyparrish commented on #1473
We've never done any testing on Netfront, but that appears to be WebKit-based.  Of all the major browser implementations, Safari/WebKit gives us the most difficulty and seems to have the buggiest implementation of MediaSource.

Although Netfront is not on our list of officially-supported platforms, we will do what we can to help.  We will not be able to provide any help debugging a platform we don

[2018-06-27 20:34] kchandran1029 commented on #1468
@ismena Thank you for your inputs , I agree with you it must be Safari acting weird.

@TheModMaker I have sent an email to the email id you mentioned above. Please take a look when you get a chance.

@joeyparrish  Thank you , i tried configuring with jumpeLargegaps, unfortunately that did't help me. Assuming it's the Safari being rigid.

Once again , thank you all.

[2018-06-27 20:41] KameshDevarakonda opened #1476 "CORS issues with Latest Firefox"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: v2.4.1-uncompiled

**Can you reproduce the issue with our latest release version?**: yes

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**: Demo app

**If custom app, can you re

[2018-06-27 21:06] joeyparrish commented on #1476
I think this is a duplicate of #666, which is a Firefox bug being discussed here: https://bugzilla.mozilla.org/show_bug.cgi?id=1312864

CORS should work with redirects, but Firefox has not caught up to the spec.

I'm going to close this as a duplicate now, but please feel free to subscribe to #666 or go to their buganizer and let Mozilla know that this issue is important to you.

[2018-06-27 22:50] joeyparrish opened #1477 "Merge throws out new refs from SegmentList + SegmentTimeline + presentationTimeOffset"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: v2.4.1

**Can you reproduce the issue with our latest release version?**: yes

**Can you reproduce the issue with the latest code from `master`?**: yes

**Are you using the demo app or your own custom app?**: custom

**If custom app, can you reproduce t

[2018-06-27 22:57] joeyparrish opened #1478 "DASH period parsing without IDs"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: v2.4.1

**Can you reproduce the issue with our latest release version?**: yes

**Can you reproduce the issue with the latest code from `master`?**: yes

**Are you using the demo app or your own custom app?**: custom

**If custom app, can you reproduce t

[2018-06-27 23:17] TheModMaker commented on #1478
We currently don't support changing Period start.  As of v4.1.2, this is actually forbidden according to the DASH IOP. See Dash-Industry-Forum/DASH-IF-IOP#160.  In v4.2 of the IOP, section 4.4.3.3 states:

[2018-06-28 00:31] KameshDevarakonda commented on #1476
Please correct me if I am wrong but the bug you linked to specifies that redirects are not followed if it requires preflight request.

The workflow I described in the doc seems to point to "simple" CORS requests (that don't require preflight).

Apart from that as I documented in the doc, Firefox and Dash.js combination works flawless. Also Shaka Player works flawlessly in the older version of Fire

[2018-06-28 03:41] sridhard commented on #1475
ok...thanks for the detailed explain

[2018-06-28 03:41] #1475 closed

[2018-06-28 03:44] sridhard commented on #1474
@ismena in which branch the Shaka UI library is getting developed?

[2018-06-28 08:29] vitalist82 commented on #1473
We already had some issues with the mentioned Toshiba TV, that we solved partly with your help and partly with help of the manufacturer. VIZIO SmartCast is a new device in our family.. Current issue is related to the 12s fragment size and should be resolved on the side of our stream provider by providing streams with lower fragment size in the future.

To sum up my latest test results:

After crea

[2018-06-28 15:59] grantg182 opened #1479 "Safari 11 Requested Key System Config Unavailable for clear content"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
v2.4.1-master-11-g759eef96-debug
**Can you reproduce the issue with our latest release version?**:
Yes
**Can you reproduce the issue with the latest code from `master`?**:
Yes
**Are you using the demo app or your own custom app?**:
Own
**If custom app, c

[2018-06-28 16:31] TheModMaker commented on #1479
This is caused by #1094.  Since you have DRM config, we try to initialize EME since we assume there will be encrypted content eventually.  Since Safari doesn't have any EME systems, we fail to initialize.  We should probably not fail if there aren't any key systems in this case.

It should be reproducible with this.  It is a DashIF clear live stream with a Widevine license server URL given to it.

[2018-06-28 16:35] ismena commented on #1474
@sridhard It is a private branch at the moment. We will make it publicly available when we release v1.

[2018-06-28 17:58] joeyparrish commented on #1476
Then it's possible that I was mistaken.  We will try to reproduce your issue and let you know what we find.

[2018-06-28 20:20] joeyparrish commented on #1478
@TheModMaker, thank you for pointing that out.  I will close as "intended behavior" and let the affected partner know that this is to be avoided in their manifests.

[2018-06-28 20:20] #1478 closed

[2018-06-28 20:30] joeyparrish commented on #1477
This was found with the same content as #1478, but with a local change in the DASH parser to avoid creating new periods on each update.

Here's an example of what we had:

[code]

What I found while debugging was that `SegmentIndex` contains `SegmentReference`s with times 0, 2, and 4.  The structure representing the `<SegmentList>` element contains a field with the PTO, but that is kept outside th

[2018-06-28 21:02] TheModMaker commented on #1477
But the Period start is changing, so the absolute presentation times of those segments probably aren't changing (from DASH's perspective).  So even though the first segment in the list starts at 0, you need to add the Period start to it before you can say whether the absolute presentation time changes.

The segment times in the `SegmentIndex` are Period-relative, so the new segments will show 0, 2

[2018-06-28 21:32] grantg182 commented on #1479
Yeah, after wasting the better part of 2 days trying to figure out if this was something I had done (after making several changes to the frontend before upgrading to 2.4), I suspected something had gone awry in 2.4. Will have to revert back to 2.2 unless there's some quick fix to implement.

Thank you for the quick response 👍

[2018-06-28 21:37] theodab commented on #1479
I just put a CL out to fix it. Hope to have it submitted by the end of the day, if possible.

[2018-06-28 21:40] grantg182 commented on #1479
Great, will keep an eye out. Would be great to not have to revert back to the old methods. I've actually got Shaka set up with a handler which handles pre-roll ads before we init() - coincidentally the exact purpose of the change which caused this broken behaviour! 😿

[2018-06-28 21:54] joeyparrish commented on #1477
Okay.  Thanks.  I'll mark this "bad content" and WAI as well.

[2018-06-28 21:54] #1477 closed

[2018-06-28 22:17] theodab commented on #1479
Okay, hopefully that will fix your issue. If not, though, be sure to tell us.

[2018-06-28 22:31] grantg182 commented on #1479
Thanks.

So I've yet to have had a need to bring in a specific commit. Instead, just pulled master and ran with it.

So here's what I've done:-

Dropped drm_engine.js from [this commit](https://github.com/google/shaka-player/commit/3192c02525665305c9694ef77b9784970b5bc05f) into /lib/media/ then did a rebuild, using `python build/all.py` then took the new shaka-player.compiled.js and shaka-player.u

[2018-06-28 22:46] theodab commented on #1479
Hm. My change fixed playback for the assets Jacob provided. I don't think you could have installed it wrong, since the changes were pretty standalone.

Well, whatever. I can look into this more next week. In the meantime, it'd help if you could provide a public server link for the assets in question, to <shaka-player-issues@google.com>. Plus steps to reproduce on the demo app, if possible?

[2018-06-28 22:48] grantg182 commented on #1479
Sorry, edited my last post, all working here now too. Thanks again!

On Thu, 28 Jun 2018, 23:46 theodab, <notifications@github.com> wrote:

[2018-06-28 22:50] theodab commented on #1479
No worries! Glad to have helped.

[2018-06-28 22:50] #1479 closed

[2018-06-28 23:13] joeyparrish commented on #1479
This change will be cherry-picked for v2.4.2.

[2018-06-29 14:21] dmunozpolo opened #1480 "Due date for release 2.5"
Hi all,

Could anyone confirm which is the due date for version 2.5 of Shakaplayer?

Thanks.

Regards,
David.

[2018-06-29 17:33] joeyparrish commented on #1463
Cherry-picked for v2.4.2.

[2018-06-29 17:33] joeyparrish commented on #1470
Cherry-picked for v2.4.2.

[2018-06-29 17:34] joeyparrish commented on #1411
Cherry-picked for v2.4.2.

[2018-06-29 17:34] joeyparrish commented on #1479
Cherry-picked for v2.4.2.

[2018-06-29 18:01] joeyparrish commented on #1480
We don't have a firm due date for v2.5.  The [v2.5 milestone](https://github.com/google/shaka-player/milestone/16) is currently 14% complete.  There are many major features still left to be completed, and I'm sure some of them will wind up getting bumped to another release.

We typically get out a minor release (v2.3, v2.4, etc) every 3 months or so.  The last minor release, v2.4, took 5.5 months.

[2018-06-29 18:13] boredom2 commented on #1480
If I am also allowed to answer - definetely the "Pre-load API". That would make so much Sense when playing Playlists or short Bumpers one after the other. In these Contexts, its not even speculative, its absolutely sure, that this Video will come next.

[2018-06-29 18:37] joeyparrish commented on #1463
Cherry-picked for v2.3.10.

[2018-06-29 18:37] joeyparrish commented on #1411
Cherry-picked for v2.3.10.

[2018-06-29 18:37] joeyparrish commented on #1479
Cherry-picked for v2.3.10.

[2018-06-29 20:40] jakubvojacek commented on #1480
For me, it would be https://github.com/google/shaka-player/issues/999 (dealing with encoder drift). Until that is resolved, we will have to stick with dashjs as our live content is playable there :(

[2018-06-29 21:23] pix-dgee opened #1481 "Support blob URLs in Player.load"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:

Yes

**What version of Shaka Player are you using?**:

2.4.1

**Can you reproduce the issue with our latest release version?**:

Yes

**Can you reproduce the issue with the latest code from `master`?**:

Not tested.

**Are you using the demo app or your own custom app?**:

Custom app.

**If custom app, ca

[2018-06-29 21:36] pix-dgee commented on #1481
[code]

[2018-06-29 21:45] pix-dgee commented on #1481
I inlined much of this to isolate the issue. I'm still seeing the error with the following sample code:

[code]

[2018-06-29 21:57] joeyparrish commented on #1481
There are a few problems with this in today's Shaka Player:

1. No plugins are registered to handle blob: URIs.  This is tribial to fix by registering either XHR or Fetch to handle blobs: `shaka.net.NetworkingEngine.registerScheme('blob', shaka.net.HttpFetchPlugin);`
2. With blobs, neither extension nor MIME type can be used to deduce which manifest parser to use.  If only there were some way to a

[2018-06-30 21:42] pix-dgee commented on #1481
Thanks so much for being so responsive, @joeyparrish! I had tried using the `HttpFetchPlugin` but didn't think about how it wouldn't be identifiable as a DASH manifest. Passing in the DashParser resolved the issue.

I now have this working - our manifests do in fact use relative urls, but until I can co-ordinate a backend change, I'm just manually transforming it in the client before I save it to

[2018-07-01 00:07] grantg182 opened #1482 "License Server Connection Stalled - No Error Thrown"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes
**What version of Shaka Player are you using?**:
2.4.1 (cherry-picked [this](https://github.com/google/shaka-player/commit/0641b6c0d7c41b68c2a7b03c3050e7b4ee7fff38) into the master build)
**Can you reproduce the issue with our latest release version?**:
No
**Can you reproduce the issue with the latest

[2018-07-02 02:48] sridhard opened #1483 "HLS error - negative DTS"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
Tested in hosted demo

**Can you reproduce the issue with our latest release version?**:

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**:
We are using custom app and also test

[2018-07-02 15:50] joeyparrish commented on #1083
@media-square, no update.  We have not worked on this at all yet.

Re: the patch suggested by @avelad, no, that would not work for live streams as far as I can tell.

[2018-07-02 15:58] joeyparrish commented on #1483
I did a quick repro from my Chromebook and found `MEDIA.VIDEO_ERROR` with "CHUNK_DEMUXER_ERROR_APPEND_FAILED: video frame with PTS 1000us has negative DTS -65667us ..."

Someone should try it in Firefox as well, plus Chrome with the flags `--user-data-dir=/tmp/user-data-dir --enable-features=MseBufferByPts`.  If it works in Firefox and if it works in Chrome with the flag, it's a known Chrome bug w

[2018-07-02 16:01] joeyparrish commented on #1482
@grantg182, have you tried configuring a timeout in the player's retryParameters?  By default there is no timeout.  See https://shaka-player-demo.appspot.com/docs/api/tutorial-network-and-buffering-config.html

[2018-07-02 16:08] grantg182 commented on #1482
Hey @joeyparrish . Thanks for your reply.

As I said I have not yet set up retryParameters. Does this mean, once those are implemented, an error will be thrown once maxAttempts has been reached? I'll give that a spin later today and see where that leaves me.

[2018-07-02 16:15] ismena commented on #1483
Confirmed that the video is playable in both Firefox and Chrome with the mentioned flags. Marking issue as external.

[2018-07-02 16:29] pix-dgee commented on #1481
Thank you, that sounds like exactly what we're trying to accomplish!

[2018-07-02 17:00] joeyparrish commented on #1482
Sorry I overlooked that in your original post!

The maxAttempts parameter will control how many attempts are made (including the first attempt).  But without the timeout parameter, the JavaScript application has no control over when a failure occurs.  You should definitely set the timeout parameter, which defaults to 0 (no timeout).  With a timeout set, you are in control over how long a transfer

[2018-07-02 18:00] dmunozpolo commented on #1480
Hi Joe,

We are interested in having the issue of Shakaplayer being able to play FairPlay encrypted streams in Safari.

Could we have an estiamtion if this could be included in v2.5? It would be very helpful for us.

Thanks.

[2018-07-02 20:19] forbesjo commented on #1404
This is the mux.js PR for reference https://github.com/videojs/mux.js/pull/197

[2018-07-02 20:54] joeyparrish opened #1484 "Skip text AdaptationSets with no segment info"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: yes

**What version of Shaka Player are you using?**: v2.4.2

**Can you reproduce the issue with our latest release version?**: yes

**Can you reproduce the issue with the latest code from `master`?**: yes

**Are you using the demo app or your own custom app?**: demo

**What browser and OS are you using?**

[2018-07-02 21:08] joeyparrish commented on #1480
Thanks, everyone.  This is very helpful for planning.  I'll let you all know when we do our next round of planning.  I will try to decide definitively what we have time for in v2.5.

[2018-07-03 14:51] bafolts commented on #1083
Will the work involved here be a function to `getStartTimeFromAacSegment_` implemented to parse the aac segment and pull it's start time?

[2018-07-03 16:58] joeyparrish commented on #1083
Yes, that's the idea.

[2018-07-03 18:28] #1484 closed

[2018-07-03 18:53] parmendratyagi commented on #1474
@shaka-bot Yes, it answered my question.

Is there any way to get a notification on lunch of this feature.?

[2018-07-03 19:57] ismena commented on #1474
Are you a part of shaka-player-users@googlegroups.com? (Another way to ask this would be "Do you get our release announcements?")

[2018-07-04 15:04] sergioavazquez commented on #1480
I'd love to see this one #1431. I'm using Shaka in production and I have `HLS` streams I can't reproduce.  Let me know if you need any help with it!
Thanks!

[2018-07-04 15:42] chrisfillmore opened #1485 "Duplicate tags for release commits?"
I noticed that since v2.3.7 there are now commits tagged with `-master`:

<img width="119" alt="screen shot 2018-07-04 at 11 37 54 am" src="https://user-images.githubusercontent.com/7190265/42285894-ea61198a-7f7e-11e8-973b-1c0158344e8c.png">

I see that they are different than the release branches themselves. Do they just capture the state of `master` at the time of the release?

[2018-07-06 04:16] sridhard commented on #1483
@joeyparrish @ismena I have played in chrone native HLS player and also in https://www.hlsplayer.net/.
The video plays without any error in the same chrome browser version.

New chrome browser is not yet available and also it takes time for the users to upgrade to new version.

Can shaka player ignore this error and continue play the video like other players?
This will make shaka robust to errors.

[2018-07-06 04:17] sridhard commented on #1449
@joeyparrish @ismena Any updates on this issue?

[2018-07-06 16:02] ismena commented on #1449
The code I have submitted is to make sure we throw an error in this case instead of hanging.
As for fixing the problem, @joeyparrish, could you give an update on what direction we want to go with this?

[2018-07-06 16:52] joeyparrish commented on #1483
There is no way for us to ignore the error and continue, because it is the browser itself which is responsible for playback and interpretation of the media segments.  I apologize for the inconvenience, but unless a workaround can be discovered to avoid the error in the first place, there is nothing we can do.  The error comes from the browser itself and is not recoverable.

[2018-07-06 16:54] joeyparrish commented on #1449
The workaround suggested by mux.js would take serious rearchitecture in Shaka Player, which we don't have the resources to work on right now.  We are waiting for a fix from mux.js in https://github.com/videojs/mux.js/issues/194

[2018-07-06 17:04] joeyparrish commented on #1485
Yes, that's exactly right.  They are used to generate saner version numbers for master branch builds.  This was part of the fix for #1420, although most of the changes took place in our release and tagging process rather than in the code itself.

Before that change, master builds would say something like v2.3.0-158-blah, up until v2.4.0.  There was no way to see that the most recent release had be

[2018-07-07 18:49] parmendratyagi commented on #1474
@ismena No, I am not. How can I subscribe?

[2018-07-09 11:01] albertcsm opened #1486 "Shaka keep downloading the same segment of multi-period live MPD and playback stuck"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
2.4.2

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
Demo app

**What browser and OS are you using

[2018-07-09 15:47] kiranbsravi opened #1487 "Can't play webm live stream in Chrome"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes
**What version of Shaka Player are you using?**:
2.4.1
**Can you reproduce the issue with our latest release version?**:
yes
**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**:
own custom app
**If custom app, can you reproduce th

[2018-07-09 15:53] bafolts commented on #1487
Depending on which version of chrome you updated to there was a recent update to the auto play policy in april.

https://developers.google.com/web/updates/2017/09/autoplay-policy-changes

[2018-07-09 16:01] chrisfillmore commented on #1486
I think this is the same as https://github.com/google/shaka-player/issues/1464

[2018-07-09 16:03] chrisfillmore commented on #1485
Thanks for the explanation Joey, wasn't sure if it was intentional or not.

[2018-07-09 16:03] #1485 closed

[2018-07-09 16:16] chrisfillmore commented on #1297
Could the client app instantiate a `NetworkingEngine` and pass it to `Player` and `Storage` via a new method `setNetworkingEngine`? This would make it easy to share, it seems.

[2018-07-09 16:22] joeyparrish commented on #1297
Good idea.  I'll let @vaage have the final say, though, as he is already deep in the implementation.

[2018-07-09 16:29] ismena commented on #1474
Given you have some dort of a google account:
Go to https://groups.google.com/forum/#!forum/shaka-player-users, sign into your account if you aren't already, there should be a (blue) "join" button.

[2018-07-09 16:46] kiranbsravi commented on #1487
My chrome version is 67.0.3396.99. But the video should start to play after i hit on play button explicitly right. It doesn't play even if i give explicit play.

[2018-07-09 17:14] vaage commented on #1297
@chrisfillmore Thank you for the suggestion - I will add that to my list of possible solutions to explore. Right now the greatest challenge we are facing with this issue is how to maintain backward-compatibility while not inhibiting the new designs.

[2018-07-09 17:17] joeyparrish commented on #1487
We will need usable manifest URIs to reproduce the bug, not just attachments.  If you can't post them publicly, please send the URIs to <shaka-player-issues@google.com> instead.  There was a note about this in the issue template.

If you have a publicly accessible manifest URI, you can copy the URI of the demo app after loading to send us the exact asset, licence server, and settings you have sele

[2018-07-10 03:19] albertcsm commented on #1486
Yes, it is the same as #1464

[2018-07-10 04:34] kiranbsravi commented on #1487
As of now we are running it on my internal machine. It is not exposed to external world. So unable to share any manifest uris. I am configuring my player as follows :

player.configure({
    			  streaming: {
    			    bufferingGoal: 5
    			  },
    			  abr: {
    				  enabled: false
    			  }
   });
It was playing fine before. but after the chrome update it is not playing.

[2018-07-10 16:15] greenya commented on #1474
Hello.

I wrote function that adds variant switcher.
I use it for my development, maybe it can help you.

[code]

To check it out, you just:
- go to https://shaka-player-demo.appspot.com/demo/
- open browser console
- execute all code above (which is a function definition)
- execute oneliner below (which will call defined function for the player at the Demo page)
[code]

[2018-07-10 16:34] TheModMaker commented on #1474
There is already a select box in the demo to select variants manually, just expand the `Info` section.  But there isn't a way to select a "target bandwidth".

[2018-07-10 17:15] greenya commented on #1474
Good to know. Thank you.

[2018-07-10 18:30] joeyparrish commented on #666
Firefox just marked their issue "fixed" for Firefox 63, which is currently scheduled for beta on 2018-09-05 and stable on 2018-10-23.  Hope that helps!

[2018-07-10 18:30] #666 closed

[2018-07-10 18:56] joeyparrish commented on #1476
Sanitized details from the doc linked in the original post:

-----

Manifest generation involves private tools (shared with us for repro).
Browser: Firefox 62.0b3

A request for media segments resulted in a redirect.  The redirected URL was then subsequently blocked by the browser due to CORS ("Same Origin Policy").

Error logged by Firefox: `Cross-Origin Request Blocked: The Same Origin Policy di

[2018-07-10 19:00] joeyparrish commented on #1476
I am unable to reproduce the issue in Firefox 62.0b3.  Did you apply the workaround you mentioned in your doc?

[2018-07-10 19:01] joeyparrish commented on #1476
I also tried the latest Firefox beta (62.0b7) and couldn't reproduce in that, either.

[2018-07-10 19:04] joeyparrish commented on #1476
The other thing I'm confused about is the workaround itself.  You said "Setting origin value to null in the redirect", but origin is a request header, not a response header.  Can you clarify that?

[2018-07-10 19:33] pcruiksh opened #1488 "Clock sync HEAD requests marked as type shaka.net.NetworkingEngine.RequestType.MANIFEST"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes

**What version of Shaka Player are you using?**:
2.4.2 latest master

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
Custom

**If custom app, can yo

[2018-07-10 22:34] #1486 closed

[2018-07-10 22:45] TheModMaker commented on #1464
I just pushed a change that will probably fix your issue.  Could you retry from `master` or with the latest nightly site?  <https://nightly-dot-shaka-player-demo.appspot.com/demo/>

[2018-07-11 01:11] chrisfillmore commented on #1464
The fix seems to be good. So far I haven't seen it get into making thousands of requests like it was before. However, I do still see it periodically request a segment a second time. Here I've sorted the requests in the Network tab by name:

<img width="859" alt="screen shot 2018-07-10 at 9 08 38 pm" src="https://user-images.githubusercontent.com/7190265/42545373-7d788220-8485-11e8-8ec7-23eb0728c19

[2018-07-11 02:35] joeyparrish commented on #1487
Unfortunately, we can't diagnose anything if you can't give us a way to reproduce the bug.  Is there anything you can do to provide us with content?

[2018-07-11 02:36] joeyparrish commented on #1488
Sounds reasonable.  I'll schedule it.

[2018-07-11 02:36] joeyparrish commented on #1488
We would be happy to take a pull request for this, if you're interested.  It should be quick and easy.

[2018-07-11 13:21] pcruiksh commented on #1488
Sounds good @joeyparrish I'll do that

[2018-07-11 16:44] sridhard commented on #1483
@joeyparrish but how other players like https://www.hlsplayer.net/ can play it? May be can we follow the same strategy as them?

[2018-07-11 17:13] joeyparrish commented on #1483
It could have to do with the way we offset content through MediaSource.  If we did that differently, it wouldn't trigger the Chrome bug.

While we *could* do things differently, I don't have the resources to change a major architectural decision to work around a browser bug that has already been fixed (behind a flag) by the browser.  When Chrome changes the default for that flag, you will see the

[2018-07-12 13:03] kuznetcoff777 opened #1490 "Shaka Error DRM.NO_RECOGNIZED_KEY_SYSTEMS ()"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: yes

**What version of Shaka Player are you using?**: latest

**Can you reproduce the issue with our latest release version?**: yes

**Can you reproduce the issue with the latest code from `master`?**: on demo page

**Are you using the demo app or your own custom app?**: demo

**If custom app, can you repr

[2018-07-12 21:17] KameshDevarakonda commented on #1476
I can still reproduce the issue. Did you clear the cache before running the test?

Regarding second point, when I used the dash.js player "the origin request header is being set as null in the redirect"

![screen shot 2018-07-12 at 5 12 19 pm](https://user-images.githubusercontent.com/37383885/42659688-07a9845e-85f7-11e8-898f-065b38389bbe.png)
![screen shot 2018-07-12 at 5 10 44 pm](https://user-i

[2018-07-13 20:39] TheModMaker commented on #1490
The problem is the `schemeIdUri` attribute is incorrect.  You have it as `9a04f079-9840-4286-ab92-e65be0885f95` when the correct value is `urn:uuid:9a04f079-9840-4286-ab92-e65be0885f95`.  Similar for Widevine.

[2018-07-15 12:10] kuznetcoff777 commented on #1490
Guys, anyone?

[2018-07-15 13:01] kuznetcoff777 commented on #1490
Thanks for explanation!

[2018-07-15 13:01] #1490 closed

[2018-07-16 16:38] #1488 closed

[2018-07-16 17:17] theodab commented on #1307
You should be able to seek in HLS live streams now. Just set the `manifest.availabilityWindowOverride` configuration to an appropriate value before loading the stream.

[2018-07-16 18:53] joeyparrish commented on #1468
Here's what I saw in Safari 11.0.3 today:

-----

Following the instructions you sent privately, I am able to log in and start a channel.  The first frame shows, but the spinner stays up, and playback never begins.  Clicking the play button in the center of the screen does nothing.  If I use the debugger to save a reference to the player object, I find that `player.isBuffering()` returns false.

D

[2018-07-16 18:53] sergioavazquez opened #1491 "Custom cast media control notifications"
I'm customizing media controls for Android devices. When playing media locally, on an android device, I solved it using `MediaSession`: https://developers.google.com/web/updates/2017/02/media-session
I even added `ActionHandlers` for previous and next tracks.

I have a very similar goal when casting. It'd look something like this: https://developers.google.com/cast/docs/design_checklist/sender

I

[2018-07-16 20:09] joeyparrish commented on #1491
I don't know the answer off-hand, but I'm looking into this now.

[2018-07-16 20:22] sergioavazquez commented on #1491
Awesome, Thanks @joeyparrish!

[2018-07-16 20:32] jkringen opened #1492 "Enseo STB w/ PlayReady: DRM.NO_RECOGNIZED_KEY_SYSTEMS"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: yes
**What version of Shaka Player are you using?**: latest
**Can you reproduce the issue with our latest release version?**: yes
**Can you reproduce the issue with the latest code from `master`?**: yes
**Are you using the demo app or your own custom app?**: custom
**If custom app, can you reproduce the is

[2018-07-16 21:01] chrisfillmore commented on #1492
@jkringen can you be more specific about the device and OS? Are you developing for a smart TV platform or browser-based platform?

[2018-07-16 21:24] chrisfillmore commented on #1492
I get 403 Forbidden on the request for shaka-player.compiled.debug.js, which leads to a `ReferenceError: shaka is not defined`. I am in Canada fwiw.

[2018-07-16 21:32] joeyparrish commented on #1492
@jkringen, your content manifest shows PlayReady, but no other key systems.  Does your WebKit-based browser have PlayReady?

Try navigating to https://shaka-player-demo.appspot.com/support.html in your browser, which will output the full contents of Shaka's support probe.  Copy the text or take a screenshot so that we can see what we can detect as supported on the device.

[2018-07-16 21:35] jkringen commented on #1492
Hi @joeyparrish! It does support PlayReady, that is actually the current streaming protocol we are using on these platforms, but using their plain <video> tag implementation, which has a proprietary playback system embedded into their browser to support DRM, etc. This is currently working, but we are wanting to move away from the native playback mechanism to a 3rd party player like Shaka to provid

[2018-07-16 21:39] chrisfillmore commented on #1492
Very interesting. I want to say, in my experience, these kinds of HTML5-based Smart-TV / STB environments are notoriously unreliable and buggy. The only reason I mention this is that on Samsung Tizen TV's, we noticed a significant improvement in stability from 2016 WebKit-based TV's to 2017 Chromium-based ones.

I would strongly urge you to ask Enseo for a proof of concept demonstrating a working

[2018-07-16 21:52] jkringen commented on #1492
@chrisfillmore, yeah I am definitely feeling the pain right now both of these platforms (Web OS & Enseo). I originally did the work to implement DRM playback on both of these platforms using the regular video tag method, which also requires the client to perform platform-specific proprietary logic to initialize their DRM system and then pass it the proper bits of data, etc.

I do have the Shaka pl

[2018-07-16 21:54] jkringen commented on #1492
Here is what the browser user agent is being reported as at least: Mozilla/5.0(Linux;Linuxmips;Enseo/HD3300)AppleWebKit/537.36(KHTML,
likeGecko)Safari/537.36v2.4.2

Here is the output of the Shaka support page as displayed on the Enseo STB:
`{
  "manifest": {
    "application/dash+xml": true,
    "application/x-mpegurl": true,
    "application/vnd.apple.mpegurl": true,
    "application/x-offline-m

[2018-07-16 21:59] jkringen commented on #1492
From Enseo: The browser is Chromium version 39 with MSE and EME for playback support.

Not much detail, but I'll see what more I can get myself...

[2018-07-16 22:11] joeyparrish commented on #1492
If `com.microsoft.playready` doesn't show up as supported, I would guess that either:

1. They use some other, non-standard key system ID (you should ask)
2. or they don't support PlayReady through EME (you should ask about this, too)

To see if decryption & playback of encrypted content would work at all, you should try the clearkey implementation.  Check out the "Clear Key" section of our DRM tu

[2018-07-17 05:49] mjaddani opened #1493 "Live Playing with Jumping forward"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: 2.4.2

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: Yes

**Are you using the demo app or your own custom app?**: both

**If custom app, can you reproduce the

[2018-07-17 06:09] avelad commented on #1307
hi @theodab

it's not working as expected, how can you knowWindow by default in HLS? with the new configuration I can only set a value if the value it's know by the application, but the real availabilityWindow is already included in the stream

By default the behavior it's the same as in previous releases (eg 2.4.2) and the default behavior is different to DASH.

[2018-07-17 07:08] jayku4u commented on #1395
If this issue is caused by the combination of MediaSource and DOMParser, then having a js-polyfill will not be an effective workaround. Is there anyway to mitigate the MediaSource bug?

[2018-07-17 13:10] chrisfillmore commented on #1492
@jkringen Do you know what version of the EME spec Enseo has used?

[2018-07-17 13:24] chrisfillmore opened #1494 "Suggestion: issue label for set-top-box type platforms?"
I know that my team is going to be supporting more and more smart TV / STB platforms in our future. It seems lots of other people are working in these environments too. Could we have an issue label for bugs from these platforms? This would cover any smart TV (Tizen, LG WebOS, Vizio, etc) as well set-top-boxes that support HTML5 environment (Enseo STB).

[2018-07-17 13:49] Tilakv commented on #1467
@shaka-bot Thanks for the suggestions! Sorry for the delay to respond. I have tested some settings which are tagged in the previous comments like large minimumupdate_period set to 7200 sec.. I added the element  suggestedPresentationDelay by tweaking the ffmeg source code (hardcoded to zero), as the option is not available to set in ffmpeg command.

I have set a GOP of 1 sec and a bit more (34 for

[2018-07-17 13:56] sergioavazquez commented on #1491
This should be a good example on how it's implemented: [Google CastVideos repo](https://github.com/googlecast/CastVideos-chrome/blob/master/CastVideos.js)

[2018-07-17 15:31] theodab commented on #1307
Well, in that case, you should wait on #999.
That issue is currently blocked, awaiting other refactors, but it's also in the 2.5 milestone so you won't be waiting forever.

[2018-07-17 16:40] TheModMaker opened #1495 "Support "com.microsoft.playready.recommendation" key system"
Apparently there is a new key system for Edge of `com.microsoft.playready.recommendation`.  It sounds like this key system more correctly implements the EME spec and the old key system `com.microsoft.playready` is no longer recommended.  I found this out on [dash.js#2658-comment](https://github.com/Dash-Industry-Forum/dash.js/issues/2658#issuecomment-405353828).  I have done some initial testing a

[2018-07-17 16:54] TheModMaker commented on #1467
It is common for live streams to suffer from drift when the encoder and the clients become different over time.  But it is usually the other direction; the encoder is encoding at 0.99x realtime, so the encoder falls behind over time and can't generate fast enough.  In your case, I think FFmpeg is encoding content faster than realtime, so it generates more content than the player is playing.

You c

[2018-07-17 17:05] joeyparrish commented on #1395
That's not true.  Because the issue was triggered by the combination of the two, a js-polyfill that _replaces_ native DOMParser _is_ an effective workaround.  The polyfill I posted above does just that.  If the native DOMParser is not used, the bug is not triggered.

Microsoft stated that a firmware update was on the way which would fix the bug.  Since that time, version 10.0.17134.4056 was releas

[2018-07-17 17:05] #1395 closed

[2018-07-17 17:09] joeyparrish commented on #1494
Sure, no problem.  I'll create a "TV/STB" label we can use for that.

[2018-07-17 17:14] joeyparrish commented on #1494
Done!  https://github.com/google/shaka-player/issues?q=label%3ATV%2FSTB

[2018-07-17 17:14] #1494 closed

[2018-07-17 17:31] joeyparrish commented on #1467
Our [history live stream](https://shaka-player-demo.appspot.com/demo/#asset=https://storage.googleapis.com/shaka-live-assets/player-source.mpd;lang=en-US;noinput;build=compiled) is also generated from a pipe, and uses ffmpeg with the `-re` option.  I think that is a requirement for generating live streams from a pipe.

[2018-07-17 17:50] avelad commented on #1404
mux.js has released version 4.5.0 with support for CEA608 in mp4.

[2018-07-17 18:38] chrisfillmore commented on #1494
Thank you!

[2018-07-17 18:43] joeyparrish commented on #1494
De nada.

[2018-07-17 19:13] swenkeratmicrosoft commented on #818
FYI: When using the com.microsoft.playready.recommendation key system string, you can explicitly request hardware DRM by setting the MediaKeySystemMediaCapability's "robustness" string to "3000" for the corresponding contentType.  Of note, only certain contentType values support Hardware DRM - e.g. hardware DRM is never supported for any audio content; hardware DRM is only supported for HEVC conte

[2018-07-17 19:33] swenkeratmicrosoft commented on #1495
Note that the com.microsoft.playready.recommendation key system string is only supported as of the Windows 10 April 2018 update.

-Sam Wenker with the Microsoft PlayReady team

[2018-07-17 19:50] joeyparrish commented on #1495
Thanks, Sam!  Any documentation or blog post available where we can find out more?

[2018-07-17 19:56] swenkeratmicrosoft commented on #1495
I am investigating the status of documentation as mentioned in the following comment and will reply to that thread when I have more information.
https://github.com/Dash-Industry-Forum/dash.js/issues/2658#issuecomment-405690840

Thanks,
-Sam Wenker with the Microsoft PlayReady team

[2018-07-17 21:55] krvangala opened #1496 "providing pre-fetched Sidx data"
Hi,
In our framework , we pre-fetch SIDX tables for bitrates (we generate single sidx file containing sidx tables for bitrates and audio also). We have updated dash.js accordingly when it requires initial segment data, we provide pre-fetched data.  We plan to use shaka instead of dash.js.

What is the best location in source  or method to achieve this in shaka?
Thanks
Krishna

[2018-07-18 00:16] vaage opened #1497 "Check for text language match after filtering in Player"
In `lib/player.js` there is a TODO with very little context. We can use this issue to explore the intent of the TODO and then update the TODO with the issue number.

https://github.com/google/shaka-player/blob/master/lib/player.js#L2869

[code]

[2018-07-18 06:14] avelad commented on #1307
Hi @joeyparrish,

I just tested with Infinity and I get more range than declared in the playlist. This does not work for an EVENT playlist (startover funcionality) because the start is a known value, but the duration change in each update.

I attach a video with the test.
[Issue-1307.zip](https://github.com/google/shaka-player/files/2204632/Issue-1307.zip)

[2018-07-18 06:15] mjaddani opened #1498 "Firefox and CORS on manifest Redirect (302)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: 2.4.2

**Can you reproduce the issue with our latest release version?**: Yes

**Can you reproduce the issue with the latest code from `master`?**: Yes

**Are you using the demo app or your own custom app?**:Both

**If custom app, can you reproduce the i

[2018-07-18 07:01] onetae commented on #1433
Hi @grantg182
Did you solve this after? I am having the same problems with offline android and would like to compare notes.
Thanks Matt

[2018-07-18 08:29] Feenposhleen opened #1499 "Live stream end behaviour when playhead is behind live point?"
Hello,
I'd love some input on an undesired behaviour that we are seeing in latest Shaka, using DASH. This could be related to manifest contents or something else, but I feel at a loss. Not posting as a bug, since I'm unsure which part of the pipeline is the culprit.

So this is an example scenario:
0. Clock is 0.55
1. Start a live stream which starts at 0.0 and ends at 1.0
2. Scrub back to 0.30
3.

[2018-07-18 08:51] grantg182 commented on #1433
Hi @onetae

Unfortunately you will require an Offline Provisioning Server to resolve the issue. You'll find everything works just fine in Chrome <58 - it seems that the VMP update for Chrome also slipped in this change which means devices need provisioned every time (or at least, for every domain, license retrieval attempt, or _something_).

So far, I have not had great success from the Widevine t

[2018-07-18 15:36] chrisfillmore commented on #1498
Is this the same as https://github.com/google/shaka-player/issues/1476 ?

[2018-07-18 17:47] vaage opened #1500 "Questions on networking engine's design"
Networking Engine is passed around a lot in our code base. Normally it is created by the player and then pass down multiple function calls.

In the past we have talked about why sharing a networking engine is so important. Normally the request filters are the strong reason to share an instance.

It feels like the code-base could be easier to work with if we did not always need to pass networking e

[2018-07-18 21:06] pix-dgee commented on #1481
Updating this with some additional info. Using `HttpFetchPlugin` in conjunction with `shaka.dash.DashParser` works like a charm in recent versions of Chrome.

Unfortunately, as we're relying on Castlabs' prepackaged electron releases ( https://github.com/castlabs/electron-releases ) to enable Widevine support in Electron, we discovered that this surfaces the same `1000` error attached above when u

[2018-07-18 22:37] pix-dgee commented on #1481
Absolutely. Was just commenting in case some lost soul wanders into this thread in the future, I don't expect any action to be taken ;) Sorry if that was unclear.

[2018-07-19 09:36] onetae commented on #1433
Hi @grantg182
Thanks for the info, you saved me a few days which I would of spent coming to the same conclusion.
We contacted Widevine and they are aware of this problem, and looking to solve it.
Which isn't much good to us.
Regards

[2018-07-19 14:21] kchandran1029 commented on #1468
@joeyparrish Thank you for taking your precious time to dig into this, that make sense. Let me give it a try with your suggestions . Thank you.

I was on vacation , hence couldn't reply promptly .

[2018-07-19 15:42] joeyparrish commented on #1481
Gotcha.  Thanks!

[2018-07-20 04:41] mjaddani commented on #1498
Yes i think, it's the same. Does exist any workaround ?

Best regards

2018-07-18 17:36 GMT+02:00 Chris Fillmore <notifications@github.com>:

[2018-07-20 14:13] kuznetcoff777 opened #1501 "question of multiperiod hack to resolve time-shift of stream"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:

**What version of Shaka Player are you using?**:

**Can you reproduce the issue with our latest release version?**:

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**:

**If custom app, can you reproduce the issue using our demo ap

[2018-07-20 14:57] leandromoreira opened #1502 "Live stream using SegmentURL is not working"
I'm trying to use the `SegmentURL` but it seems that shaka-player is not able to play it. It's showing the message:
[code]

The funny thing is, when I change to my `SegmentTimeline` representation (to the same data) it works.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**: Yes

**What version of Shaka Player are you using?**: Latest (master)

**Can you

[2018-07-20 18:01] joeyparrish commented on #1307
I think this feature is not working correctly.  I will reopen and investigate.

[2018-07-20 18:01] joeyparrish commented on #1177
I think this feature is not working correctly. I will reopen and investigate.

[2018-07-20 18:04] joeyparrish commented on #1177
The override set by the player after the initial manifest is parsed is wiped when a live manifest is updated.

[2018-07-20 18:04] joeyparrish commented on #1307
The override set by the player after the initial manifest is parsed is wiped when a live manifest is updated.

[2018-07-20 18:09] theodab commented on #1177
Huh. But only on DASH. Well, that explains why I didn't notice, I was mostly testing with HLS.
I'll look into it.

[2018-07-20 18:15] joeyparrish commented on #1177
No need, I'm already putting together the CL.

[2018-07-20 18:29] joeyparrish commented on #1493
This is because you have no `suggestedPresentationDelay` attribute in your manifest, combined with a `timeShiftBufferDepth` of 10s.  `timeShiftBufferDepth` of 10s means that only 10s of content is accessible to the client at a time.

To compensate for the time it takes clients to get started, you use the `suggestedPresentationDelay` attribute in DASH.  Your manifest doesn't have one specified, so

[2018-07-20 18:53] mjaddani commented on #1493
Many thanks, i will test it

It’s the same think for chromecast because chromecast use shaka ?

Best regards

Le ven. 20 juil. 2018 à 20:29, Joey Parrish <notifications@github.com> a
écrit :

[2018-07-20 18:57] joeyparrish commented on #1496
I'm not sure where this would best fit.

Can you elaborate on how you prefetch the SIDX tables?  Is it done on the client in the same page context as playback?  Would it be sufficient to trust the browser cache to supply the SIDX when requested by Shaka Player?

Can you also explain why you prefetch the SIDX?  Could you not get the bitrate information from the manifest or from the player?  (We pro

[2018-07-20 19:06] joeyparrish commented on #1497
The `languageMatches` dictionary serves as an output parameter for both `filterVariantsByConfig` and `filterStreamsByLanguageAndRole`.  The output from those is then used to decide whether or not to display the text track by default.

The high level requirement is shown in a comment lower down in the same code:

[code]

When we do fuzzy language matching in the filter methods, we flag audio or tex

[2018-07-20 19:08] joeyparrish commented on #1497
Instead, let's just check for a language match explicitly after filtering.  We only need to do it for text, only on startup, and only on the chosen text track.  It shouldn't be expensive to repeat the language check, but it will be clearer.

[2018-07-20 19:12] joeyparrish commented on #1493
The Cast Application Framework uses Shaka Player internally for DASH.  I'm not sure if you are using that or not.  You can also build custom cast receivers based on Shaka Player.

[2018-07-20 19:21] joeyparrish commented on #1499
I don't think I understand the timeline.  Can you put together an example that we could use to experience this effect and better understand it?

Also, what do you mean when you say it's both live and it "ends"?  What happens at the end in terms of the manifest?

[2018-07-20 19:23] joeyparrish commented on #1501
Are you referring to encoder drift?  That's when the duration of what the encoder outputs is less than the time it took.  For example, every 24 hours, only 23.9 hours of content is output.

[2018-07-20 19:29] mjaddani commented on #1498
Yes you can reproduce with my  content.

I keep it for you, it’s very importante for us because we have projet for
football champions league

Best regards

Le ven. 20 juil. 2018 à 21:27, Joey Parrish <notifications@github.com> a
écrit :

[2018-07-20 19:39] joeyparrish commented on #1498
I can reproduce in Firefox 61.0.1, 62.0b10, and 63.0a1.

The error logs from Firefox complain about our ServiceWorker, which is interesting.  It could be a bug in service_worker.js, or a bug in Firefox's ServiceWorker implementation, or maybe something in Firefox we can work around in our ServiceWorker.

I will dig a little deeper.

[2018-07-20 19:40] joeyparrish commented on #1476
@KameshDevarakonda, when this bug occurs, do you have any console logs in Firefox about the ServiceWorker?  In a similar issue (#1498), I found this error log in the console:

`A ServiceWorker passed a promise to FetchEvent.respondWith() that rejected with ‘TypeError: NetworkError when attempting to fetch resource.’.`

If you see this, too, then I can consider the two issues to be the same, and wo

[2018-07-20 19:41] mjaddani commented on #1498
Many thanks

2018-07-20 21:39 GMT+02:00 Joey Parrish <notifications@github.com>:

[2018-07-20 20:11] KameshDevarakonda commented on #1476
Yep.. I can see exact same message : A ServiceWorker passed a promise to FetchEvent.respondWith() that rejected with ‘TypeError: NetworkError when attempting to fetch resource.’.

`16:06:09.503 Unload latency: 0.015 player.js:706:5
16:06:09.604 notifySegments: maxSegmentDuration=10.00780045351474
presentation_timeline.js:192:3
16:06:09.626 notifyNewSegmentDuration: maxSegmentDuration=10.0078004535

[2018-07-20 20:14] #1177 closed

[2018-07-20 20:16] joeyparrish commented on #1307
@avelad, can you please try again with the latest code?  I believe we have fixed the issue.

[2018-07-20 20:21] krvangala commented on #1496
Sorry for not give enough info. Our back end creates a single file containing  sidx information for all streams. This file prefect he'd even before starting playback. Now I would like to use this pre downloaded data instead of calling http server again. This reduces the rate switching  delay. Thanks

[2018-07-20 20:32] joeyparrish commented on #1476
Since #1498 is easy for me to reproduce, I'm marking this one as a duplicate of that (even though this issue was filed first).

Work on this issue will continue on #1498, and I'm hopeful that we can find a workaround at the very least.

[2018-07-20 20:32] #1476 closed

[2018-07-20 20:50] ryancl01 commented on #1433
@grantg182 Have you tried setting the service certificate for the client as outlined in page 30 of the License Server SDK document?  If you need more detailed instructions please send me a message and I can further assist off of github.

[2018-07-20 20:52] leandromoreira commented on #1502
@joeyparrish thanks, this is running on my dev enviroment I'll try to find a way to expose it. 👍

[2018-07-20 21:00] grantg182 commented on #1433
@ryancl01 No, I have not. The Widevine Partner License SDK document I have is v1.12.1 which only has 23 pages. I get a 403 on the Widevine SDK document link within the CWIP portal too, so cannot currently access the latest documentation for some reason(?). Alas, I'll try figure out how to PM you...

[2018-07-20 21:05] ryancl01 commented on #1433
@grantg182 Hi Grant no problem I just sent you an email with the latest document.

[2018-07-20 21:06] grantg182 commented on #1433
@ryancl01 Great, thank you!

[2018-07-20 21:17] mjaddani commented on #1493
With this

[2018-07-20 21:17] #1493 closed

[2018-07-20 21:18] kuznetcoff777 commented on #1501
Yes, it seems tobe this is it! It is great that you refactoring player!
Im attempting to resolve it via multi-period at the moment, but no luck at the moment.
When approximately this solution will be ready at your side?

[2018-07-21 04:43] Murmur commented on #1433
Is that doc available for everyone? I could use it as well.

[2018-07-22 12:29] ronenneumark commented on #1404
@avelad - on which shake player version supporting CEA608 in mp4 will be available?

[2018-07-22 18:29] kuznetcoff777 commented on #999
One thing i cannot understand, encoder makes stream in unstopable way (if some drift happens then it will not make segment less or more by time (for example if drift one second back, then segment will be any way for 5 seconds as configured))

In HLS there is a timestamp can be shown explicitly via #EXT-X-PROGRAM-DATE-TIME for every 5 seconds (when ts segments for 5 seconds for example) and if drif

[2018-07-22 20:11] leandromoreira commented on #999
@kuznetcoff777 I think this http://www.unified-streaming.com/blog/stop-numbering-underappreciated-power-dashs-segmenttimeline can help you understand how it is possible to signalize discontinuities in Dash.

[2018-07-23 03:02] chrisfillmore commented on #1500
Keep in mind that there may be multiple `Player` instances running at once (e.g picture-in-picture or tiled playbacks). Here is a use case for which the use of a singleton seems problematic to me: As a Shaka client developer, I want to be able to add a header to segment, manifest, and license requests, on a per-stream basis. (We need to track requests for specific streams with a unique GUID.) Keep

[2018-07-23 03:10] chrisfillmore commented on #880
While writing my response to #1500, I realized a problem with preloading may be, where does NetworkingEngine come from? Should a "preload instance" (whatever it looks like) have its own NetworkingEngine?

[2018-07-23 06:18] avelad commented on #1307
I found thaht it's not possible configure availabilityWindowOverride = Infinity in Demo page, is it possible add Infinity value?

[2018-07-23 10:01] mjaddani commented on #1498
I'have the same issue with IE11.

[2018-07-23 10:59] onetae commented on #1433
Hi Guys,
You can also set the serverCertificate in the Shaka player in the advanced drm area:
You set it as a Uint8Array, see below.

I tried both ways: setting it in the player and setting it in the widevine SDK as stated in the document.

But still have no luck with later versions of Android.

      player.configure({
            drm: {
              servers: { 'com.widevine.alpha': 'https://wid

[2018-07-23 13:05] srstrong opened #1503 "Reconstruct moof boxes to support ssix"
So the MPEG-DASH spec (I’m reading ISO/IEC 23009-1:2014(E)) details how sidx and ssix boxes alongside SubRepresentations with the @level attribute can be used to facilitate trick play, with the player having sufficient information from the index boxes to perform range requests against the ‘main’ segment to download, for example, just the iframes.

However, it doesn’t look like Shaka player (or the

[2018-07-23 15:07] joeyparrish commented on #1307
That's a limitation of `<input type=number>`.  You could use a sufficiently large number in the demo, such as 9999999999 (larger than the current Unix time in seconds).

[2018-07-23 15:11] joeyparrish commented on #1493
Thanks for letting us know!

[2018-07-23 15:11] joeyparrish commented on #1502
Thank you!

[2018-07-23 15:16] joeyparrish commented on #1496
I don't think there is a simple way to do this in Shaka Player at the moment.

In case you want to dig around and find a way to do this, the SIDX is fetched in [lib/dash/segment_base.js](https://github.com/google/shaka-player/blob/ecd27fbf45b5ddec9a05804386977fbbc7772f8d/lib/dash/segment_base.js#L146) and parsed in [lib/media/mp4_segment_index_parser.js](https://github.com/google/shaka-player/blob

[2018-07-23 18:35] #1487 closed

[2018-07-23 18:54] vaage commented on #1480
Just to give everyone an update, we have reached 32% completion for v2.5. If you would like to follow the progress more directly, you can check it out [here](https://github.com/google/shaka-player/milestone/16).

[2018-07-23 19:05] #1466 closed

[2018-07-23 19:09] TheModMaker commented on #1307
@joeyparrish I would think there would be three distinct use cases for this setting:

1. Not setting anything: Non-seekable HLS and using `timeShiftBufferDepth` for DASH.
1. Setting `availabilityWindowOverride`: Using that value to indicate the time that segments remain alive for and determining the seek range.
1. Using #999: The segments that appear in the latest manifest determine the seek range

[2018-07-23 19:32] vaage commented on #1503
@srstrong Thanks for bringing this up. I am going to bring-in @kqyang as he is one of the resident experts on the Dash spec. @kqyang, would you be able to comment on @srstrong 's understanding of the spec and the additional AdaptationSet approach?

Once we know that everyone has the same understanding of what the spec allows, we can look into how best to approach this in the Shaka Player code.

[2018-07-23 19:35] joeyparrish commented on #1503
If this is a way to point just at the i-frames without having a separate container, I don't believe browsers are going to be able to support that.  It would be analogous to HLS's iframe-only playlists, which MediaSource in the browser can't accept.

[2018-07-23 19:45] joeyparrish commented on #1307
@TheModMaker, you are right.  For HLS, there is no difference between a window override of `Infinity` and my plans for #999.  For DASH, it is a bit different.  Until #999 is solved, the DASH live edge is based on `availabilityStartTime`, not the segment list.  For HLS, it is already based on the segment list.

[2018-07-23 19:47] joeyparrish commented on #999
Hi everyone,

I had plans to solve this as part of a larger refactor, which is described in #1339.  I now think this should be solved in a simpler way, by just modifying the DASH parser.  I still plan to refactor things in #1339, but there's no reason this issue **needs** to be dependent on that.

[2018-07-23 19:56] ryancl01 commented on #1433
All,

Which version of Android did you first notice this problem?

Thanks,
Ryan

[2018-07-23 20:23] grantg182 commented on #1433
@ryancl01 We have tested with a variety of devices with various versions of Android and Android forks.

Up to and Chrome 58, we have no issues with license requests in an offline environment on any of these devices.

After Chrome 59, here are some examples of devices I tested 2 months ago:-

Samsung Galaxy S8 - Android 7.0, Chrome 66
Samsung Galaxy S6 -Android 7.0, Chrome 66
Huawei Nova Lite - And

[2018-07-23 20:35] #1482 closed

[2018-07-23 20:35] #1473 closed

[2018-07-23 20:35] #1469 closed

[2018-07-23 20:36] jakubvojacek commented on #999
@joeyparrish perfect! cannot wait to see it & test it! 👍

[2018-07-23 20:39] joeyparrish opened #1504 "Get progress events from Fetch"
Split off from #1051:

We need progress events from Fetch so that after #1051, we don't have to prefer XHR again.

[2018-07-23 21:30] joeyparrish commented on #1500
@chrisfillmore, I think you're spot on.  There are multiple NetworkingEngine instances so that there can be multiple Player instances.  Since networking filters are registered on the engine instance, and because those are used (among other things) for authentication, it should stay a per-Player instance.

The tension here is that we (especially @vaage) are working to make things like Storage indep

[2018-07-23 21:48] #1459 closed

[2018-07-23 21:57] kqyang commented on #1503
@srstrong Your understanding of the DASH spec is correct. TrickPlay implementation using Sub-Representations in combination with Index Segments and Subsegment Index boxes are more efficient, in terms of storage and cpu, than what we are doing now in Shaka Player and Packager.

Unfortunately, as @joeyparrish pointed out, that requires browser support, which I don't think it is supported in any brow

[2018-07-23 22:02] vaage commented on #1458
@TobbeEdgeware thank you for your patience with this issue.

I can reproduce it when I use the commit hash you provided. When I use the [current master](https://github.com/google/shaka-player/commit/1b150eef042443bc38b45a1808e5fb5ffc51da83), I cannot reproduce it. So it looks like it was fixed by another commit.

Could you try reproducing the issue using the [current master](https://github.com/goo

[2018-07-23 22:05] vaage commented on #1503
@srstrong Does that answer your question? If so, please feel free to close the issue.

[2018-07-23 22:34] vaage commented on #1392
@avelad Is the content you provided still available? I only get 404 errors when I try to request the content you provided in your original issue post.

[2018-07-23 22:36] vaage commented on #1071
@avelad I see that there has not been any updates on this issue in a while. Is this still an issue for you?

[2018-07-24 04:50] avelad commented on #1071
Yes, i'm waiting to a solution

[2018-07-24 08:46] srstrong commented on #1503
Thanks for the quick responses chaps, much appreciated.  I haven't been through the sidx / ssix boxes in alongside the mp4 moof definition in massive detail, but first glance suggested that there would be sufficient info in those boxes to allow the client-side javascript to construct an appropriate moof containing just the frames referenced by the selected level.  So essentially just moving the re

[2018-07-24 12:02] Feenposhleen commented on #1499
Our live stream segments are always kept even after the event has ended, to be available for a while as catch-up. The manifest doesn't change. Loading such a manifest after the event has ended works fine. Loading it while live also works, but as soon as wall time passes the end of the "live presentation", and no matter where the playhead is, Shaka emits an `ended` event and stops playback. A pract

[2018-07-24 13:06] sergioavazquez commented on #1491
@vaage I understand how doing that could work, but wouldn't that be a problem when updating Shaka? I was looking forward to a solution that doesn't require me customizing Shaka's code, so I could still update from npm seamlessly. Am I missing something here? Can I add the customization to `shaka.cast.CastReceiver.prototype.sendMediaInfoMessage_` elsewhere? In my own code, I mean.
Thanks!

[2018-07-24 15:49] vaage commented on #1491
We don't have support for that feature right now, nor do we have an official way in the library to inject it. If you were to add support for it, we are always welcoming to pull requests and would be happy to evaluate the pull request and add it to the project.

[2018-07-24 16:31] joeyparrish commented on #1491
@sergioavazquez, I've added the "help wanted" tag to indicate that we would be happy to review a pull request for this feature.  Please read [CONTRIBUTING.md](https://github.com/google/shaka-player/blob/master/CONTRIBUTING.md) for details.  Thanks!

[2018-07-24 17:39] ryancl01 commented on #1433
Thank you Grant.  I am working with Chrome engineering to investigate this and hope to have an update soon.

[2018-07-25 01:45] warking opened #1505 "For this 1080p MPEG-Dash video, when casting to chromecast, max up to 720p only."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
2.4.2

**Can you reproduce the issue with our latest release version?**:
Yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom app?**:
Demo app

**If custom app, can you reproduce

[2018-07-25 14:46] srstrong commented on #1503
That's possibly something we'd be interested in helping with.  I'm working on our server implementation at the moment, so will review the sidx and ssix boxes to see if there is indeed enough information to construct a sane moof.  If so, I'll let you know and we can discuss how that might happen

[2018-07-25 17:07] chrisfillmore opened #1506 "ESLint fails with `no-invalid-this` on http_plugin_unit, when including Shaka repo in my project folder"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
Latest from master, but version does not seem to matter, this is a problem with the build

**What browser and OS are you using?**:
MacOS, not a problem in the browser

**What did you do?**
I have shaka-player repo as a git submodule in my own project's

[2018-07-25 17:24] vaage commented on #1505
@warking Could you provide me with some clarification?

When you say _"max to only 720p resolution ... while playback in the browser, 1080p can be selected to play."_ are you saying:
- that when you play on the ChromeCast, the max resolution you can manually select is 720p and when you play in a browser (not casting) the max resolution you can manually select is 1080p?
- **OR** that when you play

[2018-07-25 17:30] vaage commented on #1501
@kuznetcoff777 Thank you for your patiences. Right now @joeyparrish is working on #999. While the initial approach was a larger-scaled solution (addressing many other problems), he is now working on identifying a smaller scale-scale solution that would resolve #999 in a smaller time window and then later bring in the larger-scale solution.

Last I talked with him, a strategy for this is still bein

[2018-07-25 17:40] vaage commented on #1499
@Feenposhleen I think I understand the scenario you're explaining.

Since all the segments are still available, it is possible to convert the live manifest to a VOD manifest and Shaka Player does support this transition .

@kqyang from the Shaka Packager team talks about the attributes that need to change in the manifest to allow this in this [issue](https://github.com/google/shaka-packager/issues

[2018-07-25 17:52] #1506 closed

[2018-07-25 18:52] chrisfillmore commented on #880
Will licenses be preloaded? If so, how will the client handle custom authorization? We would need to be able to handle formatting license requests for individual streams (our license proxy resides at a static URL, and identifying information is provided in the request body).

[2018-07-25 23:03] kqyang commented on #1499
@vaage For @Feenposhleen use case, converting to VOD shouldn't be needed as long as the buffer depth is big enough. From what @Feenposhleen described, it sounds like the buffer depth is unlimited. Perhaps Shaka Player can be improved to not terminating the live stream when the live event ends if the playback is in the past? I wonder how `end` is signaled in @Feenposhleen's stream and in what condi

[2018-07-26 02:30] warking commented on #1505
I meam the first one:

" that when you play on the ChromeCast, the max resolution you can manually select is 720p and when you play in a browser (not casting) the max resolution you can manually select is 1080p "

here is the screenshot:
https://imgur.com/a/0J0IBeU

when casting to chromecast, that 3 1080p options gone.
the best quality option in the select element becomes 720p

And I know that th

[2018-07-26 07:10] Feenposhleen commented on #1499
@vaage @kqyang Thanks. As I pointed out, loading the exact same manifest after the event has ended results in well functioning VOD playback (starting from beginning, etc). This indicates to me that changes in the manifest would not be required. If Shaka supports manifest attributes being modified on the fly as @vaage described, then the logic to do so might need to account for this scenario as wel

[2018-07-26 18:31] joeyparrish commented on #1499
@Feenposhleen, it should be easy enough to convert live to VOD during playback, so long as the presentation timeline does not change.  The timestamps seen by the video element are in the presentation timeline.

For example, if your live stream starts at availabilityStartTime of 2018-07-25 18:00:00 UTC, then that should be the wall time of the first segment, and its presentation timestamp should be

[2018-07-26 19:13] joeyparrish commented on #1498
I haven't been able to figure this out yet.  In the mean time, I recommend that you not use a ServiceWorker in your application.  Our demo uses one, but if you aren't using ServiceWorker, you should not run into this bug.

[2018-07-26 21:33] mjaddani commented on #1498
For disabling serviceWorker, we will just remove serviceworker.js ?

Le jeu. 26 juil. 2018 à 21:13, Joey Parrish <notifications@github.com> a
écrit :

[2018-07-26 21:49] joeyparrish commented on #1498
That depends on what your application looks like.  Are you using our demo service worker in your app verbatim?

In the Shaka Player demo app, we have this snippet that registers the service worker:

https://github.com/google/shaka-player/blob/fa4954452663ae6d392b3a779e8b263d4dcd9aee/demo/main.js#L160

You would comment out the equivalent bit of code in your own app and then clear whatever service

[2018-07-26 23:57] rbond commented on #1404
Second that on 608 on mp4. We have many use cases for pulling captions in band.

[2018-07-27 07:37] Feenposhleen commented on #1499
@joeyparrish I'm very sorry, but it turns out that I've been wrong; the manifest does indeed change. The timeline part seems to remain pretty much the same, with the exception of the removal of `presentationTimeOffset`. The relevant snippets from the manifests:

**Live manifest:**
[code]

**Same manifest after event ended:**
[code]

[2018-07-27 07:45] tmagnien opened #1508 "CDATA in DASH Location tag"
Hi. We're using DASH Location tag to load-balance our streams on different servers.

However, our URL has a query string and `&` characters should be quoted to `&amp;`. I tried enclosing it in a CDATA block but it does not seem to work. Is this normal ? (Using &amp; works but it would be easier for me not to rewrite the URL).

Thanks,
Thierry

[2018-07-27 12:45] TobbeEdgeware commented on #1458
@vaage Sounds good. I'm on vacation until Aug. 6, but will try to look at this right when I'm back if not sooner.

[2018-07-27 15:24] vaage commented on #1458
@TobbeEdgeware Thanks. I am going to put the "waiting on response" label back on so that our book keeping won't think that we are ignoring the issue.

[2018-07-27 15:54] chrisfillmore opened #1509 "Export shaka as ES6 module"
I would like to make the following change to wrapper.template.js:

[code]

[2018-07-27 16:38] joeyparrish commented on #1509
You *can* load ES6 modules now in a `<script>` tag, but only with `type="module"`.  The trouble is that adding the "export" keyword makes it incompatible with any other form of module.

[2018-07-27 16:58] chrisfillmore commented on #1509
We use [JSPM](https://jspm.org/) for package management and bundling. I'm not intimately familiar with JSPM, but based on my reading, it is configured to read shaka-player.compiled.js as a CommonJS module, and then expose this to use in ES6 module style.

Could the method of export be configured at build time via a flag?

[2018-07-27 18:05] #1492 closed

[2018-07-27 19:02] #1307 closed

[2018-07-27 19:04] theodab commented on #1307
Okay, with that change, setting availabilityWindowOverride to Infinity (or some other arbitrary large value) should now properly set the start time on an HLS livestream.

[2018-07-27 19:20] kqyang opened #1510 "Empty VTT file not supported in Shaka Player"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:

Yes.

**What version of Shaka Player are you using?**:

Latest demo.

**Can you reproduce the issue with our latest release version?**:

Yes.

**Can you reproduce the issue with the latest code from `master`?**:

**Are you using the demo app or your own custom app?**:

Demo app.

**If custom app, can you

[2018-07-27 21:48] vaage commented on #1505
@warking, after some digging this is what I found. I hope it helps.

Inside the dash parser we call to the player interface's `filterAllPeriods` which will go through all the variants and will check if the variant is compatible with the platform. If you follow the call chain deep enough you will find a call to `MediaSource.isTypeSupported`.

This is where we ask media source if it can handle the c

[2018-07-27 21:49] vaage commented on #1505
Does that help?

[2018-07-27 21:52] vaage commented on #1508
@tmagnien does @TheModMaker instructions fix your problem?

[2018-07-27 21:53] #1500 closed

[2018-07-28 07:16] tmagnien commented on #1508
Hi. Sorry, I realize my question was not clear.

To sum up, this works:
`<Location>http://somedomain/url?foo=1&amp;bar=2</Location>`

But this is ignored:
`<Location><![CDATA[http://somedomain/url?foo=1&bar=2]]></Location>`

And I wanted to know if this is expected behaviour, as the 2nd form using CDATA is easier for me to generate.

Thanks,
Thierry

[2018-07-28 08:06] sasank4git opened #1511 "Opera browser fails to play 96khZ audio"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes

**What version of Shaka Player are you using?**:
Tested with github latest code and also with hosted demo

**Can you reproduce the issue with our latest release version?**:
yes

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app or your own custom ap

[2018-07-28 13:59] srstrong opened #1512 "Use of maxSegmentDuration when calculating liveEdge for initialisation"
Hi,

I've got a dynamic dash manifest with 2 periods.  The first period consists of recorded data, and has a fairly large segment size (I'm testing with 1 minute segments, but in production this would be more like 1 hour - each segment would have an index available to allow sub-segment streak switching, but that's not the issue).

The second period represents live, where data is still being ingest

[2018-07-28 18:05] #1467 closed

[2018-07-29 09:48] ronenneumark commented on #1404
@rbond  - can you share the supported in band cases?

[2018-07-30 01:51] warking commented on #1505
Thank you for your digging up and practice.

I just checked google cast sdk( https://developers.google.com/cast/docs/media ), it says the max video codec it supports is H.264 Level 4.1 while in another section of the page it states that chromecast ultra could support up to "HEVC / H.265 Main and Main10 Profiles up to level 5.1 (2160p/60fps)"

Do you happen to have an ultra to test if avc1.640032 w

[2018-07-30 10:57] chrisfillmore commented on #1509
Important detail I forgot to mention: we don't track Shaka as a dependency via npm. I believe there was once a reason for this but I'm hard-pressed to think of it now. Switching it over to npm may obviate the need for es6 module definition. Let me get back to you.

[2018-07-30 12:21] avelad commented on #1307
I just tested and everything works as expected. Thanks!!

[2018-07-30 12:23] avelad commented on #1392
@vaage , i'm talking with our providers for provide a valid url again.

[2018-07-30 14:43] chrisfillmore opened #1513 "Duration of in-progress recording is not updated"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
Yes

**What version of Shaka Player are you using?**:
2.3.4 (in production) and 2.4.0 (in testing right now)

**Can you reproduce the issue with our latest release version?**:
Yes, also tested in 2.4.2

**Can you reproduce the issue with the latest code from `master`?**:
Yes

**Are you using the demo app o

[2018-07-30 15:31] chrisfillmore commented on #1513
From discussion in #1148 it seems unclear if the duration must be known at the start of playback.

[2018-07-30 15:35] #1502 closed

[2018-07-30 15:42] TheModMaker commented on #1511
Unfortunately there isn't anything we can do for this.  The browser doesn't support playing your content.  Since it plays fine in Chrome, you may want to file a bug with Opera ([link](https://bugs.opera.com/wizard/)).

Some things to try:
- Make sure Opera is up to date.
- Make sure you've installed Windows updates.
- Make sure your graphics drivers are up to date.
- Try disabling hardware decode.

[2018-07-30 15:59] TheModMaker commented on #1512
First, having a segment size of 1 hour probably won't be supported.  It would require us to download the whole segment which will take a while and the whole segment needs to be stored in memory when we give it to the browser.  We don't support downloading partial segments.

Note that there is a difference between a segment and a file.  For live profile, the segments are stored in different files;

[2018-07-30 16:02] vaage commented on #1505
@warking, our Lab is only set-up with a Chromecast Ultra, so all my original testing was with a Chromecast Ultra. The 1080p tracks do not appear because `window.cast.__platform__.canDisplayType` returns `false` when given `'video/mp4; codecs="avc1.640032";'`.

[2018-07-30 16:20] TheModMaker commented on #1508
I don't really see a reason this shouldn't be supported.  It should be a simple fix.  I'll add it to our next release.

[2018-07-30 16:35] TheModMaker commented on #1513
Is the duration you set the duration of the content in the manifest or is it longer than the content available?  If we didn't do a manifest update, could we play to the duration or would it run out of available content?

The idea of IPR is that we know the duration ahead of time; if you are changing the duration, why not use a normal live stream?  Once the live stream ends you can convert it to VO

[2018-07-30 16:37] greenya opened #1514 "HLS v4 url causes startup lags and deprecation messages"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**:
yes

**What version of Shaka Player are you using?**:
2.4.2

**Can you reproduce the issue with our latest release version?**:
yes

**Can you reproduce the issue with the latest code from `master`?**:
haven't tested

**Are you using the demo app or your own custom app?**:
both

**If custom app, can you rep

[2018-07-30 16:49] TheModMaker commented on #1509
We could have a build-time flag to export as an ES6 module.  What we could to is have a second version of `wrapper.template.js` that would be used for ES6 mode.  I'll put this on the backlog, but we would be happy to review a PR for this too.

I am curious though, if JSPM is loading using CommonJS, why doesn't it work?  We support loading as a CommonJS module (which doesn't use ES6).

[2018-07-30 16:54] TheModMaker commented on #1499
In this case, your timeline is changing.  Even though the `SegmentTimeline` element is the same, the segments appear at different presentation times.  In the live manifest, that first segment plays at a presentation time of 1532672679 seconds, whereas in the VOD manifest it has a presentation time of 0.043 seconds.  We can't easily support changing the timelines like this.

[2018-07-30 17:57] leandromoreira commented on #1502
@joeyparrish we should keep this closed, the TV we were testing is playing regular HLS but maybe in the future we can come back to this, thank you very much!

[2018-07-30 18:42] TheModMaker commented on #1468
Does this answer all your questions?  Is there anything else we can help with?

[2018-07-30 19:27] kqyang opened #1515 "[HLS] Support SAMPLE-AES tag with Widevine"
Widevine specification: https://storage.googleapis.com/wvdocs/Widevine_DRM_HLS.pdf

Test stream: https://shaka-player-demo.appspot.com/demo/#asset=https://storage.googleapis.com/wvmedia/2018/cmaf/h264/24/llama/llama_h264_24fps_cmaf_hls_cbcs.m3u8;license=https://proxy.uat.widevine.com/proxy;lang=en-US;build=uncompiled

Shaka Player returns "Shaka Error MANIFEST.HLS_KEYFORMATS_NOT_SUPPORTED ()" righ

[2018-07-30 19:32] kqyang commented on #1515
"cbcs" is supported in Chrome since M68.

[2018-07-30 20:25] srstrong commented on #1512
Thanks for getting back to me - firstly, #999 does look like it will likely solve my problem.  However, whilst I've got your attention, I'd like to just clarify your comments about my segment size, since it looks like I have misinterpreted the spec.  From section 4.3, the spec says:

Which is where I've got the idea that a one-hour segment wouldn't be considered unusual.  Although I haven't yet im

[2018-07-30 21:03] TheModMaker commented on #1368
I am thinking that it will be too simplistic to throw a different error based on app vs key system restrictions.  There can be different variants that are restricted for different reasons and having different error codes would require us to pick which cases to favor and throw a not-so-accurate error message.

How about instead adding something to the `data` field of the error to indicate what the

[2018-07-30 21:16] TheModMaker commented on #1512
A single segment for the whole Representation is common for text streams since they are so small.  But having a single segment for video would be much larger.  I think DASH has a way to signal sub-segment info, but we don't support it.  We only support playing whole segments.

We do handle sidx parsing, but only for `<SegmentBase>`.  In this case, the manifest only specifies a byte range of the si

[2018-07-30 21:34] #1508 closed

[2018-07-30 21:35] srstrong commented on #1512
Ah, ok - so sidx isn't used in conjunction with subsegments but only for SegmentBase.  Taken another quick skim through the code, and can see that subsegments aren't used - my initial search was on sidx, and when I found that I assumed it was being used for subsegments without checking further.  Thanks for clarifying, I'll have a rethink as to how I'm structuring my manifest!  Out of interest, are

[2018-07-30 21:59] chrisfillmore commented on #1513
The duration is the duration of the content available. On inspection I see that `mediaPresentationDuration` is one segment length longer than the sum of all segments described in the manifest. We are using 6s segments. For example:

[code]

Generally, in each subsequent manifest request, `mediaPresentationDuration` is increased by 6.006s, and `S@r` is incremented by 1. Without doing a manifest upd

[2018-07-30 22:16] chrisfillmore commented on #1513
@TheModMaker My team did some troubleshooting on an identical issue in late January this year. At the time we were using Shaka v2.2.8 and I observed that the player was able to update the duration of an in-progress recording. However, I believe our headend services and content has changed since then. When I try to play this content with v2.2.8, it doesn't work, it stops at the recorded duration.

[2018-07-30 22:57] chrisfillmore commented on #1368
Here's what I think:

1. App-level restrictions which lead to no playable variants should result in a failed assertion with no error code. This is developer error IMO; clients should listen for the `streaming` event to set appropriate min/max bitrates and languages. Is there any reason this shouldn't work?
2. Missing keys and restricted output should have separate error codes. These error scenario

[2018-07-30 23:41] chrisfillmore commented on #1513
It seems it's easy to force to player to treat the IPR as live just by removing `mediaPresentationDuration` from the manifest, which I can do in a response filter. This allows the player to play past the initial recorded duration. I will keep testing to see what happens when the presentation ends.

[2018-07-31 02:08] warking commented on #1505
Got it.
Thank you.
It seems that chromecast has a lot work to do to catch up the modern high level codec stuffs

[2018-07-31 02:08] #1505 closed

[2018-07-31 04:35] sasank4git commented on #1511
Thank you for the information. We will try raising an issue with opera.
But the actual concern for us is that "few users have reported the issue is happening while using google chrome browser too",while we are unable to reproduce the issue on our end in chrome browser its happening with opera browser.

[2018-07-31 07:48] dmunozpolo commented on #1480
Hi,

My main concern is knowing when the issue for Shakaplayer being able to play FairPlay encrypted streams in Safari will be available.

I guess the issue is this one:  "Safari Fairplay MediaKeys Polyfill #382", am I right?

Could you help me with this?

Thanks.

[2018-07-31 14:25] avelad commented on #1392
The previous url is working again.

[2018-07-31 14:29] BucherTomas commented on #1511
@sasank4git  The exception complains about `audio decoder initialization failed`. The audio in your content has sampling frequency of 96000 Hz. I would say that this is the reason for the issues you are experiencing.
Resample the audio to more common 48000 or 44100 Hz and try again with Opera. Chrome likely has some internal resampling involved that takes care of this.

[2018-07-31 15:03] srstrong commented on #924
I'll add a +1 to this thread - we have essentially the exact same problem, in that we receive external streams that we need to transcode and package as dash streams.  They frequently have multiple audio tracks with the same language, and we have no additional metadata to determine semantic meaning such as 'main', 'dub' etc.  Right now, we are using the exact same numbered roles as a way to ensure

[2018-07-31 16:39] chrisfillmore commented on #1513
I see that if I just remove `mediaPresentationDuration` from the manifest, playback proceeds normally. When the recording ends, the stream is converted to VOD and playback ends as expected. This is a bit of a hack so I'd prefer to avoid doing this if possible.

How big is the change to add support for updating duration throughout playback? I'd be happy to add this functionality if I could be point

[2018-07-31 21:14] #1515 closed

[2018-07-31 23:03] TheModMaker commented on #1512
We could add support for subsegments, but it might be difficult.  We currently think only about segments, so it may be difficult to change to think about subsegments.  Although, we might be able to just use the same type for subsegments.

But what you can do is use a `<SegmentBase>` element for the first Period.  That would have us use the `sidx` box for the index.  Then you could still use `<Segm

[2018-07-31 23:21] vaage opened #1516 "Re-evaluate need For Destroyable.with"
The `Destroyable.with` function was a way to ensure that objects were destroyed regardless of success or failure. With ES6 we have the option to use try-finally which would offer this functionality. Now that there is an alternative, we should re-evaluate the need for `Destroyable.with`.

[2018-08-01 08:03] srstrong commented on #1512
Ok - I guess this relates a little to the conversation on #1503 - if subsegments aren't supported, then I suspect support for ssix is also likely to be difficult.  I'll try to have a dig through the code at some point - naively, I would think that a segment that included subsegment information then the index could be parsed and the segment just transformed from a single segment to a list of segmen

[2018-08-01 08:46] YingChen-dci opened #1517 "[QUESTION] Does Shaka player have SDK ?"
Hello,

I'd like know does Shaka Player have SDK for iOS/Android APP developing or not? Or Does Shaka player only for browser playback?

[2018-08-01 11:06] mjaddani commented on #1498
We have found a solution, it's to use the params <Location> on the manifest. If we don't do a redirect but we rewrite the manifest with a good <Location> params, it's work on every Browser Firefox, Chrome, Edge, IE11.

[2018-08-01 16:29] chrisfillmore commented on #1517
If you are asking about native app development, video playback on iOS is generally handled exclusively by Apple's AVPlayer using [HTTP Live Streaming (HLS)](https://developer.apple.com/streaming/).

If you want to play video in a browser on iOS, Shaka does not support this yet, but you can follow progress on #997. You can play streaming video in Safari on iOS [using The `<video>` element](https://

[2018-08-01 19:07] TheModMaker commented on #1517
Shaka Player only supports browser environments and environments where there is a JavaScript interpreter with the required types available (e.g. [MSE](https://w3c.github.io/media-source/)).  This can include smart TVs like the Tizen TV.  We do not support native apps since they aren't written in JavaScript (some frameworks allow you to write JavaScript, but they don't have MSE or other browser typ

[2018-08-02 09:54] YingChen-dci commented on #1517
I see.
Thank you very much for your information.

[2018-08-02 15:30] #1517 closed

[2018-08-02 17:07] TheModMaker opened #1518 "Use consistent array traversals"
We are very inconsistent with how we traverse an array.  We should look over the code and pick a consistent style for loops.  There will be exceptions where one method may be better than the others, but in general we should be consistent.  There are three options:

1. Using indexing with a "normal" for loop:
[code]

2. Use `forEach` method:
[code]

3. Use ES6 for-of loop:
[code]

Personally I vote

[2018-08-02 20:10] chrisfillmore opened #1519 "Usage parity of HTTP_ERROR in networking plugins"
I believe the usage of 1002 HTTP_ERROR is not exactly comparable between `HttpFetchPlugin` and `HttpXhrPlugin`. Specifically, I believe this check in `HttpFetchPlugin` is not correct:

[code]

If `HttpPluginUtils.makeResponse` (used earlier in the promise chain) threw a ReferenceError due to a typo during development, it would get caught and wrapped in HTTP_ERROR. The same could not happen in `Htt

[2018-08-02 20:59] TheModMaker commented on #1519
Sure, that sounds reasonable to me.  Note that I would also have that for the `arrayBuffer()` call to since that could fail.  It would also be much easier using async/await and a try/catch.  Do you want to send in a PR?

[2018-08-02 21:58] TheModMaker opened #1520 "Angel One HLS Widevine clip doesn't have byte ranges"
**What are the manifest and license server URIs?**:
`Angel One (HLS, MP4, multilingual, Widevine)`

**What did you do?**
Play the asset.

**What did you expect to happen?**
Stream normally; buffer progressively.

**What actually happened?**
Buffered the whole video at once.  It appears that the manifest doesn't specify any `#EXT-X-BYTERANGE` tags so Shaka Player requests the whole file.  The manif

[2018-08-03 16:14] chrisfillmore commented on #1519
@TheModMaker since networking plugins synchronously return an AbortableOperation, it seems it would not be possible to use async/await, since I need an explicit reference to the Promise to pass to AbortableOperation.

[2018-08-03 16:29] TheModMaker commented on #1519
What you could do is have a separate method that is async and uses await; then in the main plugin call that method and use the returned Promise.  But that would be a larger refactor, so you don't have to.

[code]

[2018-08-03 16:32] TheModMaker commented on #1511
@sasank4git Did you try changing the audio frequency?  Did it work?  Did you file a bug on Opera and could you provide a link?  Do you have any other questions?

[2018-08-03 16:36] TheModMaker commented on #1499
We can't really support that kind of content since the presentation time changes.  If you have any other questions, feel free to ask.  You can reopen this issue with a comment with `@shaka-bot reopen`.

[2018-08-03 16:36] #1499 closed

[2018-08-03 16:59] chrisfillmore commented on #1513
After some more reading of the spec, I think it's the content that is wrong. From ISO/IEC 23009-1:2014(E), 5.3.1.2 Semantics, Table 3:

This attribute shall be present when neither the attribute MPD@minimumUpdatePeriod nor the Period@duration of the last Period are present.

Also in IOP 4.2, section 4.6.4 Transition Phase between Live and On-Demand

I will close. Please label "Working as intended"

[2018-08-03 16:59] #1513 closed

[2018-08-03 17:46] chrisfillmore commented on #1519
Thanks for the tip, I will see what I can do.

[2018-08-03 18:28] NathanSass commented on #1460
Any updates on this? I would also like this for chaptering.

[2018-08-03 18:58] vaage opened #1521 "Stop Using Constructor Syntax for Factories"
This came out of a team meeting...

The generally accepted definition of a factory method is:

But in the Shaka Player code base, we often use factory methods as constructors ([example](https://github.com/google/shaka-player/blob/25392cd2ed81d2e50e630cc1900c38a4e6ec8e58/lib/offline/storage.js#L1061)).

To follow better practices, we would like to change conform to the generally accepted definition