[2021-08-20 23:54] #3585 closed

[2021-08-21 00:00] joeyparrish commented on #3530
Some properties can't be overwritten.  I can't do anything to investigate until Monday, but you can try some of the following:

 - overwrite the field on navigator.mediaCapabilities
 - overwrite navigator.mediaCapabilities itself
 - use Object.defineProperties instead of equals
 - use delete on the property before setting it
 - some combination of these

In my experience, you sometimes just have t

[2021-08-21 00:34] WINOFFRG opened #3591 "HTTP Fetch Plugin Error caused while fetching Manifest URL whereas the same thing works on Postman"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Please ask your question**
Hello, I am trying to play a MPD File using a license Server. But, As I request the **Manifest file** I see a

[2021-08-21 12:08] #1481 closed

[2021-08-21 23:06] #3470 closed

[2021-08-22 10:28] avelad commented on #3530
`navigator.mediaCapabilities = /** @type {!MediaCapabilities} */ ({});` produces `TypeError: Attempted to assign to readonly property.`
` delete navigator.mediaCapabilities.decodingInfo` does nothing.

[2021-08-23 05:06] #3539 closed

[2021-08-23 09:09] yvashar opened #3592 "TextDisplayer is undefined when we try to import shaka-player.ui.debug.js"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?** Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 2.5.10

**Please ask your question**

We use TextDisplayer by importing shaka-player.ui.js in our code. But for debugging purpose I tried importin

[2021-08-23 10:37] avelad commented on #3541
@joeyparrish With the commits linked to this issue, could it be closed?

[2021-08-23 11:44] theodab commented on #3592
In [this commit](https://github.com/google/shaka-player/commit/562168a1f6cae93f314b748f52e3398568b80bb5), which was part of v2.5.11, `shaka.ui.TextDisplayer` was renamed to `shaka.text.UITextDisplayer`.

So if `shaka.ui.TextDisplayer` exists in one version and not the other... maybe your compiled bundles are from different versions of Shaka Player, or something?

[2021-08-23 11:50] yvashar commented on #3592
But I don't see shaka.text.UITextDisplayer anywhere in the bundle. it is shaka.ui.TextDisplayer

[2021-08-23 11:55] theodab commented on #3581
Ah, I see, I had misunderstood you.

Well, we don't have any interface for loading individual media files from the stored manifests at the moment.
You could instead verify the checksums at download time by registering a response filter (see [the license wrapping tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-license-wrapping.html)), that intercepts the media files as they are be

[2021-08-23 12:23] sridhard opened #3593 "Firefox not supporting persistent licenses"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Shaka hosted demo

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
demo app

**If custom app, can you rep

[2021-08-23 12:38] theodab commented on #3577
The change that you highlighted causes us to prefer to go with the end time of the last segment, if available, rather than the duration provided in the manifest. If the output of `seekRange` has become significantly shorter, I suppose that means that some of the segments might be not being counted?

Just to be sure, if you access this variable (while loading the player in debug mode):
[code]
Does

[2021-08-23 14:49] jakubkrolikowski opened #3594 "Recover player after HTTP_ERROR"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.1.x

**Please ask your question**
When the Shaka player cannot connect to the media server on fetching new data, even for a very short time, the

[2021-08-23 15:10] jakubkrolikowski commented on #3594
OK, I think I found a proper combination of settings. I have significantly increased "maxAttempts" setting.

Could you please explain the difference between "timeout" and "connectionTimeout" settings?
20 seconds for timeout isn't too short?
My current configuration:

[code]

[2021-08-23 16:22] #3443 closed

[2021-08-23 16:50] ScripterYoda opened #3595 "Changing manifest URI when initializating cast app"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom

**What did you do?**
I want to have possib

[2021-08-23 16:52] TheModMaker commented on #3593
According to our [support check page](https://shaka-player-demo.appspot.com/support.html), Firefox (91 on Windows) doesn't support persistent licenses.   This is probably a bug in Firefox, or they have removed support for it.  We'll look into it.

[2021-08-23 17:00] #3269 closed

[2021-08-23 17:13] TheModMaker commented on #3529
The license server is giving me a 401 `not authorized` error when I try.  I think the problem is around [here](https://github.com/google/shaka-player/blob/d5769eeda47524998a714a3d701604561d761b6d/lib/player.js#L5644), where we require all the keys to be available.  It is possible we don't load all the keys for future Periods, so it shouldn't be restricted yet.

[2021-08-23 18:57] joeyparrish commented on #3593
Last I heard, Mozilla had decided not to support persistent licenses for some reason.  So I believe this is intentional on their part, and that there is nothing we can do about it here other than advocate for them to change their policy.

[2021-08-23 18:58] joeyparrish commented on #3593
You can file an issue here and ask for their position: https://bugzilla.mozilla.org/

If you do, please link back to it here so we can follow along or participate if needed.  Thanks!

[2021-08-23 18:58] #3593 closed

[2021-08-23 20:08] TheModMaker commented on #3564
I cannot reproduce with the demo page on Windows.  I tried loading the manifest a second time in the demo and it works fine.
 Please provide a link to a page that can reproduce the error.  Also if you can try on Mac or Windows too, that would help.

[2021-08-23 20:19] TheModMaker commented on #3592
Could you provide a sample page for this?  Looking at the stack trace would also help as this could be a problem with variables being renamed in the compiled bundle.

[2021-08-23 20:25] TheModMaker commented on #3550
We may be ignoring the `defaultBandwidthEstimate` value if the browser has an API that lets us query the real bandwidth.  One way to do this is to set  the `abr.restrictions` object.  This is a restrictions object that doesn't fail if we can't match anything.  If you set the restrictions to something impossible, we'll pick the lowest bandwidth stream.  Once playback starts, you can set them back t

[2021-08-24 00:12] joeyparrish opened #3596 "Support PlayReady CustomData field"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes, and there is an old one that I'm reviving: https://github.com/google/shaka-player/issues/581  (Tagging original requester @AndCycle here JFYI)

**Is your feature request related to a problem? Please describe.**

Partners would like to use the [`CustomData` field of the PlayReady license request](https:

[2021-08-24 04:09] joeyparrish commented on #3594
`connectionTimeout` is for establishing the HTTP connection, not counting the request and response time.

`timeout` is for entire transfer.

As for recovery, there is a streaming error callback you can use.  See https://shaka-player-demo.appspot.com/docs/api/shaka.extern.html#.StreamingConfiguration and use `streaming.failureCallback`.

But that description is a bit lacking.  We should add more de

[2021-08-24 04:45] bhushanudupa commented on #3564
@TheModMaker
I have tried it in Ubuntu. I don't have any other OS. I will try to install it and give it a try.
Thanks for your response.

[2021-08-24 08:28] hiren3897 opened #3597 "Add chapter marks in the seek bar"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
latest

**Please ask your question**
I want to edit the `shaka-range-container` CSS is it possible to do so?

I tried to edit it but it picks the

[2021-08-24 09:28] hiren3897 commented on #3371
The thumbnail is supported only with the manifest videos and not with the VOD links?

[2021-08-24 09:40] jakubkrolikowski commented on #3594
Great! Thank you, I missed this feature, it's very useful!

[2021-08-24 09:40] #3594 closed

[2021-08-24 09:59] avelad commented on #3371
Right now it is only supported on HLS and DASH. I have seen that there are some players that support a special WebVTT track with thumbnails, if you want support for this, please open a new enhancement type issue.

More info in:
https://support.jwplayer.com/articles/how-to-add-preview-thumbnails
https://flowplayer.com/developers/plugins/thumbnails
https://developer.akamai.com/tools/AdaptiveMediaPla

[2021-08-24 15:18] Beraliv commented on #3582
@MilosRasic  Based on what Sony wrote last year, probably that's not enough to make it working

First, we checked it for [shaka-player@3.2.0](https://github.com/google/shaka-player/releases/tag/v3.2.0) but it wasn't working because of `MediaCapabilities.decodingInfo` which is incorrectly polyfilled.

Then we switched to [shaka-player@3.1.1](https://github.com/google/shaka-player/releases/tag/v3.1.

[2021-08-24 17:51] TheModMaker commented on #3430
Can you post a link to the content?  Just the manifest text isn't enough to debug.  Does that error happen on desktop too?  The manifest you posted above gives me a 403 error.

Also note that we don't support PNG subtitles with VTT, only TTML.  I'm not sure how you would do it in VTT, so we can look at your content to see if this is something we can add.

[2021-08-24 17:56] TheModMaker commented on #3400
Closing due to inactivity. If this is still an issue for you or if you have further questions, you can ask us to reopen or have the bot reopen it by including `@shaka-bot reopen` in a comment.

[2021-08-24 17:56] #3400 closed

[2021-08-24 17:57] #3481 closed

[2021-08-24 18:15] pedrosilvabos commented on #3430
HI @TheModMaker I can, but it has limited time due to token (expires in a hour it shoud explain the 403 you got)
And thank you for you help!

manifesturi:

https://ctsr525679amd-theplatform.akamaized.net/video/Telecine_-_Production/464/316/1498293_1553628169496.mpd?hdnts=st=1629828711~exp=1629829041~acl=/Telecine_-_Production/464/316/*~hmac=61ae227b3831b045682a8c159947b98cb2a532ae1c9e7a075de996e0e

[2021-08-24 19:22] TheModMaker commented on #3430
It looks like your VTT content has invalid tags.  It looks like `Foo <i>Bar</i></i>`.  We could make our parser more resilient for that kind of content.

[2021-08-24 20:02] pedrosilvabos commented on #3430
@TheModMaker Thank you for you help, I will pass that info to my Team Leader so he can pass it on to someone. On the meanwhile, is there anything I can do?
Thank you again!

[2021-08-25 10:27] bmaniar opened #3598 "Fairplay content not playing on 3.2.0 but works on 3.1.2"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom App

**If custom app, can you reproduce the

[2021-08-25 10:32] avelad commented on #3598
Duplicate of https://github.com/google/shaka-player/issues/3530

[2021-08-25 11:14] Puritanic commented on #3046
FYI, I've also tried playing with the default configuration instead of the one above, and the issue persists. After digging some more through issues, Sometimes, the content starts playing after some time, but I could not reproduce this consistently. Looks like the there is lot of calls to switch after the shape player loads the content:

[code]

In the log above, the playback started after 6 minut

[2021-08-25 14:17] hiren3897 commented on #3371
How do you calculate the position of the mousemove on seek bar?

[2021-08-25 14:54] hiren3897 opened #3599 "How to integrate Shaka Player with an `iframe`"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
Latest v3.2

**Please ask your question**
Is there a possibility to integrate shaka-player in an iframe?

If yes can anyone give me some examples

[2021-08-25 14:58] amfio commented on #3596
@joeyparrish by default I **think** the `CustomData` needs to be added to the license request by the CDM as they generate a checksum based on its value so the request will fail if we add it in Shaka.

I think Edge (and therefore presumably Xbox) has a non-spec EME implementation that allows you to pass the value in so that the CDM can to the appending (`MediaKeys.CreateSession( type, initData, cdm

[2021-08-25 16:26] WINOFFRG commented on #3591
Just found this somewhere, Is this prefetch issue? I'm not sure of it. But read something similar on SOF. Can anyone please help on this?

[2021-08-25 23:04] jakubkrolikowski opened #3600 "VTT subtitle with "line:X%" wrong horizontal aligment"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.1.12, 3.2.0

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
custom

**If custom app, can you reproduce

[2021-08-28 01:05] WINOFFRG commented on #3591
Hello @joeyparrish ! Sorry for intended tag. But could you please provide me an update on this? An early response would help a lot :)

[2021-08-29 09:12] rhyswilliamsza commented on #3552
Hello!

I am experiencing the same bug. I've done a bit of investigating, and noticed a few things about affected cues:

1. Frequently, this bug occurs when the endTime of the previous cue is equal to the startTime of the next cue. Perhaps a race condition is present in the chrome rendering library which doesn't re-render the dom if the insertion/deletion happens too quickly in succession?
2. This

[2021-08-29 09:41] denissabramovs opened #3603 "Mixing different sources"
I was looking for a way to mix two video sources.
One live source, h.264 video binary stream coming from websockets connection as chunks.
Another HLS video archive, served over HTTP.
The idea was to load HLS playlist, but when play is pressed, to start playing video from live source (i.e. websockets connection), but when user is requesting video part from the past/archive, then it will switch to H

[2021-08-29 10:05] kocoten1992 commented on #3552
I'd love to hear more about your experiment!

[2021-08-29 12:44] chongjunhong commented on #3079
yes, I am interested

[2021-08-29 13:25] joeyparrish commented on #3079
Thanks!

[2021-08-30 13:21] sekharnadiminti opened #3604 "1002 error while trying to play remote mpd file"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=http://40.71.18.239/final.mpd;panel=CUSTOM%20CONTENT;build=compiled

**What version of Shaka Player are you using?**
v3.2.0

**What browser and OS are you using?**
Mozil

[2021-08-30 13:46] chongjunhong commented on #3079
No problem! Excited for my first PR.

[2021-08-30 13:48] chongjunhong commented on #3079
Please let me know if the implementation aligns with your expectation

[2021-08-30 13:56] gukiboy opened #3606 "HDCP error appears in all other browsers but Safari"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.1

**Please ask your question**
Hello!
Is there a difference for HDCP error message in Shaka for Fairplay (Safari + MacOs) vs Widevine? I want

[2021-08-30 14:58] hiren3897 commented on #3597
Yes, you are right I created chapters my way ^^

Yes, we can transparent the seek bar "base" and "buffered" and keep the "played" to red color.

I tried to append my chapters in the `shaka-seek-bar-container` but a good CSS is required to be overlayed on the seek-bar and also it should be capable to listen chapters click and a seek-bar (input) click event. In short same as youtube does ^^

But I a

[2021-08-30 16:42] TheModMaker commented on #3604
If you look at the [FAQ](https://github.com/google/shaka-player/blob/master/docs/tutorials/faq.md), you'll see this:

info.  This is usually a CORS error, which means you need particular
headers in the response.  Additionally, with some manifests, we will send a
`Range` header.  This will require explicit approval through the CORS header
`Access-Control-Allow-Headers`.

`https:`, then your manifes

[2021-08-30 17:15] hiren3897 opened #3607 "A correct way to `.ts` content in shaka-player?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes #2683 #3407

**What version of Shaka Player are you using?**
Latest v3.2

**Please ask your question**
We tried to play .ts content in the player but we got an error of  4032

I have already learn

[2021-08-30 20:46] caridley opened #3608 "MEDIA.BUFFER_READ_OUT_OF_BOUNDS error when CEA caption packets are empty"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.2
the problem does not occur with Shaka 2.5.22

**Can you reproduce the issue with our latest release version?**
Have not tested but quite certain that the problem will occur since it occurs with 3.1.2 and current master.

**Can you reproduce the issu

[2021-08-30 21:20] caridley commented on #3608
Here is an example of a video segment that has this problem

https://user-images.githubusercontent.com/8808113/131407069-4a1ea120-0774-42dc-8edd-de471f4eee99.mp4

[2021-08-30 21:22] caridley commented on #3608
Here is an sample video segment that exhibits this problem
[bad_captions_video_segment.mp4.zip](https://github.com/google/shaka-player/files/7079675/bad_captions_video_segment.mp4.zip)

[2021-08-31 03:25] kocoten1992 commented on #3597
I see your dilemma, either create from scratch seekbar with your functionality or a custom element and link it with current seekbar right ?

Since you already create your element, maybe just go with that, if I was doing it, my strategy would be:
1. Expose an api for the communication between them.
2. When user click on chapter it will notify seekbar (or the otherway around).

For example: there is

[2021-08-31 08:21] avelad commented on #3502
I think the PR https://github.com/google/shaka-player/pull/3610 fixes this!  (@enson-choy)

[2021-08-31 11:34] kumarashu123 opened #3612 "tts:textOutline style is not applied to the subtitle"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
2.5.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom App

**If custom app, can you reproduce th

[2021-08-31 11:53] discover-mohit opened #3613 "Missing TimeLineRegionEnter event"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
I am missing timelineregionenter event for few ads in a adbreak this is very random and I am unable to find a

[2021-08-31 11:55] avelad commented on #3612
`tts: textOutline` does not yet support the TTML parser https://github.com/google/shaka-player/blob/master/lib/text/ttml_text_parser.js.

[2021-08-31 15:01] sekharnadiminti commented on #3604
Thank you for the clarification

[2021-08-31 15:01] #3604 closed

[2021-08-31 18:30] ronak2121 opened #3614 "Electron/NodeJS App: Swap out IndexedDB with pure disk storage"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes; this is a related thread: https://github.com/google/shaka-player/issues/1005

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
I have a usecase (in an Electron

[2021-09-01 08:05] ikpark-transbox opened #3615 "demo error on samsung phone android 11 chrome browser"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=ko;textlang=ko;videoRobustness=HW_SECURE_ALL;uilang=ko;asset=https://storage.googleapis.com/shaka-demo-assets/angel-one-widevine/dash.mpd;panel=ALL_CONTENT;panelData=drm:WIDEVINE,MP4;build=uncompiled

**Wh

[2021-09-01 08:28] baehongjun0212 opened #3616 "Web audio questions in safari"
Have you read the Tutorials?
Yes

Have you read the FAQ and checked for duplicate open issues?
Yes; #2595  #3484 #3563

What version of Shaka Player are you using?
3.2.0

Please ask your question
The sound of the video was visualized as a canvas using sample code from #2595. But in safari, they don't draw anything on the canvas. How can we solve this?
![스크린샷 2021-09-01 오후 5 16 06](https://

[2021-09-01 11:57] yzalazni opened #3618 "Get video and audio samples"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
Is there an option to  parse a dash manifest and get the video & audio samples back to the application instead

[2021-09-01 15:18] wilaw opened #3619 "Enable Common Media Client Data (CMCD) support in Shaka player"
CMCD is a new standard that allows player clients to exchange mutually beneficial data with the CDN to allow the CDN to improve delivery performance and the publisher to retrieve real-time data about the health of their player population. It uses the media requests as the vehicle for transmitting the data. The [specification ](https://cdn.cta.tech/cta/media/media/resources/standards/pdfs/cta-5004-

[2021-09-01 23:24] pedrosilvabos commented on #3430
@TheModMaker
Hi again, would it be possible to manipulate the vtt file in the manifest to correct the errors and then pass it up to the player ?
I can access it here:
![image](https://user-images.githubusercontent.com/22446580/131757864-e6898677-bd02-4576-a07d-48ff1138e820.png)

these are the ones causing problems:
![image](https://user-images.githubusercontent.com/22446580/131758050-f46c5470-7d40

[2021-09-02 10:46] pedrosilvabos opened #3620 ""mimeType": "application/mp4", subtitles"
Have you read the Tutorials?
YES

Have you read the FAQ and checked for duplicate open issues?
YES

What version of Shaka Player are you using?
3.0.10

Hello @TheModMaker  @joeyparrish
we have some content that has a different kind of subtitles.
I have tried this content in the demo shaka player with custom content, and it works and the subtitles show, so its clear shaka player supports these kind

[2021-09-02 14:36] msavvik commented on #3590
ShakaPlayer 3.1+ https://github.com/google/shaka-player/releases/tag/v3.1.0 starts to use MediaCapabilities API
https://developer.mozilla.org/en-US/docs/Web/API/Media_Capabilities_API

Based on chromium versions in Tizen TVs
https://developer.samsung.com/smarttv/develop/specifications/web-engine-specifications.html
support for MediaCapabilities should in 2020+ devices.

[2021-09-02 16:50] anuj-aj opened #3621 "Play video file stored locally (not a manifest uri)"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.0.10

**Please ask your question**
Hi Folks!
I am trying to play a video file stored locally on my system. I am curious to know whether it is po

[2021-09-02 16:56] TheModMaker commented on #3430
You could write a response filter.  You can see the [license wrapping tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-license-wrapping.html) for some basic info.  You can basically just replace the data before we see it:

[code]

[2021-09-03 00:27] #3620 closed

[2021-09-03 09:59] pedrosilvabos commented on #3430
@TheModMaker I owe you a beer!!!!!!
This is so awesome! I can now fix these broken subtitles!!!
Thank you

[2021-09-03 12:16] francoism90 opened #3622 "Player does not wait for vue element"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Yes

**If custom app, can you reproduce the issue

[2021-09-03 14:12] joeyparrish commented on #3619
Thanks, Will!  No objections here.  I appreciate your detailed requirements.

We would be happy to work with contributors on a plan for this and review PRs.  The core team is currently occupied, though, so I can't promise any specific timeline in which we could implement this ourselves.

[2021-09-03 20:36] #3592 closed

[2021-09-03 20:36] #3550 closed

[2021-09-03 21:36] ningl2 commented on #1308
@joeyparrish what is the status of EXT-X-GAP support in Shaka? How does Shaka deal with mismatched discontinuities from audio/video tracks signaled by EXT-X-DISCONTINUITY otherwise?

[2021-09-03 22:22] michellezhuogg commented on #1308
Hello @ningl2 ,

It's not implemented in Shaka Player yet. We welcome contributions from the community! Thank you!

[2021-09-04 00:48] gregmsanderson commented on #3607
Yes, that's right. You need to include mux.js separately since most browsers won't natively play HLS using .ts.

Include that script _before_ Shaka player (though seeing this https://github.com/google/shaka-player/commit/02a0fbfe109d523e32e2376cc0e1eadd88e55914) the order _shouldn't_ matter. But I've continued to load mux.js first, given you previously had to).

You can get mux.js from a CDN like

[2021-09-04 07:02] meryacine commented on #1308
@ningl2 Do you mean that an `EXT-X-DISCONTINUITY` might cause tracks miss-alignment.  If so, why would that happen, and how does an `EXT-X-GAP` fix this miss-alignment?

[2021-09-04 10:08] Ansh-Sarkar commented on #3594
Hi ! I downloaded and built the files today itself and ran into the same problem . I was checking out the code given in the Tutorials under the [Basic Usage](https://shaka-player-demo.appspot.com/docs/api/tutorial-basic-usage.html) Section. Upon encountering the problem and viewing the above mentioned solution I tried to use `player.retryStreaming()` in the following manner :
[code]

And I still r

[2021-09-04 18:42] TheModMaker commented on #3594
If `load` fails, you need to call it again.  `retryStreaming` is only for errors that happen after playback has started.  So this only makes sense in `error` events.

[code]

[2021-09-05 15:49] ssaguiar opened #3623 "How can I disable the bottom controls background fade in?"
Hi.

I have disabled all controls in the player screen so I can control it using the remote control of the smart tv (Samsung Tizen).
The problem is that the player's bottom controls background still fade in when we move the mouse over the player's screen.
The mouse will be eventually used in TV by connecting a usb wireless mouse.

I searched for a way to disable this bottom controls background but

[2021-09-05 16:29] adgllorente commented on #3550
@TheModMaker thanks for the information. We’ve tried to use restrictions and it has worked as expected.

[2021-09-05 22:36] #3581 closed

[2021-09-06 04:49] Ansh-Sarkar commented on #3594
Oh ! Ok . Got it . Will try this out and then update the docs for the `retryStreaming( )` function . Thank You for the help

[2021-09-06 06:52] #3591 closed

[2021-09-06 15:22] smnmmnn commented on #3580
Same problem here. I tried various packaging configurations with AWS MediaConvert, but always results in 4030 error.
Somewhat related: [google/ExoPlayer #5039](https://github.com/google/ExoPlayer/issues/5039)

[2021-09-06 15:30] happylinks commented on #3580
Yeah, as a tmp fix I switch to HLS.js for the audio only streams I have, but it's not ideal.

[2021-09-07 11:19] #3621 closed

[2021-09-07 11:20] anuj-aj commented on #3621
It turns out that videoElement can also play video using video file object as a string passed as the src attribute of the video

[2021-09-07 13:47] makisp opened #3624 "WebOS multiple Updating manifest... on player start"
[WebOS - First run.txt](https://github.com/google/shaka-player/files/7121998/WebOS.-.First.run.txt)
[Tizen - First run.txt](https://github.com/google/shaka-player/files/7121999/Tizen.-.First.run.txt)

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Shaka 3.2 debug

**Can you reproduce the issue with ou

[2021-09-07 15:40] ronak2121 commented on #3614
Hi, is there any update on this?

[2021-09-07 17:29] ningl2 commented on #1308
Sorry I wasn't clear. Sometimes a contribution feed may be missing parts of audio or video at different times in the stream. HLS spec requires that all EXT-X-DISCONTINUITY tags are aligned across all renditions and variants. This means that we are forced to drop audio/video if the other track is missing data.  The fix for this, the suggestion from Apple is to use EXT-X-GAP in this situation, but l

[2021-09-08 05:13] gscragg commented on #3529
Apologies, content license had expired. I have fixed it now. You can see the 4012 error in the console, but the content is still playable.

[2021-09-08 06:01] avelad commented on #879
@theodab I have seen that with the latest changes all the initialization segments will be downloaded, even of qualities that are not going to be downloaded, is it intentionally?

[2021-09-09 00:13] theodab commented on #879
@avelad What assets are you seeing that happen on?

I tried downloading `Angel One (multicodec, multilingual, Widevine)` on both nightly and `v3.2.0`, and they seem to be downloading the same set of segments.
137 network requests, 35 items stored in the segment DB, manifest size reported as 8224778 in the DB... it all matches up.

[2021-09-09 05:40] avelad commented on #879
@theodab I have recorded a video, but it is too big to attach here, I have mailed it to you.

[2021-09-09 13:07] Ansh-Sarkar commented on #3594
Yup . Thank you for the suggestion @TheModMaker . This code works . It retrys loading the `manifestUri` every 5 seconds . The player no longer needs to be reloaded after every failure .

[code]

[2021-09-09 13:11] Ansh-Sarkar commented on #3594
Also do you think it would be a good idea to modify the documentation for the `retryStreaming( )` function ? I think mentioning the difference between , when to use `retryStreaming( )` and when to use the `load( )` function could help future developers getting started more smoothly . Kindly provide your suggestions as to whether this should be done .

Thank You

[2021-09-09 13:33] msavvik commented on #3589
It'd seems workarounds are not expecting box other then avc1
https://github.com/google/shaka-player/blob/aded252e40445f4c65565932fb400b35d9a18e59/lib/media/content_workarounds.js#L91

All video content in mpd is avc3
https://otvplayer.nagra.com/demo/content/bbc/bbc_segmented_snaking_subtitle/dash/ondemand/elephants_dream/1/client_manifest-snake.mpd

[2021-09-09 15:38] joeyparrish commented on #3589
@msavvik, can you send a PR to handle avc3 and its encrypted equivalent?

[2021-09-09 15:43] joeyparrish commented on #3594
Yes, we should improve the docs.  This issue is being kept open to track docs improvements.  Here are my suggestions:

1. failureCallback should explain how it works (received error object, callback makes decision) and point to retryStreaming docs
2. retryStreaming should explain when and how to use it (and when not to use it, such as when load() fails)

[2021-09-09 16:44] #3502 closed

[2021-09-09 16:50] avelad commented on #3530
I have not found a solution to this. @joeyparrish , can you see if you find it?

[2021-09-09 17:55] Ansh-Sarkar commented on #3594
Yes . Agree with both the points . Especially the second one . I was trying to call `retryStreaming( )` everytime `load( )` was failing . I would like to make the necessary changes and contribute to the documentation . Will notify once the necessary changes have been made so that they can be reviewed and corrected if required . Really appreciate the suggestions .

Thank You

[2021-09-09 18:02] #3534 closed

[2021-09-09 19:05] theodab commented on #879
We load the init segments so that we can create the segment index for those variants; that asset uses `SegmentBase`, so we need to see the `sidx` box from the init segment. It's part of the initial process of loading the manifest, so it happens before we choose which video stream we want to store.

It's not a new behavior. For example, I loaded that same asset you showed in `v3.1.3` and the same n

[2021-09-09 19:07] #3608 closed

[2021-09-10 06:34] david-hm-morgan commented on #3589
Well spotted @msavvik - thanks!
I'll create a PR targetting this.

[2021-09-10 16:13] #3589 closed

[2021-09-10 19:12] Ben-Chapman opened #3626 "How to skip around video with defined timecodes not using player.load()"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
Given a valid timecode for a video, is there a more efficient way to seek to that timecode without a call to `

[2021-09-10 19:15] joeyparrish commented on #3626
Seeking is done through the video element API:

[code]

See also: https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/currentTime

Does this help?

[2021-09-10 19:27] Ben-Chapman commented on #3626
Aha! This very much helps, and works perfectly. Thanks @joeyparrish .

[2021-09-10 19:30] joeyparrish commented on #3626
Happy to help!

[2021-09-10 19:30] #3626 closed

[2021-09-10 20:54] jhemby-cbsi opened #3627 "[ViacomCBS] [XBox] - Shaka Player DRM Key Per Track Playback Errors"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes, there are no duplicate open issues

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes, latest version in Prod

**Can you reproduce the issue with the latest code from `master`?**
Not tested

**Are you using the demo app or your o

[2021-09-10 21:04] dsparacio commented on #3627
@ jhemby-cbsi. Thanks for filing this on behalf of our teams.
@joeyparrish and team,  We also engaged with Chromecast on this issue. They did some research and found possible Shaka related issues for that device. You may hear something internally around that.

Our content is work really well on all other HTML in Shaka 3.2 including on Samsung and other STV platforms.

At first I thought it was rel

[2021-09-12 08:22] OrenMe commented on #3567
Hi, any chance for someone to take a look?

[2021-09-12 19:52] WINOFFRG opened #3628 "Player doesn't make the 2nd round trip to License Server to get the License key when connected to Proxy Server."
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
I am trying to stream a DRM Protected stream on `localhost` player. First I added the actual `licenseServer` U

[2021-09-12 21:31] WINOFFRG commented on #3628
Just realized that my data type is wrong. Actual response which should be `application/octet` a buffer stream, It gets converted to `UTF-8` Encoding. So, What can I do to prevent it from getting converted. I am using Axios to get/send response.

[2021-09-12 22:38] WINOFFRG commented on #3628
Solved: Used the Node.js `body-parser` plugin with below options.
[code]

[2021-09-12 22:38] #3628 closed

[2021-09-13 04:45] WINOFFRG opened #3629 "Issue with code while creating a License Proxy Server!"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
Hello, I am trying to create a License Proxy Server using NodeJS. What I am trying to do is to accept the inco

[2021-09-13 05:56] wongfei2009 commented on #3502
Cool - indeed, this pull request is contributed by my colleague per my
request ;)

On Tue, 31 Aug 2021 at 4:21 PM, Álvaro Velad Galván <
***@***.***> wrote:

[2021-09-13 09:21] yairans commented on #3571
Hi, any chance for someone to take a look?

[2021-09-13 10:17] guilleccc opened #3630 "[Tizen] Player freezes after first ad break using SSAI on live HLS"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.0.10. I also reproduced it on 3.1.1 and 3.2.0 (demo app)

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app

[2021-09-13 12:07] msavvik commented on #3589
Will be able to submit PRs once I've cleared it with my organization. In
progress.

czw., 9 wrz 2021 o 17:38 Joey Parrish ***@***.***> napisał(a):

[2021-09-13 12:28] xoundboy commented on #3575
Hi again. I'm wondering whether anyone has had chance to take a look into this issue yet? It's been a few weeks since I posted it.

One other thing I noticed since I posted this issue is that the codecs used by Mediatailor for ads are not all the same across the varous bitrate representations. I suspect that this might be triggering the 4037 error. See screenshot below:

![DevTools_-_benroberts_eu

[2021-09-13 16:56] joeyparrish commented on #3575
The hex part of the codec string represents the level, profile, etc of the h264 codec.  It is normal for this to vary across Representations, since they are encoded differently, and each level and profile has certain maximum framerates, resolutions, etc.

Error 4037 is PERIOD_FLATTENING_FAILED [according to the docs](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:4037).

[2021-09-13 16:58] joeyparrish commented on #3589
@msavvik, we closed this issue with a PR from @david-hm-morgan.  Please see #3625.  But if you want to get permissions from your organization for other contributions in the future, we are always happy to have more people involved.  Thanks!

[2021-09-13 18:02] joeyparrish commented on #2615
I'm going to close this in favor of #2337 (direct support of raw AAC and other containerless formats), which is on our roadmap for the near term.

[2021-09-13 18:02] #2615 closed

[2021-09-13 18:04] #1788 closed

[2021-09-13 18:04] joeyparrish commented on #1788
This issue has gotten stale.  I'm not aware of this as a current issue.

[2021-09-13 18:47] joeyparrish commented on #3363
This will be solved when #2337 is solved.

This is tracked in #1936.

I'm going to close this issue as redundant.

[2021-09-13 18:47] #3363 closed

[2021-09-13 18:56] joeyparrish commented on #3571
I see your point.  The start is based on the end, which is not correct in this case.  We would be happy to accept a PR if you want to attempt a fix.

[2021-09-13 23:56] theodab commented on #3623
Well, you could override the CSS for that element, to make it have no background:
[code]

If that solution won't work for you, or if you don't like how the controls bar continues to fade in and out invisibly, it'd also be possible for us to make a UI configuration value to keep the UI from fading in.

[2021-09-14 04:53] caridley opened #3632 "live dash streams stopped working with shaka but continue to work for other dash players"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.22

**Can you reproduce the issue with our latest release version?**
yes 3.1.2, 3.2.0

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
custom app

**If custom app, can you

[2021-09-14 15:37] joeyparrish commented on #3632
Can you please clarify what platforms are affected?  You mentioned both Tizen TV and Chrome on macOS.

[2021-09-14 15:56] #3623 closed

[2021-09-14 16:31] caridley commented on #3632
We have observed the problem with both Chrome and Tizen TVs. We suspect that it happens on all platforms.

Unfortunately the current incarnation of the problem has resolved, and we are unable to test on other platforms.

This information in the palyer-metrics.json file caught my attention. Notice that mediaElement.currentTime is near start of the buffered text, but the buffer audio and video range

[2021-09-14 17:22] pcruiksh opened #3634 "Error thrown in CEA 708 window when indicated row count in packet is 15"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reproduce the iss

[2021-09-14 17:43] theodab commented on #3612
According to the w3g's [wiki](https://www.w3.org/wiki/TimedText/CSSRequirements#textOutline), this property is being deprecated, due to the corresponding CSS property not being supported by browsers.
Despite that, thougn, we could replicate most of the `tts:textOutline` property using the non-standard `-webkit-text-stroke-width` and `-webkit-text-stroke-color` properties.
We would be unable to rep

[2021-09-14 21:20] #3612 closed

[2021-09-14 22:38] ronak2121 commented on #3614
Pinging for a comment?

[2021-09-15 00:12] joeyparrish commented on #3614
Hi @ronak2121,

There is an abstraction interface, but we never made it "official" or built non-IDB-based plugins for that.  You can certainly build your own storage mechanism on top of that interface, though, in a fork, and we would be happy to advise as you make progress.

I'm not sure we want to own a special implementation for Electron, but if you're willing to maintain it, and it doesn't brea

[2021-09-15 01:03] ronak2121 commented on #3614
Yes. Is the abstraction interface the same one that I quoted above? Do we largely just have to implement the interface using our disk storage solution? If so, then it looks like a clean place for us to own our extension, without making any changes to your codebase, reducing the amount of maintenance on our end.

We'll see if we see a need to publicly submit a PR vs keeping this internal to us at a

[2021-09-15 08:05] ashish157 opened #3635 "Unable to play asset live-profile-and-key-rotation-cbcs from shaka-packager"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.0-pre

**Please ask your question**
I have locally hosted shaka-player in apache2 on Ubuntu 18.04. I'm trying to play the asset: https://githu

[2021-09-15 12:58] avelad commented on #3634
@pcruiksh Do you have a stream with the error?

[2021-09-15 16:59] pcruiksh commented on #3634
@avelad I am following up with our content team to see if I can get a piece of content in the clear, and to see if I am actually allowed to share any of our content in the first place. May I ask if content sent to shaka-player-issues@google.com is only distributed within google?

[2021-09-15 17:15] avelad commented on #3634
I am not a member of the ShakaPlayer team, I just wanted to help solve this problem faster. If you send it to that mailing list, as far as I know, only the ShakaPlayer team (no one else from google) has access.

[2021-09-15 17:18] avelad commented on #3634
@joeyparrish Can you confirm what I have put about the mailing list?

[2021-09-15 17:34] theodab commented on #3634
That is correct. The group is configured so that only the members of the group (e.g. the Shaka Player team) can view the messages within it.

[2021-09-15 19:30] agajassi opened #3636 "[ViacomCBS] - 4001 Error with Dash Manifests on Xbox"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes I have read it

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes I've read FAQ and couldn't find relevant question. Also looked for duplicate open issues and didn't see any.

**What version of Shaka Player are you using?**
3.2.0

**Please ask yo

[2021-09-15 19:36] agajassi commented on #3627
@dsparacio @joeyparrish

This particular error is related to this issue I filed.
https://github.com/google/shaka-player/issues/3636

However regardless of the above ticket, key per track DRM on Xbobx still doesn't appear to work. It was also tested on earlier version of Shaka player that doesn't exhibit the 4001 error.

@dsparacio just like you predicted, yes 4001 error is not related to key per t

[2021-09-15 20:07] joeyparrish commented on #3636
This is not a known issue, but we use the browser's built-in DOM parser to parse XML.  Either the platform won't parse the XML, or there is another exception being caught in the same code snippet as the parsing.

I don't have debugger access on an Xbox, but I can use our test runner to run automated snippets on the device and see what happens.  I will try parsing this manifest's content directly i

[2021-09-15 20:08] joeyparrish commented on #3627
I'm going to close this as a duplicate of #3636 and continue the investigation there using the public DASH content in that issue.  Thanks!

[2021-09-15 20:32] joeyparrish commented on #3636
Via our test runner, I tried all of the following:

1. Downloading the manifest content and parsing it through DOMParser
2. Downloading the manifest content and parsing it through our XmlUtils abstraction that normally wraps DOMParser in our codebase
3. Passing the manifest URI to the complete DASH parser

All of these worked and successfully parsed the manifest on my Xbox One device.  The only di

[2021-09-15 20:37] joeyparrish commented on #3636
Wait, I found it.  I overlooked something in my previous tests.

The difference is that this MPD has a lowercase `<mpd>` element at its root, and we do a case-sensitive comparison checking the name of the root element (expecting `<MPD>`).  We have a provision that treats a mismatch on the root element as a parsing failure.

[2021-09-15 20:48] joeyparrish commented on #3636
No, I take it back.  In this content, **all** tags are lowercase.  It would take a lot of mess all over the DASH parser to tolerate this.

I'm going to label this as "bad content".  Please correct the generation of this manifest.

[2021-09-15 20:50] joeyparrish commented on #3627
I found the root cause of #3636 (bad content), and it doesn't explain this issue at all.  So I'm reopening this one and removing the "duplicate" label.

[2021-09-15 20:59] joeyparrish commented on #3636
We're all going to get whiplash here.  The debugger was printing the XML element objects in lowercase, even though the source isn't.

So... no idea what's wrong yet.  😢

[2021-09-15 21:12] #3580 closed

[2021-09-15 22:50] joeyparrish commented on #3636
After correcting bugs in my test code, I am unable to reproduce this error on my Xbox One.

I tried:

1. Fetching the manifest and parsing it using DOMParser
2. Fetching the manifest and parsing it using our XmlUtils abstraction
3. Feeding the manifest to the uncompiled DASH parser
4. Feeding the manifest to the compiled DASH parser

All of these produced valid results, and no errors.

My device r

[2021-09-15 22:50] joeyparrish commented on #3627
I am unable to reproduce this error on my Xbox One.  I tried the following:

1. Fetching the manifest and parsing it using DOMParser
2. Fetching the manifest and parsing it using our XmlUtils abstraction
3. Feeding the manifest to the uncompiled DASH parser
4. Feeding the manifest to the compiled DASH parser

All of these produced valid results, and no errors.

My device reports its User-Agent str

[2021-09-16 05:33] baehongjun0212 opened #3637 "The mpd video changed by the server is not applied to the shaka player"
Have you read the Tutorials?
Yes I have read it

Have you read the FAQ and checked for duplicate open issues?
Yes I've read FAQ and couldn't find relevant question. Also looked for duplicate open issues and didn't see any.

What version of Shaka Player are you using?
3.2.0

Please ask your question

The server changed the mpd video, but it is not changed. However, when the cache is clear, the mpd

[2021-09-16 05:48] avelad opened #3638 "Dimensions of CS Ad are wrong after the first pre roll."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 3.2.0

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Demo App

**If custom app, can you reproduce the i

[2021-09-16 07:05] theodab commented on #3595
If we did add something like this, `contentIdCallback` would not be the right place to put it. That is meant to turn `contentId` values into URIs, not URIs into other URIs. Changing it might break other peoples apps.
We could add a separate callback for this, I suppose?

In the meantime, though... you might be able to solve this problem with a [custom network scheme plugin](https://nightly-dot-sha

[2021-09-16 07:16] theodab commented on #3638
Reproduced. Thanks for the report.
This particular bug feels super familiar. I could have sworn I've looked into it before, but it might just be my memory playing tricks on me...

[2021-09-16 14:13] Pavelas opened #3640 "Networking engine does not provide response HTTP status code"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Irrelevant

**If custom app, can you reproduce the

[2021-09-16 15:25] mekptang opened #3642 "Unable to use thumbnail feature in demo app"
Thumbnail feature cannot enable properly.

[2021-09-16 15:33] adgllorente opened #3643 "TTML subtitles with backgroundImage not shown"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Latest

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo app

**If custom app, can you reproduce the

[2021-09-16 18:07] theodab commented on #3642
I'm not entirely sure what you're asking here.
Are you asking for thumbnails to show up in the Shaka UI? If you're interested in that, we are tracking that as issue #3371.
Or is the `shaka.Player.getThumbnails` method malfunctioning in some way for you?

[2021-09-16 18:18] theodab commented on #3640
Yeah, that sounds like a reasonable thing to add to me.

[2021-09-16 18:50] #3640 closed

[2021-09-16 20:30] joeyparrish commented on #3595
If you are happy manipulating the URI in a scheme plugin, I would make one tweak to @theodab's recommendation.  Instead of calling directly into `shaka.net.HttpXHRPlugin`, I would recommend modifying the request object's `uris` field and then calling `NetworkingEngine.request()`.  That way, you are not hard-coding the name of a plugin that may someday be deprecated.

If this solution doesn't work

[2021-09-16 20:38] joeyparrish commented on #3637
Those `<meta>` tags only indicate how the HTML page itself should be cached.  The server hosting your MPD decides what HTTP response headers to attach to the MPD, and **those** control how the MPD is cached by the browser.

Are you using a particular CDN or cloud service for hosting, or particular software for a local web server?

[2021-09-17 00:57] #3637 closed

[2021-09-17 00:58] baehongjun0212 commented on #3637
Thank you for your quick response. I'm using an Apache web server.

[2021-09-17 01:44] mekptang commented on #3642
I thought the feature has incorporated into the latest version of the demo page. #3371  That's what I'm seeking. Thank you.

[2021-09-17 01:44] #3642 closed

[2021-09-17 15:27] donnierisk opened #3647 "Shaka doesn't recover when a feed is stopped and started in quick succession"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes, we encounter this on the demo shaka player as well

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?*

[2021-09-17 19:09] caridley commented on #3632
@joeyparrish  it looks like this problem was caused by a 50 hour discrepancy in the presentationTimeOffset. We are able to easily reproduce the problem by altering the presentationTimeOffset with a Charles proxy rewrite. Using that method we have found that shaka fails to start the stream when the presentiatonTimeOffset is off in the negative direction by more than about 2 seconds.

Some of our vi

[2021-09-17 21:49] joeyparrish commented on #3637
Here's what I would recommend you read for configuring Apache: https://httpd.apache.org/docs/2.4/caching.html

Hope that helps!

[2021-09-19 15:46] abhinavvsinhaa commented on #3594
Hi there, I just set up the dev environment today and ran the tests. Everything worked completely fine until I tried to change the manifestUri in myapp.js in order to see how the errors are being handled. Looked for failureCallback in player_configuration.js and tried to understand how it works. I'm a newbie to open source and would like to contribute to improve the docs by making the two changes

[2021-09-19 17:32] #3635 closed

[2021-09-19 17:50] ashish157 opened #3648 "Using cbcs protection scheme and key rotation the playback fails at certain point"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.3.0-pre

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
demo app

**If custom app, can you reproduce t

[2021-09-19 22:16] #3518 closed

[2021-09-20 09:58] SadiqaliZaveri opened #3654 "[Firefox] - Audio is silent when changing audio language."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.2

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reproduce the iss

[2021-09-20 09:59] avelad commented on #2907
According to the documentation it's already supported: https://shaka-player-demo.appspot.com/docs/api/shaka.Player.html#.event:AdaptationEvent

See: https://github.com/google/shaka-player/commit/795860ffb82fd69a8df8c1c3f5e7a9880b8fb505

@joeyparrish, can be closed?

[2021-09-20 13:14] OrenMe commented on #3567
@joeyparrish can you please check this issue? I previously sent a test stream over email but I guess it is invalid now, I can provide another one if needed

[2021-09-20 15:31] xoundboy commented on #3575
Hi @joeyparrish thanks very much for your response.

I should have mentioned in the original report that these exact same ad breaks are playing back without issue in Shaka player in Chrome Browser (all versions from 2.5.x to 3.2.0). I've posted an issue on the Chromecast issue tracker now. Hopefully they will have some insight about the what the root cause may be. FYI here's the link https://issue

[2021-09-20 16:07] llooz opened #3655 "Allow multiple language preferences"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
custom app

**If custom app, can you reproduce the

[2021-09-20 17:24] TheModMaker commented on #3567
The problem is that the segments in the manifest change times with the manifest update.  In the dynamic manifest, the segments have segment times near 10,000,000 seconds; but in the static manifest, they are shifted back to 0.  Changing segment times in an update isn't supported.  According to #3376, you should set the `Period@start` attribute of the first Period to adjust the first segment to app

[2021-09-20 17:41] TheModMaker commented on #3598
Closing as a duplicate.

[2021-09-20 17:41] #3598 closed

[2021-09-20 17:57] TheModMaker commented on #3603
We only support one source at a time.  Plus we only support DASH, HLS, or single file (over HTTP), we don't support websockets.  Switching sources like this would be a really complex thing to do and something we probably won't support.  For this case, I would recommend low-latency DASH or HLS, which will have a similar effect to what you want.

[2021-09-20 19:05] OrenMe commented on #3567
Thanks @TheModMaker, the linked ticket was the first issue we encountered and you can see I commented there as well. This fix actually solved the issue with loading the generated manifest after it transitioned from dynamic to static, but I missed the other part about changing the segments timing.
I'll check that with the stream provider.

[2021-09-20 21:46] toschlog opened #3656 "How to change subtitle position?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Please ask your question**
How do I adjust the position of the subtitles?  I'm not using the Shaka Player UI.

I don't want to mess with

[2021-09-20 22:08] TheModMaker commented on #3584
The order here doesn't matter.  What is happening is which audio stream gets selected by default will be the first one.  You could reproduce this by manually selecting the other track.  The problem is that we don't mark one of the streams as being `ac-3` and treat both as being `aac`, which causes playback problems.

In the case of `output_files.zip`, you put both streams in the same audio group.

[2021-09-20 22:10] TheModMaker commented on #3634
Can you please send us some sample content?  The mailing list (<shaka-player-issues@google.com>) is private and we won't share it outside the team.

[2021-09-20 22:21] TheModMaker commented on #3648
It works fine for me on Chrome, so it probably isn't a problem with Widevine or the player.  This is right after the clear lead and I'm seeing a `waitingforkey` event.  My guess is this is a Firefox bug or they don't support the `cbcs` encryption scheme.  There is an API to query support, but I don't think we use it yet.  You could try filing a bug with Firefox.

[2021-09-21 06:12] meryacine commented on #3584
@TheModMaker Aha got you.
May you please take a look at [this](https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis#section-4.4.6.1.1)(the last example paragraph).

This definition of the rendition groups actually complies with the playlist generated by Shaka Packager, so I believe there would be a way to know what sample format each individual stream is without the need to guess it u

[2021-09-21 06:52] ashish157 commented on #3648
Hi @TheModMaker Thanks, Yes they support `cbcs` protection scheme. The playback works fine without key-rotation. Is there any workaround or setting in the shaka-player that can handle this case ?
I have filed a bug with firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1731727

[2021-09-21 13:45] pcruiksh commented on #3634
@TheModMaker Sorry for the slow response. I am unable to send you the specific content we identified that exhibits the issue but I can break it down more granularly (bearing in mind my flaky knowledge of the spec).

The row count byte can indicate a value in a range from 0-15, and the spec specifies you add 1 to this value when you define the properties of the window in your decoder.
https://githu

[2021-09-21 17:30] TheModMaker commented on #3584
I recognize this is valid content, but we need to know which stream uses which codec to be able to filter out streams and initialize MediaSource.  We could figure out which is which by parsing the media segments, but that would require fetching them during initialization.  We want to only use the info in the manifest.

Here is all the info we have in your case:

[code]

You should be able to see w

[2021-09-21 17:41] meryacine commented on #3584
This could be fixed by checking the other renditions if the one we picked turned out to be non-playable, right??
I can work on this if you find it worthy.

[2021-09-21 20:01] joeyparrish commented on #3584
I think it might be best fixed in Shaka Packager, to put incompatible audio codecs into different groups.

[2021-09-21 23:17] TheModMaker commented on #3654
First, you should provide content that has valid CORS headers.  It is especially annoying on Firefox to disable CORS requirements.  Second, I think this is a Firefox bug.  I see we download and buffer audio content; plus the playhead is moving, so it is "playing" the audio (if there was nothing, the video would pause).  Firefox doesn't really offer a way to debug the media pipeline like Chrome doe

[2021-09-22 11:48] alexch1311 opened #3657 "Incorrect behavior on large HLS clips"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=ru-RU;textlang=ru-RU;uilang=ru-RU;asset=https://smart-air.tv/media/bruce_ffmpeg/master.m3u8;panel=CUSTOM%20CONTENT;build=uncompiled

**What version of Shaka Player are you using?**
v3.2.0-uncompiled

**Wh

[2021-09-22 15:48] pulkit-30 commented on #3571
Please assign me this issue and please help me out with some code pointers/references from where I can start digging into it.

[2021-09-22 19:17] joeyparrish commented on #3571
@pulkit-30, you are welcome to work on this.  Please take a look in `lib/media/presentation_timeline.js`.

[2021-09-22 20:43] #3638 closed

[2021-09-23 08:35] SadiqaliZaveri commented on #3654
Thank you for the reply and sorry for the inconvenience with the CORS issue.
I have further raised the issue internally in our organization to understand if the content has invalid parts to it, once I receive more information I shall raise it to Firefox if required. I will update here as well.

[2021-09-23 09:26] vodlogic commented on #2625
We are also facing a similar challenge of wanting to selectively install polyfills.

I had a look at installing them individually, however each polyfill class and its corresponding `install()` function are not exported in the annotations so they are not available in the compiled player.

As a test I added the export annotations to the source code, recompiled the player and was able to use `shaka.p

[2021-09-23 09:51] muqsi opened #3658 "Subtitle alignment issues on latest version"
**What version of Shaka Player are you using?**
Shaka 3.2.0

**Please ask your question**
Subtitles are showing in different positions, few contents are showing the right side of the screen, and a few of them showing in the center. Is there any way to align all the content in the center instead of that different positions?
![Screenshot (2102)](https://user-images.githubusercontent.com/63707516/134

[2021-09-23 10:31] guilleccc commented on #3554
Hi jakub,
I could reproduce this error when I opened your example in a local html file. But before the error you mentioned, I got the following message:
[code]
So I tried to run this same html file but hosted from a local server (http-server), and that fixed the error to me.

[2021-09-23 13:38] pulkit-30 commented on #3571
Thank you for your response. I am starting working on this and I will create pull request soon.

[2021-09-23 14:55] TheJohnBowers opened #3659 "MEDIA.BUFFER_READ_OUT_OF_BOUNDS in cea_decoder parsing captions from h.265 content"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
It is possibly related to https://github.com/google/shaka-player/issues/3634, but I am not sure.  I can send some sample content which the others cannot provide.
Not sure if the problem is with the content, or shaka.   A couple of interesting things to note though
1 - There are no actual captions in the con

[2021-09-23 17:31] joeyparrish commented on #2625
I think it would be very reasonable to export the install methods of individual polyfills.  Please feel free to send a PR!

[2021-09-23 17:36] joeyparrish commented on #3554
Hi @jakubvojacek ,

You should either set the video element's `src` attribute, or call `player.load()`, but not both.  If you're using Shaka Player, `player.load()` will suffice.  If you can set `src` directly without `player.load()`, then you have no need for Shaka Player.

Does this help?

[2021-09-23 17:37] joeyparrish commented on #3658
Please use our issue template.  You didn't provide enough information for us to answer your question.  We will need some details of the content to explain to you why the subtitles render as they do, as well as information about how you are using Shaka Player (with or without our UI to render those subs).

[2021-09-23 17:37] #3658 closed

[2021-09-23 18:14] avelad commented on #3530
@joeyparrish Have you been able to find a solution for this?

[2021-09-23 20:29] joeyparrish commented on #3530
Sorry, we do not have a solution for this.

[2021-09-23 20:34] avelad commented on #3530
And what is the best solution then? Revert the MediaCapabilities change in 3.2?

[2021-09-23 22:43] upanitag opened #3661 "Need help generating a DASH compatible webm file."
Hi,
I have followed the steps described here : http://wiki.webmproject.org/adaptive-streaming/instructions-to-playback-adaptive-webm-using-dash. During playback, I get an error. I am using Shaka Player.

Output from browser console.
The video has now been loaded!
myplayer.html:57 Error code 3007 object OÂ {severity: 2, category: 3, code: 3007, data: Array(0), handled: false}

According to Shaka pl

[2021-09-23 23:20] jhemby-cbsi commented on #3627
Hello @joeyparrish

looks like for this ticket, you did not test the correct stream URL with Key Per Track enabled.

I emailed the URL and LA URL and config info to the shaka-player-issues email address. I will re-send today.

This is the URL here below. You can get the LA URL and player info from the email. Let me know if you have issues receiving the info:

Playback URL:
https://vod-gcs-cedexis.

[2021-09-24 15:47] toschlog commented on #3656
I couldn't find anything in ::cue about the position so I ended up modifying the cues directly.  It works like this:

1. Set a cuechange handler for each track in textTracks.
2. On change, loop through the activeCues.
3. If (cue.position === "auto") change it to "start" and set cue.position.

It's not idea, but it works.

[2021-09-24 15:47] #3656 closed

[2021-09-24 17:04] joeyparrish commented on #3656
If you're modifying the cues, you could try subclassing our TextDisplayer implementation and configuring the player to use that.  Your subclass could modify those cues before they are sent to the browser.  This is still not ideal, but it would eliminate the polling mechanism and make sure the changes happen before the cues are rendered.

As an alternative, you could use our UI (or even just the DO

[2021-09-24 17:14] joeyparrish commented on #3661
I don't know that FFmpeg's direct DASH output is correct.  I would suggest you try something like [Shaka Streamer](https://github.com/google/shaka-streamer/) for content preparation instead.  It uses FFmpeg internally for transcoding, but [Shaka Packager](https://github.com/google/shaka-packager/) for fragmenting and packaging in DASH.  For example, this may work for your y4m input file:

[code]

[2021-09-24 17:25] upanitag commented on #3661
Thanks ! I switched to a different http server and kept everything else the same. This time it worked.
I will try out the Shaka streamer. This is really useful to know.

[2021-09-24 17:29] #3661 closed

[2021-09-24 18:24] toschlog commented on #3656
Joey,

I like the idea of using the DOM-based TextDisplayer.  I think that means adding something to the config like this:

[code]

Is that right?  I have, of course, `videoElement`, but where do I get the `videoContainer`?

And once that works, I think I would do this:

[code]

And then I can do whatever I want with `container.style`.   Correct?

[2021-09-24 21:54] HugoSaintLaurent opened #3663 "hls parser doesn't set the audio codec properly when playing MS PlayReady CMAF DRM hls test stream."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Can you reproduce the issue with our latest release version?**
I have also reproduce the issue with 3.2.0

**Can you reproduce the issue with the latest code from `master`?**
I have not tried.

**Are you using the demo app or your own custom app?

[2021-09-25 16:44] joeyparrish commented on #3661
Ah, I see.  If the HTTP server ignored Range headers, that could definitely cause the error you saw, even if you used Shaka Streamer.  A fully-HTTP-compilant server is necessary for some VOD content, and some very simplistic servers are not compliant.

[2021-09-27 14:20] caridley commented on #3431
@joeyparrish  I think this might be easy to support. We can capture the bandwidth value in the InitSegmentReference objects and then detect changes in the bandwidth value whenever we append an init segment and emit a new bandwidth changed event.

[2021-09-27 20:44] jakubvojacek commented on #3554
Hello @guilleccc

thank you, I totally overlooked that you answered (i subscribed to all shaka issues and must have missed this one as i didnt hope for an aswer anymore)

Anyway, I tested the solution to put the file behind webserver and it worked splendidly.

Thanks 👍

[2021-09-27 20:44] #3554 closed

[2021-09-27 20:51] upanitag opened #3666 "shaka player - webm live streaming playback"
Hi!
I was able to use shaka player for playback adaptive webm using DASH (http://wiki.webmproject.org/adaptive-streaming/instructions-to-playback-adaptive-webm-using-dash). Now I am trying to do webm live streaming playback (http://wiki.webmproject.org/adaptive-streaming/instructions-to-do-webm-live-streaming-via-dash). The command shown in the link are for a video and audio stream generated from

[2021-09-27 22:51] upanitag commented on #3666
Update: I wasn't using the api shaka.player.DashVideoSource. Is that why I get the error?

When I try to use new shaka.player.DashVideoSource, I get a syntax error
 Uncaught TypeError: Cannot read properties of undefined (reading 'DashVideoSource')
    at HTMLDocument.initPlayer (myplayer2.html:39)

/* code */
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TurtleTube - Basic

[2021-09-28 06:00] jeev1989 opened #3667 "Font size increase for vtt subtitles"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
V3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Yes

**If custom app, can you reproduce the issue

[2021-09-28 11:29] avelad opened #3670 "UITextDisplayer should be independent of css styles."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**Is your feature request related to a problem? Please describe.**

UITextDisplayer right now depends on css styles (https://github.com/google/shaka-player/blob/master/ui/less/containers.less#L298-L309), so if it only depends on the player without UI, you need to include undocumented code in your app.

[2021-09-28 15:46] hdodev opened #3671 "Avoid 6008 error when detecting licenser response is ko"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.21

**Please ask your question**
I have a custom license response (DASH-WIDEVINE) that I have to unwrap before giving it back to Player (manag

[2021-09-28 16:49] joeyparrish commented on #3670
I think hard-coding styles in JS is not a good pattern, and making them configurable through JS instead of hard-coded is more complex than just using CSS.

What if we split the TextDisplayer default CSS out into a separate output that is easier to include without the full UI CSS?

[2021-09-28 16:58] joeyparrish commented on #3671
[Error 6008 is LICENSE_RESPONSE_REJECTED](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:6008).  This means you fed some data back to DrmEngine that was not valid.

I would suggest that you try something like this (untested) code below.  In the error case of your response handler, you can use a delay to try to make the cancelation happen before the invalid response is r

[2021-09-28 17:36] avelad commented on #3670
Your idea seems good to me, separating it in a separate file and easy to import is enough.

[2021-09-28 19:44] hdodev commented on #3671
I've just tried and it seems to work fine. Thank you very much!
Just to be sure, the 100ms delay, can it depend of the device performance? I mean should I adapt this if I want to anticipate the clean unload can take more? Or maybe put the return on the promise of the unload ()?

[2021-09-28 21:19] upanitag commented on #3666
It seems like the latest build of shaka player doesn't support these apis shaka.Player.DashVideoSource , shaka.util.EWMABandwidthEstimator. What are the alternative APIs for these?

[2021-09-28 22:17] EvgeniiKuznetsov opened #3672 "Play the next audio file without refreshing the page"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

Sorry for my question, but how can I play the following audio file without reloading the page or re-init player? The first audio file is re

[2021-09-28 22:33] theodab commented on #3643
Reproduced. Thanks for the report, and for your patience with the assets for repro. I'll work on a fix.

[2021-09-29 13:41] #3672 closed

[2021-09-29 17:35] joeyparrish commented on #3672
In fact, you can!  That's exactly what you should do.

[2021-09-29 18:54] joeyparrish commented on #2676
@nbcl, is this work complete now?  Are there other overflow menu items left to push to the main UI bar?

[2021-09-29 18:57] joeyparrish commented on #3648
Appears to be confirmed by Mozilla as a bug on their end.  I'm going to move this to "external".

[2021-09-29 19:00] TheModMaker commented on #2469
Closing as non-specific and no activity in a long time.

[2021-09-29 19:00] #2469 closed

[2021-09-29 19:00] joeyparrish commented on #3596
Closing for lack of interest.  Thanks!

[2021-09-29 19:00] #3596 closed

[2021-09-29 19:02] joeyparrish commented on #3564
@bhushanudupa, can you please share with us the relevant parts of your application code?  I suspect the issue may be in how you are calling Shaka Player, rather than with Shaka itself.

[2021-09-29 19:05] #1977 closed

[2021-09-29 19:09] #1757 closed

[2021-09-29 19:14] #2240 closed

[2021-09-29 20:13] TheModMaker commented on #1089
We support PNG in TTML subtitles.  If you are seeing an error, please open a new issues with the bug template with a link to your content so we can see what is wrong.

[2021-09-29 20:13] #1089 closed

[2021-09-29 20:54] joeyparrish commented on #1852
This has been completed for some time already, but we forgot to tag & close the issue.

We now pull Closure Compiler and the Closure Library from npm, and updating is relatively easy.  We are no longer years behind.

[2021-09-29 20:54] #1852 closed

[2021-09-29 21:16] joeyparrish opened #3673 "Re-think gap-jumping and stall-detection"
I believe gap-jumping and stall-detection could use a redesign.  It's not clear that the current algorithms were built with the right requirements in mind.

Let's use this issue:
  1. to discuss requirements and decide what we should be designing/building
  2. to track progress on rebuilding gap-jumping and stall-detection

In https://github.com/google/shaka-player/issues/3188#issuecomment-7881730

[2021-09-29 21:21] joeyparrish commented on #1496
Closing for lack of interest/response

[2021-09-29 21:21] #1496 closed

[2021-09-29 21:25] joeyparrish commented on #1356
Duplicate of #1672

[2021-09-29 21:25] #1356 closed

[2021-09-29 21:28] joeyparrish commented on #1292
Part of this is Firefox's support, which we don't control.  The other part is our own support of MP3, which is part of "containerless" format support, tracked in #2337.

I'll close this as a duplicate.

Duplicate of #2337

[2021-09-29 21:28] #1292 closed

[2021-09-29 21:34] joeyparrish commented on #1080
This issue is quite old, and our TTML and rendering capabilities have grown a lot.  If there are still gaps in our support of TTML parsing or rendering, please feel free to open new issues for them.  Thanks!

[2021-09-29 21:34] #1080 closed

[2021-09-29 21:54] #3643 closed

[2021-09-30 03:50] theodab commented on #3474
Okay, I was able to reproduce this, finally. Sorry for the delay.
For future reference, I've hosted their test pages here:
https://storage.googleapis.com/wvtemp/theodab/3474/index.html (This is the one that uses Shaka Player)
https://storage.googleapis.com/wvtemp/theodab/3474/index2.html (This is the one that doesn't)

[2021-09-30 06:49] theodab commented on #3622
You didn't provide any sort of code sample for us to work with. So I can't say for sure what the problem you are having is.
But I did just spend a little while diagnosing #3155, so assuming you are using a similar architecture to the demo code they posted...

In that person's demo code, they make a "data" object that contains the player. According to Vue's documentation on the data object, anythin

[2021-09-30 07:39] francoism90 commented on #3622
@theodab Thanks for looking into the issue and sorry for not providing an example.

I'm testing dash.js which does seem to work/allow this:
https://github.com/francoism90/mediadb-app/blob/main/src/composables/useDash.ts

As you can see I inject the player in a `ref` object after creation which should be reactive, if I do the same thing with Shaka.js it tells me `TypeError: can't access property "n

[2021-09-30 09:14] theodab commented on #3622
Well, in #3155, the line that was actually failing was this:
https://github.com/google/shaka-player/blob/a72adca9fd62144f70da61314e785074f374427a/lib/player.js#L636
This is part of the code that is responsible for Shaka Player transitioning from one stage of the loading process to another. I found during investigation that we have some checks that are based on object equality, like this:
https://g

[2021-09-30 11:26] ashish157 commented on #3659
Im also facing the same issue. Here is the error log:
[code]
I checked the previous versions and it seems the last version with which it worked is 3.0.13. From version 3.1.0 and later "BUFFER_READ_OUT_OF_BOUNDS" occurs. The problem occurs on both firefox and chrome. Also playback works fine with latest dash.js.

[2021-09-30 12:10] avelad commented on #3659
Could it be a duplicate of https://github.com/google/shaka-player/issues/3608?
Have you tried the master branch to see if it happens?

Note: there are two commits possibly related to this: https://github.com/google/shaka-player/commit/97ba4dfd7bdcbf1b612af3679ee85273a1967715 and https://github.com/google/shaka-player/commit/6a775e29a4c96588822288188d8e34ea4c992713

[2021-09-30 13:06] avelad opened #3674 "Use Shaka CEA parser for TS"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** YES

**Is your feature request related to a problem? Please describe.**

Right now there is the forceTransmuxTS setting to parse CEA-608 on devices that natively support TS, but this involves using mux.js and transmuxing TS to MP4.

**Describe the solution you'd like**

Since we have a CEA-608 parser for MP

[2021-09-30 13:08] ashish157 commented on #3659
I just checked-out master, recompiled and can confirm it is happening with latest master.

[2021-09-30 16:07] agajassi commented on #3636
@joeyparrish
Thank you. I was on a PTO, so my apologies for a late reply.
I've tried this issue once again. I am still able to reproduce it with Xbox One and Shaka Player v.3.2.0, so are my other 2 colleagues here at ViacomCBS.

If I switch to Shaka Player v. 3.0.10, then it plays without any issues. I went ahead and tried other versions as well in attempt to pinpoint when this started breaking. I

[2021-09-30 18:30] joeyparrish commented on #3636
The test code above is everything you need.  I had bugs in an earlier version of it, specifically around my checks for failure in the first two steps (using DOMParser and XmlUtils to parse).  The test code above should be correct, though.

The test tries four things to reproduce the error, each at a different level of the stack:

1. Fetching the manifest and parsing it using DOMParser
2. Fetching

[2021-09-30 19:20] theodab commented on #3155
So, I ended up looking into this again (because of #3622), and found the root cause of that `Cannot read property 'name' of null` error.

It appears that Shaka Player cannot handle being made into a reactive object, which is what happens if you put it into a Vue data object. I found, in your demo code, that if you define Shaka Player outside of a data object (or prefix the variable name with `$` o

[2021-09-30 20:33] joeyparrish commented on #3622
I believe it's best to document that you should not wrap Shaka Player in a reactive object in Vue.  I don't believe we should remove object equality checks.

Let's call this a duplicate of #3155, which we'll close with a docs update.

Quoting @theodab from https://github.com/google/shaka-player/issues/3155#issuecomment-931598183 :

Any objections to this resolution?

[2021-09-30 20:34] joeyparrish commented on #3622
Duplicate of #3155

[2021-09-30 23:00] #3155 closed

[2021-10-01 15:05] #3666 closed

[2021-10-01 18:05] DavidRNogueiraResi opened #3675 "Shaka 3.2 not handling transistion from Live to On Demand"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reproduce the issue u

[2021-10-01 18:33] upanitag opened #3676 "Unable to use shaka streamer"
I get the following error when running shaka streamer

Fatal error:
  Shaka Packager not found! Please install version 2.5.1 or higher of Shaka Packager.

I used the following commands in my debian machine
sudo pip3 install --upgrade shaka-streamer shaka-streamer-binaries

I also updated LD_LIBRARY_PATH and PATH variable to the location of the shaka-streamer-binaries.

What am I missing?

[2021-10-01 19:34] joeyparrish commented on #3676
Let me start by transferring this issue to the Shaka Streamer repository.

[2021-10-01 20:55] joeyparrish commented on #3667
What versions of Shaka Player are you comparing (old, smaller font vs new, bigger font)?

Are you using the Shaka Player UI, or the browser's built-in controls?

[2021-10-01 21:03] joeyparrish commented on #3567
@OrenMe, please accept our apologies for taking so long to respond to this issue the first time.  We are working on our issue-handling process and tools to try to improve our response times.

To follow up on your previous comment, have you had a chance to check with the stream provider?

[2021-10-01 21:10] TheJohnBowers commented on #3659
Yes I just ran it against the nightly build from your appspot demo.  I assume that is built from latest master.  It is still happening there.

[2021-10-02 06:37] theodab commented on #3524
It looks like we fixed this by accident in https://github.com/google/shaka-player/commit/157bd77be25ea7744d2d905f46dd3ee3eb1a611a. Sorry for not seeing your PR earlier!

[2021-10-02 06:37] #3524 closed

[2021-10-04 05:36] avelad opened #3677 "Storage: deleteAll should remove EME sessions"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 3.2.0.

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Both

**If custom app, can you reproduce the issu

[2021-10-04 06:41] jeev1989 commented on #3667
We are using the same Shaka Player version for comparing the same. - V3.2.0

We are using the browser's built in controls here.

[2021-10-04 15:57] hiren3897 opened #3678 "Fairplay broken in v3.2 (dup)"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
I am trying to play the content on Mac Safari (HLS Fairplay) but it doesn't play the video.

I have perfectly

[2021-10-04 16:29] avelad commented on #3678
Duplicate of https://github.com/google/shaka-player/issues/3530

[2021-10-04 19:12] maciejrozanski commented on #3530
I can reproduce the issue on Safari  14.1.2 and macOS 11.5. After downgrading to shaka-player 3.1.x works fine. I will email you  testing materials.

[2021-10-04 19:14] avelad commented on #3530
I'm using: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.0 Safari/605.1.15" (Versión 15.0 (16612.1.29.41.4, 16612)) over macOS 11.6

![Captura de pantalla 2021-10-04 a las 21 13 38](https://user-images.githubusercontent.com/8983024/135910411-de006ab5-2ec8-4fa0-b51a-dc8cf0286653.png)

I will email you another stream

[2021-10-04 19:54] joeyparrish commented on #1195
Not enough information in this issue to act on after so much time has passed.  Closing for now.

[2021-10-04 19:54] #1195 closed

[2021-10-04 20:20] joeyparrish commented on #771
Just confirmed that ClearKey works with our Tizen 3 device.  I will tentatively close this, but we can reopen if there are any issues with Tizen 2.4.

The OP can reopen this issue with `@shaka-bot reopen` in a comment.  For anyone else, you may have to open a new issue.

[2021-10-04 20:20] #771 closed

[2021-10-04 20:24] joeyparrish commented on #3291
Unable to reproduce this issue in the latest release.

[2021-10-04 20:24] #3291 closed

[2021-10-04 20:39] joeyparrish commented on #3051
I'm setting this to P1 (top non-emergency priority).

[2021-10-04 20:59] joeyparrish commented on #2907
Yes, looks like someone took care of it and didn't tag the issue.  Thanks for pointing this out, @avelad.

[2021-10-04 20:59] #2907 closed

[2021-10-04 21:07] joeyparrish commented on #3675
Is this working in any earlier version of Shaka Player?  You can easily browse them with https://index-dot-shaka-player-demo.appspot.com/

[2021-10-04 21:14] joeyparrish commented on #2039
I'm going to fold this into #2792.

[2021-10-04 21:14] joeyparrish commented on #2039
Duplicate of #2792

[2021-10-04 21:14] #2039 closed

[2021-10-04 21:18] joeyparrish commented on #3655
I'm going to rename this as an enhancement to accept multiple preferred languages, in priority order.  This is already the format of `navigator.languages`, so an array in our config would work nicely with the information the browser provides.

[2021-10-04 21:21] joeyparrish commented on #3655
We would be happy to review a PR for this.  Backward compatibility is a concern, so I would suggest adding fields like preferredAudioLanguage**s** (plural) to the config, and deprecating the original, single-string fields.  The original fields could then be removed in v4.

If you want to contribue, look at the source to `player.configure` in lib/player.js and note the way we use `shaka.Deprecate.d

[2021-10-04 21:27] joeyparrish commented on #3655
It turns out that we already have #1591, so I will actually close this as a duplicate of that, and update that with the comments I left here.  Thanks!

[2021-10-04 21:27] joeyparrish commented on #3655
Duplicate of #1591

[2021-10-04 21:27] #3655 closed

[2021-10-04 21:30] joeyparrish commented on #1591
Comments copied from #3655:

[2021-10-04 21:31] joeyparrish commented on #2163
Since we have mention of ReactJS integration in README, I'm going to close this issue.  Thanks!

[2021-10-04 21:31] #2163 closed

[2021-10-04 21:33] joeyparrish commented on #1379
This looks like it is done, so I'm going to close it.

[2021-10-04 21:33] #1379 closed

[2021-10-04 21:41] joeyparrish commented on #3615
@ikpark-transbox, this appears to be a content issue or a decoder issue.  We don't control either one.

If the content cannot be decoded, either it is poorly encoded, or the device's decoder is buggy.

Does this help?

[2021-10-04 21:41] #3615 closed

[2021-10-04 21:45] joeyparrish commented on #2994
Sorry for failing to respond to this in a timely manner.

`segmentIndex.references` is not a public field, which is why it does not appear in a debug build.

I hope this helps to clarify.

[2021-10-04 21:45] #2994 closed

[2021-10-04 21:47] joeyparrish commented on #3046
Since we could not reproduce the issue with the content from @mamaddox, I believe we should close this issue.

@Puritanic, please feel free to open a new issue.

Thanks, and we apologize for any inconvenience.

[2021-10-04 21:47] #3046 closed

[2021-10-04 21:48] #3622 closed

[2021-10-04 21:50] joeyparrish commented on #3431
Would you prefer to emit an event with bandwidth info when we start playing the new period, or when we start buffering the new period?

Would you prefer the overall Stream object's bandwidth field to be a max or a weighted average across periods?

[2021-10-04 21:52] joeyparrish commented on #3431
BTW, these seem like separate enhancements to me, but if we can come up with a concise title and rename this, I would be fine with that.

[2021-10-04 21:55] joeyparrish commented on #2766
We should experiment with bandwidth estimation on various browsers and confirm that our settings are correct for the scenarios we can test.  It is concerning that @naktinis got 10-20x lower bandwidth estimates on non-Chrome browsers.

One thing that could be causing this is the lack of the NetworkInformation API on non-Chrome browsers.  This API allows us to start closer to the ideal bandwidth ear

[2021-10-04 22:36] #3603 closed

[2021-10-05 03:49] OrenMe commented on #3567
Hi @joeyparrish, I'm sure you are extremely busy so appreciate that.
I'm still waiting on a response from the vendor and will update as soon as I get an answer.

[2021-10-05 11:29] jakubkrolikowski opened #3679 "Native Windows support for Widevine and screen capture prevention with September update - detection with probeSupport"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.1.x, 3.2.x

**Please ask your question**

After one of the Windows 10 updates in September (I'm not sure which one exactly) there is a very impo

[2021-10-05 13:36] darktasevski opened #3680 "DASH unprotected content stuck on the first frame on Samsung Tizen 5.5"
@joeyparrish I have a potentially similar issue, both to #3046 and to #2620. Basically in a few of several attempts, the DASH stream fails to start properly, it's just stuck on the first frame, but can be initiated if the user seeks forward.

From the logs, I can see that the Shaka player has detected a stall, and tries to unstall by pause/play, but with no success.

Only reproducible on Tizen 5.5

[2021-10-05 13:54] upanitag opened #3681 "How to play a live stream video using the video element/shaka player"
Hi,
I am trying to live stream a video as well as draw on top of it. When I start drawing, I want the video to pause. I achieve that by calling video.pause() where video is the video element in the html file. After drawing, when I let go of the mouse, I want the playback to resume from the last position. How do I achieve this in a live streaming video using shaka player? video.play() did not work.

[2021-10-05 17:03] ghouet opened #3682 "Shaka-player failing on some http/3(?) segment requests with redirect in Firefox 92"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.3.7

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom app.

**If custom app, can you reproduce th

[2021-10-05 17:07] joeyparrish commented on #3679
I don't know about this.  I suggest you [contact Widevine](https://widevine.com/contact) about this.

Unfortunately not.  The browser doesn't provide us with any information about this in JavaScript.

[2021-10-05 17:09] joeyparrish commented on #879
This may be blocked on changes in Chrome for now: https://bugs.chromium.org/p/chromium/issues/detail?id=1256838

[2021-10-05 17:30] joeyparrish commented on #3680
We don't have a Tizen 5.5 device to debug this ourselves.

I suspect our entire stall-detection/gap-jumping system needs to be rethought: the requirements, the platform behaviors we observer, how the system gets triggered, and how it tries to cope with stalls & gaps.  (See #3673)

In the meantime, though, you can experiment with changes to the source to see if there is a platform-specific workarou

[2021-10-05 21:36] joeyparrish commented on #3682
Is the Shaka Player version number in your report accurate?  v2.3.7 is from mid-2018, and we aren't supporting the v2.x releases any more.  Are you sure the issue persists with our latest release, v3.2.0?  Can you reproduce it with our hosted demo app?

Could it be the case that Firefox has a bug in redirects, CORS, or the combination of the two?  Have you reported this issue to Mozilla?

In any c

[2021-10-05 22:10] joeyparrish commented on #3667
If you're using the browser's controls, you're seeing the browser's rendering of the subtitles.  We don't actually control that unless you're using our UI.

If the player version didn't change, but one day the font size changes, it's the browser that was updated and changed the rendering.

You can influence the size of browser-native cues with the [CSS pseudoclass `::cue`](https://developer.mozill

[2021-10-06 15:43] muqsi opened #3683 "Subtitle with an unexpected behavior"
**What version of Shaka Player are you using?**
Shaka 3.2.0

**Please ask your question**
Subtitles showing with one overlying background. Is there any way to handle this overlying background?

![IMG_20211006_205715](https://user-images.githubusercontent.com/63707516/136236967-3c8e368c-cae0-4785-b21e-e31fd4396592.jpg)

[2021-10-06 15:48] avelad commented on #3683
Can you put the subtitle file here? Is it a ttml file?

[2021-10-06 20:13] caridley commented on #3431
For purposes of measuring the user experience it would be ideal to have this information report at the time of playback.

We would like to see this reported in the same way for all video quality changes; those the occur because of period change and those that occur because of an ABR change.

Ideally this event would include all information the might be use to measure video quality such as as the b

[2021-10-06 22:15] joeyparrish commented on #3681
`video.play()` should work.  There's not another API.  What happens when you call this?  What is the return value of video.play()?  Are there any console logs from the player?

[2021-10-07 00:27] inglesuniversal opened #3684 "Questions and Feature Request ----> Support MOV video files playback and/or live transcoding"
Is it possible to play MOV files on Chrome and non-Safari Browsers?

Best regards

Great project!

[2021-10-07 00:32] joeyparrish commented on #3684
No, sorry.  We can only play the container formats that the browser supports, except in the case of using mux.js to support the hopefully-soon-to-die-on-the-web MPEG-TS format.

I would suggest that if you want to play MOV, you can easily convert them to DASH or HLS or both using Shaka Streamer: https://github.com/google/shaka-streamer#readme  I would be happy to take questions over there if you n

[2021-10-07 00:32] #3684 closed, assigned to nobody

[2021-10-07 02:56] WINOFFRG opened #3685 "Unable to handle request using a Proxy Server"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2

**Please ask your question**
I have published an article on [medium](https://winoffrg.medium.com/widevine-license-acquisition-reverse-proxy-s

[2021-10-07 03:32] joeyparrish commented on #2739
Perhaps there is a problem with the bandwidth estimation in that version of Shaka Player.  I know it's been a long time since this question was filed (my apologies!), but v2.5.x is no longer maintained.  Here are my suggestions:

1. Try the final release of v2.5, v2.5.23.  This should be fully backward compatible with the version in your report.
2. Try the latest release, v3.2.0.  Please see the u

[2021-10-07 03:37] WINOFFRG opened #3686 "Creating custom UI for player"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
I want to create a custom UI for the player with the below-mentioned features:
- Buttons with SVG Morphed Anim

[2021-10-07 03:38] joeyparrish commented on #2937
If the content is broken, I believe there's not much we can do about it except selectively ignore error 3016.

Does this help?

[2021-10-07 04:00] joeyparrish commented on #3076
Sorry for losing track of this issue.

If the problem is caused by the negative timestamps, you could offset them by modifying the manifest.  The presentationTimeOffset attribute in DASH is used to adjust how timestamps are interpreted by the browser.  Could you try adjusting that in lieu of re-encoding the content?

[2021-10-07 06:12] baehongjun0212 opened #3687 "Shaka Player canvas drawimage() is not working on webOS"
**Have you read the Tutorials?**
Yes

**Have you read the FAQ and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
Shaka Player canvas drawimage() is not working on webOS.

mac used Chrome 94.0, WebOS 79.0, and Samsung Browser 69.0.
In mac, draw images are good with video elements, but Chrome 79.0 and 69.0 are black scree

[2021-10-07 17:28] #3685 closed, assigned to nobody

[2021-10-07 17:42] joeyparrish commented on #3418
In DASH, I believe the only way to represent a general discontinuity is a new Period.  There may be special cases that work without a new period, but I am not certain.

[2021-10-07 17:50] joeyparrish commented on #3422
ABR plugins have been possible in Shaka for a long time.  Any implementation of the [shaka.extern.AbrManager interface](https://shaka-player-demo.appspot.com/docs/api/shaka.extern.AbrManager.html) can be plugged in via the configure interface:

[code]

The networking system doesn't capture time-to-first-byte latency, but we would be happy to review PRs to improve this so that network latency info

[2021-10-07 20:18] agajassi commented on #3636
When I attempt to play an actual mpd content with 3.2.0 on Xbox, it looks like it attempts to parse the manifest using 2nd method (Dash Parser), because I get the same error

[2021-10-07 20:50] joeyparrish commented on #3636
Please try with a TextDecoder polyfill installed, as we do in our demo and tests.  This is a requirement for platforms without a native implementation, and not having it will cause `shaka.Player.isBrowserSupported()` to return `false`.  This could be the root of your problem if you don't have such a polyfill in your application on Xbox.

We install `fastestsmallesttextencoderdecoder` and load `nod

[2021-10-07 22:40] joeyparrish commented on #3574
We don't have any WebSocket support built-in.  The other end of a WebSocket could be speaking absolutely any application-level protocol.

But the networking engine allows plugins that supply data through any means you like.  You could connect to your server with WebSockets and request data with whatever protocol you are using.  It's up to you to write the plugin for that, but we can provide you wi

[2021-10-07 22:46] joeyparrish commented on #3535
You can use your own custom receiver, and custom sender, too, if you like.  Our UI's cast button depends on our CastProxy, and our CastProxy expects our own CastReceiver class on the other end.  So if you're our UI, but not using CastProxy & CastReceiver, you'll want to inject your own cast button into the UI.

We don't really have a way to intercept and interpret the manifest URI, though.  At lea

[2021-10-07 22:53] joeyparrish commented on #3559
Do you have multiple player instances?  If you create a new player instance on the same media element without destroying the old one, this might occur.

You should be able to do this with a single player instance owning a single media element.  You can call load() to change to a new piece of content, and the old content will be unloaded automatically.

Does this help?  If not, we will need to see

[2021-10-08 11:34] Kotekczu opened #3688 "Customize language label in the overflow menu"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
Is there a way to customize the language label in the overflow menu? I'd like to identify the "qaa" language

[2021-10-08 17:40] joeyparrish commented on #3613
Yes, there could be an issue on the player side.  We can never guarantee that there are no bugs in any product.  Can you please file a new issue using the bug report template so that we can get enough information to reproduce and try to solve your issue?  https://github.com/google/shaka-player/issues/new/choose

Thanks!

[2021-10-08 17:44] joeyparrish commented on #3616
My only guess is that you're using HLS for Safari, so it may be going through the browser's native HLS implementation instead of using MediaSource.  I could imagine an implementation of HLS in the browser that could bypass WebAudio.

Try this configuration in Shaka:

[code]

This will prefer MediaSource to native HLS.  On iOS, we will still be forced to use native HLS, so I don't expect this to be

[2021-10-08 17:46] joeyparrish commented on #3618
Not exactly, but if you're willing to deal with potential changes to the structure in feature releases, you can use `player.getManifest()` to pull the manifest data.

You could also bootstrap `shaka.dash.DashParser` and use that directly.  It will expect a full `ManifestConfiguration` object and `PlayerInterface` to be provided, and for `configure()` to be called before `start()`.  You'll end up g

[2021-10-08 17:57] joeyparrish commented on #3683
@muqsi, without details on your content, we can't help you with this.  Please file an issue using our bug report template, so that we can capture enough information to help you: https://github.com/google/shaka-player/issues/new/choose

[2021-10-08 17:57] #3683 closed

[2021-10-08 18:01] joeyparrish commented on #3687
Sounds like an issue with WebOS and Canvas rather than the player.  We don't do anything with Canvas, and anything you do to copy video to a canvas should be the same whether you're using Shaka and DASH or a plain mp4 in a `<video>` element with no player at all.

The only thing I can think of that may cause issues is DRM.  Are you trying to copy the frames of encrypted content?  If so, some brows

[2021-10-08 18:37] hiren3897 commented on #3561
@joeyparrish Yes, it helped me out a lot in my plugins. thank you for your great help!!

[2021-10-08 18:38] #3678 closed, assigned to nobody

[2021-10-08 21:26] joeyparrish opened #3689 "UITextDisplayer test failing on Safari"
I suspect this is a timing issue, but a recently-added test for UITextDisplayer is failing on Safari.

[code]

Assigning to Theodore, who wrote the test earlier this week.

[2021-10-08 21:32] joeyparrish opened #3690 "DrmEngine test fails on Safari"
An older test for DrmEngine is failing on Safari.  It looks to be related to the MediaCapabilities migration.

The test injects an error into createMediaKeys, and expects a failure with error code `FAILED_TO_CREATE_CDM`.  Instead, it gets a failure of `REQUESTED_KEY_SYSTEM_CONFIG_UNAVAILABLE`.

It also fails another expectation that `decodingInfos.length` be 2, when instead it is 0.  The DRM query

[2021-10-09 02:58] #3689 closed

[2021-10-10 05:08] WINOFFRG commented on #3686
Understood Thank You, The simpler way as you explained. But, could you please confirm if the method of which I am talking about i.e making the changes in the `ui.js` file, Is is not recommended? Or is it completely wrong to do that? Because It seems a bit easy for me to create a new project and start with a completely new UI library.
So instead of using `less`, I will use `sass`. As the basic code

[2021-10-10 20:21] ThibaultNocchi opened #3691 "AAC in fMP4 streams fails to be read since 3.2.0 while it worked in 3.1.2"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes I did

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes (I installed master with `npm i GITHUB_LINK` and loaded the uncompiled JS, is there anything else to

[2021-10-11 04:52] nbcl commented on #3686
Right! The recommended way of adding custom elements according to the [documentation](https://shaka-player-demo.appspot.com/docs/api/tutorial-ui-customization.html), is to create a new file and register the element to the desired component, as this makes it available in the UI without the need of editing preexisting files. If you are looking to customize the options available in the overflow menu,

[2021-10-11 08:18] donnierisk commented on #3033
Hi there, no problem thanks for replying. I will close

[2021-10-11 08:18] #3033 closed

[2021-10-11 09:13] #3686 closed, assigned to nobody

[2021-10-11 12:45] EllinaSereda opened #3692 "add export of LanguageUtils"
Hello. Could you please add export of LanguageUtils?

https://shaka-player-demo.appspot.com/docs/api/lib_util_language_utils.js.html

On our project we need to parse manifest for accessibility tracks and we need to be able to convert language from adaptation sets so that we can correlate found tracks with tracks received with help of Shaka Api, so we would like to use LanguageUtils for this purpos

[2021-10-11 15:28] AnnaKozlova opened #3693 "Audio tracks data."
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
~2.5.10

**Please ask your question**
I need to implement multi-tracks support for audio. I know that shaka by default supports only 1 active audi

[2021-10-11 22:16] #3692 closed, assigned to theodab

[2021-10-12 02:50] tomraut commented on #3445
I'm not able to provide content at the moment, so we can close this one for now.

[2021-10-12 02:50] #3445 closed

[2021-10-12 04:39] #3451 closed

[2021-10-12 06:25] benelgiac commented on #3576
It does, thank you very much. You surely can close this.

On Tue, Oct 12, 2021 at 1:06 AM Shaka Bot ***@***.***> wrote:

[2021-10-12 07:02] #3501 closed

[2021-10-12 07:31] tkayage opened #3694 "MediaCapabilities.decodingInfo() failed on safari while playing DRM protected content using fairplay"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**

I have been trying to play hls content which is DRM protected on safari. I have followed the guide on how to

[2021-10-12 17:33] joeyparrish opened #3696 "Investigate root cause of overwritten MCap polyfill on Safari"
In #3530, the MCap polyfill is being overwritten on Safari.  It's not clear what is causing this.  @joeyparrish could not reproduce the issue, but @theodab could.

PR #3668 gave us a workaround, but we still haven't addressed the root cause.  It would be preferable to find the root cause of the issue, revert the PR, and merge a fix that addresses the root cause.

[2021-10-12 20:39] #3606 closed

[2021-10-12 22:06] caridley commented on #3431
@joeyparrish  here is a sketch of a possible implementation. Please let me know if this looks like a reasonable approach.

We will define a MediaQuality type with these fields (A used for audio, V used for Video)

- A - audioSamplingRate: 44100
- A - codecs: “mp4a.40.2”
- V - codecs: "avc1.640029"
- AV - contentType: “video” | “audio”
- V - frameRate: 59.94
- V - height: 720
- AV - mimeType: “vide

[2021-10-12 23:53] theodab commented on #3694
Yes, that seems to be the case. @tkayage, if you get the latest code from master, is the problem fixed?

[2021-10-13 00:59] #3687 closed, assigned to nobody

[2021-10-13 06:19] tkayage commented on #3694
Checking that out @theodab

[2021-10-13 19:43] theodab commented on #2337
I wouldn't count on it. At the moment we have 21 P1 issues and 88 P2 issues to get through, and we're a small team.

[2021-10-13 20:39] avelad commented on #1640
The config was added in https://github.com/google/shaka-player/commit/014e14638bb1d2b6bbdbbdcbfe48e0eef821c47c , is it enough?

[2021-10-13 21:48] joeyparrish commented on #1640
Yes, but there was no "closes" in PR #3240, so the issue didn't get closed automatically.

@chadacious, you can now use `manifest.dash.disableXlinkProcessing` to disable xlink.  Thanks!

[2021-10-14 00:10] theodab commented on #3693
There's no built-in way to get the raw audio data from Player. Getting the URIs of the audio streams is possible; you could use `shaka.Player.getManifest()` to get the manifest, drill down to the audio streams inside the variants, and then get the URIs from that.
[code]
Note that the return value of `shaka.Player.getManifest()` is considered to be an internal implementation detail and thus might c

[2021-10-14 07:59] theodab opened #3697 "Outdated TODO in drm_engine.js"
https://github.com/google/shaka-player/blob/529f725ac50c16db442efc7b2b50835af91d8074/lib/media/drm_engine.js#L1824-L1826

The method this comment is in, `getCommonDrmInfos`, was last touched two years ago, when we were converting the file to ES6. At the time, the method was only used inside the `areDrmCompatible` method, which was used in the HLS parser to compare audio and video streams, so it wa

[2021-10-14 10:21] talhaimam opened #3698 "How to enable the resolution selection in player controls of the Shaka Player like it's done in the demo?"
I've been following this issue for a while: https://github.com/google/shaka-player/issues/2676 which is related to my current question.

However, the demo of Shaka Player here:
https://shaka-player-demo.appspot.com/demo/

is designed in the exact same way which we need as a pluggable solution. How is the following achieved in the demo:

![image](https://user-images.githubusercontent.com/18185376/1

[2021-10-14 10:31] #3694 closed, assigned to nobody

[2021-10-14 18:41] joeyparrish commented on #3667
If you're using the browser's built-in controls, we are not in control of rendering.  That is the handled by the browser without our involvement.

I noticed you mentioned Safari on macOS, specifically.  The font size on Safari on macOS may be influenced by your OS settings: https://support.apple.com/lv-lv/guide/mac-help/mh43180/mac

I hope this helps!

[2021-10-14 18:41] #3667 closed

[2021-10-14 18:45] theodab commented on #3698
If you set up Shaka Player [using the optional UI library](https://nightly-dot-shaka-player-demo.appspot.com/docs/api/tutorial-ui.html), the quality selector should be one of the default overflow menu buttons. Or do you mean that you want the quality menu as a standalone thing, outside of the Shaka Player UI?

[2021-10-15 06:23] muqsi opened #3699 "Captions showing with a transparent container."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reproduce the issu

[2021-10-15 07:13] nbcl commented on #2676
As far as I understand the above mentioned pull requests (#3255) (#3465) are still not part of 3.2.1.

[2021-10-15 08:13] theodab commented on #3699
I'm getting an error when I try to load your sample content.
[code]

[2021-10-15 09:06] talhaimam commented on #3698
@theodab I have already played around a lot with the UI library, only to find out that it doesnt make the overflow menu buttons a part of the player itself.

Please refer to the screenshot posted in the question - that is exactly what I need: the resolution selection controls inside the player.

[2021-10-15 18:35] DavidRNogueiraResi commented on #3675
I would like to add that I tested this in every version from 3.0.14 to 3.0.5 and it seems to me that 3.0.13 is the one that introduced this issue. This PR seems suspicious.

https://github.com/google/shaka-player/pull/3497

[2021-10-16 11:09] david-hm-morgan opened #3701 "Subtitle track changed but deselected track remain on screen"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What link can we use to reproduce this?**
https://v3-1-3-dot-shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://livesim.dashif.org/dash/vod/testpic_2s/img_subs.mpd;panel=CUSTOM%20CONTENT;build=uncompiled

**What version of Shaka Player are you using?**
v3.1.

[2021-10-16 17:36] #3679 closed

[2021-10-17 13:34] theyashl opened #3704 "[ERROR] *** A required dependency is missing: C:\Program Files\nodejs\node.EXE"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
v2.6.1

**What browser and OS are you using?**
Windows 10 Home

**What did you do?**
1. Clone git repo
2. `cd shaka-player`
3. run `python build\all.py`

**What did you expect to happen?**
Generate Compiled Bundle in dist folder

**What actually happened?

[2021-10-17 22:05] benbro commented on #3185
Is there a workaround? We are stuck with shaka-player 3.0.5 in angular 11 project.

[2021-10-17 22:36] #3671 closed

[2021-10-17 23:24] theodab commented on #3698
I'm not entirely sure what you mean by controls being "a part of the player" in the first place.

Do you mean that you want the button to be in the main UI bar rather than the overflow menu, like in issue #2676 as you listed? I had assumed that wasn't what you meant, because you said "how is the following achieved in the demo", and the demo doesn't do that, but it is possible:
[code]

For referenc

[2021-10-18 04:06] #2937 closed

[2021-10-18 17:47] TheModMaker commented on #3704
Probably a duplicate of #3551.  Try cloning the project into a folder with a shorter path (e.g. `C:\shaka`).

[2021-10-18 17:56] TheModMaker commented on #3693
That setting changes whether ABR (auto track switching) is enabled.  That has no effect on which tracks exist.  Which track is selected by default depends on the manifest format.  HLS has a `DEFAULT=YES` attribute, for DASH, you can use the `<Role value="main" />` role attribute.

What do you mean that the tracks are all the same?  The URIs are the same?  Could you provide a sample manifest URL?

[2021-10-18 18:29] WINOFFRG opened #3705 "Why are we configuring Controls two times?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
1. In [`shaka.ui.Overlay`](https://github.com/google/shaka-player/blob/master/ui/ui.js#L27) class we are first

[2021-10-18 20:37] joeyparrish commented on #3422
@avelad, I overlooked a question you asked here.  Sorry!  Yes, we can make EwmaBandwidthEstimator configurable.  Feel free to create a PR that expands the ABR section of the player config and feed it to the estimator.

[2021-10-18 21:11] TheModMaker commented on #3089
I am able to reproduce fairly easily with v3.1.1, but cannot reproduce on the latest release (v3.2.1).  Can you try with the latest version to see if it has been fixed?

[2021-10-18 22:32] HugoSaintLaurent commented on #3663
In the current version of the HLS specification available here: https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis#section-4.4.6.2.  There is no mention in the EXT-X-STREAM-INF's CODEC attribute's description that it must contains all the codec that appears for the stream.

[2021-10-18 23:06] #3535 closed

[2021-10-19 00:06] #3691 closed

[2021-10-19 06:10] Yuvalke commented on #3344
Hi @joeyparrish, I wrote in the ticket description the issue what the issue and where it's happening, do you need media to repro?
I solve the issue right now by checking while the media is in stall I make a small seeks until it breaks the stall.

[2021-10-19 09:40] makisp opened #3707 "Shaka 3.X.X causes video to stall every few seconds on some WebOS TVs"
**Have you read the FAQ and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Shaka 3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from master?**
Yes

**Are you using the demo app or your own custom app?**
Own custom app

**If custom app, can you reproduce the issue using our de

[2021-10-19 13:40] AnnaKozlova commented on #3693
@TheModMaker  thanks for the explanation
1.The identical tracks problem: Initially there was a problem that the tracks didn't switch (it made it look like they were the same), but it was on my side and it was solved.
2.The automatic audio track switching problem: Enabled abr caused problem, that even after switching tracks the player automatically switched to the initial track after some time. But

[2021-10-19 16:03] hiren3897 opened #3708 "HLS_KEYFORMATS_NOT_SUPPORTED Error-code: 4026"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.2.1

**Please ask your question**
As the Fairplay was broken in v3.2 and it was working fine in 3.1.x.

But now as we have a fix in v3.2.1. we

[2021-10-19 17:36] #3688 closed, assigned to nobody

[2021-10-19 18:36] #3618 closed

[2021-10-19 19:52] bcupac commented on #3496
Hi @joeyparrish,

Seems that the manifest expired.
I've sent a new email with a new manifest.

Thanks,

[2021-10-19 20:01] #3422 closed

[2021-10-19 20:15] michellezhuogg commented on #3367
Update: got 404 error with the test manifest. Will try again later.

[2021-10-20 06:36] #3704 closed, assigned to nobody

[2021-10-20 21:29] TheModMaker commented on #3584
Looking at the content again, the `output_files_audio_only.zip` content is actually invalid.  The `CODECS` attribute should specify ALL the codecs for the streams.  Since the audio group contains both codecs, then the two `EXT-X-STREAM-INF` tags should list both codecs.

Since this is either bad content or something we can't detect, I'm moving this to Shaka Packager and we can handle generating be

[2021-10-20 22:07] OrenMe commented on #3673
Would be great to get some of the ideas suggested taken into consideration.
For us the main issues are around playback on smart TVs where the play pause definitely doesn't always help and we have added our own mechanism to combine small seeks as well to get out of player getting stuck.

[2021-10-20 22:52] FireMasterK opened #3709 "Playback Speed resets to 1x"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Haven't tried

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reprodu

[2021-10-21 10:37] Pereverzev-Alexander opened #3710 "Obfuscated parameter names "oldTrack" and "newTrack" for "adaptation" and "variantchangeds" events"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0.compiled and 3.2.1.compiled

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Not checked

**Are you using the demo app or your own custom app?**
Own custom app

[2021-10-21 13:15] AnnaKozlova commented on #3693
I think this is due to the fact that the audio plays from the main player (with video) and only then switches to another audio player

[2021-10-21 14:45] WINOFFRG opened #3711 "Changing video current play time"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Please ask your question**
Hello! I am trying to create custom buttons that are able to skip a video `±X` time. So, for that, I decided t

[2021-10-21 15:30] avelad opened #3712 "CMCD breaks offline downloads"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** Nightly

**Can you reproduce the issue with our latest release version?** N/A

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Demo APP

**If custom app, can you reproduce the

[2021-10-21 19:46] TheModMaker commented on #3711
`PlayRateController` is an internal component and shouldn't be used by apps.  Trick play is fast forward, which controls the playback rate, not directly the current time.  For positive playback rates, you can just set the `video.playbackRate`; for rewind (or fast forward if you want), you can use `player.trickPlay(2)`.

The correct way to change the current time is setting `video.currentTime`.  Fo

[2021-10-21 20:05] TheModMaker commented on #3709
This is caused by us canceling trick play when you click the UI button ([source](https://github.com/google/shaka-player/blob/221637a66c04d4fdc4767fea027c48a5601ac972/ui/controls.js#L615)).  As a workaround, you can set the `video.defaultPlaybackRate` to the value you want to use, or use `player.trickPlay(value)` to set the playback rate.

[2021-10-21 22:40] stuartflanagan commented on #3076
I have not tried this yet as I just saw it. Thank you for following up though @joeyparrish I will give it a go

[2021-10-22 01:48] #3711 closed, assigned to nobody

[2021-10-24 08:52] #3698 closed, assigned to nobody

[2021-10-25 10:48] micolous opened #3715 "608 Captions demo contains incorrectly-formed files"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Does not appear to be an existing issue, or in the FAQ :)

**What link can we use to reproduce this?**

These two streams are in the demo list:

https://shaka-player-demo.appspot.com/demo/#audiolang=en;textlang=en;uilang=en;asset=https://livesim.dashif.org/dash/vod/testpic_2s/cea608.mpd;panel=ALL_CONTENT;p

[2021-10-26 00:18] #3710 closed, assigned to theodab

[2021-10-26 07:38] #3712 closed, assigned to nobody

[2021-10-26 21:47] romsil opened #3717 "Fatal playback failure due to phantom media segment request"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom app.

**If custom app, can you reproduce th

[2021-10-27 07:52] UeliDeSchwert opened #3718 "Feature Request: SRD Support"
In the second amendment to MPEG-DASH, an extension called "SRD" (Spatial Relationship Description) is described.

In more detail, the workings of this technology are described in the Proceedings of the 7th International Conference on Multimedia Systems' paper by Niamut, Thomas, D'Acunto, Concolato, Denoual and Lim: [MPEG DASH SRD - Spatial Relationship Description](https://2016.acmmmsys.org/papers

[2021-10-27 11:59] yairans opened #3719 "Live multi period gets stuck"
**What version of Shaka Player are you using?** 3.2.1

**Can you reproduce the issue with our latest release version?** yes

**Are you using the demo app or your own custom app?** demo app

**What browser and OS are you using?** mac chrome

The manifest is multi period where the period base url alternates alternately from one period to another.
Let's call the working period "working" and the not w

[2021-10-28 14:35] krackjack234 opened #3720 "Dash/Live HLS + IMA ads failing to play in Samsung Tizen browser or in iPhone simulation mode on Chrome Browser"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
Latest

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo app. Below is the url

https://shaka-player-

[2021-10-29 10:00] hiren3897 opened #3722 "MEDIA_ELEMENT_ERROR: Format error"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
latest v3.1.2
**Please ask your question**
I have created a plugin that fetches our clients URLs and returns various mp4 VOD URLs.
when I do `play

[2021-10-29 14:36] vaseala opened #3723 "How to fork one request to two in the registerRequestFilter?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes!

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes!

**What version of Shaka Player are you using?**
3.2.1

**Please ask your question**
I convert a mp4 file to dash which have a video file with the size of 30,000KB, for example.
Then For some r

[2021-10-29 18:12] michellezhuogg commented on #3719
Hello @yairans ,
Thank you for reaching out! Please help me to understand your bug better. What are you expecting the player to do with the "not working" period?
Btw, if you can shorten the logs and display only the relevant messages, it would be easier for us to read. Thank you!

[2021-10-29 18:19] michellezhuogg commented on #3722
Hello @hiren3897 ,

If you got and "VIDEO_ERROR" with code 3016, it means the video element reported an error.
error.data[0] is a MediaError code from the video element. On Edge, error.data[1] is a Microsoft extended error code in hex. On Chrome, error.data[2] is a string with details on the error.
It would be great if you share your manifest and the platform information you are using with us, so

[2021-10-29 19:09] joeyparrish commented on #3722
If you created your own scheme plugin, it is likely that you have a bug in that plugin.  Could you share that plugin?  Are you returning MP4 URLs from the plugin, or are you delegating to another request to that URL?

If you "return a URL" from your plugin, then the text of that URL is what is fed to the browser as media.  You probably want to create another request to that target URL, and return

[2021-10-29 19:21] OrenMe commented on #3719
Hi @michellezhuogg , I'll answer on behalf of my colleague as he is not working today.
What we saw is that playback fails when playing the manifest in the "bad" period. We want it to play successfully basically.

What we observed though is strange and there is some compound effect here.
Basically there is content periods and transition periods.
As @yairans mentioned, if when a user loads the strea

[2021-10-29 21:56] king-prawns opened #3724 "Some subtitles in the manifest are not shown in the player"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reproduce the issue

[2021-10-30 22:06] theRealRobG opened #3726 "Support HDR notification in DASH via essential / supplemental property"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
👍

**Is your feature request related to a problem? Please describe.**
Currently the only way that a HDR stream is identified (when parsing DASH) is via the approach described in DASH-IF IOP v4.3 10.3.3. (profiles and codecs).

However, in HLS, HDR is indicated through the `VIDEO-RANGE` attribute on the `EXT

[2021-10-30 22:06] theRealRobG commented on #3726
I'm working on a solution 👍

[2021-10-31 04:11] Dador opened #3728 "Shaka Player UI shows wrong caption selection if TextTrackVisibility was changed after UI init"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Yes.

**Can you reproduce the issue with the latest code from `master`?**
Considering the cause, probably could reproduce, but I didn't tried.

**Are you using the demo app or your o

[2021-10-31 12:57] theRealRobG opened #3729 "Use HDR information (transferFunction) when getting decoding info from Media Capabilities API"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**Is your feature request related to a problem? Please describe.**
When we query `decodingInfo` via the `mediaCapabilities` we send the minimal [`VideoConfiguration`](https://w3c.github.io/media-capabilities/#videoconfiguration) possible:
https://github.com/google/shaka-player/blob/v3.2.1/lib/util/str

[2021-10-31 12:57] theRealRobG commented on #3729
I'm working on a solution 👍

[2021-10-31 15:27] WINOFFRG commented on #3705
Yes, the Overlay constructor when creates new controls - configures the UI controls itself and hence there is no need to configure the controls again. It is ultimately affecting the time complexity for UI configuration. So what do you propose Sir? **Should we remove this call?** Should I raise the PR for it? https://github.com/google/shaka-player/blob/b8b72a900d155ef085e72e62b5da697d67990c04/ui/ui

[2021-11-01 12:12] OrenMe commented on #3567
@joeyparrish does this help? were you able to review the email and test with the test link?
I read a bit more and asked around in video-dev on it and stumbled on a link to discussion in exoplayer https://github.com/google/ExoPlayer/issues/4780 around that matter that led to another one in dash-if https://github.com/Dash-Industry-Forum/Guidelines-TimingModel/issues/31 but I'm still  don't know if t

[2021-11-01 12:24] OrenMe commented on #3719
@michellezhuogg was my explanation helped to make the issue more clear?

[2021-11-01 15:33] bcupac opened #3731 "Memory Leak / Unhandled Promise Rejection: AbortError: Fetch is aborted - Safari playing DASH"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
archived https://github.com/google/shaka-player/issues/3020

**What version of Shaka Player are you using?**
3.1.2

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom a

[2021-11-01 18:25] TheModMaker opened #3732 "UITextDisplayer doesn't clip regions to video"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.2.1 or latest

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo app

**If custom app, can you repr

[2021-11-02 02:28] theodab opened #3733 "Angel One HLS SeekRange incorrect"
When playing `Angel One (HLS, MP4, multilingual)` in the demo, the video ends with the seek bar not fully filled:
<img width="982" alt="Screen Shot 2021-11-01 at 7 04 30 PM" src="https://user-images.githubusercontent.com/21047092/139775133-85335a62-fb58-4852-9ca8-72f73e4c80ac.png">

Further investigation reveals that the player reports a seek range of 0 - 64 seconds. Looking into some calls, it ap

[2021-11-02 08:19] hiren3897 commented on #3722
[code]

I also tried to pass a mimeType while loading the player but it gives 3016 and without providing mimeType it gives 4000 error code.
[code]

Am I doing it the right way?

[2021-11-02 08:34] fredrik-telia opened #3734 "Play from position in Safari 15"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.1

**Please ask your question**
We've noticed a change in behaviour from Safari 14 to Safari 15 regarding playback position.

We have a use ca

[2021-11-02 10:57] hiren3897 commented on #3708
can you please help me with this error?

as I have described earlier
If I try to load my hlsfairplay URL directly in player with DRM and serverCertificate it plays really well.

BUT

if we parse it through the plugin it gives an error on macOS as `4026`

[2021-11-02 13:20] fredrik-telia commented on #3734
We will see if we can configure the manifest with #EXT-X-START to indicate where the stream should start, perhaps we won't need any workarounds.

[2021-11-02 13:59] boredom2 opened #3735 "Calling for not-existing Chunks"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

yes

**What version of Shaka Player are you using?**

3.2.0 and 3.2.1

**Can you reproduce the issue with our latest release version?**

yes

**Can you reproduce the issue with the latest code from `master`?**

yes

**Are you using the demo app or your own custom app?**

custom

**If custom app, can you re

[2021-11-02 17:18] valotvince opened #3736 "Freeze in SSAI streams reporting same Period identifiers across multiple breaks"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
✅

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
✅

**What version of Shaka Player are you using?**
v3.2.0

**Please ask your question**
:wave:

Question following an issue we had with DASH SSAI multi-periods streams, where we'd encounter enormous fr

[2021-11-02 18:25] joeyparrish commented on #3724
Do you see all three text tracks in `player.getTextTracks()`?  If so, this is merely a UI issue.

[2021-11-02 18:38] joeyparrish commented on #3728
Thank you for the detailed report!  Would you be interesting in sending a PR for this?

[2021-11-02 18:51] joeyparrish commented on #3729
Thank you!

[2021-11-02 20:25] king-prawns commented on #3724
Hey @joeyparrish,
Unfortunately it doesn't seems a UI issue because `player.getTextTracks()` returns only 2 tracks.

I opened a PR that fix the issue: https://github.com/google/shaka-player/pull/3725
there are a couple of solutions.

[2021-11-03 00:04] egalvan10 opened #3738 "Getting error 4000 when using a redirect URI for MP4"
Have you read the FAQ and checked for duplicate open issues?
Yes

What version of Shaka Player are you using?
v3.2.1 or latest

Can you reproduce the issue with our latest release version?
Yes

Can you reproduce the issue with the latest code from master?
Yes

Are you using the demo app or your own custom app?
Custom app

What browser and OS are you using?
Any

What configuration are you using? Wh

[2021-11-03 01:36] Dador commented on #3728
I can do it if it's necessary. My dev env is not ready for shaka player, so I actually prefer if you can just commit it.

[2021-11-03 11:21] avelad commented on #3521
Note: the same issue occurs with font-size

[2021-11-03 11:39] boredom2 commented on #3735
We see this Behaviour now more and more often.
For example also here: https://sdn-global-streaming-cache.3qsdn.com/42628/files/21/11/03/4118460/42628-DYXN8VFWwz9HGky.ism/manifest.mpd

This leads to various Issues and I would like to know, if there is something we can do about that?

[2021-11-03 16:22] ScripterYoda opened #3739 "Current time's height wrong on safari"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**What browser and OS are you using?**
Safari browser v13

**What did you do?**
Open any video, even in S

[2021-11-03 17:32] #3521 closed

[2021-11-03 17:32] #3600 closed

[2021-11-03 21:40] #3729 closed

[2021-11-04 00:34] #3733 closed

[2021-11-04 06:47] avelad opened #3740 "Hardcoded color in UITextDisplayer"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** Master

**Can you reproduce the issue with our latest release version?** N/A

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Both

**If custom app, can you reproduce the issu

[2021-11-04 06:52] avelad commented on #3740
Related to https://github.com/google/shaka-player/issues/3670

Acoording to @joeyparrish https://github.com/google/shaka-player/issues/3670#issuecomment-929402477, `I think hard-coding styles in JS is not a good pattern`

[2021-11-04 07:06] avelad opened #3741 "TTML - styles applied to body are not applied to cues."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** Master

**Can you reproduce the issue with our latest release version?** Don't apply

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Demo app

**If custom app, can you reprod

[2021-11-04 07:12] avelad opened #3742 "Previous cues aren't cleared on seek"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** Master

**Can you reproduce the issue with our latest release version?** Dont' apply

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Demo app

**If custom app, can you reprod

[2021-11-04 07:26] avelad opened #3743 "TTML - font-size is not applied in nested cues"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 3.2.1

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Custom app

**If custom app, can you reproduce the

[2021-11-04 07:48] avelad commented on #3742
Maybe related to https://github.com/google/shaka-player/issues/3701

[2021-11-04 07:53] avelad commented on #3720
The Tizen part is likely related to https://github.com/google/shaka-player/issues/2792

[2021-11-04 10:51] hiren3897 commented on #3722
@joeyparrish @michellezhuogg can you please help! me with this error.

Thanks

[2021-11-04 12:27] philippe-elsass-deltatre commented on #3185
Not sure it's about interaction with other libraries. Even the simplest TS project doesn't compile.
[code]
Compiling:
[code]
Only workaround I found was to delete the `.d.ts` file...

[2021-11-04 14:34] hiren3897 commented on #3708
My Plugin used for this feature,
[code]
[NOTE]
It works in Linux and windows on chrome and firefox.
It doesn't work on macOS Safari = throws `4026` `HLS_KEYFORMATS_NOT_SUPPORTED`
It doesn't work on iOS = throws undefined URL cannot load `3016`

[2021-11-04 16:13] ilFuma opened #3744 "bufferingGoal is not reached"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
✔ Yes

**What version of Shaka Player are you using?**
v 3.2.1

**Can you reproduce the issue with our latest release version?**
✔ Yes

**Can you reproduce the issue with the latest code from `master`?**
✔ Yes

**Are you using the demo app or your own custom app?**
Custom App

**If custom app, can you repro

[2021-11-05 07:04] david-hm-morgan commented on #3521
Hi @TheModMaker
thanks for the elegant solution to this issue.  I just retested with [the nightly demo](https://nightly-dot-shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://livesim.dashif.org/dash/vod/testpic_2s/xml_subs.mpd;panel=CUSTOM%20CONTENT;build=uncompiled)

I wonder if there is a small tweak needed to deal with the extra piece of background fil

[2021-11-05 08:42] hiren3897 commented on #3738
maybe related to my issues #3722

[2021-11-05 17:01] eliezer-pearsports commented on #3738
This issue was solved by manually setting the content-type value as follows:

`player.load(video_uri, null, 'video/mp4')`

The player then plays the MP4 using the redirect URL.

[2021-11-05 17:02] egalvan10 commented on #3738
This issue was solved by manually setting the content-type value as follows:

`player.load(video_uri, null, 'video/mp4')`

The player then plays the MP4 using the redirect URL.

[2021-11-05 17:02] #3738 closed

[2021-11-05 17:04] #3722 closed

[2021-11-06 17:04] FireMasterK opened #3745 "Captions use the Entire screen"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Not tried

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reproduce t

[2021-11-07 18:39] FireMasterK opened #3746 "4030 on HLS Manifest"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Not sure

**Are you using the demo app or your own custom app?**
Demo

**What browser and OS are you using?**

[2021-11-07 23:25] gscragg opened #3747 "DRM decryption not used on playready multi period content"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes.

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom and demo

**If custom app, can you reprodu

[2021-11-08 05:04] OrenMe commented on #3719
Hi @michellezhuogg did you get a chance maybe to look?

[2021-11-08 05:06] OrenMe commented on #3567
Hi @joeyparrish did you get a chance to review the details and test stream sent over the email?

[2021-11-08 09:41] hiren3897 commented on #3708
hello @TheModMaker @joeyparrish
Can you please help me with this?

Thanks :)

[2021-11-08 14:08] pcruiksh commented on #3746
In case this is the same issue, we're seeing this with HLS SSAI content where the number of discontinuities in the VTT playlist occasionally exceeds the number of discontinuities in the A/V media playlists, due to the VTT playlist sometimes being 1 or more segments longer.

Shaka caches the timestamp offsets for discontinuities in the `discontinuityToTso_` map (which requires a partial fetch of th

[2021-11-08 14:33] pcruiksh opened #3749 "Don't use cached timescale for embedded captions when timescale can be parsed from the media segment"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reproduce the iss

[2021-11-08 15:43] SadiqaliZaveri commented on #3654
We have internally solved the issue by fixing the content. The content has been re-transcoded with newer profile settings. Unfortunately, I do not know and cannot retrieve what these new profile settings are 😞. Closing the issue.

[2021-11-08 15:43] #3654 closed

[2021-11-08 17:35] avelad commented on #3740
@joeyparrish can you review it?

[2021-11-08 18:22] joeyparrish commented on #3740
Yes, you're right.  Thanks!

I added priority and component labels.

[2021-11-09 00:57] agajassi commented on #3627
### LATEST UPDATE

Revisited this use case and retested with Shaka Player 3.2.1. It still doesn't play. Seeing following errors:

**Error Code: 6005 - FAILED_TO_CREATE_SESSION
Not Supported Error. The CDM refused to create a session for some unknown reason.**

**Error Code: 3016 VIDEO ERROR
The video element reported an error**

[2021-11-09 13:20] mivannikoff opened #3750 "Changing audio track in Edge browser"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.2.1-uncompiled

**What browser and OS are you using?**
Windows 10 and Edge 95 (Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36 Edg/95.0.1020.44)

**What did you do?**
1. Open a demo pla

[2021-11-09 19:21] agajassi commented on #3582
On PS5 I noticed that issue as well and it is same both with 3.2.0 and 3.2.1. _mediaCapabilities.decodeInfo_ function does not exist on PS5.

Does anybody know if there a workaround for this? I am curious if it is a known issue or needs a separate ticket.

[2021-11-10 04:52] theodab commented on #3750
Reproduced. Thanks for the report.

[2021-11-10 20:31] mivannikoff commented on #3750
@theodab I am glad to help! Could you tell me if there is a workaround? It's important for me.

[2021-11-11 09:14] theodab commented on #3750
After some testing, it looks like this consistently happens if you change the audio language after 6 seconds in. If you change before that point, it works fine.

So if you need a workaround in the short-term, well... it's not ideal, but if your content is VOD you could pause the video, seek back to time=0, change the language, then seek back to your original position. Wait a few moments between se

[2021-11-11 18:07] joeyparrish opened #3752 "Sync translation updates into Google's internal translation system"
We have updated translations in this project that need to be pushed back upstream into Google's internal translation system (which is the source of these strings).  This will ensure that our next dump from that system doesn't overwrite and undo these improvements.  (For example, see PR #3751)

[2021-11-11 21:19] bknill opened #3753 "Buffering and no adaption"
This isn't a bug, I'm just struggling to get ABR working and couldn't get any help on Stackoverflow.  I assume the problem is with my manifests/config so I'm asking for help with those.

Stackoverflow post: https://stackoverflow.com/questions/69921263/shaka-player-does-not-adapt-bitrate

Long and short: I get the video playing at the higest resolution, it buffers and stops regularly and I'd expect

[2021-11-12 08:45] dwassing commented on #3185
Just wanted to leave a comment here, as I ran into this issue today as well (as mentioned by @philippe-elsass-deltatre above).

I wanted to try out shaka drm capabilities with a simple Angular project (following [the official guide](https://github.com/PatrickKalkman/shaka-player-angular)), but adjusting for webpack (import * as shaka from 'shaka-player'; etc), but I found myself forced to go with

[2021-11-12 09:52] philippe-elsass-deltatre commented on #3185
Honestly for now I have to stay with latest 2.x (2.5.9). It's stable and doesn't get in the way.

[2021-11-12 09:54] EyMaddis commented on #3185
We are also stuck on an old version with no end in sight

[2021-11-12 11:24] demetrius-tech commented on #3257
I also encounter this issue and would be nice to have it fixed soon. What "priority:P3" means?

[2021-11-12 16:14] caridley commented on #3567
We are also having problems when a cloud DVR stream transitions from dynamic to static during playback. We have reproduced our problem with Shaka 3.1.2 and 3.2.1. Our problem does not occur with Shaka 2.5.22

[2021-11-12 23:07] #3431 closed

[2021-11-13 00:25] ch091e commented on #1936
@joeyparrish I saw the item above is in progress. Do you know if there is an ETA to rollout the release on Shaka player to general user? thanks!

[2021-11-13 11:04] TobbeEdgeware commented on #3715
The test content was erroneous but should now be fixed. The ffmpeg error message is pretty misleading. The captions were not actually truncated but the last byte of the SEI NAL unit was 0xff instead of 0x80 and the payload length signalling included that 0xff byte which it should not. This is discussed is https://github.com/Dash-Industry-Forum/dash-live-source-simulator/issues/99.

It is of course

[2021-11-13 11:27] WINOFFRG commented on #3705
Hello @joeyparrish ! Any updates on this issue?

[2021-11-13 17:55] joeyparrish commented on #3705
Yes, of course.  Feel free to send a PR.  Thanks!

[2021-11-13 19:35] WINOFFRG commented on #3705
Hello! I was just testing by removing the extra control configuration call https://github.com/google/shaka-player/blob/b8b72a900d155ef085e72e62b5da697d67990c04/ui/ui.js#L141 as we discussed above.

But found that, Test seemed to failed. Controls were not configured in the test browser. Moreover, The local live server which I created for my testing was using uncompiled version and there seemed no i

[2021-11-13 20:00] theodab commented on #3705
I would try removing the call to configure within `shaka.ui.Controls` instead:

https://github.com/google/shaka-player/blob/bd7b384c662b04ca4d9d083cc210ac7776a138a4/ui/controls.js#L171

The one that you disabled is the line that is responsible for changing the controls if the UI is reconfigured after creation, which is something we still need. It's also something a lot of the UI tests use, so it m

[2021-11-13 20:20] WINOFFRG commented on #3705
Now understood why the test failed! Thanks. Yes, at first I also thought to remove that one, but later found that the many functions in the `controls.js` were dependedent on that property. So, got no move but ultimately I realised that we are still making some extra calls which is configuring UI multiple times. Not sure on this.

Please do share an update. Thanks

[2021-11-15 06:55] OrenMe commented on #3567
thanks for the feedback @caridley , @joeyparrish any chance to get this checkd?

[2021-11-15 15:15] bcupac opened #3755 "Duplicate captions appear often after seeking."
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
uncompiled shaka player demo

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
yes

**Are you using the demo app or your own custom app?**
demo app

**If custom app,

[2021-11-15 16:05] avelad commented on #3755
Duplicate of https://github.com/google/shaka-player/issues/3742

[2021-11-15 16:45] Wayne-Morgan opened #3756 "Play vod manifest created from live (similar to closed issue?)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.2 / 3.3.0-pre

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**#
Both

**If custom app, can you reprod

[2021-11-15 19:55] TheModMaker commented on #3735
Closing as duplicate of #3717.

[2021-11-15 19:55] #3735 closed

[2021-11-15 19:57] RufaelDev commented on #3756
https://dvb.org/wp-content/uploads/2020/02/A168r3_MPEG-DASH-Profile-for-Transport-of-ISO-BMFF-Based-DVB-Services_ts_103-285-v140_June_2021.pdf clause 10.9.7 indicates how a player should be able to handle such cases of converting live to vod,  in this case the first period may have a start time that is not zero as mentioned above, so i think it is important to test this behaviour well in shaka pla

[2021-11-15 20:01] TheModMaker commented on #3741
The font size looks correct, but the alignment is wrong.  It looks like the region positioning is being applied twice, so the inner cue is being positioned relative to an outer `<div>`, which is also positioned.

[2021-11-15 20:18] TheModMaker commented on #3747
I think this is a known bug on Edge.  We've seen several bugs (e.g. #1438) where this happens.  We just pass the data to the browser and the browser handles decoding and playback.  If you are seeing garbled video output, this is probably a problem with the browser.

Unfortunately all our old issues were probably thrown out with the transition to Chromium, and I can't find any Edge issue trackers.

[2021-11-15 20:21] TheModMaker commented on #3746
4030 is [HLS_COULD_NOT_PARSE_SEGMENT_START_TIME](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:4030).  This could either be a bad media segment, or a bug in our parsing of it.  We'll look into it when we can.

[2021-11-15 20:30] TheModMaker commented on #3744
The browser imposes limits on how much content can be buffered.  The media is stored in RAM, so how big this limit is will depend on the device and the content resolution.  You will fill up the buffer much faster with 4k than with 480p since it is much larger.  Unfortunately the browser doesn't give us any info on how much this limit is, we just get an error if we fill it up.

If this is happening

[2021-11-15 21:01] gscragg commented on #3747
Ok thanks for responding, I had a test and if both periods are encrypted then playback is fine.

However #3529 is causing issues in chrome where 2 periods CAN'T be encrypted.

[2021-11-16 16:45] #3744 closed

[2021-11-17 06:40] beka-discovery commented on #3159
Hi. Beka from Discovery Inc is here.
If there is a suggested way we could follow to introduce Period Change event, so we could use internally patched Shaka Player version until you folks deliver the proper fix.
Or we could collaborate if we would have some directions to follow.

[2021-11-17 09:26] mohamedfasil commented on #1545
any update on this ?

[2021-11-17 11:20] toninospiderman123 opened #3757 "LL HLS MANIFEST.HLS_INVALID_PLAYLIST_HIERARCHY"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.3.0, 3.2.1

**Please ask your question**
I'm trying to play a Low Latency HLS manifest on shaka player but i receive this error MANIFEST.HLS_INV

[2021-11-17 14:03] pooryak opened #3759 "Ima sdk integration with Shaka in react"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
2.5.10

**Please ask your question**
https://shaka-player-demo.appspot.com/docs/api/tutorial-ad_monetization.html
I read the documentation on this

[2021-11-17 16:05] domenico-montalbano-deltatre opened #3760 "Firefox slow startup with Dash DRM"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What version of Shaka Player are you using?** 3.2.1

**Can you reproduce the issue with our latest release version?** Yes

**Can you reproduce the issue with the latest code from `master`?** Yes

**Are you using the demo app or your own custom app?** Custom app

**If custom app, can you reproduce the

[2021-11-17 17:01] didof commented on #2358
Is this PR going to be accepted?

[2021-11-17 17:47] rhyswilliamsza commented on #3567
I am also experiencing this issue on my Chromecast receivers since the [SDK was updated to v3.0.13](https://developers.google.com/cast/docs/release-notes#october-26,-2021). My streams are generated by FFMPEG, and move from dynamic to static once encoding has been completed.

[2021-11-18 12:08] pszemus opened #3761 "Missing metadata event with timed ID3 data in HLS stream from Telos Z/IPStream X/2 encoder"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
v3.2.1 (uncompiled)

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
didn't try

**Are you using the demo app or your own custom app?**
demo app

**What browser and

[2021-11-18 14:36] prashant-hotstar opened #3762 "Subtitles coming in reverse order"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**
Latest 3.3.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
demo app

**If custom app, can you reproduce th

[2021-11-19 08:03] avelad opened #3763 "Use Media Fragments to set the startTime in SRC="
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**Describe the solution you'd like**

Use Media Fragments to set the startTime in SRC= instead of use `shaka.media.SrcEqualsPlayhead` to set the startTime

**Describe alternatives you've considered**

Leave the current behavior.

**Additional context**

See: https://caniuse.com/media-fragments
Just add

[2021-11-19 15:27] velopeshoys commented on #3582
Using Shaka 3.1.0 and setting `persistent-license` as `sessionType` seems to fix the problem partially, however when the session is updated the following error  is thrown  `Shaka Error DRM.LICENSE_RESPONSE_REJECTED`.

[2021-11-19 17:24] diogoazevedos commented on #3582
After an extensive investigation, we found that PS5 doesn't support PlayReady license acknowledge, which causes the CDM to reject the license response. However, by removing the `TrasactionId` from the license response, it should work fine.

[2021-11-20 08:10] synologic opened #3764 "Start of playback failure handling"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.1

I am trying to perform some error handling for the initial play request.
My config looks as follows:

streaming: {
      bufferingGoal : 12

[2021-11-22 15:23] joeyparrish commented on #3753
Your lowest bandwidth video stream appears to be 4 megabits per second, which is pretty high.  And all of your streams are the same resolution (2k pixels wide).  You should vary the resolution and provide lower bandwidth options.

You might want to try Shaka Steamer to encode and package the content.  It has what we consider to be good defaults for resolutions and bandwidth.

https://github.com/go

[2021-11-22 15:26] joeyparrish commented on #3185
We apologize for the generated Typescript definitions.  This is not a Typescript-native project, and the tools we are using to generate the definitions are clearly not able to do everything we need.  I will increase the priority of this issue.

In the meantime, you may wish to work around the issue with hand-written definitions to import Shaka Player into your Typescript project.  We apologize for

[2021-11-22 15:29] joeyparrish commented on #3257
I don't know the distribution terms of Google's fonts offhand.  It's possible that they could be distributed with the player, but caching performance will be better if a common URL is used across sites.  A user who has used any other app with those fonts will have them in cache when they visit your app, and vice-versa.

May I ask why the fonts must be distributed from your server?

If you really i

[2021-11-22 15:32] joeyparrish commented on #3257
@demetrius-tech, the descriptions of each label can be seen in the project's labels list or by mousing over the label.  Our priority system goes from P0 (most urgent) to P4 (least urgent), with specific guidelines for each based on impact and severity.

[2021-11-22 15:36] joeyparrish commented on #1936
We ran into issues with this that caused us to pause the work and switch focus to containerless formats (HLS packed audio) instead.  The team's resources are very limited right now, and we have no ETA at this time.

[2021-11-22 15:39] demetrius-tech commented on #3257
@joeyparrish Thank you for your answer. We have firewalls that do not allow us to access the external resources. In case there is no solution to this, then I will look for an workaround.

[2021-11-22 15:40] joeyparrish commented on #3715
Our implementation was independent and largely based on the spec.  So I'm not surprised that it was strict in this way.

I'm not opposed to making changes to make it more forgiving.  But the engineer who contributed this feature is no longer with us, so we would very much appreciate a pull request from anyone who is interested in this issue.  Thanks!

[2021-11-22 15:52] TobbeEdgeware commented on #3715
My understanding is that this issue is about the NAL unit parsing code not being strict enough regarding the `rbsp_trailing_bits` and length field, so the request is to make the code stricter and not more forgiving.

[2021-11-22 16:01] joeyparrish commented on #3723
I would suggest that you split the files on segment boundaries instead.  Then you can more easily modify the DASH manifest to refer to the correct URLs.

Or better yet, package the content into separate files per segment in the first place.  Then you won't have to modify anything in the manifest or player.  This is what most people seem to do.

If you are using Shaka Packager or Shaka Streamer, I

[2021-11-22 16:11] joeyparrish commented on #3257
Have you tried overriding the font face rule with your own CSS?  You wouldn't even have to modify the existing CSS, I think.

[2021-11-22 16:12] joeyparrish commented on #3715
In either case, a PR would be welcome.

[2021-11-22 16:54] denissabramovs commented on #1030
Was surprised that shaka-player doesn't have types. Any updates on this?

[2021-11-22 18:04] king-prawns commented on #3724
Hey @joeyparrish,
I opened another PR with another possible solution to fix the issue: #3765

[2021-11-22 22:07] bknill commented on #3753
Great thanks it does. We're using AWS Media Converter, and these are 360 video files so I was trying to avoid changing the sizes because when they're rendered on the sphere it's fairly noticable when it changes. But I'll try lower resolutions.

Thanks!

[2021-11-23 00:12] stuartflanagan opened #3766 "Severity 2 error with no Code: `a.getAttribute is not a function`"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Locally yes

**Can you reproduce the issue with the latest code from `master`?**
I am not sure I cannot build the master version

**Are you using the demo app or your own custom app?*

[2021-11-23 02:01] vaseala commented on #3723
@joeyparrish  Thanks！

The scheme I am using now is a proxy URL:
First, pass the fragments information to the header of the URL in the request filter.
Then load multiple segments in the response filter, and then concat them and assign them to response.data.
It's not too elegant, so I want to use a more elegant way to achieve.

I don't want to divide a file into too many segments, I want to divide

[2021-11-23 11:50] theRealRobG opened #3767 "Forced subtitle DASH support checking for wrong Role@value"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
N/A

**If custom app, can you reproduce the issue

[2021-11-23 12:29] sobbe81 opened #3768 "Problem with playback not always starting on Safari 15"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom

**If custom app, can you reproduce the issue u

[2021-11-23 19:38] caridley commented on #2940
We need this as well, to prevent captions from covering important content like scores in sports programming.

[2021-11-23 21:54] pcruiksh opened #3769 "Primary audio not observed for HLS"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.1.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
custom

**If custom app, can you reproduce the iss

[2021-11-24 09:58] xoundboy opened #3770 "Help with interpretation of Chrome dev tools' performance profiling"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.13

**Please ask your question**
I've been investigating performance issues with the latest CAF v3 when playing some of our live streams. I no

[2021-11-24 15:02] bcupac commented on #3496
Turns out that was an issue with our DRM config. Closing ticket.

[2021-11-24 15:02] #3496 closed

[2021-11-24 19:12] OrenMe commented on #3567
@joeyparrish would appreciate your feedback here, not sure where to even start looking

[2021-11-24 22:12] caridley commented on #3159
A period id could be added to the recently implemented media quality change events https://github.com/google/shaka-player/pull/3700

[2021-11-24 22:39] TheJohnBowers commented on #3243
I ran into this issue also.  I was hunting around to find a duplicate before I created a new bug, and it appears I have found one.  In my particular test I tested on safari and switching audio tracks fails, but tried in edge on win10 and it works.  I chose these two browsers because the video is HEVC and won't work anywhere else, but if you want another test asset that duplicates the issue (and on

[2021-11-25 05:51] #3699 closed

[2021-11-25 17:24] ProtoScott opened #3772 "[Chromecast] androidReceiverCompatible not supported"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Both

**If custom app, can you reproduce the issue

[2021-11-25 17:25] ProtoScott commented on #3772
I have already written a fix for this and will hopefully raise a PR in the next hour or so.

[2021-11-25 17:30] ProtoScott commented on #3772
@joeyparrish How do we update: https://shaka-player-demo.appspot.com/docs/api/tutorial-ui.html

[2021-11-25 18:20] ProtoScott commented on #3772
I've tried to build my changes however I'm getting an error:

` [JSC_WRONG_ARGUMENT_COUNT] Function chrome.cast.SessionRequest: called with 4 argument(s). Function requires at least 1 argument(s) and no more than 1 argument(s).`

Which is strange as the documentation clearly states that there is one required parameters, the appId, and 4 optional parameters:
[Google Cast Documentation - chrome.cast

[2021-11-26 08:51] denissabramovs opened #3774 "HLS playback stops after seeking"
Using `shaka-player v3.2.1`

Here is a recorded video of playback issues:
https://share.vidyard.com/watch/BcXX5UhK5NsCo2KMXm4CnS?

Sometimes, but not always, after seeking a playback stucks, but time clock on a timeline is ticking.

Some seeking problem is visible in video as well. That jump from 05:17 to 08:02, almost 3 hours jump in just a tiny part of timeline... I have re-checked, there is no

[2021-11-26 08:55] denissabramovs commented on #3774
Here are contents of all 3 playlists:
https://gist.github.com/denissabramovs/6c41dd9a5154435699a080e82f61c725
https://gist.github.com/denissabramovs/b408e2dda0f55a2999118f4bca97a94d
https://gist.github.com/denissabramovs/8bc73781a647e4fa73ba100671aba0b1

[2021-11-26 08:56] denissabramovs commented on #3774
No DISCONTINUITY for the whole time of recording.

[2021-11-26 11:32] denissabramovs commented on #3774
No additional settings applied, only `await player.load(manifestUri);`

[2021-11-26 14:54] denissabramovs opened #3775 "deSync in video and audio playlists is breaking shaka-player"
Using `shaka-player v3.2.1`

![image](https://user-images.githubusercontent.com/65600131/143598790-2fba76d1-5e76-4da1-8038-b6038028f5f6.png)

**Current behavior**:
We have found out, that when video playlist is falling behind or stuck for some reason and audio playlist is ahead of it, then it breaks whole timeline for shaka-player.
You can remove some of the entries from video playlist manually an

[2021-11-26 15:19] denissabramovs commented on #3775
HLS Playlists:
https://gist.github.com/denissabramovs/d18d72d929e07c820078b318d29595f6
https://gist.github.com/denissabramovs/6871b1346f7b8b1682a7afe12a0a0453
https://gist.github.com/denissabramovs/856b336b768147f1ba40aa41d99f3d82

[2021-11-26 15:20] denissabramovs commented on #3775
Video playlist part to look into:
[code]
Audio playlist to look into:
[code]

[2021-11-26 15:21] denissabramovs commented on #3775
Even after restarting recording process/service and recovering/continue playlists, shaka-player couldn't play those playlists anymore.

[2021-11-26 15:50] denissabramovs commented on #3775
Here is a small presentation of what is happening:
https://share.vidyard.com/watch/qubXAaXcaiPPy6YNNyN8wa?

[2021-11-26 15:54] denissabramovs commented on #3775
Here is a small presentation of what is happening:
https://share.vidyard.com/watch/fWhognCn75Fh6S5RrHcSS2?

[2021-11-29 12:28] leszek-syroka commented on #1663
It looks like the issue is not related with the codec or DRM key system.

Audio stream has negative PTS and DTS which affects buffering ranges and is not supported correctly on  2017 Tizen TVs.

Audio content dumped from Tears of Steel is attached: https://user-images.githubusercontent.com/60613759/143867759-8450c3c5-748a-4932-a17c-abbd78bd4048.mp4

Please check the results from ffprobe.

[code]

[2021-11-29 17:29] dolphincodes opened #3777 "How to create a custom OverflowMenu in shaka player?"
I am trying to do some custom UI on the Shaka player. Is there any way to create a custom OverflowMenu in the shaka player?

[2021-11-29 18:29] rbertramResi opened #3778 "What would cause getManifestUri instead of getAssetUri to be added to CastSender cached properties in V 3.0.12?"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.12

**Please ask your question**
I don't believe this is a bug because things seem to work fine when using Chromecast on the v3.0.12 demo app,

[2021-11-29 22:21] rbertramResi commented on #3778
<img width="913" alt="Screen Shot 2021-11-29 at 12 06 32 PM" src="https://user-images.githubusercontent.com/77362739/143951904-75e8858d-3559-4fe0-84d2-ceedbac79d28.png">

[2021-11-30 02:48] nbcl commented on #3777
Hello @dolphincodes!

You can choose which buttons appear in the overflow menu with the use of `ui.configure()`.

For example, adding the Cast and Captions buttons would look as follows:

[code]

For a full list of the available buttons, or if you are looking to create custom buttons for your `OverflowMenu` you can check out the [UI customization tutorial](https://shaka-player-demo.appspot.com/doc

[2021-11-30 04:12] rbertramResi commented on #3778
Hey hope this wasn't an inconvenience for anyone, but I'm pretty sure it's an issue with our Chromecast app... When I use the simple chromecast app id from the tutorial it works. Going to close :)

[2021-11-30 04:12] #3778 closed

[2021-11-30 06:01] apistudioorg opened #3779 "Video freeze seen in DASH multiperiod streams with SSAI ads"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.5.10

**Can you reproduce the issue with our latest release version?**
Yes.

**Can you reproduce the issue with the latest code from `master`?**
Reproducible on master.

**Are you using the demo app or your own custom app?**
We tried on Shaka Demo App a

[2021-11-30 06:27] shivaksk1 opened #3780 "Video freeze seen in DASH multiperiod streams with SSAI ads"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes. There was one related issue: [#3397](https://github.com/google/shaka-player/issues/3397) But we were not able to conclude based on the thread.

**What version of Shaka Player are you using?**
2.5.10

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue wit

[2021-11-30 06:28] apistudioorg commented on #3779
I have opened this issue from a different account. Closing this issue.

[2021-11-30 06:28] #3779 closed

[2021-11-30 14:27] lansi951 opened #3781 "Continue loading live stream manifest when paused"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
yes

**Can you reproduce the issue with the latest code from `master`?**
Not tested. but this issue not in the commit log.

**Are you using the demo app or your own custom app?**
cust

[2021-11-30 21:06] caridley opened #3782 "CEA 608 captions not working with shaka 3.1.3 and 3.2.1"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
We see this problem with shaka 3.1.3 and 3.2.1

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom ap

[2021-11-30 23:27] caridley opened #3783 "Captions not working after a period transition on live DASH streams"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes i do not see a duplicate

**What version of Shaka Player are you using?**
3.1.2

**Can you reproduce the issue with our latest release version?**
I am certain the problem is present but I cannot reproduce because CEA 608 captions don't work at all because of this issue
https://github.com/google/shaka-pl

[2021-12-01 01:25] stevemayhew opened #3784 "Large TFDT Base Media Decode Time values fail with JS_INTEGER_OVERFLOW"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes, it looks like #1610 might be the only possible related issue, but the chance it is seems remote.  With this issue you get a `JS_INTEGER_OVERFLOW` error, no chance for playback.

**What version of Shaka Player are you using?**
Multiple, all have this same issue

**Can you reproduce the issue with our l

[2021-12-01 09:54] bosoma opened #3785 "Assets not working in Safari 15 even from the Shaka Player Demo (no errors thrown)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

Yes

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-GB;textlang=en-GB;uilang=en-GB;asset=https://storage.googleapis.com/shaka-demo-assets/apple-advanced-stream-fmp4/master.m3u8;panel=CUSTOM%20CONTENT;build=uncompiled

**What version of Shaka Player are

[2021-12-01 13:36] enjikaka commented on #3564
I'm also experiencing this. Subsequent loads in Firefox 94 on macOS 12.0.1 fails with 6003. First load plays fine. Content is DASH with Widevine.

[2021-12-01 15:15] enjikaka commented on #3564
Finally found out the issue on my side. I was connecting the media elements via `createMediaElementSource` to an AnalyserNode. If I disable that code then firefox doesn't error on subsequent loads any more. Tried to only disconnect the MediaElementAudioSourceNode before shaka load too, but that didn't work. :(

[2021-12-01 16:40] caridley commented on #2940
This is a high priority for us, and we can help with implementation. We can provide access to streams for development purposes, but won't be able to provide long term access to those streams for use in regression testing or demo content.

It would be much appreciated if a Shaka developer with some expertise in the Shaka caption code could sketch out how this might be done in a way that is consiste

[2021-12-01 17:54] radiantmediaplayer opened #3786 "Excessive buffering on live DASH stream (does not happen with dash.js)"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Y

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Y

**Can you reproduce the issue with the latest code from `master`?**
Y

**Are you using the demo app or your own custom app?**
Demo app

**If custom app, can you reproduce the issue u

[2021-12-01 20:48] caridley commented on #3782
I have shared info on how to access stream via shaka-player-issues@google.com

[2021-12-02 07:18] bhushanudupa commented on #3564
@enjikaka As far as I know, as you rightly mentioned, it's because media element isn't properly reset for next playback. I have also tried some methods like detach() but no help.
Since we didn't have time to concentrate more on this, we moved to DashJS player where it worked amazingly without any glitch.

[2021-12-02 10:44] hiren3897 opened #3787 "Multiple hlsfairplay live streams faliure on same time"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
YES

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
latest v3.2.1

**Please ask your question**
I have created a multiplayer feature that contains 1 main player(highest resolution) that plays the vi

[2021-12-02 10:59] hiren3897 opened #3788 "ERROR 405 OPTIONS request for hls live streams without DRM"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
YES

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
YES

**What version of Shaka Player are you using?**
v3,2,1

**Please ask your question**
I am trying to load the HLS live manifest without DRM in the shaka player as it gives `405 options` request m

[2021-12-02 14:44] Vasanthavanan-Devarajan opened #3789 "Xbox Playback fails when seeking contents with closed captions"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
3.0.13

**Can you reproduce the issue with our latest release version?**
Yes.

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Custom App

**If custom app, can you reproduce t

[2021-12-02 17:28] hiren3897 commented on #3788
When we load any manifest in the using player.load() do we make a request with custom headers ??

Can you please explain to me when we do player,load() and what request shaka player makes ?

thanks in advance!

[2021-12-02 22:03] deisenbacher01 opened #3790 "Edge - PlayReady Error"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://admvta.cdn.mgmlcdn.com/encvod/_definst_/smil:2021-09-29/vidqAR7dOgDsV.smil/manifest_mpm4sav_mvlist.mpd;license=https://playready.ezdrm.com/cency/preauth.aspx?pX=

[2021-12-03 06:30] #3777 closed

[2021-12-03 09:29] Ognengineer commented on #2865
Hey guys, I've come across a similar problem verifying assets playing on the project I work for. In fact, I'm automating the regression tests using cypress and when I come to a step for verifying the video asset is playing, I got an exception with the same codes.
"category": 6,
"code:" 6001,
and
"category": 4,
"code": 4032,
Tried on all chromium based browsers and firefox :(

[2021-12-03 09:57] vaseala opened #3791 "how to use in react-native"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.2.0

**Please ask your question**
How to use in react-native, have some demos?

[2021-12-03 10:15] hiren3897 commented on #3788
player.configure({
    manifest: {
        hls: {
            useFullSegmentsForStartTime: true,
        },
    },
}

solved

[2021-12-03 10:15] #3788 closed

[2021-12-03 19:08] radiantmediaplayer opened #3792 "Tuning ABR buffer behaviour upon switch in rendition"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Y

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Y

**What version of Shaka Player are you using?**
3.1.3

**Please ask your question**
I am in ABR mode with shaka player. A rendition switch happens. From what I have seen using the player and reading

[2021-12-04 00:31] theodab commented on #3564
Well, in that case, I'll close the issue. Feel free to re-open if you come back to Shaka Player, I suppose.

[2021-12-04 00:31] #3564 closed

[2021-12-06 01:49] baehongjun0212 opened #3793 "How can I know the player with the error?"
Have you read the Tutorials?
Y

Have you read the FAQ and checked for duplicate open issues?
Y

What version of Shaka Player are you using?
3.1.3

Please ask your question
First of all, thank you for developing a good program.

As shown in the code below, there are several players and I want to display an alert to the player who encountered an error during playback.
I wonder how I can set an error

[2021-12-06 04:26] joeyparrish commented on #3793
You can use a closure around your error handler.  (Also, you shouldn't call onError recursively from a catch clause.)

Example:

[code]

Does this help?

[2021-12-06 04:55] baehongjun0212 commented on #3793
Thank you for your quick response. Everything was solved well with your sample code.

[2021-12-06 04:55] #3793 closed

[2021-12-06 08:36] #3769 closed

[2021-12-06 11:31] Gheri commented on #3238
Hey Team,
Is MPD Chaining / XLink supported in this player ??
Generally what we have been doing to implement Static Pre roll in shaka player for DASH ??
Any examples / references ??
Thanks,
Gheri.

[2021-12-06 12:53] yairans opened #3794 "recoverable error fired when moving to offline - SegmentTimeline manifest"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?** Yes

**What link can we use to reproduce this?**
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://livesim.dashif.org/livesim/segtimeline_1/utc_head/testpic_6s/Manifest.mpd;panel=ALL_CONTENT;panelData=LIVE;build=uncompiled

**What version of Shaka Player a

[2021-12-06 14:10] pcruiksh commented on #3299
This seems to be resolved by also clearing the buffer under the condition `mediaState.performingUpdate`, as this gets set prior to initializing the source buffer, so there is a window where you could seek while waiting for the source buffer to initialize, and before the initial fetch operation is created, so the buffer is not cleared, and the upcoming operation is not aborted, so one media state c

[2021-12-06 17:54] TheModMaker commented on #3794
The error should be recoverable since you can call `player.retryStreaming()` to continue once you're back online.  Both cases should be the same, so we'll look into why they're different.

[2021-12-06 18:56] TheModMaker commented on #3749
This would be technically bad content.  The timescale in the `sidx` box is only valid for the values in the `sidx` box.  It is recommended that this match the media timescale, but it doesn't have to.  Each track in the media must have an associated track header.

We can keep this as a low-priority enhancement, but you should fix your content.

[2021-12-06 18:57] TheModMaker commented on #3755
Closing as a duplicate.

[2021-12-06 18:57] #3755 closed

[2021-12-06 19:06] TheModMaker commented on #3761
I don't think we support the `metadata` event ourselves.  We technically do on Safari since the browser does it for us; but when playing ourselves, I don't think we handle the metadata events/data.  We'll keep this as an enhancement to add this.

[2021-12-06 19:08] #3782 closed

[2021-12-07 08:38] pszemus commented on #3761
@TheModMaker I can send you a sample HLS stream (from Wowza Streaming Engine) where `metadata` event is published in Chrome.

[2021-12-07 10:08] hiren3897 opened #3796 "PIP bug in Single page application"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.2.1

**Please ask your question**
I have integrated shaka player in an angular single-page application.

what I am trying to do is trigger PIP m

[2021-12-07 12:29] yairans commented on #3794
thanks @TheModMaker, whats about the workaround of listening to HTTP_ERROR (1002) error, should be enough?

[2021-12-07 16:29] pcruiksh commented on #3749
@TheModMaker Thanks for the feedback, I will bring this up with our content team. Feel free to close this if you feel it is not a worthwhile enhancement.

[2021-12-07 17:07] theodab commented on #3766
The DASH parser contains a lot of `getAttribute` calls. From the sounds of that error, some variable that we expect to contain an `Element` is somehow containing a non-element. Perhaps we got a text node somewhere in the DOM hierarchy where we were expecting an element node? I don't see any obvious problems of that sort in that sample manifest you provided, though.

Would it be possible to run Sha

[2021-12-07 19:25] deisenbacher01 commented on #3790
it looks like the player is trying to go a GET and not a POST as it normally should.

[2021-12-08 01:58] baehongjun0212 opened #3797 "."
.

[2021-12-08 07:58] #3797 closed

[2021-12-08 08:06] baehongjun0212 opened #3798 "."
.

[2021-12-08 09:09] theodab commented on #3791
I don't believe that anyone in the Shaka Player team has any experience with React Native.

[2021-12-08 09:36] theodab commented on #3785
The `loadedmetadata` event is firing, but it never gets to `loadeddata`. This might be a Safari bug.

[2021-12-08 15:38] hiren3897 opened #3799 "Increase the seek range for 3 hours for live player #3444-reopen"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**

yes
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
yes

**What version of Shaka Player are you using?**
3.2.1

**Please ask your question**

I want to increase the shaka-range-element shaka-seek-bar range for 3 hours approx(10800 sec) is it possible

[2021-12-08 16:43] hiren3897 opened #3800 "HLS live streams have no timeline on UI"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

No common issues
**What version of Shaka Player are you using?**
lastest 3,2,1

**Please ask your question**
HLS live streams have a hidden timeline

we are not able to navigate in the past because

[2021-12-08 17:57] avelad commented on #3742
@theodab , resolved with https://github.com/google/shaka-player/commit/4bdd3bb65a62df3ca91dc340cac5b5d699b56b9c

[2021-12-08 17:58] avelad commented on #3701
@theodab , resolved with https://github.com/google/shaka-player/commit/4bdd3bb65a62df3ca91dc340cac5b5d699b56b9c

[2021-12-08 22:17] theodab commented on #3701
Ah, I hadn't seen these. Thanks for the heads-up!

[2021-12-08 22:17] #3701 closed

[2021-12-08 22:18] #3742 closed

[2021-12-09 16:26] vasanth-fl commented on #3791
Shaka Player uses the open web standards **MediaSource Extensions** and **Encrypted Media Extensions**, neither of which are available in React Native run-time since its not a browser environment. So, i'm pretty sure you wouldn't be able to use Shaka-player in React native.

It might be possible to write a React Native bridge for https://github.com/google/shaka-player-embedded but its currently on

[2021-12-09 18:28] joeyparrish commented on #3791
Thanks, Vasanth.  If React Native has no MediaSource Extensions, then Shaka Player is probably a poor fit for that environment.  @vaseala, does that answer your question?

[2021-12-09 22:20] deisenbacher01 commented on #3790
New content as the older content is expired
https://6183afedc795e.streamlock.net/vod/mp4:sample.mp4/manifest.mpd
https://playready.ezdrm.com/cency/preauth.aspx?pX=250E0F

[2021-12-10 01:01] #3791 closed

[2021-12-13 05:17] #3798 closed

[2021-12-13 05:28] baehongjun0212 opened #3802 "I wonder how to change bandwidth every 3 seconds."
Have you read the Tutorials?
Y

Have you read the FAQ and checked for duplicate open issues?
Y

What version of Shaka Player are you using?
3.1.3

Please ask your question
First of all, thank you for developing a good program.

1. I want to change the bandwidth information every 3 seconds using the setTimeOut function, but is there a related API in Shaka? The bandwidth information of the video was

[2021-12-13 10:11] OrenMe commented on #3567
@joeyparrish any update?

[2021-12-13 18:32] mynonen1 opened #3803 "mynonen1"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**

**What version of Shaka Player are you using?**

**Please ask your question**

[2021-12-13 18:32] mynonen1 commented on #3803
mynonen1

[2021-12-13 18:44] joeyparrish commented on #3802
I am not sure I understand your question.  Do you want to change the selected track based on the bandwidth requirements of that track?  Or do you want to artificially change Shaka's understanding of the available bandwidth, and force it to choose certain tracks through that?

[2021-12-13 18:45] #3803 closed

[2021-12-13 22:22] #3783 closed

[2021-12-14 01:54] liuyang5832 opened #3804 "CEA608 closed caption doesn't show up with FMP4+DASH as of Shaka player v3.2.1"
**Have you read the [Tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html)?**
Yes

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
v3.2.1

**Please ask your question**
I was testing Cea608 closed caption with Fragmented mp4+DASH playback and I found it doesn't show up, I found

[2021-12-14 04:29] baehongjun0212 commented on #3802
I relied on a translator and couldn't properly convey my intention. I'm sorry :(

What I want to do is get the chunk size of mpd, and when I get the chunk three times, I want to change it to the next bandwidth track.
If the chunk size is 4, change to the next track in 12 seconds.

1. I wonder if there is an API in the shaka player that receives the chunk size of the mpd image.

2. If I receive the

[2021-12-14 07:27] avelad commented on #3763
I will decline this upgrade as it would work fine for VOD, but for Live streams it would not work.

[2021-12-14 07:27] #3763 closed

[2021-12-14 09:59] hiren3897 commented on #3799
Hello, @joeyparrish @TheModMaker can you please help me out with this?
It would be a great help :)

Thanks

[2021-12-14 10:00] hiren3897 commented on #3800
Hello there,
could you please answer my question?

thank you :)

[2021-12-14 14:02] radiantmediaplayer opened #3806 "DASH AV1 only works in Firefox and not on other browsers"
**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Y

**What version of Shaka Player are you using?**
3.2.1

**Can you reproduce the issue with our latest release version?**
Y

**Can you reproduce the issue with the latest code from `master`?**
Not tried

**Are you using the demo app or your own custom app?**
Demo app

**If custom app, can you reproduce the